[2013-05-20 13:35] alicheek commented on #526
Chunk loading for TF is becoming really slow, though over world is ok, tps is now dropping as well not really sure what is up still having that same problem where the server is slowing down every like 3 hours

[2013-05-20 13:55] alicheek commented on #526
that's the full TT log here : http://pastebin.com/wss9eUk1

[2013-05-20 17:46] #524 closed, assigned to LunNova

[2013-05-20 17:52] HaoSs07 opened #527 "Implement integration with Alpha's Forge PEX"
with what mode are the perm for /ticks /profile. etc suppose to work ? i tried with forgeessentials and does not work

[2013-05-20 17:54] LunNova commented on #527
They support permissions, but only using MCPC+. I haven't integrated them with FE.

[2013-05-20 17:59] HaoSs07 commented on #527
hm what about the ported pex for forge ? it runs so much smoother then fe one

[2013-05-20 18:00] LunNova commented on #527
It doesn't actually integrate with anything for permissions, just MCPC+ automatically adds permissions for forge commands.

Do you mean Alpha's forge PEX? Might be able to integrate with that at some point.

[2013-05-20 18:02] HaoSs07 commented on #527
that one, those who don't use mcpc are for sure using mytown and pex, is the only protection that works right now and works good. FE one is not finished

[2013-05-20 20:21] mainsheep opened #528 "[SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 9"
Console is beeing spammed with the following error messages:

2013-05-20 22:20:13 [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 9
java.lang.IllegalStateException: Already iterating.

Started happening after applying TT1647 (MCPC L28).

[2013-05-20 20:41] #528 closed, assigned to LunNova

[2013-05-20 20:41] LunNova commented on #527
Relabeled/titled this will implement this at some point, possibly in the near future.

[2013-05-20 21:18] CappyT commented on #402
Same on MCPC+ L15 - TT 1626

MFFS Turns on, no shield and no error in console. Shields turned on before TT are still okay.

[2013-05-20 22:10] #522 closed, assigned to LunNova

[2013-05-20 22:14] HaoSs07 commented on #527
that would be appreciated

[2013-05-20 23:40] cjm721 opened #529 "[MCPC+ 28] [TT 1550] Crash on player join"
On player join after start up server crashes.

https://gist.github.com/cjm721/5616471

[2013-05-20 23:51] #529 closed, assigned to LunNova

[2013-05-21 00:07] cjm721 opened #530 "[MCPC+ 28][TT 1651] [SEVER] TwlightForest Array Index out of bounds."
Spam of out of bounds exceptions then server shut down.

https://gist.github.com/cjm721/5616626

[2013-05-21 00:23] LunNova commented on #530
I need to sleep, revert to an earlier build, will fix this when I wake up.
On 21 May 2013 01:08, "cjm721" notifications@github.com wrote:

[2013-05-21 03:48] JohnPark234 commented on #529
mmmmm still not fixed in #1651

[2013-05-21 08:30] #530 closed, assigned to LunNova

[2013-05-21 09:49] #527 closed, assigned to LunNova

[2013-05-21 10:07] LunNova commented on #526
This isn't actually a TT bug, but I can fix it anyway. :P

[2013-05-21 10:07] #526 closed, assigned to LunNova

[2013-05-21 10:08] alicheek commented on #526
haha cheers man :)

[2013-05-21 10:43] LunNova commented on #516
Can you try latest again? I'd prefer to get a real fix working for this, instead of just disabling drops.

[2013-05-21 10:49] HaoSs07 commented on #527
wow already ? that was fast :D

[2013-05-21 12:32] mainsheep opened #531 "[WARNING] [TickThreading] numberOfTilesToUpdate set too high. Got 66 should be <= 64"
TT1658.

2013-05-21 14:24:48 [WARNING] [TickThreading] numberOfTilesToUpdate set too high. Got 66 should be <= 64
2013-05-21 14:25:14 [SEVERE] [TickThreading] Exception ticking block ama@3caceea at x0-4592y764z5-4576
Stack trace unavailable. Add -XX:-OmitStackTraceInFastThrow to your java parameters to see all stack traces.
2013-05-21 14:25:14 [WARNING] [TickThreading] numberOfTilesToUpdate set to

[2013-05-21 12:35] mainsheep opened #532 "[SEVERE] [TickThreading] The server appears to have lag spiked."
TT1658.

When I start up the server, right after it finishes loading, these errors are spammed into the console for a few seconds. I'm not sure the impact on this, but I thought it would be best to report it.

2013-05-21 14:24:22 [SEVERE] [TickThreading] TickThreading v1.0.0.1658 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, c

[2013-05-21 13:04] monkstick-git opened #533 "Cant run Tick Threading on FTB Ultimate"
Im not sure if its just incompatible or Im not doing something correctly, but heres my issue.
This is for a completly clean installed server, running in my M: drive
Downloaded latest (TickThreading-1.4.7-1.0.0.1658) .jar and dumped it into my mods folder (M:\mods).  Ran the server and it closed like it should.  I ran the newly created Patchme.cmd and it apparently patches everything fine. I look i

[2013-05-21 14:03] monkstick-git commented on #533
Sorry, I completely forgot to add a log.

http://pastebin.com/wfr2KtSB

[2013-05-21 14:16] Meatnog commented on #485
Nope, it is not resolved.   Happens pretty reliably still.

[2013-05-21 14:38] HaoSs07 opened #534 "load event was fired twice. ( + lagspike mode question )"
2013-05-21 17:38:34 [SEVERE] [TickThreading] World Age 18/18's world load event was fired twice.
java.lang.Throwable
at me.nallar.tickthreading.minecraft.TickThreading.onWorldLoad(TickThreading.java:200)
at net.minecraftforge.event.ASMEventHandler_209_TickThreading_onWorldLoad_Load.invoke(.dynamic)
at net.minecraftforge.event.ASMEventHandler.invoke(ASMEventHandler.java:35)
at net.minecraftforge.ev

[2013-05-21 15:10] alicheek opened #535 "[TT 1656][MCPC+ 28] [SEVERE] [ForgeModLoader] Exception loading chunk asynchronously."
Still seems this asynch issue is still here for the TF:

[SEVERE] [ForgeModLoader] Exception loading chunk asynchronously.
java.lang.RuntimeException: Already decorating!!
        at zc.a(BiomeDecorator.java:195)
        at twilightforest.biomes.TFBiomeDecorator.a(TFBiomeDecorator.java:175)
        at yy.a(BiomeGenBase.java:366)
        at twilightforest.world.ChunkProviderTwilightForest.a(ChunkPr

[2013-05-21 15:12] alicheek opened #536 "[TT 1656][MCPC+ 28] WARNING] [TickThreading] numberOfTilesToUpdate set too high. Got 79 should be <= 64"
Any idea what this is about not very sure what the warning is about:

2013-05-21 16:01:35 [WARNING] [TickThreading] numberOfTilesToUpdate set too high. Got 79 should be <= 64
2013-05-21 16:01:40 [WARNING] [TickThreading] numberOfTilesToUpdate set too high. Got 65 should be <= 64
2013-05-21 16:01:40 [WARNING] [TickThreading] numberOfTilesToUpdate set too high. Got 65 should be <= 64

16:01:42 [INFO

[2013-05-21 17:17] HaoSs07 commented on #429
I have an update on this, seems mytown => mysql goes crazy when you use /ta reload.

and a fix for this, kill server then: connect to mysql using phpmyadmin, go to sql and run:

SELECT name, COUNT(*) c FROM residents GROUP BY name HAVING c > 1;

see what names are duplicated, search individual name in residents table and delete the one with bigger ID. ( you can also do this auto using this :
DELET

[2013-05-21 17:28] LunNova commented on #536
Already fixed in build 1659.

[2013-05-21 17:28] #536 closed, assigned to LunNova

[2013-05-21 17:39] LunNova commented on #531
Fixed via b4d6e240f995db1f2b590233.

[2013-05-21 17:39] #531 closed, assigned to LunNova

[2013-05-21 18:04] #532 closed, assigned to LunNova

[2013-05-21 18:04] #534 closed, assigned to LunNova

[2013-05-21 18:11] LunNova commented on #429
Make name a unique key in that table and it will prevent this from happening. Although MyTown may fail to cope with that change.

[2013-05-21 18:14] #535 closed, assigned to LunNova

[2013-05-21 18:15] LunNova commented on #515
Did the new java parameters help?

[2013-05-21 18:23] geoffcorey commented on #246
Running TT on Utlimate 1.0.1 with AE upgraded to r.9.i
AE system spanning 2 chunks
- chunk 1
  -- ME Controller/ME Drive/Terminal
  -- Fusion reactor cell exports
  -- 2 Ender Chests with ME Storage Bus (stocked with ender eye dust, empty cells)
  -- 1 Ender Chest with ME Import Bus (importing 40K aluminium dust, single)
  -- Industrial blaster (making aluminium ingots continuously) w/ME import an

[2013-05-21 18:39] HaoSs07 commented on #534
you missed the lagspike question :P

" I saw topic about lag-spike mode, i probably missed that, how exactly does it work ? cant find in config any setting for that. " probably best to add it to the wiki ?

[2013-05-21 18:44] Tencao opened #537 "Mass errors when unloaded world is force loaded."
2013-05-21 17:34:17 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforg                            e.event.terraingen.PopulateChunkEvent$Post@77fe4bb5
2013-05-21 17:34:17 [SEVERE] java.lang.NullPointerException
2013-05-21 17:34:18 [INFO] Preparing spawn area for anew_the_end, 97%
2013-05-21 17:34:18 [SEVERE] [ForgeModLoader] Exception posting event: net.m

[2013-05-21 18:57] LunNova commented on #534
It's just setting the deadLockTime to 1.

[2013-05-21 19:04] HaoSs07 commented on #246
hopefully i will be able to test r9i this week also

[2013-05-21 19:10] alicheek opened #538 "[TT 1666][MCPC+ 28] [SEVERE] [TickThreading] Loaded chunk before world load event fired, this can cause many issues, including loss of multiblock data."
[SEVERE] [TickThreading] Loaded chunk before world load event fired, this can cause many issues, including loss of multiblock data.
java.lang.Throwable
        at im.getChunkAtInternal(ThreadedChunkProvider.java:475)
        at im.getChunkAt(ThreadedChunkProvider.java:465)
        at im.c(ThreadedChunkProvider.java:406)
        at yc.getBlockIdWithLoad(World.java:228)
        at buildcraft.BuildCr

[2013-05-21 19:11] alicheek opened #539 "[TT 1666][MCPC+ 28] [WARNING] [Towny] Task #24 for Towny v0.82.1.0 generated an exception"
[WARNING] [Towny] Task #24 for Towny v0.82.1.0 generated an exception
java.lang.IllegalStateException: Must synchronize to iterate over EntityList.
        at me.nallar.tickthreading.minecraft.entitylist.EntityList.iterator(EntityList.java:64)
        at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getLivingEntities(CraftWorld.java:642)
        at com.palmergames.bukkit.towny.tasks.MobRemovalTimerTas

[2013-05-21 19:13] alicheek opened #540 "[TT 1666][MCPC+ 28] [WARNING] Failed to handle packet for nichnich3/92.251.32.247: java.lang.IllegalStateException: Must synchronize to iterate over EntityList."
[WARNING] Failed to handle packet for nichnich3/92.251.32.247: java.lang.IllegalStateException: Must synchronize to iterate over EntityList.
java.lang.IllegalStateException: Must synchronize to iterate over EntityList.
        at me.nallar.tickthreading.minecraft.entitylist.EntityList.iterator(EntityList.java:64)
        at vswe.stevescarts.CommonProxy.getCart(CommonProxy.java:179)
        at vswe

[2013-05-21 19:15] alicheek commented on #540
[SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 2961
java.lang.IllegalStateException: Must synchronize to iterate over EntityList.
        at me.nallar.tickthreading.minecraft.entitylist.EntityList.iterator(EntityList.java:64)
        at vswe.stevescarts.CommonProxy.getCart(CommonProxy.java:179)
        at vswe.stevescarts.CommonProxy.getServerGuiElement(Common

[2013-05-21 19:36] alicheek opened #541 "[TT 1666][MCPC+ 28] [SEVERE] Could not pass event PlayerJoinEvent to Multiverse-Core v2.5-b666"
[INFO] asam48005[/216.36.9.10:57111] logged in with entity id 57205 at ([overworld] -295.5, 68.62000000476837, 248.5)

[2013-05-21 19:48] alicheek commented on #540
this is related to b94c310f9dcd3629f6b2147503c37834050b1d79)

[2013-05-21 20:08] cjm721 commented on #516
Yes I will test it tonight.

[2013-05-21 20:36] HaoSs07 opened #542 "Exception ticking TileEntity c appeng.me.tile.TileStorageBus"
some storage bus spam that happens for some days now, not always at 2062, 7, -3663.

2013-05-21 23:10:47 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1962183090 in Overworld/0 at x, y, z: 2062, 7, -3663

java.util.ConcurrentModificationException

  at java.util.ArrayList$Itr.checkForComodification(Unknown Source)

  at java.util.ArrayList$Itr.next(Unknown

[2013-05-21 20:43] cjm721 opened #543 "[MCPC+ 28] [TT 1666] Read Time Out after start --> Exception Posting event once deadlock detector tries to stop server"
Start server everything seems fine, but by the point people would be able to join get read time out errors, deadlock detector fires which stops the server then a spam of forge exceptions after.

Side note none of the threads say blocked so a little confused on that as every deadlock I have seen has had one that said blocked.

https://gist.github.com/cjm721/5623078

[2013-05-21 21:36] alicheek opened #544 "[MCPC+ 28] [TT 1663] [SEVERE] java.util.ConcurrentModificationException"
22:09:55 [SEVERE] java.util.ConcurrentModificationException

[2013-05-22 01:40] JohnPark234 opened #545 "[MCPC+ 30][TT 1666] Crash Report with latest mcpc plus"
---- Minecraft Crash Report ----
// This doesn't make any sense!

Time: 5/21/13 6:34 PM
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: net.minecraftforge.event.entity.EntityEvent
    at java.lang.Class.getDeclaredConstructors0(Native Method)
    at java.lang.Class.privateGetDeclaredConstructors(Unknown Source)
    at java.lang.Class.getConstructor0(Unknown Source)

[2013-05-22 06:32] Nohau commented on #533
Is the ram disk your M drive as I can see running the patch then if your ram disk was flushed not keep the patchs?

[2013-05-22 07:31] mainsheep opened #546 "[TT1666 + MCPC L28 ] [SEVERE] [TickThreading] Loaded chunk before world load event fired, this can cause many issues, including loss of multiblock data."
These errors are spammed into console.

2013-05-22 09:28:24 [SEVERE] [TickThreading] Loaded chunk before world load event fired, this can cause many issues, including loss of multiblock data.
java.lang.Throwable

[2013-05-22 10:40] wormzjl opened #547 "[TT 1660, MCPC+ L28]Deadlock"
Happens pretty frequently
http://pastebin.com/1mLUwE3r

[2013-05-22 11:03] #546 closed, assigned to LunNova

[2013-05-22 11:26] monkstick-git commented on #533
Yes the ram disk is my M drive.  For testing purposes I tried running tickthreadding on my C: instead which worked flawlessly.  My RamDisk works fine as I always run my servers from it.

Another thing I noticed when it was in M:, it never creates a config file in M:/config/tickthreadding.cfg

Maybe an oversight on your part and it automatically thinks to look in the C: drive?  I don't know, just t

[2013-05-22 12:44] mainsheep opened #548 "2013-05-22 14:39:38 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.entity.minecart.MinecartInteractEvent@6df40791"
I'm not sure this is related to TT, but I thought its worth a try.

This error has been popping up lately. Seems like it's connected to minecart interaction, but I'm no programmer so I'm not sure.

It's popping up pretty frequently in the console, so might be worth checking out.

2013-05-22 14:39:38 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.entity.minecart.Minecar

[2013-05-22 12:49] HaoSs07 commented on #542
2013-05-22 15:54:07 [SEVERE] [TickThreading] Exception ticking TileEntity c factorization.common.TileEntityBarrel Barrel of 2266 64xnull@0 x, y, z: 3251, 61, -3750
java.lang.NullPointerException
at factorization.common.TileEntityBarrel.getItemCount(TileEntityBarrel.java:65)
at factorization.common.TileEntityBarrel.updateStacks(TileEntityBarrel.java:84)
at factorization.common.TileEntityBarrel.g(Ti

[2013-05-22 13:44] NachtRaben opened #549 "TT 1666 and mcpc+L30 Startup Error"
Server starts with mcpc+L28 and TT1661, but after updating and repatching(yes i ran the server jar first to update the patchme) i will get this error and crash

2013-05-22 09:41:48 [SEVERE] [ForgeModLoader] Encountered an unexpected exceptio
nNoClassDefFoundError
java.lang.NoClassDefFoundError: net.minecraftforge.event.entity.EntityEvent
        at java.lang.Class.getDeclaredConstructors0(Native M

[2013-05-22 13:50] NachtRaben commented on #549
Nvmd, someone has posted this error.

[2013-05-22 13:50] #549 closed, assigned to LunNova

[2013-05-22 13:50] NachtRaben commented on #545
Same issue.

[2013-05-22 17:21] cjm721 commented on #540
When I updated my direwolf server to 1666 I am getting this also, and you can force and error with /gc from essentials, while ultimate crashes for me #543

[2013-05-22 20:22] alicheek commented on #515
didn't get to try them, was given other parameters and some other modifications, as I thought it wasn't TT :)

[2013-05-22 20:22] #515 closed, assigned to LunNova

[2013-05-22 21:26] #543 closed, assigned to LunNova

[2013-05-22 21:26] #547 closed, assigned to LunNova

[2013-05-22 21:38] #540 closed, assigned to LunNova

[2013-05-22 21:38] #548 closed, assigned to LunNova

[2013-05-22 22:11] Nohau commented on #533
Just out of curiosity what does your PATCHME.cmd have inside it?

It should be a relative path which if it is you will need to ruch the PATCHME.cmd file via command promopt in windows such as the following in your command prompt make sure your in M:\ then type PATCHME.cmd

[2013-05-22 22:34] #539 closed, assigned to LunNova

[2013-05-22 22:35] monkstick-git commented on #533
"C:\Program Files\Java\jre7\bin\java" -cp "mods\TickThreading-1.4.7-1.0.0.1666.jar;lib\guava-12.0.1.jar" me.nallar.tickthreading.patcher.PatchMain patcher "ftbserver.jar,coremods,mods"

Running it inside my M: drive

[2013-05-22 23:05] LunNova commented on #537
Can you get the error from the start of the log? The ones later on are missing the stack trace, the first few should actually show it. Without the stack trace I can't tell what's causing it.

[2013-05-22 23:17] JohnPark234 commented on #545
Using MCPC+ 31  TickTreading 1669

---- Minecraft Crash Report ----
// Everything's going to plan. No, really, that was supposed to happen.

Time: 5/22/13 4:14 PM
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: net.minecraftforge.event.entity.EntityEvent
    at java.lang.Class.getDeclaredConstructors0(Native Method)
    at java.lang.Class.privateGetDeclaredConstructors(

[2013-05-22 23:33] alicheek opened #550 "[MCPC+ 28][TT 1663] Client Crashes (MOST LIKELY NOT RELATED TO TT)"
Even I crash at this place to but all the crashes seem to be different

http://pastebin.com/hZKDjxsM

http://pastebin.com/VqsN2cNT

[2013-05-23 01:03] alicheek commented on #541
think this may of been related to the entity issue with 1666 will open again if I get it again

[2013-05-23 01:03] #541 closed, assigned to LunNova

[2013-05-23 01:05] alicheek opened #551 "[MCPC+ 28][TT 1663] [SEVERE] [TickThreading] Failed to handle packet from russ3r"
2013-05-22 21:15:55 [SEVERE] [TickThreading] Failed to handle packet from russ3r
java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
    at java.util.ArrayList.rangeCheck(ArrayList.java:604)
    at java.util.ArrayList.get(ArrayList.java:382)
    at aho.a(MapInfo.java:77)
    at ahn.a(MapData.java:288)
    at twilightforest.item.ItemTFMagicMap.c(ItemTFMagicMap.java:444)
    at iq.g(EntityPlayerM

[2013-05-23 02:26] Tencao commented on #537
Sadly, the forge log was wiped since then, since the server is rebooted every 3 hours, but I did find this which affected dynmap at the time, not sure if it's of help

2013-05-21 17:34:11 [SEVERE] java.lang.NullPointerException
2013-05-21 17:34:11 [SEVERE]    at org.dynmap.forge.DynmapPlugin$WorldTracker.handleChunkPopulate(DynmapPlugin.java:1329)
2013-05-21 17:34:11 [SEVERE]    at net.minecraftfo

[2013-05-23 03:14] cjm721 commented on #516
Do you just want the xml snapshot or what?

[2013-05-23 08:29] mainsheep opened #552 "[TT 1669] [MCPC L31] [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionNoClassDefFoundError"
When trying to launch the server with the MCPC L31 and TT1669 I get the following error and the server goes into a boot loop:

2013-05-23 10:26:47 [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionNoClassDefFoundError
java.lang.NoClassDefFoundError: net.minecraftforge.event.entity.EntityEvent

[2013-05-23 08:32] mainsheep commented on #538
I'm having the same issue.. This is spammed into the console for a few seconds when the server starts.

TT1669, MCPC L28

[2013-05-23 10:38] LunNova commented on #552
Duplicates #545.

[2013-05-23 10:38] #552 closed, assigned to LunNova

[2013-05-23 11:50] JohnPark234 commented on #545
yay!!!!

[2013-05-23 12:10] JohnPark234 commented on #545
MCPC+ 31 TickTreading 1670

---- Minecraft Crash Report ----
// I blame Dinnerbone.

Time: 5/23/13 5:06 AM
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: net.minecraftforge.event.entity.EntityEvent
    at java.lang.Class.getDeclaredConstructors0(Native Method)
    at java.lang.Class.privateGetDeclaredConstructors(Unknown Source)
    at java.lang.Class.getConstructor0(U

[2013-05-23 12:17] JohnPark234 opened #553 "[MCPC+ 31][ TT 1670] Exception in server tick loop"
---- Minecraft Crash Report ----
// I blame Dinnerbone.

Time: 5/23/13 5:06 AM
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: net.minecraftforge.event.entity.EntityEvent
    at java.lang.Class.getDeclaredConstructors0(Native Method)
    at java.lang.Class.privateGetDeclaredConstructors(Unknown Source)
    at java.lang.Class.getConstructor0(Unknown Source)
    at java.l

[2013-05-23 12:56] #553 closed, assigned to LunNova

[2013-05-23 13:48] Nohau commented on #533
Can you please add the patch log located in TickThreadingLogs I am sure Nallar may need it when he gets around to this ticket.

Only other thing I can think of is a permissions issue or not enough disk space (my windows foo is horrid but get me on a linux box is different )

[2013-05-23 14:54] monkstick-git commented on #533
http://pastebin.com/g3S2q8Ab Here is your log.

There's 250mb free space in the ram drive so there's plenty (relative to a Minecraft server anyway) of space left.
I can read/write to the drive fine, as I previously said its my main way of hosting servers.

[2013-05-23 15:36] monkstick-git commented on #533
http://www.youtube.com/watch?v=kv9b_6KVQRk

Heres a quick video showing exactly what I did from what drive

[2013-05-23 19:48] Maximuscr31 commented on #485
If meatnog deletes his chunkloaders before log off it never happens. If he doesn't and the server has been up any amount of time it dead locks. It only happens to a few players. It is really odd.

[2013-05-23 19:55] #538 closed, assigned to LunNova

[2013-05-23 19:55] #545 closed, assigned to LunNova

[2013-05-23 20:23] LunNova commented on #485
I need to change the way I'm patching ChickenChunks, a bit of a pain to fix but will get it done at some point.

[2013-05-24 15:09] LunNova commented on #503
Can you try latest? Also L33 of MCPC+ if possible.

This should now be fixed.

[2013-05-24 17:23] #500 closed, assigned to LunNova

[2013-05-24 17:42] ThuGie opened #554 "Loaded chunk before world load event"
2013-05-24 19:39:52 [SEVERE] [TickThreading] Loaded chunk before world load event fired, this can cause many issues, including loss of multiblock data.
java.lang.Throwable
        at im.getChunkAtInternal(ThreadedChunkProvider.java:511)
        at im.d(ThreadedChunkProvider.java:431)
        at yc.e(World.java:215)
        at yc.a(World.java:191)
        at yc.c(World.java:628)
        at yc.b(Wor

[2013-05-24 17:48] LunNova commented on #554
Was this when starting up a new server or creating a new world?

[2013-05-24 17:52] #554 closed, assigned to LunNova

[2013-05-24 18:01] ThuGie commented on #554
Yes it indeed was with creating a new world/server a fresh start. and btw your damn fast!

[2013-05-24 20:44] LunNova opened #555 "ChickenChunks deadlock"
Caused by 8e523eb.

https://gist.github.com/nallar/5646390

[2013-05-24 20:49] #555 closed, assigned to LunNova

[2013-05-24 22:35] alicheek commented on #554
its still doing it for me on startup and its not a new world for me it seems its got something to do with multiverse though:

[WARNING] [TickThreading] Loaded chunk before world load event fired, this can cause many issues, including loss of multiblock data.
java.lang.Throwable
    at im.getChunkAtInternal(ThreadedChunkProvider.java:541)
    at im.getChunkAt(ThreadedChunkProvider.java:501)
    at

[2013-05-24 22:53] LunNova commented on #554
@alicheek
Are you using the latest MCPC+ build? There have been MCPC+ fixes for wrong chunkloading as well recently.

[2013-05-24 22:55] alicheek commented on #554
yea on L33

[2013-05-24 23:20] cjm721 opened #556 "[MCPC + 33] [TT 1680] Myst-craft worlds "regening""
Server Starts fine, but any mystcraft world make a new folder inside of <server main folder>/world_myst, old/original ones are named age# while new ones are DIM_MYST#

So the world are not being deleted but it is creating a new world with the same name and world gen properties.

[2013-05-24 23:21] LunNova commented on #556
MCPC+ is changing the way worlds are stored back to being similar to what forge does in new builds, not a TT issue.

[2013-05-24 23:21] #556 closed, assigned to LunNova

[2013-05-24 23:21] vanZeben opened #557 "Include overall TPS when checking /ticks as well"
Typically I find that our admins are going back and forth between /tps and /ticks to get precise values when lag is coming in spikes. It would be much easier to just include something as simple as "TPS: <#>", in the /ticks as well

[2013-05-24 23:22] cjm721 commented on #556
So before I just start rolling back untill I find a version that works do you know where this was changed? Considering I assume if I rename the files everything will work fine?

[2013-05-25 00:04] wormzjl opened #558 "[TT 1674, MCPC+ L31]A few "Loaded chunk before world load event fired""
2013-05-23 21:46:31 [SEVERE] [TickThreading] Loaded chunk before world load event fired, this can cause many issues, including loss of multiblock data.
java.lang.Throwable
    at im.getChunkAtInternal(ThreadedChunkProvider.java:511)
    at im.d(ThreadedChunkProvider.java:431)
    at yc.e(World.java:215)
    at yc.a(World.java:191)
    at yc.c(World.java:628)
    at yc.b(World.java:570)
    at com.

[2013-05-25 00:28] cjm721 commented on #556
MCPC 31 works with old files, Going to have to test a bit to see how i have to change the file structure for mystcraft worlds now.

[2013-05-25 09:09] wormzjl opened #559 "[TT 1684, MCPC+ L33]Exception ticking world Age 118/118 yh: The save is being accessed from another location, aborting"
Getting this console spam with latest TT and MCPC, I have absolutely nothing else accessing these savedata

2013-05-24 12:46:49 [SEVERE] [TickThreading] Exception ticking world Age 118/118
yh: The save is being accessed from another location, aborting
    at ahv.c(SaveHandler.java:113)
    at yc.D(World.java:4598)
    at in.a(WorldServer.java:1104)
    at in.a(WorldServer.java:158)
    at net.mine

[2013-05-25 09:10] wormzjl opened #560 "[TT 1684, MCPC+ L33] Exception ticking world Overworld/0 java.lang.NullPointerException"
Another console spam:

2013-05-24 17:01:48 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.NullPointerException
    at me.nallar.tickthreading.minecraft.TickManager.batchRemoveEntities(TickManager.java:190)
    at yc.h_net_minecraft_world_World_updateEntities_p0(World.java:703)
    at yc.h(World.java)
    at in.h(WorldServer.java:701)
    at net.minecraft.server.MinecraftSer

[2013-05-25 10:09] #560 closed, assigned to LunNova

[2013-05-25 10:21] HaoSs07 opened #561 "Failed to handle packet for /54.224.229.102:60959"
Does not have TT in it, but only modification i have done to the server in past months was updating TT, Anything sound familiar ? its always the same IP, and is not a players IP

2013-05-25 13:17:27 [WARNING] [Minecraft] Failed to handle packet for /54.224.229.102:60959: java.lang.ClassCastException: it cannot be cast to iv
java.lang.ClassCastException: it cannot be cast to iv
at eb.a(SourceFile:3

[2013-05-25 10:24] #561 closed, assigned to LunNova

[2013-05-25 10:27] alicheek opened #562 "[TT 1680, MCPC+ L33] [SEVERE] [TickThreading] Exception ticking entity EntityTurret['Sentry Turret'/1365589, l='overworld', x=-597.50, y=28.00, z=-4725.50] in rX: -37, rZ: -295, hashCode: -19267621/Overworld/0:"
[SEVERE] [TickThreading] Exception ticking entity EntityTurret['Sentry Turret'/1365589, l='overworld', x=-597.50, y=28.00, z=-4725.50] in rX: -37, rZ: -295, hashCode: -19267621/Overworld/0:
java.lang.IndexOutOfBoundsException: Index: 4, Size: 4
    at java.util.ArrayList.rangeCheck(ArrayList.java:604)
    at java.util.ArrayList.get(ArrayList.java:382)
    at portalgun.common.entity.EntityTurret.ha

[2013-05-25 10:27] LunNova commented on #562
Possibly related to #383?

[2013-05-25 10:28] HaoSs07 opened #563 "Exception ticking entity Hydra, (twilight forest )"
Only appeared when hydra was taking dmg

2013-05-25 13:29:07 [SEVERE] [TickThreading] Exception ticking entity EntityTFHydra['Hydra'/358598, l='world', x=2559.76, y=33.00, z=-254.21] in rX: 159, rZ: -15, hashCode: -982881/Twilight Forest/7:

java.lang.NullPointerException

  at twilightforest.entity.HydraHeadContainer.setTargetEntity(HydraHeadContainer.java)

  at twilightforest.entity.EntityTFHyd

[2013-05-25 10:32] alicheek commented on #562
don't know was never coming up before until I updated it to 1680 yesterday

[2013-05-25 10:37] alicheek commented on #563
I get it in 1860 also :

2013-05-25 11:23:12 [SEVERE] [TickThreading] Exception ticking entity EntityTFHydra['Hydra'/1694336, l='world_twilightforest', x=254.30, y=33.00, z=254.77] in rX: 15, rZ: 15, hashCode: 983055/Twilight Forest/7:
java.lang.NullPointerException
    at twilightforest.entity.HydraHeadContainer.setTargetEntity(HydraHeadContainer.java)
    at twilightforest.entity.EntityTFHydra.b

[2013-05-25 10:47] #563 closed, assigned to LunNova

[2013-05-25 10:58] HaoSs07 commented on #561
Latest version:

2013-05-25 14:02:31 [WARNING] [Minecraft] Failed to handle packet for /54.224.229.102:56740: java.lang.ClassCastException: it cannot be cast to iv
java.lang.ClassCastException: it cannot be cast to iv
at eb.a(SourceFile:34)
at cg.b(TcpConnection.java:458)
at it.c(NetLoginHandler.java:84)
at hu.a(ServerListenThread.java:56)
at ht.b(SourceFile:29)
at net.minecraft.server.MinecraftSe

[2013-05-25 11:06] HaoSs07 opened #564 "Aperf entity list command ( /ap e l ) broke + question:P"
2013-05-25 14:09:45 [SEVERE] [aPerf] [31;1mThere is bogus command handler for aperf command. [0m
java.lang.IllegalStateException: Must synchronize to iterate over EntityList.
at me.nallar.tickthreading.minecraft.entitylist.EntityList.iterator(EntityList.java:64)
at ee.lutsu.alpha.mc.aperf.commands.BaseCommand.getGroupedCounts(BaseCommand.java:58)
at ee.lutsu.alpha.mc.aperf.commands.BaseCommand.sen

[2013-05-25 11:14] HaoSs07 commented on #564
Question: Seems to be a rumor that alphaest will not update mytown/aperf/pex any more, will you ever consider taking over ? Probably not. but i had to ask :P

[2013-05-25 20:08] alicheek opened #565 "[TT 1690, MCPC+ L38] [SEVERE] [TickThreading] Exception ticking TileEntity c factorization.common.TileEntityBarrel Barrel of 37418 64xtile.stonebrick@0 x, y, z: 183, 95, 409"
2013-05-25 21:03:17 [SEVERE] [TickThreading] Exception ticking TileEntity c factorization.common.TileEntityBarrel Barrel of 37418 64xtile.stonebrick@0 x, y, z: 183, 95, 409
java.lang.NullPointerException
    at factorization.common.TileEntityBarrel.getItemCount(TileEntityBarrel.java:65)
    at factorization.common.TileEntityBarrel.updateStacks(TileEntityBarrel.java:84)
    at factorization.common.

[2013-05-25 20:37] alicheek opened #566 "[TT 1690, MCPC+ L38] Steve Carts issue glitching from cart pos to 0 0"
Ok so ive been told by my players that if they enter a steve cart what happens is they glitch from the position of the cart to the co ordinates of 0, 0  in very quick flashes, they cant leave the cart unless they log out, doesn't seem to be any error logs about this but just thought id try to explain it

[2013-05-25 23:46] cjm721 commented on #503
Have not had any reports of this happening again let, but still using MCPC 31 as I have not had time to change mystcraft folders.

[2013-05-25 23:47] LunNova commented on #503
Updated TT also attempts to resolve this issue, so that would be normal. Closing this, as it appears to be fixed, and if  it's still happening requires an MCPC+ update.

[2013-05-25 23:47] #503 closed, assigned to LunNova

[2013-05-26 00:46] joey19982 opened #567 "[TT1690, MCPC+ L38] Could not pass event BlockBurnEvent to GriefPrevention v7.7"
This error is spamming throughout the log. Not sure when it started, but currently using TT1690 and MCPC L38.

[SEVERE] Could not pass event BlockBurnEvent to GriefPrevention v7.7
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:363)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
    at org.bukkit.plug

[2013-05-26 11:48] wormzjl opened #568 "[TT1690, MCPC+ L33]Tried to unload null entity java.lang.Throwable"
2013-05-25 22:26:55 [WARNING] [TickThreading] Tried to unload null entity
java.lang.Throwable
    at yc.b(World.java:665)
    at zz.d(Chunk.java:186)
    at im.tick(ThreadedChunkProvider.java:177)
    at in.b_net_minecraft_world_WorldServer_tick_p0(WorldServer.java:398)
    at in.b(WorldServer.java)
    at net.minecraft.server.MinecraftServer.doWorldTick(MinecraftServer.java:499)
    at me.nallar.

[2013-05-26 11:49] wormzjl commented on #559
Also getting some of these:
2013-05-25 23:25:44 [SEVERE] [TickThreading] Chunk save may have failed for -124554051662: -78,-30
2013-05-25 23:25:44 [SEVERE] [TickThreading] While unloading chunk at -78,-30 which is unloaded and populated it was replaced/removed from the unloadingChunks map.

[2013-05-26 15:05] joey19982 commented on #567
My bad, this is a confirmed GriefPrevention Issue.

[2013-05-26 15:05] #567 closed, assigned to LunNova

[2013-05-26 18:54] alicheek opened #569 "TickThreading Jenkins site down"
Seems to be down for me don't know if im the only one ?

[2013-05-26 19:32] joey19982 commented on #569
It was down for a few hours, back up now though.

[2013-05-26 19:50] #569 closed, assigned to LunNova

[2013-05-27 00:16] Shybella commented on #508
Sorry to be off-topic, you got Mytown and MCPC+ to work correctly with permissions? If so, can you tell me how

But, I limit mobs with Clearlagg and mobcontrol

[2013-05-27 03:56] alicheek commented on #566
This is occurring with boats also

[2013-05-27 09:03] #566 closed, assigned to LunNova

[2013-05-27 09:32] HaoSs07 opened #570 "steve's carts bug ?"
So i tested with tt of for a wile and the bug was not there, so i guess its TT related

When i restart the server, or chunk gets loaded / unloaded , SOMETIMES carts from steve's carts mod disappear, so every time 1 disappeared i builded another till 1 day when all the old carts reappeared on the tracks ( even 2 weeks old carts ), and i had a 7 steves carts train

[2013-05-27 10:00] #565 closed, assigned to LunNova

[2013-05-27 10:02] LunNova commented on #564
It should be working now in latest, but it will likely still show that error once. Is that correct?

[2013-05-27 10:03] LunNova commented on #559
Did the first error occur after a world unloaded?

[2013-05-27 10:05] LunNova commented on #558
It seems that any under "in.canSpawn(" are an MCPC+ issue, the others should now be fixed if you either update TT or update MCPC+.

[2013-05-27 10:05] #558 closed, assigned to LunNova

[2013-05-27 10:06] #551 closed, assigned to LunNova

[2013-05-27 10:08] #557 closed, assigned to LunNova

[2013-05-27 10:09] LunNova commented on #559
Also, are you using a backup plugin or mod? iirc there was one which sometimes caused this.

[2013-05-27 10:11] LunNova commented on #570
Is this chunk chunkloaded?

[2013-05-27 10:13] HaoSs07 commented on #564
will test when i get home , what about the question ?

[2013-05-27 10:15] HaoSs07 commented on #570
from what i tested the one whit NO chunkloader did not lose carts, just the one with world anchor

[2013-05-27 10:18] LunNova commented on #564
Possibly, they are all very useful mods. However, as usual, time constraints...

[2013-05-27 10:22] LunNova commented on #570
It's possible that the per-chunk entity lists were being corrupted, fix for that in e04606ee38b7cc7. Might not be related.

[2013-05-27 10:48] LunNova commented on #562
Looking at the code, it's clearly wrong but accidentally works because vanilla minecraft reuses the same ArrayList instance in collision code. iChun got lucky there, will fix it soon.

[2013-05-27 10:54] Tencao opened #571 "Chunkload event mcmmo (and most likely other plugins)"
This only just started happening on the latest one, I don't remember this happening on the version before that (17th of may if I remember)

 [SEVERE] Could not pass event ChunkLoadEvent to mcMMO v1.3.14-b1258
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:363)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.ja

[2013-05-27 10:59] wormzjl commented on #559
No I'm not using any backup plugin.
The first message disappeared with the latest build, but I got this one instead:
2013-05-27 01:38:09 [SEVERE] [TickThreading] Failed to save chunk in Overworld/0 -58, -51

[2013-05-27 11:02] HaoSs07 commented on #570
will update today and test.

[2013-05-27 11:08] HaoSs07 commented on #564
I hope if it comes to that you will do it :D never seen a dev so dedicated to his work, aperf you could probably integrate in TT, usually users have it for the excellent entity lists/remove.

[2013-05-27 11:11] #571 closed, assigned to LunNova

[2013-05-27 11:21] LunNova commented on #559
That's very not good. Can you please update to latest?

Either the issue will be fixed, if it's the one fixed in 1ce359a536549f4008, or it will still be there and also actually log a stack trace.

[2013-05-27 15:50] wormzjl opened #572 "[TT 1712, MCPC+ L40] Tried to add invalid TileEntity c net.minecraft.tileentity.TileEntityFurnace @155547227 in Overworld/0 at x, y, z: -109, 68, -535 to TickManager java.lang.Throwable"
Getting a lot of these after update, could be any TileEntities

2013-05-27 06:48:25 [WARNING] [TickThreading] Tried to add invalid TileEntity c net.minecraft.tileentity.TileEntityFurnace @155547227 in Overworld/0 at x, y, z: -109, 68, -535 to TickManager
java.lang.Throwable
        at me.nallar.tickthreading.minecraft.TickManager.add(TickManager.java:149)
        at me.nallar.tickthreading.minecra

[2013-05-27 15:50] wormzjl commented on #559
No such errors after the update, but I got a lot of these now, dunno if it's related:
https://github.com/nallar/TickThreading/issues/572

[2013-05-27 15:53] #572 closed, assigned to LunNova

[2013-05-27 18:23] Maximuscr31 opened #573 "MCPC L29 or higher and tickthreading not working"
I don't know why but I can't install any mcpc 29 or higher. I have tried 29+ with tickthreading 1634 to 1670 with no luck. I can install any tickthreading with L28 or below fine. I can install mcpc 29+ fine without tickthreading. Add in tickthreading and it crashes while loading mods. I have checked tickthreading logs, forgecraft logs, crash reports, and server log. There is nothing that explains

[2013-05-27 19:03] LunNova commented on #573
Post FML and tickthreading logs.

[2013-05-27 20:10] alicheek opened #574 "[Question] Will TT work for FTB Ultimate 1.1.1?"
Just wondering encase its ok to update the server with TT to that version?

[2013-05-27 20:11] LunNova commented on #574
Maybe? Haven't tried myself, but I don't see why not. Make a backup first (as you hopefully would anyway) and test it.

[2013-05-27 20:44] Maximuscr31 commented on #573
https://drive.google.com/folderview?id=0B5yKfXm1PkuLclA0VWJ3c1BxdzA&usp=sharing
They are in the test folder there.
I deleted them all before the patching, patched, then started it so it would all be fresh and no clutter. That is trying the latest MCPC l40

[2013-05-27 20:58] cjm721 opened #575 "[MCPC +31] [TT1715] Ultimate 1.1.0 ChickenChunks Missing Method"
Don't know if this is patcher related or just Chicken-bones missing something.

Causing server crash very often.

https://gist.github.com/cjm721/5659051

[2013-05-27 21:18] vanZeben commented on #575
Also happening on the DireWolf20 v5.3.1 Pack

[2013-05-27 21:19] LunNova commented on #575
Doesn't look like a TT issue, can you confirm that it doesn't happen without TT?

[2013-05-27 21:20] LunNova commented on #573
Works fine for me,  broken for you as you're 45 builds of TT out of date. Fixed a while ago.

Closed as duplicate of #545.

[2013-05-27 21:20] #573 closed, assigned to LunNova

[2013-05-27 21:34] vanZeben commented on #575
Our server was crashing nearly instantaneous when starting up with TickThreading v1715, MCPC v41 and been running it for about 15 minutes no crashes yet without TickThreading

[2013-05-27 21:35] LunNova commented on #575
It looks like an issue caused while trying to place a ChickenChunks chunkloader, so if you can confirm that that works correctly that would be helpful.

[2013-05-27 21:38] vanZeben commented on #575
Yeah alright, it seems it's still happening. Isn't a TickThreading issue then

[2013-05-27 21:42] Maximuscr31 commented on #573
Feel like an idiot now. I updated to 1700+ after that but I had made the assumption it was something else because when i was on 1630-1670 other people were posting tickets using l30+. I had downgrade to 1645 because I thought the newer version was the cause of another problem and it wasn't. I just didn't get it redone till after I sent you those logs. Thanks for the help and everything is great no

[2013-05-27 21:45] cjm721 commented on #575
How did this not get caught in the testing. Anyone know of any fixes besides disabling placement.

[2013-05-27 21:47] LunNova commented on #575
Try updating CodeChickenCore, looks like it's out of date for the version of ChickenChunks.

Not a TT issue, but leaving it open as I may still fix it, if it doesn't involve too much messing with Chickenchunks.

[2013-05-27 21:58] alicheek commented on #574
OK here come the spams of errors :P

[SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @335528718 in Overworld/0 at x, y, z: -2545, 49, -2737
java.lang.NoSuchMethodError: gregtechmod.api.IDigitalChest.isQuantumChest()Z
    at appeng.proxy.ProxyGregTech.isQuantumChest(ProxyGregTech.java:51)
    at appeng.proxy.helpers.GregTechHandler.canHandle(GregTechHandler.jav

[2013-05-27 23:24] vanZeben commented on #575
It's an issue with ChickenChunks v1.3.1.1 which was fixed in in v1.3.1.2, however the FTB team decided to include 1.3.1.1 as opposed to the fixed version in the new "Recommended" updates for whatever reason

You can update it manually to v.1.3.1.2, however it will also require your users to manually update themselves, which sucks for public servers...

[2013-05-28 00:31] Konman156 opened #576 "BukkitForge + TickThreading"
I can't seem to get bukkitforge and tickthreading to work together!
Okay so my server runs with bukkitforge and tickthreading but when anyone tries to place a block it kicks them. If i remove bukkitforge the problem goes away. ive tried everything ive found online to fix this. please help i really like tickthreading

[2013-05-28 00:37] Konman156 commented on #576
im using ftb ultimate with latest TT

[2013-05-28 01:50] BHare1985 commented on #361
I have this same problem using TickThreading-1.4.7-1.0.0.1715.jar using Feed the beast ultimate. It especially tells me it when I use a /home command. I get really strange behavior -- here is a video showcasing the weirdness: http://youtu.be/sMG1KX7FZTg  - I am using client and server FTB ultimate 1.0.1 with a linux server

[2013-05-28 05:09] Tencao opened #577 "Unsafe entity list iteration"
[WARNING] [TickThreading] Unsafe entity list iteration
    at me.nallar.tickthreading.minecraft.entitylist.EntityList.iterator(EntityList.java:72)
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getEntitiesByClass(CraftWorld.java:667)
    at com.gmail.nossr50.util.blockmeta.chunkmeta.HashChunkManager.loadChunk(HashChunkManager.java:189)
    at com.gmail.nossr50.listeners.WorldListener.onChunkLoad

[2013-05-28 05:11] Tencao opened #578 "Cant pass CreatureSpawnEvent, BlockIgniteEvent, and WorldUnloadEvent"
Im not sure if these are related to tickthreading, or the latest mcpc+, so I'll post them here first.
[SEVERE] Could not pass event WorldUnloadEvent to MobArena v0.94.4.96
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:363)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
    at org.bukkit.plugin.Simpl

[2013-05-28 05:14] Bucky420 opened #579 "chunk loading issues? [MCPC+ L43] [TT 1715]"
2013-05-28 07:12:07 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.world.ChunkDataEvent$Load@425f7ea1
2013-05-28 07:12:07 [SEVERE] java.lang.NullPointerException
2013-05-28 07:12:07 [SEVERE]    at thaumcraft.common.AuraManager.generateNodeNeighbours(AuraManager.java:111)
2013-05-28 07:12:07 [SEVERE]    at thaumcraft.common.EventHandler.chunkLoad(EventHandler.java:213)

[2013-05-28 07:57] dariusc93 commented on #576
You can try mcpc-plus. I never had that issue with BF and TT. What version are you on?

[2013-05-28 11:22] LunNova commented on #576
http://jenkins.bukkitforge.com:8080/job/BukkitForge-1.4.7/4/

It's a BF bug, you need to use the latest jenkins BF.

Alternatively, chunkload the chunks surrounding the 0,0 chunk.

[2013-05-28 11:24] LunNova commented on #579
If you run `/tps` are there two dimensions with the same ID?

[2013-05-28 11:31] LunNova commented on #361
Having the world unload under you as well isn't quite the same problem! :P

Can you paste the patcher log? Also, if possible could you get a sampling snapshot of the server using jvisualvm?

See the instructions [in the comments of issue #515](https://github.com/nallar/TickThreading/issues/515]), and run the sampler while doing similar stuff to what you did in the video.

[2013-05-28 11:33] #576 closed, assigned to LunNova

[2013-05-28 13:57] LunNova commented on #579
Also, can you try latest, start the server, when this starts happening stop the server, then give a full console log? Added some stuff to check that dimensions are set properly.

[2013-05-28 14:04] BHare1985 commented on #361
Here is the patcher log: http://pastebin.com/raw.php?i=UW9SrAB4 . I might be upgrading the server to the new ultimate 1.1.2 soon and suppose ill need to repatch.

As far as jvisualvm I download the java SDK for my system and I got it to run, on the server I am running the follow command from my sh file:

java -Dcom.sun.management.jmxremote.port=3333 -Dcom.sun.management.jmxremote.ssl=false -Dcom.s

[2013-05-28 14:29] BHare1985 commented on #361
Update: I got it going by installing the sun-sdk (since I installed sun-jre over the open jre). Jstatd wouldnt open for me but following http://www.codefactorycr.com/java-visualvm-to-profile-a-remote-server.html helped.

Will post in a few

[2013-05-28 15:14] BHare1985 commented on #361
Here are 2 snapshots, at first I was running the server right from the sh file without McMyAdmin and it was very snappy much more so than the previous video with no weird hangups but still with moving too quickly messages. So I decided to try again with McMyAdmin while keep everything the same and I guess last night was a fluke with the hangup and extreme lag. Nothing has been added or changed sin

[2013-05-28 15:44] BHare1985 commented on #361
I also took video of each snapshot to get an idea of the weird things it was doing this time. It seems when I am far away from home, and then teleport back to home the chunks surrounding home have unloaded and need to reload, but they seem to load very slowly. Oddly though, all the chunks not close to home are still loaded (in all directions). I would chalk it up to slow server, which could be be

[2013-05-28 17:06] cjm721 commented on #575
With the updates last night FTB fixed their screw up.

[2013-05-28 17:06] #575 closed, assigned to LunNova

[2013-05-28 17:12] cjm721 opened #580 "[MCPC+ 31] [TT 1715] Negative Array Size Crash"
https://gist.github.com/cjm721/5664350

[2013-05-28 18:12] Bucky420 opened #581 "MV Core wont tp to worlds : [MCPC+ L44] [TT 1718]"
the error may be related to mcpc+ it self i reported it there too but i downgraded back to LL43 witch was working and now i cant tp to my spawn world.
this is the error i got with build LL44
https://github.com/MinecraftPortCentral/MCPC-Plus/issues/1069
but like i said i don't think it is with TT

there is also an issue that i cant explaine and thats ic2 info panels are all facing up thats a paine

[2013-05-28 18:21] Bucky420 opened #582 "Chunk Errors with [TT1716]"
2013-05-28 20:19:35 [INFO] codydbgt: Complete!
2013-05-28 20:19:41 [INFO] codydbgt issued server command: /mv info
2013-05-28 20:19:44 [INFO] codydbgt issued server command: /mvtp spawn
2013-05-28 20:19:44 [INFO] Sending serverside check to: codydbgt
2013-05-28 20:19:47 [INFO] codydbgt issued server command: /mv list
2013-05-28 20:20:07 [INFO] There are 2 out of maximum 25 players online.
2013-05-

[2013-05-28 18:22] LunNova commented on #582
Duplicate of #579, you still haven't replied to my question there.

[2013-05-28 18:22] #582 closed, assigned to LunNova

[2013-05-28 18:23] LunNova commented on #581
You probably need to update to the version of MV which supports world unloading, released recently. Not sure if that's the issue, so I'll leave this open.

[2013-05-28 18:24] Bucky420 commented on #581
oh ok :+1:  ill try that

[2013-05-28 18:24] Bucky420 commented on #581
got an opinion on the ic2 info panels?

[2013-05-28 18:30] Bucky420 commented on #579
oh sorry XD

well in the recent version of MCPC+ they moved all the worlds to be under the world folder so MV worlds are now all in the WORLD worlder as i had my spawn world outdside of it now its inside of it :\ weird if you ask me but oh well

also if im not mistaking this is what you want?

Worlds in bukkitWorlds:
loaded world Overworld/0@1226099800, dimension: 0, provider dimension: 0, origina

[2013-05-28 18:44] LunNova commented on #579
Something has been very silly and loaded Overworld/3 3 times. This is likely causing most of the problems you're seeing. However, I have no idea why that's happening.

edit: That is a multiverse dimension, so check if this is still happening after updating MV.

[2013-05-28 18:56] Bucky420 commented on #579
all worlds load and such but this is my only issue

TT[1718] [MCPC+ LL44] [MVC#667]

2013-05-28 20:53:34 [INFO] codydbgt issued server command: /mvtp spawn
2013-05-28 20:53:34 [INFO] Sending serverside check to: codydbgt
2013-05-28 20:53:40 [INFO] codydbgt issued server command: /back
2013-05-28 20:53:40 [INFO] Sending serverside check to: codydbgt
2013-05-28 20:53:40 [SEVERE] [ForgeModLoader] Exc

[2013-05-28 18:57] Bucky420 commented on #579
when first loading ic2 infopanels load fine but going form my spawn world back to the normil world there all messed up :\ and i get that error in sonsole

[2013-05-28 18:57] LunNova commented on #579
Yes, they do all load, but you're not supposed to have three instances of the same world loaded at once which is what's causing these problems.

[2013-05-28 18:57] LunNova commented on #579
If you can give the full console log that'd be helpful.

[2013-05-28 18:58] Bucky420 commented on #579
ok

[2013-05-28 18:59] Bucky420 commented on #579
http://ntgvps.site.nfoservers.com/server.log

[2013-05-28 19:00] Bucky420 commented on #579
umm i did reset my mv config it might have been loading it 2 times or 3 so im not shrue if that err i posted is new or not

[2013-05-28 19:12] #581 closed, assigned to LunNova

[2013-05-28 19:24] HaoSs07 opened #583 "FTB 1.1.2 TT loading a little slow ?"
2013-05-28 22:22:45 [INFO] [Minecraft] Done (81.902s)! For help, type "help" or "?"
2013-05-28 22:22:45 [INFO] [Minecraft] Starting GS4 status listener
2013-05-28 22:22:45 [INFO] [Minecraft] Query running on 94.60.40.38:25565
2013-05-28 22:22:50 [INFO] [Buildcraft] Version check failed
2013-05-28 22:26:05 [SEVERE] [TickThreading] TickThreading v1.0.0.1718 for MC1.4.7 on 1.4.7 forge,fml, ForgeEssen

[2013-05-28 19:25] LunNova commented on #583
It'll probably load even slower without TT :P

Grab a snapshot while it's starting up, make sure to start sampling very quickly after starting the server.

[2013-05-28 19:35] HaoSs07 commented on #583
tomorrow you will have the sample. usualy it takes 50-60 sec for all mods to load and another 10 for mytown to enable. but now. is like 10 minutes for a load

[2013-05-28 19:37] HaoSs07 commented on #564
this is working now. no error.

[2013-05-28 19:37] #564 closed, assigned to LunNova

[2013-05-28 19:53] LunNova commented on #579
Looks like this is all being caused by an MCPC+/MV issue with new MCPC+ builds.

Get MCPC+ build 667 and it should work better, but:

So it may still be partially broken.

[2013-05-28 19:54] HaoSs07 commented on #583
5th restart is a succes :) server laoded under 1 minute seams it got fixed by itself

edit. ignore the error, i forget to turn something off in a config after the update :)

[2013-05-28 19:55] #583 closed, assigned to LunNova

[2013-05-28 19:56] LunNova commented on #583
Looks like one of the classes MyTown expects to exist just doesn't exist. You do actually have TrainCraft installed?

Possibly TrainCraft has been updated and MyTown no longer works correctly with it.

If you can get it to start slowly again it'd be nice to get a snapshot so I can try to fix whatever made it so slow.

edit: Okay, error ignored.

[2013-05-28 19:59] Bucky420 commented on #579
i dont see a a 667 build ;\
this is the latest build as i know of http://ci.md-5.net/job/MCPC-Plus-Legacy/47/
this is the latest build and im using the latest build of both and there working fine now i get this error once in awhile thoe

2013-05-28 21:54:30 [INFO] kodfod issued server command: /msg codydbgt you should run the command /manudelp kodfod essentials(dot)fly simbja gave  it to me
2013-0

[2013-05-28 20:04] Bucky420 opened #584 "IC2 INFO panels [TT1718] [MCPC+ L47]"
the info panels are always facing up this is not a major bug but i would like it to be fixed :\

[2013-05-28 20:09] HaoSs07 commented on #583
i did not have traincraft, but fore some reason in mytown protection for traincraft was on, now its ok,

as for the lag, have no idea how to reproduce it, it just started to work. :|

[2013-05-28 20:18] HaoSs07 opened #585 "server /stop : provider dimension ID was not already in the world dimension ID set"
2013-05-28 23:21:01 [SEVERE] [TickThreading] When removing Overworld/0, its provider dimension ID was not already in the world dimension ID set.
Worlds in dimensionManager:
loaded world Age 18/18@539160120, dimension: 18, provider dimension: 18, original dimension: 0
loaded world Nether/-1@1577497725, dimension: -1, provider dimension: -1, original dimension: 0
loaded world Overworld/0@1286384049,

[2013-05-28 21:10] cjm721 commented on #585
I have this happen sometimes when a world is unloaded also.

[2013-05-28 21:13] #580 closed, assigned to LunNova

[2013-05-28 21:15] alicheek opened #586 "200% load with only 40,000 TileEntiites"
2013-05-28 22:04:29 [INFO] [TickThreading]
TickThreading v1.0.0.1718 for MC1.4.7
                  |    E |    TE |    C |  P |       L
Twilight Forest/7 |  540 |   392 |  475 |  5 |  13.85%
        Nether/-1 |   79 |   169 |  308 |  5 |   5.98%
      Overworld/0 | 2643 | 41011 | 3929 | 74 | 154.17%
     World_VIP/13 |   17 |    17 |   31 |  0 |   3.55%
          Overall | 3279 | 41589 | 4743 | 84

[2013-05-28 21:16] LunNova commented on #586
Yep, TileEntities.

There are almost a million TileEntities loaded in total across all TickThreading instances which are currently running with metrics enabled, and on a new enough version to report loaded tile entities.

[2013-05-28 21:20] LunNova commented on #586
Oh, also your server's running too slowly, can I have another snapshot? Need to fix that!

[2013-05-28 21:25] alicheek commented on #586
sure ill get on it now

[2013-05-28 21:31] Bucky420 opened #587 "Mmory errors? [TT1718][MCPC+ L32"
2013-05-28 23:29:02 [SEVERE] Exception in thread "Thread-75"
2013-05-28 23:29:02 [SEVERE] java.lang.OutOfMemoryError: PermGen space
2013-05-28 23:29:02 [SEVERE]    at java.lang.Class.getDeclaredConstructors0(Native Method)
2013-05-28 23:29:02 [SEVERE]    at java.lang.Class.privateGetDeclaredConstructors(Unknown Source)
2013-05-28 23:29:02 [SEVERE]    at java.lang.Class.getConstructor0(Unknown Sour

[2013-05-28 21:44] alicheek commented on #586
ah dammit cant do a proper snapshot atm but I can do the profilers if that even helps at all? ill try and get snapshots done when we can

[2013-05-28 21:49] LunNova commented on #587
Add -XX:MaxPermSize=192m to your java parameters.
On 28 May 2013 22:31, "codydbgt" notifications@github.com wrote:

[2013-05-28 22:04] Bucky420 opened #588 "Overworld tick errors [TT1721] [MCPC+ L44]"
2013-05-29 00:02:26 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.NullPointerException
        at java.util.LinkedList.unlink(Unknown Source)
        at java.util.LinkedList.remove(Unknown Source)
        at thaumcraft.common.AuraWorldTicker.tickEnd(AuraWorldTicker.java:63)
        at cpw.mods.fml.common.SingleIntervalHandler.tickEnd(SingleIntervalHandler.java:22)

[2013-05-28 22:47] LunNova commented on #588
Can you try updating MCPC+ to L48? Quite a few known issues with dimensions in the version you're using.

[2013-05-28 22:47] #587 closed, assigned to LunNova

[2013-05-28 23:08] kenneaal opened #589 "Add 5 second average and 30 second moving average TPS counts to /tps"
This is a feature suggestion to add more granularity and accuracy to TPS measurements by providing three measuring points in an extended view of /tps, for instance with the command /tps full or similar.
A good way to do this would perhaps be to provide the immediate TPS (last full second), a 5 second simple moving average, and a 30 second weighted average/mean. This would give a fairly accurate de

[2013-05-28 23:14] HaoSs07 commented on #574
im on 1.1.2 and latest TT. is working as intended :)

[2013-05-28 23:15] LunNova commented on #574
1.1.1 did have its own set of issues. @alicheek are those errors still happening after updating to 1.1.2?

[2013-05-28 23:58] floh22 commented on #586
on a side note, version 1.1.2 seems to be a lot slower than 1.0.1. not sure why, but if you tell me how to do snapshots, i will try to get some :)

[2013-05-29 00:02] floh22 commented on #574
those errors dont happen for me, but the ic2 ones still do. i am on 1.1.2

[2013-05-29 00:03] alicheek commented on #574
yep here are the logs here on TT 1718 MCPC+ L38

http://pastebin.com/St914cnX

[2013-05-29 00:22] LunNova commented on #574
Fixed the IC2 issue in latest, still need to fix that AE issue.

[2013-05-29 00:23] floh22 opened #590 "Lag Spikes [TT #1723]"
So after updating we have been having spike issues so i set the DeadLockDetector to 1

this is the error that came from it:

http://pastebin.com/FjNS4PhK

giant error i know but you might be able to find something....

[2013-05-29 00:37] LunNova commented on #590
Can you try again with latest?

Got another change to make based on that report, but it's a tedious, annoying ThreadedChunkProvider locking related change and I'll do it tomorrow.

[2013-05-29 00:41] Nohau opened #591 "TT 1722 / MCPC L22 - Exception in Main tick loop Ultimate 1.1.2"
Gist : https://gist.github.com/Nohau/5667200

loaded world Age 940/940@457261151, dimension: 940, provider dimension: 940, original dimension: 0

2013-05-28 19:30:58 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
        at net.minecraft.server.MinecraftServer.a(MinecraftServer.java:1518)
        at ho.a(DedicatedServer.java:327)
        at le.b(PlayerUsageSnoo

[2013-05-29 00:42] floh22 commented on #590
sorry :3

[2013-05-29 00:45] LunNova commented on #590
Forgot to mention the issue number in the commit, e68eb5d5fa3b661d648dcc was for this issue and should make a reasonable difference.

[2013-05-29 01:08] Bucky420 commented on #588
if i do that then the spawn world wont load ;_;

[2013-05-29 01:09] LunNova commented on #588
Have you reported that issue to MCPC+? If not, make sure to report to them, after checking that someone else hasn't already reported it.

I can't really do anything here to fix it, it's an MCPC+ issue which just happens to be more of a problem under TT.

[2013-05-29 01:56] #501 closed, assigned to LunNova

[2013-05-29 07:20] cjm721 opened #592 "[MCPC+ 31] [TT 1728] Concurrent Modification Exception from ChickenChunks"
Happens on any world semi frequently.

2013-05-29 03:20:08 [SEVERE] [TickThreading] Exception ticking world Wolfen/Soren/Down_he/40
java.util.ConcurrentModificationException
    at java.util.LinkedList$ListItr.checkForComodification(LinkedList.java:778)
    at java.util.LinkedList$ListItr.next(LinkedList.java:713)
    at codechicken.chunkloader.ChunkLoaderManager.revivePlayerLoaders(ChunkLoaderMan

[2013-05-29 07:59] mainsheep opened #593 "[TT1728, MCPC L48] [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.transport.TileGenericPipe"
Console is spammed with these errors. My admins had to go around and remove the "bugging" conductive pipes to remove console spam.

2013-05-29 07:56:57 [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.transport.TileGenericPipe @893324479 in Overworld/0 at x, y, z: 2644, 61, 1140
java.lang.NullPointerException

[2013-05-29 08:00] mainsheep commented on #593
Probably happening when a chunk is loading, the pipe doesn't "remember" how it was placed.

[2013-05-29 09:25] HaoSs07 commented on #246
From the first round of tests it seems no more losing items :) using the same setup,(is on a multiple chunks) with no preformated disks
FTB 1.1.2

[2013-05-29 12:22] HaoSs07 commented on #246
more heavy testing, 0 items missing :)

[2013-05-29 13:02] alicheek commented on #593
Yea im getting this too on TT 1728:

2013-05-29 13:58:59 [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.transport.TileGenericPipe @1526881819 in Overworld/0 at x, y, z: 839, 58, 1866
java.lang.NullPointerException
    at gregtechmod.api.BaseMetaTileEntityMJ.powerRequest(BaseMetaTileEntityMJ.java:51)
    at buildcraft.transport.PipeTransportPower.updateEntity_sync0(PipeTransport

[2013-05-29 13:38] alicheek opened #594 "[TT1728, MCPC L38] Players own MFFS defence sytem killing them when logging in or tping"
It seems the player entity is there before it can register what player it is meaning it kills them with out hesitation, don't know if its something that is in TT that makes this happen but just putting it up here any way :)

[2013-05-29 14:14] LunNova commented on #246
Anyone able to confirm that this is no longer an issue with updated AE?

[2013-05-29 14:34] floh22 commented on #590
getting different errors from the lagspikes now.

http://pastebin.com/QazAXNVC

[2013-05-29 14:36] LunNova commented on #590
This was caused while saving chunks. What does `/ticks` show for PartialSave?

[2013-05-29 14:37] floh22 commented on #590
288

this is the complete result from /ticks:

2013-05-29 16:36:56 [INFO] [TickThreading]
World: Overworld/0
---- Slowest tick regions ----
  |      X |     Z |    N |  Time
T | -12832 | 17936 |  147 | 9.143
T |    448 | -1088 |  461 | 7.975
T | -12832 | 17952 |  260 | 7.395
T |   2864 |  -736 |  525 | 7.297
T |   5344 | -3632 |  367 | 6.541
T |  -2400 |  2816 |  318 | 5.303
T |    912 |  3360 | 1

[2013-05-29 14:44] LunNova commented on #590
What does `/profile e` show?

Also, could you update again? Made some more changes to chunk saving.

[2013-05-29 14:52] floh22 commented on #590
/profile e shows some odd numbers.

here it is anyway, i will update and try to do the same again.

http://pastebin.com/K3u6WPnX

[2013-05-29 14:58] floh22 commented on #590
just got another error with the new builds:

http://pastebin.com/yewdziZN

one thing to note, i only get this when the server starts and then like 20 minutes later

[2013-05-29 15:05] LunNova commented on #590
Possibly your database server is overloaded? MyTown is spending a lot of time doing database stuff there.

[2013-05-29 15:07] floh22 commented on #590
it has about 6gb ram open and its own core dedicated to it. not sure why it would be overloaded

[2013-05-29 15:14] #429 closed, assigned to LunNova

[2013-05-29 15:22] LunNova commented on #590
It's not actually, poor collection choice in MyTown meaning that it's searching through every resident that has ever existed every time it gets the resident. Not exactly fast, will try to fix that.

[2013-05-29 15:38] floh22 commented on #590
ur amazing

[2013-05-29 16:30] LunNova commented on #594
Fixed via 20b502a3b08ed4.

[2013-05-29 16:30] #594 closed, assigned to LunNova

[2013-05-29 16:30] LunNova commented on #586
Made some fixes recently, load any better on latest?

[2013-05-29 16:36] CappyT opened #595 "Players Can't login on the server [TT 1729]"
I am using TT #1729 with MCPC+ L15 (know, pretty old, but is quite stable)
Sometimes, when i player try to join the server, I have this error: http://pastie.org/7980160
Is not always, but is very often.

Any suggestion?

[2013-05-29 16:41] HaoSs07 opened #596 "Some server lag spikes, Snapshot inside"
https://dl.dropboxusercontent.com/u/76651664/snap1.nps
https://dl.dropboxusercontent.com/u/76651664/snap2.nps

I suspect its from AE autocraft, but it should not be there when crafting using disks.

[2013-05-29 16:43] alicheek commented on #596
ive noticed this too auto crafting in them makes huge amounts of lag and really badly when it hits a loop where it cant craft the item.

[2013-05-29 16:44] Meatnog commented on #246
Nallar, I am happy to say it is no longer an issue.   We have discovered an issue with ME Export Busses getting 'stuck' on/off (when they're set to receive a redstone signal), but I believe that's an AE issue and I opened it with AlgorithmX.

[2013-05-29 16:47] LunNova commented on #595
Fixed via 7af8c05514e4f90.

[2013-05-29 16:47] #595 closed, assigned to LunNova

[2013-05-29 16:49] HaoSs07 commented on #596
https://dl.dropboxusercontent.com/u/76651664/snap3.nps

and snap 3 :)

[2013-05-29 16:49] LunNova commented on #596
Yes, this does seem to be an AE issue. However I'm afraid to mess with AE now that it actually works! :(

[2013-05-29 16:56] Tencao opened #597 "Error dimension ID not already in world dimension ID set"
2013-05-29 15:55:20 [SEVERE] [TickThreading] When removing The End/40, its provider dimension ID was not already in the world dimension ID set.
Worlds in bukkitWorlds:
loaded world Overworld/0@1660201281, dimension: 0, provider dimension: 0, original dimension: 0
loaded world Nether/-1@831298037, dimension: -1, provider dimension: -1, original dimension: 0
loaded world Overworld/37@702844953, dime

[2013-05-29 16:58] floh22 commented on #596
ive found that if you make the crafting cubes smaller it seems to make it a bit better. also something i have noticed: indexers cause HUGE amounts of lag when there are about over 1k bees in them. people have gotten the ticktime up to 800ms with one that has about 500k bees

[2013-05-29 17:01] #597 closed, assigned to LunNova

[2013-05-29 17:05] LunNova commented on #585
Fixed via 493caaf1e8f30d25d04490165469c36f7fb83278.

[2013-05-29 17:05] #585 closed, assigned to LunNova

[2013-05-29 18:39] alicheek opened #598 "MCPC L38 TT 1736 World Update Entities very high causing low TPS"
Hey there seems to be a problem with the amount of time being spend on updating entities now there is only about 2k entities on the world, this is with the tps down to 10 now its not even chunk related it seems its like the whole server lag spikes since the chunks all go up and down in the time it takes to tick them

![2013-05-29_19 37 19](https://f.cloud.github.com/assets/3965516/580776/f5916e38-

[2013-05-29 18:54] LunNova commented on #598
updateEntities includes entities and tile entities, it normally is the highest. Still need a profiling snapshot to find what's causing your problem.

[2013-05-29 20:42] CircaShoes opened #599 "MCPC+ 1.5.2 B486 Exception ticking world"
Server Crash after 10 Minutes

---- Minecraft Crash Report ----
// Quite honestly, I wouldn't worry myself about that.

Time: 5/29/13 10:26 PM
Description: Exception ticking world

java.lang.NoClassDefFoundError: net/minecraft/client/Minecraft
    at net.minecraft.entity.monster.EntitySkeleton.func_82164_bB(EntitySkeleton.java:343)
    at net.minecraft.entity.monster.EntitySkeleton.func_82163_bD(E

[2013-05-29 20:43] LunNova commented on #599
TickThreading isn't for 1.5.2, also did you post this issue to the wrong place?

[2013-05-29 20:43] #599 closed, assigned to LunNova

[2013-05-29 20:50] vanZeben opened #600 "[TT v1715] [MCPC++ 41] Exception in thread "Deadlock Detector""
After this exception is thrown the server half responds. Chunks will update and the server responds to pings, but blocks/chests/items/commands cannot be interacted with...

http://pastebin.com/Q2LpT274

[2013-05-29 21:11] LunNova commented on #600
Already fixed in latest.

[2013-05-29 21:11] #600 closed, assigned to LunNova

[2013-05-29 21:15] vanZeben commented on #600
Oh sorry, must have overlooked it

[2013-05-29 22:04] LunNova commented on #246
:)

[2013-05-29 22:04] #246 closed, assigned to LunNova

[2013-05-29 22:32] HaoSs07 commented on #246
well someone is happy :D

[2013-05-29 23:26] DarkenMoon commented on #599
Will it update to 1.5.2 anytime soon? Cause I am going to need this really soon.

[2013-05-30 01:41] Puremin0rez commented on #596
Applied Energetics is sadly one of the laggiest mods on my server, had to remove it.

Auto crafting will DESTROY you. Even moving around disks with like 700k items in them caused everything to lock up. It's too easy to make this mod cripple your server, sadly.

[2013-05-30 02:14] Nohau opened #601 "TT 1748 / MCPC L22 Profile c"
Profile C gives cords of null,null

![2013-05-29_21 12 39](https://f.cloud.github.com/assets/4019875/582910/a7072826-c8ce-11e2-9a2e-495ba9529011.png)

[2013-05-30 02:16] Nohau opened #602 "TT 1748 / MCPC L22 Profile Infinity amount of load?"
Profile Shows Infinity amount of load?

![2013-05-29_21 12 39](https://f.cloud.github.com/assets/4019875/582915/cca33020-c8ce-11e2-8e07-1cd13929fa3c.png)
![2013-05-29_21 12 46](https://f.cloud.github.com/assets/4019875/582916/ce496ff2-c8ce-11e2-9574-b116e4c9bc06.png)
![2013-05-29_21 15 37](https://f.cloud.github.com/assets/4019875/582918/db5c9296-c8ce-11e2-99ed-65ce3e79858a.png)

[2013-05-30 08:42] #602 closed, assigned to LunNova

[2013-05-30 08:44] #601 closed, assigned to LunNova

[2013-05-30 09:10] LunNova commented on #599
The plan is to begin working on updating it after my last exam on friday. Of course, it is likely to be VERY, VERY, VERY buggy initially, with so many mods updating and needing new patches.

[2013-05-30 09:14] LunNova commented on #596
The best method of finding what's causing lag spikes is to set the DeadlockDetector time to 1 in the config.

Snapshots are better when left running for a longer time, and used to find overall performance issues.

[2013-05-30 09:28] nylser commented on #246
I'm also very happy this issue is finally resolved, so we are no longer stuck there

[2013-05-30 09:29] HaoSs07 commented on #596
yah, tried this 3 times but i had bad luck :)) the spike did not happen again after restart. also players did not login back, i was in lag spike mode with 4 players online and nothing to log .

its ok if i run the server in lag spike longer ? a full day or so ?

[2013-05-30 09:55] LunNova commented on #596
You could just leave it permanently in lag spike mode, it'll still detect and restart after a deadlock if it's stopped for > 45 seconds.

[2013-05-30 10:55] Tencao opened #603 "Unhandled exception in worker thread entities"
2013-05-30 09:55:04 [SEVERE] [TickThreading] Unhandled exception in worker thread En                                                                                                                                                         tities in Overworld/0 - 3
java.lang.NullPointerException
        at me.nallar.tickthreading.Log.name(Log.java:283)
        at any.toString(TileEntity.java:79)

[2013-05-30 11:13] #603 closed, assigned to LunNova

[2013-05-30 12:01] HaoSs07 commented on #596
https://gist.github.com/HaoSs07/5677354

lagspike, it seems i always get this when i reboot with lagspike on. and only once

[2013-05-30 12:01] #592 closed, assigned to LunNova

[2013-05-30 12:02] LunNova commented on #596
That one's caused by FE being slow to check permissions.

[2013-05-30 14:03] DarkenMoon commented on #599
Alright, thanks for the update/news.

[2013-05-30 14:21] clienthax opened #604 "TT Profiler bug"
07:21:08 [SEVERE] Exception in thread "TT Profiler"
07:21:08 [SEVERE] java.lang.StringIndexOutOfBoundsException: String index out of
 range: -1
07:21:08 [SEVERE]       at java.lang.String.substring(String.java:1871)
07:21:08 [SEVERE]       at javassist.is.faulty.Timings.niceName(Timings.java:78)
07:21:08 [SEVERE]       at javassist.is.faulty.Timings.writeData(Timings.java:51
)
07:21:08 [SEVERE]

[2013-05-30 14:24] #604 closed, assigned to LunNova

[2013-05-30 14:40] floh22 commented on #590
it seems like your fixes have brought some troubles with them. people cannot build in their land. they are still in the towns, they just cant interact with them it seems

[2013-05-30 14:47] HaoSs07 commented on #596
hmm. i'm getting some lag spikes with multiple deadlocks ,server recovers after 5-10 seconds, but the log remains clean :|
![2013-05-30_17 44 32](https://f.cloud.github.com/assets/3189195/585440/d90fae56-c937-11e2-8843-94a6e3c02205.png)

[2013-05-30 14:49] LunNova commented on #590
Oh, that's not good :( I'll look into it.

[2013-05-30 15:00] floh22 commented on #590
quick edit. it looks like it usually affects mayors and is a database problem. even after going back to an old build of TT, mayors cant access their chunks. BUT if i add people to their towns again, its fixed. so strange. note that i am using mysql like before

[2013-05-30 15:02] LunNova commented on #590
Reverted the changes in latest.

[2013-05-30 15:03] wormzjl opened #605 "[TT 1759, MCPC+ L48]Deadlock"
Here you go
http://pastebin.com/BSv4cV90

[2013-05-30 15:04] wormzjl opened #606 "[TT 1759, MCPC+ L48] Entity iq['Sanzila'/3476, l='Capp', x=-1745.00, y=72.02, z=863.00](Sanzila at -1745.0,72.01999999523163,863.0) is in a partially unloaded chunk java.lang.Throwable"
2013-05-30 08:01:49 [WARNING] [TickThreading] Entity iq['Sanzila'/3476, l='Capp', x=-1745.00, y=72.02, z=863.00](Sanzila at -1745.0,72.01999999523163,863.0) is in a partially unloaded chunk
java.lang.Throwable
    at yc.a(World.java:355)
    at in.a(WorldServer.java:844)
    at yc.g(World.java:2716)
    at me.nallar.tickthreading.minecraft.tickregion.EntityTickRegion.doTick(EntityTickRegion.java:5

[2013-05-30 15:05] wormzjl commented on #605
Comes after https://github.com/nallar/TickThreading/issues/606

[2013-05-30 15:07] LunNova commented on #596
There was a bug which was causing it only to report the first lag spike. It should now work correctly.

[2013-05-30 15:10] floh22 commented on #590
well it seems like the newest build doesnt really fix it. like i said its a database error. readding the people to their towns fixes the problem though

[2013-05-30 15:14] #606 closed, assigned to LunNova

[2013-05-30 15:14] wormzjl opened #607 "[TT 1771, MCPC+ L48] Exception ticking TileEntity c thermalexpansion.factory.tileentity.TilePortableTank @318376529 in Overworld/0 at x, y, z: 1127, 66, 1496 java.lang.NullPointerException"
2013-05-30 10:10:51 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.factory.tileentity.TilePortableTank @318376529 in Overworld/0 at x, y, z: 1127, 66, 1496
java.lang.NullPointerException
    at thermalexpansion.factory.tileentity.TilePortableTank.transferLiquid(TilePortableTank.java:215)
    at thermalexpansion.factory.tileentity.TilePortableTank.g(TilePortableTank.java:2

[2013-05-30 15:15] LunNova commented on #605
This was caused by a CustomOreGen packet being VERY slow to process. Not really anything I can do about that.

[2013-05-30 15:15] #605 closed, assigned to LunNova

[2013-05-30 15:53] wormzjl opened #608 "[TT 1771, MCPC+ L48] Lagspike"
http://pastebin.com/58rSzuNq

[2013-05-30 15:56] LunNova commented on #608
This occurred while writing to the log file.

Please make an issue with MCPC+ asking them to change bukkit's logger to write to disk in another thread, or redirect bukkit logging via FML's handler which already does log in another thread.

[2013-05-30 15:56] #608 closed, assigned to LunNova

[2013-05-30 15:59] HaoSs07 commented on #596
are you sure you fixed it ? i have lag spikes but log clean...

[2013-05-30 16:09] HaoSs07 commented on #596
started to work after the second restart :)

https://gist.github.com/HaoSs07/5679086

but it seems to be the same one, fe related

[2013-05-30 16:10] LunNova commented on #596
Yes. You may want to report that one to FE.

[2013-05-30 16:14] cjm721 opened #609 "[MCPC +31] [TT1748] Null point on dump"
Works fine if I put in the cordnates but not if I look at a block or just in the air and type /dump

12:10:32 [INFO] cjm721 issued server command: /dump
12:10:32 [SEVERE] java.lang.NullPointerException
12:10:32 [SEVERE]   at me.nallar.tickthreading.minecraft.commands.DumpCommand.dump(DumpCommand.java:58)
12:10:32 [SEVERE]   at me.nallar.tickthreading.minecraft.commands.DumpCommand.processCommand(D

[2013-05-30 16:17] LunNova commented on #609
`/dump` is supposed to require coordinates. Right click with a clock while opped and it will run /dump for you.

edit: Do you still want it to /dump the block in front of you if you use it without giving coordinates? The clock should make that unnecessary.

[2013-05-30 16:19] #609 closed, assigned to LunNova

[2013-05-30 16:20] cjm721 commented on #609
Ok. use to things just saying proper user /yada kind of thing

[2013-05-30 16:21] HaoSs07 commented on #596
I have bugs moths old reported there, and sill no fix, bugs are not even present in the next 1.3 milestone, that has no ETA, also they have moved on to 1.5, and only 1.5, 1.4.7 is somewhat dead :) I will see FTB launcher 2 and ultimate 1.6 before they fix this. I'm probably better of just dealing with it :)

LE. il upload another cpu sampler, see what you can detect there, if nothing new, just clo

[2013-05-30 16:25] LunNova commented on #609
It was supposed to, should be fixed now.

[2013-05-30 16:31] HaoSs07 commented on #596
https://dl.dropboxusercontent.com/u/76651664/snapfinal.nps

40 minuts or so snap,there was some nasty 100% cpu spike in this one...

[2013-05-30 16:45] #607 closed, assigned to LunNova

[2013-05-30 17:01] LunNova commented on #579
Sorry, I meant MV build 667. Oops :(

[2013-05-30 17:04] #577 closed, assigned to LunNova

[2013-05-30 17:07] LunNova commented on #578
Looks like these plugins are trying to use unloaded worlds. Turn off world unloading in TT's config.

[2013-05-30 17:07] #578 closed, assigned to LunNova

[2013-05-30 17:11] #591 closed, assigned to LunNova

[2013-05-30 17:34] #593 closed, assigned to LunNova

[2013-05-30 19:41] coffeeneer opened #610 "[TT #1773] Redpower logic failing"
I'm having a problem with redpower2 logic stuff, it seems to be the inverter cell that is not doing what it should do. The inverter cell for example doesn't work half of the time. The server and client logs show nothing, no errors. It is hard to explain what exactly doesn't work but I have a few screenshots that show what happens. Basically the inverter cell fails to change it's state when connect

[2013-05-30 20:32] Nohau commented on #402
I have verified with Ultimate 1.1.2  and TT 1748 MFFS is working again.

[2013-05-31 06:17] cjm721 opened #611 "[MCPC +31] [TT1780] AE NPE"
Just a client boot with "Internal Server Error" when I tried to open a crafting monitor. Don't have a clue what caused it but I am currently unable to open my ME System and trying to change one thing at a time untill it stops happening..

[2013-05-31 06:25] cjm721 commented on #611
Breaking and replacing the controller fixed the issue. Tried taking out the cells before and had no effect on fixing it.

[2013-05-31 06:40] mainsheep opened #612 "[TT 1758, MCPC L28] [ForgeModLoader] Exception loading chunk asynchronously. java.lang.OutOfMemoryError: PermGen space"
Server runs fine for 1-2 hours, then suddenly crashes and restarts.

[ForgeModLoader] Exception loading chunk asynchronously.
java.lang.OutOfMemoryError: PermGen space

[2013-05-31 09:32] cjm721 opened #613 "[DUPE] [MCPC + 33] [TT 1780] IC2 Modded Liquid > Seed Oil"
All IC2 liquids are turning to seed oil when the cells are used. Originaly found when working with my fusion reactor. Then went and tested with xycraft tank and I was able to put both the Deuterium Cells and Helium Cells which means its not just a client sync error the server treating them as the same. Also the plasma generator was accepting the seed oil as a valid power source.

The dupe part com

[2013-05-31 09:36] #613 closed, assigned to LunNova

[2013-05-31 09:53] cjm721 commented on #613
Thankyou for the quick fix on this. I was streaming when I found it and alerted a good portion of the online members on my server.

[2013-05-31 10:08] #402 closed, assigned to LunNova

[2013-05-31 10:12] LunNova commented on #361
Sorry for the lack of response, been busy recently. Made more changes to movement updates in latest, can you check if it's still broken?

[2013-05-31 10:18] LunNova commented on #364
Is chunkloading working correctly now? TT now includes MCPC+'s chunkloading changes, so as far as I know it should be working.

[2013-05-31 10:20] #341 closed, assigned to LunNova

[2013-05-31 10:21] LunNova commented on #288
Fixed with #446's fix.

[2013-05-31 10:21] #288 closed, assigned to LunNova

[2013-05-31 10:23] LunNova commented on #314
The AE issues are now also fixed.

[2013-05-31 10:23] #314 closed, assigned to LunNova

[2013-05-31 10:23] LunNova commented on #313
I've added a lot of code for ensuring world load/unload events are fired correctly and that world lists are kept in sync, and for logging if this fails. This should now be fixed.

[2013-05-31 10:23] #313 closed, assigned to LunNova

[2013-05-31 10:30] LunNova commented on #612
Set the `-XX:MaxPermSize=176m` java parameter. If you have already done so, try 256m. If this still occurs, but just takes longer, you have a permgen leak.

[2013-05-31 10:39] LunNova commented on #568
These changes should make this error impossible, instead it will either be fixed, or you'll get a different error showing where something tried to add a null to a chunk's entity list. Closing this, as the most likely cause is fixed, and any other causes would be a different issue.

[2013-05-31 10:39] #568 closed, assigned to LunNova

[2013-05-31 10:40] LunNova commented on #559
This was probably caused by duplicate loading of a world, which should now be fixed. Still happening?

[2013-05-31 10:44] mainsheep commented on #612
I didn't see that statement in your link on https://github.com/nallar/TickThreading/blob/master/INSTALL.md ..

Added that JVM option now (176M) :) Fingers crossed.

[2013-05-31 10:45] LunNova commented on #612
It's not necessary for most people, the permgen space is where classes(and some other things such as interned strings) are stored. As you add more mods and plugins, with more code and more classes, you may need to increase its size.

[2013-05-31 10:47] mainsheep commented on #612
Ok I understand.. Thank you for your fantastic support :) Keep up the good work.

[2013-05-31 10:53] LunNova commented on #596
And made another change which fixes a case where the report wouldn't've been made when it should have. I'll look at the snapshot soon.

[2013-05-31 10:58] mainsheep commented on #612
Does it matter if it's a small m or a large M in this option?

Sorry for n00bish questions :/

[2013-05-31 11:14] HaoSs07 commented on #570
happend again last night.

[2013-05-31 11:15] LunNova commented on #570
If you run `/ticks e` when it happens does it show a warning that it fixed x discrepancies?

[2013-05-31 11:32] HaoSs07 commented on #570
well i have a small bug in gamecp with gamequery and the server reboots sometime ,a /ticks e right now shows no discrepancies, but this may not be accurate

also i'm never there when it happens ...you just log in and its gone. or you log in and see a train of carts running.
The bug does not happen when you log in. All tree had time to fully grow when i logged in today.

[2013-05-31 12:36] mainsheep commented on #612
At 1h40m mark, the server started lagging.

A /lag showed the following:
2013-05-31 12:35:38 [INFO] Current TPS = 15.3
2013-05-31 12:35:38 [INFO] Maximum memory: 29,306 MB.
2013-05-31 12:35:38 [INFO] Allocated memory: 29,306 MB.
2013-05-31 12:35:38 [INFO] Free memory: 29,306 MB.

The server seem to crash very close to 1h40m every time.

I now put the 256m in the MaxPerm statement, so fingers cross

[2013-05-31 12:59] alicheek opened #614 "[TT 1780, MCPC+ L38] [SEVERE] [TickThreading] The server appears to have deadlocked."
http://pastebin.com/3xt99fPH

[2013-05-31 12:59] HaoSs07 commented on #570
happend again . this time i was on,
ticks e fixed 5 discrepancies this time

[2013-05-31 13:01] alicheek opened #615 "[TT 1780, MCPC+ L38] [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1737878464 in Overworld/0 at x, y, z: -2522, 64, 499"
2013-05-31 09:51:24 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1737878464 in Overworld/0 at x, y, z: -2522, 64, 499
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:129)

[2013-05-31 13:02] alicheek commented on #614
at gregtechmod.common.tileentities.GT_MetaTileEntity_AdvancedPump.scanForFluid(GT_MetaTileEntity_AdvancedPump.java:174)
    at gregtechmod.common.tileentities.GT_MetaTileEntity_AdvancedPump.scanForFluid(GT_MetaTileEntity_AdvancedPump.java:174)
    at gregtechmod.common.tileentities.GT_MetaTileEntity_AdvancedPump.onPostTick(GT_MetaTileEntity_AdvancedPump.java:126)
    at gregtechmod.api.BaseMetaTil

[2013-05-31 13:03] alicheek opened #616 "[TT 1780, MCPC+ L38] [SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.logic.TileLogicSimple @2037314962 in Overworld/0 at x, y, z: 5243, 68, 3408"
2013-05-31 11:35:53 [SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.logic.TileLogicSimple @2037314962 in Overworld/0 at x, y, z: 5243, 68, 3408
java.lang.NullPointerException
    at any.sendTileWithNotify(TileEntity.java:61)
    at com.eloraam.redpower.core.TileExtended.updateBlockChange(TileExtended.java)
    at com.eloraam.redpower.logic.TileLogicSimple.simpleTick(Ti

[2013-05-31 13:03] alicheek opened #617 "[TT 1780, MCPC+ L38] [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 11"
[SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 11
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at me.nallar.tickthreading.minecraft.TickManager.fixDiscrepancies(TickManager.java:596)
    at me.nallar.tickthreading.minecraft.Tick

[2013-05-31 13:39] alicheek opened #618 "[enhancement] Bus timer setting for AE?"
I realise its not your job to do this but I think it can really make a difference for the lag that AE causes , what would be nice to have is a timer setting so that the lowest bus time could be changed from 0.5 seconds to say 2 or 1 seconds.

[2013-05-31 14:13] alicheek opened #619 "[TT 1780, MCPC+ L38] [SEVERE] [TickThreading] Failed to handle packet from rljmos MFFS ISSUE"
Seems that whenever a MFFS Projector is turned on every one is disconnected:

[SEVERE] [TickThreading] Failed to handle packet from rljmos
java.util.EmptyStackException
    at java.util.Stack.peek(Stack.java:102)
    at java.util.Stack.pop(Stack.java:84)
    at chb.mods.mffs.network.server.ForceFieldServerUpdatehandler.tickEnd(ForceFieldServerUpdatehandler.java:36)
    at me.nallar.tickthreading.u

[2013-05-31 14:14] alicheek opened #620 "[TT 1780, MCPC+ L38] [SEVERE] [TickThreading] Exception ticking TileEntity c chb.mods.mffs.common.tileentity.TileEntityCapacitor @1667591838 in Overworld/0 at x, y, z: 3191, 45, -889"
[SEVERE] [TickThreading] Exception ticking TileEntity c chb.mods.mffs.common.tileentity.TileEntityCapacitor @1667591838 in Overworld/0 at x, y, z: 3191, 45, -889
java.util.ConcurrentModificationException
    at java.util.Hashtable$Enumerator.next(Hashtable.java:1200)
    at chb.mods.mffs.common.Linkgrid$Worldlinknet.connectedtoCapacitor(Linkgrid.java:200)
    at chb.mods.mffs.common.tileentity.Til

[2013-05-31 16:35] LunNova commented on #614
It didn't deadlock, just GT pumps are badly designed. Even worse than BC's, apparently, it took more than a minute to scan for fluids.

[2013-05-31 16:41] LunNova commented on #612
If MaxPermGen size is the issue it should just crash, probably won't make it laggy. If you can get a snapshot while it's being laggy that would be helpful.

[2013-05-31 16:43] #574 closed, assigned to LunNova

[2013-05-31 16:43] #611 closed, assigned to LunNova

[2013-05-31 16:43] #615 closed, assigned to LunNova

[2013-05-31 17:56] Nohau opened #621 "TT1784 / MCPC L50 /profile c gives NPE"
2013-05-31 10:22:30 [INFO] LadyDivine issued server command: /profile c
2013-05-31 10:22:30 [SEVERE] java.lang.NullPointerException
2013-05-31 10:22:30 [SEVERE]    at me.nallar.tickthreading.minecraft.commands.ProfileCommand.processCommand(ProfileCommand.java:102)
2013-05-31 10:22:30 [SEVERE]    at me.nallar.tickthreading.minecraft.commands.Command.b(Command.java:66)
2013-05-31 10:22:30 [SEVERE]

[2013-05-31 18:35] LunNova opened #622 "powercrystals NPE"
2013-05-31 14:30:33 [SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.minefactoryreloaded.plants.TileEntityHarvester @1453431329 in Overworld/0 at x, y, z: -1612, 93, 335
java.lang.NullPointerException
        at powercrystals.minefactoryreloaded.plants.TileEntityHarvester.activateMachine(TileEntityHarvester.java:131)
        at powercrystals.minefactoryreloaded.core.TileEntity

[2013-05-31 18:50] #621 closed, assigned to LunNova

[2013-05-31 20:01] floh22 opened #623 "[TT # 1784] More Lag Spike Issues"
Its spamming in the console:

http://pastebin.com/Dmqycq5k

seems to be the reason the server is lagging, cause when the error is gone the server runs fine

[2013-05-31 22:23] wormzjl commented on #559
No IMO it's fixed now.

[2013-05-31 22:23] #559 closed, assigned to LunNova

[2013-05-31 22:44] LunNova commented on #623
This is during chunk saving. I'll make chunk saving more configurable, currently TT aims to regularly save not very many chunks, unlike vanilla which less regularly saves many chunks.

Obviously, this isn't working. What does `/ticks` show for `PartialSave`?

[2013-05-31 22:54] LunNova commented on #623
The latest commit should also reduce the time it takes to perform a partial save.

[2013-05-31 23:01] floh22 commented on #623
one sec, ima install the newest version of TT

[2013-05-31 23:03] CappyT opened #624 "Crash removing pipes/RP2 tubes TT #1787 L49"
Client gets kicked after breaking RP2 or BuildCraft pipes. (both Creative and Survival)
Also, a lot of random spam in console.
TT 1787 MCPC+ 1.4.7 L49

Here is the error log:
http://pastie.org/7991159

[2013-05-31 23:08] floh22 commented on #623
partialsave is at 347

[2013-05-31 23:16] #624 closed, assigned to LunNova

[2013-05-31 23:36] LunNova commented on #623
Try latest, PartialSave should be lower.

[2013-06-01 00:03] alicheek opened #625 "[TT 1793, MCPC+ L38] [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Nether/-1 - 6"
Getting huge amounts of spam from this about 36mbs in 2 hours

013-06-01 00:34:35 [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Nether/-1 - 6
java.lang.IllegalStateException: Already iterating.
    at me.nallar.collections.LinkedHashSetTempSetNoClear.startIteration(LinkedHashSetTempSetNoClear.java:40)
    at me.nallar.tickthreading.minecraft.tickregion.EntityTickRegion.

[2013-06-01 00:05] alicheek commented on #625
[SEVERE] [TickThreading] Exception ticking world World_VIP/13
java.lang.NoSuchFieldError: h
    at im.a(ThreadedChunkProvider.java:779)
    at net.minecraft.server.MinecraftServer.doWorldTick(MinecraftServer.java:535)
    at me.nallar.patched.server.PatchMinecraftServer$TickRunnable.run(PatchMinecraftServer.java:634)
    at me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:4

[2013-06-01 00:08] LunNova commented on #623
Actually latest would just crash, sorry. Working now.

[2013-06-01 00:11] #625 closed, assigned to LunNova

[2013-06-01 00:18] alicheek commented on #625
one hell of a speedy fix thanks nallar :)

[2013-06-01 00:45] cjm721 opened #626 "[Question] TickProfiler"
Noticed https://github.com/nallar/TickProfiler on your build sever and was wondering what it was compared to TickThreading, IE is it just the profiling stuff from tickthreading or is it more.

[2013-06-01 00:47] LunNova commented on #626
It's just TT's `/profile [e/c]` commands as a separate, more stable mod. It also currently has one extra feature, JSON output for periodic profiling, but I'll be merging that back into TT soon.

[2013-06-01 00:47] #626 closed, assigned to LunNova

[2013-06-01 00:58] #617 closed, assigned to LunNova

[2013-06-01 01:36] alicheek opened #627 "[TT 1796, MCPC+ L38] [SEVERE] java.util.ConcurrentModificationException"
2013-06-01 01:54:50 [SEVERE] java.util.ConcurrentModificationException
2013-06-01 01:54:50 [SEVERE]    at java.util.ArrayList.writeObject(ArrayList.java:713)
2013-06-01 01:54:50 [SEVERE]    at sun.reflect.GeneratedMethodAccessor112.invoke(Unknown Source)
2013-06-01 01:54:50 [SEVERE]    at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
2013-06-01 01:54:50 [SEV

[2013-06-01 02:31] cjm721 opened #628 "[DUPE] [MCPC +31] [TT1781] AE item duplicated when pulled out."
Had a member on my server just duplicate a  canvas bag by trying to spam pull it out of a ME Chest. Been trying to replicate it but have not been able to. Also about to update the server anyways if this has been fixed.

Member that did it is trustworthy so  he is not messing with me and I saw all the duplicated bags when I pulled them out of his inventory.

[2013-06-01 06:24] Bucky420 opened #629 "IC2 INFO panels [TT1800] [MCPC+ L53]"
IC2 infopanels will face up when going from a MV world to the "world" world no errors you can replicate with FTB Ultimate.

[2013-06-01 06:25] Bucky420 opened #630 "thaumcraft Chunk errors [TT1800] [MCPC+ L53]"
2013-06-01 08:23:29 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.world.ChunkDataEvent$Load@3c002e7
2013-06-01 08:23:29 [SEVERE] java.lang.NullPointerException
2013-06-01 08:23:29 [SEVERE]    at thaumcraft.common.AuraManager.generateNodeNeighbours(AuraManager.java:111)
2013-06-01 08:23:29 [SEVERE]    at thaumcraft.common.EventHandler.chunkLoad(EventHandler.java:213)
2

[2013-06-01 08:31] JohnPark234 opened #631 "[TT1800][MCPC+53]java.lang.ClassCastException: abb cannot be cast to org.bukkit.craftbukkit.v1_4_R1.generator.NormalChunkGenerator"
2013-06-01 01:07:02 [INFO] ICBM Rejuvenation Failed!
2013-06-01 01:07:02 [SEVERE] java.lang.ClassCastException: abb cannot be cast to org.bukkit.craftbukkit.v1_4_R1.generator.NormalChunkGenerator
2013-06-01 01:07:02 [SEVERE]    at icbm.common.zhapin.ex.ExHuanYuan.doBaoZha(ExHuanYuan.java:41)
2013-06-01 01:07:02 [SEVERE]    at icbm.common.zhapin.ZhaPin.createBaoZha(ZhaPin.java:379)
2013-06-01 01:07

[2013-06-01 11:30] LunNova commented on #631
This is an MCPC+ issue, can you make an issue there?

[2013-06-01 11:30] #631 closed, assigned to LunNova

[2013-06-01 11:42] LunNova commented on #628
Can you try, on the same server without TT, to get this to happen?

This is handled in the network tick, and that is not made concurrent by TT, so I expect this could also occur without TT.

Unless you turned on concurrent network ticks in TT's config, then that would probably be the cause.

[2013-06-01 11:54] #627 closed, assigned to LunNova

[2013-06-01 12:31] CappyT commented on #628
Be aware that: Canvas Bag has a duplication glitch, quite easy to do... I don't know if you patched it or fixed it... but here's a youtube video explaining how to do this.
http://www.youtube.com/watch?v=QT9jhMHJ5tI

Hope it helps keep your server safe.

[2013-06-01 12:32] LunNova commented on #628
Previously TT patched that out, but that broke RP tweaks. Since RP tweaks fixes that, and some other issues, it's best just to install RP tweaks.

[2013-06-01 13:04] HaoSs07 opened #632 "long deadlock"
https://gist.github.com/HaoSs07/5690301

[2013-06-01 13:09] HaoSs07 commented on #632
also the deadlock seems to no longer stop the server completely ?

Attempting to recover without restarting.
2013-06-01 16:07:14 [SEVERE] [TickThreading] Failed to recover from the deadlock.
2013-06-01 16:07:14 [INFO] [STDERR] java.net.SocketException: Socket closed
2013-06-01 16:07:14 [INFO] [STDERR] at java.net.PlainSocketImpl.socketAccept(Native Method)
2013-06-01 16:07:14 [INFO] [STDERR] at ja

[2013-06-01 13:13] #632 closed, assigned to LunNova

[2013-06-01 13:35] LunNova commented on #628
Also, don't tell the user you disabled TT. I half suspect they found a different dupe bug and are trying to invent a fake issue with AE to blame it on. Maybe a bit cynical of me, but I've seen it happen before.

[2013-06-01 13:42] HaoSs07 commented on #632
fix also include the slow shutdown ?

[2013-06-01 13:49] joey19982 opened #633 "[TT1807 - MCPC+ L53] java.lang.NullPointerException at thaumcraft.common.AuraManager.generateNodeNeighbours(AuraManager.java:111)"
About 5 minutes after the server starts this starts appearing and spams the log.

2013-06-01 09:44:11 [SEVERE] java.lang.NullPointerException
2013-06-01 09:44:11 [SEVERE]    at thaumcraft.common.AuraManager.generateNodeNeighbours(AuraManager.java:111)
2013-06-01 09:44:11 [SEVERE]    at thaumcraft.common.EventHandler.chunkLoad(EventHandler.java:213)
2013-06-01 09:44:11 [SEVERE]    at net.minecraftf

[2013-06-01 13:50] LunNova commented on #632
It'll now deliberately crash the JVM if it takes more than 6 minutes to stop.

[2013-06-01 13:51] LunNova commented on #633
Duplicates #630, which I had closed as fixed but actually isn't.

[2013-06-01 13:51] #633 closed, assigned to LunNova

[2013-06-01 13:58] HaoSs07 commented on #632
ill test this next deadlock. i waited like 4-5 minutes after the deliberately crash and gamecp was seeing the server online ( query probability was still on ? )

[2013-06-01 14:04] mainsheep commented on #612
Issue was caused by Prism it seems.. Closing thread.

[2013-06-01 14:04] #612 closed, assigned to LunNova

[2013-06-01 14:04] ghost opened #634 "AE Ticking TileEntity Exception"
Occasional errors that appears from time to time, no crashes or anything however, machines continue as usual.

AE: http://pastebin.com/nvBRNXG0

[2013-06-01 14:13] #634 closed, assigned to LunNova

[2013-06-01 14:48] #579 closed, assigned to LunNova

[2013-06-01 14:48] #630 closed, assigned to LunNova

[2013-06-01 14:59] cjm721 commented on #628
@CappyT I use rptweaks to fix that. Have another 4 Dupes blocked with my plugin and like I said the player that did it is trustworthy and came to me right after it happened.

I been trying to get this to happen at all, I'll keep trying and I do keep and eye on quite a few forums and blogs that post about glitches/dupes/etc before they usually hit youtube and such.

Also I know AE been having some

[2013-06-01 15:16] floh22 commented on #623
this caused the server to crash with the newest build:

http://pastebin.com/4jLNicCB

[2013-06-01 16:47] HaoSs07 commented on #628
@nallar any chance you can fix forestry backpacks dupe like you did with canvas ? can't manage to ban them. tried like 3 different ways(including FE banlist), best thing i managed to make is to remove custom id's from the config and only let normal ores enter backpacks , and get duplicated...

[2013-06-01 16:52] alicheek commented on #628
oh god yea that would be a great one if u could fix it maybe just make it you can do shortcuts or something have to manually place the items in the bag and all that

[2013-06-01 22:01] floh22 commented on #584
i had this bug a while ago, but it seems to be fixed for me now.

[2013-06-02 01:42] joey19982 opened #635 "[TT1816 - MCPC+ L55] Continuous Crashing - Expecting to find unitialized object on stack"
Every few minutes the server automatically restarts with this error:

2013-06-01 21:29:24 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.VerifyError: (class: appeng/me/tile/TileStorageBus, method: g signature: ()V) Expecting to find unitialized object on stack
    at java.lang.Class.getDeclaredConstructors0(Native Method)
    at java.lang.Class.privateGetDeclaredConstructor

[2013-06-02 01:57] alexbegt commented on #635
oh no

[2013-06-02 02:10] #635 closed, assigned to LunNova

[2013-06-02 10:29] Nohau opened #636 "TT1817 / MCPC L57 - Deadlock"
Gist : https://gist.github.com/Nohau/5693247

Server was only able to stay up for maybe 1 min then deadlocked.

I have rolled back to TickThreading-1.4.7-1.0.0.1786.jar and seems stable at this point.

Also noticed Load raised up to pass 400% right before the deadlock failed..

[2013-06-02 10:49] floh22 commented on #636
ME storage bus seem to deadlock the server. no error yet, sorry

[2013-06-02 11:16] HaoSs07 commented on #542
closing this because does not happen anymore. probably already fixed

[2013-06-02 11:16] #542 closed, assigned to LunNova

[2013-06-02 11:16] Nohau opened #637 "TT1786 / MCPC L5[0,5,7] Routers High Tick time - Load"
Been seeing this a lot lately.

![2013-06-02_06 12 19](https://f.cloud.github.com/assets/4019875/596235/c4afcf96-cb75-11e2-9bfd-56eb1191741e.png)
![2013-06-02_06 12 22](https://f.cloud.github.com/assets/4019875/596236/c6b14504-cb75-11e2-963e-64bd9ff6a616.png)
![2013-06-02_06 12 35](https://f.cloud.github.com/assets/4019875/596237/c964e24c-cb75-11e2-80fa-da66fff13243.png)
![2013-06-02_06 12 54](htt

[2013-06-02 11:16] HaoSs07 commented on #596
so ? anything from the snapshot ?

[2013-06-02 11:21] Nohau opened #638 "TT1786 / MCPC L57 Lag Spike"
First Lag  Spike detected figured i report it just in case not sure if these should be ignored or not.

https://gist.github.com/Nohau/5693346

[2013-06-02 11:22] HaoSs07 commented on #637
can confirm this. but not sure its TT related.
Routers are in top of my lag list also when used with allot of machines. like 1 router for 30-40 machines. make huge lag

[2013-06-02 11:23] Nohau commented on #637
yea seeing the same thing a single router can create huge load but can be just a single machine as well and causes this unfortunately.

[2013-06-02 11:53] HaoSs07 commented on #637
would probably help if you made screen also with the router setup

[2013-06-02 12:45] CappyT opened #639 "MFFS begging down the server (Performance Idea)"
Hello everyone,
My server use the MFFS mod to provide protections to players... The problem is when someone turns on a big shield... the server freezes for some moments, and kicks a lot of people.
Can this action be less laggy? Cause i faced some problems also with some forcefields with insufficient energy, "blinking" and begging down the server...

Thank you again nallar for the hard work =)

[2013-06-02 13:39] LunNova commented on #596
Far too much time is being wasted in ForgeEssentials' permissions checking. If possible, swap to an alternative, maybe MyTown or MCPC+ + a bukkit protections plugin.

[2013-06-02 13:41] LunNova commented on #596
If FE has any settings for database caching try increasing the memory it can use for that.

[2013-06-02 13:44] HaoSs07 commented on #596
mcpc/bukkit protections don't work good. for example they cant stop a quary from mining your house.
ill try to remove protection module as i;m not using it anyway. they did something strange there. made protection for every item in game banned by default. and config containing huge amount of items set to true for them to work. Usually its the other way around. all true by default and only ban what

[2013-06-02 13:44] #596 closed, assigned to LunNova

[2013-06-02 15:12] CappyT opened #640 "Server Kicking all players for Failed to Handle Packet L49 TT 1816"
Randomly, the server starts to kick everyone, in every area from the server, with this stack trace: http://pastie.org/7996593

I am using TT #1816 and MCPC+ 1.4.7 L49

[2013-06-02 16:27] #619 closed, assigned to LunNova

[2013-06-02 16:27] #636 closed, assigned to LunNova

[2013-06-02 16:27] #640 closed, assigned to LunNova

[2013-06-02 16:44] alicheek opened #641 "[TT 1818, MCPC+ L38] [SEVERE] [TickThreading] Started iterating when not previously done"
[SEVERE] [TickThreading] Started iterating when not previously done
        at me.nallar.collections.ArrayListTempSetNoClear.startIteration(ArrayListTempSetNoClear.java:43)
        at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:132)
        at me.nallar.tickthreading.minecraft.tickregion.TileEntityTickRegion.doTick(TileEntityTickRegion.java:93)
        at me.nallar.tickthreading.minecraft.

[2013-06-02 17:24] HaoSs07 commented on #639
at the start i also used MFFS for protection, even if i reported a memory leak and performance got improved by allot, something like 80 %. MFFS still lags the server :)

try mytown and pex. ( ported one ) in you want a clean with good protection server

[2013-06-02 17:27] floh22 commented on #636
dealock is fixed and they are functional but i get this error spammed:

2013-06-02 19:22:24 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @812827371 in Overworld/0 at x, y, z: 102, 64, -4618
java.lang.NullPointerException
    at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:166)
    at me.nallar.tickthreading.minecraft.tickregion.TileEntityTickRegion.d

[2013-06-02 18:34] cjm721 commented on #639
In the MFFS config:

[code]

lower number means its going to place less blocks per tick ie less cpu requirement for it.

[2013-06-02 18:37] cjm721 commented on #637
I notice high load from a few routers when I use with my 256 apiary field. Happens most often when there is no available slot (assume a shortcircuit for loop ie when it finds something it stops looking). just for how the router works does several checks per block per tick it might just be doing to much more then a leak.

[2013-06-02 20:01] alicheek opened #642 "[TT 1818, MCPC+ L38] [SEVERE] [TickThreading] Started iterating when not previously done"
2013-06-02 17:39:14 [SEVERE] [TickThreading] Started iterating when not previously done
    at me.nallar.collections.ArrayListTempSetNoClear.startIteration(ArrayListTempSetNoClear.java:43)
    at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:132)
    at me.nallar.tickthreading.minecraft.tickregion.TileEntityTickRegion.doTick(TileEntityTickRegion.java:93)
    at me.nallar.tickthreading.minecr

[2013-06-02 20:08] hipy opened #643 "Server lagging, tickthreading solution?"
Hi,

My server has a lot of mods, the cpu is constantly spiking 100%+

A list of mods that I have installed:
Baconmod
Buildcraft
CompactSolars
ComputerCraft
Ender Storage Mod
Equivalent Exchange 3
ExtrabiomesXL
Factorization
IC2
IC2 Nuclear Control
Iron chests mod
Power Converters
NEI
Rei's minimap
Basic Components(UE)
Galacticraft
Easycrafting

I found out that galacticraft was the origin of the

[2013-06-02 20:14] alicheek commented on #642
sorry copy of #641

[2013-06-02 20:14] #642 closed, assigned to LunNova

[2013-06-02 20:15] alicheek commented on #641
just an update ive got 52mb of this spam in 3 hours :P

[2013-06-02 22:33] #641 closed, assigned to LunNova

[2013-06-02 23:54] LunNova commented on #448
Postponing this until 1.4.7 is, for most servers, completely stable. Freeze on any new features, unless the new feature gives a very noticeable performance increase, so (hopefully) no new bugs will be introduced.

[2013-06-02 23:56] LunNova commented on #643
See #448. 1.5 support will come once 1.4.7 is stable.

I too am unsure of why they sent you here when there is no version of TT for 1.5 yet.

[2013-06-02 23:56] #643 closed, assigned to LunNova

[2013-06-02 23:57] LunNova commented on #643
Oh, also, you may want to swap to the default texture pack while using TickProfiler, or use the default font. The tables won't line up with different fonts. Doesn't matter if it doesn't bother you.

[2013-06-03 02:59] Nohau opened #644 "TT1818 /profile c - Still NPE's"
9:57:59 PM
 CONSOLE:
[INFO] LadyDivine issued server command: /profile c 7 0
9:58:01 PM
 Prism]::
&9Bigdaddy11d7 found 3 lapis ore 26% light
9:58:05 PM
 CONSOLE:
[SEVERE] Exception in thread "TickProfiler"
9:58:05 PM
 CONSOLE:
[SEVERE] java.lang.NullPointerException
9:58:05 PM
 CONSOLE:
[SEVERE] at me.nallar.tickthreading.minecraft.commands.ProfileCommand$1.run(ProfileCommand.java:93)
9:58:05 PM

[2013-06-03 03:23] alicheek commented on #641
@nallar

on TT build 1822 and getting this now already got 6mb of spam in 3 mins :P

2013-06-03 03:51:30 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @300499158 in overworld/0 at x, y, z: 4311, 151, -412
java.lang.NullPointerException
    at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:166)
    at me.nallar.tickthreading.minecraft.tickregion.TileEnti

[2013-06-03 07:46] Tencao opened #645 "Exception ticking TileEntity c appeng.me.tile.TileStorageBus"
[SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1688301205 in anew/0 at x, y, z: 451, 84, 1556
java.lang.NullPointerException
    at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:166)
    at me.nallar.tickthreading.minecraft.tickregion.TileEntityTickRegion.doTick(TileEntityTickRegion.java:93)
    at me.nallar.tickthreading.minecraft.tickregion.TickRegio

[2013-06-03 07:47] Tencao commented on #645
From speaking to the owner of the base, he said this

I'll remove all my unconnected buses when the server recovers
Apparently it doesn't like unconnected storage buses :(

[2013-06-03 07:48] Nohau commented on #645
+1 seen this as well when the bus is not connected to the network it causes the exception.

[2013-06-03 08:10] nylser commented on #448
Awesome that this is taken on now was waiting for that for my private server ;).

[2013-06-03 08:20] CappyT opened #646 "MFFS and AE Problems"
As I said yesterday on IRC, there's a deadlock problem in TT 1818 with MFFS, as stated by this log:
https://dl.dropboxusercontent.com/u/28484809/tickthreading.2.log

(too long logs to use pastie)

Also, in build 1822 there's a problem with AE, like reported in issue #645

Here's my log, but i think it's a duplicate request.
https://dl.dropboxusercontent.com/u/28484809/tickthreading.1.log

(beware,

[2013-06-03 08:22] CappyT commented on #645
@Tencao It's nallar fault, yesterday we talked on IRC, and he tried to fix a problem with MFFS reported by me. I suggest you tu use TT 1816, it's perfect and stable in my opinion.

[2013-06-03 08:42] CappyT opened #647 "Mobs not spawning in OverWorld, Nether and End"
Not sure if TT problem or no, but I write here in case someone else had this issue.
No aggressive mobs spawning in the "Standard" worlds, only in mods worlds mobs are spawning.

Any suggestion? The difficulty is on Normal.

[2013-06-03 09:58] Puremin0rez commented on #448
Can't wait for 1.5 =) Got my server ready to go -> minus TT of course!

[2013-06-03 11:37] LunNova commented on #644
That's because it's using 7, 0 as the chunk coords, not the time and dimension.

[2013-06-03 11:42] #645 closed, assigned to LunNova

[2013-06-03 11:45] #644 closed, assigned to LunNova

[2013-06-03 11:50] #646 closed, assigned to LunNova

[2013-06-03 11:51] LunNova commented on #647
Is TT's fast mob spawning enabled in TT's config? How many players are online in the world at the time, and how many entities are already in the world?

[2013-06-03 11:58] CappyT commented on #639
@cjm721 reduce that number is a bad idea, cause the server freezes for more long time, since it must do more tick to generate a big shield. Tested. 5000 is a right number, but still freeze the server.

@HaoSs07 The problem is that my server is a free-pvp raiding, so my players MUST craft shields to protect their stuff. I don't want a faction-town based server...

[2013-06-03 12:01] LunNova commented on #639
Decreasing that number is definitely supposed to improve performance, might want to report that as an MFFS bug.

[2013-06-03 12:02] LunNova commented on #638
Caused by CC per-player chunk loaders not loading chunks asynchronously.

[2013-06-03 12:07] CappyT commented on #647
@nallar I tried to disable it, same result. Around 1400 entities... Usually, we reach 9000 entities as standard. 5 Players online. Vanilla "evil" mobs just don't spawn in the world, even it's in difficulty 2 (normal) but they can spawn in twilight forest for example.
Even in The End no enderman spawns. (the dragon have no problem)

Also, if you try to spawn a mob using a egg, the mob spawn and jus

[2013-06-03 12:08] LunNova commented on #647
Possibly the bug where mobs despawn around creative mode players.

[2013-06-03 12:10] CappyT commented on #639
@nallar well, from my tests, the lower the number, the bigger the time the server is freezed.
Try to set 500. After turning on a sphere shield, you must wait 10-15 minutes. Of course, server freezed.

[2013-06-03 12:13] CappyT commented on #647
@nallar I'll test it in Survival... but why this is not happening in the twilight forest? Also, any chance to get this bug fixed?

Edit: sorry, didn't notice the commit.. lol.

[2013-06-03 12:17] alicheek commented on #639
What you are saying is wrong 500 blocks will be generated per tick 500 blocks for the CPU to generate that is 4500 less per tick for the original settings. So think about it 5000 blocks to generate in one tick is much more intensive than 500

[2013-06-03 12:19] HaoSs07 commented on #639
if there is a bug in the time itself and not the number of blocks generated, having a lower number may make more lag then having a highter one. this needs some testing

[2013-06-03 12:20] LunNova commented on #647
That commit isn't related, if they're instantly despawning.

[2013-06-03 12:43] CappyT commented on #647
Confirmed, mobs now just despawn with a creative player within range..

[2013-06-03 13:59] alicheek opened #648 "[TT 1826, MCPC+ L38] [SEVERE] [TickThreading] Exception ticking entity iq['raycopper'/2550, l='overworld', x=3157.50, y=184.00, z=-936.50](raycopper at 3157.5,184.0,-936.5) in rX: 197, rZ: -58, hashCode: -3800891/overworld/0:"
2013-06-03 14:57:16 [SEVERE] [TickThreading] Exception ticking entity iq['raycopper'/2550, l='overworld', x=3157.50, y=184.00, z=-936.50](raycopper at 3157.5,184.0,-936.5) in rX: 197, rZ: -58, hashCode: -3800891/overworld/0:
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$EntryIterator.next(HashMap.java:880)
    a

[2013-06-03 14:00] alicheek opened #649 "[TT 1826, MCPC+ L38] [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @436863127 in overworld/0 at x, y, z: 3191, 47, -876"
2013-06-03 14:57:10 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @436863127 in overworld/0 at x, y, z: 3191, 47, -876
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:129)
    a

[2013-06-03 14:03] PhantomGamers opened #650 "Nether unloading even with ChunkLoader?"
Hi, as the title says for some reason the Nether seems to be unloading even with a chunkloader present.

Would this be related to allowWorldUnloading or cleanWorlds?
Are those to allow the game itself to unload worlds or is this something TickThreading will do itself?

Thanks in advance for any help.

[2013-06-03 14:08] Puremin0rez commented on #448
Oh god, running 1.5.2 without TT is very noticeable. I miss you TT!

[2013-06-03 14:19] PhantomGamers commented on #650
Whoops, nevermind. The issue doesn't seem related to TickThreading. My apologies!

[2013-06-03 14:19] #650 closed, assigned to LunNova

[2013-06-03 15:06] CappyT commented on #639
@alicheek read what @HaoSs07  said, is what I mean. The problem is not the CPU load, but the time the server it gets freezed.

[2013-06-03 15:15] CappyT opened #651 "Players get kicked randomly"
Some players went kicked randomly from the server for Failed to handle packet.
Happens on TT 1826 MCPC+ L49

Here is the error log: http://pastie.org/8000870

[2013-06-03 15:48] joey19982 commented on #651
Yep, same issue here. TT1826 and MCPC+ L59

[2013-06-03 16:02] alicheek commented on #651
yea ive got a few people complaining about this

[2013-06-03 16:12] Nohau commented on #647
TT Has always done this and it was called a feature in the past lol

[2013-06-03 16:14] alicheek commented on #639
@CappyT  did the test with 500 ur right the server gets bogged down people get disconnected as well , big lag spikes occur

[2013-06-03 16:17] alicheek opened #652 "[TT 1826, MCPC+ L38] [SEVERE] [TickThreading] Failed to handle packet from canadiangirl1"
[SEVERE] [TickThreading] Failed to handle packet from canadiangirl1
java.util.EmptyStackException
    at java.util.Stack.peek(Stack.java:102)
    at java.util.Stack.pop(Stack.java:84)
    at chb.mods.mffs.network.server.ForceFieldServerUpdatehandler.tickEnd(ForceFieldServerUpdatehandler.java:46)
    at me.nallar.tickthreading.util.WrappedScheduledTickHandler.tickEnd(WrappedScheduledTickHandler.jav

[2013-06-03 16:18] HaoSs07 commented on #639
can u also test using . lets say 10.000 blocks /t ?

[2013-06-03 16:20] alicheek commented on #639
cant do it atm, would have to restart the server and 80 people would be raging at me! maybe some one else can have a go?

[2013-06-03 16:24] HaoSs07 commented on #639
to bad he did not put any config for max FF dimension, fixed shape. and thinks like that . i had to ban MFFS when 1 player made max size FF and killed the server :)

[2013-06-03 21:17] CappyT commented on #652
Think is duplicated of #651

[2013-06-03 22:03] LunNova commented on #647
I was joking when I called it a feature, still not sure what causes it. Seems to be some odd interaction with NEI.

[2013-06-03 22:18] Nohau opened #653 "TT1826 profile c still no worky"
Also to note no matter what you type in as for cordinates it always says the wrong cordinates  below screenshot :

![2013-06-03_17 16 46](https://f.cloud.github.com/assets/4019875/602439/59f1264c-cc9b-11e2-9e4b-b5c0935da38b.png)

The error without cords :

5:14:41 PM
 CONSOLE:
[INFO] Nohau issued server command: /profile c
5:14:47 PM
 CONSOLE:
[SEVERE] Exception in thread "TickProfiler"
5:14:47 PM

[2013-06-03 22:21] Nohau commented on #653
Yes @Nallar you can blow me up on a test server if you want to after i keep reporting issues on profile c :P MIght stand up a server just so you can place a nuke near me lol!

[2013-06-03 22:25] Nohau commented on #647
Yea i know thus the lol :)

[2013-06-03 22:25] LunNova commented on #653
It uses chunk coordinates, not block coordinates. NPE is still an issue,

[2013-06-03 22:25] #653 closed, assigned to LunNova

[2013-06-04 05:06] alicheek opened #654 "[TT 1826, MCPC+ L38] [SEVERE] [TickThreading] The server appears to have deadlocked."
http://pastebin.com/773Gjdjz

[2013-06-04 13:10] #648 closed, assigned to LunNova

[2013-06-04 14:19] floh22 opened #655 "Jenkins Problems?"
recently i have been having trouble downloading Tickthreading. a single download takes about 20 minutes. anyone else having this problem? everything else on the internet is fine.

edit: now its not downloading all...

[2013-06-04 14:29] LunNova commented on #655
Fixed now?

[2013-06-04 14:31] floh22 commented on #655
still slow but its downloading at a decent speed. the dl takes one minute.. a week ago it took 5 seconds :p dont worry though, its fine

[2013-06-04 14:38] floh22 opened #656 "[TT # 1830] Server Deadlock"
the server almost starts up normally, then just doesnt respond:

http://pastebin.com/nsF7rSDW

[2013-06-04 14:42] HaoSs07 commented on #655
it think is from you. works good for me. download in under 1 sec.

[2013-06-04 14:45] floh22 commented on #655
odd. everything else works just fine

[2013-06-04 14:59] floh22 commented on #656
confirmed to not happen without tick threading

[2013-06-04 16:56] CappyT commented on #647
Update on this bug. In the Nether and The End, mobs are spawning correctly. When you hit them in both survival or creative, they simply disappear.
TT fast mob spawning off.

[2013-06-04 17:17] wormzjl opened #657 "[TT 1830, MCPC+ L61]Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1997016515 in Capp/0 at x, y, z: 1112, 58, 1482 java.util.ConcurrentModificationException"
Getting a lot of these on server start
2013-06-04 19:14:59 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1997016515 in Capp/0 at x, y, z: 1112, 58, 1482
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(Unknown Source)
    at java.util.ArrayList$Itr.next(Unknown Source)
    at appeng.me.tile.TileStorageBus.g(Til

[2013-06-04 17:51] HaoSs07 commented on #652
no is not. here we have a canadiangirl , you have DrMale. girls win.so your report its a duplicate of this.

[2013-06-04 21:54] LunNova commented on #656
This is actually a BC bug (now fixed), not sure why TT is making it more likely to happen. I'll try to include the fix as a patch.

[2013-06-05 03:10] cjm721 opened #658 "[MCPC 31] [TT 1830] profile e not working as intended"
When I do /profile e 7 7 to do a profile in world 7 (twilight for me) it says profiling for 7 seconds in twilightforest/7 but the list of single entity it gives me is showing the location of tile entities in different worlds (but not saying what world they are in either, found out because coords matched my ME system). The Chunk time per tick is also doing the same.

the Entities type though seems

[2013-06-05 03:25] cjm721 opened #659 "[MCPC 31] [TT 1830] Firefly (twilight forest) crash"
2013-06-04 23:24:55 [SEVERE] [TickThreading] Exception ticking TileEntity c twilightforest.tileentity.TileEntityTFFirefly @2108704658 in twilightforest/7 at x, y, z: -3838, 34, -13807
java.lang.ArrayIndexOutOfBoundsException: 25
    at java.util.ArrayList.add(ArrayList.java:379)
    at yc.c(World.java:1787)
    at in.c(WorldServer.java:1172)
    at twilightforest.tileentity.TileEntityTFFirefly.doF

[2013-06-05 06:03] swarmski opened #660 "Console spam"
Since updating to the new tickthreading version, it seems that reporting is moved to the console...which in turn is spamming up my logs.  Is there a way to turn this feature off, or rather can you see whats happening with the logs?

<example 1>

[SEVERE] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileTeleportEnergy @1722496667 in Overworld/0 at x, y, z: 666, 57, 3389
java

[2013-06-05 09:22] mainsheep opened #661 "[TT 1826, MCPC L60] High ticks from area 0 0 again"
Restart of the server removes the problem temporary. After a couple of hours, the problem is back.

[2013-06-05 10:11] wormzjl commented on #649
Didn't see this one...
https://github.com/nallar/TickThreading/issues/657

[2013-06-05 10:34] xiph3r opened #662 "[WARNING] [TickThreading] Tried to set invalid block ID"
2013-06-05 06:04:33 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-06-05 06:04:36 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.VersionCheckTickHandler@16dffda7
2013-06-05 06:04:47 [INFO] [TickThreading] Threading initialised for world Twilight Forest/7

[2013-06-05 12:22] #657 closed, assigned to LunNova

[2013-06-05 12:26] LunNova commented on #661
When this happens, what does `/profile c 0 0` show?

[2013-06-05 12:26] #655 closed, assigned to LunNova

[2013-06-05 13:17] mainsheep commented on #661
TPS: 18.703598
                Single Entity | Time/Tick |      %
    EntityPassengerSeat 0,0,0 |     0.001 | 49.306
projectile.EntityArrow 0,35,0 |     0.001 | 28.472
projectile.EntityArrow 0,74,0 |     0.000 | 22.222
Chunk | Time/Tick |       %
 0, 0 |     0.002 | 100.000
  All Entities of Type | Time/Tick |      %
projectile.EntityArrow |     0.001 | 50.694
   EntityPassengerSeat |     0.001 |

[2013-06-05 13:35] floh22 commented on #656
you are amazing. i had to reset the map now though since i was trying to fix it and then corrupted the world with chicken chunks. amazing....

[2013-06-05 15:41] #659 closed, assigned to LunNova

[2013-06-05 15:53] #661 closed, assigned to LunNova

[2013-06-05 18:03] cjm721 commented on #628
Ok I was finally able to recreate it. I used my Logitech G13 to click extremely fast (80+ clicks per second) and was able to duplicate items. Not 100% about 1/10 attempts worked. Have to be careful at least with using my method as the java buffer gets filled extremely fast.

From testing in single player have not been able to recreate it. Also from talking again to that player he was stating it se

[2013-06-05 18:11] LunNova commented on #628
Confirmed not to be a TT bug then, in single player? Report it to algo, although it might already be fixed as you're stuck on an old AE version.

[2013-06-05 18:20] cjm721 commented on #628
@nallar I was not able to do the dupe in singleplayer. It is hard to get it to work even in multiplayer with TT so it is by no means 100%, but I was able to replicate it twice in 10 minutes. As for multiplayer server without TT I have not been able to do it, my game just crashes from overload.

[2013-06-05 18:23] LunNova commented on #628
Intentionally kill the TPS on a normal server and try to get it to happen, this will make it easier to get the removals processed on the same network tick.

[2013-06-06 05:46] Charredspear opened #663 "Crash on First Install"
**Background:** First time user; was hoping to get this installed client side- then upload the data to my hosted server (and potentially use it client side- way too many mods / entities in my base as it stands, and would love a some more tps localization).

**Modpack:** FTB Direwolf20 1.4.7+ BetterDungeons, ArsMagica, DynamicElavators, EnchantingPlus, gregtech(290h)

**Outside Influences:** Was us

[2013-06-06 06:08] cjm721 commented on #663
As far as I know it Tickthreading is not made to be ran in single player yet and is just for servers (said someone on the forums). If you want to just test it out I would suggest getting MCPC+ then installing Ticktreading and copying over your world file to it and then connect to it as a local server.

[2013-06-06 13:03] LunNova commented on #663
As @cjm721 points out, TT is not currently for clients. I may be releasing another coremod which should help with FPS, even if TT did work on clients the benefit would be small as tile/entity ticks are not normally too slow on clients.

[2013-06-06 15:51] alicheek opened #664 "[MCPC 66] [TT 1834] IC2 issues and Quantum generator issue"
Ok don't seem to have any error logs for this but for the IC2 issue whats wrong is that if one of my players try to remove a IC2 machine with a wrench nothing will happen, now if I do it though it works fine with no hassle what so ever, there is also issues where the info boards are not in the right direction an the text wont show of course, this has happened before when we had the early concurren

[2013-06-06 15:53] #663 closed, assigned to LunNova

[2013-06-06 21:06] #658 closed, assigned to LunNova

[2013-06-06 21:28] EricSihaoLin opened #665 "Plugin Problems"
After finally installing the TickThreading plugin, I was disappointed to find that most of my plugins that involves block interaction has sadly broken...

https://gist.github.com/sihao387/5725118

[2013-06-06 21:28] LunNova commented on #665
See the mod compatibility page, grief prevention requires world unloading to be disabled in TT's config.

[2013-06-06 21:29] #665 closed, assigned to LunNova

[2013-06-06 21:43] alicheek commented on #664
back on 1822 and every thing is working fine again

[2013-06-07 00:28] cjm721 commented on #664
I am running MCPC 31 and TT 1834 also, but I am not having these issues. Both info panels work fine and quantum generator also works fine.

[2013-06-07 00:29] alicheek commented on #664
may be something to do with L66 then but weird thing is its working fine now since I went back to TT 1822

[2013-06-07 04:10] RandyF opened #666 "[TT] Crash at Startup"
Possibly related to mod headers?  Null pointer?

Pasted: http://pastebin.com/AMrL67Qs

[2013-06-07 04:12] RandyF commented on #666
Hmm... Issue #666.  Sorry about that!

[2013-06-07 11:28] alicheek commented on #664
ok same thing is happening with TT 1822 now seems to be a MCPC issue

[2013-06-07 11:31] doctruscott opened #667 "TT stopping mining turtles"
I have noticed a issue where i have a mining turtle set up and its working fine untill i leave for a extended time, the area is chunk loaded ( chicken chunkloaders ) but the turtle will stop and go from a mining turtle to a normal turtle. i have disabled world unloading via
 # Whether worlds should be allowed to unload.
    B:allowWorldUnloading=false
and

   # Whether to clean worlds on unload -

[2013-06-07 13:41] Tencao opened #668 "Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileConduitLiquid"
[SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileConduitLiquid @1484354765 in anew/0 at x, y, z: 1673, 81, 727
java.lang.NullPointerException
    at thermalexpansion.transport.LiquidTankGrid.fill(LiquidTankGrid.java:86)
    at thermalexpansion.transport.tileentity.TileConduitLiquid.fill(TileConduitLiquid.java:647)
    at thermalexpansion.core.Utils.

[2013-06-07 18:02] LunNova commented on #656
You don't keep backups? :(

[2013-06-07 19:04] LunNova commented on #664
Can you check if it happens with MCPC+ L66 without TT?

[2013-06-07 20:40] LunNova commented on #662
Towny's trying to do something stupid - restore a changed plot to an old version with IDs which no longer exist?

I can't disable the warning, as it may mean that something has gone badly wrong. In this case, it just looks like towny did something odd, but it probably won't break anything, and should be ignored.

If it's constantly spamming this then something's a bit more broken, comment if that'

[2013-06-07 20:40] #662 closed, assigned to LunNova

[2013-06-07 21:17] #656 closed, assigned to LunNova

[2013-06-07 21:17] #660 closed, assigned to LunNova

[2013-06-07 22:48] cjm721 opened #670 "[MCPC +31] [TT 1836] Build-Craft pipes not recognizing Inventories"
Visually they are connecting but will not enter the inventory just spit out into the air.

Reverted Back to 1835 and pipes work correctly again.

[2013-06-07 22:49] #670 closed, assigned to LunNova

[2013-06-08 00:18] dezil opened #671 "hoppers putting items in incorect slots in machines"
updated from 1740ish to 1838 today and hoppers have gone crazy just fill every available slot in a machine have tried with tick threading uninstalled and issue is resolved

cheers Dez

[2013-06-08 00:29] #671 closed, assigned to LunNova

[2013-06-08 00:34] alicheek commented on #664
its now doing it on version of TT 1839 and MCPC L61

[2013-06-08 00:59] alicheek commented on #664
ill try to see if its fine with out TT , does seem to be that this occurs over time and not straight away its strange, it just reminds me when ever I tried turning on concurrent network ticks , most IC2 items like solar panels would no longer be facing up to the sun and the info panels wouldn't be connecting together or be in the right direction and the foam blocks would become invisible when a wi

[2013-06-08 01:00] cjm721 commented on #664
And I have started to notice some strange things also. Randomly players could not use a minion stone to craft. Restart fixed the issue but it was not happening when the server started.

[2013-06-08 01:07] alicheek commented on #664
ah yea we have that issue also

[2013-06-08 01:36] ThuGie opened #672 "Problem with chunks ?"
2013-05-24 20:03:27 [SEVERE] java.lang.Exception
2013-05-24 20:03:27 [SEVERE]    at zz.a(Chunk.java:1095)
2013-05-24 20:03:27 [SEVERE]    at yc.a(World.java:3296)
2013-05-24 20:03:27 [SEVERE]    at com.xcompwiz.mystcraft.block.BlockWritingDesk.g(BlockWritingDesk.java:230)
2013-05-24 20:03:27 [SEVERE]    at zz.a(Chunk.java:406)
2013-05-24 20:03:27 [SEVERE]    at yc.a(World.java:763)
2013-05-24 20:0

[2013-06-08 01:37] ThuGie opened #673 "GriefPrevention problem."
2013-06-08 02:08:19 [SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.2
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:363)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
    at org.bukkit.plugin.SimplePluginManager.fireEvent(SimplePluginManager.java:477)
    at org.bukkit.plugin

[2013-06-08 01:38] alicheek commented on #672
pretty sure that one is already fixed just use latest

[2013-06-08 01:38] LunNova commented on #672
Set mcpc.warn-place-no-tile-entity to false in your MCPC+ config.

[2013-06-08 01:38] #672 closed, assigned to LunNova

[2013-06-08 02:41] cjm721 commented on #664
I forgot to mention Running MCPC 31 TT 1834/1837

[2013-06-08 02:57] alicheek opened #674 "[MCPC 61] [TT 1839] [SEVERE] [TickThreading] Failed to handle packet from unknown"
2013-06-08 03:54:16 [SEVERE] [TickThreading] Failed to handle packet from unknown
java.io.IOException: Received string length longer than maximum allowed (7680 > 16)
    at ef.a(Packet.java:240)
    at cy.a(Packet2ClientProtocol.java:33)
    at ef.a(Packet.java:175)
    at cg.i(TcpConnection.java:325)
    at cg.readNetworkPacket(TcpConnection.java:71)
    at ch.run(ReplaceTcpReaderThread.java:22)

[2013-06-08 03:20] alicheek opened #675 "[MCPC 61] [TT 1839] Jason profiler :profiler.txt doesnt seem to be structured properly?"
If you open up the .txt file with notepad ++ its just all in one line it seems so is a bit hard to read.

[[{"%":"3.606","Time/Tick":"4.092","Single Entity":"gadgets.TileGearbox 2024,60,1995"},{"%":"1.820","Time/Tick":"2.066","Single Entity":"TileLogicPointer 679,81,-1270"},{"%":"1.620","Time/Tick":"1.838","Single Entity":"gadgets.TileGearbox -2575,73,-2846"},{"%":"0.545","Time/Tick":"0.619","Sing

[2013-06-08 03:23] alicheek commented on #675
{Time/tick":"0.037","Average Entity of Type":"silicon.TileLaser","Calls":"15983"}

Also does that look right seems quite a lot of calls (don't know much about these things though)?

[2013-06-08 03:57] Nohau commented on #675
That is valid JSON  if that is what you mean you can check by doing a google search for json validators and formators which make it easier to read.

I just checked it  in : http://jsonlint.com/

[2013-06-08 10:23] LunNova commented on #675
It's not supposed to be human readable, this is for if you want another program to be able to read the profiling data from TT.

[2013-06-08 10:23] #675 closed, assigned to LunNova

[2013-06-08 10:29] Tencao opened #676 "Unhandled exception in worker thread entities"
2013-06-08 09:30:07 [SEVERE] [TickThreading] Unhandled exception in worker thread En                                                                                                                                                         tities in anew/0 - 1
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
        at java.util.A

[2013-06-08 10:30] LunNova commented on #676
Which TT build?

[2013-06-08 10:31] Tencao commented on #673
This can be fixed by disabling cleanworlds
    B:cleanWorlds=false

[2013-06-08 11:10] Tencao commented on #676
1834

[2013-06-08 13:23] ThuGie commented on #673
I think you are right, i noticed it happened when people where going to the twighlight forest.
Disabled cleanWorls like you said and its gone!

Wont this have any bad effects though ?

[2013-06-08 14:12] Tencao commented on #673
It will have some, but nothing regular restarts cant fix

[2013-06-08 14:56] geoffcorey opened #677 "Build 1841: Warning patching appeng-rv9-i"
Patching Ultimate 1.0.1 + appeng-rv9-i.zip  FlatBedrock-1.0.3-16.jar  MineFactoryReloaded-2.3.2-287.jar  mystcraft-uni-1.4.7-0.10.1.00.zip  NetherOres-2.0.6-33.jar  PowerConverters-2.2.2-30.jar

Few warnings in the patch log.   Only one that looked like it might cause odd issues is AE resetCache() method not found.   Could be nothing just want to report it.

https://gist.github.com/geoffcorey/21a6

[2013-06-08 15:11] geoffcorey opened #678 "Build 1841: Turtle loses it label, pickaxe, fuel and program"
After 44 blocks of movement the turtle loses it label, pickaxe, fuel and program

while true do
    sleep(0.5)
    turtle.forward()
end

[2013-06-08 15:21] ThuGie commented on #673
OH,
Well i don't really plan to restart the server daily, perhaps once a week but not more then that.
Currently still having random shutdowns.. gota find the cause, though this was the cause but it seems not.

[2013-06-08 15:21] #673 closed, assigned to LunNova

[2013-06-08 19:25] ThuGie opened #679 "Random shutdown."
Hey guys,

I keep getting random shutdowns in my server.
Error is different each time.

In my eyes you guys are the fix it all guys with this plugin :$
As i aint sure what the problem is i hope you guys dont mind me posting this here in the hope you guys can solve it.

its to big so here :) http://pastebin.com/MJy0436e
updated TickThreading and MCPC-Plus(L66) to latest version both.
Using extra bu

[2013-06-08 19:30] LunNova commented on #679
Update your JRE. Looks like java is crashing hard when trying to start computercraft threads, and an outdated java is a likely cause. Few things can cause hard crashes.

[2013-06-08 19:30] #679 closed, assigned to LunNova

[2013-06-08 19:55] xiph3r commented on #662
i didnt know what was causing it but when u said townys i cleared the regen.txt  in /towny/settings/data/  and no more errors. thanks for pointing me int he right direction. LOVE YOUR MOD!!!

[2013-06-08 20:44] xiph3r opened #680 "Another issue pops up"
hopefully you can point me in the right direction again nallar,

 [SEVERE] java.lang.NullPointerException
 [SEVERE]   at thaumcraft.common.AuraManager.generateNodeNeighbours(AuraManager.java:111)
 [SEVERE]   at thaumcraft.common.EventHandler.chunkLoad_sync0(EventHandler.java:213)
 [SEVERE]   at thaumcraft.common.EventHandler.chunkLoad(EventHandler.java)
 [SEVERE]   at net.minecraftforge.event.ASME

[2013-06-08 21:12] ThuGie commented on #679
I did as you said and within a half hour or so it happened again
http://pastebin.com/jcjA7uki

Really not sure what the problem is as you can see it should be latest java now.
Any help is good :p.

I would even give you root access if you think you can fix it.
Currently the players are leaving cause of the often crashing.

[2013-06-08 21:16] #380 closed, assigned to LunNova

[2013-06-08 22:41] xiph3r opened #681 "Unhandled exception in worker thread Entities"
2013-06-08 15:43:17 [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Hyrule/339 - 2
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at me.nallar.tickthreading.minecraft.TickManager.fixDiscrepancies(TickManager.java:589)
    at me.nallar.tickthread

[2013-06-08 22:55] dezil opened #682 "console spam"
getting this message on all the storage buss' on the map basically spams every second

2013-06-08 16:47:06 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @331199158 in Overworld/0 at x, y, z: 314, 64, 497
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(Arra

[2013-06-09 04:22] cjm721 opened #683 "[MCPC +31] [TT 1740+] Unable to start server."
I have not had time to update to new MCPC (require world folder rework) which is why I assume I got this.

https://gist.github.com/cjm721/5737627

[2013-06-09 07:48] solomon56 opened #684 "[TT 1840] Exception ticking TileEntity c appeng.me.tile.TileStorageBus"
2013-06-09 00:46:52 [INFO] [TickThreading] Threading initialised for world Nexus/8
2013-06-09 00:46:53 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @2125499273 in Overworld/0 at x, y, z: -340, 73, 137
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
        at java.util.ArrayList$Itr.nex

[2013-06-09 11:03] HaoSs07 opened #685 "Entities not ticked in worlds with no players"
As title says

[2013-06-09 16:01] LunNova commented on #685
Worlds with chunk loaders should not be unloaded, I'll add a check for that.
On 9 Jun 2013 12:03, "HaoSs07" notifications@github.com wrote:

[2013-06-09 16:55] HaoSs07 commented on #685
it does not actualy unload the world.made a mistake there. but when i had worldunload on false. all things in nether worked . but now when its back on,if the player leaves nether, they do not. but the world remains listed under /tps

[2013-06-09 17:26] alicheek commented on #684
Duplicate of #649

[2013-06-09 19:54] ThuGie opened #686 "Unhandled exception in worker thread Entities in Overworld/0 - 4"
[SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 4
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(Unknown Source)
        at java.util.ArrayList$Itr.next(Unknown Source)
        at me.nallar.tickthreading.minecraft.TickManager.fixDiscrepancies(TickManager.java:589)
        at me.nallar.tickthreading.minecra

[2013-06-09 19:55] LunNova commented on #686
Duplicate of #676

[2013-06-09 19:55] #686 closed, assigned to LunNova

[2013-06-09 19:55] #684 closed, assigned to LunNova

[2013-06-09 20:19] darkdeath1332 opened #687 "Teleportation Bugs"
Im using MCPC with TickThreading, both latest versions.

When I dont turn B:antiCheatNotify=false Then it will spam me with eveyone speedhacking or movement hacks.

Now I have it false so it wont spam me, but when I tp over a lond distance like /tpa or /spawn it will move me quickly trough the old and the new posistion. It stopts after an couple seconds.

It still does the same but only doesnt sen

[2013-06-09 20:26] alicheek commented on #687
yea this is something that has been around in TT for quite a while now when u tp to a position u spaz from the new pos to the old one never really thought anything about it but I suppose its not something that really should not occur

[2013-06-09 20:27] alicheek commented on #675
What program what I use to read the profiling data? :)

[2013-06-09 20:28] LunNova commented on #675
If you want human readable data, just don't set that to true.

[2013-06-09 20:29] alicheek commented on #675
ah ok

[2013-06-09 20:30] #683 closed, assigned to LunNova

[2013-06-09 20:35] darkdeath1332 commented on #687
Its really annoying my players, and when it really drops my TPS

[2013-06-09 20:35] darkdeath1332 commented on #687
Oops wrong button...

[2013-06-09 20:41] darkdeath1332 opened #688 "TPS command"
I have worldedit, worldguard for /lag but it shows 2 diffrent things.

First one is from /lag
Second is the command /tps

Screenshot:
![image](https://f.cloud.github.com/assets/3824354/629363/fc5eadac-d144-11e2-9de6-c6dd02664799.png)

[2013-06-09 21:00] cjm721 commented on #688
As a side note that is not the tps command from tickthreading. Its from a plugin. I had to go into the tickthreading config and change the command to ttps so I could use it.

[2013-06-09 21:01] cjm721 commented on #687
From a previous report @nallar mentioned all that is doing is taking the vanilla notify and tells ops.

[2013-06-09 21:10] LunNova commented on #678
Did a warning about fixing entity list discrepancies pop up in console when this happened? Was it on a chunk boundary when this happened?

[2013-06-09 21:27] Konman156 opened #689 "Dynmap+Tickthreading"
My Map keeps going black when rendering. Any fix for this? im using 1.7

[2013-06-09 21:30] LunNova commented on #688
I have no idea which one is correct, I made neither of those commands. Use TT's TPS command, it should be correct.

[2013-06-09 21:30] #688 closed, assigned to LunNova

[2013-06-09 21:31] doctruscott commented on #678
this is the same thing that happens to me, im on 1840 chunks are loaded with chunk loaders and it still loses its items and reverts to a regular turtle and stops moving.

[2013-06-09 21:57] Nohau commented on #688
That right there is the /gc command and most versions like mcpc+ it has it's own ttps command whic TT doesn't override the way you get it working is change TT's config file  for tps command to something else.

[2013-06-09 23:08] cjm721 commented on #414
Got this this to happen on demand now. Built a huge ME system to test #628 and noticed that the glass fiber cable I had coming from 8 ultimate hybrids and the glass fiber disappeared. Just sitting it uses 878 units / t and happens within a minute of placing the cable.

[2013-06-09 23:18] cjm721 opened #690 "[MCPC +31] [TT 1845] Quarry + Tesseract Combo"
Is not constant but semi often. Also when I start seeing these their load in profile e goes way up.

[2013-06-09 23:24] #677 closed, assigned to LunNova

[2013-06-10 00:20] krim404 opened #691 "Chunkloading still not working #1843"
All chunkloaders are not working on the latest version. No errors - just not working.
Tested with: ChickenChunks, Railcraft WorldAnchors

[2013-06-10 04:16] alicheek opened #692 "[MCPC +67] [TT 1852] [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileConduitLiquid @274041777 in overworld/0 at x, y, z: -202, 36, 3488"
[SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileConduitLiquid @274041777 in overworld/0 at x, y, z: -202, 36, 3488
java.lang.NullPointerException
    at thermalexpansion.transport.tileentity.TileConduitLiquid.extractLiquid(TileConduitLiquid.java:599)
    at thermalexpansion.transport.GridLiquid.transferLiquid(GridLiquid.java:238)
    at thermalexpa

[2013-06-10 12:10] alicheek commented on #691
I haven't got this issue and I'm on the latest TT

[2013-06-10 12:30] HaoSs07 commented on #685
hmm seems nether with no players still wont work. sory cant give you more info.dont have time to make more tests. i have exams. only report what players tell me...

[2013-06-10 14:18] LunNova commented on #691
Also unable to get this to happen.
On 10 Jun 2013 13:10, "Alistair" notifications@github.com wrote:

[2013-06-10 14:53] alicheek commented on #664
just a little update im on  MCPC L67 TT 1852 , this issue is still occurring, it doesn't happen straight away though; it seems to be over a period of time the server is on then some blocks will not be facing the right way.

Here are some pics:

As you can see here the solars to my right are fine (they are ones ive just placed then) the ones to my left were like this but when you go to another plac

[2013-06-10 15:17] Apallo opened #693 "Severe Exceptions"
These seem to happen randomly.

13:03:55 >2013-06-10 14:04:26 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileTeleportEnergy @1045210022 in Overworld/0 at x, y, z: 5130, 23, 720
13:03:55 java.util.ConcurrentModificationException
13:03:55 at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
13:03:55 at java.util.HashMap$KeyIterator.next(Has

[2013-06-10 15:30] LunNova commented on #693
What build is this on?

[2013-06-10 16:20] cjm721 opened #694 "[MCPC +31] [TT 1852] NPE On world save."
In my personal plugin I made a auto save every 10 minutes (probably now redundent with TT's) during some of the saves I get this message. All my plugin does is run the save-all command in console.

[2013-06-10 17:24] LunNova commented on #694
Just xycraft being bad, it has issues :P

There should be no need for running /save-all, TT ensures that changed chunks are saved within a few minutes.

[2013-06-10 18:46] Apallo commented on #693
TickThreading-1.4.7-1.0.0.1845

[2013-06-10 18:48] darkdeath1332 opened #695 "disconnect.overflow"
My server had yesterday 80 poeple online without any problems, since today alot of players get disconnected with: 'disconnect.overflow'. Now most of my players can even play.

This is my network status:
![image](https://f.cloud.github.com/assets/3824354/633415/45670a30-d1fe-11e2-8cb3-437d3f870327.png)

[2013-06-10 18:52] darkdeath1332 commented on #695
ZollieXavier lost connection: disconnect.overflow

[2013-06-10 19:19] alicheek opened #696 "[MCPC +67] [TT 1852] [SEVERE] [TickThreading] Exception ticking entity iq['peethimself'/2023048, l='overworld', x=3107.68, y=63.00, z=1379.90](peethimself at 3107.681792056792,63.0,1379.898476478032) in rX: 194, rZ: 86, hashCode: 5636290/overworld/0:"
[SEVERE] [TickThreading] Exception ticking entity iq['peethimself'/2023048, l='overworld', x=3107.68, y=63.00, z=1379.90](peethimself at 3107.681792056792,63.0,1379.898476478032) in rX: 194, rZ: 86, hashCode: 5636290/overworld/0:
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$EntryIterator.next(HashMap.java:880)

[2013-06-10 19:52] cjm721 commented on #694
I had the auto save before I installed TT, I should probably just remove it now anyways. Thanks for the info.

[2013-06-10 20:51] #696 closed, assigned to LunNova

[2013-06-10 20:52] LunNova commented on #695
Use aPerf to find the problem, looks like a mod has broken and is spamming packets.

[2013-06-10 21:27] cjm721 opened #697 "[MCPC +31] [TT 1852] Chance to get kicked on opening arcane worktable."

[2013-06-10 21:28] xiph3r commented on #680
Seems to be fixed in the new TT build thanks

[2013-06-10 21:28] #680 closed, assigned to LunNova

[2013-06-10 21:29] LunNova commented on #697
This happens with all arcane worktables?

Can you find the exact build this started on? It's an odd issue. :(

[2013-06-10 21:29] #694 closed, assigned to LunNova

[2013-06-10 21:31] cjm721 commented on #697
Ya I am kinda confused what caused this, but had three players all getting kicked by it. This is the first time I seen it happen as my plugin has notify for arcane work tables and never seen any issues with people opening them before.

[2013-06-10 21:31] xiph3r commented on #681
seems to be fixed with the newest builds of TT and MCPC

[2013-06-10 21:31] #681 closed, assigned to LunNova

[2013-06-10 21:33] LunNova commented on #695
Going to add profiling for this to TT, as aPerf can't be used with MCPC+.

[2013-06-10 21:39] darkdeath1332 commented on #695
Awesome, also try to fix the TP bugs. The TP bugs are not happening when I dont have TT installed.

[2013-06-10 21:40] cjm721 commented on #697
Ok I think I narrowed it down. Crafting Tinker Table using gregtech recipies (I had to manually add the recipies https://github.com/cjm721/GregRecipies) so the client can't see the crafting. Tried the other recipies and they work fine. I will look at my code and see if I can figure out why also now that it seems to be in part due to my plugin.

Here I tried with default crafting bench:

[2013-06-10 21:45] xiph3r opened #698 "generateAuraNode NPE spam, groupEntities NPE."
Using MCPC+ L67 build & TT build 1852

getting these errors but there not being logged anywhere, I checked forgemodserver.log, serverlog, tickthreadinglogs,

so i included a pic of the error
![screenshot from 2013-06-10 17 38 21](https://f.cloud.github.com/assets/4541235/634376/0ff38ce2-d218-11e2-8974-e118dd1039f0.png)

[2013-06-10 21:46] cjm721 commented on #697
Tracked it down I miss typed an item id in my config 727 != 725.

[2013-06-10 21:46] #697 closed, assigned to LunNova

[2013-06-10 22:26] LunNova commented on #698
Probably broken world lists - check TT's log file for any errors including "Worlds in dimensionManager:", and paste the error if it's there.

[2013-06-10 23:34] xiph3r commented on #698
i did a complete reboot and this is what the logs have

tickthreading.log   http://pastebin.com/XsiWfRve
server.log             http://pastebin.com/AEsV1REH

[2013-06-10 23:36] xiph3r commented on #698
another screenshot

![screenshot from 2013-06-10 19 35 18](https://f.cloud.github.com/assets/4541235/634786/8bb2e842-d226-11e2-9bd6-31dcd9091c6f.png)

[2013-06-11 00:18] LunNova commented on #698
First issue from the tickthreading.log file is fixed, will look at the others tomorrow.

[2013-06-11 00:31] LunNova commented on #695
Partially implemented the profiling in latest, using `/profile p`. Haven't had time to make it split up 250CustomPayload packets, so all mod packets will be grouped together as 250CustomPayload.

This probably means that it is not yet useful for finding which mod is causing your problem, will have that done tomorrow.

[2013-06-11 00:42] xiph3r commented on #698
thanks, dont kill yourself ive noticed you been coding all day on jenkins, take a day or two to yourself. Im sure we all appreciate your dedication to this wonderful mod :) you should relax and chill to :)

[2013-06-11 02:17] Konman156 commented on #689
Any ideas?

[2013-06-11 07:39] Kusinagie opened #699 "Build-1859 Tools not working"
Certain tools like the diamond drill(ic2),chainsaw,at least two of the pickaxes from twilightforest( i think the steeleaf and fiery)

Best i can describe it would be the picks gets one hit on a block then the hit count gets reset, so every hit is the first hit it never progresses.

I know the ic2 chainsaw didn't work either (same description) i have yet to test any other tools like shovels or axes

[2013-06-11 09:16] mainsheep opened #700 "[TT 1859, MCPC L67] [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionNoClassDefFoundError"
Server randomly crashes.

[2013-06-11 09:30] mainsheep opened #701 "[TT 1859, MCPC L67] [SEVERE] java.lang.Exception"
These is spammed into the console from time to time.

04:28:46 [SEVERE] java.lang.Exception
04:28:46 [SEVERE]       at factorization.common.TileEntityBarrel.a(TileEntityBarrel.java:196)
04:28:46 [SEVERE]       at buildcraft.core.inventory.TransactorSimple.addToSlot(TransactorSimple.java:80)
04:28:46 [SEVERE]       at buildcraft.core.inventory.TransactorSimple.inject(TransactorSimple.java)
04:28:46

[2013-06-11 09:36] mainsheep opened #702 "[TT 1851 and 1859] [MCPC L67] [SEVERE] [TickThreading] Exception while updating block neighbours in Overworld/0 at 2259, 76, 2010"
When launching my server, the server immediately throw this error. I'm unsure if this is a serious bug or not, but I'm hoping this is something that can be fixed :)

[2013-06-11 09:52] mainsheep commented on #700
It seems like it's a problem with turtles. It's crashing the server instantly. Earlier build TT1851 also has this problem.

[2013-06-11 11:31] alicheek commented on #699
Yea we have this issue on TT 1859 vanilla items work fine but things like the ic2 drills dont

[2013-06-11 11:40] alicheek commented on #699
still the same on TT 1857 think works fine on TT1852 though

[2013-06-11 13:14] darkdeath1332 commented on #515
So how did you fix it? I have the same issue.

[2013-06-11 13:16] darkdeath1332 commented on #361
Still broken with latest version. When I do a teleportation over a long distance its bugging me trough both places for a while.

[2013-06-11 14:06] donkeypanic opened #703 "Leaves falling off fir and redwood trees - extremebiomes Ultimate"
Hai Nallar!
Big fan of all your hard work! I've just implemented tickthreading on an FTB Ultimate using mcpc+ build # L67.  When a player enters an extremebiome with redwood and fir trees the leaves begin to instantly decay.  because these trees are so darn big, this is leading to entity issues on the ground with hundreds of saplings falling in the player-loaded area.  I have another server runnin

[2013-06-11 14:08] alicheek commented on #703
which TT version is this?

[2013-06-11 14:20] donkeypanic commented on #703
sorry, # 1858 from yesterday

[2013-06-11 14:31] alicheek commented on #703
use TT 1852 that should work

[2013-06-11 14:40] donkeypanic commented on #703
roger that.  ty ali :)

[2013-06-11 14:56] donkeypanic commented on #703
put in 1852.  restarted server, flew to new chunks, loaded and waited.  same effect.  if it helps to test, i could generate a new map and try same.  i have no attachment to the map, and no one is on this server yet.

[2013-06-11 14:58] alicheek commented on #703
hmm strange so ur using FTB Ultimate 1.1.2 MCPC+ L67 and TT 1852 but still getting that issue? maybe just try out a new map and see how that goes

[2013-06-11 15:05] darkdeath1332 opened #704 "Error in console"
This is what gets into my console, I dont know what it is.

2013-06-11 17:04:19 [INFO] [ChestShop] ilan21344 bought 1 X13658 for 500,00 from adminshop at [world] 924, 70, -236
2013-06-11 17:04:19 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileConduitEnergy @2033072373 in Nether/-1 at x, y, z: 54999, 49, -28336
java.util.ConcurrentModificationExcep

[2013-06-11 15:11] donkeypanic commented on #703
im genning the map now.  ill find the biome and report back.  meanwhile i tried 1859 and re patched with same effect.  i will wipe it all now and report back.  im also going to launch with no plugin jars installed to further isolate.  may take up to 30m.  thanks again for assistance ali.  any yes ulti 1.1.2 L67 TT1852, 1858, 1859

[2013-06-11 15:20] alicheek commented on #703
Yea seems it might be a plugin issue then or something because I'm
On on all of the exact same builds as you , just not sure what plugin could cause that

[2013-06-11 15:24] donkeypanic commented on #703
ok well its not the plugins.  running new genned map re-patched 1852 with no plugins.  same same.  im now going to create an entirely separate server with a newly downloaded modpack and see if i can reproduce the effect or if one of my mod files is bugged.  While we wait...i understand there is a patch class file for arcane dupe but i cant find any info.  this is just a side question, but do you k

[2013-06-11 15:36] alicheek commented on #703
ive just made it that its not possible to destroy it tbh didnt even know there was a patch for it lol

[2013-06-11 15:39] donkeypanic commented on #703
there is, but the ones who have it seem to be guarding it tightly (or bluffing)  i have a different solution atm: admin alerts with worldguard when its broken. One time you are moving it, 10 times in the same exact spot... well :/
im almost done loading in the files on the new server.

[2013-06-11 15:40] alicheek commented on #703
tbh ive thought about hiring a coder to fix the issues like the dupes but tbh ive just found loopholes to basically prevent most of them

[2013-06-11 15:58] donkeypanic commented on #703
ok i have installed a fresh pack on a new server with only L67.  i have located the biome and am now making sure the leaves do not decay preTT.  I will wait 5 mins and then load and patch in TT and try same test with only L67 and TT on new world new server. and yes.  loopholes ftw XD.

[2013-06-11 16:13] darkdeath1332 commented on #704
2013-06-11 18:12:01 [INFO] bruttern123 issued server command: /m darkdeath1332 why go away my things?
2013-06-11 18:12:02 [INFO] cptnnick issued server command: /back
2013-06-11 18:12:03 [INFO] [P] iCraft_: me 2 !
2013-06-11 18:12:13 [INFO] [P] iCraft_: i lost my canvas bag too at this nabby !
2013-06-11 18:12:13 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.ti

[2013-06-11 16:15] donkeypanic commented on #703
Reproduced:
Error: Leaves decay rapidly on their own in lush redwoods biome.
Steps to Reproduce this error:
Install fresh modpack Ultimate1.1.2
Run MCPC+ L67 as a .jar file
Run to generate world
Add any TT 1852-1859
Run Server to generate PATCHME.sh file
Stop server
Run sh PATCHME.sh from SSH
Restart server with patches in place
Navigate to any biome with Redwoods/Fir Trees
Leaves fall off causing

[2013-06-11 16:57] donkeypanic commented on #703
btw, lol dont assume it to do with the nukes in my inv. -.- i blew a big hole AFTER the leaves fell of to test a ticking entity error from another server. i noticed after posting it looks bad.

[2013-06-11 17:01] nicecube commented on #689
I have the same bug but i find a solution ... i use the old version of dynmap plugins for tekkit and everything work perfect now. I tried the last version of dynmap mod + dynmap bridge but dynmap stay black

[2013-06-11 17:07] nicecube opened #705 "Error in console Spam"
HI nallar first ty vm for TickThreading its awsome
Im using mcpc+ L15
TickThreading-1.4.7-1.0.0.1678.jar

I tried mcpc+ L67
TickThreading-1.4.7-1.0.0.1840.jar
But not working machine face down ans lost machine in overworld

I have an error on my console spaming every time.
13:02:10 CONSOLE: [SEVERE] Exception while fetching chunks:
13:02:12 CONSOLE: [SEVERE] Exception while fetching chunks:
13:02:

[2013-06-11 17:27] ThuGie opened #706 "Urgent! [TickThreading] The server appears to have deadlocked."
Hey,

I got this after upgrading to latest version.
I tried to downgrade but it just kept and kept crashing.
Please help, players aren't quite to happy haha.

http://pastebin.com/b7bQQaZ3

[2013-06-11 17:48] LunNova commented on #706
You have a broken xycraft fabricator somewhere.

[2013-06-11 18:00] LunNova commented on #706
Try latest.

[2013-06-11 18:04] LunNova commented on #699
Fixed via 1164141c534066a812bc9d931542454e9568f89d.

[2013-06-11 18:04] #699 closed, assigned to LunNova

[2013-06-11 18:21] krim404 commented on #691
Fixed after uninstall of LogisticPipes. Dunno why

[2013-06-11 18:24] krim404 opened #707 "Enchanted items cannot be used to destroy blocks"
See title. Blockbreak is not even triggered (you dont see the block breaking). Happens with all enchanted items and items which are using enchantments inside a mod - like a mining drill

[2013-06-11 18:26] LunNova commented on #707
Which build? Should've been fixed in latest, currently using a Steeleaf Pickaxe with no issues.

[2013-06-11 18:29] ThuGie commented on #706
Thank you! i will
Btw no error yet!

[2013-06-11 18:46] cjm721 opened #708 "[MCPC +31] [TT 1852] Y axis swiching on player save/login."
Had this happen to two players now. Log out and then log back in and they log in at the negative Y of their position. No clue as to exactly what caused it yet though.

[2013-06-11 18:49] cjm721 commented on #703
I can confirm this happening. Was sitting afk on top of a redwood forest come back and there was 500 entities bellow me. Cleared them and then more came back.

[2013-06-11 18:56] darkdeath1332 opened #709 "Cant leave server on longer than 2 hours"
My server runs mostly 20 ticks and without any lag, after some time my server ping starts to drop badly and my tps just start drowning.

When I type /ticks the slowest chunk is around 1.9 MS. My server haves around 60 players online at that moment and runs really slow. It cant be my CPU or my network, if I check them there both barely loaded.

[2013-06-11 19:39] LunNova commented on #709
Please get a profiling snapshot.

[2013-06-11 19:45] darkdeath1332 commented on #709
Using the /profile command?

[2013-06-11 19:51] Konman156 commented on #689
Which version do u use

[2013-06-11 20:03] LunNova commented on #709
Jvisualvm.

[2013-06-11 20:03] LunNova commented on #709
But first, check with /tps that the issue isn't in another world than the one you're running /ticks in.

[2013-06-11 20:07] darkdeath1332 commented on #709
Im running /tps /lag /gc, when the server is up less than an hour its always 20 and when its around 2 hours uptime then the ticks go to 8 or 10.

Running /ticks in all worlds and they arent higher than 2 ms. The chat is also extremely slow at those moments asking all of my players for a restart.

[2013-06-11 20:08] xiph3r commented on #698
upgraded to the latest build TT-1862

and got these errors

![screenshot from 2013-06-11 15 57 46](https://f.cloud.github.com/assets/4541235/639375/6de335c8-d2d1-11e2-9ed0-ce45719ef39f.png)

logs are dropped in here
http://ftb.survivalzcraft.com/server/

[2013-06-11 20:08] darkdeath1332 commented on #709
Same amount of players online and none who really create lag, when I leave the server on at those moments it only get even more worse. the ticks keep dropping and the chat gets slower. My highest uptime without lag was 3 hours.

[2013-06-11 20:43] LunNova commented on #698
Looks like you're using 1.5 Towny version.
On 11 Jun 2013 21:10, "xiph3r" notifications@github.com wrote:

[2013-06-11 20:48] donkeypanic commented on #703
not sure if its to do with it, but found this anomalous from startup log: (server loaded normally otherwise)
12.06 00:42:44 [Server] WARNING Sufficient Biomes missing - MFR Sufficient Biomes Compat not loading

definitely never saw that before TT.  hope its useful.

[2013-06-11 21:18] LunNova commented on #709
Use jvisualvm to get a sampling snapshot, see https://github.com/nallar/TickThreading/issues/442#issuecomment-17419675

[2013-06-11 21:18] LunNova commented on #709
Also, more instructions here https://github.com/nallar/TickThreading/issues/515#issuecomment-18088117

[2013-06-11 21:28] darkdeath1332 commented on #709
So its monitoring my connection?
If its server side, I run linux on it.

[2013-06-11 21:30] darkdeath1332 commented on #709
Ok got it, can I do that over putty? And what profiling you need, CPU RAM?

[2013-06-11 21:33] cjm721 commented on #709
Something I have noticed that is effecting this is chunkloaders are not turning off for me when the player logs off (option in chickenchunks config) or when the chunkloader is broken the ticket says there until server restart.

Which also reminds me that when I do /chunkloaders I crash now with an EOFException (https://gist.github.com/cjm721/5760931)

[2013-06-11 21:34] darkdeath1332 commented on #709
Im going to find awnsers on using it over SSH on google, I come with a screenshot tommo.

[2013-06-11 21:37] xiph3r commented on #698
should i downgrade or upgrade towny, i was using the towny dev

[2013-06-11 22:31] xiph3r commented on #698
ok i downgraded and this is the only error that i have now

2013-06-11 17:56:15 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-06-11 17:56:19 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.VersionCheckTickHandler@36767aa0
2013-06-11 17:56:32 [INFO] [TickT

[2013-06-11 22:35] #698 closed, assigned to LunNova

[2013-06-11 23:08] #707 closed, assigned to LunNova

[2013-06-11 23:16] LunNova commented on #695
This change will prevent some types of packet spam, due to block and/or tile entity updates.

[2013-06-11 23:32] LunNova commented on #695
Update to latest, run `/profile p`. It should show which mod is spamming packets now.

[2013-06-11 23:40] LunNova commented on #691
Asked in #RS485, and they also have no idea why. Closing this as invalid/wontfix, as I can't get it to happen, and many other TT users are successfully using LP.

[2013-06-11 23:40] #691 closed, assigned to LunNova

[2013-06-12 12:11] Konman156 commented on #689
I tried 1.6 that didn't work.I guess there is no fix

[2013-06-12 13:39] geoffcorey commented on #678
What doc said.  Chunks were loaded.

[2013-06-12 15:03] wesselvdv opened #711 "TT1867 TE Energy Tesseract issue."
This happens when I leave my frame machine with these energy tesseracts on them, they're being chunkloaded. Removing them and replacing them fixes the issue until I leave the area again.

I am on the latest build(1867).

2013-06-12 16:32:13 [SEVERE] [ForgeModLoader] A TileEntity type thermalexpansion.transport.tileentity.TileTeleportEnergy at DIM_MYST18/18,179,200,-106 has throw an exception tryin

[2013-06-12 15:33] darkdeath1332 commented on #695
It was an issue with the host its network.

[2013-06-12 15:38] LunNova commented on #695
Please still get that profiling information, bandwidth usage is much higher than it should be, and it may cause issues for users on slow connections.

[2013-06-12 15:40] darkdeath1332 commented on #709
Server had around 70 players on constantly and running 20 ticks, after 20 hours uptime ticks when 10 and after 30 minutes the server gave up and crashed.

I can really find out how to install Java VisualVM

[2013-06-12 15:40] alicheek commented on #695
yea must admit ive got a slow connection and some times I have issues with this where I just keep getting dced lol but as u said its because I have terrible internet about 250kB down and 60kB up

[2013-06-12 15:41] LunNova commented on #709
It's installed as part of the JDK, you run it on your home computer, not the server. The links I gave you earlier both have instructions on how to use it.

edit: You gave the right profile in the screenshot, only read the text. Doesn't seem to be anything odd there, so definitely need a jvisualvm snapshot (while the issue is happening) to fix this.

That `/profile a` was from while the issue was h

[2013-06-12 16:06] darkdeath1332 commented on #709
That profile was when the uptime was 2 hours, Im expecting the issue to come in some minutes. (Not with the issue)

Going to use it now, Also when the issue comes up the ping will start to get over 1500 MS while its normally around 40.

[2013-06-12 16:07] darkdeath1332 commented on #709
PS, I think some ticks drop come from the TP bug. Player movement is really high. (profile)

[2013-06-12 16:09] alicheek commented on #709
its the entities in my opinion

[2013-06-12 16:10] darkdeath1332 commented on #709
They get cleared when they hit to much.

[2013-06-12 16:10] alicheek commented on #709
then again that's a  lot of calls for playermovement

[2013-06-12 16:10] darkdeath1332 commented on #709
Server should be able to handle alot? I have a 12 core processor on 3.8 GHZ.

The Player movements come from the TP bug.

[2013-06-12 16:11] darkdeath1332 commented on #709
alicheek, you should be the owner of brierie. How did you fix it for the tick drops?

[2013-06-12 16:14] alicheek commented on #709
I sent a message to you on the website, but in all honesty it wasn't me that sorted the issue it was my hosters they never told me what they did though.

[2013-06-12 16:17] darkdeath1332 commented on #709
Ive sent you a new PM, nallar im making a profile when the lag comes.

[2013-06-12 16:39] alicheek opened #712 "TickRegions contain wrong entities, entities in multiple TickRegions."
Went there and there is nothing there but yet getting it as the highest place in the world for latency.

![2013-06-12_17 37 29](https://f.cloud.github.com/assets/3965516/643836/b271d372-d37e-11e2-9924-7cb1461f453a.png)

[2013-06-12 17:00] darkdeath1332 commented on #712
Coke ovens with world anchors make the time extremely high.

[2013-06-12 17:47] LunNova commented on #695
Screenshot isn't helpful, follow the instructions in the second link I gave earlier to export it.

[2013-06-12 18:00] darkdeath1332 commented on #695
[code]

[2013-06-12 18:00] darkdeath1332 commented on #695
That could be my issue

[2013-06-12 18:04] darkdeath1332 commented on #709
Do I have to make multiple screenshots for the profiler? Its one big list off stuff when I make a snapshot.

This is what happends before the server crashes when the lag and connection problems start to act.

http://pastebin.com/eK7EAGW3

[2013-06-12 18:14] darkdeath1332 commented on #709
New error when I updated to the latest build:

http://pastebin.com/4LquMfu1

[2013-06-12 18:15] LunNova commented on #709
You need to save the snapshot after sampling, and give me the .nps file.

[2013-06-12 18:16] darkdeath1332 commented on #695
[code]

[2013-06-12 18:30] darkdeath1332 commented on #709
Ok did it,

http://www.mediafire.com/?tbx0l47sxtqm9x4

[2013-06-12 18:55] darkdeath1332 commented on #709
Tell me when you got the snap so I can delete the download.

[2013-06-12 18:56] LunNova commented on #709
Got it.

On 12 June 2013 19:30, darkdeath1332 notifications@github.com wrote:

##

Ross Allan

[2013-06-12 19:01] darkdeath1332 commented on #709
I think it are powersuits, when the server starts to lag the connection of powersuits are really high, and server crashes with an network error.

Cant you like block those packets?

[2013-06-12 20:00] xiph3r opened #713 "Misc Errors"
I still have this issue with TT-1863

server log is dropped here  http://198.27.83.35/server/

Tickthreading logs are empty and the forgemodloader log doesnt have any error..
![screenshot from 2013-06-12 15 43 58](https://f.cloud.github.com/assets/4541235/644954/0cc2baba-d39a-11e2-8b3b-6cb93b441e79.png)

![screenshot from 2013-06-12 16 00 09](https://f.cloud.github.com/assets/4541235/644982/ba5a62

[2013-06-12 21:27] cjm721 opened #714 "[MCPC 67] [TT 1867] No Such method on kick all"
Server deadlocked (still looking as to why) and this is the error on shutdown.

Attempting to recover without restarting.
2013-06-12 17:26:00 [SEVERE] [TickThreading] Failed to recover from the deadlock.
2013-06-12 17:26:02 [INFO] [TickThreading] Attempting to save
2013-06-12 17:26:11 [INFO] [TickThreading] Saved, now attempting to stop the server and disconnect players cleanly
2013-06-12 17:26:11

[2013-06-12 21:38] #714 closed, assigned to LunNova

[2013-06-12 22:03] LunNova commented on #708
Does it manage to prevent them dying by moving them to +ve y?

[2013-06-12 22:04] cjm721 commented on #708
No they fall out of the world. Overworld the moving them back + works.

[2013-06-12 22:07] LunNova commented on #708
That should be fixed in latest, although the issue will still happen.

Do players occasionally take fall damage for no apparent reason?

[2013-06-12 22:10] cjm721 commented on #708
Have not had any reports of taking random fall damage anymore, and even before I only had two people fall out of the world on login out of the 100s that go threw each day.

I'll start running around without my shock absorbers to see if I am taking fall damage or not.

[2013-06-12 22:32] cjm721 commented on #709
mmmPowerSuits is taking up a ton for me also (not effecting tps though)

Tops the cart on count and size.

[2013-06-13 02:08] cjm721 opened #715 "[MCPC 67] [TT 1867] Deadlock (unknown cause)"
Deadlocked a few times today without any clue whats causing it.

https://gist.github.com/cjm721/5770747

[2013-06-13 06:05] darkdeath1332 commented on #709
I removed powersuits, fixed alot of lag.

Server has been up for 5 hours now with night players on it, now just 21 online and ticks are changing all the time between 20 to 1.

Failed again in keeping it up longer with no extreme lag, the spikes are really annoying.

[2013-06-13 06:42] OriginalMadman commented on #649
I have a ton of exactly the same and its driving me nuts. Server deadlocks all the time and does not recover.

Still on TT1870 and MCPC L67

[2013-06-13 06:45] OriginalMadman commented on #715
I deadlock several times daily now, and do not recover. I get some of the same errors as you but mostly this:
https://github.com/nallar/TickThreading/issues/649

Using MCPC67 and TT1870 - had it for a weeks worth of versions (at least since TT1840 I think).

[2013-06-13 12:44] darkdeath1332 commented on #709
So what was cousing it?,,,,

It keeps happening and its getting worser and worser.

[2013-06-13 12:56] darkdeath1332 commented on #709
This is my crash error, not really and crash but it shut down after this:

2013-06-13 14:37:21 [SEVERE] Exception in thread "Connection #627 read thread"
2013-06-13 14:37:21 [SEVERE] java.lang.OutOfMemoryError: PermGen space           (I run 64 gb ram so why?)
2013-06-13 14:37:21 [SEVERE]    at iv.a(NetServerHandler.java:1211)
2013-06-13 14:37:21 [SEVERE]    at cu.a(Packet3Chat.java:59)
2013-06-13

[2013-06-13 12:56] darkdeath1332 commented on #627
My error links to this.

[2013-06-13 12:57] alicheek commented on #649
Don't think the dead locking is to do with that I've had these errors for a whole now and had no relations to a deadlock with it , don't worry nallar will fix it when he has the time just e patient :)

[2013-06-13 14:17] darkdeath1332 commented on #709
Made new post with better title.

[2013-06-13 14:17] #709 closed, assigned to LunNova

[2013-06-13 14:27] darkdeath1332 opened #716 "[MCPC+ L67] [TT 1867] Server gets huge TPS drop and Network lag when the uptime is around 2 hours"
I have a FTB ultimate server with just 20 plugins and around 50 - 100 people on it. I cant really leave my server online for longer than about 2 hours.

When the server is just started up the ticks are 20 all the time till my uptime gets longer than about 2 hours. I have this every time and dont know whats cousing it, the players when the server starts lagging is around 50 and when its just up it

[2013-06-13 15:24] LunNova commented on #716
Ah, the snapshot should be from after it starts lagging, preferably also for more than 10 minutes.

Also, set these options: http://i.imgur.com/vNBAf2X.png

[2013-06-13 17:18] LunNova commented on #716
Connect before it starts lagging, only sample after it starts lagging.

[2013-06-13 17:22] LunNova commented on #716
Ah, it's probably a memory leak? Have you set -Xmx higher, or very close to, the memory you actually have? That could cause a crash.

What java parameters are you using? Also, pastebin the TT config.

[2013-06-13 17:27] darkdeath1332 commented on #716
I run RemoteToolkit and it starts my server with; java -Xms512M -Xmx60G -jar ftbserver.jar-Dcom.sun.management.jmxremote.port\=3333, -Dcom.sun.management.jmxremote.ssl\=false, -Dcom.sun.management.jmxremote.authenticate\=false, -Djline.terminal\=jline.UnsupportedTerminal,-XX:UseSSE\=4, -XX:+UseCMSCompactAtFullCollection, -XX:ParallelGCThreads\=12, -XX:+UseConcMarkSweepGC, -XX:+UseParNewGC, -XX:+Di

[2013-06-13 17:33] darkdeath1332 commented on #716
I also have issues with the Anti Cheat bug, when someone teleports my CPU turns 100% for a sec becouse they get bugged trough both posistions.

[2013-06-13 18:00] darkdeath1332 commented on #716
What amount of RAM should I set my server?

[2013-06-13 19:53] darkdeath1332 commented on #716
Awesome its fixed, made my XMX 24g and all good now.

[2013-06-13 19:53] #716 closed, assigned to LunNova

[2013-06-13 19:57] darkdeath1332 opened #717 "[MCPC+ L67] [TT 1867] Big errors"
Server has been up 1 hour and 45 minutes and now I get these errors:
Doesnt come up one time, but spamming all the time rapidly;

"pool-2-thread-81", "pool-2-thread-84" TIMED_WAITING on java.util.concurrent.SynchronousQueue$TransferStack@59d26762

[2013-06-13 19:58] LunNova commented on #717
Full log please.

[2013-06-13 19:59] darkdeath1332 commented on #717
Its not being logged to the server.log somehow.

[2013-06-13 19:59] LunNova commented on #717
From the TickThreadingLogs folder.

[2013-06-13 20:00] alicheek commented on #717
if its not there, there is a chance it will be in the screen logs if you keep them

[2013-06-13 20:02] darkdeath1332 commented on #717
Full log, not of this error but something else today,

http://www.mediafire.com/?zor0rvm2u1x6r56

[2013-06-13 20:06] darkdeath1332 commented on #717
Server is unreachable on startup,

2013-06-13 22:06:22 [SEVERE] java.lang.ArrayIndexOutOfBoundsException: -1
2013-06-13 22:06:22 [SEVERE]    at java.util.ArrayList.add(Unknown Source)
2013-06-13 22:06:22 [SEVERE]    at thaumcraft.common.AuraCalculationThread.checkFlux(AuraCalculationThread.java:222)
2013-06-13 22:06:22 [SEVERE]    at thaumcraft.common.AuraCalculationThread.run(AuraCalculationThrea

[2013-06-13 20:16] darkdeath1332 opened #718 "[MCPC+ L67] [TT 1870] Server unreachable"
When I boot my server the server cant be reached, its up with 8 ticks and 900 chunks loaded.

No error on startup.

[2013-06-13 20:24] darkdeath1332 commented on #718
I cant get my server up...

[2013-06-13 20:24] darkdeath1332 commented on #718
![image](https://f.cloud.github.com/assets/3824354/650933/400d17da-d467-11e2-9632-e867d7e10f9a.png)

[2013-06-13 20:25] LunNova commented on #718
Console is responding to commands then?

I don't see how TT could cause this, check that there aren't multiple java processes running - an old crashed server could be holding on to the port.

[2013-06-13 20:31] LunNova commented on #717
The newest log is tickthreading.1.log, so that's why that's an older log. Try to find the log file with that error and upload it, if you still have it.

[2013-06-13 20:32] LunNova commented on #712
Stand somewhere in the 0, 0 chunk and run `/profile c`.

[2013-06-13 20:33] darkdeath1332 commented on #718
There is no other server running, console does respond to commands.

[2013-06-13 20:37] alicheek commented on #712
Its not doing it atm but ill do it and send it to you as soon as it does :)

[2013-06-13 20:39] darkdeath1332 commented on #718
I got the block pos, how do I fix a corrupted chunk...

[2013-06-13 20:41] LunNova commented on #718
Try http://www.minecraftforum.net/topic/302380-minecraft-region-fixer/

[2013-06-13 20:43] LunNova commented on #537
Should be fixed now, have redone world unloading.

[2013-06-13 20:43] #537 closed, assigned to LunNova

[2013-06-13 20:50] LunNova commented on #689
Try latest.

[2013-06-13 20:51] LunNova commented on #718
Also, are you sure that's the problem? If the server appears to be running, but is unreachable, that probably isn't the problem.

Absolutely sure nothing else is using the minecraft server port? Didn't accidentally revert to an old config file with a different port, or wrong listening address?

[2013-06-13 20:55] darkdeath1332 commented on #718
Well a full server reboot seem to have worked, im sorry for my amount of posts.

[2013-06-13 20:55] #718 closed, assigned to LunNova

[2013-06-13 23:11] Drehmini opened #719 "[1867] Deadlock AE/Turtles"
Here's the full TT log : https://gist.github.com/Drehmini/5778181

[2013-06-13 23:12] LunNova commented on #719
Known CC/Peripherals issue. I can't fix it, needs to be fixed in CC. Set wireless ranges to 0 to avoid it.

`Definitely deadlocked:
"Coroutine-229" Id=3443 BLOCKED on dan200.computer.core.Computer@21f00fe7 owned by "Entities in Overworld/0 - 5" Id=120
    at dan200.computer.core.Computer.queueLuaEvent(Computer.java:1062)
    -  blocked on dan200.computer.core.Computer@21f00fe7
    at dan200.comput

[2013-06-13 23:12] #719 closed, assigned to LunNova

[2013-06-14 02:30] alicheek opened #720 "[MCPC+ L67] [TT 1870] [SEVERE] [TickThreading] Exception ticking entity EntityRobot['unknown'/943624, l='DIM7', x=-225.14, y=40.78, z=2064.21] in rX: -14, rZ: 129, hashCode: 8519666/Twilight Forest/7:"
[SEVERE] [TickThreading] Exception ticking entity EntityRobot['unknown'/943624, l='DIM7', x=-225.14, y=40.78, z=2064.21] in rX: -14, rZ: 129, hashCode: 8519666/Twilight Forest/7:
java.util.NoSuchElementException
    at java.util.LinkedList.getFirst(LinkedList.java:242)
    at buildcraft.core.EntityRobot.build(EntityRobot.java:206)
    at buildcraft.core.EntityRobot.j_(EntityRobot.java:136)
    at

[2013-06-14 02:36] alicheek commented on #696
@nallar

Got this again on TT build 1870:

[TickThreading] Exception ticking entity iq['peethimself'/3359942, l='overworld', x=3105.70, y=63.00, z=1379.66](peethimself at 3105.699999988079,63.0,1379.6573677831514) in rX: 194, rZ: 86, hashCode: 5636290/overworld/0:
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$En

[2013-06-14 02:38] cjm721 opened #721 "[MCPC 67] [TT 1875] Batty Bee Index out of bounds spam"
Spams it once a second over and over.

[2013-06-14 02:58] alicheek commented on #712
ok got it in the /ticks again so went to 0.70 0 then did /profile c and this is what I got (second picture is just me showing 0 0 being in the top /ticks):

![2013-06-14_03 56 18](https://f.cloud.github.com/assets/3965516/652287/41d01c16-d49e-11e2-843d-43e0ae884f14.png)
![2013-06-14_03 56 43](https://f.cloud.github.com/assets/3965516/652289/43b6618e-d49e-11e2-83bb-961ee3193207.png)

[2013-06-14 03:50] Konman156 commented on #689
latest dynmap also?

[2013-06-14 12:36] Konman156 commented on #689
Just updating tt didn't work.  I'm using dynmap 1.6

[2013-06-14 13:58] darkdeath1332 opened #722 "[MCPC+ L67] [TT 1870] Console error"
Not sure what it is, just removed the region wiht a Coridnate tool and this was my error:

2013-06-14 15:47:15 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileConduitLiquid @1726810289 in Overworld/0 at x, y, z: -1806, 44, 3786
java.lang.NullPointerException

[2013-06-14 14:19] alicheek opened #723 "[MCPC+ L67] [TT 1870] Client crash for any one that used /chunkloaders"
For some reason now when ever any one uses that command our client will crash, never used to do this, only things that have been changing on the server is really the TT builds

[2013-06-14 14:51] LunNova commented on #689
Patch was against 1.7, can you try that?
On 14 Jun 2013 13:36, "Konman156" notifications@github.com wrote:

[2013-06-14 14:59] Konman156 commented on #689
After work I will.  Then I'll let you know
.thx man

[2013-06-14 20:27] alicheek commented on #712
got it at 26 ms of latency which was the top of my list of course, seem to be dependant on the amount of people or the amount of work the server has to be doing, did another profile c and basically got the same though :

![2013-06-14_21 21 57](https://f.cloud.github.com/assets/3965516/656610/bbc9c2c8-d530-11e2-9a00-0b663bfd4d27.png)

weird thing is I did get this the time before though on chunk 0

[2013-06-14 23:44] cjm721 commented on #723
Increasing Perm Gen space on my client seemed to fix it for my direwolf20 server, but on ultimate I been having this issue. I allocated -XX:PermSize=128M -XX:MaxPermSize=512M for it. Both are running same TT builds.

[2013-06-15 12:57] LunNova commented on #721
Can you confirm that this doesn't occur without TT? Looks like a bug which would occur without.

[2013-06-15 15:07] LunNova commented on #109
Not going to implement this as part of TT. With MCPC+, other anti-cheat solutions are available.

[2013-06-15 15:07] #109 closed, assigned to LunNova

[2013-06-15 15:08] LunNova commented on #104
Not implementing this, as TT will not be doing any of its own cheat detection.

[2013-06-15 15:08] #104 closed, assigned to LunNova

[2013-06-15 15:08] LunNova commented on #108
It is now using an algorithm which intelligently picks a height. Still need to add configuration options.

[2013-06-15 15:17] #108 closed, assigned to LunNova

[2013-06-15 16:08] #118 closed, assigned to LunNova

[2013-06-15 16:08] LunNova commented on #124
Already done, forgot to close this issue.

[2013-06-15 16:08] #124 closed, assigned to LunNova

[2013-06-15 16:12] LunNova commented on #388
Not able to fix this without too much messing around, fixed in 1.5 but requires a forge client change, so it can't be backported to 1.4.

[2013-06-15 16:12] #388 closed, assigned to LunNova

[2013-06-15 16:13] LunNova commented on #181
Assuming this no longer happens as you have made other issues which implies that you got the server started, reply with a new stack trace if it is not fixed, make sure to use newest MCPC+ legacy so the stack trace is usable.

[2013-06-15 16:13] #181 closed, assigned to LunNova

[2013-06-15 16:24] #337 closed, assigned to LunNova

[2013-06-15 16:25] LunNova commented on #316
Fixed another TransactorSimple issue, which should fix this. Reply if it is still broken.

[2013-06-15 16:25] #316 closed, assigned to LunNova

[2013-06-15 16:25] LunNova commented on #157
Fixed with newer buildcraft versions.

[2013-06-15 16:25] #157 closed, assigned to LunNova

[2013-06-15 16:26] LunNova commented on #302
World loading/unloading issue which was fixed in the recent world unload/load redesign.

[2013-06-15 16:26] #302 closed, assigned to LunNova

[2013-06-15 16:27] LunNova commented on #283
BC performance issue, see https://github.com/BuildCraft/BuildCraft/issues/861

Pumps are going to be redesigned in future, I might backport the changes to 1.4.7 + 1.5.

[2013-06-15 16:27] #283 closed, assigned to LunNova

[2013-06-15 16:29] LunNova commented on #328
@gorea01
See #662

Closing this, forgot to close it when fixing the issue.

[2013-06-15 16:29] #328 closed, assigned to LunNova

[2013-06-15 16:30] LunNova commented on #280
Should no longer be a problem. Only one I'm aware of is the issue with creative mode players causing hostile entities around them to despawn.

[2013-06-15 16:30] #280 closed, assigned to LunNova

[2013-06-15 16:30] LunNova commented on #360
Is this still happening?

[2013-06-15 16:31] LunNova commented on #392
This should be fixed now. It might have been caused by the lag spike from loading persistent chunks on server start, which now should happen asynchronously. Additionally, some other non-async chunkloading issues which could cause lag spikes have been fixed.

[2013-06-15 16:31] #392 closed, assigned to LunNova

[2013-06-15 16:32] LunNova commented on #384
Xycraft's included CodeChickenCore is just broken. This also occurs under MCPC+. I have partially fixed it, but would recommend just not using xycraft if you dislike the console spam.

[2013-06-15 16:32] #384 closed, assigned to LunNova

[2013-06-15 16:33] LunNova commented on #364
Assuming this now works, as no-one has replied to say that it doesn't since I asked two weeks ago.

[2013-06-15 16:33] #364 closed, assigned to LunNova

[2013-06-15 16:33] #362 closed, assigned to LunNova

[2013-06-15 16:34] LunNova commented on #508
Added in dbadd44022856eb2817831a6546c1d9e20212eda.

[2013-06-15 16:34] #508 closed, assigned to LunNova

[2013-06-15 16:35] LunNova commented on #518
No response from @pianocat9521, I can't fix issues without details. Assuming they either gave up or found a fix themselves, and forgot to post it here.

[2013-06-15 16:35] #518 closed, assigned to LunNova

[2013-06-15 16:36] #513 closed, assigned to LunNova

[2013-06-15 16:37] LunNova commented on #511
The ItemGermlingGE issue is a forestry issue, the others are now fixed.

[2013-06-15 16:37] #511 closed, assigned to LunNova

[2013-06-15 16:38] LunNova commented on #512
See https://github.com/BuildCraft/BuildCraft/issues/861

[2013-06-15 16:38] #512 closed, assigned to LunNova

[2013-06-15 16:39] LunNova commented on #614
Not something I can fix without rewriting GT pumps.

[2013-06-15 16:39] #614 closed, assigned to LunNova

[2013-06-15 17:17] mainsheep opened #724 "[TT 1879, MCPC L67] [SEVERE] java.lang.NoSuchMethodError: lz.addXPFrom(Llz;)V"
After installing the entity limiting TT patch, my server ran into crash loops.

These messages were spammed into the console, from different mobs.

2013-06-15 12:05:57 [SEVERE] java.lang.NoSuchMethodError: lz.addXPFrom(Llz;)V
2013-06-15 12:05:57 [SEVERE]    at yc.preHandleSpawn(World.java:1068)
2013-06-15 12:05:57 [SEVERE]    at yc.d(World.java)
2013-06-15 12:05:57 [SEVERE]    at amq.f(Block.java:

[2013-06-15 17:27] #651 closed, assigned to LunNova

[2013-06-15 17:29] #724 closed, assigned to LunNova

[2013-06-15 17:33] LunNova commented on #666
Are you using an old version of http://www.minecraftforge.net/forum/index.php/topic,1102.0.html ?

Update it, the mod dev made a mistake which I pointed out on the first page of that thread, so it should be fixed now.

[2013-06-15 17:33] #666 closed, assigned to LunNova

[2013-06-15 17:34] LunNova commented on #723
What is the client crash?

[2013-06-15 17:39] Konman156 commented on #689
i dont think its working . i replaced 1.6 jar with 1.7

[2013-06-15 17:57] alicheek commented on #723
http://pastebin.com/ETfCPMq2

[2013-06-15 18:24] LunNova commented on #485
This is now fixed, implemented the change described in the previous comment.

[2013-06-15 18:24] #485 closed, assigned to LunNova

[2013-06-15 18:39] LunNova commented on #723
Can you try with latest?

[2013-06-15 18:46] LunNova commented on #702
Still broken? Not sure why TT would break loading that class, and it works for me.

[2013-06-15 19:16] #649 closed, assigned to LunNova

[2013-06-15 19:17] mainsheep commented on #702
Nope problem seems to be fixed.

[2013-06-15 19:17] #702 closed, assigned to LunNova

[2013-06-15 19:18] alicheek commented on #649
OH My Days! Thank you Nallar ill test it when I can get it on (probs will be later on tonight when its a bit quieter)

[2013-06-15 19:18] LunNova commented on #701
Caused by broken TransactorSimple change, now fixed.

[2013-06-15 19:18] #701 closed, assigned to LunNova

[2013-06-15 19:18] LunNova commented on #700
Caused by the same problem which caused #702, which is now fixed.

[2013-06-15 19:18] #700 closed, assigned to LunNova

[2013-06-15 19:20] LunNova commented on #414
Does AE try to return energy it's unable to use?

[2013-06-15 19:21] cjm721 commented on #414
No clue but I could see that causing an explosion since its using near 1500EU/t but in 512 packets.

[2013-06-15 19:26] Konman156 commented on #689
okay trying 1.7.1

[2013-06-15 20:09] cjm721 commented on #723
Still crash. endofstream server side and (TT1883):

https://gist.github.com/cjm721/5789429

[2013-06-15 20:12] cjm721 opened #725 "[Question] Entity limiting"
Saw https://github.com/nallar/TickThreading/commit/7e1bd03e0e8d1546bc12dfa1eb01a847bd1c0ff9 as I was going threw the build server changes and was wonder if this was just for living entities or all entities, and if all entities does it remove them or just pause their spawning (as in for items if something like 30 diamond chests broke in a chunk and its over the  limit)?

[2013-06-15 20:21] LunNova commented on #725
There are two options for limiting, one disables mob spawning if entities per player is above the count specified.

The other, `maxItemsPerChunk`, will do two things if the number of entities in a chunk exceeds the limit.

First, it will aggressively try to combine entity items within that chunk with others in that chunk. Then, if the limit is still reached the new item will be removed, and lost f

[2013-06-15 20:21] #725 closed, assigned to LunNova

[2013-06-15 20:22] #278 closed, assigned to LunNova

[2013-06-15 20:22] #689 closed, assigned to LunNova

[2013-06-15 20:23] LunNova commented on #689
There were two issues, both broke it. Try latest again.

[2013-06-15 21:30] LunNova commented on #712
Get latest, and run with the `-Dtickthreading.debug=true` java parameter, before `-jar`.

If the issue still occurs, give the full tickthreading log file.

[2013-06-15 21:33] LunNova opened #726 "Invalid TileStorageBus bytecode"
Time: 15/06/13 23:16
Description: Exception in server tick loop

java.lang.VerifyError: (class: appeng/me/tile/TileStorageBus, method: <init> signature: ()V) Incompatible argument to function
        at java.lang.Class.getDeclaredConstructors0(Native Method)
        at java.lang.Class.privateGetDeclaredConstructors(Class.java:2413)
        at java.lang.Class.getConstructor0(Class.java:2723)

[2013-06-15 21:37] LunNova commented on #489
Fixed in recent PlayerInstance changes.

[2013-06-15 21:37] #489 closed, assigned to LunNova

[2013-06-15 21:39] LunNova commented on #474
@wormzjl definitely seems to be a memory leak then.

Fixed a few since you made this issue, related to BC pumps and world unloading. Make sure cleanWorlds is enabled, if you have world unloading enabled.

If it's still a problem, you may also need to reduce TT's chunk cache's size.

[2013-06-15 21:39] LunNova commented on #473
Still happening? Should be fixed.

[2013-06-15 21:40] LunNova commented on #410
Should be fixed now, with the world loading/unloading changed to be like MCPC+'s.

[2013-06-15 21:40] #410 closed, assigned to LunNova

[2013-06-15 21:45] LunNova commented on #471
@floh22

Probably from an area with lots of tile entities being loaded and unloaded repeatedly.

[2013-06-15 21:47] LunNova commented on #432
Still a problem?

[2013-06-15 21:47] LunNova commented on #450
Fixed via aba1b194621604fbadd9.

[2013-06-15 21:47] #450 closed, assigned to LunNova

[2013-06-15 21:49] LunNova commented on #588
Fixed with newer MCPC+ builds.

[2013-06-15 21:49] #588 closed, assigned to LunNova

[2013-06-15 21:50] #360 closed, assigned to LunNova

[2013-06-15 21:50] LunNova commented on #533
It definitely seems to be saving the changes, are you sure the RAM drive isn't configured in a way which is ignoring changes made by TT's patcher?

[2013-06-15 21:51] LunNova commented on #383
Caused by #562.

[2013-06-15 21:51] #383 closed, assigned to LunNova

[2013-06-15 22:08] #726 closed, assigned to LunNova

[2013-06-15 22:10] alicheek commented on #432
Ope is fixed thanks :)

[2013-06-15 22:10] #432 closed, assigned to LunNova

[2013-06-15 22:27] LunNova commented on #330
Anyone able to confirm that this doesn't happen in vanilla when shooting the moon?

[2013-06-15 22:44] cjm721 commented on #330
When I was still running one server with TT and one server without I never saw invalid ticket on the one without. Forge has updated quite a bit also have not seen this in a while so I will try and see if I can replicate it again and post how.

[2013-06-15 23:20] LunNova commented on #421
Closing this then, as it's caused by another open issue.

[2013-06-15 23:20] #421 closed, assigned to LunNova

[2013-06-15 23:21] LunNova commented on #721
Or possibly that alveary's corrupt, try breaking and replacing?

[2013-06-15 23:23] cjm721 commented on #721
I took out of his and put it in mine. Still working on getting a copy of what it had as extra bees I can get the straight bee but not with how he specialized it. From what we can tell it had something to do with two effects on it. (wishes there was a way to /give items with nbt data...)

[2013-06-16 01:20] #647 closed, assigned to LunNova

[2013-06-16 01:25] #720 closed, assigned to LunNova

[2013-06-16 02:43] alicheek opened #727 "[MCPC+ L67] [TT 1907] Server Startup Crash"
java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        at java.lang.reflect.Method.invoke(Method.java:601)
        at cpw.mods.fml.relauncher.FMLR