[2014-05-27 11:23] devryb commented on #1182
Duplicate of 1138, whops.

[2014-05-27 11:23] #1182 closed, assigned to nobody

[2014-05-27 13:56] Daniel86268 commented on #1155
I am not using map backups of any kind, so it can't be related to that. Also In your screenshot there are some chunks loaded. I was experiencing that I was standing in the only chunk around that was loaded. There was no other chunk loaded. After a few seconds though the world loaded guite fine.
I am pretty sure, this relates to the World loading order: Normally the world starts to load directly ar

[2014-05-27 17:10] devryb commented on #1155
I also seen the one chunk thing at that time as well.  That screenshot was from relogging a couple times.  But ya if it loaded for you eventually then this is unrelated as it simply wouldn't load for anyone on the server until it was restarted.

[2014-05-27 18:33] ProsperCraft commented on #1165
You are so awesome!

[2014-05-27 19:55] Zilacon opened #1192 "NPE on PlayerJoin"
This happens whenever a player joins the server and joins a dimension.

2014-05-27 12:52:52 [SEVERE] [Minecraft-Server] java.lang.NullPointerException
2014-05-27 12:52:52 [SEVERE] [Minecraft-Server]     at tconstruct.util.player.TPlayerHandler.updatePlayerInventory(TPlayerHandler.java:233)
2014-05-27 12:52:52 [SEVERE] [Minecraft-Server]     at tconstruct.util.player.TPlayerHandler.updatePlayerInve

[2014-05-27 22:48] devryb commented on #1187
Got something similar

27.05 18:44:32 [Server] INFO at nallar.tickthreading.util.FakeServerThread.run(FakeServerThread.java:16)
27.05 18:44:32 [Server] INFO at nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:40)
27.05 18:44:32 [Server] INFO at net.minecraft.world.WorldServer.run(WorldServer.java:605)
27.05 18:44:32 [Server] INFO at net.minecraft.block.BlockGrass.func_71847_b(

[2014-05-27 23:50] alicheek opened #1193 "[TT-1.6.4.230] [MCPC] [1.6.4] [SEVERE] [TickThreading] Exception ticking TileEntity c mods.railcraft.common.blocks.machine.alpha.TileCokeOven"
[SEVERE] [TickThreading] Exception ticking TileEntity c mods.railcraft.common.blocks.machine.alpha.TileCokeOven @329707495 in Overworld/0 at x, y, z: -5035, 67, 1089
java.lang.NullPointerException
    at mods.railcraft.common.blocks.machine.TileMachineBase.func_70316_g(TileMachineBase.java:120)
    at mods.railcraft.common.blocks.machine.TileMultiBlock.func_70316_g(TileMultiBlock.java:146)
    at

[2014-05-28 00:24] devryb opened #1194 "TT-230 1.6.4 ThermalExpansion Conduits and Fluiducts randomly stop working until restart"
This is a pretty big issue as it makes the thermal expansion fluiducts and energy conduits useless in all worlds.

2014-05-27 20:17:51 [SEVERE] Grid in unloaded or null world nullthermalexpansion.part.conduit.fluid.GridFluid@a5bc805
2014-05-27 20:17:51 [SEVERE] Grid in unloaded or null world nullthermalexpansion.part.conduit.fluid.GridFluid@a5bc805
2014-05-27 20:17:51 [SEVERE] Grid in unloaded or

[2014-05-28 00:27] devryb commented on #1194
Possible duplicate of https://github.com/nallar/TickThreading/issues/1122 but was apparently fixed?

This is however with Thermal Expansion 3.0.0.7

[2014-05-28 00:35] alicheek commented on #1194
Yea can confirm I'm getting spammed with that

[2014-05-28 01:13] devryb commented on #1194
Here is the full error from in the console:

27.05 19:03:28 [Server] SEVERE Grid in unloaded or null world nullthermalexpansion.part.conduit.fluid.GridFluid@2334b9df
27.05 19:03:28 [Server] INFO at net.minecraft.server.ThreadMinecraftServer.run(ThreadMinecraftServer.java:16)
27.05 19:03:28 [Server] INFO at net.minecraft.server.MinecraftServer.run(MinecraftServer.java:183)
27.05 19:03:28 [Server] I

[2014-05-28 03:14] devryb commented on #1085
Also getting this, it actually breaks world saving too sometimes

http://pastebin.com/7zYiUsQY

[2014-05-28 05:42] Zilacon opened #1195 "Unhandled exception in worker thread Entities"
05-27 22:40:51 [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Sanctuary/3 - 1
java.lang.IllegalStateException: Not iterating yet.
    at nallar.collections.LinkedHashSetTempSetNoClear.done(LinkedHashSetTempSetNoClear.java:50)
    at nallar.tickthreading.minecraft.tickregion.EntityTickRegion.doTick(EntityTickRegion.java:103)
    at nallar.tickthreading.minecraft.tickregio

[2014-05-28 05:43] Zilacon opened #1196 "Exception ticking entity GCCorePlayerMP"
05-27 22:40:51 [SEVERE] [TickThreading] Exception ticking entity GCCorePlayerMP['NParniewicz'/560, l='Sanctuary', x=-47.44, y=76.00, z=98.48](NParniewicz at -47.43559944853751,76.0,98.47850474021185) in rX: -2, rZ: 3, hashCode: 196606/Sanctuary/3:
java.util.ConcurrentModificationException
    at java.util.LinkedHashMap$LinkedHashIterator.remove(Unknown Source)
    at nallar.tickthreading.minecraft

[2014-05-28 05:44] Zilacon opened #1197 "Started iterating when not previously done"
05-27 22:44:11 [SEVERE] [TickThreading] Started iterating when not previously done
java.lang.Throwable
    at nallar.collections.LinkedHashSetTempSetNoClear.startIteration(LinkedHashSetTempSetNoClear.java:41)
    at nallar.tickthreading.minecraft.tickregion.EntityTickRegion.doTick(EntityTickRegion.java:31)
    at nallar.tickthreading.minecraft.tickregion.TickRegion.run(TickRegion.java:36)
    at n

[2014-05-28 08:19] Zilacon opened #1198 "Exception in main tick loop"
05-27 22:57:14 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
    at thermalexpansion.part.conduit.fluid.GridFluid.doGridUpdate(GridFluid.java:63)
    at thermalexpansion.part.conduit.GridTickHandler.tickEnd(GridTickHandler.java:76)
    at cpw.mods.fml.common.SingleIntervalHandler.tickEnd(SingleIntervalHandler.java:34)
    at nallar.tickthreading.util.WrappedSc

[2014-05-28 12:09] LunNova commented on #1195
#1195, #1196 and #1197 are all symptoms of the same issue - a world is being ticked twice at the same time for some odd reason.

Can you paste your TT config? Specifically I'm wondering if it's set not to wait for entity tick completion.

I'mll close the others as duplicate since they're caused by a single root problem.

[2014-05-28 12:10] #1196 closed, assigned to LunNova

[2014-05-28 12:10] #1197 closed, assigned to LunNova

[2014-05-28 13:06] alicheek commented on #1195
I can confirm that if you have wait for tick completion that ic2 items don't work, it's like that old bug where the solar panels aren't facing up and also the ic2 cables don't connect to each other, so I turned it back to true

[2014-05-28 13:25] ProsperCraft commented on #1112
We are having this as well on FTB Agrarian Skies 2.1.6, MCPC+

05-28 01:21:41 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.block.machine.TilePulverizer @1103677668 in AgrarianSkies2/0 at x, y, z: 3297, 78, 3419
java.lang.NullPointerException
        at thermalexpansion.block.machine.TilePulverizer.processFinish(TilePulverizer.java:105)
        at thermalexpansion.block.

[2014-05-28 13:29] ProsperCraft opened #1199 "Itemducts disconnect, items spill on the ground."
FTB Agrarian Skies 2.1.6
TickThreading-1.6.4.230
MCPC Plus

Itemducts are randomly disconnecting, I have seen items spilling onto the ground.

[2014-05-28 13:32] ProsperCraft commented on #1112
One thing I can add to this, when we went to the machine, it was set up on a loop, on Agrarian Skies you put cobble in which turns to gravel, then gravel in to get sand, and sand in to get dust, then dust won't go in.

This pulverizer was accepting dust, and turning it into gravel.

dupe here: https://github.com/nallar/TickThreading/issues/1139

[2014-05-28 14:50] ghost commented on #1199
Some more info on this bug for you. The world was already created and running and TickThresding was added after the fact. I have noticed that most of the problems seem to be as duct cross chunk lines.

[2014-05-28 16:22] mainsheep opened #1200 "TT230 - Applied Energistics - Inventory bug"
Using only forge, no MCPC+.

When taking items out of the ME system, the item doesn't show up as it has been removed from the ME system, even though you cannot take anymore from the ME system.

IE, you have 64 stacks of sand, take all the sand from the ME, the ME system still show as having 64 stacks of sand, but you cannot take anymore out.

Once you close the ME system, and reopen it, the item w

[2014-05-28 16:24] mainsheep commented on #1200
Also happens if you add items into the ME system, it will not show up as stored in the ME system until you close and re-open the interface.

[2014-05-28 17:31] BlackAce21 commented on #1199
I am with those 2 ^

Additionally, console is spitting out null pointer errors for the TE pulverizer in the console, its also accepting items from input devices like hoppers that it shouldn't and has no recipe for then tries to process them.

With the itemducts the issue is happening repeatedly and happens on chunk unload. I have seen reports that a chunk loader will curb it from happening but hav

[2014-05-28 17:47] Zilacon commented on #1195
Heres my config http://pastie.org/9231533

[2014-05-28 18:26] Zilacon opened #1201 "TT 1.4.7 Does not work at all with Tekkit Lite"
Tried using Tekkit Lite since that server has so many crashing problems and TT shutsdown when a crash happens and my start script restarts it so i don't have to worry about it crashing when im asleep.

However this is what i get everytime i start the server:

2014-05-28 10:15:19 [SEVERE] [TickThreading] Nether/-1 has become unstable, stopping.
2014-05-28 10:15:19 [SEVERE] [TickThreading] Exception

[2014-05-28 18:34] LunNova commented on #1201
Make sure you're using the correct latest 1.4.7 build, http://nallar.me/buildservice/job/TickThreading-1.4.7/lastSuccessfulBuild/ and that you remembered to run the patchme script.

Other than that, TT 1.4.7 is no longer supported and I will not be making any bugfixes.

[2014-05-28 18:34] #1201 closed, assigned to LunNova

[2014-05-28 18:35] LunNova commented on #1195
Change B:waitForEntityTickCompletion=false back to true, it should resolve the issue.

[2014-05-28 18:36] Zilacon commented on #1201
Thats the build im using... :(

[2014-05-28 21:52] Zilacon commented on #1198
This error is unbearable... Its just flooding my console to no end...

Just by having a Fluiduct loaded with liquids at all in it makes it go permanently insane, i broke the pipes and it continued to error forever...

[2014-05-28 23:08] alicheek opened #1202 "[TT-1.6.4.230] [MCPC] [1.6.4] [SEVERE] [TickThreading] Exception ticking TileEntity c mods.railcraft.common.blocks.machine.beta.TileTankIronWall"
[SEVERE] [TickThreading] Exception ticking TileEntity c mods.railcraft.common.blocks.machine.beta.TileTankIronWall @851953903 in Overworld/0 at x, y, z: -461, 51, 448
java.lang.NullPointerException
    at mods.railcraft.common.blocks.machine.TileMachineBase.func_70316_g(TileMachineBase.java:120)
    at mods.railcraft.common.blocks.machine.TileMultiBlock.func_70316_g(TileMultiBlock.java:146)
    at

[2014-05-28 23:09] alicheek opened #1203 "[TT-1.6.4.230] [MCPC] [1.6.4] [SEVERE] [TickThreading] Exception ticking TileEntity c mods.railcraft.common.blocks.machine.beta.TileTankIronGauge"
[SEVERE] [TickThreading] Exception ticking TileEntity c mods.railcraft.common.blocks.machine.beta.TileTankIronGauge @657611092 in Overworld/0 at x, y, z: -461, 48, 448
java.lang.NullPointerException
    at mods.railcraft.common.blocks.machine.TileMachineBase.func_70316_g(TileMachineBase.java:120)
    at mods.railcraft.common.blocks.machine.TileMultiBlock.func_70316_g(TileMultiBlock.java:146)
    a

[2014-05-29 21:43] Zilacon opened #1204 "Initing extra LaunchClassLoader - why?!"
2014-05-29 14:37:22 [SEVERE] [ForgeModLoader] Initing extra LaunchClassLoader - why?!
java.lang.Throwable
    at net.minecraft.launchwrapper.LaunchClassLoader.<init>(LaunchClassLoader.java:46)
    at micdoodle8.mods.miccore.MicdoodleTransformer.<init>(MicdoodleTransformer.java:43)
    at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
    at sun.reflect.NativeConstructorAcces

[2014-05-30 04:34] Katelyn-SN commented on #1188
This isn't a bug.. Its a enhancement that should be made...

[2014-05-30 11:58] LunNova commented on #1188
I was skimming the titles when setting the labels, didn't notice as "enhancement" was misspelled (phone autocorrected?) to "enchantment". Fixed it now.

[2014-05-31 07:35] alicheek opened #1205 "[TT-1.6.4.230] [MCPC] [1.6.4] [SEVERE] [TickThreading] Exception in main tick loop"
[SEVERE] [TickThreading] Exception in main tick loop
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextNode(HashMap.java:1429)
    at java.util.HashMap$EntryIterator.next(HashMap.java:1463)
    at java.util.HashMap$EntryIterator.next(HashMap.java:1461)
    at java.util.HashMap.putMapEntries(HashMap.java:511)
    at java.util.HashMap.clone(HashMap.java:1324)
    at

[2014-05-31 07:43] alicheek opened #1206 "[TT-1.6.4.230] [MCPC] [1.6.4] [SEVERE] [TickThreading] Exception while ticking a block"
[SEVERE] [TickThreading] Exception while ticking a block
java.lang.NoSuchFieldError: icon
    at exaliquo.blocks.BlockEndEye.func_71895_b(BlockEndEye.java:112)
    at exaliquo.blocks.BlockEndEye.func_71847_b(BlockEndEye.java:94)
    at net.minecraft.world.WorldServer.func_72955_a(WorldServer.java:359)
    at net.minecraft.world.WorldServer.func_72835_b_net_minecraft_world_WorldServer_tick_p0(World

[2014-05-31 19:44] Zilacon commented on #1205
Join the club #1198 =P

[2014-05-31 20:57] devryb commented on #1198
Duplicate of https://github.com/nallar/TickThreading/issues/1194

[2014-06-01 01:14] Zilacon opened #1207 "MASSIVE Network & World usage when exploring world."
Me and 2 others were exploring the server going separate directions, after about 5 mins of exploring this is what i saw when doing /tps

http://prntscr.com/3oicew

Almost 300% load on the world we were exploring for just 200 chunks!
And 140% Network Load...

Any idea what could be causing this?

[2014-06-01 14:47] witchway915 opened #1208 "npe's and exceptions in tick"
1 instance of exception in ticks with the twilight

https://gist.github.com/witchway915/f506c38fbe2e892110df

2 with exception in ticks with the nether

https://gist.github.com/witchway915/2c92b0ec66162281639a

https://gist.github.com/witchway915/80999dcb1a1e963eb0a0

and another just now in the myst age we use for mining

https://gist.github.com/witchway915/a3d2d3756e248ed0d4e8

[2014-06-01 19:43] Slind14 opened #1209 "[Suggestion] Focus on essential mods that are included in most modpacks"
Hey,

I would like to propose to focus on mods like thermal expansion that are included in all well played modpacks like:
- Monster
- B-Team
- Agrarian Skies
- Horizons
- ....

.. and are essential to the game-play and important to players.

This would allow us to use tickthreading earlier and profit by delivering less lag to the players.

[2014-06-01 22:08] Littleniamh commented on #1207
Are you running a modpack with Alternative Terrain Generation mod.

I see similar problems within my server when that's running as it generates much larger areas than the normal Terrain Generation.

[2014-06-02 01:45] Zilacon commented on #1207
The only thing that would be generating terrain is Biomes O Plenty and Better Dungeons

Here is my pack: http://www.technicpack.net/modpack/details/apocalyptic-gaming-tech-rpg.363244

[2014-06-02 02:38] devryb opened #1210 "TT-230 1.6.4 AE, can't make quantum entangled singularity"
When blowing up the singularity with TNT to make the entangled set it actually destroys them without turning it into the proper item.  Without TT this isn't an issue.

I believe this issue also existed in TT 1.5.2 at some point.

No error is thrown in the console or log when this happens.

[2014-06-02 05:46] ghost commented on #1209
Couple issues:

Deciding which mods are essential.

"profit by delivering less lag to the players." - If you mean money when you say profiting that is highly distasteful. If you just want Tick Threading so you can cram more players onto a money grabbing server then in my opinion you can go twiddle your thumbs while your server bursts into flames. Apologies if this is not what you mean.

What about

[2014-06-02 19:32] UXELDUXEL opened #1211 "Tickthreading bug with Thermal Expansion 3.0.0.7"
Hi i am currently building a server with Tickthreading v1.6.4.230 and i am having some issues with thermal Expansion 3.0.0.7.

All pipes of Thermal Expansion are disconnecting from eachother(at chunk borders) when the chunk reloads(eg server restart and chunk reload) and sometimes they just completely bug out.
I think its because of forge multipart not working with tickthreading but i am not sure

[2014-06-02 19:35] Slind14 commented on #1209
Sorry, in my culture "profit" is not only money related. This wouldn't change anything for us delivering more slots or anything, but it would improve the tps which is a "profit" mainly for the players and save us time dealing with the complaints and telling that there isn't much we can do. Next to this, it might also allow us to merge servers back together instead of having multiple ones.

I'm not

[2014-06-02 19:45] Slind14 commented on #1209
Edit: Just a small example, Agrarian Skies is mainly based on Thermal Expension, there are a lot of servers out but they all are exploding as it hyped that much. If TE would be usable with TT servers could already use it.

[2014-06-02 20:43] UXELDUXEL commented on #1211
really ... hmm but the pipes were working fine without tickthreading
I dont think its caused by thermal expansion i just made a world copy to my testserver without tickthreading and its working fine there

Anyways maybe it just derps out more often with tickthreading i keep restarting my testserver the entire night every 10 minutes tomorrow i am gonna tell you if it has derped out ... (I dont want

[2014-06-02 23:25] Zilacon opened #1212 "NPE when hungry..."
So this happens when my hunger bar is completely empty:

2014-06-02 16:22:14 [WARNING] Failed to handle packet for Zilacon/192.168.1.1: net.minecraft.util.ReportedException: Ticking player
net.minecraft.util.ReportedException: Ticking player
    at net.minecraft.entity.player.EntityPlayerMP.func_71127_g(EntityPlayerMP.java:488)
    at net.minecraft.network.NetServerHandler.func_72498_a(NetServerHa

[2014-06-02 23:26] Zilacon opened #1213 "NPE when applying armor bonuses"
This happens when a helmet from Better Storage gives me extra life and is trying to heal the extra life (Dragon Helmet):

2014-06-02 16:23:14 [WARNING] Failed to handle packet for Zilacon/192.168.1.1: net.minecraft.util.ReportedException: Ticking player
net.minecraft.util.ReportedException: Ticking player
    at net.minecraft.entity.player.EntityPlayerMP.func_71127_g(EntityPlayerMP.java:488)
    a

[2014-06-03 19:14] UXELDUXEL commented on #1211
Alright this one got fixed by updateing forge multipart to the version 250
i think the version 244 i was using just wasnt compatible to tickthreadings seems fine if something goes wrong again i will report

[2014-06-03 19:16] UXELDUXEL commented on #1211
to early still pipes disconnecting ... on server restart damn

[2014-06-05 10:08] Zerys2424 opened #1214 "Issue with thermal expansion [Modpack CrackPack] Version: THERMALEXPANSION-3.0.0.7"
Fluid ducts no longer work correctly and do not transport fluids.

All power conduits from the mod no longer transmit power and sometimes do not connect properly.

Does not seem to throw an error in console / log

Tick threading version: 230 current latest  for me.

[2014-06-05 11:17] alicheek opened #1215 "[TT-1.6.4.230] [MCPC] [1.6.4] [[31mSEVERE[39m] [TickThreading] Exception ticking world The End/1"
[[31mSEVERE[39m] [TickThreading] Exception ticking world The End/1
java.lang.NullPointerException
        at codechicken.multipart.TMultiPart.getWriteStream(TMultiPart.scala:196)
        at codechicken.multipart.TMultiPart.sendDescUpdate(TMultiPart.scala:210)
        at codechicken.wirelessredstone.logic.WirelessPart.updateChange(WirelessPart.java:238)
        at codechicken.wirelessredstone.log

[2014-06-05 11:59] Zerys2424 opened #1216 "Going to the end with hardcore ender expansion mod causes an internal server error"
Modpack version: The CrackPack on the At-Launcher

Issue with mod: Hardcore Enderexpasnion

Version: 1.6

Tickthreading version: 230

[2014-06-05 12:02] Zerys2424 opened #1217 "Using the repulsion module from Modular Force Field systems caused bad packet error 38"
Mod that is at fault: Modular Force Field systems

Version: MODULAR-FORCE-FIELD-SYSTEM-3.6.2.67-CORE

Issue: If you add the repulsion module into the main force field system it will kick you off and you won't be able to log back in. Comes up with a bad packet error 38

Modpack: The Crack Pack

[2014-06-06 12:32] momokli commented on #1176
so.. found something new? :)

[2014-06-06 17:14] wei2gao opened #1218 "Thermal Expansion Conduits break on chunk borders"
This was tested and found on two different servers. Conduits and ducts from Thermal Expansion will break on or around chunk borders, causing the entire network to stop transmitting. Both servers exhibited the behavior only after tickthreading was installed.

[2014-06-06 17:16] witchway915 opened #1219 "Agrarian Skies Server Deadlock"
https://gist.github.com/witchway915/9233ac17e58ad7e6dc87

using Agrarian Skies  v2.1.6

MCPC+ mcpc-plus-1.6.4-R2.1-forge965-B272

TT 230

If you need anything else let me know

[2014-06-06 17:25] Katelyn-SN commented on #1218
Already a known issue please close this duplicate.

[2014-06-06 17:25] Katelyn-SN commented on #1214
Already a known issue please close this duplicate.

[2014-06-06 17:26] Katelyn-SN commented on #1211
Already a known issue please close this duplicate.

[2014-06-07 03:15] Katelyn-SN commented on #1194
A simple fix for this when running mcpc plus is to edit the mcpc.yml at the bottom to make sure all worlds stay loaded its a work around for now

[2014-06-07 04:23] devryb commented on #1194
Thanks, trying that out now

[2014-06-07 07:10] Katelyn-SN commented on #1176
Does not seem it will be likely to be fixed soon as nallar has just all up and left so i don't know if he will be back and when. So at this point don't expect anything soon. Deal with the issues as they come up and fix them yourself the source is there thats all we can do for now.

[2014-06-07 08:15] #1211 closed, assigned to nobody

[2014-06-07 18:09] devryb commented on #1194
Still happens with those values all set to true

[2014-06-07 18:21] Katelyn-SN commented on #1194
Well don't expect  a fix soon nallar is gone and nobody knows if he will be back

[2014-06-07 20:27] Landrash opened #1220 "Twilight Forest with TPPI 1.0.4 MCPC+"
Whenever anyone enters The Twilight Forest with TPPI 1.0.4 MCPC+/Cauldron.
TickThreading-1.6.4.230
mcpc-plus-1.6.4-R2.1-forge965-B271
Server doesn't crash and continues running without any problems.

[code]

[2014-06-08 13:14] alicheek commented on #1205
Closed Duplicate #1198

[2014-06-08 13:14] #1205 closed, assigned to nobody

[2014-06-08 13:15] alicheek opened #1221 "[TT-1.6.4.230] [MCPC] [1.6.4] SEVERE] [TickThreading] Exception ticking TileEntity c sync.common.tileentity.TileEntityShellConstructor"
[SEVERE] [TickThreading] Exception ticking TileEntity c sync.common.tileentity.TileEntityShellConstructor @588460889 in Overworld/0 at x, y, z: -5504, 58, 4856
java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextNode(HashMap.java:1429)
        at java.util.HashMap$EntryIterator.next(HashMap.java:1463)
        at java.util.HashMap$EntryIterator.next(HashMap.java:

[2014-06-09 14:38] #1218 closed, assigned to nobody

[2014-06-10 05:40] Katelyn-SN opened #1222 "Pixelmon goes nuts with quite the spam in the logs, Bytecode dumps for no reason"
http://paste.md-5.net/pikagivolo.coffee

[2014-06-11 18:53] Phreag opened #1223 "Error: Grid in unloaded or null world nullthermalex pansion.part.conduit.fluid.GridFluid@3295ded0"
I run an Attack of The B-Team-Server which i want to work with TickThreading.
It works well, but the console is spamming out this:

06-11 20:50:09 [SEVERE] [Minecraft] Grid in unloaded or null world nullthermalex
pansion.part.conduit.fluid.GridFluid@3295ded0
06-11 20:50:09 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
        at thermalexpansion.part.conduit.f

[2014-06-11 19:07] Katelyn-SN commented on #1223
Already a known issue please close this duplicate

[2014-06-11 19:08] #1223 closed, assigned to nobody

[2014-06-12 22:40] Zilacon opened #1224 "NPE @ tropicraft.questsystem.PlayerQuestManager.tick"
06-12 14:38:41 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
    at tropicraft.questsystem.PlayerQuestManager.tick(PlayerQuestManager.java:39)
    at tropicraft.TickHandlerServer.onTickInGame(TickHandlerServer.java:73)
    at tropicraft.TickHandlerServer.tickEnd(TickHandlerServer.java:46)
    at cpw.mods.fml.common.SingleIntervalHandler.tickEnd(SingleIntervalH

[2014-06-12 22:47] Zilacon opened #1225 "NPE for Hamsters..."
06-12 14:45:20 [SEVERE] [Minecraft] java.lang.reflect.InvocationTargetException
06-12 14:45:20 [SEVERE] [Minecraft]     at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
06-12 14:45:20 [SEVERE] [Minecraft]     at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:57)
06-12 14:45:20 [SEVERE] [Minecraft]     at sun.reflect.DelegatingConstr

[2014-06-13 09:22] Zilacon opened #1226 "NPE with Pigs on Treadmills"
06-13 01:19:52 [SEVERE] [TickThreading] Exception ticking entity EntityPig['Pig'/291, l='Sanctuary', x=-614.50, y=60.18, z=-309.00] in rX: -20, rZ: -10, hashCode: -655380/Sanctuary/3:
java.lang.NullPointerException
    at net.minecraft.pathfinding.PathNavigate.func_75508_h(PathNavigate.java:262)
    at net.minecraft.pathfinding.PathNavigate.func_75501_e(PathNavigate.java:218)
    at net.minecraft.

[2014-06-13 10:59] Zilacon opened #1227 "NPE with ThermalExpansion Pulverizers & Furnaces"
06-13 02:57:46 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.block.machine.TilePulverizer @285133546 in Sanctuary/6 at x, y, z: -10751, 75, -895
java.lang.NullPointerException
    at thermalexpansion.block.machine.TilePulverizer.processStart(TilePulverizer.java:97)
    at thermalexpansion.block.machine.TileMachineEnergized.func_70316_g(TileMachineEnergized.java:126)

[2014-06-15 16:07] Phreag commented on #1112
@nallar are you working on this issue? or will you not support thermalexpansion with tickThreading?

[2014-06-15 20:14] Zilacon opened #1228 "REMOVED BY REQUEST OF THE INTERNET TROLL TF101-WIZARD!"
REMOVED BY REQUEST OF THE INTERNET TROLL TF101-WIZARD!

[2014-06-16 00:09] ghost commented on #1228
Obviously no one is silly enough to run it on a public server yet, just stop using Tick Threading until Nallar has time to fix some issues.

[2014-06-16 00:47] GUIpsp commented on #1228
HA

[2014-06-16 06:58] Zilacon commented on #1228
REMOVED BY REQUEST OF THE INTERNET TROLL TF101-WIZARD!

[2014-06-16 08:29] Katelyn-SN commented on #1228
It's quite simple if you intend to use these on public servers know the consequences i use them on public servers only after extreme testing and deemed them safe for only certain packs, any simple bugs i found i fixed if you don't have any experience with the way this mod works you should really not be using it at all at this point.

I speak from my mild experience with this mod and the code behin

[2014-06-16 08:40] Zilacon commented on #1228
REMOVED BY REQUEST OF THE INTERNET TROLL TF101-WIZARD!

[2014-06-16 09:43] Katelyn-SN commented on #1228
I've seen these types of errors before there are ways to make them more verbose if you had the experience that you really should have to be using a mod in a development condition you would know that all messages that are in a HRF aka Human Readable Format have a non HRF dump most of the time either as a stack trace or a hex dump for more severe cases that simply need to be dumped using some simple

[2014-06-16 10:01] Zilacon commented on #1228
REMOVED BY REQUEST OF THE INTERNET TROLL TF101-WIZARD!

[2014-06-16 10:20] Katelyn-SN commented on #1228
Great servers huh you spend all that but yet you cannot spend decent money each money on a website that actually stays on-line Pfft and Also you spend all that but yet you cannot spend decent money each money on a website that actually stays on-line Pfft and Also you think you can basicly tell a persons financial situation based on how they speak. Quite the feat i might say or as you might say "AR

[2014-06-16 10:24] Zilacon commented on #1228
You know what your almighty majesty? I will end it right here, because YOUR NOT!
You have continued to post and argue with me insult me and my servers for several hours.

You want this ticket gone, its gone.

[2014-06-16 10:26] #1228 closed, assigned to nobody

[2014-06-17 01:55] Zilacon opened #1229 "TT completely uncompatible with CauldronLegacy"
So MCPC is now called Cauldron and they are now using Gradle and have a installer now to download the libraries and a jar file to run afterwards...

I tried running this and TT is completely screwed when trying to run it on this (I suspected that before running it) so back to the old MCPC until some fixes are thrown out there for this.

[2014-06-17 20:08] Katelyn-SN commented on #1229
You can get it work but you need to run the installer which does not work on linux because it's a gui so i ran it on my pc and zipped up the libraries folder for your testing you can get it here:

https://drive.google.com/file/d/0B_ezGwB4rZiNakdEM3Q4a1FUVm8/edit?usp=sharing

Then you can launch the cauldron-1.6.4-1.965.7-Bx.jar from TickThreading it will run but it has a few errors so i included m

[2014-06-19 10:19] nylser commented on #1229
You can also run the installer on the server with `java -jar the_installer.jar --installServer`

[2014-06-20 13:27] ghost opened #1230 "Twilight Forest Chunk Generation"
Request an investigation into the serve lag that's produced while using MCPC+ and TickThreading. It's terrible, the client freezes upward towards a minute or more.

Using:
TickThreading-1.6.4.233.jar

mcpc-plus-1.6.4-R2.1-forge965-B272.jar
twilightforest-1.20.2.jar

Thank you.

[2014-06-20 16:15] kMaiSmith commented on #1230
Is this while generating in the Twilight Forest dimension or over all?

[2014-06-20 16:28] Zilacon commented on #1230
This is not an issue with TT as i have experienced and fixed it myself.

The problem with TwilightForest is it spawns these trees called Canopy Trees that go high into the sky with a crap ton of leaves making the forest seem "dark and spooky".

In 1.5.2 there was no option to disable this but thank god it was added to 1.6.4. Go into your config and scroll all the way to the bottom and set the cano

[2014-06-20 20:04] ghost commented on #1230
@Zilacon

Thank you very much! I had to add the performance section, it wasn't found inside the config. It's working great now.

[2014-06-20 20:04] #1230 closed, assigned to nobody

[2014-06-20 20:05] Zilacon commented on #1230
No problem! Glad i could help :)

[2014-06-21 17:15] Zilacon commented on #1229
Nylser... I explained in my original post i used the installer...
The build of cauldron itself is not compatible with TT because TT was never built to work with this build of Cauldron.

[2014-06-21 18:47] Zilacon opened #1231 "Multiple energy network issues with multiple mods."
I am not getting any errors with any of this, but without TT there is no issue with any sources of energy with any mods.

Right now there is issues with:
ThermalExpansion
Mekanism
AdvancedGenetics
IndustrialCraft 2
Galacticraft

Basically someone can setup a engine or solar panel or some source of energy and it will run, it will burn the fuel, water, lava, etc. But it will not produce any energy.

[2014-06-22 03:54] bloodmc commented on #1229
@Zilacon gradle server? what are you talking about? gradle is used to BUILD the software, it has NOTHING to do with the server once it is built.

nallar just has to update his patches to work with latest changes that I did in cauldron.
As for the installer not working on linux, this is false as well...The installer is identical to forge and can simply be run by using the command that nylser posted

[2014-06-22 03:58] Katelyn-SN commented on #1229
Here's a better question @bloodmc Is there any SIGNIFICATE changes in this new cauldron compared to the mcpc-plus builds that would be worth upgrading for? This would state whether or not this ticket is even relevant at this point in time.

[2014-06-22 04:11] bloodmc commented on #1229
@tf101-wizard many significate changes and bug fixes. Read the changelog to see them all.

[2014-06-22 04:15] Katelyn-SN commented on #1229
Only asking since I haven't made the switch yet but have did enough patches to make TT not throw so many bugs due to missing or moved classes

[2014-06-22 04:20] Dark-Arcana commented on #1229
Dude kevhawk. Like what. I don't even. Came here for a good laugh though.

Seriously if anyone is concerned about anything, just read what @bloodmc has said.

[2014-06-22 06:15] Zilacon commented on #1229
@bloodmc I am aware gradle is the software to build the program but MCPC was not built with gradle until now according to your release notes! I am reading off WHAT YOU SAID in your build comments!

[2014-06-22 06:17] Katelyn-SN commented on #1229
It makes no difference gradle in no way effects how it works or operates it has no effect on anything saying this would be the cause of some of the errors is incorrect.

[2014-06-22 06:17] Dark-Arcana commented on #1229
You can't build something off of gradle. lel. Gradle is just a scripting language that takes input commands that do a certain thing in a certain order. Essentially, it builds a thing like making a recipe. Cauldron is not built off of gradle. Look shit up before you start yelling at people.

[2014-06-22 06:20] Zilacon commented on #1229
The internetz trolls are strong with these ones...

You wanna talk about yelling at people @Dark-Arcana ? The one who spent hours bitching at mojang about technics launcher? You are not one to talk about bitching at people, you are in fact a prime example of bitching at people.

[2014-06-22 06:25] Dark-Arcana commented on #1229
You might be overstepping yourself a little bit here Zilacon. I've had many in depth conversations with Mojang employees, and many of those conversations were pretty good. If you are referring to that reddit post that Asie made public, that wasn't my doing. It also wasn't an argument so much as a discussion, but minecrafters on Reddit like to make everything into drama. It snowballs really fast. Y

[2014-06-22 06:28] Katelyn-SN commented on #1229
This argument seems to be completely irrelevant just quit it seriously every single person on the internet is a "troll" and even that statement is a little misguided you both should go your separate ways as your doing no more than making fools out of yourselves.

[2014-06-22 06:28] Zilacon commented on #1229
@Dark-Arcana Ill do it myself, whenever @tf101-wizard posts on any of my issues on TT it starts to get out of hand even when he himself was wrong as stated by @bloodmc in his own reply to my issue report.

I had no issues with my installer on linux FYI @tf101-wizard your just a horrible troll who loves to stir shit up in anything i post.

[2014-06-22 06:29] Zilacon commented on #1229
Closing this issue so i don't get anymore spam emails from this pointless argument over nothing.

[2014-06-22 06:29] #1229 closed, assigned to nobody

[2014-06-22 06:32] Dark-Arcana commented on #1229
To be fair @Zilacon, @tf101-wizard is usually wrong about almost everything. That's not me being mean, but he argues with me just about all of the time and is usually shut down by an audience of people telling him he has no idea what he's talking about. He still believes he's correct though. He's one of those special cases where his parents have given him everything and told him he's special his w

[2014-06-22 06:37] Zilacon commented on #1229
@Dark-Arcana No problem. I deal with enough drama in my own community, fighting about a misunderstanding about gradle on my part is not something i want to waste my time on.

I'll tell you right now, as i tell everyone who speaks to me on my teamspeak. I am no genius, i do not program java, and i do not have a vast experience in anything related to java. I do however know several web design langua

[2014-06-22 06:40] Dark-Arcana commented on #1229
@Zilacon you're definitely doing it the right way. Sometimes you make a post about something that isn't an actual bug/issue based on your ignorance of a subject. We all do it from time to time because there are just so many things. Just keep doing that and when Nallar is back from break, he can look into things.

[2014-06-22 06:45] Katelyn-SN commented on #1229
@Zilacon @Dark-Arcana Its as simple as this we are no better than anyone here. This cause big or small is cause of a group action and not of 1 person. @Dark-Arcana  The things you talk about are not always up to par either but does anyone bother to contradict you ? No. @Zilacon You do all this work with these servers and you simply state you don't know everything. But you know alot its the same fr

[2014-06-22 06:49] Zilacon commented on #1229
@tf101-wizard Are you stoned or some shit?

There is so many contradictions in that single post that i am confused as hell just reading it!

You talk about @nallar not working on this project because of people like me reporting issues? @nallar has a fucking life dude, like many other people. This project (TickThreading) is a HOBBY, it is not his job, no one is paying him hourly to work on this. He

[2014-06-22 06:51] Katelyn-SN commented on #1229
Maybe you should read and understand its not about the posting issues. You do a alright job of that and it helps but im sure that nallar is less likely to even bother coming back to this with all this crap going on and it isn't just me.

[2014-06-22 06:53] Zilacon commented on #1229
@tf101-wizard Please point at every issue report that has "crap" going on. Please take a good hard look at every single issue that has arguments on it.

ITS YOU! ALWAYS YOU!
AND THIS RIGHT HERE IS PROOF ITS YOU!
I CLOSED THIS SHIT AND YOUR STILL ARGUING!

[2014-06-22 06:55] alicheek commented on #1229
Guys it's early in the morning and my phone is buzzing like mad, let's just all stop posing and get some tea and chill out 😁

[2014-06-22 06:59] NGSilentshots commented on #1229
BITCH I DONT DRINK TEA! SLEEP IS FOR THE WEAK!

[2014-06-22 07:01] SkyyFox commented on #1229
Here in 'murica unless its beer or nascar , not 1 fuck will be given.... same goes for this "tea" You could also try this thing called turning your phone off... should think about that while you sip your tea

[2014-06-22 07:04] Zilacon commented on #1229
@NGSilentshots , @SkyyFox ... I... WHAT!?

I am literally going to yell at github right now about what a CLOSED ISSUE means, like i dont know... CLOSED? NO MORE REPLIES? LOGIC?

Where is Spock to explain peoples broken logic when you need him...

Either way, unsubscribing from this issue ive had enough.

[2014-06-22 07:05] SkyyFox commented on #1229
@Zilacon github is like a woman.... you may scream and yell at her all you want , hell you may even close her out with an "end of discussion" but youre not allowed to leave... itll always come back ....even if its closed...

[2014-06-22 07:06] alicheek commented on #1229
Nice, really shows the maturity of you doesn't it, easier thing yet so I actually get important notifications and not these just unsubscribe to the thread 😉 , but thank you for your masterfully enlightened knowledge sir your a credit to your country...

Thanks

Alistair Cheek

Owner of Brierie Servers

[2014-06-22 07:07] SkyyFox commented on #1229
@alicheek

[2014-06-22 07:08] SkyyFox commented on #1229
@alicheek oh im sorry , did i just re-subscribe you to this topic that you unsubscribed from? HUH , maybe this tea is getting to me... also , i take offense you assume im a sir - thank you for calling me of the male gender.... Now , who's the real mature one here?

[2014-06-22 07:32] Dark-Arcana commented on #1229
My god. This whole post is pure gold now. Bring your fuckin' popcorn. @tf101-wizard what on Earth are you even talking about?

@tf101-wizard First off, why don't you try to point out a situation where my information wasn't up to par and how I acted about it. Unlike a child (referencing you here) and more like the scientist that I am, I take on new information and update my view of the world as is

[2014-06-22 08:03] Landrash opened #1232 "TPPI 1.0.4 - Mekanism - Salination Plant"
Salination Plant needs to be reformed when unloaded.

[2014-06-28 14:05] Bucky420 opened #1233 "Exception ticking world galacticraft.api.transmission.compatibility.UniversalNetwork"
[TickThreading] Exception ticking world Promised Land/21
java.lang.NullPointerException
        at java.util.LinkedList$ListItr.next(LinkedList.java:891)
        at micdoodle8.mods.galacticraft.api.transmission.compatibility.UniversalNetwork.doTickStartCalc(UniversalNetwork.java:223)
        at micdoodle8.mods.galacticraft.api.transmission.compatibility.UniversalNetwork.tickEnd(UniversalNetwork.ja

[2014-06-28 14:44] Bucky420 opened #1234 "Exception ticking entity GCMarsEntitySlimeling"
06-28 10:44:00 [SEVERE] [TickThreading] Exception ticking entity GCMarsEntitySlimeling['Grargmonkeybutt The Narcoleptic Babycrusher'/108, l='world', x=1334.34, y=116.00, z=1541.51] in rX: 41, rZ: 48, hashCode: 3145769/Overworld/0:
java.lang.NoSuchMethodError: net.minecraft.entity.DataWatcher.func_75691_i(I)Lnet/minecraft/entity/WatchableObject;
        at micdoodle8.mods.galacticraft.mars.entities

[2014-07-03 20:25] Bucky420 opened #1235 "Exception in main tick loop - thermalexpansion.part.conduit.GridTickHandler.tickEnd"
[TickThreading] Exception in main tick loop
java.util.ConcurrentModificationException
        at java.util.LinkedHashMap$LinkedHashIterator.nextEntry(LinkedHashMap.java:394)
        at java.util.LinkedHashMap$KeyIterator.next(LinkedHashMap.java:405)
        at java.util.AbstractCollection.addAll(AbstractCollection.java:341)
        at thermalexpansion.part.conduit.GridTickHandler.tickEnd(GridTickH

[2014-07-07 22:58] witchway915 commented on #1220
We got the error with all dimensions.

The errors are now gone after disabling hard core ender expansion.

[2014-07-13 16:49] Bucky420 opened #1236 "Saving entity NBT morph mod?"
java.lang.NullPointerException
    at net.minecraft.entity.Entity.func_70109_d(Entity.java:1791)
    at net.minecraft.entity.Entity.func_70039_c(Entity.java:1748)
    at morph.common.morph.MorphState.getTag(MorphState.java:81)
    at morph.common.core.EventHandler.onWorldSave(EventHandler.java:862)
    at net.minecraftforge.event.ASMEventHandler_48_EventHandler_onWorldSave_Save.invoke(.dynamic)

[2014-07-14 16:52] Sgat8516 commented on #1178
Any short term solution to this? Other than chunk loading the line ahead of the bores? These machines are quite effective resource gathering devices when grouped together and powered sufficiently.

[2014-07-14 18:56] Bucky420 commented on #1235
posable fix :)

[code]

[2014-07-14 18:57] Bucky420 commented on #1233
fixed

[code]

[2014-07-14 18:57] #1233 closed, assigned to nobody

[2014-07-14 22:09] Katelyn-SN commented on #1235
Seems to be working so far the console is not full of errors yet but we will have to see what happens.

[2014-07-15 00:03] Katelyn-SN commented on #1214
Please look at #1235 for a possible fix

[2014-07-15 01:57] dariusc93 commented on #1236
Does this happen without TT? This looks more like the fault of the mod itself (possible corruption in the morph data file?)

[2014-07-15 02:13] Bucky420 commented on #1236
no this happens with any entity and spams the console

[2014-07-15 02:17] Katelyn-SN commented on #1235
Conduits - Functional
Liquiducts - Functional - But break on chunk borders
Itemducts - Functional - But Break on chunk borders

So the main issue with completely not functioning is fixed but breaking on borders is still a issue.

[2014-07-15 19:49] Katelyn-SN commented on #1235
Sadly seems that there is still issues:

[code]

This seems to be spamming the console now .....

[2014-07-15 23:40] dariusc93 commented on #1235
This is likely due to the world being uploaded. Please change allowWorldUnloading to false in your TT config and retry again. If possible try without cauldron

[2014-07-19 20:24] Katelyn-SN commented on #1236
But the stack does not contain anything to do with tickthreading directly.. only things with logging which wont be a factor in the error.

[2014-07-25 22:28] Logos01 opened #1237 "Exception ticking TileEntity c logisticspipes.pipes.basic.LogisticsTileGenericPipe"
[code]

[2014-07-25 22:29] Logos01 commented on #1237
Haven't observed any actual errors client-side related to this. But it has been showing up in the server console log.

[2014-07-25 22:35] Logos01 opened #1238 "[LanteaCraft] Unhandled exception in ITickAgent. java.util.ConcurrentModificationException"
[code]

java.util.ConcurrentModificationException
            at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:859)
            at java.util.ArrayList$Itr.next(ArrayList.java:831)
            at pcl.lc.core.RemoteChunkLoading.advance(RemoteChunkLoading.java:226)
            at pcl.common.base.TickHandler.tickChildren(TickHandler.java:51)
            at pcl.lc.core.ServerTickHandler

[2014-07-25 22:35] Logos01 commented on #1238
This behavior is also seen with MystCraft portals (haven't tested with other portal varieties).
Supplementally, the LanteaCraft method of preloading chunks for portal transit is failing; the chunks need to be loaded via chunkloader.

[2014-07-25 22:53] rallias commented on #1237
Pipe at those coords is logistic satellite pipe.

[2014-07-26 20:04] gigafunk commented on #1235
tf-101 wizard, I am having a heck of a time building this from source, and I see on your branch you have applied this change already.  Any possibility of getting your last artifact from you? Even a mediafire link would be helpful.  In Nallar's source build instructs he says its built with ant, yet I can find any ant.xmls, there is a gradle wrapper that I ran successfully per the command given. I e

[2014-07-26 20:14] LunNova commented on #1235
See https://github.com/nallar/TickThreading#compiling

Check build/libs for jars.

On 26 July 2014 21:04, gigafunk notifications@github.com wrote:

##

Ross Allan

[2014-07-26 21:36] gigafunk commented on #1235
Wooo hoo! I found it in build/libs! thank you!! and thank you for all your work on this amazing piece of code man.

I compiled with gradle, I didn't seem to need ant, but I have it setup, so maybe it works in the background? or maybe I screwed it up!   Thanks for the quick reply!

[2014-07-26 22:23] Katelyn-SN commented on #1235
Nvm i should read also if your using my source make sure to disable the ability for world's to unload in TT config

[2014-08-01 16:31] Logos01 opened #1239 "Repeating Server Instability/Crash apparently related to ME Controllers."
Example output. This is causing a crash intermittently (sometimes happens twenty minutes after start, sometimes two days.)

08-01 00:13:06 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileController @280246632 in Unnamed Age/2 at x, y, z: -11, 73, -3
java.lang.RuntimeException: java.lang.IndexOutOfBoundsException: Index: 0, Size: -1
        at appeng.common.base.AppEngTil

[2014-08-04 09:30] ShlongDongSilver opened #1240 "tickthreading crashes cauldron server?"
hia id like to state im kinda a newb at this stuff and lets face it cauldron has don nothing but cause problems for nallar  but im going to post here because the crash only happens with tickthreading installed. also it stopped plugins from generating config files and i'm using the latest successful release of tt.
Edit:im running 1.6.4 crackpack server.not sure if the modpack type makes a diffence

[2014-08-04 11:29] hilburn opened #1241 "TTPatcher causing crash with squid AI"
Trying to set up a server with Tick Threading and getting a weird crash from TTPatcher and it has me stumped

http://pastebin.com/VX3XSPZ2 is the patcher log file

Would really appreciate any advice

[2014-08-04 13:42] ShlongDongSilver commented on #1237
i'm going to assume your running tekkit lite like I am if not the answer may still be the same, it is most likely a logistics pipe bug that tick threading has simply pointed out, my console will get spammed with them the bigger your system is. any ways read into it and it seemed to be a logistics pipe problem, I recommend if you haven't make a post on there aswell.

[2014-08-04 13:48] ShlongDongSilver commented on #1232
this is a mechanism error (or quite possibly an actually nerf to the design) and not a tick threading error please close and move your thread to somewhere more suited for mechanism.

[2014-08-04 21:14] Russell-IO opened #1242 "Unable to start 1.6.4 ftbserver w/ mcmyadmin"
we are unable to set the --serverJar=xyz.jar when using McMyAdmin, is it possible to parameterise this value instead of requiring it as a command line argument ?

[2014-08-04 21:22] Katelyn-SN commented on #1242
Modify the generated ttlaunch.properties files in the root of the server if your intended on using this on a public server do not its way to unstable

[2014-08-05 16:40] lemeur68 opened #1243 "Applied Energistics - Missing I.D.s"
Im playing on a custom mod pack with out TT whenever I make Applied Energistics items then save and exit then reneter my world their I.D.s change and dissapre. PLEASE HELP I LOSE ALL MY STUFF IN THE COMPUTER.

MODS IM USING:
[1.6.4]BetterFurnacesV3.4.dev
[1.6.4]Ultimate Tools Universal by Sahdow169[1.11.0.0]
[Forge]MrCrayfishConstructionModv1.0.5 (1.6.4)
1.6.4 DamageIndicatorsv2.9.2.3
AetherCraft-

[2014-08-05 16:43] Katelyn-SN commented on #1243
This is not a error caused by TickThreading as such no support will be provided.

[2014-08-05 16:51] lemeur68 commented on #1243
Why though?

[2014-08-05 16:54] Katelyn-SN commented on #1243
Because these are the issue section for TickThreading if your not running TickThreading then we have no reason to support you with and error not caused by this software

@nallar Request to close issue

[2014-08-05 16:55] lemeur68 commented on #1243
Okay thank you for telling me.

[2014-08-05 16:55] #1243 closed, assigned to nobody

[2014-08-05 23:59] Russell-IO commented on #1242
@tf101-wizard Thank you, no it's a private server

[2014-08-06 00:52] Russell-IO commented on #1242
I've documented these steps & raised a PR

[2014-08-06 00:52] #1242 closed, assigned to nobody

[2014-08-07 18:36] radfast commented on #1233
Hey, I'm co-dev of Galacticraft with micdoodle8.  Seems like you've fixed the issue with your `<synchronize>` function, but if there's anything we need to do in Galacticraft's code to help things along, please let me know.

Also a heads up, in 1.7.2 / 1.7.10 we plan to refactor Galacticraft's code to move `micdoodle8.mods.galacticraft.api.transmission.compatibility.UniversalNetwork` to become `mic

[2014-08-07 19:00] radfast commented on #1204
This is an issue in Galacticraft coding (actually, MicdoodleCore) which will affect some more complex setups.  Here's the erroring code:
https://github.com/micdoodle8/MicdoodleCore/blob/1.6/common/micdoodle8/mods/miccore/MicdoodleTransformer.java

We have fixed the issue in Galacticraft 3 for Minecraft 1.7.10.  If you need a fix for Minecraft 1.6.4 we can make a new Galacticraft build easily enoug

[2014-08-08 01:43] Bucky420 commented on #1233
still haven't tried to fix slimelings

[2014-08-11 09:29] YD3K opened #1245 "Asynchronous entity track!/Exception getting block ID spam"
After installing TickThreading on my cauldron(mcpc+) server with the mindcrack pack I get Asynchronous entity track!/Exception getting block ID spam every time I start the server.

TickThreading.log: http://pastebin.com/6fa4TzDP
TTPatcher.log: http://pastebin.com/fa5yS2Va

[2014-08-11 11:08] adamros opened #1246 "TTPatcher, Asynchronous entity track and chunk write errors - Cauldron 1.6.4 - 1.965.21.151"
Hello. I'm trying to run Cauldron 1.6.4 server - version 1.965.21.151.

During startup I get a lot of errors:
TTPatcher log: http://pastebin.com/AWaKfc7H
TickThreading log: https://paste.ee/e/4rX7D

Here are mods used in my modpack:
https://docs.google.com/spreadsheets/d/1s-fXGiZF6JHus73vcYs55YKgPlkQqHu0ptb-EGWYmgk/pubhtml

[2014-08-12 21:39] LLunatic opened #1247 "TickThreading with Chickenbones Translocators on Multiplayer"
Have a very heavily modded server losely based around the FTB monster pack that we installed tick threading onto to help with some of the CPU issues we were having. Shortly after we tried playing around with the translocators mod and found that it worked just fine, till you left the area or the chunk unloaded. Upon the chunk unloading the translocators blocks just disappear completely. No log on t

[2014-08-13 04:27] Katelyn-SN commented on #1247
TickThreading is highly unstable and should not be used on any server other
than for development and testing.

[2014-08-15 04:37] dariusc93 commented on #1247
Like @tf101-wizard  stated that TT is unstable. If you use TT you do accept the risk of corruption, etc., and should make backups before (and even during) use of TT. To they disappear as in completely from the map, or it doesnt render when you come back? If so, go back to the chunk and try /tick r

[2014-08-15 19:57] LLunatic commented on #1247
I regularly take backups. I have had a few other issues with Tick Threading as well that i have not yet reported. But since i removed it from my server i have not had any of these issues. Im aware that its unstable and still in testing.

Yes they seem to disappear completely. Translocators is supposed to move items from one inventory to another. There are not still items moving from inventory to a

[2014-08-17 17:56] Katelyn-SN commented on #1247
I see this issue present as well no errors or anything it just gone no chunk resets or anything.

[2014-08-30 09:19] LLunatic commented on #1247
Any news on getting this issue resolved?

[2014-08-31 03:58] dariusc93 commented on #1247
At the moment, TT is currently inactive. I have no time to go and debug it myself mainly since I do not support 1.6.4 no more. I would suggest removing TT from the server. If you have performance issues, run warmroast, opis, or some type of jvm profiler to determine the cause of the performance decrease.

[2015-03-19 14:59] Zilacon commented on #1219
@witchway915 I dont suppose you still got B272 for MCPC? Ive been looking everywhere and cannot find it because of the DMCA.

[2016-01-07 15:48] LunNova opened #1248 "Less ambitious, less rubbish 1.12 release"
Tasks:
- [x] Split javassist patching implementation into separate project
  - [x] Split non-minecraft code into [JavaPatcher](/nallar/JavaPatcher)
  - [x] Split minecraft-specific code into [ModPatcher](/nallar/ModPatcher)
- [x] Mixin implementation in nallar/JavaPatcher. nallar/Javapatcher#2
  - [x] Mixin implementation in [Mixin](/nallar/Mixin) nallar/Mixin#1
  - [x] Mixin transformations in [M

[2016-01-08 20:04] MrVoltz commented on #1248
Glad to hear you're coming back! I'm still sticking with your 1.5.2 release and fix everything myself :D.

[2016-01-09 22:43] #1215 closed, assigned to nobody

[2016-01-09 22:43] #1216 closed, assigned to nobody

[2016-01-09 22:43] #1217 closed, assigned to nobody

[2016-01-09 22:43] #1219 closed, assigned to nobody

[2016-01-09 22:43] #1220 closed, assigned to nobody

[2016-01-09 22:43] #1221 closed, assigned to nobody

[2016-01-09 22:43] #1222 closed, assigned to nobody

[2016-01-09 22:43] #1224 closed, assigned to nobody

[2016-01-09 22:43] #1225 closed, assigned to nobody

[2016-01-09 22:43] #1226 closed, assigned to nobody

[2016-01-09 22:43] #1227 closed, assigned to nobody

[2016-01-09 22:43] #1231 closed, assigned to nobody

[2016-01-09 22:43] #1232 closed, assigned to nobody

[2016-01-09 22:43] #1234 closed, assigned to nobody

[2016-01-09 22:43] #1235 closed, assigned to nobody

[2016-01-09 22:43] #1236 closed, assigned to nobody

[2016-01-09 22:43] #1237 closed, assigned to nobody

[2016-01-09 22:43] #1238 closed, assigned to nobody

[2016-01-09 22:43] #1239 closed, assigned to nobody

[2016-01-09 22:43] #1240 closed, assigned to nobody

[2016-01-09 22:43] #1241 closed, assigned to nobody

[2016-01-09 22:43] #1245 closed, assigned to nobody

[2016-01-09 22:43] #1246 closed, assigned to nobody

[2016-01-09 22:43] #1247 closed, assigned to nobody

[2016-01-09 22:43] #1186 closed, assigned to LunNova

[2016-01-09 22:43] #1187 closed, assigned to LunNova

[2016-01-09 22:43] #1188 closed, assigned to LunNova

[2016-01-09 22:43] #1189 closed, assigned to LunNova

[2016-01-09 22:43] #1190 closed, assigned to LunNova

[2016-01-09 22:43] #1191 closed, assigned to LunNova

[2016-01-09 22:43] #1192 closed, assigned to LunNova

[2016-01-09 22:43] #1193 closed, assigned to LunNova

[2016-01-09 22:43] #1194 closed, assigned to LunNova

[2016-01-09 22:43] #1195 closed, assigned to LunNova

[2016-01-09 22:43] #1198 closed, assigned to LunNova

[2016-01-09 22:43] #1199 closed, assigned to LunNova

[2016-01-09 22:43] #1200 closed, assigned to LunNova

[2016-01-09 22:43] #1202 closed, assigned to LunNova

[2016-01-09 22:43] #1203 closed, assigned to LunNova

[2016-01-09 22:43] #1204 closed, assigned to nobody

[2016-01-09 22:43] #1206 closed, assigned to nobody

[2016-01-09 22:43] #1207 closed, assigned to nobody

[2016-01-09 22:43] #1208 closed, assigned to nobody

[2016-01-09 22:43] #1209 closed, assigned to nobody

[2016-01-09 22:43] #1210 closed, assigned to nobody

[2016-01-09 22:43] #1212 closed, assigned to nobody

[2016-01-09 22:43] #1213 closed, assigned to nobody

[2016-01-09 22:43] #1214 closed, assigned to nobody

[2016-01-09 22:43] #1140 closed, assigned to LunNova

[2016-01-09 22:43] #1141 closed, assigned to LunNova

[2016-01-09 22:43] #1145 closed, assigned to LunNova

[2016-01-09 22:43] #1149 closed, assigned to LunNova

[2016-01-09 22:43] #1150 closed, assigned to LunNova

[2016-01-09 22:43] #1151 closed, assigned to LunNova

[2016-01-09 22:43] #1152 closed, assigned to LunNova

[2016-01-09 22:43] #1154 closed, assigned to LunNova

[2016-01-09 22:43] #1155 closed, assigned to LunNova

[2016-01-09 22:43] #1156 closed, assigned to LunNova

[2016-01-09 22:43] #1157 closed, assigned to LunNova

[2016-01-09 22:43] #1158 closed, assigned to LunNova

[2016-01-09 22:43] #1164 closed, assigned to LunNova

[2016-01-09 22:43] #1166 closed, assigned to LunNova

[2016-01-09 22:43] #1167 closed, assigned to LunNova

[2016-01-09 22:43] #1169 closed, assigned to LunNova

[2016-01-09 22:43] #1171 closed, assigned to LunNova

[2016-01-09 22:43] #1176 closed, assigned to LunNova

[2016-01-09 22:43] #1178 closed, assigned to LunNova

[2016-01-09 22:43] #1179 closed, assigned to LunNova

[2016-01-09 22:43] #1181 closed, assigned to LunNova

[2016-01-09 22:43] #1183 closed, assigned to LunNova

[2016-01-09 22:43] #1184 closed, assigned to LunNova

[2016-01-09 22:43] #1185 closed, assigned to LunNova

[2016-01-09 22:43] #1081 closed, assigned to LunNova

[2016-01-09 22:43] #1083 closed, assigned to LunNova

[2016-01-09 22:43] #1085 closed, assigned to LunNova

[2016-01-09 22:43] #1094 closed, assigned to LunNova

[2016-01-09 22:43] #1107 closed, assigned to LunNova

[2016-01-09 22:43] #1110 closed, assigned to LunNova

[2016-01-09 22:43] #1111 closed, assigned to LunNova

[2016-01-09 22:43] #1112 closed, assigned to LunNova

[2016-01-09 22:43] #1113 closed, assigned to LunNova

[2016-01-09 22:43] #1114 closed, assigned to LunNova

[2016-01-09 22:43] #1115 closed, assigned to LunNova

[2016-01-09 22:43] #1116 closed, assigned to LunNova

[2016-01-09 22:43] #1118 closed, assigned to LunNova

[2016-01-09 22:43] #1123 closed, assigned to LunNova

[2016-01-09 22:43] #1130 closed, assigned to LunNova

[2016-01-09 22:43] #1131 closed, assigned to LunNova

[2016-01-09 22:43] #1133 closed, assigned to LunNova

[2016-01-09 22:43] #1135 closed, assigned to LunNova

[2016-01-09 22:43] #1137 closed, assigned to LunNova

[2016-01-09 22:43] #1138 closed, assigned to LunNova

[2016-01-09 22:43] #1139 closed, assigned to LunNova

[2016-01-09 22:53] Vycraftujto commented on #1248
Wooow welcome back!!! We are so glad your coming whit 1.8 !!!!

[2016-01-09 23:09] Zilacon opened #1249 "Low Profile 1.7.10 Update?"
I was wondering if you could toss most of the complicated stuff out the window like mod patching and simply make a update for 1.7.10 that does server based things like the following:
- Crash Localization (Only crash the clients/players in the chunks around where the crash started, this is on 1.5.2/1.6.4 and it makes sure the servers uptime is always high.)
- Deadlock Detection (This has literally

[2016-01-09 23:10] LunNova commented on #1248
Sorry about the spam when I closed all the issues there.

I've closed all the old issues, as I won't be doing any further work on older MC versions.

[2016-01-09 23:18] LunNova commented on #1248
I've added a task list with basic plans for the first preview release. Have I missed any features people depend on?

I want to try to avoid adding too many features. TT ended up with a LOT of feature creep.

For example, in the new version TT will not have its own profiling, as the same features will be in TickProfiler. I'll need to work on improving TickProfiler's profiling features to match what

[2016-01-09 23:30] LunNova commented on #1249
I don't really want to do a 1.7.10 release. The modded MC world is starting to move on to 1.8.9, and by the time it's actually done there will be few people who need it.

If this does get done, it'll be done after the 1.8.9 release by downgrading the 1.8.9 release to 1.7.10-and turning off threading, depending on how much of a pain that is. 1.7.10 <> 1.8.9 is a pretty big jump :(

[2016-01-09 23:33] Zilacon commented on #1249
Alright, as it stands right now only 4 or 5 of the mods in my pack have updated to 1.8 in the last year. So i really do not see a full 1.8 modpack coming anytime soon which is why i thought id ask.

Plus there is NO server solution for 1.8. KCauldron is the only modded server software on the internet and he has no intentions of updating to 1.8 because as he states "Its 10x worse than 1.7". So sinc

[2016-01-09 23:48] LunNova commented on #1249
The lack of a server with bukkit API support for 1.8.[0/8/9] is a big problem there.

The most promising candidate is [Pore, the bukkit <> Sponge bridge](https://forums.spongepowered.org/t/pore-a-bukkit-sponge-bridge/1663/75). Sponge has entered beta now, and I hope this combination will reach a usable state soon.

Now that Forge has fixed/added workarounds for many of the problems with the blocks

[2016-01-10 08:47] Slind14 commented on #1248
I'm not sure if you see a solution, anyways, the chunk unloading tends to be more intense than the load once the active/ticking tile entities hit +15k in the world. They are all stored in an array list and on chunk unload they are being removed. But to keep in mind, on tick update minecraft is iterating over the list, so other collections don't make sense either.
On servers with +25k active tile e

[2016-01-10 15:29] LunNova commented on #1248
Old TT did as few operations as possible against those lists, and batched any additions/removals to them to once per tick using addAll/removeAll, which is much more efficient than separate remove calls. See [TickManager.batchRemove(Tile)Entities](https://github.com/nallar/TickThreading/blob/2a6554e7ece1a67189f0834124bebd43a74c35cf/src/main/java/nallar/tickthreading/minecraft/TickManager.java#L171)

[2016-01-10 15:40] Slind14 commented on #1248
Sounds good. My main concern regarding the collosion fix (and entity list batch remove) was that there might be users that don't want or can't use the multi threading part but would like to use this part. Kinda like nTweaks not being part of TT or ModPatcher.

[2016-01-10 15:43] LunNova commented on #107
Looking for input on this one again. Fezzes are cool, but it probably isn't a great name for googling as it's a common word.

[2016-01-10 20:25] Slind14 commented on #1248
I thought further about it and believe it would really be better if those non threading related and non critical patches would be in a separated mod. The performance impact of the collision patch and the entity list batch removes are a big improvement on their own. Especially the batch removes as those avoid the annoying lag spikes on base unload.
From my understanding those wouldn't be too diffic

[2016-01-10 20:42] LunNova commented on #1248
What about Optifine style core/extra/ultimate (probably got the names wrong) releases?

[2016-01-10 20:54] Slind14 commented on #1248
Like?
- basic (solid proof patches, very unlikely to interfere with mods)
- extra (production ready patches, could be incompatible with some mods)
- ultimate (experimental patches, likely to interfere with mods)

[2016-01-10 21:01] LunNova commented on #1248
Yes, something like that.
- <_PlaceHolderName_>-core
- <_PlaceHolderName_>-threaded
- <_PlaceHolderName_>-experimental

(TickThreading-threaded really doesn't work as a name)

[2016-01-11 10:26] Slind14 commented on #1248
Do you want something functional (giving an idea of what it does) or creative (no relation, e.g. forge, bukkit, sponge, glowstone).
Functional I could think of `PerfOverhaul` (performance overhaul). I'm not sure if that is a common word, in my native language it is used in terms of car and machine tuning.

[2016-01-20 15:13] LunNova commented on #1248
Quick status update:
1. Still working on Mixin - trying hard to avoid the mess the prepatcher was in previous versions
2. Expect to start working on network profiling in TickProfiler by Sunday
3. Vague estimate of starting work on TT proper within two weeks

Still looking for input on the name. I'll make a poll once there are enough good suggestions.

PerfOverhaul - very descriptive, but also quit

[2016-01-20 21:50] tenten8401 commented on #1249
i cri everytiem

[2016-01-28 14:58] LunNova commented on #1248
Ended up working in a slightly different order. Started the work on 1.8.9 TT first, mainly by deleting lots of classes and adding a single Mixin, just to confirm that ModPatcherGradle + ModPatcher + Mixin are working correctly.

Next thing to do is to add network profiling to TP.

My website/jenkins/maven repo may be down for some time due to a hosting migration during the weekend.

[2016-01-28 22:46] ProsperCraft commented on #1248
Nallar please make a patreon so server owners can give tribute to your greatness :)

[2016-02-02 13:20] LunNova commented on #1248
Hosting migration is now complete.

Maybe later, once it works.

[2016-02-08 01:18] LunNova commented on #1248
Status update:

TickProfiler for 1.7.10 and 1.8.9 both have support for all profliing options which TT used to have, except for the `/ticks` command which will continue to be TT only.

After far too much faffing around with classloading (maybe 4 hours?), including ModPatcher's API only in multiple mods of mine now works without conflicts and with automatic updating.

Now to start work on TT!

[2016-02-13 00:59] dobegor opened #1250 "Per-world threading"
Is there actually any sense doing per-world threading?
I.e. my server's runtime is spent mostly on dim0 ticking of tile entities, and updating a few chunks in nether and ender isn't a game changer.

The problem is the high number of Entities/TileEntities in dim0 being updated in a single thread. And that's really the most common problem over all minecraft servers in the wild, especially modded one

[2016-02-13 02:08] LunNova commented on #1250
Yes. It's a precursor to more invasive threading, and definitely does improve performance enough that it's worth it even on servers which use only the vanilla dimensions.

The concurrency model in previous TT versions is described here: https://github.com/nallar/TickThreading/blob/1.6.4/IMPLEMENTATION.md

Doesn't seem like a good idea. Mod authors aren't going to bother to do it, and the APIs requ

[2016-02-13 11:38] dobegor commented on #1250
Well, I understand these reasons now. Perhaps it's a good idea to leave this issue open if people will come up with some ideas about concurrency model.

Thanks for a good answer and your work!

[2016-02-13 16:03] LunNova commented on #1248
~~Temporary downtime for nallar.me/jenkins starting in 5 minutes, lasting approximately 15 minutes while I swap the UPS the server is on.~~

Maintenance completed with no issues.

[2016-02-19 21:58] LunNova commented on #1248
Status update:

Done some work on TT. After starting to actually use the new mixin patching, I ran into some deficiencies mainly involving generics, so more work on JavaTransformer/Mixin was needed to get that working.

I won't be doing much if any work on this over the weekend, as I will be attending [StrathHACK](https://hack.strathtech.co.uk/).

[2016-02-23 18:55] gabizou opened #1251 "Using Mixins"
So I've noticed that there's something called [Mixin](https://github.com/nallar/Mixin) and while it's great and all to do this, I would like to note that there's already another [Mixin library](https://github.com/SpongePowered/Mixin) which at SpongePowered, we've developed for a little over a year now, and suffice to say that the power wielded with it is pretty substantial. Examples can be found i

[2016-02-23 19:20] LunNova commented on #1251
Thanks for your interest. I had a discussion with @Mumfrey recently on IRC and can post a transcript if you want. Small excerpt regarding the naming

This was meant as a joke, but if you do have more sensible ideas for an alternate name I'm happy to swap it over.

Unfortunately, SpongePowered/Mixin doesn't really match my needs - and I'm not sure it's intended to?

Things I needed (or do not neces

[2016-02-23 19:33] LunNova commented on #1248
Should have a testing release out by Friday evening GMT. It will not do any threading at all - only a few minor performance improvements.

Goal with this is to find any compatibility issues with the new patching system.

[2016-02-23 19:36] Slind14 commented on #1248
1.8.9 only I suppose?

[2016-02-23 19:38] LunNova commented on #1248
Yes

[2016-02-24 09:40] Slind14 commented on #1248
Unfortunately I'm not able to offer testing for 1.8.9

[2016-02-26 23:38] XPownage commented on #1248
@nallar Is the test release going to be out tonight?

[2016-02-27 00:20] LunNova commented on #1248
Ended up spending more time than expected working on a project for uni, so the testing release will probably be delayed until tomorrow. :(

I want to get the variants system (optifine style multiple release types) implemented as part of the testing release.

Sorry for the delay.

[2016-02-27 00:42] XPownage commented on #1248
@nallar Its alright, I'd rather want something that you are more conformable with releasing at the end of the day.

[2016-02-28 02:32] LunNova commented on #1248
[First 1.8.9 testing release!](https://jenkins.nallar.me/job/TickThreading/branch/1.8.9/). Grab the "-core" jar and drop it in your mods folder.

The aim is that it should do: absolutely nothing! A very minor performance improvement by hardcoding the current side in FMLCommonHandler, but nothing substantial.

Hoping to hear that it a) doesn't cause crashes b) has no noticeable impact. This is a te

[2016-02-28 05:56] XPownage commented on #1248
Awesome! I'll be more than glad to give you input on crashes and other related issues that I might find.

[2016-02-28 05:59] XPownage commented on #1248
@nallar Ok well I tired launching the core version and it just didn't work.
28.02 05:58:46 [Server] main/INFO [STDERR]: [java.lang.Throwable:printStackTrace:634]: Caused by: java.lang.ClassNotFoundException: me.nallar.modpatcher.ModPatcher$Version

[2016-02-28 11:20] LunNova commented on #1248
Oops - my test setup had the ModPatcher jar in the mods folder, so it didn't run into that problem. [Should now be fixed](/nallar/ModPatcher/commit/dcfb2ceb72d7c845de6b3a1285867ac6a6eadc81).

[2016-02-28 21:39] XPownage commented on #1248
Tried it again and yet another crash occurred.
[net.minecraftforge.fml.relauncher.ServerLaunchWrapper:run:48]: Caused by: java.lang.NoClassDefFoundError: me/nallar/modpatcher/ModPatcherTransformer

[2016-02-29 00:16] LunNova commented on #1248
Can you put the full server log in a gist/pastebin?

[2016-03-01 19:32] XPownage commented on #1248
@nallar  http://pastebin.com/xxbnU0aX   This log is without other mods just to see if there was conflicts which apparently there wasn't.

[2016-03-03 09:23] LunNova commented on #1248
@XPownage Great, thanks. It should be fixed in the latest build. I've also added some more detailed logging information for ModPatcher loading.

[2016-03-04 10:35] LunNova commented on #1248
Sorry for the lack of work this week - a combination of coursework and factorio happened.

ModPatcher updating is now a lot less fragile, so hopefully won't be any more crashes on startup relating to it.

[2016-03-05 21:50] XPownage commented on #1248
@nallar Tried it again and still crashes, is there any other mods except mod patcher core and tick threading core I need?

[2016-03-06 00:33] LunNova commented on #1248
@XPownage It shouldn't need any other mods. :s

I think earlier failures may have left some broken files behind in your mods directory. Let's try a clean start.

Delete any files with ModPatcher in their name (eg: ModPatcher.jlib or ModPatcher-core.jar). Ensure the only TT related mod in your mods directory is the latest build, (currently `TickThreading-1.8.9.50-core.jar`).

I've spun up a fresh i

[2016-03-18 23:08] ProsperCraft opened #1252 "java.lang.Error: Inconsistent transformation results."
On forge-1.8.9-11.15.1.1764-universal
with spongeforge-1.8.9-1763-4.1.0-BETA-1212
Tickthreading-core doesn't seem to load - there is no config file created.

Possibly relevant portion of the log file-
http://pastebin.com/4WQ6pSFR

Entire log- https://www.dropbox.com/s/bawkkzmtrnhyt3e/fml-server-latest.log?dl=1

[2016-03-27 13:32] madtomic opened #1253 "Does this still work on 1.8.9?"
Great project btw!

[2016-03-27 13:33] madtomic commented on #1253
What I mean is for spigot 1.8.9 servers.

[2016-04-19 18:34] Katelyn-SN commented on #1253
No, it will not work on Spigot server's it's designed around forge it's not a plugin.

[2016-04-29 09:14] Unnoen commented on #107
TickEnhancement
ChunkEnhancement
NullTicks
ChunkFaster
TooManyTicks
NotEnoughTicks
MyTPSisBiggerThanYours

[2016-05-01 14:59] TheElectronWill commented on #1250
As nallar said, a true multithreaded system would require an adapted API and/or a lot of entity patching, so it's hard for a mod to do this. But it can be done by an entirely new program, and that's the goal of [Photon](https://github.com/mcphoton) :)

[2016-05-25 11:11] LunNova commented on #1253
I'm currently not targetting Spigot/MCPC/Cauldron/etc type things.

For 1.8.9 I wasn't aware that there even was a release of that sort of thing?

[2016-05-25 11:11] #1253 closed, assigned to nobody

[2016-05-25 12:00] ShlongDongSilver commented on #1253
sponge i believe has a 1.8, thats probably the only forge plugin handler. https://github.com/SpongePowered

[2016-05-25 12:03] LunNova commented on #1253
Sponge will be supported. It currently causes some issues with patching, but they will be fixed.

[2016-06-27 11:49] LunNova commented on #1249
Definitely not going for 1.7.10. As expected, I've been too busy lately and there's no way I'll have time to backport for 1.7.10.

[2016-06-27 11:49] #1249 closed, assigned to LunNova

[2016-06-27 11:51] LunNova commented on #1252
ModPatcher issues with Sponge transformers have been resolved in ModPatcher/0ed2e55a05bb4a36588 and other commits on the same day.

[2016-06-27 11:51] #1252 closed, assigned to LunNova

[2016-06-27 11:52] LunNova commented on #1248
I will now be targeting 1.10. Don't want to get stuck updating past versions again.

[2016-06-27 12:56] Slind14 commented on #1248
makes sense. How is your motivation about this, do you think there will be a production ready version, like 1.4.7 had?

[2016-06-27 13:06] ProsperCraft commented on #1248
We loved the 1.5.2 version, it worked like a miracle.

[2016-06-30 09:06] LunNova commented on #1248
@Slind14 I have a reasonable amount of motivation, but too little time. Less motivation than I used to though. :(

I'm trying to do it again, but realistically it's not happening. I expect to continue to have time to keep TickProfiler up to date, but TT is probably never going to be as good as it was when I had near-infinite free time due to being 16 years old!

[2016-06-30 09:08] Slind14 commented on #1248
Thanks for the honesty :)

[2016-07-03 00:49] tenten8401 opened #1255 "Is 1.7.10 still an option?"
A lot of the modded servers are still running on 1.7.10 and it would be absolutely wonderful if you could give this a backport to 1.7.10 as that version completely missed out.

Glad your back by the way!

[2016-07-03 01:19] LunNova commented on #1255
See discussion under #1249 and #1248

[2016-07-03 01:22] tenten8401 commented on #1255
That's just sad. Can't wait until my favorite mods go to 1.8.9

-Isaac
On 7/2/2016 9:19:10 PM, Ross Allan notifications@github.com wrote:
See discussion under #1249 [https://github.com/nallar/TickThreading/issues/1249] and #1248 [https://github.com/nallar/TickThreading/issues/1248]
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub [https://gi

[2016-07-03 18:00] tenten8401 commented on #1255
May I just point this out.
1.2k mods vs 47.
http://modlist.mcf.li/version/1.7.10
http://modlist.mcf.li/version/1.8.9

[2016-07-03 18:58] #1255 closed, assigned to nobody

[2016-07-28 18:32] tenten8401 commented on #107
MultiplexedMC: Fixing what mojang didn't.

[2016-08-03 18:07] tenten8401 commented on #1248
Is this still under development? By the way, you should really add a patreon.

[2016-08-22 15:11] cpypcy commented on #1248
Dude why not TT for 1.7.10? This is where all the mods are! It would be epic if you could make it for that. At least some basic simple version. Just like old times.

[2016-08-25 17:15] MineMine opened #1256 "It will support SpongeForge?"
I'm very exciting that you restart the Tickthreading project :D

[2016-08-25 19:22] magneticflux- commented on #1250
Perhaps a hybrid between entity locking and the Sudoku-board-like divisions detailed [here](https://www.factorio.com/blog/post/fff-151) would be optimal? Threads/TEs would never have contention accessing adjacent chunks since they're spaced apart, and per-chunk locking would eliminate issues of mods accessing large/distant areas.

[2016-08-25 19:39] LunNova commented on #1250
That's interesting. Factorio's system is quite similar to the TickRegion system TT used to use, although their's works by updating all in a certain grid position at once, meaning there's a predetermined order of which regions are updated. TT updated regions in any order, but avoided updating adjacent regions at the same time.

I'm not sure which approach is better, but I suspect that a subdivided

[2016-08-25 19:45] magneticflux- commented on #1250
You're probably right. I didn't know that there was already a region system tried. Factorio is significantly more deterministic, and it's a lot more efficient because of it. I doubt that would ever be possible in Minecraft though since there are so many random elements. Profiling which chunks are "touched" at a time might give enough insight to devise an efficient threading system, or even an adap

[2016-08-26 17:10] BlayzerQ opened #1257 "1.7.10?"
Why not version for 1.7.10?

[2016-08-26 17:18] #1257 closed, assigned to nobody

[2016-08-26 17:30] LunNova commented on #1257
See #1255, #1249, #1248

[2016-08-26 17:36] BlayzerQ commented on #1257
1.7.10 is actual for big minecraft modded networks.
Is it possible to port the mod on 1.7.10 for a fee?

[2016-09-02 10:11] cpypcy commented on #107
Tick Threading - The Way It's Meant To Be Hosted!
Tick Threading - Server performance over 9000!
Tick Threading - My mob spawner brings 10 000 cows to the yard and i'm like WOW DUDE THERE'S NO LAG!
Tick Threading - Putting your multicore CPU through bootcamp
Tick Threading - Just one more thread...
Tick Threading - I bet i can make this MMO!
Tick Threading - Your 1000 pistons have no power here!
T

[2016-09-02 10:18] cpypcy commented on #1250
Factorio is going apeshit crazy in 0.15 they are going to do whole game update system multithreaded! I can't wait to see the results. Maybe you can get some tips on forum, or maybe they were inspired by your mod a bit? Who knows?

[2016-09-02 14:17] magneticflux- commented on #1250
While Factorio is no doubt a shining example of how to build an efficient multithreaded game engine, I believe that the most difficult problems are unique to TickThreading. Notably, not being able to rely on mods to supply appropriate synchronization themselves and having to handle situations impossible or extremely unlikely on more controlled systems. I also don't think that Factorio's Lua moddin

[2016-09-02 14:58] LunNova commented on #1256
Yes, I aim to support sponge.

There are already a few ~lovely~ horrible workarounds in ModPatcher to ensure I can patch after sponge's mixins are applied.

https://github.com/nallar/ModPatcher/blob/1.10.2/src/main/java/me/nallar/modpatcher/LaunchClassLoaderUtil.java

[2016-09-02 14:59] #1251 closed, assigned to LunNova

[2016-09-02 15:06] #1256 closed, assigned to nobody

[2016-09-03 22:25] ghost commented on #1255
Number of mods for a specific version of Minecraft should never be the determining factor for which version of the Forge API you build a new piece of software for. All in all, stick to the past for to long and you're bound to be in a situation where nothing progresses at all.

[2016-09-03 22:26] ghost commented on #1257
He already tried that, he got burned out to the point where it wasn't worth it. All in all, if you really want TickThreading that badly for MC 1.7.10, learn how to code and attempt to do it yourself.

[2016-09-03 22:29] ghost commented on #1248
He's explained this time and time again. I suggest you do some research instead of asking a question that was asked dozens to hundreds of times before.

All in all, TickThreading for MC 1.7.10 is not happening, period.

[2016-09-06 15:07] MineMine commented on #1256
I glad that you say so :D

[2016-09-22 11:12] Zilacon opened #1258 "1.6.4 TT Errors"
Alright so trying to scan through my logs that ive ignored for a long time has proven difficult as most of them are in GB sizes Linux just said "I aint loadin dat!" but i managed to get a few from some smaller logs so this is what i managed to get.

The MAIN problem:

[code]

This also has a "fluid" version to it. This basically happens whenever a lot of machines, conduits, or fluiducts are connec

[2016-09-25 09:05] Zilacon commented on #1258
Any update on this?

[2016-09-25 11:22] DotOnTheWall commented on #1258
Hello nallar, I am a player on APOC and this issue is plaguing the server. Fixing it would make everyone on APOC extremely grateful. Our servers need to be constantly restarted due to this bug.

[2016-09-25 11:28] LunNova commented on #1258
Can you upload the mods folder from the pack you got those errors from? It's easier if I don't have to go searching for mod downloads without being entirely sure if I'm using the same version.

[2016-09-25 11:40] Zilacon commented on #1258
If you get the Technic Launcher it makes things easier as every server with the issue is downloadable from there.

Searchable packs: APOC AS 3.1.4, APOC YCC
Official Packs: Attack of the B-team (1.0.12B), Tekkit Main (1.2.9G), Voltz (3.1.2), Hexxit (2.0.1C)

The main suspect for the TE (Energy/item/fluid) issues is the AS, YCC, TM packs.
http://www.technicpack.net/download

[2016-10-02 15:21] alwaeles opened #1259 "1.7.10 backport ?"
Hello,

I've a dedicated server for my modded minecraft server. It has 8 cores and only 2.8 GHz of clock per core.
Then, I found your project but it haven't an 1.7.10-compatible version...

I would like to know if it's possible to backport an up-to-date versio...

There are many people who uses Minecraft 1.7.10.
Thank you !

[2016-10-02 15:23] #1259 closed, assigned to nobody

[2016-10-02 15:23] alwaeles commented on #1259
I just read about

[2016-10-10 05:07] benjamin-kirkbride opened #1260 "A couple clarifications"
I am putting this as an issue because it is currently not clear in any documentation that I have seen.

Does using this and TickProfiler redundant?

What is the current state of the 1.10.2 release?

The /ticks command doesn't work.

I'm currently testing this out on a 1.10.2 server, and it is working great! I was getting over 160ms/t and am now getting <10

[2016-10-18 13:14] Zilacon commented on #1258
**Crickets**

[2016-10-22 01:35] Shybella commented on #1248
Yes, please aim for 1.10 it's a very promising version and sustainable. Don't get caught on updating late versions of MC.

[2016-10-22 04:54] dotModded commented on #1248
How's the progress going Nallar, I'm super interested in this.

[2016-10-23 22:22] Zilacon commented on #1258
Here is the mods for Agrarian Skies:
https://www.dropbox.com/s/q0attglrt3r0soc/AS-Mods.7z?dl=0

[2016-12-09 19:52] BlayzerQ opened #1261 "Don`t launch on 1.10.2"
**Forge: forge-1.10.2-12.18.3.2185-universal (Auto Server Install)**

[22:50:07] [main/INFO] [STDOUT/]: [me.nallar.mixin.internal.MixinApplicator:logInfo:111]: Handling class nallar.tickthreading.mixin.world.MixinWorld with annotation Annotation(type=Type(descriptor=Lme/nallar/mixin/Mixin;, signature=null, simpleName=me.nallar.mixin.Mixin), values={})
[22:50:07] [main/INFO] [STDERR/]: [net.minecra

[2016-12-25 19:09] rlemish commented on #1261
`[22:37:44] [main/INFO] [STDOUT]: [me.nallar.mixin.internal.MixinApplicator:logInfo:111]: Found Mixin class 'nallar.tickthreading.mixin.forge.MixinFMLCommonHandler' targeting class 'net.minecraftforge.fml.common.FMLCommonHandler with 2 applicators.
[22:37:44] [main/INFO] [STDOUT]: [me.nallar.mixin.internal.MixinApplicator:logInfo:111]: Found Mixin class 'nallar.tickthreading.mixin.world.MixinWorld

[2016-12-30 19:24] Cavesnakes commented on #1261
It's not ready for use, I think nallar must be busy right now

[2016-12-31 10:15] theresajayne commented on #1258
The issue is actually being caused by some mods (Thermal Expansion for one) not being thread safe,) TE uses global Static lists to process the power grids meaning that the global grid is not threadsafe, the 1.9 version of TE seems to not have the same setup but I may be wrong, The way to fix this is to patch the offending Mod or maybe in the latest version of TT allow the exclusion of some mods so

[2017-01-18 12:42] LunNova commented on #1261
Yes, as Cavesnakes pointed out (and as the message at the top of the repo points out), TT for recent minecraft is still in development and doesn't work at all.

[2017-01-18 12:42] #1261 closed, assigned to LunNova

[2017-01-18 12:44] LunNova commented on #1260
For 1.5.2 and 1.4.7, yes. TickProfiler was included in TickThreading.

Very incomplete. Have implemented some very basic optimisations which aren't related to threading as a way of testing out the new patching system.

I don't understand anything.

[2017-01-18 12:44] #1260 closed, assigned to LunNova

[2017-01-20 01:20] Cavesnakes commented on #1261
Glad to see you again, nallar
Any progress on this mod?

[2017-01-31 16:19] cpypcy commented on #1248
I think going for 1.10.2 was a damn good idea, seems like mods are switching to 1.10.2.

[2017-01-31 16:24] tenten8401 commented on #1248
^

On Tue, Jan 31, 2017, 11:19 AM cpypcy <notifications@github.com> wrote:

[2017-02-18 22:34] funnyzocker opened #1262 "1.4.7 Server Deadlock"
Error Code:
Definitely deadlocked:
"Entities in Overworld/0 - 9" Id=122 BLOCKED on buildcraft.transport.TileGenericPipe@2dfcbf75 owned by "Entities in Overworld/0 - 6" Id=119
	at buildcraft.transport.TileGenericPipe.entityEntering(TileGenericPipe.java:355)
	-  blocked on buildcraft.transport.TileGenericPipe@2dfcbf75
	at buildcraft.transport.PipeTransportItems.handleTileReached(PipeTransportItems.j

[2017-03-03 16:06] funnyzocker commented on #1262
Hello???
Nobody?!

[2017-03-03 16:18] LunNova commented on #1262
1.4.7 TT has not been supported for years. I do not have the time to work on this.

e: You might be able to take a heap dump when it deadlocks and match the object IDs.

Or possibly increase the tick region size to double what it currently is (must be a power of 2), if it is configurable in the version of TT you're using.

[2017-03-03 16:18] #1262 closed, assigned to nobody

[2017-03-07 06:14] cosmicdan commented on #107
Why not "MulticoreTweaks"? No fluff, specific, clear objective.

[2017-04-28 16:37] Cavesnakes opened #1263 "Come back.. nallar..."
:(

[2017-05-17 12:46] LunNova commented on #1263
ok

[2017-05-17 12:46] #1263 closed, assigned to LunNova

[2017-05-17 12:51] LunNova commented on #1248
Repo has been moved to a new organisation. Makes sense to not have this under my name, in case anyone else does start helping at some point. :P

Discord chat: https://discordapp.com/invite/YrV3bDm

[2017-05-18 20:23] Cavesnakes commented on #1263
i'm not a bug :P

[2017-05-27 10:43] Zilacon opened #1264 "TT 1.10.2 Sponge Support?"
I decided to give TT a try and it doesn't seem to like Sponge very much.
Sponge just spams the console its loading DIM-1 using 200% or more cpu usage until the server is killed.

[2017-05-29 11:45] LunNova commented on #1264
Probably due to this patch.

https://github.com/MinimallyCorrect/TickThreading/blob/1.10.2/src/main/java/org/minimallycorrect/tickthreading/mixin/forge/MixinDimensionManager.java

I did it in a lazy way which replaces the entire method, probably wiping out a patch sponge needs.

[2017-06-16 03:32] john01dav commented on #1264
I run my server with Sponge currently, and it can't break past 16 tps in general due to the sheer number of TEs in the world (warmroast and TickProfiler both show that it isn't anything in particular causing the issues). As such, TickThreading (as it was with Tekkit Lite at least) is exactly what I need (per-world threading woulden't be useful to me since the server only spends a few ms in any wor

[2017-08-09 19:36] LunNova commented on #1248
Quick update:

* Now aiming for 1.12. I'll try to backport a working version to 1.10.2 later if by the time it works 1.10.2 is still popular.
* Working on changing [JavaTransformer](https://github.com/MinimallyCorrect/JavaTransformer) and [Mixin](https://github.com/MinimallyCorrect/Mixin) to allow patching small parts of methods instead of just replacing the entire things. Will allow the old XML b

[2017-08-09 20:14] dotModded commented on #1248
I would wait nallar, 1.13 is a refactor and everything is changing so your mod would be completely broken by then.

[2017-08-10 09:47] Slind14 commented on #1248
1.7.10 is still more popular than 1.10 :D Gonna be interesting to see if 1.10 is able to establish enough to be around for the long run like 1.7.10

[2017-08-10 10:12] cpypcy commented on #1248
Well 1.7.10 is mod Mecca, making TT for any other version is waste of time sort of, since mods don't seem to like 1.10 or 1.12 much. Once we hit final and last java version, i bet there will be mod insanity and every damn mod that is nod dead will move to that version but i don't see which version will be final java one. Still, better to have some TT than no TT.

[2017-08-17 17:16] magneticflux- commented on #1248
@cpypcy @Slind14 I'd actually disagree with that assessment at this point in time. I assembled and formatted some mod data from CurseForge to better understand the version situation.

| Version  | Pages of mods | Page Δ (17d) | Days since last release | Link to search |
| --------- | ---------------- | -------- | ------------------------ | ---------------  |
| Total | 417 | +4 | N/A | [Link](https

[2017-08-17 17:40] Shybella commented on #1248
Do not focus on older versions unless you have some magically way to
implement it easier for older versions.

On Thu, Aug 17, 2017 at 2:46 PM, Mitchell Skaggs <notifications@github.com>
wrote:

[2017-08-17 17:42] Shybella commented on #1248
I run a 1.5.2 server and as much as I would like to see a TT for 1.5.2 in
working order I'd rather see development moving forward with new versions.
If TT can recreate some of the magic it did for 1.4.2 and 1.5.2 in 1.10 and
newer. That would be heaven.

On Thu, Aug 17, 2017 at 3:10 PM, Nicholas Tow <nxtr1114@gmail.com> wrote:

[2017-08-17 18:40] Slind14 commented on #1248
Well the latest versions really need it. We just reset an infinity normal server 2 weeks ago. It can still handle +50 players at 40ms, while Age of Engineering/Beyond.. could not even handle 20 players at <80ms during the first weekend. 1.7.10 still performs at least twice as good as 1.10 with less mods.

[2017-09-01 17:27] LunNova commented on #1248
I've been working on improving Mixin to support injection of code inside existing methods in a flexible way, including the insertion of return or continue statements, or the modification of local variables.

This support is partially implemented, and the following example works: https://github.com/MinimallyCorrect/Mixin/blob/c55b5e464d0cdf6ffdc25de6f077aae0feccda14/src/test/java/org/minimallycorre

[2017-09-04 12:03] LunNova commented on #1264
Still an unstable beta - not even working at all, let alone ready for production!

I have a working version of the DimensionManager patch which doesn't break Sponge now using injectables, will try to keep up compatibility as far as possible for other patches.

I expect there will be some cases with sponge API additions/changes required for thread-safety that are too big to patch... we'll see if th

[2017-11-09 00:53] Fatmice opened #1265 "[1.12.2] Crash on launch"
Nothing but
minecraft_server.1.12.2
forge-1.12.2-14.23.0.2529
spongeforge-1.12.2-2529-7.0.0-BETA-2729
TickThreading-1.12.3-extended

Crash log
[fml-server-latest.log](https://github.com/MinimallyCorrect/TickThreading/files/1455942/fml-server-latest.log)

[2018-01-21 22:09] Bucky420 commented on #107
Threads = String = Harp
or MCHarp

[2018-03-15 08:54] CappyT commented on #1265
Did you read the "not yet functional" on the main page?

[2018-03-15 09:18] Fatmice commented on #1265
Are you a troll or something?  Shoo

[2018-03-15 09:19] LunNova commented on #1265
It's unfinished and isn't expected to work. He's not a troll.

[2018-03-15 09:19] #1265 closed, assigned to nobody

[2018-03-15 20:41] Fatmice commented on #1265
I'm well aware of that, just wanted to see where it will fail...This thread is how many months old now and he just suddenly show up to "inform" me of that?  If that is not trolling then what?

[2018-03-21 17:01] LunNova commented on #1265
Sorry @Fatmice. Didn't notice the timestamp.

The current jenkins "-core" builds should launch and the server may work, but they don't do anything useful. A few very minor tweaks. Not much point in testing it.

The "-extended" build is completely broken as it has multiple partially implemented patches for threading, including methods which `throw new UnsupportedOperationException()` because they'v

[2018-03-21 18:44] LunNova opened #1266 "Deadlock with applied energistics and chunk loading"
[code]

[2018-07-24 12:05] Bucky420 commented on #1248
hummm and where are we on this 1.12...?

[2018-07-24 13:28] LunNova commented on #1248
We are less ambitious but still rubbish

[2018-07-24 13:52] Shybella commented on #1248
Sponge just marked 1.12.2 as a LTS version.

[2018-08-17 17:59] marekvac opened #1267 "1.10.2 server not start with TT"
Hey, I have put TickThreading-core on my 1.10.2 server. And after server done generating world. Start spaming this. https://pastebin.com/UdtcPBEt And server will not start.

[2018-08-17 18:01] LunNova commented on #1267
TickThreading is not yet ready for minecraft 1.10.2.

![image](https://user-images.githubusercontent.com/782440/44281506-f1f0b400-a24f-11e8-8ab1-3b63c8078e29.png)

[2018-08-17 18:01] #1267 closed, assigned to nobody

[2019-07-14 15:13] crazybytes opened #1268 "???"
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'TickThreading'.

     Required by:
         project :

     Required by:
         project :

     Required by:
         project :

[2019-10-03 22:13] RawrUniversal opened #1269 "Websites down"
Your Jenkins site is down with a "Invalid SSL certificate" error.

[2020-01-06 13:33] LunNova commented on #1269
fixed

[2020-01-06 13:33] #1269 closed, assigned to LunNova

[2020-01-06 13:35] LunNova opened #1270 "Publish builds somewhere not self hosted"
Should make sure to post the 1.4.7 builds as well.

Self hosting is cool and all but can't guarantee good uptime due to life ™️ .

[2020-01-11 14:10] KubiRemPL opened #1271 "1.7.10 or 1.12.2"
Please U are the best modder!!!!

[2020-03-09 20:00] bigenergy commented on #1269
@nallar jenkins not working

[2020-03-11 14:13] LunNova commented on #1269
@bigenergy what're you seeing, seems up here?

[2020-09-05 20:11] loordgek opened #1272 "new attempted @ doing this"
hi @nallar
1 do you have discord ? I would like to talk with you in private
2 do you want to help me w/ this

[2021-06-26 02:14] Ssrml opened #1273 "The jenkins is unavailable!"
The jenkins is unavailable

[2021-06-26 02:46] LunNova commented on #1273
Fixed.

[2021-06-26 02:46] #1273 closed, assigned to nobody