[2013-03-20 20:44] Loonacy commented on #216
I recompiled Dynmap with a stacktrace printed where the error is and got this:

14:43:19 [WARNING] [dynmap] Bukkit error loading chunk 23,-9 on world
14:43:19 [SEVERE] java.lang.NoSuchFieldError: f
14:43:19 [SEVERE]   at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.loadChunk(CraftWorld.java:329)
14:43:19 [SEVERE]   at org.dynmap.bukkit.NewMapChunkCache.loadChunks(Unknown Source)
14:43:19 [SEVERE]   a

[2013-03-20 21:28] LunNova commented on #216
Should be fixed in 9f2127b15e13a7fdb0.

[2013-03-20 21:56] Loonacy commented on #216
Confirmed working with TT build 1165, MCPC+ build 247 and Dynmap 1.6

[2013-03-20 21:56] #216 closed, assigned to LunNova

[2013-03-20 23:00] aquagene opened #222 "#1167 Forgemodloader errors (do not occur without TT)"
<code>03-20 18:53:00 [SEVERE] [ForgeModLoader] A TileEntity type any@35a95b85 x,y,z: 318, 64, 2483 has throw an exception trying to write state. It will not persist. Report this to the mod author
java.lang.RuntimeException: class any is missing a mapping! This is a bug!
    at any.b(TileEntity.java:107)
    at aam.a(AnvilChunkLoader.java:240)
    at aam.a(AnvilChunkLoader.java:129)
    at im.b(Thr

[2013-03-20 23:04] LunNova commented on #222
Update to latest, break and replace the block. If it continues to happen,
paste the /dump for that coord.
On 20 Mar 2013 23:00, "aquagene" notifications@github.com wrote:

[2013-03-20 23:04] #220 closed, assigned to LunNova

[2013-03-20 23:36] aquagene commented on #222
I unfortunately already removed the block with world edit, I'll let you know if it happens again with the newest version though.

[2013-03-21 02:09] Loonacy opened #223 "#1168 Applied Energistics NPE"
I'm getting this error sometimes when accessing an ME chest.  There's also some slight blinking on the chest's inventory, like it's reloading it every few seconds.

It seems to only happen with ME chests, not when you access the inventory through a terminal.  No items are missing, and the inventory is still accessible, so this is probably not a high priority bug.

03-20 20:04:13 [SEVERE] [TickThre

[2013-03-21 18:20] LunNova commented on #223
Fixed via 99996982a4bac3.

[2013-03-21 18:20] #223 closed, assigned to LunNova

[2013-03-21 20:18] aquagene opened #224 "#1173 Does not enable after patching"
Edit: Sorry miswrote the build number, my mistake, 1173 does not enable after patching, while #1169 works just fine.

03-21 16:15:46 [WARNING] [TickThreading] Patching required for D:\Direwolf20_Server\ftbserver.jar because it is out of date.
Expected 591302456, got -1006245832
03-21 16:15:57 [SEVERE] [TickThreading] TickThreading is disabled, because your server has not been patched or the patche

[2013-03-21 20:22] LunNova commented on #224
Can you try #1171 or newer? Changed the patch hashcode in it again.

[2013-03-21 20:25] aquagene commented on #224
My mistake I meant #1173. I've updated the original post to say so. #1169 works fine, it's my current fallback, stability wise.

[2013-03-21 20:38] LunNova commented on #224
Try 1174, and if it's still broken pastebin full console and patcher logs.

[2013-03-21 22:09] aquagene commented on #224
#1175 instantly crashes the server on launch. This is with both trying to upgrade from #1169 and with a fresh TT install. It never gets as far as to generate the new PATCHME files.
<code>2013-03-21 18:05:20 [INFO] Starting minecraft server version 1.4.7
2013-03-21 18:05:25 [SEVERE] Encountered an unexpected exception Error
java.lang.Error: Missing patches.
    at me.nallar.tickthreading.minecraft.

[2013-03-21 22:16] LunNova commented on #224
Fixed the order, it'll write the patch files before stopping now. Oops.

Try latest, and if it still doesn't work I do actually need the full logs, not a trimmed log like the last one. (unless you didn't trim it? In that case, something broke badly... :s)

[2013-03-21 23:19] aquagene commented on #224
Seems to work great in the #1178. The new checks are very elegant. The second log I pasted above your reply was the full log, it literally just loaded and crashed instantly.

[2013-03-21 23:32] #224 closed, assigned to LunNova

[2013-03-22 17:07] geoffcorey commented on #166
Updated to build 1178.   Everything is running smooth and seeing nothing in the logs all morning.   Unreported issue of trees not growing under a chunkloader (tree farm) unless a player was logged appears to be also was corrected.    I am going to close this issue out.   Will reopen if issue reappears.

[2013-03-22 17:07] #166 closed, assigned to LunNova

[2013-03-22 22:04] #192 closed, assigned to LunNova

[2013-03-22 22:06] LunNova commented on #222
Closing this, as it hasn't happened again and it was probably the issue fixed in b4f64b341e9f8bbd685b40b.

[2013-03-22 22:06] #222 closed, assigned to LunNova

[2013-03-23 04:19] joey19982 opened #225 "Xycraft Console Spam - Attempted to place a tile entity (soaryn.xycraft.machines.block.multiblock.TileMultiCopy@2e2b6318)"
Running MCPC+ and the Direwolf20 modpack with the latest TickThreading (#1182). Once a few people start joining the server, the console spams this constantly making the log get to be a few GB.

2013-03-22 18:26:03 [INFO] Attempted to place a tile entity (soaryn.xycraft.machines.block.multiblock.TileMultiCopy@2e2b6318) at 4764,53,-6279 (AIR) where there was no entity tile!
2013-03-22 18:26:03 [INFO

[2013-03-23 04:50] joey19982 opened #226 "GriefPrevention Console Spam"
So it's not just xycraft, but GriefPrevention is spamming the console as well over and over again with the same error. This only starts after a few people have joined. Running the latest TickThreading (#1182) and MCPC+.

2013-03-22 22:55:32 [SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.1
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execu

[2013-03-23 11:02] LunNova commented on #225
This is an MCPC+ bug, see https://github.com/MinecraftPortCentral/MCPC-Plus/issues/603.

[2013-03-23 11:03] #225 closed, assigned to LunNova

[2013-03-23 11:04] LunNova commented on #226
Can you paste the first occurrence of this in the logs? This has been shortened automatically by the JVM to "Caused by: java.lang.NullPointerException", without giving the stack trace, as it happened so many times.

[2013-03-23 15:15] alexbegt commented on #226
We will do so.

[2013-03-23 16:03] joey19982 commented on #226
Oops, sorry. Here is the full error:

2013-03-23 12:02:03 [SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.1
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:363)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
    at org.bukkit.plugin.TimedRegisteredListener.callEvent(TimedRegiste

[2013-03-23 18:39] HaoSs07 opened #227 "#1184 Exception getting block ID spam."
03-23 20:33:25 [SEVERE] [TickThreading] Exception getting block ID in Overworld/0 at x,y,z-260,52,1008
java.lang.NullPointerException
at yc.a(World.java:99)
at com.eloraam.redpower.world.WorldGenMarble.searchBlock(WorldGenMarble.java:32)
at com.eloraam.redpower.world.WorldGenMarble.a(WorldGenMarble.java:65)
at com.eloraam.redpower.world.WorldGenHandler.generate(WorldGenHandler.java:117)
at cpw.mod

[2013-03-23 18:52] #227 closed, assigned to LunNova

[2013-03-23 19:35] LunNova commented on #226
Disable world unloading in TT's config, GriefPrevention is leaking world objects - it left an unloaded world in an ArrayList.

Report that the ArrayList<World> used in me.ryanhamshire.GriefPrevention.BlockEventHandler.onBlockFromTo is not having unloaded worlds removed from it to the mod dev.

[2013-03-23 19:35] #226 closed, assigned to LunNova

[2013-03-23 19:39] joey19982 commented on #226
Will do, thanks nallar!

[2013-03-23 20:07] HaoSs07 commented on #227
that was fast :) thx. locks good now

[2013-03-23 21:34] tubaboy26 opened #228 "Null for /profile e and /ticks"
Whenever we use the /profile e or a or the /ticks commands, it returns empty. This is since an update to the latest version.
![/profile](https://puu.sh/2mGXh)
![/ticks](https://puu.sh/2mH4A)
Also worth mentioning is that the overall TPS is very low while the individual TPS of each world remains a perfect 20. It is also using up a lot more memory with tick threading to run slower (???).

[2013-03-23 21:35] LunNova commented on #228
Full console log? Looks like TT failed to initialise, or another mod replaced its replacements of the entity lists.

[2013-03-23 22:02] HaoSs07 opened #229 "Server keeps deadlocking"
http://pastebin.com/v6QVEDJM

[2013-03-23 22:09] #229 closed, assigned to LunNova

[2013-03-24 10:25] clienthax opened #230 "crash on startup"
03-21 15:35:42 [SEVERE] [TickThreading] TickThreading v1.0.0.1178 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://githu

[2013-03-24 11:49] LunNova commented on #230
You've found an interesting edge case with loading command blocks asynchronously, will have it fixed soon.

[2013-03-24 12:34] #230 closed, assigned to LunNova

[2013-03-24 12:47] LunNova commented on #228
I've also added more debugging in latest, so if you can get the full report from it that would be more helpful.

[2013-03-24 16:24] clienthax opened #231 "icbm radar not patched, ConcurrentModificationException"
09:21:40 [INFO] Sending serverside check to: nights1
09:21:40 [INFO] Failed to clean up radar list properly.
09:21:40 [SEVERE] java.util.ConcurrentModificationException
09:21:40 [SEVERE]       at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
09:21:40 [SEVERE]       at java.util.ArrayList$Itr.remove(ArrayList.java:805)
09:21:40 [SEVERE]       at icbm.api.RadarRegistry.cleanUpAr

[2013-03-24 16:47] clienthax commented on #231
09:47:35 [INFO] Loading Player: plobnob
09:47:35 [INFO] Sending serverside check to: plobnob
09:47:36 [INFO] Failed to clean up radar list properly.
09:47:36 [SEVERE] java.util.ConcurrentModificationException
09:47:36 [SEVERE]       at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
09:47:36 [SEVERE]       at java.util.ArrayList$Itr.remove(ArrayList.java:805)
09:47:36 [SEVERE]

[2013-03-24 16:48] clienthax commented on #231
03-24 09:45:33 [INFO] [TickThreading] Patching with TickThreading v1.0.0.1190 for MC1.4.7
03-24 09:45:33 [INFO] [TickThreading] Patching in environment: mcpc
03-24 09:45:33 [FINE] [TickThreading] Patching yp with addAll(fromClass:me.nallar.patched.PatchSpawnerAnimals)
03-24 09:45:33 [INFO] [TickThreading] Added me.nallar.patched.PatchSpawnerAnimals.closeRange:I
03-24 09:45:33 [INFO] [TickThreading

[2013-03-24 17:06] #231 closed, assigned to LunNova

[2013-03-24 21:51] clienthax opened #232 "Block data randomly disapearing"
2013-03-24 14:49:07 [SEVERE] Block at -528,89,-598 is CHEST but has null. Bukkit will attempt to fix this, but there may be additional damage that we cannot recover.
2013-03-24 14:49:07 [SEVERE] Block at -395,66,-737 is WALL_SIGN but has null. Bukkit will attempt to fix this, but there may be additional damage that we cannot recover.
2013-03-24 14:49:07 [SEVERE] Block at -417,67,-731 is WALL_SIGN

[2013-03-24 21:54] #232 closed, assigned to LunNova

[2013-03-24 22:31] LunNova commented on #187
Closing, as there have been no further reports of this and it was likely due to an older MCPC+ version.

[2013-03-24 22:31] #187 closed, assigned to LunNova

[2013-03-24 23:01] clienthax opened #233 "TileEntitySmeltingFactory"
03-24 15:46:46 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c mekanism.common.TileEntityAdvancedSmeltingFactory mekanism.common.TileEntityAdvancedSmeltingFactory@7614ca72 x,y,z: 6064, 9, 1016 at x,y,z:6064,9,1016
Tick region: rX: 379, rZ: 63, hashCode: 4129147:
java.lang.NullPointerException
    at mekanism.common.TileEntitySmeltingFactory.onUpdate(TileEntitySmeltingFactory.

[2013-03-25 00:42] wolfe02 opened #234 "help"
http://pastebin.com/eRm0TrMN ok this is a what i am geting when i put a block down and that i get kick from the server we are useing 1187 of TT.

[2013-03-25 12:42] clienthax opened #235 "Deadlock"
http://pastebin.com/echdSFn8

[2013-03-25 14:58] alicheek opened #236 "nether & Twilight world loading problem"
Hey there the server i run has mcpc+ and i running ftb ultimate , ive installed the tickthreading on the server and everythin seems to work great but then i realised my other worlds arent loaded when i uesed /gc any ideas how i can solve this issue

Thanks

[2013-03-25 15:28] alicheek commented on #236
found a work around , seems when world unloading is enabled thee worlds are functioning for a bit then close down. when trying to enter into a portal though it wont re-initiate so i just set it to false and now it seems to be working perfectly.

[2013-03-25 17:00] clienthax opened #237 "Another deadlock"
http://pastebin.com/ZWZHmLZQ

[2013-03-25 17:41] clienthax opened #238 "lag deadlock"
[code]

[2013-03-25 17:44] clienthax commented on #238
https://mega.co.nz/#!aBUVVD6A!NmyShRaRarnQS03BFFF4mVCsaQk45iSu_nB5S0BAfgc

[2013-03-25 18:09] LunNova commented on #237
Duplicate of #235.

[2013-03-25 18:09] #237 closed, assigned to LunNova

[2013-03-25 18:09] LunNova commented on #238
Duplicate of #235.

[2013-03-25 18:09] #238 closed, assigned to LunNova

[2013-03-25 18:09] LunNova commented on #235
Should be fixed in latest.

[2013-03-25 18:15] LunNova commented on #236
MCPC+ doesn't properly support world unloading yet, just use the workaround you've already discovered.

[2013-03-25 18:15] #236 closed, assigned to LunNova

[2013-03-25 19:13] HaoSs07 opened #239 "#1206 rare deadlock ( sometime recovers ) an old friend ( codechicken.xycraftcopy.core )"
03-25 20:50:07 [INFO] [TickThreading] iq['eXpLoSiOn16'/10283, l='world', x=378.30, y=41.00, z=305.63] from Nether/-1 to Overworld/0
03-25 20:51:28 [SEVERE] [TickThreading] Exception ticking world Twilight Forest/7
java.lang.NullPointerException
    at codechicken.xycraftcopy.core.world.WorldExtensionManager.preTick(WorldExtensionManager.java:242)
    at codechicken.xycraftcopy.core.world.WorldExte

[2013-03-25 19:15] HaoSs07 commented on #239
03-25 21:05:47 [INFO] [TickThreading] iq['eXpLoSiOn16'/1486, l='world', x=3353.74, y=64.00, z=3290.44] from Overworld/0 to Nether/-1
03-25 21:07:43 [SEVERE] [TickThreading] Exception ticking world The End/1
java.lang.NullPointerException
    at codechicken.xycraftcopy.core.world.WorldExtensionManager.preTick(WorldExtensionManager.java:242)
    at codechicken.xycraftcopy.core.world.WorldExtensionMa

[2013-03-25 21:59] clienthax commented on #239
xycraft has known issues with EVERYTHING
recommend disabling for now

[2013-03-25 22:00] LunNova commented on #239
A workaround for this specific issue may be to disable world unloading.

[2013-03-26 18:39] HaoSs07 opened #240 "#1206 Not saving chunk"
3-26 20:13:51 [WARNING] [TickThreading] Not saving chunk at 19,5, not in correct location in chunks map.
03-26 20:13:51 [WARNING] [TickThreading] Not saving chunk at 20,5, not in correct location in chunks map.
03-26 20:13:51 [WARNING] [TickThreading] Not saving chunk at 25,5, not in correct location in chunks map.
03-26 20:13:51 [WARNING] [TickThreading] Not saving chunk at 26,4, not in correct l

[2013-03-26 20:37] LunNova commented on #240
Already fixed in 1212.

[2013-03-26 20:37] #240 closed, assigned to LunNova

[2013-03-26 21:57] HaoSs07 opened #241 "Game spammed with : player logged out"
http://pastebin.com/yBwuNzgn

at first i tough it was from fighus auth mod, but now i;m on essentials, and same thing happend

[2013-03-26 22:06] #241 closed, assigned to LunNova

[2013-03-27 12:37] ray73864 opened #242 "NoSuchElementException"
Getting this on our server, over and over again.

03-27 05:33:52 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c com.eloraam.redpower.machine.TileTranspose com.eloraam.redpower.machine.TileTranspose@143f5759 x,y,z: 189, 35, -985 at x,y,z:189,35,-985
Tick region: rX: 11, rZ: -61, hashCode: -3997685:
java.util.NoSuchElementException
        at java.util.LinkedList.removeLast(Li

[2013-03-27 12:50] ray73864 opened #243 "ConcurrentModificationException"
Just received this one too:

03-27 05:46:22 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c com.eloraam.redpower.machine.TileTube com.eloraam.redpower.machine.TileTube@43172a2f x,y,z: 186, 34, -988 at x,y,z:186,34,-988
Tick region: rX: 11, rZ: -61, hashCode: -3997685:
java.util.ConcurrentModificationException
        at java.util.LinkedList$ListItr.checkForComodification(Link

[2013-03-27 12:53] #242 closed, assigned to LunNova

[2013-03-27 12:54] ray73864 opened #244 "NoSuchElementException"
Not sure if 8be6109 resolves this on or not, it is basically the same error, but with a whole lot of extra stuff:

03-27 05:44:31 [SEVERE] [TickThreading] Exception ticking entity qk['Zombie Pigman'/677065, l='world', x=185.85, y=35.95, z=-982.61] in rX: 11, rZ: -61, hashCode: -3997685:
java.util.NoSuchElementException
        at java.util.LinkedList.removeLast(LinkedList.java:281)
        at com.

[2013-03-27 13:03] LunNova commented on #244
Should also be fixed with 8be6109.

[2013-03-27 13:03] #244 closed, assigned to LunNova

[2013-03-27 13:06] #243 closed, assigned to LunNova

[2013-03-27 13:09] ray73864 opened #245 "Failed to patch com.eloraam.redpower.core.TubeBuffer with synchronize"
This is using TickThreading-1.4.7-1.0.0.1219.jar

03-27 06:08:26 [SEVERE] [TickThreading] Failed to patch com.eloraam.redpower.core.TubeBuffer with synchronize
java.lang.RuntimeException: Method not found: removeLast() was not found in com.eloraam.redpower.core.TubeBuffer
        at me.nallar.tickthreading.mappings.MethodDescription.inClass(MethodDescription.java:106)
        at me.nallar.tickthre

[2013-03-27 13:13] #245 closed, assigned to LunNova

[2013-03-27 14:07] ray73864 opened #246 "Applied Energistics - Vanishing Items/NBTTagData"
Possible causes:
- Inventory concurrency issue - likely, as it happens sporadically
- Bug in new chunk provider - not likely, as the issue can occur without reloading the chunk.

[2013-03-27 15:04] LunNova commented on #246
Original text:

Yes, this is probably still an issue. Although the cause listed by the FAQ is an incorrect simplification, as it happens while the chunk is loaded, no unload/reload cycle is necessary. I haven't had time to fix it.

[2013-03-27 15:05] #235 closed, assigned to LunNova

[2013-03-27 15:06] LunNova commented on #234
This is due to a bukkitforge bug, see [here](http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/page-22#post-189851) for a workaround.

[2013-03-27 15:06] #234 closed, assigned to LunNova

[2013-03-27 21:35] Stechi opened #247 "Crash on Startup with ForgeEssentials"
Like the title say,
I wanted to use TickThreading and ForgeEssentials together,
because of the Tick-Threadin of Tick-Threading and functions like Backup, Permissions, Chat-Functions... from ForgeEssentials.

I know ForgeEssentials has its own TickHandler-Thingy,
but i tried and I failed.

But it would be coll to use both Mods.

Logs:
http://pastebin.com/E8WUkkNJ
http://pastebin.com/Mu3DAW2J
http:/

[2013-03-27 21:46] LunNova commented on #247
Looks like you didn't run the patcher, and just disabled patching in TT's config.

If you have ran the patcher, you either have a coremod which conflicts (possibly FE), or you installed a jar mod after patching. If using TT, jar mods should always be installed before installing TT.

[2013-03-28 04:10] Siedge opened #248 "MCPC-Plus With ticktreading breaks the_end"
I use tickthreading with MCPC-Plus and whenever i install tickthreading it breaks the end if u try to tp to it u get Null and if u try to use portal portal doesn't work and i know its tick threading because if i install tick threading it works fine.

[2013-03-28 05:53] ray73864 opened #249 "Bedrock Bug"
So we had a major issue on our server, i had to remove TT for now, but basically, with TT installed, if you place something on the bedrock (a simple torch will do), the bedrock below it disappears, vanishes without a trace, no amount of restarting the server, etc... will bring that bedrock back.

Removed TT and the bug disappeared completely.

This is in the FTB Ultimate pack.

![2013-03-28_05 47

[2013-03-28 11:06] LunNova commented on #248
Turn off world unloading.

[2013-03-28 11:06] #248 closed, assigned to LunNova

[2013-03-28 12:03] HaoSs07 commented on #247
i have latest fe and latest tt and works good

[2013-03-28 12:43] HaoSs07 commented on #249
can confirm it, for me this only happens with the new flatbedrock mod

[2013-03-28 15:13] Siedge commented on #248
still get the same issue

[2013-03-28 15:55] Stechi commented on #247
@nallar I did run the patcher and installed TT last.

@HaoSs07 Which versions the stable or the beta?

Thx for reply
Stechi

[2013-03-28 16:58] HaoSs07 commented on #247
beta

[2013-03-28 21:14] Stechi commented on #247
Ok just for confirmation. I installed the server complete without TT and started.
All is working fine.

---

I stop the server add TT to the mod-folder
and start the server, he starts up, say something about TT not knowing if he should patch,
and crash.
http://pastebin.com/LrCjXGcR
http://pastebin.com/k9gXrDv2
http://pastebin.com/CJwz9ykC

---

I make the PATCHME.sh runable and run it,
it sucessfu

[2013-03-28 21:19] LunNova commented on #247
If you're using both a forge jar and server jar, instead of a single jar,
that might cause this. Not sure, hard to read logs on a phone. If there is
some other bug you've found, won't be able to fix it til I'm back from
being on holiday in two weeks.
On 28 Mar 2013 21:14, "Stechi" notifications@github.com wrote:

[2013-03-28 22:04] Stechi commented on #247
Ahh yeah that was it.
You should change this at your install-instructions.
But i have a new error, but has nothing to do with ForgeEssentials.
I make a new issue.^^

Thx
Stechi

[2013-03-28 22:04] #247 closed, assigned to LunNova

[2013-03-28 22:33] ray73864 commented on #249
Yeah, as said, the bug only popped up when i had TT installed, so it is likely an incompat between TT and FlatBedrock mod.

[2013-03-28 22:40] Stechi opened #250 "Bug on Server-Startup with Factorization Dimensional Slices"
#

Version info:
TickThreading-1.4.7-1.0.0.1226, TickThreading-1.4.7-1.0.0.1216
Factorization-0.7.21
#

I have done everything on the install-instructions.
but after I running the PATCHME.sh and starting the Server again  I get:

http://pastebin.com/463mD3yg
http://pastebin.com/WamHXEuR
http://pastebin.com/f3eKdqcg

---

After I change the Factorization-config:

dimensionslices {
    # work in pro

[2013-03-28 22:55] Stechi opened #251 "Server Startup - Exception getting block [stable build]"
Again me.^^

As usual i have done everything in the install-instructions.

After run the server for the first time with TT
I get this if I try to join:

http://pastebin.com/8ta5RWt7
http://pastebin.com/3KsSupwH
http://pastebin.com/eCqdcYn5

---

and after I run the PATCHME.sh I get:

http://pastebin.com/UBee4imm
http://pastebin.com/0ypCiFqq
http://pastebin.com/vDFJLqZz

Thx for your time
Stechi

[2013-03-29 15:23] Geijoh commented on #248
This appears to fix the issue for me

[2013-03-29 17:32] HaoSs07 commented on #251
i sugest you get the latest beta

[2013-03-29 18:41] Stechi commented on #251
If your looking for the other issues I posted, then you would see, the latest beta just throws another error.^^

Greetings
Stechi

[2013-03-29 19:15] HaoSs07 commented on #251
from what i can tell you have a missing world
Cannot Hotload Dim: Could not get provider type for dimension 2, does not exist

do a fresh modpack install

[2013-03-29 19:50] Jakja2 opened #252 "TwoWayReentrantReadWriteLock"
---- Minecraft Crash Report ----
// Ouch. That hurt :(

Time: 3/29/13 3:32 PM
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: me/nallar/tickthreading/util/concurrent/TwoWayReentrantReadWriteLock
    at ou.<init>(SourceFile:27)
    at yc.<init>(World.java:321)
    at in.<init>(WorldServer.java:103)
    at net.minecraft.server.MinecraftServer.a(MinecraftServer.java:266)

[2013-03-29 20:53] Siedge commented on #248
well actually sorry error isn't null its Error: Hole in Floor

[2013-03-29 23:09] Stechi commented on #251
yeah it works,
but has some bugs with ticking if you overload it.^^
--> new issue

Thx
Stechi

[2013-03-29 23:09] #251 closed, assigned to LunNova

[2013-03-31 15:26] joey19982 opened #253 "Modded leaves decay even if attached to logs."
I'm running MCPC+ 1.4.7 (Legacy build 7) and TickThreading build 1226. I looked around and it seems to be the same issue as #66 - Modded leaves, specifically autumn forests from ExtraBiomesXL, will decay even if attached to a naturally generated tree. Vanilla leaves work normally.

Any other info you need can be provided, but there aren't any errors that log to the console.

[2013-03-31 16:13] #239 closed, assigned to LunNova

[2013-03-31 16:13] #177 closed, assigned to LunNova

[2013-03-31 21:47] HaoSs07 opened #254 "console spam"
04-01 00:45:23 [SEVERE] [ForgeModLoader] A TileEntity type any@46bab48f x,y,z: 2635, 65, 283 has throw an exception trying to write state. It will not persist. Report this to the mod author
java.lang.RuntimeException: class any is missing a mapping! This is a bug!
at any.b(TileEntity.java:107)
at aam.a(AnvilChunkLoader.java:241)
at aam.a(AnvilChunkLoader.java:130)
at im.b(ThreadedChunkProvider.jav

[2013-03-31 22:56] AlexRichman opened #255 "Player kicked when placing blocks in specific chunk."
I have created an issue on the BukkitForge page detailing the problem, you can see it here:
https://github.com/keepcalm/BukkitForge/issues/599

As I mentioned in the post, I'm not sure whether the issue is with BukkitForge or TickThreading, so I've posted it here too.

Thanks for your help,
- Alex

[2013-04-01 06:34] LunNova commented on #255
It's a bukkitforge bug, I have already created a bukkitforge issue for it.
As a workaround, enable generateChunkOnProvideRequest.
On 31 Mar 2013 23:56, "AlexRichman" notifications@github.com wrote:

[2013-04-01 06:34] LunNova commented on #254
Break and replace the block at those coords.
On 31 Mar 2013 22:47, "HaoSs07" notifications@github.com wrote:

[2013-04-01 07:34] Puremin0rez opened #256 "Does ChunkCache work with MCPC+?"
Well, it sure has been awhile since I've played with FTB! Nice to see you again Nallar xD

Managed to get TickThreading and MCPC+ working almost flawlessly together (had to change some TT configs) and I was wondering if the chunk cache feature worked with MCPC+?

[2013-04-01 07:39] LunNova commented on #256
Not yet. I'll add that to the ever-growing list of things to fix when I'm
back from being on holiday. :P
On 1 Apr 2013 08:34, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-01 07:46] Puremin0rez commented on #256
@nallar

Okay :) Thanks for getting TT working so well with MCPC+!

When I last tinkered with FTB a few months ago it didn't work at all xD

[2013-04-01 11:15] HaoSs07 commented on #254
is a little hard as the coordonates always change

[2013-04-01 13:38] Puremin0rez commented on #256
@nallar

Figured i'd ask - are all the core components working with TT + MCPC?

Such as the different threads, etc. I'd think some things would conflict like the GC in TT and MCPC etc but I guess not!

[2013-04-01 14:03] Puremin0rez commented on #256
and likewise, does the benefits of MCPC also stick around with TT? (Multithreaded chunk loading inherited from bukkit, etc)

I also reckon TTs /tps command is more reliable since it potentially patches over tick loop?

So many questions! So out of the loop xD

[2013-04-01 15:12] Loonacy commented on #256
The issue tracker probably isn't the place to be asking these questions.  I think you'd be better off on the forum:
http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/

[2013-04-01 15:17] LunNova commented on #254
Oh, is it always with the same block, or a block from the same mod?
On 1 Apr 2013 13:15, "HaoSs07" notifications@github.com wrote:

[2013-04-01 15:59] HaoSs07 commented on #254
my pc is dead, i cant enter the game to check , im waiting for it to get fixed, but in log is always other coordonate

[2013-04-01 16:09] AlexRichman commented on #255
Ah, thanks very much for your help.
- Alex

[2013-04-01 16:09] #255 closed, assigned to LunNova

[2013-04-01 20:48] xfloh22 commented on #254
this seems to not be TT related, i usually get it from xycraft.

[2013-04-01 21:58] Jakja2 commented on #252
.

[2013-04-01 23:21] aquagene opened #257 "#1220 Spotloader Exception"
I'm not sure if I is fixed with the newer builds, as I had issues with chunks not working right with anything past #1220. I'm getting this error on my server pretty often with this build those.

<code>04-01 17:34:03 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c codechicken.chunkloader.TileSpotLoader codechicken.chunkloader.TileSpotLoader@6fd99825 x,y,z: 155, 66, 1085 at x,y

[2013-04-01 23:24] aquagene commented on #253
Got this as well with the newest builds past #1220.

[2013-04-01 23:32] aquagene commented on #257
Also just got this one:
<code>04-01 19:29:41 [SEVERE] [TickThreading] Exception ticking entity qk['Zombie Pigman'/14306, l='world', x=2906.30, y=73.25, z=-2748.30] in rX: 181, rZ: -171, hashCode: -11206475:
java.lang.NullPointerException
    at lq.a(Entity.java:1103)
    at md.a(EntityLiving.java:1385)
    at lq.a(Entity.java:1061)
    at md.a(EntityLiving.java:447)
    at lq.d(Entity.java:251)

[2013-04-02 01:00] vanZeben opened #258 "Configurable Deadlock Messages"
It would be a ton of help to have the deadlock messages (The warning message, recovery message and the restart message) to be able to be set in the config file.

[2013-04-02 09:20] HaoSs07 commented on #254
i also get some errors fro xycraft; but different , not related to this

[2013-04-02 10:50] xfloh22 commented on #254
well i found that bukkit plugins such as worldedit can start stuff like this when you edit a block with tileentitiesthat worldedit doesnt change (thats what im guessing). anyway, its also xycraft tanks for me, they throw this error one way or another after a while

[2013-04-02 11:12] xfloh22 commented on #249
running ultimate pack as well an no problems of this sort...

[2013-04-02 11:21] xfloh22 opened #259 "Industrial Information Pannels(All recent TT Versions)"
it seems like industrial information pannels dont connect or even work alone with TT installed. I have tryed it with the last 50 Versions but no luck. no error reports in the console

[2013-04-02 11:36] xfloh22 commented on #179
with the new debug features you added i was able to get the following bug report:

http://pastebin.com/KrUHfM4P

[2013-04-02 12:57] HaoSs07 commented on #254
i dont use mcpc or other bukkit port

[2013-04-02 12:58] HaoSs07 opened #260 "persistent deadlock"
http://pastebin.com/Lt9hqcgd

had to shut down the server, deadlock won`t stop

[2013-04-02 16:28] HaoSs07 commented on #259
yes,  can confirm there is a problem with pannels

[2013-04-02 16:55] utoxin commented on #246
Interested in this bug being fixed as well. Would love to use TT with the Ultimate FTB modpack. :)

[2013-04-02 18:24] AlexRichman opened #261 "Redpower BlockBreaker log spam."
Getting a ton of these messages: https://gist.github.com/AlexRichman/5294779 spammed whenever a block breaker does it's thing.

Doesn't seem to impact server performance, but it sure is annoying.

[2013-04-02 18:57] xfloh22 commented on #254
odd. anyway, i even get this without TT just not often. TT might just make it occur more often.

[2013-04-02 19:57] LunNova commented on #261
That's a BukkitForge bug and would crash the server if TT was not
installed. Unless it definitely only occurs with TT, report it to BF and
close this.
On 2 Apr 2013 19:24, "AlexRichman" notifications@github.com wrote:

[2013-04-02 20:04] AlexRichman commented on #261
Heh, I'm noticing a recurring theme here. Perhaps I'll try to remove BukkitForge and replace it with mods that weren't written by a penguin via the process of slapping it's fins repeatedly on the keyboard.

Thanks,
- Alex

[2013-04-02 20:04] #261 closed, assigned to LunNova

[2013-04-02 20:13] xfloh22 commented on #260
actually, i had this without TT and when i added TT that bug didnt show anymore. so strange. it seems like forge chicken chunks does some wierd things with the tick manager, that might be it as well.

[2013-04-02 20:15] HaoSs07 commented on #260
thx for the tip. i can test that in 1 second

[2013-04-02 20:23] LunNova commented on #260
It looks like a BC filler is getting in to a loop.
On 2 Apr 2013 22:15, "HaoSs07" notifications@github.com wrote:

[2013-04-02 20:47] HaoSs07 commented on #260
Yah;is not from CC
hmm... how to find the filler ? any tips ?

also nallar. any tips for debugging; i hate to came here every deadlock; but it seems i can understand it, where exactly does it tell you the problem ?

[2013-04-03 20:05] Nithlus opened #262 "Crash on startup - TickThreading-1.4.7-1.0.0.942"
Server crashes on startup after adding TickThreading-1.4.7-1.0.0.942 & running the Patchme

http://pastebin.com/dqRMDby4

Don't think i did anything wrong so would like someone to take a look if they can

[2013-04-03 20:41] LunNova commented on #262
The 'stable-ish' build is not MCPC+ compatible. Try latest.
On 3 Apr 2013 22:05, "Nithlus" notifications@github.com wrote:

[2013-04-04 14:20] HaoSs07 opened #263 "bugged world save ? Disappearing items"
With the latest TT builds, player have reported disappearing items from chests,
Example: put 2 stacks of ender pearls in chest, come back 10 minutes later and the pearls are gone

this does not happen if TT is not installed, Did a 2 days test, nothing missing, Put TT again, first report after 2 hours

I have a timed 10 minutes autosave using command block

[2013-04-05 11:04] Puremin0rez opened #264 "Build #1226 - Chunks randomly loosing data"
This appears to be an issue with TickThreading but might also be the result of MCPC+ with TickThreading.

A single player on my server is reporting that his chunks are resetting and loosing there data (such as chest contents, machines, etc).

This seems to happen at random periods and keeping the chunk loaded with a chunk loader seems to make the problem possibly go away.

A user on the FTB forums

[2013-04-05 11:05] Puremin0rez commented on #264
@nallar

This issue might also be related

https://github.com/nallar/TickThreading/issues/263

[2013-04-05 11:06] ghost commented on #264
I concur I have this issue as well.

[2013-04-05 13:24] LunNova commented on #264
Is data only lost if the chunk is unloaded, then loaded immediately/soon
after?
On 5 Apr 2013 12:06, "Zettadox" notifications@github.com wrote:

[2013-04-05 13:32] HaoSs07 commented on #264
The issue #263 made by me is more then related; is the same problem , I have reports from 15 + players about this

@nallar
The player that reported last time this problem went 1 chunk away from is chest, When he returned 5 minutes later the item was missing,

[2013-04-05 13:46] HaoSs07 commented on #260
@nallar did a rollback and banned filler, but deadlock still happens from time to time

[2013-04-05 23:32] ghost commented on #264
@nallar
I have not done testing, I couldn't say.

@HaoSs07
I highly disagree. Your issue is with players missing items from chests. We are having chunks literally resetting back to the seeds algorithmic generation before any player activity occurred in that chunk.

[2013-04-06 05:20] Puremin0rez opened #265 "Build #1226 - Chunk-GC possibly eating Chunk Loader chunks?"
I do not have hard evidence to prove this, but I think Chunk-GC might be eating Chunk Loader chunks (World Anchor in particular)

Every 600 ticks I see quite a surge of CPU and IO from my performance monitor - I spent a good hour trying to debug what could be causing this when I realized it could definitely be Chunk-GC doing this. These spikes happened even when no players were online, providing e

[2013-04-06 05:55] LunNova commented on #265
It also doesn't unload any chunks with chunkloader tickets. Try diabling
loadChunkOnProvideRequest.
On 6 Apr 2013 07:20, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-06 06:01] Puremin0rez commented on #265
@nallar

What exactly will that do?

I had to enable the generateChunkOnProvideRequest because worlds such as the nether etc would not load properly on MCPC+ with it disabled - so I'm wondering what disabling loadChunkOnProvideRequest might do.

[2013-04-06 06:03] LunNova commented on #264
Are you using normal save settings, or save-off and save-all at intervals?
On 6 Apr 2013 01:32, "Zettadox" notifications@github.com wrote:

[2013-04-06 06:04] Puremin0rez commented on #264
Using the standard save setting of TT - nothing else

[2013-04-06 06:05] ghost commented on #264
Everything is stock FTB Ultimate.  I have not changed anything.
On Apr 5, 2013 11:03 PM, "Ross Allan" notifications@github.com wrote:

[2013-04-06 06:10] LunNova commented on #265
Probably your issue isn't that chunk loaded chunks are being unloaded, it's
more likely that chunks which are being loaded by bad mod/minecraft code
are being loaded again. If loadChunkOnProvideRequest is off, only load
chunk and getChunkAt(x, z, true, ...) in ChunkProviderServer will actually
load chunks, instead of for example, redpower checking for nearby
inventories on a chunk boundary.
On 6 A

[2013-04-06 06:11] LunNova commented on #265
Although if it's buggy and you need generate..., then you can't turn off
load.
On 6 Apr 2013 07:01, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-06 06:15] LunNova commented on #264
Basically nothing I can do until Tuesday, unless someone finds the issue
and makes a PR. My guess is that anvilChunkLoader gives stale data back if
something was saved very recently. Are there any logged exceptions related
to chunkloading?
On 6 Apr 2013 07:05, "Zettadox" notifications@github.com wrote:

[2013-04-06 06:18] Puremin0rez commented on #265
@nallar

Hmm, okay then, i'll toy with things later. I presume chunk loaders would still function with that off?

Hope to see you back at home soon :)

[2013-04-06 06:18] Puremin0rez commented on #264
@nallar

Nope - I actually have not received a single exception for the past few days of starting my FTB server backup; that's always pleasant!

[2013-04-06 07:13] #262 closed, assigned to LunNova

[2013-04-06 07:15] LunNova commented on #252
Patching failed for some reason. For now, keeping minecraft forge as a separate jar might not work, try not doing that if you are.

[2013-04-06 08:58] ghost commented on #264
@nallar
I have been getting errors like this maybe this will help you figure it out. I'm not a programmer. Enjoy your holiday no rush my friend :) http://pastebin.com/3QXevTps

[2013-04-06 12:02] Puremin0rez commented on #265
@nallar
Yeah disabling the loadChunkOnProvideRequest made chunk loaders appear to not work and once again worlds did not function properly under MCPC+

Looks like I'll just leave GC off for now

[2013-04-06 20:36] ghost opened #266 "Updating from 942 to 1227 fatal error server unable to start after patching"
Startup Error: http://pastebin.com/dNWwcsYg
Patch log: http://pastebin.com/jXW6vBeB

[2013-04-06 21:50] dadealus opened #267 "MCPC crash after install java.lang.NoSuchFieldError: L"
I use MCPC+
Downloaded the latest stable
Copied to mods folder
Ran minecraft server
stopped minecraft server
ran the patchme
started minecraft server

never starts up all I get is
---- Minecraft Crash Report ----
// I blame Dinnerbone.

Time: 4/6/13 11:51 AM
Description: Exception in server tick loop

java.lang.NoSuchFieldError: L
at in.construct(WorldServer.java:50)
at yc.runConstructors(World.ja

[2013-04-06 21:53] dadealus commented on #267
Patcher logs
04-06 17:32:59 [INFO] [TickThreading] Patching in environment: mcpc
04-06 17:32:59 [FINE] [TickThreading] Patching yp with addAll(fromClass:me.nallar.patched.PatchSpawnerAnimals)
04-06 17:32:59 [INFO] [TickThreading] Added me.nallar.patched.PatchSpawnerAnimals.closeRange:I
04-06 17:32:59 [INFO] [TickThreading] Added me.nallar.patched.PatchSpawnerAnimals.farRange:I
04-06 17:32:59 [INFO

[2013-04-06 22:35] HaoSs07 commented on #267
can u provide the crash report from: C:\Users\Ryan\Desktop\FTB
copy\server1.\crash-reports\crash-2013-04-06_11.51.50-server.txt ?

[2013-04-06 23:09] dadealus commented on #267
Here is the requested crash report
http://pastebin.com/1X1rrDE4

[2013-04-07 00:09] aquagene commented on #246
Interested as well now that DW20 has added Applied Energistics. It's popular enough that I'm forced to not use Tickthreading for fear people will lose items on my server.

[2013-04-07 00:39] Puremin0rez commented on #267
I don't think the latest stable build is MCPC+ compatible

Try Build 1226

[2013-04-07 00:53] dadealus commented on #267
HAha yeah i was just reading
https://github.com/nallar/TickThreading/wiki/Mod-Compatibility
and it says build1050+ required for MCPC

and 1226 got me up and running.

if Nailor gets a chance on the FTB post can he add a recommended mcpc build link
http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/

thanks for the hard work guys r

[2013-04-07 00:53] #267 closed, assigned to LunNova

[2013-04-07 02:01] dadealus commented on #254
this is a flaw with xycraft valve and tanks. so far no way of fixing unless disable valve or remove xycraft

[2013-04-07 02:36] dadealus opened #268 "1226 MCPC+ towny console spam/ breaks monster despawn"
Constently getting the following in the console.

2013-04-06 21:56:32 [WARNING] [Towny] Task #12 for Towny v0.82.1.0 generated an exception
java.lang.NullPointerException
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getName(CraftWorld.java:489)
    at com.palmergames.bukkit.towny.tasks.MobRemovalTimerTask.run(Unknown Source)
    at org.bukkit.craftbukkit.v1_4_R1.scheduler.CraftTask.run(CraftTa

[2013-04-07 05:12] dadealus commented on #264
just tried TT and server started having the same issue. players were able to dupe. due to they would empty a chest go off come back and the chest had the same items in it before.

using build 1226
on mcpc+

[2013-04-07 05:13] Puremin0rez commented on #264
@dadealus

Yep :(

[2013-04-07 06:47] LunNova commented on #268
Towny seems to be leaking worlds, report to Towny that that
MobRemovalTimerTask is using unloaded worlds. Turn off world unloading.
On 7 Apr 2013 04:36, "dadealus" notifications@github.com wrote:

[2013-04-07 06:48] LunNova commented on #267
I can't add a recommended MCPC+ build because the MCPC+ compatible builds
have some serious issues currently.
On 7 Apr 2013 02:54, "dadealus" notifications@github.com wrote:

[2013-04-07 06:52] LunNova commented on #266
There have been some changes in patching that require a clean install
before trying newer builds, somewhere between 970 and 1020 iirc.
On 6 Apr 2013 22:36, "Zettadox" notifications@github.com wrote:

[2013-04-07 07:33] ghost commented on #266
Okay thanks, I recommend putting that in the OP. :)

[2013-04-07 07:34] #266 closed, assigned to LunNova

[2013-04-07 11:47] nylser commented on #246
Would also be very interested in this bug to be fixed, I'm running an FTB Ultimate Server on an 8-core server, which is getting laggy pretty fast with standard forge server, but with TickThreading its an awesome performance and balances everything over the 8 cores! Keep up the good work, Nallar!

[2013-04-07 11:48] Zerys2424 opened #269 "[ForgeModLoader] Failed to load chunk/ Chunks are resetting to different states"
12:42:55
 ForgeModLoader:
User max1112_nl connecting with mods [MFReloaded|CompatSufficientBiomes, BiblioCraft, RedPowerWiring, TwilightForest, OmniTools, BuildCraft|Transport, ChargePads, RedPowerCompat, WR-CBE|Core, MFReloaded|CompatIC2, RedPowerLogic, ObsidiPlates, ThermalExpansion|Energy, DamageIndicatorsMod, Thaumcraft, drceph.petrogen, WR-CBE|RedPower, Forestry, EnderStorage, XyCraftWorld, G

[2013-04-07 12:17] Delaura commented on #246
So there is a confirmed bug between AE and TT that makes items dissapear? So I'm not crazy when I say that 5937 fertilizer went missing in my AE system? All my fermenters were located in a single chunk, and once I hooked up my  AE System, it worked fine, until I logged back in 2 hours later, when it was all gone, and just the saplings remained, which were stored in a deep storage unit in another c

[2013-04-07 12:54] Zerys2424 commented on #269
also this

13:52:46
 Minecraft:
thew1ldc4rd[/91.85.46.250:40111] logged in with entity id 378216 at (251.5, 36.5, -484.5)
13:52:52
 Minecraft:
max1112_nl hit the ground too hard
13:53:36
 CONSOLE:
TIMED_WAITING
13:53:36
 CONSOLE:
Connection #71 read thread
13:53:36
 CONSOLE:
PID: 602 | Alive: true | State: BLOCKED | Daemon: false | Priority:5
13:53:36
 CONSOLE:
BLOCKED on java.util.LinkedList@3d43

[2013-04-08 04:48] geoffcorey opened #271 "Exception ticking world Twilight Forest/7 java.lang.NullPointerException"
[Ultimate 1.0.1]  + TickThreading-1.4.7-1.0.0.1227.jar  no other addons or mods.

patch.log
https://gist.github.com/geoffcorey/5334291

tickthreading.log
https://gist.github.com/geoffcorey/c143dfb46d960dad0af9

No crash reports

[2013-04-08 06:04] LunNova commented on #271
Does this happen with world unloading disabled?
On 8 Apr 2013 05:48, "Geoff Corey" notifications@github.com wrote:

[2013-04-08 11:41] xfloh22 commented on #271
exactly the same issue as #179 not sure why this is happening.

[2013-04-08 14:47] Puremin0rez commented on #264
Just want to add that it appears to be getting progressively worse lol

People are breaking chests and coming back and they've returned, so they break it again and get all the stuff inside etc

Hope it gets fixed soon @nallar

[2013-04-09 06:35] LunNova commented on #264
You should probably have stopped using TT after you first ran into that
issue, no point running with dupe exploits. Will he back and able to try to
fix it in ~5 hours.
On 8 Apr 2013 16:47, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-09 06:37] Puremin0rez commented on #264
@nallar

Benefits outweighed the dupes at first xD

But it's gotten pretty bad now so I'm just rolling with MCPC+ standalone for now.

[2013-04-09 12:33] LunNova commented on #264
@Puremin0rez can you try latest, and give logs from while someone causes this bug? I can't reproduce it locally, so I've added some debugging stuff to try to find what's causing it.

[2013-04-09 12:53] Puremin0rez commented on #264
@nallar

Only 5~ minutes into the server and I'm getting this:
http://pastebin.com/1XTHh2ct

It also appears to be firing every 60 seconds (chunk gc?)

Perhaps linked to my issue about them reloading constantly?

[2013-04-09 12:55] Puremin0rez commented on #264
Just to add to my above comment,

Those "chunk loaded too early" debugs etc are happening everytime someone teleports, every minute (presumably from chunk-gc) and basically non stop...

Not sure if good or not...

[2013-04-09 13:10] LunNova commented on #264
When a dupe/reset happens, is it at the coords listed as "reloaded too early"?
On 9 Apr 2013 13:55, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-09 13:11] LunNova commented on #264
Also, those are chunk coords.
On 9 Apr 2013 14:10, "Ross Allan" rossallan3@gmail.com wrote:

[2013-04-09 13:11] Puremin0rez commented on #264
@nallar

Yep, just had it happen to 2 users - both chunks it happened in was listed as "loaded too early"

[2013-04-09 13:13] LunNova commented on #264
That confirms that the issue is with AnvilChunkLoader giving stale data back, should have it fixed soon.
On 9 Apr 2013 14:11, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-09 15:25] LunNova commented on #264
That should fix it. It also might completely break your world save, or something equally terrible :P Haven't tested it much.

The warning will still appear, but the chunks they refer to (hopefully) will not be reverted.

[2013-04-09 15:28] Puremin0rez commented on #264
@nallar

Sounds horrible! Let me take those backups now...

I'll see how it goes later on :)

[2013-04-09 15:28] #256 closed, assigned to LunNova

[2013-04-09 15:30] dadealus commented on #264
Keep us posted :) can't wait to use this on my server

[2013-04-09 15:32] Puremin0rez commented on #264
Not going to be able to test until at least 6 hours from now, so hopefully anyone else having this issue can test and report before I do.

Thanks for the fix @nallar

[2013-04-09 18:35] HaoSs07 commented on #260
http://pastebin.com/G27yRZHN

still happening ...

[2013-04-09 19:14] LunNova commented on #260
That's a different deadlock, involving a combination of two mods doing silly things. :/

[2013-04-09 19:14] #260 closed, assigned to LunNova

[2013-04-10 00:35] Lathanael commented on #250
I can confirm this error:
https://gist.github.com/Lathanael/89bff3210bd5d0e1d92c
Used TickThreading-1.4.7-1.0.0.1234  and Factorization-0.7.21

Note:
I tried it with enabled and disabled slices. Crashes with both settings.

[2013-04-10 04:08] Puremin0rez commented on #264
Now running with the fix in production!

Still getting lots of "loaded too early" errors but nobody has reported a dupe thus far.

Will report back in a day or so assuming I don't see it before then.

[2013-04-10 06:18] Puremin0rez commented on #264
I'm now about 2 hours into running the new _fix_ build and nobody has had the dupe issue yet - looking good.

The debug spam is a little out of control though... xD

Getting lots of "reloaded x too early" still, but I'm assuming that's just harmless debug because nothing is wrong with the chunks its saying it about

[2013-04-10 10:31] #264 closed, assigned to LunNova

[2013-04-10 10:41] dadealus commented on #249
happens to me as well. seems to be any interaction with the bedrock

[2013-04-10 11:14] #249 closed, assigned to LunNova

[2013-04-10 11:20] LunNova commented on #265
Is this any better now, as chunk caching works?

Should probably be a separate issue for load/generateChunkOnProvideRequest being necessary for world loading.

[2013-04-10 11:22] Puremin0rez commented on #265
@nallar Appears to be, but I still see a noticeable spike whenever Chunk GC runs (maybe unavoidable?)

I've set my chunk-gc to every 5 minutes so it's not as bad now - plus i got the caching set to 8000

I'll go make that ticket now :)

[2013-04-10 11:25] #250 closed, assigned to LunNova

[2013-04-10 11:25] Puremin0rez opened #272 "Build #1236 - load/generateChunkOnProvideRequest must be enabled for worlds to properly load under MCPC+"
If load/generateChunkOnProvideRequest are set to false, worlds (such as the nether) will not load and leave the player sitting in a nether portal that does not teleport them.

Soon as both options are turned on, worlds work like normal.

I also believe world unloading needs to be set to false or the same issue will occur again after the servers been online for a little while.

This is probably onl

[2013-04-10 11:27] #268 closed, assigned to LunNova

[2013-04-10 11:28] LunNova commented on #263
Fixed, see #264.

[2013-04-10 11:28] #263 closed, assigned to LunNova

[2013-04-10 11:29] #252 closed, assigned to LunNova

[2013-04-10 13:22] Puremin0rez commented on #264
Just wanted to give my final report on this bug for other server admins to read ->

Issue definitely appears to be fixed. I'm running on MCPC+ Legacy 9 with TickThreading #1239 and I haven't gotten this issue AT ALL since running the fixed build (and i've been running it for 10~ hours)

Thanks @nallar !

[2013-04-10 14:08] alicheek opened #273 "Build #1239 Issue mass amounts of chunks an entities loaded."
Hey there im usung mcpc+ 1.4.7 L9 for FTB Ultimate. so when i dont have tick threading ont he server , the values when i type /gc for chunks loaded and entities are at like numbers at 2500 chunks and 1400 entities when about 50 people are on now with tickthreading added it has gone up to 5000 chunks and 3400 entities with 20 people on it , im not sure why its happening, also the tps is dropping to

[2013-04-10 14:59] alicheek commented on #264
Do you not have issues with the amount of chunks loaded and entities though cos im getting overloaded as in with 50 people on i would have about 2500 chunks loaded , now with tickthreading i have 6000 just for 20 people on its really laging out the server for me and im using the mcpc+ legacy 9 with the tickthreading #1239  the plugin that shows this is essentials when i type /gc

[2013-04-10 15:24] Puremin0rez commented on #264
@alicheek

Uhhh never had that issue, but chunk cache can definitely skyrocket your memory usage (as its basically like a ramdisk)

Set it to 100 (the lowest allowed) and see if it helps your issue.

[2013-04-10 15:25] alicheek commented on #264
@Puremin0rez i have set it to 100 and it still skyrocketing but its not even like its cahcing its like its still simulating the areas because i start to get tps drops

[2013-04-10 15:30] Puremin0rez commented on #264
@alicheek

No idea.... If its still ticking the areas, the chunks are definitely loaded whether it be from Player or Chunk-loader.

The only issue i still have with TT and MCPC+ is that chunk gc appears to be causing all chunk loader chunks to "reload" on the server every-time it runs - but its a small spike (thanks to chunk cache) and definitely does not cause load capable of dropping TPS - regar

[2013-04-10 15:42] alicheek commented on #264
@Puremin0rez
I know its not chunk loaders they are all baned any ways as i was saying with out tickthreading it only goes up to about 2500 chunks when i have 60 peeps on i had 20 there and it went up to 7000 lol
Yea ill do disable the mcpc /ticks command , yea i just banned soul cages there was a big exploit with them any ways one of the easy ways just to clean up the server a bit is just using cl

[2013-04-10 17:29] HaoSs07 opened #274 "Deadlock"
the deadlock happens 1 every 1-2 hours , and 98 % of the time it recovers under 10 seconds

http://pastebin.com/h5sA4wZB

[2013-04-10 19:32] dadealus commented on #253
I believe this is happening for us as well. 99% sure 1% could be a player with a non log-able item.

[2013-04-10 23:23] Puremin0rez commented on #272
@nallar

So question - Would you recommend I shut both options off? Keep them on? Still not 100% sure of purpose

[2013-04-10 23:24] LunNova commented on #272
Both off is better, but it may break some chunk loaders.

[2013-04-10 23:25] Puremin0rez commented on #272
@nallar

Gotcha, i'll try out the fix in a little bit :)

[2013-04-10 23:28] alicheek commented on #272
@nallar

weird when i put them both to false if you teleported so some areas the chunk would not even load

[2013-04-11 09:56] HaoSs07 commented on #246
just happen to me .... nasty bug, probably just have to remove TT till a fix is made, a lot of users started to use ME system

[2013-04-11 11:26] Puremin0rez commented on #272
@nallar

Same issues as the person above me, teleporting would often throw the person into a limbo state where nothing loaded (Reminds me of my Mystcraft issues months back... nooooo)

[2013-04-11 12:18] Puremin0rez opened #275 "Build #1239 - Server randomly turns Peaceful?"
No idea why but after leaving the server on for almost 15 hours, the server appears to have suddenly become "peaceful" and no hostiles will spawn.

Using a monster egg to spawn them will show them spawn for a slight second then go away, which is what happens on peaceful mode.

Restarting the server without touching ANYTHING fixed the problem but I'm worried it'll happen again.

I've verified the d

[2013-04-11 12:19] LunNova commented on #275
If it happens again, report what `/ticks e` shows.

[2013-04-11 16:31] Puremin0rez commented on #275
@nallar

Just happened again, this is what /ticks e shows
http://i.imgur.com/IPmddlw.png

[2013-04-11 16:32] LunNova commented on #275
Is it broken in all dimensions?

[2013-04-11 16:35] Puremin0rez commented on #275
@nallar

Yes, although now i have even more strange behavior to report...

I found an area on the server that hostiles can spawn fine in, but once i go a few chunks over, it breaks again.

It appears hostiles are disabled in most chunks on the server, but not all. Passives work fine in all.

[2013-04-11 16:37] LunNova commented on #275
What mods/plugins do you have installed? TT probably broke some mod/plugin which controls spawns.

[2013-04-11 16:41] Puremin0rez commented on #275
@nallar

I only use a permissions plugin and worldedit and commandbook - just basic administration tools, no mob limiters or anything

but... I did just find the issue!

If you have creative mode, it is impossible for mobs to spawn anywhere in your area -> as soon as I switch to survival mode, all hostiles spawn properly again.

Are creative mode players excluded from hostile spawning? That's some

[2013-04-11 16:42] LunNova commented on #275
Can you confirm that that doesn't happen without TT?

[2013-04-11 16:45] alicheek commented on #275
@nallar
This might explain one of the other problems i get, i have a player detector connected to an auto juke box, so its set to play music when any one goes in its vicinity, which normally works fine some on will come in to the area it will play the music. But with TT installed it goes a bit erratic so when some one stays around the vicinity it will keep restarting almost like the player entity

[2013-04-11 16:56] Puremin0rez commented on #275
@nallar

Appears to be a TT issue - Just tried it on "vanilla" forge and MCPC+ and it didn't happen but when I added TT to the mix it started happening.

I'd say it was a plugin conflict with TT but I don't have any plugin that could possibly cause this.

[2013-04-11 16:58] Puremin0rez commented on #275
Also, it appears to get even weirder.

I spawned tons and tons of zombies in survival mode then switched to creative and it instantly killed all of them.

For some reason Creative Mode is acting like a "hostile purger" - this is so strange.

[2013-04-11 17:02] alicheek commented on #275
@Puremin0rez
yes thats my issue also i get a huge build up of entities on my map, also a huge build up of chunks loaded (that may be a different issue though)

[2013-04-11 17:05] Puremin0rez commented on #275
To be honest I don't really care if Creative mode isn't letting hostiles spawn (and even killing them apparently), I just didn't realize I was in creative when this issue was happening so I was worried it was something worse.

It's still a silly issue though and should be looked at :P

[2013-04-11 18:00] dadealus opened #276 "new player spawn is broken when underground"
Without TT installed everything functions as intended. With TT installed the new player spawns where they are suppose to then... magically they get pulled to the surface nothing in the logs or errors

i have tried using essentials spawn and homespawnplus both of them work and send the player to the new player spawn location yet 2 or 3 seconds after they are insta ported to the surface in a random

[2013-04-11 18:04] dadealus opened #277 "[mcpc] Auto-save feature when set to a low interval lags hard"
can almost time it with a stop watch. but basically when the Save-all tick thing triggers all commands, chest interactions, machine interactions .... basically everything except block breaking comes to a hault even TT's /tps. once it recovers TT's tps report shows everything running at 20 ticks except for overall which is at like 0.3 TPS

[2013-04-11 18:18] HaoSs07 commented on #263
fore some reason players still report losing items in chest after a fast chunk reload, using fe home teleport from a chunk to another

[2013-04-11 22:46] geoffcorey commented on #271
it appears that when world unloading is disabled that error goes away.  Also seems to slow down a bunch of memory leaks (likely the mods).

Another odd item that seems to be happening is I pull a jetpack out of the mfe.  Go to an age and then comeback and there is another jetpack in the mfe.   Also I left a jetpack in the mfe after pulling out an electric wrench and jumped into an age.  When I cam

[2013-04-11 23:14] LunNova commented on #271
Sounds like #264, update and it should be fixed.
On 11 Apr 2013 23:46, "Geoff Corey" notifications@github.com wrote:

[2013-04-11 23:27] LunNova commented on #277
Are you sure this is auto save? Seems more likely that it would be chunk GC. (See #265)

[2013-04-11 23:39] LunNova commented on #275
Get latest, go into survival, spawn mobs around you, run /ticks e, change to creative, run /ticks e, give the console log.

[2013-04-12 00:30] swarmski opened #278 "Tickthreading broke dynmap"
Duplicate issue over at the Dynmap issue tracker (not sure what mod is at fault)
https://github.com/webbukkit/dynmap/issues/1232

Just installed the latest TickThread mod which seems to not work with Dynmap?

Tiles wiped and black map
Fullrender completes without rendering anything
[INFO] Full render starting on world 'world'...
[INFO] Full render of map 'flat' of 'world" completed - 0 tiles rende

[2013-04-12 01:17] LunNova commented on #278
Are you using forge dynmap or bukkit dynmap?

[2013-04-12 01:51] swarmski commented on #278
Using the following

Minecraft v1.4.7 with Forge v6.6.x, MCPC+ v1.4.7: DynmapForge v1.6
FTB Launcher running Mindcrack

[2013-04-12 02:04] dadealus commented on #277
I found the following
with saveInterval at default Increasing chunkGCInterval to some high number caused the duration of the lag spike to increase

With saveInterval set to 72000 chunkGCInterval can be set to anything (even 600) and the lag spike does not occur until about an hour passes.

[2013-04-12 02:17] LunNova commented on #278
Try Bukkit dynmap - it should work, as you're using MCPC+.
On 12 Apr 2013 02:51, "swarmski" notifications@github.com wrote:

[2013-04-12 02:18] LunNova commented on #278
Also, make sure world unloading is off in TT's config. It breaks with MCPC+
On 12 Apr 2013 03:17, "Ross Allan" wrote:

[2013-04-12 02:37] Puremin0rez commented on #264
@nallar

Started happening again today, isolated to a certain area apparently..

[2013-04-12 03:21] swarmski commented on #278
Apologies if silly question.  The bukkit Dynmap says i need to;
Extract dynmap-*-bin.zip in your plugins directory.

I dont have a plugins directory?  Currently i use "Minecraft v1.4.7 with Forge v6.6.x, MCPC+ v1.4.7:" and all i do is place the mod into the "mods" folder and it extracts automatically and setsup on server start.

Dynmap is working as such that players are slowing discovering the wo

[2013-04-12 03:39] dadealus commented on #264
Yes same just had to roll my server back 12 hours.

This is whats happening. you can even replicate.

set
chunkGCInterval=600
saveInterval=72000

Then go to a location far away from anyone.
place a chest put in diamond
run /save-all (to save the chest right now)
now perform the following quickly
take the diamond
then teleport to spawn and count to 35(chunk garbage collection time)
teleport back to

[2013-04-12 03:45] dadealus opened #279 "[MCPC] Infinite water source isnt sync'd with chunk ticks"
Basically it seems that whatever processes the regeneration of water isn't in sync with the tick rate of the chunk its located in.

Why is this bad?

water pumps setup in infinite pools run dry almost instantly because the pool doesn't regenerate in any sort of fashionable time.

[2013-04-12 03:46] dadealus opened #280 "[MCPC] Animals/Passive entities randomly despawning"
During the 12 hours we had TT running throughout the day people were reporting various animals and passive entities randomly despawned.

[2013-04-12 03:48] Puremin0rez commented on #264
@dadealus @nallar

That actually sounds very intelligent and very possible.

God damn Chunk-GC.

[2013-04-12 03:50] dadealus opened #281 "[MCPC] Picking up armor causes current armor to delete"
for the 12 hours we had TT running I saw this happening as well as many players reporting the problem.

The issue.

your wearing diamond armor and you see a noob in leather.

you run over and kill them

their items drop on the ground and you pick them up.

the moment you run over their leather armor your diamond armor get deleted and you are now wearing leather armor.

[2013-04-12 04:32] Puremin0rez commented on #281
I can confirm this +1

[2013-04-12 04:51] geoffcorey commented on #271
Well that error didn't go away with disabling world unloading.  Spoke too soon.

11.04 23:29:55 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$ServerWorkThread.run(ThreadManager.java:157)
11.04 23:29:55 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:41)
11.04 23:29:55 [Server] INFO at me.nallar.patched.server.PatchMinecraftServer$TickRun

[2013-04-12 08:42] HaoSs07 opened #282 "error using applied energistics"
04-12 11:33:09 [SEVERE] [ForgeModLoader] [AppEng] Controller ONLINE!
04-12 11:33:12 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
at net.minecraftforge.common.ForgeChunkManager$Ticket.access$500(ForgeChunkManager.java:185)
at net.minecraftforge.common.ForgeChunkManager.saveWorld(ForgeChunkManager.java:827)
at net.minecraftforge.common.ForgeInternalHandler.onDi

[2013-04-12 09:04] Kusinagie opened #283 "Build #1246-possible chunk loading and reloading issue"
Hey Nallar

So i set this up in a mystcraft lava age.
![2013-04-12_04 25 11](https://f.cloud.github.com/assets/4134724/371920/5372bbd8-a34b-11e2-8a4a-ea3bee7ba8d0.png)
![2013-04-12_04 25 34](https://f.cloud.github.com/assets/4134724/371921/5603da94-a34b-11e2-9c5e-1809959a3bff.png)
(the random bit of golden pipe to the left of the chunkloader marks the center of the chunk)

As you can see the load

[2013-04-12 09:41] LunNova commented on #283
Run /profile e while in that world, screenshot/copy results.
On 12 Apr 2013 10:05, "Kusinagie" notifications@github.com wrote:

[2013-04-12 10:01] #281 closed, assigned to LunNova

[2013-04-12 10:11] #277 closed, assigned to LunNova

[2013-04-12 10:27] #282 closed, assigned to LunNova

[2013-04-12 11:39] LunNova commented on #275
Also, can't replicate. :s ![](http://i.imgur.com/9Tw7PPU.jpg)

[2013-04-12 11:41] LunNova commented on #273
Try turning off "loadChunkOnProvideRequest" in TT's config.

[2013-04-12 12:19] alicheek commented on #273
Ill give that a try with the new build when I did that the last time of you teleported to an area the world wouldn't load , think you fixed that issue though

[2013-04-12 13:31] dadealus commented on #276
I will test this today

[2013-04-12 13:48] geoffcorey commented on #271
Here is another stack trace from this morning.  This one was for the the Nether.

12.04 08:42:43 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$ServerWorkThread.run(ThreadManager.java:157)
12.04 08:42:43 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:41)
12.04 08:42:43 [Server] INFO at me.nallar.patched.server.PatchMinecraftServer$TickRu

[2013-04-12 15:34] HaoSs07 opened #284 "#1260 Chunk save/reload debugging"
https://gist.github.com/HaoSs07/5372918
edit1
@nallar do you have a IRQ ?

edit2

04-12 18:53:02 [WARNING] [TickThreading] Save queue overloaded in Overworld/0 consider decreasing saveInterval. Only saved 128 out of 1321
04-12 18:53:02 [WARNING] [TickThreading] Save queue overloaded in Twilight Forest/7 consider decreasing saveInterval. Only saved 128 out of 159
04-12 18:53:03 [WARNING] [TickThrea

[2013-04-12 17:29] Puremin0rez commented on #264
@nallar

I've now updated to #1261 and reset my config file to match default values.

Time to see if any of your changes fixed it :)

Getting lots of chunk reloaded too early spam, but I suppose harmless.

[2013-04-12 17:52] Puremin0rez commented on #284
Getting lots of the same too

It always appears to be overloaded every save and i'm on default everything.

[2013-04-12 18:01] HaoSs07 commented on #284
iah , nallar added some debugging with 1260 is its probably a good idea to let the server run for a wile and add your TT log here, lets hope he can fix the broken chunk save from our data

[2013-04-12 18:14] clienthax commented on #278
make a plugins folder in the same folder as your mods folder

[2013-04-12 18:28] LunNova commented on #284
I changed the default world save interval recently to be smaller. It no longer saves all chunks containing entities at every save like vanilla does, so it's better to reduce the interval as the warning notes.

[2013-04-12 18:58] LunNova commented on #265
Can you confirm that this isn't actually caused by #277?

[2013-04-12 18:59] LunNova commented on #272
https://github.com/MinecraftPortCentral/MCPC-Plus/pull/742

[2013-04-12 18:59] LunNova commented on #236
https://github.com/MinecraftPortCentral/MCPC-Plus/pull/742

[2013-04-12 19:25] HaoSs07 commented on #284
yah but does not saving all chunks lead to duplication bugs or item lose ? i have tons of reports from players moving items from 1 chunk to another and losing a big part of them due to no save, (as you may expect 90 %  forget to report the duplication bugs )

also does TT changes mc save-all ? i have a command block that runs save-all every 10 minutes, also if my gamecp reboots the server id does

[2013-04-12 19:27] LunNova commented on #284
And it's still been happening since updating? When a chunk is unloaded, it should still always be saved, this is just for the saving which happens while a chunk is loaded in case the server loses power.

[2013-04-12 19:37] HaoSs07 commented on #284
I switched to 1260 4 hours ago and last report of item lose was after 1 hours , iupdated again 10 minutes ago. still testing
this is my console now:

04-12 22:41:17 [WARNING] [TickThreading] Reloaded chunk at -485331304532: -84,-114 before queued unload was processed.
java.lang.Throwable
at im.getChunkAt(ThreadedChunkProvider.java:383)
at im.d(ThreadedChunkProvider.java:295)
at yc.e(World.java:524

[2013-04-12 20:44] HaoSs07 commented on #284
will continue to test, also the : Reloaded chunk before queued unload was processed is normal ?

[2013-04-12 20:54] LunNova commented on #284
It's not a good thing - it indicates that a mod/minecraft is doing something wrong and causing chunks to load when it shouldn't - but it shouldn't break anything. Although previously it seems that it has caused chunks not to be saved, which is why it gets logged.

[2013-04-12 21:01] HaoSs07 commented on #284
well i get tons of warnings about that https://gist.github.com/HaoSs07/5375102
and is not 1 mod, factorization does it, ic2,buildcraft,redpower,turtles,thermal expansion, xycraft, oh man; i miss the good old days when the only problem i had was people swearing on my server

[2013-04-12 21:10] LunNova commented on #284
Fixed some of those. Turn off loadChunkOnProvideRequest and it should go away completely, but that might break some other stuff.

[2013-04-12 21:16] HaoSs07 commented on #284
important stuff?

also side note: player have reported timers stopping with energy on, ( this is pre build 1260 ) sometime the player is next to the timer and it stops..

[2013-04-12 21:23] LunNova commented on #284
That might be the issue just fixed in 8f468e1a7c32a70. Is the timer on a chunk boundary?

[2013-04-12 21:25] LunNova commented on #284
loadChunkOnProvideRequest = false may break IC2 reactors on chunk boundaries and chickenchunks chunkloaders.

[2013-04-12 21:41] HaoSs07 commented on #284
1 timer was in the middle of the chunk, and another one was at the edge , both on the same chunk, will test if it works now

[2013-04-12 21:47] Puremin0rez commented on #275
Appears to be somehow related to NEI - Removed it, issue stopped happening. A feature I suppose?

Regardless, this is a uber miniscule issue and possibly even a feature. closing.

[2013-04-12 21:47] #275 closed, assigned to LunNova

[2013-04-12 21:48] Puremin0rez commented on #265
@nallar

Will try the new save builds and get back to you with info :)

[2013-04-12 22:09] HaoSs07 commented on #284
It seems the problem persists ,the 2 timers on the same chunk have stopped at the same time

[2013-04-12 22:10] LunNova commented on #284
Do other timers continue to work? Is this chunk loaded with a chunkloader?

[2013-04-12 22:16] HaoSs07 commented on #284
mine work fine,i'm on other zone and i use chickenchunk loader

the player that reported uses a world anchor , i gived him more timers to put in different chunks , will come back with reply

i had a similar case in nether this morning, but the player in question is not on,

[2013-04-12 22:30] Puremin0rez commented on #272
@nallar

Grabbed the new MCPC+ and the newest TT, shut both options off and kept world unloading enabled and everything appears to be working well!

[2013-04-12 22:31] LunNova commented on #272
Nice :)

[2013-04-12 22:31] #272 closed, assigned to LunNova

[2013-04-12 22:36] Puremin0rez commented on #265
Spike are almost non existent now - knocking 'em out @nallar !

[2013-04-12 22:36] #265 closed, assigned to LunNova

[2013-04-12 22:39] Puremin0rez commented on #279
Maybe due to "aggregate-chunkticks" on MCPC+ ?

Seeing the same sort of thing, tuned that setting back to 1 (vanilla) to see if that fixes anything.

[2013-04-12 22:40] HaoSs07 commented on #284
he used more timers on other chunks, they stopped at the same time, if a cable that connected to the timer got broken the timer start rotating again,
also i told him to remove the anchor, did not help

he used 4 timers, in 3 different side by side chunks, first time all 4 stoped, second time (after world anchor removal )3 timers have stopped; 1 is still working , so strange

[2013-04-12 23:50] LunNova commented on #284
Debug spam disabled, as this seems fixed. Make a new issue about the timers.

[2013-04-12 23:50] #284 closed, assigned to LunNova

[2013-04-12 23:55] LunNova opened #285 "loadChunkOnProvideRequest = false may prevent ChickenChunks loaders loading correctly - uses getBlockTileEntity, deferred."

[2013-04-13 00:02] Puremin0rez opened #286 "Build #1272 - Chunk & Entities failures"
Spamming nonstop:
http://pastebin.com/mJEGuqTZ

Images:
http://i.imgur.com/j8GoS1K.jpg
http://i.imgur.com/roZ3PPa.jpg

Seems to be "stripes" of world that doesn't tick

[2013-04-13 00:04] Puremin0rez commented on #286
@nallar

Maybe reloaded to loadChunkOnProvideRequest? Something else?

[2013-04-13 00:05] LunNova commented on #286
That's the debugging which runs with /ticks e I added for you to try to find what was killing mobs when you were in creative.

[2013-04-13 00:07] LunNova commented on #286
Although the world loading in stripes may be loadChunkOnPRovideRequest related.

[2013-04-13 00:07] Puremin0rez commented on #286
@nallar

Ah, yeah that started showing up when i did /ticks e - makes sense

What about the chunk failures and the absolute stopping of entities? They get "fixed" when lighting a fire or something on it / next to it

[2013-04-13 00:15] LunNova commented on #286
Try latest, might be fixed. If not, will have to wait for tomorrow, need to sleep.

[2013-04-13 02:49] Kusinagie commented on #283
Here you go Nallar
with build 1246
![2013-04-12_22 42 23](https://f.cloud.github.com/assets/4134724/376001/3deee202-a3e4-11e2-9582-be4497d5b06d.png)
After updating to 1274
![2013-04-12_22 33 07](https://f.cloud.github.com/assets/4134724/376002/599b1ad4-a3e4-11e2-84a0-5187d9996baf.png)

I did notice with build 1274 the load seemed to only be hitting 150-160% instead of in the 200's.
If i can get yo

[2013-04-13 04:28] Puremin0rez commented on #286
Seems to be fixed, but i'll leave this here another day or so because "fixed" issues like to show up after I say they're fixed :)

[2013-04-13 06:07] alicheek commented on #273
Ok with build #1274 the chunks loading and unloading seems to be working good, but right now the entities are still double what they should be, im using clearlagg to limit the amount of entities on the map but it seems that with TT installed it either cant communicate through the mod, my limit is set at 1000 entities and right now with about 25 people on but there is 3000 entities right now lol ap

[2013-04-13 06:08] alicheek commented on #273
Oh other comment ive noticed that creepers now bypass essentials permission to stop creepers from destroying blocks

[2013-04-13 06:16] alicheek commented on #273
Oh found also another error where if you set unloading world at true when you go into the twilight portal you get disconnected from the server

[2013-04-13 06:32] Nohau opened #287 "TT# 1274 debug crash's server"
Ran /debug and crashed server

04-13 01:24:28 [SEVERE] [TickThreading] Exception in main tick loop
Stack trace unavailable. Add -XX:-OmitStackTraceInFastThrow to your java parameters to see all stack traces.
04-13 01:24:28 [SEVERE] [TickThreading] Exception in main tick loop
Stack trace unavailable. Add -XX:-OmitStackTraceInFastThrow to your java parameters to see all stack traces.
04-13 01:24:28

[2013-04-13 06:33] Nohau commented on #287
I ran the /debug command in Twilight Forest :

Thread: Chunk Updates for Age 2/2 - 1
    PID: 107 | State: BLOCKED | Daemon: true | Priority:5
BLOCKED on java.util.concurrent.LinkedBlockingQueue@798d65f owned by "Chunk Updates for Age 2/2 - 2" Id=108
        at me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:34)
        -  blocked on java.util.concurrent.LinkedBlockingQueu

[2013-04-13 06:37] Nohau commented on #287
04-13 01:23:25 [SEVERE] [ForgeModLoader] Failed to handle packet from LadyDivine
java.lang.NullPointerException
        at kh.b(SourceFile:42)
        at md.j_(EntityLiving.java:949)
        at qx.j_(EntityPlayer.java:328)
        at iq.g(EntityPlayerMP.java:286)
        at iv.a(NetServerHandler.java:310)
        at eb.a(SourceFile:39)
        at cg.i(TcpConnection.java:347)
        at cg.readNetw

[2013-04-13 06:38] Nohau commented on #287
04-13 01:23:25 [INFO] [Minecraft] [Nohau: Started debug profiling]
04-13 01:23:25 [SEVERE] [ForgeModLoader] Failed to handle packet from LadyDivine
java.lang.NullPointerException
        at kh.b(SourceFile:42)
        at md.j_(EntityLiving.java:949)
        at qx.j_(EntityPlayer.java:328)
        at iq.g(EntityPlayerMP.java:286)
        at iv.a(NetServerHandler.java:310)
        at eb.a(SourceFile

[2013-04-13 06:49] alicheek opened #288 "[TT #1274] [1.4.7 mcpc+ L11] Bees mod client crash"
since i isntalled TT my players and i are now expericencing a new crash, at firsti thought it had something todo with them being on the edge of a chunk but turns out is just every one of their items are not working , when ever you right click to interact with it your client just freezes and crashes.

client crash log

---- Minecraft Crash Report ----
// Ouch. That hurt :(

Time: 13/04/13 07:40
Des

[2013-04-13 07:05] alicheek opened #289 "[TT #1446] [1.4.7 mcpc+ L19] Redpower wires intermittently provide power"
Hey there of  a problem with the player detector, instead of just giving a constant redstone signal when a player is in the vicinity it its going on and off like its a AC current instead of DC
it wasnt doing this before i installed TT, causes some issues say if you want to connect it up to a auto juke box because it just keeps spazzing out and repeating the start of the song

Good work though stil

[2013-04-13 07:56] Kusinagie opened #290 "Build 1274- buttons not working as they should."
I broke the chunk loader in my lava age and changed allow world unload to true so i could continue testing other things for the time being and realized buttons both wood and stone no longer work as intended. Levers and pressure plates still seem to function.

If there's any info i can get you let me know

[2013-04-13 08:03] Kusinagie commented on #290
Correction the issue is with levers as well under certain circumstances. For instance i usually power my quarries with two magmatic engines from thermal expansion. One on a side the other on the bottom. I then put the lever directly on the quarrie and that controls both. But now with build 1274 that no longer works, so maybe it has to do with redstone signals or how ever that works versus the butt

[2013-04-13 08:06] Kusinagie commented on #283
correction it randomly hit in the 200's  after i had restarted the server when i got home. so i guess no difference between the builds. not sure if that helps any?

[2013-04-13 08:32] #290 closed, assigned to LunNova

[2013-04-13 08:33] LunNova commented on #287
Use `/profile usage` or jvisualvm for profiling. /debug's profiler isn't threadsafe.

[2013-04-13 08:35] LunNova commented on #283
Doesn't look like a TT issue, looks like the pumps are bugged out - see how factory.TilePump is taking 99.477% of the tick time, and each pump is taking 20ms.

Use jvisualvm and get a profiling snapshot so I can see exactly what's going on.

[2013-04-13 08:40] LunNova commented on #289
Which mod is the player detector from?

[2013-04-13 10:03] LunNova commented on #289
Possible fix, but it may be irrelevant depending on which player detector you're using. That should fix it if there was an issue with Immibis' player detector.

[2013-04-13 12:32] alicheek commented on #289
it was the greg tech player detector

[2013-04-13 12:39] geoffcorey commented on #271
Upgraded to http://nallar.me/buildservice/job/TickThreading/lastSuccessfulBuild/artifact/target/TickThreading-1.4.7-1.0.0.1276.jar

Just tested the duplicate bug.   Basically pull something out of an iron chest.  Go to an age.  Come back and the item is still in the chest and your personal inventory

[2013-04-13 12:42] geoffcorey commented on #271
The opposite also happens where you place an item in the iron chest.  Go to an age. Come back and the item is gone.

[2013-04-13 12:52] geoffcorey commented on #271
And this is still in the logs

04-13 07:47:00 [SEVERE] [TickThreading] Exception ticking world Nether/-1
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:894)
    at java.util.HashMap$EntryIterator.next(HashMap.java:934)
    at java.util.HashMap$EntryIterator.next(HashMap.java:932)
    at codechicken.chunkloader.ChunkLoaderManager$ChunkLoaderOr

[2013-04-13 13:02] alicheek commented on #289
The greg tech one is still doing the same thing

[2013-04-13 13:11] alicheek commented on #288
@nallar

Turns out its just forestry in general for some reason evey one crashed when they right click on of the machines

[2013-04-13 13:17] HaoSs07 commented on #284
thx nallar, Don't know if you did something but with the last build timers seem to work...

[2013-04-13 13:22] alicheek opened #291 "[TT #1276] [1.4.7 mcpc+ L11] Mass Mobs even with bukkit config set to very low numbers"
@nallar

Hey there still got this entity issue, even though ive got these settings :
ticks-per:
  animal-spawns: 400
  monster-spawns: 100

spawn-limits:
  monsters: 5
  animals: 15

yet im getting entities up to 4000 here with 20 people on, without TT its at 800 or 1000 , both the spawning system  is very different and CLag cant seem to limit the issue

[2013-04-13 13:23] LunNova commented on #291
What does TT's /tps command say?

Also, try setting TT to use fast mob spawning in its config.

[2013-04-13 13:40] alicheek commented on #291
@nallar

it says :

2013-04-13 12:39:44 [INFO]             World |    TPS | Entities | Tiles | Chunks |     Load
2013-04-13 12:39:44 [INFO]         Nether/-1 | 20.000 |      111 |    62 |    101 |  18.712%
2013-04-13 12:39:44 [INFO]       Overworld/0 | 20.000 |     3586 | 13212 |   2429 |  95.606%
2013-04-13 12:39:44 [INFO] Twilight Forest/7 | 20.000 |      492 |   145 |    148 |  25.582%
2013-04-

[2013-04-13 13:51] LunNova commented on #291
Alternatively, enable fast mob spawning in TT's config. This will also reduce mob spawning, but it will not allow clear lag to prevent spawning.

[2013-04-13 13:53] alicheek commented on #291
Yea was just about to do that but then I saw u got a fix in seconds ! Lol so ill try that very soon

[2013-04-13 13:57] Nohau opened #292 "TT# 1278 xycraft multiblock Tanks reset after server restart"
We have noticed xycraft multiblock Tanks reset after restart of the server . I don't see any logs regarding this in the startup of the server but the tank is uninitialized after restart and when going to reinitialize the tank it has a reset value back to nothing inside it.

Thanks!

[2013-04-13 14:09] alicheek commented on #291
@nallar

Thats not fixed it still getting 4k mobs when  i restart things like sheep and cows are fine but skeletons and zombies and the twilight mob, there is just too many of them

[2013-04-13 14:11] LunNova commented on #291
and is it just as bad with fast mob spawning enabled?

[2013-04-13 14:12] alicheek commented on #291
Havent tried but ill do it now

[2013-04-13 14:17] alicheek commented on #291
it seems to be a bit less atm at  about 2300 for 32 players but course as u said i cant limit it since clag cant controll it which is a bit of an issue becuase mass entities can use a lot of cpu

[2013-04-13 14:19] LunNova commented on #291
I'll add a configurable multiplier for the fast spawning algorithm for now, will look into getting the normal spawning working properly soon.

Run `/profile e`

[2013-04-13 14:20] alicheek commented on #291
cool its now at 4k lol its going up slower but its still going up

[2013-04-13 14:34] Nohau opened #293 "TT# 1278 Internal Server Error Possible New Chunk Error?"
When running around  and generating new chunks once you find a location and goto place a block in this case stone we are getting the following error and the user gets a Internal Server Error and disconnects.

04-13 09:30:03 [FINE] [TickThreading] Couldn'nt unload -1503238553488 - probably already unloaded.
04-13 09:30:03 [FINE] [TickThreading] Couldn'nt unload -1503238553487 - probably already unl

[2013-04-13 14:42] Nohau commented on #293
04-13 09:41:38 [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 1197
java.lang.NullPointerException
        at org.bukkit.craftbukkit.CraftChunk.getHandle(CraftChunk.java:70)
        at org.bukkit.craftbukkit.CraftChunk.<init>(CraftChunk.java:56)
        at keepcalm.mods.bukkit.forgeHandler.ForgeEventHandler.onPlayerInteraction(ForgeEventHandler.java:283)

[2013-04-13 14:44] LunNova commented on #293
Enable generateChunkOnProvideRequest, it's a bukkitforge bug and that's the workaround. https://github.com/keepcalm/BukkitForge/issues/593

[2013-04-13 14:44] #293 closed, assigned to LunNova

[2013-04-13 14:45] LunNova commented on #291
Turn off fast spawning, try latest.

[2013-04-13 14:56] Nohau commented on #292
Also something I noticed not sure if this is related :

9:55:11 AM
 CONSOLE:
[WARNING] MultiBlock already removed: 6046, server
9:55:11 AM
 CONSOLE:
[WARNING] MultiBlock already removed: 6045, server
9:55:11 AM
 CONSOLE:
[WARNING] MultiBlock already removed: 6044, server
9:55:11 AM
 CONSOLE:
[WARNING] MultiBlock already removed: 6043, server

[2013-04-13 15:12] #285 closed, assigned to LunNova

[2013-04-13 15:54] MrScopi opened #294 "TT 1283 (&1274): Chunk resetting after using Portal"
I've got a small world where I am running between a quarry and an ore processing room using Portals.  The portals are not in the chunks of either of the two destinations.

The ore processing room has Redpower blutricity machines, basic IC2 machines, and a barrel.  What I do is this:
- Set ores to macerate and drop off cobble in the barrel
- Run to portal
- Grab more cobble from quarry
- Run throug

[2013-04-13 16:38] alicheek commented on #291
ok im just installing the new one now

[2013-04-13 16:43] joey19982 commented on #253
This appears to be fixed as of the latest build, but my server has only been up for a few minutes. I'll close it after a little while if it doesn't happen again.

[2013-04-13 16:56] alicheek commented on #291
@nallar

seems to be better staying around 2000 with 45 peeps on :)  One question i got though if we look at the /tps
2013-04-13 12:39:44 [INFO]             World |    TPS | Entities | Tiles | Chunks |     Load
2013-04-13 12:39:44 [INFO]         Nether/-1 | 20.000 |      45 |    62 |    101 |  18.712%
2013-04-13 12:39:44 [INFO]       Overworld/0 | 20.000 |     2086 | 13212 |   2429 |  95.606%
2013

[2013-04-13 17:18] LunNova commented on #294
Does this still happen in 1284?

[2013-04-13 17:20] LunNova commented on #291
Because loads add together for overall. How many cores do you have?

From this point, use `/ticks` and `/profile usage` to find what's slow. Closing this issue as the spawning issue is fixed.

[2013-04-13 17:20] #291 closed, assigned to LunNova

[2013-04-13 17:21] #287 closed, assigned to LunNova

[2013-04-13 17:21] LunNova commented on #289
Is this still happening after https://github.com/nallar/TickThreading/commit/1bd5c18e096c16b96f09a93b51ddd5a725c64efb?

[2013-04-13 17:22] alicheek commented on #291
@nallar

Im with creeperhost an im meant to have 5 cores noticed my cpu isnt hitting over 300% on the putty comannd window though

[2013-04-13 17:36] MrScopi commented on #294
Yes it does.  It also appeared to skip around.

Using barrel amt as one test, I started at 54 stacks, filled it.  Portaled, came back, at 54.  Added five for 59, portaled.  Came back to 64.

Machines (macerator and blulectric furnace) seem to follow the same trend, rolling back in concert with barrel.

[2013-04-13 17:44] LunNova commented on #294
Okay, managed to reproduce this bug locally, should have it fixed soon.

[2013-04-13 17:46] HaoSs07 opened #295 "server sill does not save properly"
04-13 20:42:46 [WARNING] [TickThreading] Save queue overloaded in Overworld/0 consider decreasing saveInterval. Only saved 256 out of 3086 (WOOOT ?)

save interval is set to 6000 ticks  (( 5 minutes )) but only saves 256 on each run,the interval seems to be irrelevant... player still lose placed items, as chunks are reloaded but are not saved...

[2013-04-13 17:48] LunNova commented on #295
6000 is far too high. However, the reloading but not saved issue is something different - saveInterval is irrelevant for that issue. Probably best not to use TT until that's fixed :p

Closing as duplicate of #294

[2013-04-13 17:48] #295 closed, assigned to LunNova

[2013-04-13 17:54] HaoSs07 commented on #294
nallar what is a normal save interval for that high number of chunks i have ?

[2013-04-13 17:55] LunNova commented on #294
Probably between 400 and 1000. Fixing your save interval will not fix this issue.

[2013-04-13 17:56] Nohau opened #296 "TT 1278 & 1306 - Deadlock - Server Crash"
Crash Located :

https://gist.github.com/Nohau/5379384

--- Snippet --

04-13 12:39:40 [SEVERE] [ForgeModLoader] Caught exception from PortalGun
java.lang.NullPointerException
        at portalgun.common.core.TickHandlerServer.saveData(TickHandlerServer.java:730)
        at portalgun.common.PortalGun.serverStopping(PortalGun.java:212)
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native

[2013-04-13 18:01] HaoSs07 commented on #294
ok; I will wait for you to work your magic :D :+1:

[2013-04-13 18:02] LunNova commented on #294
@MrScopi Nice observation! It is fluctuating, because what happens is the chunk loads the way it was saved the time before it last saved. Not sure why yet :P

[2013-04-13 18:32] alicheek opened #297 "[TT #1283] [1.4.7 MCPC+ L11] [SEVERE] [TickThreading] Exception ticking world Nether/-1 java.util.ConcurrentModificationException"
@nallar

This is what i got when i tried the customised startup.sh no idea whats causin it server seems to be running though.

04-13 17:26:51 [SEVERE] [TickThreading] Exception ticking world Nether/-1
java.util.ConcurrentModificationException
    at org.bukkit.craftbukkit.v1_4_R1.util.LongObjectHashMap$ValueIterator.next(LongObjectHashMap.java:304)
    at org.bukkit.craftbukkit.v1_4_R1.util.LongOb

[2013-04-13 18:52] #253 closed, assigned to LunNova

[2013-04-13 19:17] alicheek commented on #297
@nallar

still getting streams of this error up to 12mbs in the forgemodloader log lol

[2013-04-13 19:18] LunNova commented on #297
This is actually caused by the fix for spawning, Spigot's spawning isn't threadsafe. I'll fix it after chunk saving is fixed.

[2013-04-13 19:19] alicheek commented on #297
ah ok cheers :)

[2013-04-13 19:26] #294 closed, assigned to LunNova

[2013-04-13 19:29] #292 closed, assigned to LunNova

[2013-04-13 19:37] MrScopi commented on #294
FYI that fixed it, and man is it spammy.  The rastering quarry movement isn't helping one bit. :)

Thank you!

[2013-04-13 19:38] LunNova commented on #294
bed1da2fc52085

[2013-04-13 21:30] geoffcorey commented on #271
Yeah I had to remove TickThreading this morning.  The disappearing item problem seem to be worst then before.

[2013-04-13 21:39] alicheek opened #298 "[TT #1286] [1.4.7 mcpc+ L11] When area unloads UI with Forestry items dont work"
Dont have any error logs for it  but weird thing is if you place the forestry items freshly down they will work if you interact with them, but if you right click after letting them unload then come back to them they do not respond when you right click them.

[2013-04-13 21:43] HaoSs07 opened #299 "Quarry stop running after server reboot"
As the save chunk bug seems to be finally resolved, I have a older bug with quarry , they stop working after reboot, they need to be broke and placed again,
 usually after reboot they check the frame integrity ; rebuild if necessary ,and mine again. but now they don't, also the black and yellow frame appears and stay there even if the exterior frame is intact.

[2013-04-13 22:09] Puremin0rez commented on #299
I can also vouch for this issue - it appears to be new and sprouted from the new chunk save fixes

[2013-04-13 22:10] Puremin0rez commented on #298
I can vouch for this issue, although it doesn't happen all the time for me.

[2013-04-13 22:29] Puremin0rez commented on #288
@nallar

Same issue, something changed in TT recently that's causing this

[2013-04-13 22:30] HaoSs07 commented on #274
seems it got fixed, no longer appears

[2013-04-13 22:30] #274 closed, assigned to LunNova

[2013-04-13 22:31] #254 closed, assigned to LunNova

[2013-04-13 23:07] Nohau commented on #299
Just a suggestion if your running mcpc+ i found adding the user [[BuildCraft]] to the ops fixed that problem .

[2013-04-13 23:08] LunNova commented on #299
Run /dump <x, y, z> on the stuck quarry and paste the results, if @Nohau's fix doesn't help.

[2013-04-13 23:50] LunNova commented on #288
If you have the time, could you pinpoint exactly which build causes this? Finding what causes client issues is a huge pain :(

[2013-04-13 23:53] xfloh22 commented on #271
is it just me or this is an error only when chickenchunks is installed? codechicken is in the error and when i removed it i stopped getting it...

[2013-04-13 23:55] #297 closed, assigned to LunNova

[2013-04-13 23:55] HaoSs07 commented on #299
i dont use mcpc

![2013-04-14_02 50 47](https://f.cloud.github.com/assets/3189195/377284/859086ae-a495-11e2-82c3-10d9658f3401.png)
![2013-04-14_02 51 11](https://f.cloud.github.com/assets/3189195/377285/894a5928-a495-11e2-8373-b56c98cbc609.png)
![2013-04-14_02 51 14](https://f.cloud.github.com/assets/3189195/377286/908f7ee8-a495-11e2-91c8-69842a74e310.png)

[2013-04-14 00:09] Puremin0rez commented on #288
@nallar

Honestly don't have the time to pinpoint exact build but i am fairly certain it started on THIS commit or sometime close afterwards.

https://github.com/nallar/TickThreading/commit/26e33578b5ab1c36ab8e705da278bf91a31fbdb6

[2013-04-14 01:56] LunNova commented on #298
Does it still happen after 50658faa8f4bf19a? What is loadChunkOnProvideRequest set to?

[2013-04-14 02:04] #228 closed, assigned to LunNova

[2013-04-14 02:10] #271 closed, assigned to LunNova

[2013-04-14 02:10] LunNova commented on #271
The not saving issue was probably #294 which is now also fixed.

[2013-04-14 02:13] LunNova commented on #298
Another possible cause fixed in b4eee944ed9e11bc3d.

[2013-04-14 02:13] alicheek commented on #298
It was set to false , ill try the new build now

[2013-04-14 02:16] LunNova commented on #296
That's portal gun failing to save after the server crashed, please give the full log. The deadlock detector report is cut off at the top, so I can't see what crashed it.

[2013-04-14 03:23] alicheek commented on #298
@nallar

Its weird i went to one place and they worked, then i went back to the place when a player first got crashed and i right clicked those ones and i crashed , so i removed them and replaced them and then they worked now i dont know how long they will work for so ill let you know with some further testing

[2013-04-14 03:39] alicheek commented on #289
@nallar

Still does it but no where near as quickly so song will play for about 10 seconds then it will restart the song, this is just with me bein there staying next to it with no one else , should be doing the whole song unless i have gone and some other player comes in its area it would restart.

[2013-04-14 03:52] alicheek commented on #289
@nallar

Strange it seems to be actually the redpower wire  that is causing the issue, when i use redstone to connect it up it doesnt randomly restart now , might be something wrong with the way the redpower signals are being read.

[2013-04-14 04:00] alicheek opened #300 "[TT #1291] [1.4.7 mcpc+ L11] Essentials Plugin protection Not working."
Found an issue with Essentials with TT , once TT is installed none of the prevention modifications like lava fire spread dont seem to function any more.

[2013-04-14 04:10] #286 closed, assigned to LunNova

[2013-04-14 04:15] #273 closed, assigned to LunNova

[2013-04-14 04:20] alicheek commented on #276
We some times still get issues with this seems the way its handled is very different from without TT for instance if the server is getting loaded when some one tps to say spawn, the area that they were at will slowly unload and then slowly fall in the void, untill it loads them to the place they have teleported.

Another issue ive noticed is sometimes when the player tps they are submerged  in the

[2013-04-14 04:46] Nohau commented on #296
How does this look : https://gist.github.com/Nohau/5381493

[2013-04-14 08:26] Puremin0rez commented on #298
@nallar

Using #1291 and issue still appears to happen

[2013-04-14 08:33] Puremin0rez commented on #298
Scratch that, it only happened once and it was fine afterwards. Strange issue >_>

[2013-04-14 10:54] Kusinagie commented on #283
okay i got visualvm installed but im not sure how to use it :p
I figured out how to view the server and i see the profiling tab but there are options there so what should i do from there?

[2013-04-14 11:00] LunNova commented on #283
Use the sampling tab, start it sampling for a few minutes, stop it, click the snapshot button, save the snapshot and post it here.

[2013-04-14 11:18] Puremin0rez commented on #115
@nallar

Does this mean yes?

[2013-04-14 11:19] GUIpsp commented on #115
@Puremin0rez Still tagged as wontfix

[2013-04-14 11:22] #115 closed, assigned to LunNova

[2013-04-14 11:27] LunNova commented on #115
And, of course, github's markdown doesn't allow the `bitcoin:` protocol.

[2013-04-14 11:29] LunNova commented on #269
Fixed, see #294.

[2013-04-14 11:29] #269 closed, assigned to LunNova

[2013-04-14 11:30] LunNova commented on #89
Closing, no longer any plans to have client support. Not much benefit for a client, as most time is spent rendering.

[2013-04-14 11:30] #89 closed, assigned to LunNova

[2013-04-14 11:31] #158 closed, assigned to LunNova

[2013-04-14 11:33] LunNova commented on #156
Fixed via b876062bccf982b0911929eb.

[2013-04-14 11:33] #156 closed, assigned to LunNova

[2013-04-14 11:33] Kusinagie commented on #283
Okay I'm doing cpu now. I will give it a few minutes. You want me to do memory as well?

[2013-04-14 11:33] LunNova commented on #283
Just CPU sampling is fine.

[2013-04-14 11:47] #163 closed, assigned to LunNova

[2013-04-14 11:47] LunNova commented on #163
Sorry about the very late fix :(

[2013-04-14 11:54] LunNova commented on #160
This was fixed a while back, forgot to close it.

[2013-04-14 11:54] #160 closed, assigned to LunNova

[2013-04-14 11:55] LunNova commented on #159
Also fixed, also forgot to close the issue.

[2013-04-14 11:55] #159 closed, assigned to LunNova

[2013-04-14 12:08] HaoSs07 opened #301 "Deadlock after 10 minutes, server load 1000% +"
https://gist.github.com/HaoSs07/5382472

Also i still get Save queue overloaded in Overworld/0 consider decreasing saveInterval., and the save is set for 260, do i need to go any lower ?

[2013-04-14 12:11] #172 closed, assigned to LunNova

[2013-04-14 12:12] Kusinagie commented on #283
Okay i think i did this right.
https://www.dropbox.com/s/904jxxx8kr9tvpv/1365940605057.nps
Let me know what else i can do for ya.

[2013-04-14 12:22] HaoSs07 commented on #301
P.S. ur last 3 jenkins build have faild

[2013-04-14 12:31] Kusinagie opened #302 "Build #1291-kicked from server and can't rejoin"
I was setting up to do that profile snapshot for you. breaking the chunkloader, leaving the dimension till it unloads then returning seems to be the trick in getting all the pumps to drop down till they hit lava, then the load jumps up in that 200 area. then placing the chunkloader again i was kicked from the server and couldn't join till i restarted the server.
Here's the server log: https://gist

[2013-04-14 13:19] LunNova commented on #301
Can you get the error again on latest?

[2013-04-14 13:29] HaoSs07 commented on #301
https://gist.github.com/HaoSs07/5382740 happen under 1 minute after start

[2013-04-14 13:30] LunNova commented on #283
Looks like buildcraft pumps can't handle infinite lava like this correctly.

[2013-04-14 13:39] LunNova commented on #301
Latest again?

[2013-04-14 13:41] HaoSs07 commented on #301
testing, u sure have a lot of work nallar, i hope one day you can get it super stable and enjoy a week with no issues

[2013-04-14 13:49] HaoSs07 commented on #301
seems something else broke / https://gist.github.com/HaoSs07/5382796 , stopped just after start, made 500 kb log in seconds

[2013-04-14 14:05] LunNova commented on #301
Now?

[2013-04-14 14:12] HaoSs07 commented on #301
already on it, it started, will test 1 hour, if it deadlocks again i will come with replay, if not i will close the issue; thx for the help.

[2013-04-14 14:14] alicheek commented on #301
even in that last build it was working fine for me dont know why your having an issue :S

[2013-04-14 14:17] HaoSs07 commented on #301
with that big number of mods its a lot of possibility for something to go wrong for me and not for others, i also don't have a lot of issues posted by other :)

[2013-04-14 14:18] alicheek commented on #301
Ah fair does man :) im using FTB Ultimate

[2013-04-14 14:45] HaoSs07 commented on #301
@nallar

its starts from 8 % load; and goes up to 3000 % then this happen https://gist.github.com/HaoSs07/5382986

[2013-04-14 14:46] alicheek commented on #301
Using Mcpc+ L13 by any chance?

[2013-04-14 14:47] HaoSs07 commented on #301
nop; vanilla

[2013-04-14 15:22] alicheek commented on #301
ever thought about using mcpc much more efficient  and can use bukkit plugins http://ci.md-5.net/job/MCPC-Plus-Legacy/

[2013-04-14 15:32] xfloh22 commented on #301
this error is so old, ive been having this for over a month now and have even posted it here... i really hate chickenchunks and xycrap, the 2 mods that allways cause errors

[2013-04-14 15:33] HaoSs07 commented on #301
no, not really, my settup is hardly compatible with MCPC ,and don't want any bukkit plugins

xfloh did you manage to fix it ? i get it just after 10 minutes of server on.

[2013-04-14 15:35] alicheek commented on #301
How is it not compatible? Thats the whole point of mcpc is to merge bukkit and forge again and it works great also has systems to optimise load my server runs well with 60 people on it and im still only a VPS

[2013-04-14 15:37] xfloh22 commented on #301
i have never really found a way to fix it since every time i try to remove chickenchunks my server doesnt even start up. sometimes i get lucky and it runs 30minutes but after that it just goes to hell.

[2013-04-14 15:43] HaoSs07 commented on #301
chickenchunk i can remove, core is the problem.

[2013-04-14 15:43] alicheek commented on #301
Core doesnt seem to give me an issue have you changed anything in its config?

[2013-04-14 15:44] HaoSs07 commented on #301
problem if removed :p not in game; is not a mod by itself

[2013-04-14 15:45] xfloh22 commented on #301
really? every time i try the console gives me this error even without TT:

http://pastebin.com/gM0dCfT8

[2013-04-14 15:48] LunNova commented on #301
@HaoSs07 Looks like this is the issue with spammy TickNextTickList updates again. Testing a possible fix + some debugging stuff, will push soon if it works.

[2013-04-14 15:49] LunNova commented on #301
@xfloh22 Rename/delete the world's forcedchunks.dat

[2013-04-14 15:50] xfloh22 commented on #301
ur amazing nallar :D thanks

[2013-04-14 15:54] xfloh22 commented on #301
still get this error: http://pastebin.com/fVQAi7Rf

oh ok, will try Haos' fix now

[2013-04-14 15:54] HaoSs07 commented on #301
yah, remove chickenchunk from mods and patched mods, delete the forcedchunks, reboot, you will probably get a error, reboot again, and it sould work

[2013-04-14 15:55] LunNova commented on #301
@HaoSs07 Can you try latest again? Probably a spammy log, hopefully no crashing. Report the log spam if there is any.

[2013-04-14 15:58] HaoSs07 commented on #301
sure thing; on it

[2013-04-14 16:00] xfloh22 commented on #301
it keeps creating a new forcedchucks.dat even when chickenchunks is removed

[2013-04-14 16:01] HaoSs07 commented on #301
hmm; you removed from mods and patched mods too right ? try a tt repatch after,

[2013-04-14 16:02] LunNova commented on #301
It should create a new one. If that error still happens, check you didn't leave an old forcedchunks.dat in another world.

[2013-04-14 16:05] xfloh22 commented on #301
well i ran a script over it and i had the file 10 times... not sure where but they are gone now :p

worked :D you guys are awesome!

[2013-04-14 16:27] xfloh22 commented on #246
has this bug been fixed with the other chunk saving fixes?

[2013-04-14 16:28] LunNova commented on #246
I also recently fixed some AE issues which may be related. Might be fixed, not sure.

[2013-04-14 16:29] xfloh22 commented on #246
k il test it in a sec

[2013-04-14 16:30] LunNova commented on #279
Sure this isn't an MCPC+ issue? There've been some issues related to water flow in MCPC+.

[2013-04-14 16:59] HaoSs07 commented on #301
in every folder called dim_Number is one, that includes world,twilighy,end,mystcraft ages, etc

so far so good nallar, no errors, will test a little more,

[2013-04-14 17:38] HaoSs07 commented on #301
seems to be ok, hers some of the spammy log https://gist.github.com/HaoSs07/5383537

[2013-04-14 17:41] HaoSs07 commented on #301
as a side note, this fix seems to brake applied energetics storage, im losing disk data often

[2013-04-14 18:13] HaoSs07 commented on #246
was working for 3 days with no problems,but now after the deadlock bug fix, i lost 3 times data from disk in under 1  hour , don't know if its really related or i just have bad luck, xfloh can you test this with last build ?

[2013-04-14 18:15] xfloh22 commented on #301
can config extremely spammy log. one of those errors every tick.

nvm, seems to only happen when i generate new chunks...

[2013-04-14 18:18] HaoSs07 commented on #301
the spammy was added by nallar for some debug , im sure will be removed in the next build

[2013-04-14 18:22] xfloh22 commented on #301
ik, just saying i got it as well :)

[2013-04-14 18:26] xfloh22 commented on #246
testing it atm with completely new versíon of everything. fresh map as well, tell you how it goes

[2013-04-14 18:54] xfloh22 commented on #246
odd, i havent had any problems with dissapearing items yet. i let the chunks unload for about 15 minutes and then came back. i also logged out and back in and the items were still there

[2013-04-14 19:01] dadealus commented on #279
Sorry I confirmed this was still happening with out TT but forgot to close this ticket closing it now

[2013-04-14 19:01] #279 closed, assigned to LunNova

[2013-04-14 19:01] HaoSs07 commented on #246
get a query and a ender chest and fill some disks

[2013-04-14 19:35] kenneaal commented on #299
This also happens under MCPC+ without TickThreading and with [BuildCraft] in ops.txt.

[2013-04-14 19:38] alicheek commented on #299
It only happens if i have TT installed

[2013-04-14 19:54] HaoSs07 commented on #299
from player reports, if the quarry is connected to a tessaract it will stop, if its connected to engines  directly will continue to work after restart, can someone test this ?

[2013-04-14 19:56] HaoSs07 commented on #246
will update and test

[2013-04-14 21:26] MrScopi opened #303 "TT 1301 (and 1283): getChunkAt returns chunks during/before population"
I'm currently generating and exploring Mystcraft ages and noticed a repeating problem.  While exploring for Libraries, I'll usually find what appears to be a partial library.  Trying to move to where the Library should be (i.e. through the walls) results in getting "stuck" and kicked backwards.  Disconnecting and reconnecting will show the full library, usually where I was getting stuck.

I have s

[2013-04-14 21:29] Puremin0rez commented on #303
@nallar @MrScopi

I can't believe I never reported this.

I am having this problem in the Overworld too.

I'm using MCPC+ with TT 1291 but the problem has been happening since I got back into FTB.

Chunks when generating are "stripped" and relogging will fix the issue until new chunks are once again generated.

[2013-04-14 21:50] Nohau opened #304 "TT#1306 GregTech - IDSU keeps reseting"
I noticed since installing the mod our IDSU's (Interdimensional Energy Storage Unit) keep randomly going back to 0 eu and not holding it's charge as well it appears it also resets to 0 on server restart.

![2013-04-14_16 48 47](https://f.cloud.github.com/assets/4019875/378620/3c16d006-a54d-11e2-9a54-184b8b061b2b.png)
![2013-04-14_16 48 58](https://f.cloud.github.com/assets/4019875/378621/3db05b94-

[2013-04-14 21:54] Nohau commented on #304
Like to add that this is not new it was doing it on 1278 as well but just now started to get to the point to verify it was doing this and not me going crazy :)

[2013-04-14 21:58] Nohau commented on #299
Running FTB Ultimate using TT# 1306 in a MystCraft world on server restart using energy  tessarcts and ender chest works fine for me but this was first install of 1306 if we do a restart i will update this if outcome is different.

[2013-04-14 22:43] Nohau commented on #296
Crash with 1306

https://gist.github.com/Nohau/5384541

[2013-04-14 22:48] #296 closed, assigned to LunNova

[2013-04-14 23:06] swarmski commented on #278
Hi Clienthax

I created the Plugins folder in the Mods folder, however upon server start dynmap does not load.

Any ideas?

[2013-04-15 00:16] clienthax commented on #278
make a plugins folder in the SAME folder as your mods folder

[2013-04-15 00:30] LunNova commented on #278
(the server directory, the folder which the mods folder is in, the direfctory containing your server jar, etc. :P)

[2013-04-15 03:15] geoffcorey opened #305 "Empty XyCraft tanks on reload, java.lang.NullPointerException at codechicken.chunkloader.TileChunkLoaderBase.g(TileChunkLoaderBase.java:147)"
Loaded up 1308 and all the xycraft tanks became empty.  Also get a whole lot of these errors in the TickThreading logs.

04-14 22:02:04 [SEVERE] [TickThreading] TickThreading v1.0.0.1308 for MC1.4.7 on 1.4.7 tickthreading,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThre

[2013-04-15 03:23] geoffcorey commented on #305
Follow up on this xycraft bug.   If I use a linking book to go to another world and then come back my xycraft tank is empty.  When i rehook up the liquidduct (no longer attached after I leave for another world) it becomes a xycraft tank again but the contents are lost

[2013-04-15 03:26] geoffcorey commented on #305
14.04 22:27:12 [Server] INFO Sending serverside check to: dtherrien
14.04 22:27:12 [Server] INFO [dtherrien: De-opped dtherrien]
14.04 22:23:47 [Server] INFO Loading chunk 309237645254: 71,-58 while saving is in progress.
14.04 22:22:40 [Server] INFO ... 8 more
14.04 22:22:40 [Server] INFO at aev.a(SourceFile:33)
14.04 22:22:40 [Server] INFO at afc.b(SourceFile:66)
14.04 22:22:40 [Server] INFO at

[2013-04-15 03:36] geoffcorey commented on #305
Followup testing on this.   When I logged off and logged back in the tank was no longer a tank until I hooked it back up to liquiducts and it lost all the contents.  I checked with lasers from the chunk loader and it was missing the corner of the xycraft tank.   I increased the range on the chunk loader and logged off and logged back it and remained a tank with contents still there.

I'm guess tha

[2013-04-15 03:41] alicheek opened #306 "[TT #1308] [1.4.7 mcpc+ L15] Mass amounts of entities in Twilight"
@nallar

I think this pictue will explain it lol :package:
![2013-04-15_04 35 36](https://f.cloud.github.com/assets/3965516/379058/511f6356-a57e-11e2-8e25-42361e40afdd.png)

[2013-04-15 04:45] geoffcorey commented on #305
One good news on the update?  My mining age is no longer unstable! :-)

[2013-04-15 08:35] Puremin0rez opened #307 "Build #1308 - SecretRooms mod crash"
Started happening recently

http://pastebin.com/gpVWchX3

Happens immediately after server start - requires a few reboots until it doesn't come up and kill the server.

[2013-04-15 15:31] xfloh22 commented on #246
items just dissapeared in chunk that gets unloaded. items stayed in the one that was allways loaded

[2013-04-15 15:33] alicheek opened #308 "[TT #1308] [1.4.7 mcpc+ L15] [WARNING] [Towny] Task #25212 for Towny v0.82.1.0 generated an exception java.util.ConcurrentModificationException"
Never got this before with out  TT so im guessing its a problem with that

[WARNING] [Towny] Task #25212 for Towny v0.82.1.0 generated an exception
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
        at java.util.ArrayList$Itr.next(ArrayList.java:791)
        at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getLivingEntities(C

[2013-04-15 15:33] alicheek commented on #246
I think thats meant to happen if u have cleanup on or what ever that config option is on TT

[2013-04-15 15:54] LunNova commented on #298
Not happened on any newly replaced items since that fix?

[2013-04-15 15:59] xfloh22 commented on #246
first of all i have that off and second that would be a terrible feature.. im not sure it is meant to erase AE data...

[2013-04-15 16:01] LunNova commented on #246
Cleanup is to reduce the memory leaked if a mod holds onto world objects.

[2013-04-15 16:07] geoffcorey commented on #305
Checking Xycraft issue log now that I found it I see it has numerous issues. Including https://bitbucket.org/Soaryn/xycraft/issue/231/xycraft-tank-deletes-liquid-level

[2013-04-15 16:35] #308 closed, assigned to LunNova

[2013-04-15 16:53] LunNova commented on #307
This is a known SecretRooms mod issue, it normally just causes a chunk reset. I'll change it so any tile entities which fail to validate on chunk load are deleted, instead of crashing the server.

[2013-04-15 16:53] #307 closed, assigned to LunNova

[2013-04-15 17:10] Nohau opened #309 "TT#1311 - Exception in Server Main Loop"
We also have the secret room crash but this is now coming up . Not sure if it was intended or not so rather be safe then sorry  since it was a new build..

https://gist.github.com/Nohau/5389653

Thanks

[2013-04-15 17:31] #309 closed, assigned to LunNova

[2013-04-15 17:53] xfloh22 commented on #246
well yes but having cleanup erase AE data is a terrible feature

[2013-04-15 17:54] LunNova commented on #246
I never said it did, and it doesn't. Something else is causing this. Intentionally erasing AE data would be stupid :P

[2013-04-15 18:04] Nohau commented on #299
Using TT # 1312 with this type of setup energy tessaract directly on the quarry then a pipe to the ender chest still no issue serveral restarts since. Utilizing FTB Ultimate

[2013-04-15 18:20] Nohau commented on #299
Scratch that first restart of 1312 we now see this problem

[2013-04-15 18:25] Nohau opened #310 "TT#1312 Everyone Moves wrongly and rubber bands .."
Don't see any error happening but wow if your a user running it is horrid..

:

1:21:53 PM
 CONSOLE:
[WARNING] Admin notify: AdeClark moved wrongly!
1:21:55 PM
 CONSOLE:
[WARNING] Admin notify: AdeClark moved wrongly!
1:21:57 PM
 CONSOLE:
[WARNING] Admin notify: AdeClark moved wrongly!
1:21:57 PM
 CONSOLE:
[WARNING] Admin notify: AdeClark moved wrongly!
1:21:59 PM
 CONSOLE:
[WARNING] Admin notify:

[2013-04-15 18:30] alicheek commented on #310
Yea this only happens if u wear boots that make u faster or if you sprint , walk normal speed and its fine

[2013-04-15 18:30] Nohau commented on #310
This was not happening prior to 1312 like I mean EVERYONE even new users joining in for first ....

[2013-04-15 18:31] alicheek commented on #310
@nallar

its something to do with the new player entity movement thing you fixed i think

https://github.com/nallar/TickThreading/commit/f28432fa37fe1fb051008bcb9c2e7d31cf51feb4

[2013-04-15 18:33] alicheek commented on #310
yea its to do if you go over the normal run speed .

[2013-04-15 18:33] Nohau commented on #310
![2013-04-15_13 29 42](https://f.cloud.github.com/assets/4019875/382510/d2b5566a-a5fa-11e2-8f3f-d1e7d5968edf.png)

This also started to give me the quarry bug finally where on server restart quarry doesn't work

[2013-04-15 18:39] Nohau commented on #310
Yea the random move wrongly I seen in the past was ok and understood what was going on but this is for almost everything at this point people on jetpacks or traveler boots all doing move wrongly's unlike prior and also the users are experiencing rubber band effects where they are brought back to a prior position. I am about to disable admin notify so it stops spamming me in game lol

[2013-04-15 18:43] Nohau commented on #310
Verified it is happening to users not having extra abilities .. I am wearing plain old nano armor no enchants and i just started rubber banding back in forth to my old position while walking not even sprinting.

1:40:41 PM
 CONSOLE:
[WARNING] Admin notify: Nohau moved wrongly!
1:40:41 PM
 CONSOLE:
[WARNING] Admin notify: Nohau moved wrongly!
1:40:43 PM
 CONSOLE:
[WARNING] Admin notify: Nohau moved

[2013-04-15 18:55] alicheek commented on #310
if you go in creative mode it never happens though

[2013-04-15 18:59] Nohau commented on #310
Verified Creative mode it doesn't happen but running FTB Ultimate - in PVP mode so i can't just give every user creative lol

[2013-04-15 19:00] alicheek commented on #310
Yea i know man im running the same , was the build before working fine?

[2013-04-15 19:02] alicheek opened #311 "[TT #1312] [1.4.7 mcpc+ L15] [WARNING] [ClearLag] Task #14 for ClearLag v2.1.1 generated an exception java.util.ConcurrentModificationException"
New bug only started on this build of TT

[WARNING] [ClearLag] Task #14 for ClearLag v2.1.1 generated an exception
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getEntities(CraftWorld.java:624)
    at me.minebuilders.clearlag

[2013-04-15 19:09] Nohau commented on #310
Build 311 was working fine for me  i did double patch my binaries though on accident i wonder if that started the quarry issue though.

I just had this issue which could have been more cosmetic not sure :

https://github.com/nallar/TickThreading/issues/309

[2013-04-15 19:13] alicheek commented on #310
build 1314 hasnt fixed the issue it has fixed the clag issue though

[2013-04-15 20:07] Puremin0rez commented on #298
@nallar

Nope, I haven't had it happen here since the fix.

[2013-04-15 20:07] alicheek commented on #298
Yea seems to be fine now

[2013-04-15 20:08] #298 closed, assigned to LunNova

[2013-04-15 20:10] #310 closed, assigned to LunNova

[2013-04-15 20:19] Puremin0rez opened #312 "Build #1308 - EnderStorage errors?"
I've been getting this for a few builds now, shows up quite often but doesn't cause any harm as far as I can tell

http://pastebin.com/BmdKSRYa

[2013-04-15 20:24] Nohau commented on #299
Build 1315 fixed my issue.and purposely restarted server after upgrade to verify.

[2013-04-15 20:39] Puremin0rez commented on #312
@nallar

Here's some more from EnderStorage that appears to be different

http://pastebin.com/GKd642Fy

[2013-04-15 20:48] Puremin0rez opened #313 "Build #1308 - Xycraft problems in Twilight Forest"
http://pastebin.com/f6mJXX8W

[2013-04-15 20:56] Nohau commented on #304
Also to note we have multiple IDSU's all linked to the same person and we are using chunkloaders to keep them loaded just in case that was the issue and still we get the problem.

[2013-04-15 22:03] wormzjl opened #314 "[Build #1315, MCPC+ L15] Servercrash blocked on java.util.concurrent.LinkedBlockingQueue, and some errors"
First of all a server crash with deadlock
http://pastebin.com/KrPTcfwu

And two errors related to AE, the bugged blocks are no longer functional.

04-15 23:49:06 [Grave] [TickThreading] Exception during tile entity tick
ticking: c appeng.me.tile.TileLevelEmitter appeng.me.tile.TileLevelEmitter@49b74c71 x,y,z: -382, 63, -786 at x,y,z:-382,63,-786
Tick region: rX: -23, rZ: -49, hashCode: -3211287:
j

[2013-04-15 22:17] swarmski commented on #278
Okay understand thanks.

Just FYI 1.5 dynmap is working fine

[2013-04-16 01:05] ghost commented on #303
I've also experienced this issue on nearly every world I touch, seen it on multiple servers. Could be flying or walking, exploring is extremely difficult as you often run into invisible trees and stuff. If server TPS is aiming for 20, /tps will show 20 tps, if it's aiming for 15, it'll show 15 tps. These screenshots are from a 20 tps server.

It can take up to 10mins for the map to literally rearr

[2013-04-16 01:10] alicheek commented on #303
This is a Xycraft problem as soon as i removed it i had no world loading issues

[2013-04-16 01:17] MrScopi commented on #303
I'm running a version of ftb lite that does not include xycraft, so for me
that probably isn't a problem. But the mods I've added, like mystcraft,
came from the ftb ultimate server files.
On Apr 15, 2013 8:10 PM, "Alistair" notifications@github.com wrote:

[2013-04-16 01:48] ghost commented on #303
@alicheek
I had tried removing Xycraft before, this again, didn't change a thing.

[2013-04-16 01:49] alicheek commented on #303
hmm i also do have mystcraft removed maybe that has something to do with it , might be something to do with myscraft not working with TT then sorry guys thought it was xycraft that was the issue :)

[2013-04-16 01:52] MrScopi commented on #303
No problem this is troubleshooting.
On Apr 15, 2013 8:49 PM, "Alistair" notifications@github.com wrote:

[2013-04-16 02:15] Nohau opened #315 "TT 1315 Server Crash"
Here is the Forge Log

https://gist.github.com/Nohau/5392818

Another Crash TT Log and Forge Log :

https://gist.github.com/Nohau/5392877

[2013-04-16 02:20] Nohau commented on #315
Might be related to https://github.com/nallar/TickThreading/issues/314

[2013-04-16 02:21] Nohau commented on #315
It crashed so many times within a 5 minute period there was no way for me to grab all the proper logs :|

[2013-04-16 02:26] ghost commented on #303
Just a note: FTB - Mindcrack doesn't have Mystcraft bundled with it.

[2013-04-16 03:02] MrScopi commented on #303
I'm running FTB Lite with the following added from Ultimate:
BiblioCraft
EnderStorage
ExtraBees
ExtraBiomes
Factorization
Mystcraft
ThaumicBees
TwilightForest

[2013-04-16 03:33] Puremin0rez commented on #303
This appears to stem directly from TT

I ran a 100% vanilla forge server and did not have the issues in terrain gen, then added TT and the stripping issues began.

Hope @nallar can figure it out :)

[2013-04-16 04:07] donkeypanic commented on #264
i have had this problem, things disappearing in a perfect 16x16  certain things or everything, on dw and on ultimate,  with many players.  sometimes the chunk resets fresh, sometimes Every single thing goes missing sky to bedrock.  ive had this issue on multiple builds,  but all after xycraft updated.   tried banning valves to keep ppl from making xy tanks, suspecting them, but error persisted, er

[2013-04-16 04:36] dadealus commented on #264
Yes it is a known issue with mcpc+ and xycraft to reset a chunk. The latest build of mcpc+ supposedly fixes the xycraft related chunk reset. If everyone in this thread uses mcpc+ and xycraft and is referring to a bedrock to sky chunk reset  then it is most certainly not TT for that sort of data loss. But what we are talking about is the chunk not resetting and is reverting back. Sort of like the c

[2013-04-16 06:14] wormzjl commented on #314
Something to do with mystcraft?
http://pastebin.com/Yimxj2ZS

[2013-04-16 12:08] HaoSs07 commented on #246
still happens but more rare, so strange, i'm lucking at the driver and it jumps from 0 to 63 types, then back to 0

[2013-04-16 13:44] LunNova commented on #303
And now we know what was causing saplings to drop when they shouldn't. Thanks for the observation @Draylynn.

Chunks were being returned by getChunkAt during population in some cases, leading to this.

[2013-04-16 13:44] #312 closed, assigned to LunNova

[2013-04-16 15:33] HaoSs07 commented on #299
i still have it, tessaract with conduits linked to 2 quarry’s , they stop after reboot

[2013-04-16 16:01] LunNova commented on #315
According to that, it took too long to unload chunks. Did you change anything else, other than the TT build? Were you running a backup/something else disk heavy at the same time?

[2013-04-16 16:03] LunNova commented on #313
Does this stop happening if world unloading is disabled?

[2013-04-16 16:13] Nohau commented on #315
was this the 11:00 CDT  as there is a automated backup we do at 11 but there was a point of like 15 minutes all together where the server was crashing every 5 minutes .

This is the only change we had was the TT build and wait there was a mass pvp war at this time to i.e users searching for other users bases there was like 5/6 people searching for someones base in power armor in flight possibly cr

[2013-04-16 16:14] #306 closed, assigned to LunNova

[2013-04-16 16:16] Nohau commented on #315
Something to note backups are executed via McMyAdmin running under 64bit linux just in case that becomes a common thing

[2013-04-16 16:17] Kusinagie opened #316 "Build 1315-Error with buildcraft Quarry"
Hey Nallar i found this in my log a couple times, not sure what it did but it didn't seem to break game play or anything.
04-16 04:39:17 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c buildcraft.factory.TileQuarry buildcraft.factory.TileQuarry@5fc5dbc7 x,y,z: 29, 67, 265 at x,y,z:29,67,265
Tick region: rX: 1, rZ: 16, hashCode: 1048577:
java.lang.NullPointerException
    at b

[2013-04-16 16:24] Nohau commented on #299
Only thing I can think of that I might have done different was i reinstalled all of FTB Ultimate mods in this case then reran the patch against the server and mods.

But did this on 1312 and on the upgrade to 1315 .

[2013-04-16 17:25] alicheek opened #317 "[TT #1320] [1.4.7 mcpc+ L15] [WARNING] [ClearLag] Task #14 for ClearLag v2.1.1 generated an exception"
Dam got another one of these errors :)

2013-04-16 15:58:44 [WARNING] [ClearLag] Task #14 for ClearLag v2.1.1 generated an exception
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getEntities(CraftWorld.java:624)
    at me.min

[2013-04-16 17:27] LunNova commented on #317
No need to make a new isue, just reopen the old one. Closing as duplicate of #311.

[2013-04-16 17:27] #317 closed, assigned to LunNova

[2013-04-16 17:28] alicheek commented on #317
@nallar

Oh apologies though that one was closed ! :)

[2013-04-16 18:00] alicheek opened #318 "[TT #1318] [1.4.7 mcpc+ L15] [SEVERE] The server has stopped responding! Computer Craft TT issue"
Seems to be an issue with TT and CC

http://pastebin.com/U2tZKTjd

[2013-04-16 18:30] Nohau commented on #315
Here is another crash happened later on that night saveInterval was set to 200 at the time and the war was still going in game ..

https://gist.github.com/Nohau/5398319

[2013-04-16 18:38] LunNova commented on #315
That crash looks like #313

[2013-04-16 18:45] Nohau commented on #315
This might be something totally different as well another crash during the war on the server

https://gist.github.com/Nohau/5398451

One thing to note during all of this toward the end when 3 nukes where let off the server ran like a champ no crash's though lol !

[2013-04-16 19:19] HaoSs07 opened #319 "#1322 instant deadlock"
https://gist.github.com/HaoSs07/5398769

[2013-04-16 19:27] #319 closed, assigned to LunNova

[2013-04-16 19:28] LunNova commented on #319
It didn't actually deadlock, it just thought it had. Just as bad. Sorry! :(

[2013-04-16 19:41] HaoSs07 commented on #319
no problem; always happy to help you.

[2013-04-16 20:48] #311 closed, assigned to LunNova

[2013-04-16 20:54] LunNova commented on #318
Correct, at line #722. Also, why did you give the Spigot deadlock detector report? It's a pain to read :P

_nallar scurries away to make a patch to disable it_

[2013-04-16 20:57] alicheek commented on #318
lol sorry man just wanted to make sure i didnt leave any of it out :P

[2013-04-16 20:59] LunNova commented on #318
Are you sure you didn't leave anything out? TT should also have given a deadlock report, and it's not in your pastebin :s

I'll need the TT log, as Spigot doesn't log enough information.

[2013-04-16 21:00] alicheek commented on #318
ah from the TT logs?

[2013-04-16 21:01] LunNova commented on #318
Yes.

[2013-04-16 21:06] alicheek commented on #318
This bit sorry really nooby at this lol

Definitely deadlocked:
"Thread-5319" Id=7920 BLOCKED on dan200.computer.core.Computer@48da8c01 owned by "Entities in Overworld/0 - 4" Id=94
    at dan200.computer.core.Computer.queueLuaEvent(Computer.java:1064)
    -  blocked on dan200.computer.core.Computer@48da8c01
    at dan200.computer.core.Computer.access$300(Computer.java:31)
    at dan200.computer.co

[2013-04-16 22:04] Puremin0rez opened #320 "Build #1328 - Server has stopped responding!"
Happens shortly after boot, but server appears to be working fine?

http://pastebin.com/NY2Nmz7a

[2013-04-16 22:15] Puremin0rez commented on #320
@nallar

Still happening with the new fix :P

[2013-04-16 22:15] LunNova commented on #315
069548b34676cae52 fixes that stack overflow.

[2013-04-16 22:16] #320 closed, assigned to LunNova

[2013-04-16 22:18] LunNova commented on #318
That issue is a computercraft issue - update computercraft if you haven't already, if it still happens report it to dan200.

[2013-04-16 22:18] #318 closed, assigned to LunNova

[2013-04-16 22:20] LunNova commented on #315
Also, that last one shows that someone/thing ran /stop, it didn't crash.

[2013-04-16 22:31] Puremin0rez commented on #314
@nallar

Did this issue not manage to get fixed? I got crashed overnight with this same problem

[2013-04-16 23:38] LunNova commented on #314
The deadlock is fixed, the other issues are not.

[2013-04-16 23:53] LunNova commented on #301
Can you run `/ticks b` after updating to latest? Related to what caused this issue.

[2013-04-17 00:05] Puremin0rez opened #321 "Build #1332 - Memory Leak?"
I installed one of the recent versions and notice my ram just keeps going up and up and up and never going down, eventually it will die off with heap size failure.

Don't really have any more information then that...

[2013-04-17 00:10] LunNova commented on #321
Won't be able to investigate this until tomorrow, sorry :(
On 17 Apr 2013 01:05, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-17 00:14] Puremin0rez commented on #321
@nallar

Okay, I'm rolling back to #1315 (yesterdays build) which I'm pretty sure did not have the issue. I think something changed with chunks today that caused things to go wrong.

Problem is, i got a linked blocking error on that that's fixed on the new one - so I think I'm going to crash either way :(

[2013-04-17 00:18] LunNova commented on #321
If you can find the exact build number or commit in the next 6.5 hours I
can probably fix it in the morning before I leave for school.
On 17 Apr 2013 01:14, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-17 01:42] Puremin0rez commented on #321
@nallar

Additional Information

Still a problem on #1336

Does NOT appear to happen on #1315

I really want to say its the commit that did "Allow chunks to unload while world saving is disabled." or "Clean up ThreadedChunkProvider, don't return chunks before population"

Basically, i feel like the loading of chunks is being put into ram and never being "released" - The JVM Memory increases and ne

[2013-04-17 02:01] NachtRaben opened #322 "Mobs instantly Despawn"
So mobs are instantly despawning on my server. i can't really figure out why. there are no errors or anything. Mobs worked for the first 24 hours i was running build #1315
Mcpc+ legacy 15
mods: Dynmap forge 1.5, barrels, bibliocraft, buildcraft, chickenchunks, coFH core, Computercraft 1.5, Damage Indicators, DivineRPG 1.3.0.4, extrabeez, forestry, logisticspipes, iron chest, miscperipherals 3.1c,

[2013-04-17 02:59] Puremin0rez commented on #322
Same issue and I know exactly why :P

See how your in creative mode? For some reason, mobs refuse to spawn when you are in creative mode. Strange issue? Yes it is.

Try it yourself - grab some spawn eggs and spawn some while in creative mode, they will despawn instantly. Switch to survival, try again - they shouldn't despawn now.

Literally do not know why it does it, but I don't find it a huge de

[2013-04-17 03:03] Puremin0rez commented on #321
@nallar

I appear to have fixed it!

I'm about an hour and a half into a fresh boot with #1336 and seeing very very low (normal) ram usages - the JVM heap is actually decreasing properly now too.

How did I fix it? Well, somewhere along the lines my config file must have reset and turned "loadChunkOnProvideRequest" back on - Guess what? This option appears to cause memory leaking!

As soon as I tu

[2013-04-17 03:29] NachtRaben commented on #322
Sadly, Perfect answer. i went up later to build a quarry in that plains biome and got owned by several divinerpg king crabs xD i guess TT confuses bukkit into thinking a creative mode player isn't acctually a player and has the chunk stay in some sort of sleep mode? lol

[2013-04-17 03:29] #322 closed, assigned to LunNova

[2013-04-17 03:50] Puremin0rez commented on #303
@nallar

Just thought I'd let you know that it's still happening for me

[2013-04-17 07:38] Kusinagie opened #323 "Build 1336 RuntimeException: Already decorating"
Well there is a couple here.
Note: allow world unload is false if that makes any difference to you.
(-The Inconsistent state i believe has to do with a chest i had picked up and moved with a portal gun
-The buildcraft error is the same as the one i posted about before (316)
-I believe i saw this Exception ticking world as an issue here somewhere but cant find it )

And then the error that kicked m

[2013-04-17 08:35] Puremin0rez commented on #321
Just further confirming that turning "loadChunkOnProvideRequest" to false has fixed all memory issues.

No idea what's up there, but yeah.

[2013-04-17 09:23] HaoSs07 commented on #301
will do

[2013-04-17 11:00] Puremin0rez commented on #313
@nallar

I'm not sure - Haven't gotten the error again since.

[2013-04-17 11:40] Puremin0rez opened #324 "Inconsistant State?"
It appears this message shows up whenever people use the Gravity Gun on tile entities.

It's been around forever but maybe this message should be removed? Or does it actually signify a problem?

[2013-04-17 14:05] NachtRaben opened #325 "Forge-Dynmap 1.5 Console spam and blank map"
I have know that dynmap forge 1.6 wasn't working well with tick threading, but i looked around and found that 1.5 did work. so i installed it and now my console is being spammed about once a second and dynmap web map is entirely blank

10:02:29 [SEVERE] [dynmap] Exception while loading chunks
java.lang.IllegalAccessError: tried to access field zx.a from class org.dynmap.f
orge.ChunkSnapshot

[2013-04-17 16:06] geoffcorey commented on #246
Users are starting to use AE and we have build 1308 (after the possible fix in build 1306) and we had issues last night with items disappearing.

[2013-04-17 17:07] #315 closed, assigned to LunNova

[2013-04-17 18:53] alicheek opened #326 "[TT #1336] [1.4.7 mcpc+ L15] [SEVERE] [TickThreading] Exception during tile entity tick ticking: c thaumcraft.common.blocks.TileMarker thaumcraft.common.blocks.TileMarker@33cf2158 x,y,z: -2558, 68, -2813 at x,y,z:-2558,68,-2813"
Just saw this coming up in the TT logs dunno if its a big issue or not server has been runing straight for 20 hours and seems fine though :)

[SEVERE] [TickThreading] Exception during tile entity tick
ticking: c thaumcraft.common.blocks.TileMarker thaumcraft.common.blocks.TileMarker@33cf2158 x,y,z: -2558, 68, -2813 at x,y,z:-2558,68,-2813
Tick region: rX: -159, rZ: -175, hashCode: -11468959:
java.

[2013-04-17 18:53] HaoSs07 opened #327 "ender storage error keeps popping up"
04-17 21:53:06 [SEVERE] [TickThreading] Exception ticking world Nether/-1

java.util.ConcurrentModificationException

  at java.util.LinkedList$ListItr.checkForComodification(Unknown Source)

  at java.util.LinkedList$ListItr.next(Unknown Source)

  at codechicken.enderstorage.api.EnderStorageManager.save(EnderStorageManager.java:181)

  at codechicken.enderstorage.api.EnderStorageManager.access$0

[2013-04-17 20:02] geoffcorey commented on #246
Another admin looked over the AE system that was losing items.   His response was, "I'm not positive it was due to TT. The power going to his ayeazall's AE system was through powerconverters mod and seemed VERY sketchy at best. He hooked it up directly to a power source and it seemed fine after that."

[2013-04-17 20:32] HaoSs07 commented on #246
ftb ultimate 1.0.2 is under testing, (latest 1.4.7 ) that includes some AE fixes ,
also eloraam twitted about an hour ago, and it seems she is back on RP2 for 1.5 so we may see a update to 1.5 directly (more updates to AE), the best thing to do right now is probably to wait and test with the updated version, also i formated the disks for testing, and so far in 2 days no items was lost, probably ju

[2013-04-17 21:17] alicheek opened #328 "[TT #1336] [1.4.7 mcpc+ L15] [WARNING] [Towny] Task #7 for Towny v0.82.1.0 generated an exception java.util.ConcurrentModificationException"
Seems to be another issue with towny  not sure if its the same thing or not

[WARNING] [Towny] Task #7 for Towny v0.82.1.0 generated an exception
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getLivingEntities(CraftWorld.java

[2013-04-17 21:36] LunNova commented on #303
If you run `/ticks r 2` while in a broken chunk, is it fixed?

[2013-04-17 21:38] LunNova commented on #323
Fixed via 9722f5c47f32a0ea. Make separate issues.

[2013-04-17 21:38] #323 closed, assigned to LunNova

[2013-04-17 21:39] #324 closed, assigned to LunNova

[2013-04-17 22:29] Nohau opened #329 "TT Config File Issue?"
Not sure what build I started on but noticed this in the TickThreading config file

[code]

Is it supposed to be

[code]

[2013-04-17 22:31] Nohau commented on #321
Hmm I really want to upgrade to the latest version but I do utilize this option for BukkitForge because every time I tried FTB Ultimate with MCPC+ our quarries don't work after server restart half the time.

[2013-04-17 22:39] utoxin commented on #246
An AE system doesn't lose items when it loses power. It can't accept /new/ items, but it won't lose the old ones.

[2013-04-18 00:06] Nohau commented on #321
I am running 1343 now will watch memory usage.

[2013-04-18 00:12] LunNova commented on #329
No, that's how forge does lists for some reason.
On 17 Apr 2013 23:29, "Nohau" notifications@github.com wrote:

[2013-04-18 00:20] Nohau opened #330 "TT#1343 - Portal Gun Spam"
[SEVERE] The mod PortalGun attempted to force load a chunk with an invalid ticket. This is not permitted.
7:15:52 PM
 CONSOLE:
[SEVERE] The mod PortalGun attempted to force load a chunk with an invalid ticket. This is not permitted.

Nothing in TT Log

04-17 19:09:38 [INFO] [TickThreading] iq['Pillowghost47'/1947, l='world', x=6689.53, y=29.92, z=2265.08] changed dimension from Twilight Forest/7 t

[2013-04-18 00:51] Nohau opened #331 "TT#1343 Eception During Tile Entity Tick - code chicken chunnkloader"
Log Files : https://gist.github.com/Nohau/5408989

04-17 19:43:07 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c codechicken.chunkloader.TileChunkLoader codechicken.chunkloader.TileChunkLoader@181403f9 x,y,z: -1468, 64, -4056 at x,y,z:-1468,64,-4056
Tick region: rX: -91, rZ: -253, hashCode: -16580699:
java.lang.NullPointerException
    at codechicken.chunkloader.TileChunkLoa

[2013-04-18 01:03] Nohau opened #332 "TT#1343 Server in constant restart"
Logs : https://gist.github.com/Nohau/5409054

Got the codechicekn chunk load errors then just started doing this.

Thanks

[2013-04-18 01:15] Nohau commented on #332
More background user created a mystcraft age and Named it VOID ...

[2013-04-18 01:28] Nohau commented on #332
Renamed users age then deleted the age and changed his dat file to come back to overworld ... server became stable.

User logged off in this age so every time he was getting on it was restarting shortly after.

[2013-04-18 02:10] Puremin0rez commented on #330
I've been getting this issue too +1

[2013-04-18 02:11] Puremin0rez commented on #327
I think @nallar fixed this in one of the recent builds?

I reported it yesterday and applied the fix and haven't seen it since.

[2013-04-18 02:12] Puremin0rez commented on #321
Yeah, left that option off all night and the memory stayed below 2gb.

I turned it on for the hell of it on 1343 and once again memory ran out within an hours time.

[2013-04-18 09:07] LunNova commented on #327
This might be a slightly different issue, looks like it's a different
exception?
On 18 Apr 2013 03:11, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-18 09:07] LunNova commented on #330
I think this just happens if the mod goes over its allowed chunk loading
limit. Can you try raising it?
On 18 Apr 2013 03:10, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-18 09:20] Puremin0rez commented on #330
I raised it and still seem to be getting it when people shoot portals >_>

I also notice they're not keeping chunks loaded

[2013-04-18 09:24] HaoSs07 commented on #327
at the time of this report i had latest TT that included the ender chest fix. ( 98 % of the time i have latest  build when reporting a error )

[2013-04-18 09:29] HaoSs07 commented on #301
sory, i was tired last time and posted another command; here is the ticks b

04-18 12:31:29 [INFO] [TickThreading]
116 pending block updates
Block | Count
1119tile.rc.block.worldlogic | 60
1434tile.world.blocks.aesthetic.sulfurTorch | 29
66tile.water | 15
71tile.gravel | 9
68tile.lava | 3

i will let you close this when you think is done

[2013-04-18 09:53] HaoSs07 commented on #246
i lost items where the power is not enough, it starts/stops many times and for some reason wiped some disks ,

now i test with formatted disks and it seems to work

[2013-04-18 09:55] LunNova commented on #330
Portal gun isn't releasing its tickets then :( I'll try to fix that when
back from school.
On 18 Apr 2013 10:20, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-18 10:00] ray73864 commented on #246
If the power isn't enough, what i do, is i stick a redstone energy cell below the controller and power the cell.

Set the cell to output just above what your controller is asking for, basically a UPS for your network :)

[2013-04-18 10:01] Puremin0rez opened #333 "Concurrent Network Ticks?"
Just how buggy is it now?

Last time I tried it was a good 3+ months ago and chunks failed to load.

Is it any better now? What kind of incompatibilities are there?

[2013-04-18 10:21] LunNova commented on #246
Can I call this a feature then? ;)
On 18 Apr 2013 11:00, "ray73864" notifications@github.com wrote:

[2013-04-18 10:22] LunNova commented on #333
Haven't done much work on this. Anyone else tested it recently and know how
badly it breaks?
On 18 Apr 2013 11:01, "Dylan Xaldin" notifications@github.com wrote:

[2013-04-18 10:24] ray73864 commented on #246
Well no, because my energy cell is currently set at 70MJ/t, which means i have 30MJ/t remaining and my network keeps on expanding, just like the universe _cue the universe song from Monty Python and the Meaning of Life_.

And i doubt it is a power issue causing the problem, but then again, AlgorithmX2 has made some changes in his latest versions for 1.5, so maybe he fixed the problem, no idea.

[2013-04-18 12:00] xfloh22 commented on #246
well the formatting disc thing might be the reason i wasnt loosing any items... i allways format my discs.

[2013-04-18 13:08] HaoSs07 commented on #246
there is no point to set the cell, it will only use what it needs, i also use MJ to power it, and i have connected to the same grid: AE system , 4 quarry's that run full speed , and the excess MJ is connected to a HV EU transformer that goes in to matterfab,

[2013-04-18 13:11] ray73864 commented on #246
Except that 4 quarries don't demand much in the way of power.

I have 3 36HP liquid fueled boilers, they output quite a decent amount of MJ, but as soon as i use my assembly table with over 90 lasers on it, the AE network starts blinking on and off due to unstable power.

And i like to set an output on the cell, it's my choice, and it allows me to keep an eye on how much power it is using without

[2013-04-18 13:35] HaoSs07 commented on #246
you will have to set it highter anyway as AE uses different power levels for different operations

and a full speed quarry eats like 80 MJ if i remember right

[2013-04-18 13:37] ray73864 commented on #246
Actually, the AE in FTB Ultimate doesn't use much power at all for different operations, what it says it requires on the controller is basically what it uses.

The AE for 1.5 however works very differently, it uses more power if you have the export bus set to 'stack' instead of 'single' for instance.

And a fullspeed quarry doesn't go any faster when you give it more than 75MJ/t. It uses something

[2013-04-18 13:41] HaoSs07 commented on #246
I'm at 215 energy units/t , if i craft, it goes higher ,  u can go test, it does not use power as you say, for the stack or single option but it does use more if you transfer items; we can debate this forever, lets stay on topic; data lose

[2013-04-18 15:19] geoffcorey opened #334 "SEVERE Exception during tile entity tick / INFO ticking: c buildcraft.transport.TileGenericPipe"
Ultimate 1.0.1 + TickThreading-1.4.7-1.0.0.1336.jar

See this in the logs today

18.04 10:14:21 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$ServerWorkThread.run(ThreadManager.java:157)
18.04 10:14:21 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:41)
18.04 10:14:21 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$2.run

[2013-04-18 18:28] #329 closed, assigned to LunNova

[2013-04-18 18:31] GTB3NW commented on #305
Having same issue as described, when TT is installed the xycraft tanks seem to delete liquid levels. B1343

[2013-04-18 18:43] wormzjl commented on #246
A formatted disk DO lose items.
Tried to put some chunkloaders beside the disk but failed.

[2013-04-18 20:58] ghost commented on #303
Can't seem to get the map up at all now. User error or?
`/ticks r 2` - Refreshed 4 chunks - character was still floating with 4 floating chickens.

`04-18 21:40:39 [SEVERE] [ForgeModLoader] Exception loading chunk asynchronously.
java.lang.NoSuchMethodError: zx.clone_()Lzx;
    at zz.refreshExtendedBlockStorage(Chunk.java:226)
    at im.a(ThreadedChunkProvider.java:621)
    at zz.a(Chunk.java:1303

[2013-04-18 21:05] LunNova commented on #303
Oops, try 1348.

[2013-04-18 21:31] LunNova commented on #303
Urgh, mcp changes the return type too for some reason, try 1354.

[2013-04-18 22:10] ghost commented on #303
Overworld is a lot better, still some weird chunk loading - before and client relog:
![2013-04-18_22 57 44](https://f.cloud.github.com/assets/4166113/399493/d696090c-a873-11e2-91a3-8848822980d3.png)
![2013-04-18_22 58 01](https://f.cloud.github.com/assets/4166113/399494/d832716a-a873-11e2-8e8a-d05befbe307d.png)
Instead of entire sections of map rearranging, it appears to be the odd structure (tree

[2013-04-18 22:21] #303 closed, assigned to LunNova

[2013-04-18 22:32] alicheek opened #335 "[TT #1343] [1.4.7 mcpc+ L15] [SEVERE] [TickThreading] Exception during tile entity tick ticking: c thermalexpansion.transport.tileentity.TileConduitLiquid thermalexpansion.transport.tileentity.TileConduitLiquid@3eca3f1c"
[SEVERE] [TickThreading] Exception during tile entity tick
ticking: c thermalexpansion.transport.tileentity.TileConduitLiquid thermalexpansion.transport.tileentity.TileConduitLiquid@3eca3f1c x,y,z: -2529, 58, 498 at x,y,z:-2529,58,498
Tick region: rX: -158, rZ: 31, hashCode: 2031458:
java.lang.NullPointerException
    at thermalexpansion.transport.tileentity.TileConduitLiquid.extractLiquid(TileCon

[2013-04-18 23:15] Nohau opened #336 "TT 1315 - Inconsistent state, a tile entity is in the wrong TickRegion"
Here is the logs :

https://gist.github.com/Nohau/5416946

Thanks!

[2013-04-18 23:16] Nohau commented on #336
Probaly related to https://github.com/nallar/TickThreading/issues/324

[2013-04-19 00:23] Puremin0rez commented on #321
@nallar has now defaulted the setting to off so if you have it on you might want to reconsider it.

Having it off has fixed all of my lag spikes and of course, running out of memory within an hours time. I've been able to run for almost 48 hours straight with zero issues whatsoever.

Scary option.

[2013-04-19 00:25] Puremin0rez commented on #336
The message is now "gone" in the newer builds, it showed up in my console every-time someone used a Gravity gun to move a tile entity - which makes sense, considering the debug message is telling you exactly that. (tile entity is in the wrong region because a player just moved it)

It's a harmless message as far as I know and shouldn't be visible in the newer builds anymore.

[2013-04-19 00:32] Nohau commented on #336
yep just upgraded to 1356 but still getting other errors with chunkloaders it seems.

[2013-04-19 00:42] Nohau commented on #331
TT # 1356 Same errors I have even broke the chunk loaders and put new ones down just in case

https://gist.github.com/Nohau/5417327

[2013-04-19 00:47] Nohau commented on #321
Yea but it fix's https://github.com/nallar/TickThreading/issues/293 and Every Time I have tried MCPC+ with FTB Ultimate the quarries don't work after server restart.

[2013-04-19 01:08] Puremin0rez commented on #321
@Nohau

Yes your correct, having that option on is REQUIRED for quarries to work through server reboots. Maybe @nallar can change that?

[2013-04-19 02:07] alicheek opened #337 "[TT #1356] [1.4.7 mcpc+ L15] concurrentNetworkTicks is over 20 tps normal?"
hey there thought id try out your concurrent network tick system got  a screen shot of what i got if typing tps , now i was just wondering if its normal of the network tps to be over 20 tps?
![netowrk](https://f.cloud.github.com/assets/3965516/400218/ebab7f30-a895-11e2-9250-0b925ad4bec3.jpg)

[2013-04-19 02:15] Nohau commented on #337
Something to also note how would overall = 20.000 if it avg's it all? Unless Network is also different?

[2013-04-19 02:17] alicheek commented on #337
well got some errors coming through also some weird glitches:

04-19 01:58:03 [SEVERE] [TickThreading] Tile Entity com.github.AbrarSyed.SecretRooms.common.TileEntityCamoChest@61114fc5 x,y,z: 4192, 214, 1939 failed to validate, it will be ignored.
java.lang.NullPointerException
    at com.github.AbrarSyed.SecretRooms.common.TileEntityCamoFull.s(TileEntityCamoFull.java:144)
    at yc.a(World.java:49

[2013-04-19 02:20] alicheek commented on #337
also got another problem with solar panels where they seemto be glitching out and not facing upwords, meaning they are getting no power:

![glitch](https://f.cloud.github.com/assets/3965516/400244/ac40e28e-a897-11e2-9ff9-b31bded970a4.jpg)

[2013-04-19 03:47] Puremin0rez commented on #337
The camo blocks error is unrelated to the Concurrent Network Ticks as far as I know - It's a bug with Camo Blocks itself that TT has patched to prevent it from crashing your server.

But yeah, the IC2 stuff is definitely related. @nallar might need to do some patching with IC2 to make it more compatible perhaps.

Looks promising though!

[2013-04-19 03:48] Puremin0rez commented on #333
https://github.com/nallar/TickThreading/issues/337

[2013-04-19 07:08] #336 closed, assigned to LunNova

[2013-04-19 07:10] LunNova commented on #337
Concurrent network TPS runs at a higher TPS, and it is completely unrelated to your normal TPS. This is to reduce lag. Currently with most things MC adds 50ms to the response time as it waits 'til the end of the current tick, doing this reduces it to 25ms.

[2013-04-19 07:18] HaoSs07 commented on #299
so... fore some reason my quarry's work now after restart :)

[2013-04-19 07:18] #299 closed, assigned to LunNova

[2013-04-19 07:20] Puremin0rez opened #338 "Build #1356 - Quarries do not work through a server restart with "loadChunkOnProvideRequest" set to false"
They will be in a "frozen" state upon reboot, where the arm will not move.

You can fix them by replacing them or using a gravity gun to move it out of the chunk and place it back where it belongs.

[2013-04-19 07:22] Puremin0rez opened #339 "Build #1356 - "loadChunkOnProvideRequest" being set to true introduces a Memory Leak?"
You can view more information about this here:
https://github.com/nallar/TickThreading/issues/321

I can verify this multiple times over if more testing is needed.

It almost appears as if chunks do not unload for some reason. Ram just goes up and up and up and never goes down.

Yes, I am checking the actual JVM.

[2013-04-19 07:22] Puremin0rez commented on #321
Made both issues separate tickets and closing this one

https://github.com/nallar/TickThreading/issues/338
https://github.com/nallar/TickThreading/issues/339

[2013-04-19 07:22] #321 closed, assigned to LunNova

[2013-04-19 07:24] Puremin0rez commented on #339
Also keep in mind it might be a mod in the FTB Ultimate pack introducing this issue or even MCPC+ itself.

I am not blaming TT but I will say it only happens with this option enabled :)

[2013-04-19 07:26] LunNova commented on #339
I'll need a heap dump. Does the chunks count in `/tps` still seem okay?

[2013-04-19 07:29] Puremin0rez commented on #339
@nallar

Yes the chunk count appears to be perfectly normal, I was thinking maybe Cache or something was related.

I'll hopefully be able to do another test run soon, not going to upset my players for the moment. I can't reproduce locally so my server is the only thing I'm able to test on.

This particular issue does not bother me (as I've had it set to false since I found this out), but I know it

[2013-04-19 07:34] DrFestus opened #340 "Build #1356 - [WARNING] [Towny] Task #52 for Towny v0.82.1.0 generated an exception"
[WARNING] [Towny] Task 52 for Towny v0.82.1.0 generated an exception
java.lang.NullPointerException
    at zz.a(Chunk.java:784)
    at yc.a(World.java:762)
    at yc.c(World.java:740)
    at org.bukkit.craftbukkit.v1_4_R1.block.CraftBlock.setTypeIdAndData(CraftBlock.java:124)
    at com.palmergames.bukkit.towny.regen.PlotBlockData.restoreNextBlock(Unknown Source)
    at com.palmergames.bukkit.town

[2013-04-19 07:35] #340 closed, assigned to LunNova

[2013-04-19 07:39] DrFestus opened #341 "Build #1356 - [SEVERE] java.util.ConcurrentModificationException"
[SEVERE] java.util.ConcurrentModificationException
2013-04-18 21:50:34 [SEVERE]    at java.util.ArrayList.writeObject(Unknown Source)
2013-04-18 21:50:34 [SEVERE]    at sun.reflect.GeneratedMethodAccessor301.invoke(Unknown Source)
2013-04-18 21:50:34 [SEVERE]    at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
2013-04-18 21:50:34 [SEVERE]    at java.lang.reflect.Method.invoke(Unk

[2013-04-19 07:43] DrFestus opened #342 "Build #1356 - [SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.2"
Could be MCPC related though but its something to do with already decorating

[SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.2
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:363)
    at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
    at org.bukkit.plugin.SimplePluginManager.fireEv

[2013-04-19 07:51] Puremin0rez opened #343 "Build #1356 - "generateChunkOnProvideRequest" being set to false disallows chunks from being generated in another world when done via teleportation"
This is probably MCPC+ related

Awhile ago, both "loadChunkOnProvideRequest" and "generateChunkOnProvideRequest" had to be enabled for going to other worlds to work.

That was fixed, partially.

"generateChunkOnProvideRequest" still needs to be enabled for new chunks to generate when a player is teleported into an area that would require generating a new chunk for them to enter.

Best way to expla

[2013-04-19 07:57] Puremin0rez commented on #339
I'm thinking this option and the generateChunk one should possibly be removed from configuration once the issues are worked out with both being disabled. (see my other issue for the issue with generateChunk)

To be honest they're the most vague options in TT but appear to do a world of harm when configured incorrectly.

[2013-04-19 15:45] #342 closed, assigned to LunNova

[2013-04-19 18:19] HaoSs07 opened #344 "Deadlock (posible twilight to overworld teleport bug )"
Server enters a deadlock when someone from twilight teleports to overworld, usualy recovers and the log remains empty

this is the first and last deadlock with restart that happen when a player teleported
https://gist.github.com/HaoSs07/5422140

[2013-04-19 18:25] #344 closed, assigned to LunNova

[2013-04-19 20:38] HaoSs07 opened #345 "Deadlock problems again, ( 2 deadlocks under 30 minutes )"
https://gist.github.com/HaoSs07/5423070
https://gist.github.com/HaoSs07/5423062

[2013-04-19 20:44] xfloh22 commented on #345
can confirm errors

[2013-04-19 20:51] LunNova commented on #345
First issue looks like an explosion took too long - see https://gist.github.com/HaoSs07/5423070#file-gistfile1-txt-L1463 . Try increasing the deadlock detector time.

Second issue looks like it's stuck processing ForgeEssentials `/top` command. Not sure why.

[2013-04-19 20:56] HaoSs07 commented on #345
deadlock is at 90 seconds, hopefully the first one will not repeat

as for the /top, probably bug with FE, i used /top and i got teleported in a wall above 256 hight limit ( was in end )

[2013-04-19 20:58] #343 closed, assigned to LunNova

[2013-04-19 21:00] LunNova commented on #338
92669c1aeb0cfa60 should fix this.

[2013-04-19 21:08] xfloh22 commented on #259
might this be related to #337?

[2013-04-19 21:22] joey19982 commented on #342
As of build #1361 this is still happening when world unloading is enabled.

[2013-04-19 21:46] #338 closed, assigned to LunNova

[2013-04-19 22:09] LunNova commented on #342
Could you give the log? It's probably a different issue happening when calling the same event.

[2013-04-19 23:09] Kusinagie opened #346 "Build 1356 Xycraft tanks not saving on shutdown"
Started using Xycraft tanks and i noticed on a restart of the server the tank is not formed any longer and the contents lost. Happens every restart. No errors in log that i can see.

[2013-04-19 23:10] LunNova commented on #346
Duplicate of #305.

[2013-04-19 23:10] #346 closed, assigned to LunNova

[2013-04-20 00:24] #305 closed, assigned to LunNova

[2013-04-20 00:41] LunNova commented on #332
Is that the right log? It looks like BukkitForge stopped the server... https://gist.github.com/Nohau/5409054#file-forgemodloader-server-1-log-L5532

[2013-04-20 00:43] LunNova commented on #330
The changes for quarries should also fix this.

[2013-04-20 00:46] #188 closed, assigned to LunNova

[2013-04-20 00:47] LunNova commented on #179
Is this still happening?

[2013-04-20 00:54] #258 closed, assigned to LunNova

[2013-04-20 00:57] LunNova opened #347 "Incorrect names in /tps for Multiverse worlds"

[2013-04-20 00:57] LunNova commented on #347
![](http://puu.sh/2DknK.png)

[2013-04-20 00:58] LunNova opened #348 "GriefPrevention protections broken"

[2013-04-20 01:35] Puremin0rez opened #349 "Build #1356 - ConcurrentModificationException with Twilight Forest?"
http://pastebin.com/6SgejqXQ

[2013-04-20 01:49] Nohau commented on #332
Yep that is the right log so something might caught the keyword VOID and was just causing restarts Only other thing I can think of could be McMyAdmin thinking that was a severe error and it is set to restart on severe error..

[2013-04-20 04:14] alicheek opened #350 "[TT #1368] [1.4.7 mcpc+ L15] Players going invisible"
Hey there ive noticed an issue, it seems to be occuring for a while now.

What happens is if you teleport say to an area with other players, sometimes the player that you have teleported near will just disappear like they weren't there. There isnt any error logs but it does happen and can be quite an issue for the players in a pvp situation.

[2013-04-20 05:21] Puremin0rez commented on #350
This is also another issue I failed to report. I need to start reporting some of these minor things!

Sometimes when you teleport (via /home, /tp, etc) you will go "invisible" to the other players and even the server.

Odd behavior happens during this time
- You will loose your skin on your client
- You will sometimes be able to "drop" things without it going down in count and produce ghost items

[2013-04-20 05:34] Puremin0rez commented on #349
Oops, didn't see this already reported ->
https://github.com/nallar/TickThreading/issues/341

[2013-04-20 06:11] Puremin0rez opened #351 "Build #1368 - GraviGun issues?"
http://pastebin.com/839BLme0

[2013-04-20 07:36] Puremin0rez opened #352 "Build #1368 - Thaumcraft Aura Issues"
http://pastebin.com/7BKsuPiE

[2013-04-20 07:42] Puremin0rez commented on #352
Also getting this a bunch:

[2013-04-20 07:48] ghost opened #353 "Unable to build 2b06fd7"
I seem to be unable to build tt via running ant.
http://www.hastebin.com/wumusowuvi.mel

[2013-04-20 09:36] #349 closed, assigned to LunNova

[2013-04-20 11:05] #353 closed, assigned to LunNova

[2013-04-20 11:28] #351 closed, assigned to LunNova

[2013-04-20 11:46] LunNova commented on #350
If this happens, and you run `/ticks e <dimension id where someone is invisible>` is the reported number of players actually equal to the number of players in that dimension?

[2013-04-20 11:52] #352 closed, assigned to LunNova

[2013-04-20 12:01] LunNova commented on #301
116 pending updates is far better than before, you had over 5000. Seems fixed.

[2013-04-20 12:01] #301 closed, assigned to LunNova

[2013-04-20 12:04] Puremin0rez commented on #339
Well now that all of my issues with them being set to false are fixed, this issue no longer really bothers me :P

[2013-04-20 12:37] alicheek commented on #350
ill give that a test

[2013-04-20 12:40] alicheek opened #354 "[TT #1368] [1.4.7 mcpc+ L15] [SEVERE] [TickThreading] Exception ticking world & [SEVERE] [TickThreading] Exception during tile entity tick ticking: c thermalexpansion & [SEVERE] [TickThreading] Tile Entity com.github.AbrarSyed.SecretRooms"
Its just a dump from my ticktreading logs but i thought i should give u it to see if they are any new issues u havent been informed about.

04-20 03:55:50 [SEVERE] [TickThreading] Tile Entity com.github.AbrarSyed.SecretRooms.common.TileEntityCamoChest@5d3ee725 x,y,z: 4192, 214, 1939 failed to validate, it will be ignored.
java.lang.NullPointerException
    at com.github.AbrarSyed.SecretRooms.commo

[2013-04-20 12:47] alicheek commented on #350
@nallar

it says there is 36 players when there is actually 44 players on  when i do ticks e

[2013-04-20 12:58] #339 closed, assigned to LunNova

[2013-04-20 13:02] Puremin0rez commented on #350
@nallar

Same as above, it does not show the proper player count.

[2013-04-20 13:03] LunNova commented on #350
That sounds like too many players are missing - it's only the count of players in that dimension, not total players. If it was that bad more stuff would be broken :s

[2013-04-20 13:10] #347 closed, assigned to LunNova

[2013-04-20 13:38] geoffcorey opened #355 "TickThreading-1.4.7-1.0.0.1374.jar - java.lang.NullPointerException when accessing Infusion table"
https://gist.github.com/geoffcorey/db7ac18507ed4ab0108d

[2013-04-20 13:44] Cyteq opened #356 "TT #136 Console spam of "[WARNING] MultiBlock already removed: [Random # here] server"
Example of what is going on http://i.imgur.com/lQbKJwv.png

Also there was this same issue back in #292 that said it had been fixed.

[2013-04-20 13:44] LunNova commented on #356
Which build is this on?

[2013-04-20 13:44] Cyteq commented on #356
Sorry messed up the title it is on TT 1361

[2013-04-20 13:45] LunNova commented on #356
That was fixed in 1365.

[2013-04-20 13:45] #356 closed, assigned to LunNova

[2013-04-20 13:46] KunJakob commented on #348
I had this issue last night the latest build. Not finding anything in the logs. Full TT log: http://pastebin.com/zs5GFCsM

[2013-04-20 13:47] #355 closed, assigned to LunNova

[2013-04-20 14:08] alicheek commented on #350
well i counted the other dimensions but there is players missing, also ive got an issue with new people spawning, im using essentials spawn (have tried normal bukkit spawning but does the same) and when they join they arent placed where the spawn point actually is , and they  are either stuck in the ground when they come on , its fixed by them re logging but we do loose people because of it .

[2013-04-20 14:50] joey19982 opened #357 "RP2 Frame Motor not working (Exception while updating block neighbours)"
The motor itself uses the moving animation and appears as it should be working, but no matter what the circumstances it will not move anything.

Here's the error it spits out:
04-20 10:44:17 [SEVERE] [TickThreading] Exception while updating block neighbours
java.lang.IllegalAccessError
        at com.eloraam.redpower.machine.TileMotor.pickFrame(TileMotor.java:176)
        at com.eloraam.redpower.m

[2013-04-20 14:51] LunNova commented on #353
Hadn't noticed this as I haven't done a clean build in a while, and it would only show up on the first attempt to build.

[2013-04-20 14:57] LunNova commented on #357
ELORAAAAMM! https://gist.github.com/nallar/5426253

:anguished:

Will have it fixed soon...

[2013-04-20 14:59] alexbegt commented on #357
:(

[2013-04-20 15:09] xfloh22 commented on #350
thats why u run a creative test server for your people and tell em they can do anything there as long as they report bugs ;)

[2013-04-20 15:23] HaoSs07 commented on #259
mine vas related to block updates, if i force the update placing/braking a block next to the info panel it worked, but did not test this on latest builds

[2013-04-20 15:36] DrFestus opened #358 "Build #1383 - [WARNING] [TickThreading]"
Getting spammed in my console with:

[WARNING] [TickThreading] World worldname/0's dimensionId was set incorrectly, changing from 0 to whatevernumber

Also got alot of this after the server starts with build 1383

[SEVERE] java.util.ConcurrentModificationException
2013-04-20 11:27:51 [SEVERE]    at java.util.ArrayList.writeObject(Unknown Source)
2013-04-20 11:27:51 [SEVERE]    at sun.reflect.Gener

[2013-04-20 15:59] Puremin0rez opened #359 "Build 1368 - World Anchors not working in other dimensions properly?"
For some reason, World Anchors appear to not work in other dimensions (such as the Nether) properly when there is not a single player in the dimension.

The chunks are being loaded, but they are not "working" unless there is at least one person in the dimension of the chunk loader.

This hasn't always happened, so i'm not sure why it's started to act up.

[2013-04-20 16:21] LunNova commented on #359
Does `/tps` show the expected tile entity count in that world?

[2013-04-20 17:21] xfloh22 commented on #357
getting this error again using the newest build

[2013-04-20 17:34] #357 closed, assigned to LunNova

[2013-04-20 17:34] LunNova commented on #358
Closing as duplicate of #341.

[2013-04-20 17:34] #358 closed, assigned to LunNova

[2013-04-20 18:21] alicheek commented on #350
Still having the same issue. with build 1385

[2013-04-20 18:23] LunNova commented on #348
This might only happen if world unloading is enabled, griefprevention can't handle world unloading properly.

[2013-04-20 18:24] KunJakob commented on #348
Cool! What am i gonna miss out on by disabling world unloading?

[2013-04-20 18:32] #345 closed, assigned to LunNova

[2013-04-20 18:45] LunNova commented on #348
It'll prevent the end/nether/forge mod worlds from unloading.

[2013-04-20 18:56] #300 closed, assigned to LunNova

[2013-04-20 18:57] alicheek commented on #350
actually seems to be workin now after other testing got another issue though but its a different issue so ill make a new post

[2013-04-20 18:57] #350 closed, assigned to LunNova

[2013-04-20 20:07] xfloh22 commented on #357
nallar ik this isnt the right place but ur awesome. you respond to all requests so quickly and actually care. thanks :smile:

[2013-04-20 20:09] xfloh22 commented on #359
your changes fixed it for me. closed?

[2013-04-21 00:35] alicheek commented on #246
Just to say on build  TT 1388 and one of my players put some of his items in those computer storage devices then went some where which unloaded the chunk, when he came back he had none of the items in there any more.

[2013-04-21 02:28] Puremin0rez commented on #359
Appears to be fixed, i'll leave this here for a few hours more since I just only switched to the new build.

[2013-04-21 02:32] joey19982 commented on #357
^Completely agree. You're the best <3

[2013-04-21 02:47] alicheek commented on #357
I have to really agree with the other guys, probably one of the best devs ive known

[2013-04-21 03:09] Puremin0rez opened #360 "Build #1393 - Thaumcraft Aura issues (part 2)"
First problem was fixed, now seem to be getting this quite often in console ->

http://pastebin.com/6ZydSANb

[2013-04-21 03:39] Puremin0rez commented on #359
@nallar

Nope, not fixed.

Peoples World Anchors refuse to work unless there is at least one person in the world (Nether)

They can be anywhere in the world and it will make all of them work. Soon as the single person leaves, all of them stop working.

In particular, the situation I'm describing is using lava pumps next to a World Anchor.

[2013-04-21 03:41] joey19982 commented on #348
Apparently this is fixed in the 1.5 version of GriefPrevention. I submitted a ticket a while ago when I first reported the issue here.

http://dev.bukkit.org/server-mods/grief-prevention/tickets/54-me-ryanhamshire-grief-prevention-block-event-handler/

[2013-04-21 10:43] wormzjl commented on #246
Is there anyway that we can evade this problem rightnow?

[2013-04-21 11:27] G1itcher opened #361 "Build 1393 "Moved too quickly!" cheat detection"
After installing TickThreading, the "xxxx Moved too Quickly!" message pops up when using at least one legitimate means of moving quickly via a mod pack (portal mod faith plates). This did no happen before installing TickThreading. It also teleports the player back to where they were before the incident. Turning off antiCheatNotify stops the messages, but not the teleporting.

Server is set to allo

[2013-04-21 12:02] HaoSs07 commented on #327
did not happen in latest builds, so im closing this

[2013-04-21 12:02] #327 closed, assigned to LunNova

[2013-04-21 12:57] G1itcher opened #362 "Build 1393 Multiple users based far away from each other causes mob spawning to not work correctly"
In this example, if a user is at X: 25100, Z:241, users at X:227, Z:-2629 do not experience mob spawning correctly; the chunks in that area act as though the server is set to peaceful (hostile mobs despawn, friendly mobs do not)

If the person at X: 25100, Z:241 disconnects or teleports to the other users, mob spawning at X:227, Z:-2629 begins to function again.

This seems to occur whether or not

[2013-04-21 13:47] Puremin0rez commented on #362
Are you sure the player in the area where mobs despawn is not in creative mode?

I have an issue where whenever I'm in creative mode, all mobs despawn around the region and do not spawn.

[2013-04-21 16:07] G1itcher commented on #362
Aha, got it in one. Seems if we turn off creative things spawn again. Thanks for that.

[2013-04-21 16:23] LunNova commented on #246
No, sorry :( Will hopefully have time to try to find what's causing this today.

[2013-04-21 17:30] HaoSs07 opened #363 "#1404 internal server error"
Right clicking/placing block in world will disconnect players

https://gist.github.com/HaoSs07/5430358

[2013-04-21 17:51] HaoSs07 commented on #363
also there are allot of exception related to reappearing blocks, wrath lamp

[2013-04-21 17:52] LunNova commented on #363
Revert to 1399 or earlier, will have a fix soon.

[2013-04-21 17:54] HaoSs07 commented on #363
reverted to 93, the one i had before, had to re-upload mods and re-patch but it works now

[2013-04-21 18:09] #363 closed, assigned to LunNova

[2013-04-21 19:51] HaoSs07 commented on #361
never had this problem and using TT for a long time, try a fresh install ?

[2013-04-22 00:14] Kusinagie opened #364 "Build 1412- Chunk loaders not working"
This is possibly related to issue 359.
On server start before anyone logs in tps reports dimensions loaded but no chunks loaded
(Allow world unload=false)
After a player visits a dimension with a chunk loader in it, it then functions with or without a player logged in.
(This is with chickenchunks loaders.)

[2013-04-22 00:20] Kusinagie opened #365 "Build 1412- Dimension naming in tps reports broken"
The fixes for issue 347 seems to have broken World names in the tps report. Each dimension is named "world/(whatever dimId)".
Not really an issue for me just figured i would report the change, thanks for the great work Nallar.
Note:No mpcp or anything just the basic Direwolf20 server setup in case that makes a difference.

[2013-04-22 01:18] alicheek opened #366 "[TT #1412] [1.4.7 mcpc+ L15] [SEVERE] [TickThreading] Exception ticking world World_VIP/13 java.lang.NullPointerException"
Using Multiverse to make a VIP world got around the issue of creating the world. with TT it would fail rendering the new world so just took it off then made it then put it back on , but getting these errors in the TT log now.

2013-04-22 00:41:53 [SEVERE] [TickThreading] Exception ticking world World_VIP/13
java.lang.NullPointerException
    at codechicken.wirelessredstone.core.RedstoneEtherServer

[2013-04-22 01:49] Puremin0rez commented on #359
https://github.com/nallar/TickThreading/issues/364

[2013-04-22 01:51] Puremin0rez commented on #361
I have the same issue, actually.

The portal gun faith plates throw the moved too quickly error so they're unusable.

[2013-04-22 05:55] DrFestus commented on #366
I have the same problem except on existing worlds. Console just getting spammed with this message for every world. Using build 1412.

[2013-04-22 08:30] Puremin0rez opened #367 "Build #1412 - MFFS massive cpu usage"
I'm not sure if this is particular to the mod or TT

A single MFFS system is causing tons and tons of CPU usage, with /ticks showing it taking a time of 30.

I turn the MFFS off, it lowers to normal.

Is there any way to fix this? Is this just the nature of the mod?

[2013-04-22 08:32] HaoSs07 commented on #361
have you tested with TT off ? i had this problem on old bukkit server, and
it was a config related thing

On 22 April 2013 04:51, Dylan Xaldin notifications@github.com wrote:

[2013-04-22 08:38] Puremin0rez commented on #367
Also, can the "throttling" ticks of TT be made configurable for regions?

[2013-04-22 09:24] Puremin0rez commented on #367
Changed the blocks per tick in the config and it's much, much better now.

[2013-04-22 09:24] #367 closed, assigned to LunNova

[2013-04-22 09:25] G1itcher commented on #361
As per the original post; does not happen on the server without TickThreading installed. Bukkit is not installed on this server, it is Forge only.

[2013-04-22 10:28] Puremin0rez commented on #341
@nallar

Bump ^_^

Getting this issue non stop, i think it might also be causing hangs

[2013-04-22 10:40] maezred commented on #362
We're having a similar issue, but my testing does not link it to players being very far away or to creative mode (which would be perfectly fine, as we are a survival only server). I can't get mobs to spawn beyond shortly after server start. I haven't been able to do much testing beyond by myself for now, but at the moment, mobs spawn when I connect for the first time after server start, but then a

[2013-04-22 12:06] HaoSs07 opened #368 "#1412 world anchor not loading properly"
https://gist.github.com/HaoSs07/5434444

the chunks loaded by world-anchor never load on start-up .

[2013-04-22 12:25] LunNova commented on #362
Are you using fast spawning, or default spawning? Try whichever one you're
not using.
On 22 Apr 2013 11:40, "Matthew Oltendorf" notifications@github.com wrote:

[2013-04-22 13:35] G1itcher commented on #362
For us it happens regardless of that setting.

[2013-04-22 13:37] maezred commented on #362
I edited it in, but I don't know if you spotted it: yes, I've tried both settings. We spent all night trying to get mobs to spawn. The only thing that really band-aided it was setting the spawn-limits per player to a very high (10k+) value which would let people play with mobs for a few hours, but would ultimately lead to out of memory, if we let it run like that, of course.

[2013-04-22 15:58] LunNova commented on #364
Which chunk loaders?

[2013-04-22 16:13] #368 closed, assigned to LunNova

[2013-04-22 18:07] HaoSs07 opened #369 "#1416 end of stream"
All players that try to join get this message after patching from 1413 to 1416

![PhotoShare](https://f.cloud.github.com/assets/3189195/410747/8815d3a0-ab77-11e2-97d3-7d14a4e0b1bd.png)

[2013-04-22 18:23] HaoSs07 commented on #369
never mind , mu config folder got reseed fore some reason, did a fresh install, work now

[2013-04-22 18:23] #369 closed, assigned to LunNova

[2013-04-22 19:48] alicheek opened #370 "[TT #1416] [1.4.7 mcpc+ L15] CF Foam with wires inside issue , Info Pannel issue when restarting"
Hey there my players have got an issue where when they hide their wires like fiber glass cables inside CF foam , it will glitch out when the server restarts and act like the cf foam is not there when it is . the player will also spaz out and get stuck when they walk on top of it.

Another issue after a restart is the info panels dont seem to function unless u break them and place them back down ag

[2013-04-22 21:46] #365 closed, assigned to LunNova

[2013-04-22 21:56] LunNova commented on #366
Could you try latest and give the server console log during startup? Won't fix the issue, will hopefully show what's happening.

[2013-04-22 21:58] alicheek commented on #366
sure will do that now

[2013-04-22 21:59] LunNova commented on #366
Oh, make sure it's build 1419 or newer. You might've been so quick you downloaded latest before the build with the debugging for this was finished.

[2013-04-22 22:00] alicheek commented on #366
its cool just downloaded 1419 there :P

[2013-04-22 22:14] alicheek commented on #366
Sorry accidentally deleted the link: http://pastebin.com/UzN3V1zh

[2013-04-22 22:15] alicheek commented on #366
@nallar
found this in the forge log :

[SEVERE] [ForgeModLoader] Something raised an exception. The message was 'Wireless Redstone Save Manager'. 'stopGame' is true
java.lang.NullPointerException
    at java.io.File.<init>(File.java:334)
    at codechicken.core.CommonUtils.getWorldSaveLocation(CommonUtils.java:52)
    at codechicken.wirelessredstone.core.SaveManager.getEtherDir(SaveManager.java:16

[2013-04-22 22:24] LunNova commented on #366
Ah, that explains the problem, thanks! :)

Also, none of TT's log entries or Forge's log entries seem to be in the console log you posted. Not sure why :s

[2013-04-22 22:27] wormzjl opened #371 "[TT #1416, MCPC+ L15]TC3 aura node disappearing"
I've left my server running with TT but when I woke up in the morning I've found that the 1300 size pure node in my base disappeared. Such things happened before build 1373 but it still persists in the latest version.

The only issue that I found is a deadlock when I'm asleep, Is there a problem with tc3 aura node saving upon server crash?
http://pastebin.com/DsQPcxcS

[2013-04-22 23:03] #366 closed, assigned to LunNova

[2013-04-22 23:12] DrFestus commented on #366
Am still recieving this on build 1420

[SEVERE] [TickThreading] Exception ticking world MobArena/18
java.lang.NullPointerException
    at codechicken.wirelessredstone.core.RedstoneEtherServer.saveEther(RedstoneEtherServer.java:71)
    at codechicken.wirelessredstone.core.WRCoreEventHandler.onWorldSave(WRCoreEventHandler.java:57)
    at net.minecraftforge.event.ASMEventHandler_95_WRCoreEventHandler

[2013-04-22 23:30] LunNova commented on #366
Can you pastebin your FML log?
On 23 Apr 2013 00:13, "DrFestus" notifications@github.com wrote:

[2013-04-22 23:56] DrFestus commented on #366
http://pastebin.com/51MiXxKw

[2013-04-23 00:07] DrFestus commented on #366
Now throwing these errors on startup on build 1423

[SEVERE] [Multiverse-Core] The world 'MobArena' could NOT be loaded because it contains errors!
2013-04-22 20:00:36 [SEVERE] [Multiverse-Core] Try using Chukster to repair your world! 'MobArena'
2013-04-22 20:00:36 [SEVERE] [Multiverse-Core] http://forums.bukkit.org/threads/admin-chunkster.8186/
2013-04-22 20:00:36 [SEVERE] java.lang.IllegalArgum

[2013-04-23 00:17] LunNova commented on #366
Won't be able to fix it until tomorrow afternoon, (18 hours), sorry. Maybe
try 1421.
On 23 Apr 2013 01:07, "DrFestus" notifications@github.com wrote:

[2013-04-23 00:27] LunNova commented on #366
https://gist.github.com/nallar/5439817

[2013-04-23 00:29] LunNova commented on #371
I think the aura node issues are caused if you have multiverse worlds, see https://gist.github.com/nallar/5439817.

[2013-04-23 00:31] DrFestus commented on #366
Ok, thanks for all your awesome work though! Was build 1420 that allowed me to start the server without crashing

[2013-04-23 03:30] Puremin0rez commented on #359
Definitely fixed now :)

[2013-04-23 03:30] #359 closed, assigned to LunNova

[2013-04-23 03:41] Puremin0rez opened #372 "Build #1423 - Factorization Solar Turbine errors"
http://pastebin.com/4P0rTw96

[2013-04-23 06:25] wormzjl commented on #371
No I don't have multiverse installed on my server. It appears to be pretty strange to me since it's the only node that keeps disappearing every time I rolled it back, just for info I got a world anchor beside it.

[2013-04-23 08:28] Kusinagie commented on #364
Still the same with build 1423, On server start the loaders are not functioning. once i log in and go to each dimension all is good even if i log out for a while. i will try with world anchors later to see if its the same right now this is with chickenchunks.
Any thing i can get info from for you that helps, I'm not seeing anything in any logs?

[2013-04-23 10:27] wormzjl opened #373 "[TT #1416, MCPC+ L15]Another Deadlock"
Happened once today.
http://pastebin.com/AH6QSgPZ

[2013-04-23 12:43] Hoiafar opened #374 "Build #1423 - Computercraft melee turtles"
We recently updated from 942 into 1423 and turtles now return false on turtle.attack() even though there are enemies infront of it.

[2013-04-23 13:41] alicheek opened #375 "[TT #1423] [1.4.7 mcpc+ L15] [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 5"
Not sure if that is what causes the deadlock in this version of TT?

2013-04-23 12:17:09 [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 5
java.lang.NoClassDefFoundError: me/nallar/tickthreading/util/MappingUtil
    at me.nallar.tickthreading.Log.toString(Log.java:226)
    at me.nallar.tickthreading.minecraft.tickregion.TileEntityTickRegion.doTick(TileEntity

[2013-04-23 15:21] LunNova commented on #375
Increase your jvm's max permgen size.
On 23 Apr 2013 14:41, "Alistair" notifications@github.com wrote:

[2013-04-23 15:23] alicheek commented on #375
ok will do that

[2013-04-23 15:33] alicheek commented on #375
hmm where is it i change this? (sorry not good at this stuff) :)

[2013-04-23 16:16] floh22 commented on #246
would be really awesome if this could get fixed. il help in any way i can if needed.

[2013-04-23 16:17] maezred commented on #362
After leaving the server up for about 24 hours now, mobs are spawning correctly for everyone but only when select players are online. We're still trying to determine if it has to do with being op, ever (not currently) being in creative mode while the server was running, a plugin, or a mod. But they are not spawning correctly even if everyone is in survival mode. A side note, creepers are not doing

[2013-04-23 16:54] HaoSs07 commented on #246
+1, will help with any test you need

[2013-04-23 16:55] maezred commented on #362
We restarted the server with no plugins, and I have a slight correction to my previous statement, mobs spawn in very sparse quantities for everyone else when a player that has mobs spawning correctly is online, but mobs do spawn correctly for that one player. We're still running build 1412, and we'll update TickThreading tonight when you're all done tweaking it for the day for more testing. As alw

[2013-04-23 17:19] geoffcorey commented on #334
Been running TickThreading-1.4.7-1.0.0.1423.jar since this morning.   This error no longer is appearing in the logs.

[2013-04-23 17:19] #334 closed, assigned to LunNova

[2013-04-23 19:25] LunNova commented on #375
Add "-XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=128m" before the "-jar"
in your server start command.

On 23 April 2013 16:33, Alistair notifications@github.com wrote:

##

Ross Allan

[2013-04-23 19:36] LunNova commented on #246
What I need to fix this more hours in a day or another dev to work on the project. :p

Higher exams in a few weeks, don't have enough time to fix all these issues :(

[2013-04-23 19:38] #332 closed, assigned to LunNova

[2013-04-23 20:08] Kusinagie commented on #364
Tried a restart with world anchors in place. loaded up fine and they were working so its just chickenchunks.
Also to my knowledge i read that portals from portal gun act as chunkloaders somehow, they seem to be acting up as well. If i have a portal far away when i log in that color portal isn't working till i travel there and load the chunk its in.

[2013-04-23 20:54] HaoSs07 commented on #246
let me guess , no dev lying around with no job

[2013-04-23 21:08] Nohau commented on #328
I recently switched to mcpc and also started seeing this along with this :

[SEVERE] Could not pass event PlayerMoveEvent to Towny v0.82.1.0

Also getting the PlayerMoveEvent error when world guard is enabled

[2013-04-23 22:11] Nohau opened #376 "TT1423 / MCPC L15 PlayerMoveEvent"
I noticed the following :

[SEVERE] Could not pass event PlayerMoveEvent to Towny v0.82.1.0

Also see the same when trying to use WorldGuard but states WorldGuard instead of Towny

Nothing is showing up in FML log and TTLogs but it shows in server.log

2013-04-23 17:18:04 [SEVERE] Could not pass event PlayerMoveEvent to Towny v0.82.1.0
org.bukkit.event.EventException
        at org.bukkit.plugin.j

[2013-04-24 00:40] utoxin commented on #246
I have no mod experience (yet), or I would absolutely volunteer to help.

[2013-04-24 00:42] alicheek commented on #246
Doing a great job nallar ! Dont let it get in the way of ur studies you have given us a working mod so dont worry they can always be fixed later! :)

[2013-04-24 14:11] alicheek opened #377 "[TT 1424] [MCPC+ L15] [SEVERE] [TickThreading] Exception during tile entity tick mffs"
Been getting this spam in my TT log with the latest build:

2013-04-24 06:59:49 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c chb.mods.mffs.common.tileentity.TileEntityProjector chb.mods.mffs.common.tileentity.TileEntityProjector@1fa52c1b x,y,z: 47, 55, 841 at x,y,z:47,55,841
Tick region: rX: 2, rZ: 52, hashCode: 3407874:
java.util.ConcurrentModificationException
    at jav

[2013-04-24 16:24] HaoSs07 commented on #246
well this one is allready in the " later " stage :p, as its a grate mod and more users start to learn it,  wiping items hurts servers worldwide

[2013-04-24 18:39] aquagene commented on #377
May be related, an issue with fieldfusion from awhile back https://github.com/nallar/TickThreading/issues/184

[2013-04-24 22:10] LunNova commented on #364
Are the ChickenChunks loaders set to load only when the owning player is online?

[2013-04-25 07:22] Kusinagie commented on #364
No its set to work without players. It was working fine with build 1393 then i updated to 1412 and it stopped working properly.

[2013-04-25 07:30] Kusinagie commented on #364
Actually this may have started with build 1368 just from looking at the issue list though I'm pretty sure it was 1393-1412. I will try to narrow it down later by trying a few different ones.

So to recap its chicken chunks and Portal gun portals not working till a player loads their chunks

[2013-04-25 16:51] alicheek opened #378 "[TT Build 1425] [MCPC+ L15] [INFO] [TickThreading] Set dimension to 0 for type 1"
Get this spamming me from the start:

2013-04-25 16:41:26 [INFO] [TickThreading] Set dimension to 0 for type 1
2013-04-25 16:41:26 [INFO] [TickThreading] Set dimension to 0 for type 1
2013-04-25 16:41:26 [INFO] [TickThreading] Set dimension to 0 for type 1
2013-04-25 16:41:26 [INFO] [TickThreading] Set dimension to 0 for type 1
2013-04-25 16:41:26 [INFO] [TickThreading] Set dimension to 0 for type

[2013-04-25 18:05] wormzjl commented on #373
And another one
http://pastebin.com/JCfYq4bB

[2013-04-25 19:04] mainsheep commented on #378
I am having the same exact problem, exept I'm using build 19 of MCPC+ Legacy, and build 1426 of TT.

[2013-04-25 19:24] alicheek commented on #378
Yep ive got both of them now and the same thing 1426 isn't been done to fix that though so im not surprised its still doing it

[2013-04-25 22:48] #378 closed, assigned to LunNova

[2013-04-25 22:54] alicheek commented on #378
Thanks for the fix! haven't tried it yet but im sure it will work ! :)

[2013-04-26 06:35] Puremin0rez opened #379 "Build #1423 - "Null Receiver""
Probably a mod spitting useless debug spam. It FLOODS my console.

Could it possibly be removed? Might be related to Wireless Redstone or RP2 or something.

[2013-04-26 10:29] Kusinagie commented on #364
Well did some testing, ended up dropping all the way to 1315 (jumping a bunch of builds at a time) just to get the chunk loaders to load on a server start  (even noticed the chunk count wasn't quite what it should be but they were working.)

 There may or may not be something going on with this save because i dont remember having the issues back then. I will re-build the server and a new world wit

[2013-04-26 12:22] mainsheep opened #380 "[SEVERE] Exception in main tick loop"
2013-04-26 05:20:28 [SEVERE] Exception in main tick loop
Stack trace unavailable. Add -XX:-OmitStackTraceInFastThrow to your java parameters to see all stack traces.

This is beeing spammed in my console at the moment. I'm running the latest dev version of TT and lagest legacy version of MCPC+.

System is Ubuntu Server 12.04 with Java version 7.

Thanks for your continued fantastic support ! :+1:

[2013-04-26 12:24] mainsheep commented on #380
Just to add, I didn't see this error before I implemented the latest build for TT, unless there is another error that came at the same time.

[2013-04-26 14:56] LunNova commented on #364
It goes wonky when loadChunkOnProvideRequest was disabled, I'm just
confused as with the latest changes it should work. Can you empty the
patchedMods folder and repatch before trying again with latest?
On 26 Apr 2013 11:29, "Kusinagie" notifications@github.com wrote:

[2013-04-26 14:57] LunNova commented on #380
Do as the warning requests, so we can actually see the issue.
On 26 Apr 2013 13:24, "mainsheep" notifications@github.com wrote:

[2013-04-26 16:43] clienthax opened #381 "Failed to generate a chunk in Broken world with ID -2147483648 at chunk coords 5,7"
2013-04-26 09:43:05 [SEVERE] [TickThreading] Failed to generate a chunk in Broken world with ID -2147483648 at chunk coords 5,7
2013-04-26 09:43:05 [SEVERE] [ForgeModLoader] Exception loading chunk asynchronously.
java.lang.NullPointerException
        at yc.E(World.java:4608)
        at aaz.a(MapGenBase.java:22)
        at aax.d(ChunkProviderHell.java:297)
        at org.bukkit.craftbukkit.v1_4_R

[2013-04-26 16:57] LunNova commented on #381
Fixed via 17a4a3511d485a20f.

[2013-04-26 16:57] #381 closed, assigned to LunNova

[2013-04-26 18:08] dantherrien commented on #246
Just had this happen again last night.  It has ONLY happened to me with ME chests, but multiple times.  Usually with disks that have a large number of items on it (over 100K dirt and last night over 130K charcoal)  I noticed a while back that the ME chest seemed to be causing problems as ./profile or ./ticks reported it as an offending block.  Not sure how different the code is between the drives

[2013-04-26 18:39] Kusinagie commented on #364
Okay either something between 1427 and 1429 or deleting everything in patched folder did the trick Thanks. Now its just the portal gun portals not loading on a server start :p

[2013-04-26 19:16] HaoSs07 commented on #246
i use only drives, and happens allot: but in lats days only to the first disk :) dont know why , also making sure chunk are always loaded seems to help

[2013-04-26 20:09] LunNova commented on #348
Closing this as invalid, as there is a workaround (now also in the wiki) and it's caused by a GriefPrevention bug.

[2013-04-26 20:09] #348 closed, assigned to LunNova

[2013-04-26 20:11] LunNova commented on #379
Confirmed as wireless redstone. Did this just start happening recently as people began to use WR, or did it happen immediately after updating TT or MCPC?

[2013-04-26 20:12] LunNova commented on #377
Closing as duplicate of #184, will get #184 fixed soon. Sorry about the delay, been busy :(

[2013-04-26 20:12] #377 closed, assigned to LunNova

[2013-04-26 20:13] alicheek commented on #377
no worries man take your time :)

[2013-04-26 20:31] Kusinagie commented on #364
Sorry Nallar portal gun portals still are not loading till a player loads them :p

[2013-04-26 20:51] Nohau commented on #376
I disabled unload worlds and issue went away it appears..

[2013-04-26 21:06] LunNova commented on #376
Towny is trying to use an unloaded world, not a TT issue. Added Towny to compatibility page.

[2013-04-26 21:06] #376 closed, assigned to LunNova

[2013-04-26 21:08] alicheek commented on #376
Think this is fixed with townys latest dev download issue is you get up another error that is a bit annoying for chests carts due to it being made for 1.5.1 but still works fine.

[2013-04-26 22:28] alicheek opened #382 "[TT 1429] [MCPC+ L19] [SEVERE] [TickThreading] Exception ticking entity px['item.tile.dirt'/75570"
Havent noticed any issues with this error but thought I should post it to u anyways :)

2013-04-26 19:01:16 [SEVERE] [TickThreading] Exception ticking entity px['item.tile.dirt'/75570, l='overworld', x=-1993.62, y=65.15, z=-1147.09] in rX: -124, rZ: -71, hashCode: -4653180:
java.lang.NullPointerException
    at lq.teleportTo(Entity.java:2793)
    at lq.b(Entity.java:2786)
    at px.b(EntityItem.ja

[2013-04-26 23:47] wormzjl commented on #371
Additional info: the whole aura system in that region got reset.

[2013-04-26 23:49] LunNova commented on #382
Do you have world unloading enabled? What's located at the coordinates in the error?

[2013-04-26 23:50] LunNova commented on #107
Closing this, mainly because the name's kinda' known now, and I'm too lazy to change it. The name's "good enough".  Maybe.

[2013-04-26 23:51] LunNova commented on #129
Still broken?

[2013-04-26 23:51] alicheek commented on #382
world unloading is set to false. ill check what is over there at the coordinates

[2013-04-26 23:53] LunNova commented on #167
Reasonably sure that this was a patching/classloading bug which is now fixed, will reopen if it's still a problem.

[2013-04-26 23:53] #167 closed, assigned to LunNova

[2013-04-26 23:54] LunNova commented on #164
Closing, forgot to close this earlier. Oops.

[2013-04-26 23:54] #164 closed, assigned to LunNova

[2013-04-26 23:55] LunNova commented on #173
Classloading issue which is now fixed.

[2013-04-26 23:55] #173 closed, assigned to LunNova

[2013-04-26 23:55] alicheek commented on #382
The area was just a grassy biome with nothing altered bit weird tbh lol seems the block was a grass block also or a dirt turning to grass?

[2013-04-26 23:55] LunNova commented on #178
Closing as the UE issues are fixed, and now MCPC+ issues are as separate issues, so no need for this.

[2013-04-26 23:55] #178 closed, assigned to LunNova

[2013-04-26 23:57] LunNova commented on #180
This should no longer be an issue due to Logistics Pipes design changes.

[2013-04-26 23:57] #180 closed, assigned to LunNova

[2013-04-27 00:01] LunNova commented on #203
Closing, as this looks like a patching error which is now fixed, or @tubaboy26 forgot to repatch after updating GregTech.

[2013-04-27 00:01] #203 closed, assigned to LunNova

[2013-04-27 00:02] LunNova commented on #382
Definitely checked the right coordinates? `x=-1993.62, y=65.15, z=-1147.09`, not `rX: -124, rZ: -71`. There should be a portal of some kind there. :s

[2013-04-27 00:02] alicheek commented on #129
id say its fixed never had any of my players complain