[2013-01-02 10:05] Puremin0rez opened #1 "IC2 Explosions don't work"
IC2 Explosions don't seem to work, this causes an exploit with the Nuclear Reactor because it'll never kill itself.

You can test it yourself by testing Industrial TNT, Nukes, Nuclear Reactors, etc.

TNT related items will work again if entity threading is disabled
Nuclear Reactor (which is a block and does tile ticking) will work again if entity tile threading is disabled

Hope this can be fixed

[2013-01-02 14:12] Puremin0rez opened #2 "BuildCraft NullPointerException"
Got this error in the console a few times, not sure what's triggering it besides what the code obviously states.
#

2013-01-02 07:53:17 [SEVERE] [TickThreading] Exception during tile entity tick
2013-01-02 07:53:17 [SEVERE] [TickThreading] Tick region: rX: -778, rZ: -443, ha
shCode: -29033226:
java.lang.NullPointerException
        at buildcraft.transport.TileGenericPipe.blockCreated(TileGenericPi

[2013-01-02 20:57] LunNova commented on #2
Should be fixed in build 194. Close this issue if that fixes it.

Kinda' surprised anyone's using TickThreading just now - not really ready for release, I still need to finish up automated error reporting and do more testing.

I'll look into the IC2 explosions issue later.

[2013-01-02 23:12] LunNova commented on #1
Fixed via 9f8aab18

[2013-01-02 23:12] #1 closed, assigned to LunNova

[2013-01-03 00:20] Puremin0rez commented on #2
I literally only found out about this from your reddit post you linked someone, I really quite like it and it's very stable so far.... zero issues besides those reported :)

Definitely worth your time and I appreciate it.

I'll test the 2 issues later today.

[2013-01-03 04:10] Puremin0rez commented on #2
Appears to be fixed, IC2 bug is fixed too.

Appreciate the work!

[2013-01-03 05:22] Puremin0rez commented on #2
@nallar

Seems like this has spawned another new issue:

2013-01-02 23:21:30 [SEVERE] [TickThreading] Exception during tile entity tick
2013-01-02 23:21:30 [SEVERE] [TickThreading] Tick region: rX: 83, rZ: 173, hashC
ode: 11337811:
java.lang.NullPointerException
        at buildcraft.transport.TileGenericPipe.initialize(TileGenericPipe.java)

[code]

ick(TileEntityTickRegion.java:61)
        at me

[2013-01-04 02:25] LunNova commented on #2
It should be fixed now.

[2013-01-04 02:27] Puremin0rez commented on #2
Okay, I'll try it out in a bit.

Thanks for the fast fixes :+1:

[2013-01-04 02:36] LunNova opened #3 "RedPower Wires issue"
`2013-01-04 03:25:59 [SEVERE] [TickThreading] Exception during tile entity tick
2013-01-04 03:25:59 [SEVERE] [TickThreading] Tick region: rX: 19, rZ: 18, hashCode: 1179667:
java.util.NoSuchElementException
        at java.util.LinkedList.removeFirst(LinkedList.java:268)
        at com.eloraam.redpower.core.RedPowerLib.updateCurrent(RedPowerLib.java:725)
        at com.eloraam.redpower.wiring.TileW

[2013-01-04 02:41] LunNova opened #4 "world.addedTileEntityList needs locking"
`2013-01-04 03:34:58 [SEVERE] [TickThreading] Tick region: rX: 21, rZ: 13, hashCode: 851989:
java.lang.IndexOutOfBoundsException: Index: 27, Size: 48
        at java.util.ArrayList.rangeCheck(ArrayList.java:604)
        at java.util.ArrayList.get(ArrayList.java:382)
        at yc.q(World.java:2804)
        at ic2.core.block.machine.tileentity.TileEntityCompressor.getValidPump(TileEntityCompressor.

[2013-01-04 02:57] #4 closed, assigned to LunNova

[2013-01-04 04:43] Puremin0rez opened #5 "Server fails to start "java.lang.ClassFormatError" (Build #215)"
I'm applying this build to FTB MindCrack v6
#

Exception in thread "main" java.lang.ClassFormatError: Duplicate method name&sig
nature in class file yc
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(Unknown Source)
        at java.security.SecureClassLoader.defineClass(Unknown Source)
        at java.net.URLClassLoader.defineClass(Unknown

[2013-01-04 05:02] Puremin0rez commented on #5
This commit appears to be to blame:
https://github.com/nallar/TickThreading/commit/c3be1caf710d0978a859f35fbed7847270b8a264

[2013-01-04 06:22] Puremin0rez opened #6 "Server Deadlock issue (Build #234 - Updated 1/4/2013)"
It's possible this was fixed in 214 and 215 - but they currently do not allow server start-up so I can't say for sure.

There is a very random deadlock occurring where everything will just completely freeze - no errors, no nothing. The server will need to be killed as it becomes 100% unresponsive.

Sorry but I have no more information then that since it's a deadlock.

[2013-01-04 14:05] Puremin0rez commented on #6
Also just to make sure, this commit did not solve this issue - related or not

https://github.com/nallar/TickThreading/commit/c98434f9db20dd4450de498c2e904d9b7f61c9c9

[2013-01-04 14:09] LunNova commented on #5
Fixed in build 216. Sorry about the delay, I went to sleep shortly after commiting :(

[2013-01-04 14:11] LunNova commented on #6
This might be fixed in #216, I'll also implement a watchdog thread so if it does still happen we can see exactly where it's stuck.

[2013-01-04 17:34] LunNova commented on #3
Crash fixed. Leaving this open as a reminder that I need to improve performance: make blockUpdates threadlocal.

[2013-01-05 01:36] Puremin0rez commented on #5
It's fixed :+1:

[2013-01-05 01:36] #5 closed, assigned to LunNova

[2013-01-05 01:38] Puremin0rez commented on #2
This particular null-pointer is fixed - will report if another one wiggles by

Resolved :+1:

[2013-01-05 01:38] #2 closed, assigned to LunNova

[2013-01-05 01:38] Puremin0rez commented on #6
Sounds awesome - will test shortly

[2013-01-05 01:39] LunNova commented on #6
The watchdog is working, but there are probably still deadlock issues in the current build.

[2013-01-05 01:42] Puremin0rez commented on #6
I guess we'll see how many I can catch then - lots of members on my server have been getting more complicated with machines now - perfect scenario. Regardless, I'm still on Build 204 (I think?) and it has been very stable for a few days now.

[2013-01-05 01:45] LunNova commented on #3
Fixed via cff9fd7d

[2013-01-05 01:45] #3 closed, assigned to LunNova

[2013-01-05 01:55] LunNova commented on #6
If you run into a deadlock with #232 it is probably fixed in #233.

[2013-01-05 05:29] Puremin0rez opened #7 "Divide by Zero error in /tps (Build #234)"
Every other time the command is used, a divide by zero error is thrown.

You can replicate it pretty easily by spamming /tps over and over again

/ticks also appears to not work at all.

The following commit did not solve the issue:
https://github.com/nallar/TickThreading/commit/15dc70b2d47203cffa30664fd8a6bf0c97bc816d

[2013-01-05 05:34] Puremin0rez opened #8 "Server Deadlock Detector doesn't save to a log file"
Since the Deadlock Detector is designed to shut the server down when a deadlock occurs, there is no way to obtain the deadlock information as it does not get dumped to the server.log file.

A workaround for this issue is to pause whatever script you use to start the server, so it doesn't close the console.

[2013-01-05 05:37] Puremin0rez commented on #6
I'm assuming I should keep deadlock reports to this issue, but if not - let me know.

This is a deadlock I'm getting on Build #234

http://pastebin.com/uN13biqc

Glancing over it, it appears to be related to Auras from Thaumcraft.

[2013-01-05 05:42] Puremin0rez commented on #8
This might be more of a feature then a bug, but it's much more annoying to grab a deadlock report when it doesn't dump to file.

[2013-01-05 09:44] LunNova commented on #7
Should be fixed in de7bc713

[2013-01-05 09:45] Puremin0rez commented on #7
@nallar

Hmm well I'm using Build 234 which is a few commits after that one and it's still causing the issues

[2013-01-05 10:13] LunNova commented on #7
Ah, looks like you ran into a different divide by zero error. Should be fixed in build 237.

[2013-01-05 10:14] LunNova commented on #6
`Current Thread: Server thread
    PID: 14 | Alive: true | State: TIMED_WAITING    Stack:
        java.lang.Thread.sleep(Native Method)
        net.minecraft.server.MinecraftServer.run(MinecraftServer.java:501)
        fy.run(SourceFile:849)`

Looks like it actually wasn't frozen, possibly a bug in the deadlock detector if no players are online? Should be fixed now.

[2013-01-05 10:15] LunNova commented on #8
For now, I've made shutting it down optional. Will implement a proper log soon.

It should end up in FML's log file, but doesn't for some reason :s.

[2013-01-05 10:15] Puremin0rez commented on #6
@nallar

Sounds correct, as I was running my testing server while I tried it out so there wasn't any players :P

[2013-01-05 10:17] Puremin0rez commented on #8
@nallar

Cool beans. You work fast man!

[2013-01-05 10:19] LunNova commented on #6
and it's probably not fixed in that build, because forge's tick handlers don't seem to run with no players online.

[2013-01-05 10:21] Puremin0rez commented on #6
@nallar

Errr.... that's a little odd.

Must perform workaround surgery! (Creates forge plugin to keep a bot player on at all times)

[2013-01-05 10:40] LunNova commented on #6
Actually, I just messed up. Forgot to actually implement .ticks() in ITickHandler. Should be fixed now.

[2013-01-05 11:28] Puremin0rez commented on #7
Fixed :+1:

[2013-01-05 11:28] #7 closed, assigned to LunNova

[2013-01-05 11:29] Puremin0rez commented on #6
Yep, that particular deadlock has been fixed. Time to find more!

[2013-01-05 14:18] Puremin0rez commented on #6
Looks great so far, 10~ players on and no deadlocks thus far... I notice the load is higher in /tps now, is that because its more accurate or because it's just overall more heavier now?

[2013-01-05 15:11] LunNova commented on #6
It's more accurate now. Still not 100% accurate, it's hard to measure. Load may also be higher, but I would hope not.

Looking at your server, 76% total load and 2% individual load seems incorrect. I'll look into it.

[2013-01-05 15:11] LunNova commented on #6
Seems I checked during a lag spike (backup?). Load's back down to ~10% which makes more sense.

[2013-01-05 18:54] LunNova commented on #8
It now saves a log to `tickthreading.log`. The patcher saves to `patcher.log`.

[2013-01-05 18:54] #8 closed, assigned to LunNova

[2013-01-05 22:19] LunNova opened #9 "Steve's carts GUIs broken"
Not really sure what's up with these, but they cause clients to DC.

Currently trying to investigate, but fernflower has trouble with steve's carts.

[2013-01-06 00:56] Puremin0rez opened #10 "Removed invalid entity "dan200.turtle.shared.RedPowerTileEntityTurtle""
2013-01-05 18:23:37 [FINE] [TickThreading] Removed invalid tile: -12507, 55, -7092  type:class dan200.turtle.shared.RedPowerTileEntityTurtle

[2013-01-06 00:57] Puremin0rez opened #11 "IC2 API Error"
This was spammed a billion times in the past 10 hours or so

2013-01-05 18:23:38 [WARNING] [IC2] API ERROR: ic2.core.block.machine.tileentity.TileEntityInduction@68c3beb4 didn't implement demandsEnergy() properly, no energy from injectEnergy accepted although demandsEnergy() returned true.

[2013-01-06 00:58] LunNova commented on #11
That's an IC2 API / advanced machines bug, seen it on a mindcrack server without tickthreading.

[2013-01-06 00:58] #11 closed, assigned to LunNova

[2013-01-06 01:00] Puremin0rez commented on #10
Here is a few more I caught - not sure if important

2013-01-05 18:52:14 [FINE] [TickThreading] Removed invalid tile: -2243, 109, -879   type:class com.eloraam.redpower.lighting.TileShapedLamp

2013-01-05 18:53:12 [FINE] [TickThreading] Removed invalid tile: -2238, 107, -876   type:class buildcraft.transport.TileGenericPipe

[2013-01-06 01:00] LunNova commented on #10
That's not an error, it just means that a machine was destroyed/moved via destruction and recreation. I'll disable the message as it's not necessary and was for debugging.

[2013-01-06 01:00] Puremin0rez commented on #10
Okay cool, just making sure.

[2013-01-06 01:01] #10 closed, assigned to LunNova

[2013-01-06 01:04] LunNova commented on #11
Also, I believe it can be fixed by connecting power to advanced machines from any side other than the bottom.

[2013-01-06 01:38] Puremin0rez commented on #11
Yeah I actually figured this wasn't your fault when I thought about it - just covering all the bases.

No other errors then those reported today in the last 10 hours or so - pretty good!

[2013-01-06 01:41] Puremin0rez commented on #6
There have been no deadlocks in the last 10~ hours so I'm guessing the frequent ones are gone, or maybe they're all gone!

Will reopen issue when another one is found.

[2013-01-06 01:41] #6 closed, assigned to LunNova

[2013-01-06 12:51] #9 closed, assigned to LunNova

[2013-01-07 04:31] Puremin0rez opened #12 "Forestry Carpenters cause client crash"
This doesn't happen without TickThreading

Reproduce:
Run MindCrack v6 server WITHOUT TickThreading
Spawn Carpenter
Place Carpenter
Attempt to open it - it should work fine

Run MindCrack v6 Server WITH TickThreading
Spawn Carpenter
Place Carpenter
Attempt to open it - you will crash immediately.

You also cannot craft the item with TickThreading enabled, it doesn't let you take it from the crafti

[2013-01-07 07:21] Puremin0rez opened #13 "Xycraft and Thaumcraft random client side crashes"
Again, mildly similar to Carpenter crashing issue

Ever since we've Installed TickThreading on our main server, people have been crashing client-side with the following 2 crash reports - I've had them send me there entire folder of crash reports and it's happening quite frequently and they all seem to have the same error.

We removed TickThreading for an entire day, and the issues did not happen.

[2013-01-07 17:59] LunNova commented on #12
I'm guessing you didn't see due to the console spam from advanced machines/IC2, but the server console shows `2013-01-07 17:49:36 [INFO] [ForgeModLoader] Encountered a class forestry.core.gadgets.TileMachine with meta 5. However no such MachinePackage exists. Falling back to meta=0.` when this happens.

Should have it fixed soon :)

[2013-01-07 19:10] #12 closed, assigned to LunNova

[2013-01-07 19:19] Sp0nge opened #14 "Opening Carpenter"
Generated 07.01.13 20:15

-- Head --
Stacktrace:
    at forestry.factory.gui.GuiFermenter.drawGuiContainerBackgroundLayer(GuiFermenter.java:29)
    at forestry.core.gui.GuiForestry.a(GuiForestry.java:231)

-- Screen render details --
Details:
    Screen name: forestry.factory.gui.GuiFermenter
    Mouse location: Scaled: (320, 240). Absolute: (640, 481)
    Screen size: Scaled: (640, 481). Absolute

[2013-01-07 19:22] LunNova commented on #14
Looks like the patcher must have messed up, as I've tested the fix as working locally. Please add your patcher.log.

[2013-01-07 19:23] Sp0nge commented on #14
Patcher:

01-07 20:24:33 [WARNING] [TickThreading] in is in multiple jars: /home/minecraft/testingonly/minecrack.jar, /home/minecraft/testingonly/mods/StevesCarts2.0.0.a41.zip
01-07 20:24:33 [INFO] [TickThreading] Replaced a
01-07 20:24:33 [INFO] [TickThreading] Replacing (Llq;Laoe;)Ljava/util/List; with (Llq;Laoe;)Ljava/util/List;
01-07 20:24:33 [INFO] [TickThreading] Replaced b
01-07 20:24:33 [I

[2013-01-07 20:54] LunNova commented on #14
We discussed via IRC + voice, got it fixed. :)

[2013-01-07 20:54] #14 closed, assigned to LunNova

[2013-01-07 21:01] LunNova commented on #13
TT seems to be making a forge issue worse - in the build included with mindcrack, forge is at a build with faulty chunk compression. This causes chunks to load incorrectly sometimes, which can cause rendering crashes.

The issue only happens with multiple players in an area, and I believe that TT is making it worse by increasing the chance of two players loading the same chunks at the same time.

[2013-01-07 21:45] LunNova commented on #13
Forge was already up to date, but the issue I reported with the fields not being volatile has not been fixed - I've added this to the patcher. It fixes an issue with garbage chunk data, but maybe not the issue causing this. There may also be others.

[2013-01-07 21:56] Puremin0rez commented on #13
Should I go ahead and update Forge on the server to the latest available build? I'm assuming it'll still be compatible with the clients

[2013-01-07 22:33] LunNova commented on #13
No, turns out forge was already up to date - I got the version wrong.

The issue should be fixed in the latest build though :)

[2013-01-07 22:36] Puremin0rez commented on #13
Okay I'll be sure to try it out - thanks for being awesome! One of my favorite devs.

[2013-01-08 04:39] Puremin0rez opened #15 "2 errors in Patcher"
http://pastebin.com/FfSBVyr8

http://pastebin.com/rTu2LinY

[2013-01-08 04:58] Puremin0rez opened #16 "Map Chunk "Borders""
Not sure if TT is causing it - but I haven't noticed it until I messed around with the newest builds - possibly related to the errors in my other issue report?

http://i.imgur.com/5p8IP.jpg

[2013-01-08 05:47] Puremin0rez commented on #16
Now that I'm looking over it, I'm pretty sure this is NOT caused by TT - but I'm leaving this ticket here incase you stumble upon anything. Better to report more then less!

I'm guessing MindCrack v7 updated some terrain stuff

[2013-01-08 07:45] LunNova commented on #16
That seems to be the case, won't have time to test with v7 for about 8 hours so I'll leave this open just in case it is a problem.

[2013-01-08 08:15] #15 closed, assigned to LunNova

[2013-01-08 16:26] LunNova commented on #16
Looks like the extrabiomesxl update changed worldgen.

[2013-01-08 16:26] #16 closed, assigned to LunNova

[2013-01-08 22:46] Puremin0rez commented on #13
So far so good... haven't had any users report client crashes today.

[2013-01-09 07:27] Puremin0rez opened #17 "Another Random Clientside Crash"
http://pastebin.com/zL6yQan2

3 of my users had that today, I figured it was just Minecraft itself but since someone over in the TickThreading thread on FTB forums posted it aswell - I figured it might be an issue.

http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/page-2#post-81010

[2013-01-09 08:38] Puremin0rez opened #18 "EOFException from Gregs Tech"
2013-01-09 02:36:38 [INFO] [STDERR] java.io.EOFException
2013-01-09 02:36:38 [INFO] [STDERR]     at java.util.zip.GZIPInputStream.readUBy
te(Unknown Source)
2013-01-09 02:36:38 [INFO] [STDERR]     at java.util.zip.GZIPInputStream.readUSh
ort(Unknown Source)
2013-01-09 02:36:38 [INFO] [STDERR]     at java.util.zip.GZIPInputStream.readHea
der(Unknown Source)
2013-01-09 02:36:38 [INFO] [STDERR]     a

[2013-01-09 10:15] Puremin0rez opened #19 "Feature: Change Vanilla Auto-Save Interval?"
Does this have anything to do with Threading? Not really.

Would it be awesome to change the save interval? Yes!

TickThreading seems to be about improving performance and this slight ability to change the save interval would be amazing.

If you don't want to add it to TickThreading, do you think you could make a simple mod that would be able to do such a thing? or know a mod that would be able to

[2013-01-09 15:50] LunNova commented on #19
I'll make it configurable in TT.
On 9 Jan 2013 10:15, "Dylan Xaldin" notifications@github.com wrote:

[2013-01-09 20:33] BitVector opened #20 "No permissions set for /ticks command"
The /ticks command shows coordinates of lag-generating areas in the world, and since anyone can use that command, a player can easily locate possible unprotected bases.

This command, specifically, should be accessible by admins and ops only.

[2013-01-09 23:21] LunNova commented on #13
Closing this, since these exceptions seem to be fixed.

[2013-01-09 23:21] #13 closed, assigned to LunNova

[2013-01-09 23:23] LunNova commented on #18
Ah, latest builds currently include some half-implemented stuff and are broken. I don't have a good way of indicating that though :(

This'll be fixed when some new patching code is done. For now, keep using build 290.

[2013-01-09 23:23] LunNova commented on #17
Thanks, I'll look into it.

[2013-01-09 23:37] LunNova commented on #20
Fixed, although it's not usable yet due to bugs with chunk/world ticking in the builds the fix will be in.

[2013-01-09 23:37] #20 closed, assigned to LunNova

[2013-01-10 01:25] Puremin0rez opened #21 "IC2 wires stop working randomly (Build 290)"
I wake up to my log file being over 1gb!

Wires randomly stopped working sometime during the night and all that is spammed in console to infinity is the following

2013-01-09 19:21:28 [WARNING] [IC2] EnergyNet.emitEnergyFrom: ic2.core.block.wir
ing.TileEntityElectricMFSU@bc095ba is not added to the enet
2013-01-09 19:21:28 [WARNING] [IC2] EnergyNet.emitEnergyFrom: ic2.core.block.wir
ing.TileEntity

[2013-01-10 01:38] LunNova commented on #21
Ouch, will need to add a log size limit. Any exceptions in
tickthreading.log?
On 10 Jan 2013 01:25, "Dylan Xaldin" notifications@github.com wrote:

[2013-01-10 01:40] Puremin0rez commented on #21
@nallar

This is the only thing I found in the TT.log file

01-09 14:57:12 [SEVERE] [TickThreading] Inconsistent state, a tile entity is in the wrong TickRegion
entity: class anr at x,y,z:438,41,321
Has hashcode: 1310747
Region: rX: 27, rZ: 27, hashCode: 1769499

No idea if its relevant, but there is nothing else besides that - and I can't open up the log file to check because it's too big lol

[2013-01-10 06:58] LunNova commented on #21
Disregard that last question, failed at reading.
On 10 Jan 2013 01:38, "Ross Allan" wrote:

[2013-01-10 08:10] damien opened #22 "Patcher fails to run"
I've attempted running the patcher with no success. Here's what I'm getting: https://gist.github.com/4500347

[2013-01-10 08:17] LunNova commented on #22
Change the temp folder java uses, or make sure it has permissions to access
/tmp.
On 10 Jan 2013 08:10, "Damien Wilson" notifications@github.com wrote:

[2013-01-10 13:50] Puremin0rez commented on #21
It's possible this is related to this:
http://forum.feed-the-beast.com/threads/mindcrack-modpack-v7-warning-ic2-api-error-ic2-core-block-machine.7081/

but some of the users are reporting power works fine etc - which in my case, it's not. It'll just happen and kill all ic2 power on the server from ticking.

[2013-01-10 21:07] LunNova opened #23 "ComputerCraft deadlock"
`Current Thread: Tick Thread for world/Overworld - 4
    PID: 54 | Alive: true | State: BLOCKED    Stack:
        dan200.computer.shared.WirelessModemPeripheral.pollChanged(WirelessModemPeripheral.java:50)
        dan200.turtle.shared.TurtleModem$Peripheral.update(TurtleModem.java:66)
        dan200.computer.core.apis.PeripheralAPI$PeripheralWrapper.update(PeripheralAPI.java:100)
        dan200.co

[2013-01-11 00:38] #19 closed, assigned to LunNova

[2013-01-11 08:29] LunNova opened #24 "ChickenChunks NPE"
`---- Minecraft Crash Report ----
// Don't do that.

Time: 1/11/13 6:30 AM
Description: Exception in server tick loop

java.lang.NullPointerException
    at java.util.LinkedList$ListItr.next(LinkedList.java:891)
    at codechicken.chunkloader.PlayerChunkViewerManager.update(PlayerChunkViewerManager.java:103)
    at codechicken.chunkloader.ChunkLoaderEventHandler.tickEnd(ChunkLoaderEventHandler.jav

[2013-01-11 18:26] #18 closed, assigned to LunNova

[2013-01-11 20:52] #22 closed, assigned to LunNova

[2013-01-11 21:06] LunNova commented on #17
This indicates a client bug which isn't TT's fault, as far as I can see.

Some mod is removing entities incorrectly while ticking them in the client. Are people using mystcraft/TF portals when this happens? That may be related.

[2013-01-11 22:13] LunNova commented on #24
Fixed via 4946e0fa9e7a2.

[2013-01-11 22:13] #24 closed, assigned to LunNova

[2013-01-12 00:39] LunNova opened #25 "RedPower Tube NPE"
`ticking: class com.eloraam.redpower.machine.TileTube at x,y,z:-2819,67,-4415
Tick region: rX: -176, rZ: -275, hashCode: -18022576:
java.lang.NullPointerException
        at java.util.LinkedList$ListItr.next(LinkedList.java:891)
        at com.eloraam.redpower.core.TubeFlow.update(TubeFlow.java:52)
        at com.eloraam.redpower.machine.TileTube.g(TileTube.java:167)
        at me.nallar.tickthrea

[2013-01-12 00:59] #25 closed, assigned to LunNova

[2013-01-12 05:35] Puremin0rez commented on #17
I don't have Mystcraft installed and I haven't gotten this crash for quite a few days now, so I'm assuming its a unpredictable crash unrelated to TT

[2013-01-12 05:35] #17 closed, assigned to LunNova

[2013-01-12 05:37] Puremin0rez commented on #21
Still unsure if this issue is related to TT - I think TT might just be amplying the effect of the bug - so hopefully the new ic2 fixes it.

[2013-01-12 05:57] Puremin0rez opened #26 "Jenkins Builds "empty" as of Build 334"
Build 333 was the last build to include "me.nallar"

Every build after, the folder is non existent therefore the mod does not function at all.

[2013-01-12 09:53] gustav9797 opened #27 "Build 333 ticking world exception"
01-12 08:01:04 [INFO] [TickThreading] Threading initialised for world world/Twilight Forest
01-12 08:01:04 [INFO] [TickThreading] Threading initialised for world world/The End
01-12 08:01:04 [INFO] [TickThreading] Threading initialised for world world/Nether
01-12 08:01:04 [INFO] [TickThreading] Threading initialised for world world/Overworld
01-12 08:01:06 [SEVERE] [TickThreading] TickThreading i

[2013-01-12 09:55] gustav9797 opened #28 "Build 333 error after disabling world ticking"
---- Minecraft Crash Report ----
// You're mean.

Time: 1/12/13 8:04 AM
Description: Exception ticking world

java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at im.a(ChunkProviderServer.java:99)
    at ik.b(SourceFile:163)
    at in.b(WorldServer.java:182)
    at net.mine

[2013-01-12 09:56] gustav9797 opened #29 "Build 333 Chunks won't load around players"
With chunkticking and worldticking disabled in the config, it doesn't crash but chunks won't load around players. They can do commands and chat like normal.

[2013-01-12 10:12] Puremin0rez commented on #29
I can confirm this issue.

[2013-01-12 10:19] Puremin0rez commented on #21
I am now testing my modified IC2 (current ftb ic2 with new energynet classes thrown in) + TT

Time to see the results over a course of time..

[2013-01-12 14:13] gustav9797 opened #30 "Close, issue fixed in newer builds"
Current configuration(enabling chunkticking or worldticking crashes it):

[code]

I've checked through server.log and tickthreading logs, no errors.
Maybe this has something to do with disabling ticking?

[2013-01-12 16:43] #29 closed, assigned to LunNova

[2013-01-12 17:04] LunNova commented on #26
Fixed via 6d900bdd63fd7. Those builds should have been marked as failures, but MCP returns success when it fails...

[2013-01-12 17:04] #26 closed, assigned to LunNova

[2013-01-12 17:07] #28 closed, assigned to LunNova

[2013-01-12 17:50] LunNova commented on #27
This should also be fixed in 8aeeb721c9d.

[2013-01-12 17:50] #27 closed, assigned to LunNova

[2013-01-12 17:50] LunNova commented on #30
Disabling chunk tick threading should just revert it to normal behaviour, I must have broken something else :(

Will look into it.

[2013-01-12 17:51] LunNova commented on #23
I've had no full report yet, and it hasn't happened again. This may have beenf ixed when synchronizing forge ticks, will re-open if it happens again.

[2013-01-12 17:51] #23 closed, assigned to LunNova

[2013-01-12 20:03] gustav9797 opened #31 "Build 342 Urgent - Console error spam - flooding log"
01-12 18:41:02 [SEVERE] [TickThreading] Unhandled exception in worker thread
java.lang.ArrayIndexOutOfBoundsException: -4
    at a.a(CrashReport.java:259)
    at yc.a(World.java:4341)
    at net.minecraft.server.MinecraftServer.tickWorld(MinecraftServer.java:147)
    at me.nallar.tickthreading.minecraft.patched.PatchMinecraftServer$TickRunnable.run(PatchMinecraftServer.java:186)
    at me.nallar.t

[2013-01-12 20:10] #30 closed, assigned to LunNova

[2013-01-12 20:18] gustav9797 opened #32 "Error patching from build 342 to 345"
This is when I start the server first time with build 345. The PATCHME.sh errors.

---- Minecraft Crash Report ----
// There are four lights!

Time: 1/12/13 8:15 PM
Description: Exception ticking world

java.lang.NoClassDefFoundError: me/nallar/tickthreading/minecraft/patched/PatchWorldServer$TickRunnable
    at in.g(WorldServer.java:50)
    at in.b(WorldServer.java:180)
    at net.minecraft.serve

[2013-01-12 20:20] LunNova commented on #32
Can you also paste the patcher.log file from the TickThreadingLogs directory?

[2013-01-12 20:22] gustav9797 commented on #32
root@ccsrv:/home/newserver2# sh PATCHME.sh
Error: Could not find or load main class me.nallar.tickthreading.patcher.PatchMain

Can't run it.

[2013-01-12 20:39] LunNova commented on #32
For now, use [this](https://gist.github.com/4520347) shell script. Put it in your server directory, run ./UpdateTT.sh <buildnumber>

I still need to fix the normal way of patching, looks like it only works just now with a clean install.

[2013-01-12 20:43] gustav9797 commented on #32
Worked flawlessly!

[2013-01-12 20:45] LunNova commented on #32
Reopened because the patcher is still broken, even if your specific issue is fixed with that shell script.

[2013-01-12 20:51] LunNova commented on #31
This should be fixed in 41ec6af9923.

[2013-01-12 20:51] #31 closed, assigned to LunNova

[2013-01-12 22:01] gustav9797 opened #33 "Build 350 chunkloader crash"
---- Minecraft Crash Report ----
// Don't be sad, have a hug! <3

Time: 1/12/13 9:59 PM
Description: Exception in server tick loop

java.lang.NullPointerException
    at java.util.LinkedList$ListItr.next(LinkedList.java:891)
    at codechicken.chunkloader.PlayerChunkViewerManager.update(PlayerChunkViewerManager.java:103)
    at codechicken.chunkloader.ChunkLoaderEventHandler.tickEnd(ChunkLoaderEve

[2013-01-12 22:27] #33 closed, assigned to LunNova

[2013-01-12 22:55] gustav9797 opened #34 "Build 355 chunkloader crash - not fixed appearently"
Updated it to 355 with the shell script, still got this error

---- Minecraft Crash Report ----
// This doesn't make any sense!

Time: 1/12/13 10:53 PM
Description: Exception in server tick loop

java.lang.NullPointerException
    at java.util.LinkedList$ListItr.next(LinkedList.java:891)
    at codechicken.chunkloader.PlayerChunkViewerManager.update(PlayerChunkViewerManager.java:103)
    at codech

[2013-01-12 22:56] LunNova commented on #34
Oh, sorry :(

[2013-01-12 23:03] LunNova commented on #34
Close this if build 356 fixes it.

[2013-01-12 23:04] gustav9797 commented on #34
I'll update and check tomorrow if it has crashed.

[2013-01-13 01:45] Puremin0rez commented on #21
Well then! That most definitely did not help.

8GB Log file and exact same problem as before :(

I'm thinking this is a TT problem now, I haven't seen anyone else talk about this specific issue im receiving.

[2013-01-13 01:56] Puremin0rez commented on #21
@nallar
Here's more of that spam crap i've been seeing:
http://pastebin.com/wXutdttU

This wouldn't be that bad of an issue if it didn't spam the log file - could you possibly patch that debug out of ic2? (not sure if possible)

[2013-01-13 01:59] LunNova commented on #21
Which build is this occurring in? Can't reproduce power not working.

I'll look into reducing logging.

[2013-01-13 02:09] Puremin0rez commented on #21
@nallar

It's build 290

I've tried stock IC2, IC2 modified with new enegerynet classes and nothing works.

It's extremely hard to replicate because it happens when it feels like it, the server was up for 17 hours but didn't happen until the last 2 hours of that. In this case however, wires did NOT stop working - however, the spam was being written at least every half a second and dropped the perf

[2013-01-13 02:10] LunNova commented on #21
I'll take a closer look at the ENet code.

[2013-01-13 02:52] Puremin0rez opened #35 "Divide by Zero in /tps - Build 366"
2013-01-12 20:52:05 [INFO] [STDERR] java.lang.ArithmeticException: / by zero
2013-01-12 20:52:05 [INFO] [STDERR]     at me.nallar.tickthreading.minecraft.Tic
kManager.getBasicStats(TickManager.java:230)
2013-01-12 20:52:05 [INFO] [STDERR]     at me.nallar.tickthreading.minecraft.com
mands.TPSCommand.processCommand(TPSCommand.java:28)
2013-01-12 20:52:05 [INFO] [STDERR]     at me.nallar.tickthreadi

[2013-01-13 02:55] Puremin0rez opened #36 "Unhandled Exception in Worker Thread - Build 366"
http://pastebin.com/KqFiHc3a

[2013-01-13 03:21] LunNova commented on #35
Fixed via 5ce2a9b1cad20a

[2013-01-13 03:21] #35 closed, assigned to LunNova

[2013-01-13 03:23] LunNova commented on #36
This should be fixed in the latest build.

[2013-01-13 03:28] LunNova opened #37 "PlayerManager Deadlock"
https://gist.github.com/61f0b85bd78330c72d0b

[2013-01-13 03:36] Puremin0rez commented on #21
It just happened again in the first hour - Gonna try rolling without TT

[2013-01-13 03:56] LunNova commented on #21
It's definitely a TT issue, just I can't reproduce it :(

[2013-01-13 04:00] LunNova opened #38 "RedPower Wire issue"
2013-01-13 05:02:46 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: class com.eloraam.redpower.logic.TileLogicPointer at x,y,z:-345,48,-568
Tick region: rX: -21, rZ: -35, hashCode: -2293781:
t: Exception while updating neighbours
        at yc.m(World.java:841)
        at yc.h(World.java:801)
        at alv.l(BlockRedstoneWire.java:106)
        at alv.a(BlockRedstoneWire.java:4

[2013-01-13 04:02] Puremin0rez commented on #21
@nallar

This may be related to the region based ticking of TT

I had 2 users today tell me there power stopped working in there house at this time, yet the power in other places around the map was functioning at this time. Eventually, they all slowly started to "die".

You've simulated real life power outages via TT - congratulations!!! hahaha

As said, if the debug spam from IC2 could be disable

[2013-01-13 09:05] gustav9797 commented on #34
It didn't crash over the night, fixed.

[2013-01-13 09:05] #34 closed, assigned to LunNova

[2013-01-13 10:53] gustav9797 opened #39 "ComputerCraft deadlock - error found"
http://pastebin.com/x4aas2LW
+
http://pastebin.com/jwD9zv3T

[2013-01-13 12:18] LunNova commented on #39
Surprisingly, this isn't a TickThreading bug! That exact issue can happen with a Vanilla install.

As you can see, a computercraft thread is waiting on a tick thread, which is waiting on that CC thread. Without TT installed, the only difference is it'd be the main server thread and not a tick thread. Poke dan200 with the first log.

[2013-01-13 12:23] #39 closed, assigned to LunNova

[2013-01-13 12:23] LunNova commented on #38
Fixed via ee92b654d5c8f86a3

[2013-01-13 12:23] #38 closed, assigned to LunNova

[2013-01-13 12:51] Puremin0rez opened #40 "Incorrect total load in /tps? (Build 377)"
I've been using the "newer" builds for most of the day today, with pretty good success.

I've noticed that /tps shows much much higher numbers then before, and they don't always make sense.

I've had an instance earlier where the world had a load of 57%, and the nether had a load of 7%, but the total load was shown as 37%.

Here's an image of slightly miscalculated stats, but there are not alot of

[2013-01-13 13:02] Puremin0rez opened #41 "High CPU Usage? (Build 377)"
There is currently zero people on my server and it's taking anywhere from 10-25% CPU

When there is a single person on (being me) It'll jump anywhere from 25-70%, even if I'm just sitting absolutely still with no machines etc ticking.

All chunk loading features etc are disabled, so it can't be that...

I did not have this issue on Build 290

[2013-01-13 13:09] LunNova commented on #40
Total loads don't add up together now, as worlds tick concurrently. Probably shouldn't be way off though.

[2013-01-13 13:11] LunNova commented on #41
Is it any better in 381?

[2013-01-13 13:12] LunNova commented on #37
Resolved via 7962f0a841ff3de45bd994a62f43564cce5a427f

[2013-01-13 13:12] #37 closed, assigned to LunNova

[2013-01-13 13:12] Puremin0rez commented on #41
@nallar

I'll have to give it a shot in a few hours, I'm on my way out right now.

[2013-01-13 13:18] Puremin0rez commented on #21
@nallar

I'm now rolling with Build 377 so we'll see if this issue still happens on it...

I still would like to see the ic2 debug messages nerfered, however.

[2013-01-13 14:26] Puremin0rez commented on #41
Managed to throw 381 really quick, I mean, I guess it's slightly better.... but I'm still seeing some odd behavior.

0 People on = 20% CPU with random spikes etc
4 People on = 20-40% CPU with random spike etc

It definitely didn't do this on 290, load is much higher and I'm not sure why.

[2013-01-13 16:03] gustav9797 opened #42 "Build 391 Unhandled exception in worker thread, chunkloader"
01-13 16:01:49 [SEVERE] [TickThreading] Unhandled exception in worker thread
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at codechicken.chunkloader.PlayerChunkViewerManager.calculateChunkChanges(PlayerChunkViewerManager.java:155)
    at codechicken.chunkloader.ChunkLo

[2013-01-13 20:26] gustav9797 opened #43 "Instability"
I've been playing on the server with around 20 players online for some hours, and it has frozen around 5 times, for about 2-3 minutes. After that it works normally again. When the server is full the overall load is around 50%. Is this caused by TickThreading?

When it freezes:

2013-01-13 20:47:22 [INFO] [STDERR] java.net.SocketException: Broken pipe
2013-01-13 20:47:22 [INFO] [STDERR]     at java

[2013-01-13 20:46] gustav9797 opened #44 "Build 396 - ComputerCraft - Turtles don't save inventory or programs if the server stops."
I've noticed this two times now, turtles don't save their data. A turtle had 4 stacks of wood in it and was running a program when I restarted the server, and when I came back the program and wood was missing.

[2013-01-14 01:03] Puremin0rez opened #45 "Unhandled Exception in Worker thread (Build 403)"
01-13 18:59:43 [SEVERE] [TickThreading] Unhandled exception in worker thread
java.lang.NullPointerException
    at ik.b(SourceFile:156)
    at in.b(WorldServer.java:182)
    at net.minecraft.server.MinecraftServer.doTick(MinecraftServer.java:237)
    at me.nallar.tickthreading.minecraft.patched.PatchMinecraftServer$TickRunnable.run(PatchMinecraftServer.java:265)
    at me.nallar.tickthreading.mine

[2013-01-14 01:15] Puremin0rez opened #46 "Leaf decay on modded trees? (Build 403)"
I went into a giant forest and all of the leaves are decaying, even though there is definitely log right next to them. I've sat here for 5~ minutes and the entire tree lost all of its leaves. It's doing this in all of the big tree biomes from what I can see.

This doesn't appear to be happening to smaller trees.

This might not be a TT Bug, but I've just noticed it.

[2013-01-14 01:18] Puremin0rez commented on #45
I should also mention all mobs on the server "freeze" when this happens, which is around 5~ minutes after the server is up.

[2013-01-14 01:22] Puremin0rez commented on #44
I'm not quite able to reproduce this - are you setting a label on the turtle?

Turtles only save there data with a label set

label set yournamehere

I've tried to replicate your issue on Build 403 and couldn't - but 403 is pretty instable anyways, so.

[2013-01-14 05:48] gustav9797 commented on #44
I mean you place a turtle, place some stuff in its inventory and code a program, run the program, stop the server, start and the program and inventory are gone. This might only occour when the turtle is running a program and is moving, though.

[2013-01-14 06:19] gustav9797 opened #47 "Build 408 - Exception in server tick loop"
Prevents me from starting the server with build 403+.

---- Minecraft Crash Report ----
// Ooh. Shiny.

Time: 1/14/13 6:16 AM
Description: Exception in server tick loop

java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at codechicken.chunkloader.PlayerChunkViewerManager.ca

[2013-01-14 07:25] Puremin0rez commented on #46
I should note the trees this is happening too is from ExtraBiomesXL

[2013-01-14 14:59] LunNova commented on #43
If it has frozen for that long, it should trigger the deadlock detector.
Was there a report in the TT log?

I've been playing on the server with around 20 players online for some
hours, and it has frozen around 5 times, for about 2-3 minutes. After that
it works normally again. When the server is full the overall load is around
50%. Is this caused by TickThreading?

—
Reply to this email directly

[2013-01-14 15:42] gustav9797 commented on #44
I should also mention that turtles tend to loose their tools all the time(Server restart too I think)

[2013-01-14 17:44] LunNova commented on #41
Can you a) try the latest build again, b) change cores in config file to the number of cores you have.

[2013-01-14 17:51] LunNova commented on #46
This doesn't seem to be happening to me, what's the biome name?

[2013-01-14 17:58] gustav9797 commented on #43
Flushed the logs yesterday, I'll check.

[2013-01-14 18:58] Nessiroj opened #48 "Unhandled Exception handled in workerthread spam - Console"
Build 290
Nothing to see in the serverlog (cause it hasn't crashed yet) CPU and Mem usage are going wacky atm (both 100%). and the following error just keeps getting spamming in my FML logfile:

2013-01-14 19:30:34 [SEVERE] [TickThreading] Unhandled exception in worker thread
t: Exception ticking world
    at net.minecraft.server.MinecraftServer.tickWorld(MinecraftServer.java:142)
    at me.nallar

[2013-01-14 19:33] LunNova commented on #48
This should be fixed in 349f65b2e56c8a9. Close this if the error doesn't happen again.

[2013-01-14 20:07] LunNova commented on #45
Sorry, somehow missed this issue. Got another report, and it should be fixed now. Closing this, see #48.

[2013-01-14 20:07] #45 closed, assigned to LunNova

[2013-01-14 20:08] #40 closed, assigned to LunNova

[2013-01-14 20:13] gustav9797 commented on #44
Found this thread. Hope it helps..
http://www.computercraft.info/forums2/index.php?/topic/6831-142smpftbcc-v146turtle-looses-his-mining-pickaxe-after-server-crash/

[2013-01-14 20:34] #36 closed, assigned to LunNova

[2013-01-14 21:49] Nessiroj commented on #48
Installed .405 build. so far 1 hour uptime of the server no error yet, and it feels more stable then before. Will see how it goes overnight

[2013-01-14 21:57] #32 closed, assigned to LunNova

[2013-01-14 21:58] LunNova commented on #21
It might finally be fixed as of build 414.

[2013-01-15 01:18] Nessiroj commented on #48
4 hours uptime no problems so far, we even stresstested the server for 3 hours under full load (lag ftw but it was for a good cause) so far i love the .405 build

[2013-01-15 01:18] #48 closed, assigned to LunNova

[2013-01-15 02:15] Sp0nge opened #49 "Frequent deadlocks"
01-15 02:49:27 [INFO] [TickThreading] Threading initialised for world world/Twilight Forest
01-15 02:49:27 [INFO] [TickThreading] Threading initialised for world world/The End
01-15 02:49:27 [INFO] [TickThreading] Threading initialised for world world/Nether
01-15 02:49:29 [INFO] [TickThreading] Threading initialised for world world/Overworld
01-15 02:49:30 [SEVERE] [TickThreading] TickThreading i

[2013-01-15 02:16] Sp0nge commented on #49
That formating went sour ... :P

[2013-01-15 02:38] Puremin0rez commented on #49
@Sp0nge

Github likes to do that :P

[2013-01-15 02:58] Sp0nge opened #50 "414"
2013-01-15 04:01:37 [SEVERE] [TickThreading] Unhandled exception in worker thread
java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.remove(HashMap.java:912)
        at codechicken.wirelessredstone.core.RedstoneEtherServer.unloadJammedMap(RedstoneEtherServer.java:652)
        at codechicken.wirelessredstone.core.RedstoneEtherServer.tick(RedstoneEtherServer.java:641

[2013-01-15 03:19] Sp0nge commented on #49
Thats the 411 build btw, updated to 414, atm not chrashed (but another console error reported)

[2013-01-15 08:30] LunNova commented on #49
If this continues to be a problem, revert to build 409 or earlier.

I'll fix it when I get back from school.

[2013-01-15 12:09] Puremin0rez commented on #49
Just want to say I'm also getting these frequent deadlocks too, often when switching between Mystcraft worlds

[2013-01-15 12:40] Puremin0rez opened #51 "Deadlocks and IndexOutOfBounds - Build 414"
Frequent Deadlock: (and i do mean frequent!!!)
http://pastebin.com/6N7Ge6Mv

IndexOutOfBounds:
http://pastebin.com/zWBiPnqf

[2013-01-15 12:45] Puremin0rez commented on #21
Appears to be solved :)

[2013-01-15 12:45] #21 closed, assigned to LunNova

[2013-01-15 12:45] #41 closed, assigned to LunNova

[2013-01-15 12:45] Puremin0rez commented on #46
It appears to have just been a one time fluke, rebooting the server fixed it.

[2013-01-15 12:45] #46 closed, assigned to LunNova

[2013-01-15 12:47] Puremin0rez commented on #51
Okay wow, this is happening like every second for me :(

[2013-01-15 12:55] Puremin0rez opened #52 "Feature: Disable Spawn Chunks on worlds?"
As we know, each world has a radius of chunks it keeps loaded 24/7

This increased load, and as more and more Mystcraft worlds are created, obviously makes the load even higher.

Can we see a config option for disabling "spawn chunks" on certain worlds? (or all?)

[2013-01-15 15:44] gustav9797 commented on #47
Solved by removing "world/chickenchunks/players.dat" however other people might have this problem.
I had to remove it time I updated TT.

[2013-01-15 17:22] LunNova commented on #51
First issue should be fixed, if not comment on issue #49.

The second issue looks more like an EBXL issue - invalid biome ID... Just in case, made a possible fix in 6425d54dd.

[2013-01-15 17:22] LunNova commented on #50
Fixed in f9f3db97ca6024b

[2013-01-15 17:22] #50 closed, assigned to LunNova

[2013-01-15 17:28] gustav9797 commented on #43
I've noticed that the server goes up to around 3.5gb ram usage really quick with less than 10 people online, build 417 and previous.

[2013-01-15 17:36] #52 closed, assigned to LunNova

[2013-01-15 21:02] gustav9797 commented on #42
This is still spamming the console in build 431.

[2013-01-15 23:58] Puremin0rez opened #53 "Patcher Error - Build 437"
01-15 17:57:02 [FINE] [TickThreading] Patching any with addMethod(return:java.lang.String,name:toString,code:return super.toString() + " x,y,x: " + xCoord + ", " + yCoord + ", " + zCoord;)
01-15 17:57:02 [SEVERE] [TickThreading] Error patching any with addMethod
javassist.CannotCompileException: [source error] no such field: xCoord
    at javassist.CtBehavior.setBody(CtBehavior.java:446)
    at ja

[2013-01-16 00:03] Torins opened #54 "Request for bugfix in ExtraBees"
Right, the extrabees bug where ender bees don't mutate.
In binnie.extrabees.ExtraBeeMutation, all occurences of "EnumExtraBeeSpecies.getVanilla("End")" should be patched into "EnumExtraBeeSpecies.getVanilla("Ended")"

[2013-01-16 00:49] Puremin0rez opened #55 "More Unhandled Exception Errors - Build 437"
2013-01-15 18:45:39 [SEVERE] [TickThreading] Unhandled exception in worker threa
d
java.lang.NullPointerException
        at ik.b(SourceFile:156)
        at in.b(WorldServer.java:182)
        at net.minecraft.server.MinecraftServer.doWorldTick(MinecraftServer.java
:253)
        at me.nallar.tickthreading.minecraft.patched.PatchMinecraftServer$TickRu
nnable.run(PatchMinecraftServer.java:318)

[2013-01-16 02:44] Puremin0rez commented on #55
@nallar

This is happening about every second FYI - this might be because of the patcher error in the last issue report by me

[2013-01-16 04:12] Puremin0rez opened #56 "Disabling Loading Spawn chunks not actually working? - Build 437"
I have the option set to false but it appears as if it's not actually working, unless the /tps command provides invalid stats.

I have it set to false and all of the worlds with 0.2% are the ones without any players in them, but if the spawn chunks were disabled, why would there still be entities and load on the worlds?

http://i.imgur.com/8onnq.png

All chunk loaders from various mods are disable

[2013-01-16 08:33] #51 closed, assigned to LunNova

[2013-01-16 15:12] LunNova commented on #56
There's a small load because the worlds still do some non-entity/chunk related updates - eg: time of day.

Mystcraft should unload them when empty, if that's what you're using, and it's also surprising that there is one loaded tile entity in one of the empty worlds - maybe a single chunk directly at spawn is being loaded?

[2013-01-16 15:12] LunNova commented on #55
This should be fixed in build 441.

[2013-01-16 15:12] #55 closed, assigned to LunNova

[2013-01-16 15:13] LunNova commented on #53
Fixed in build 440.

[2013-01-16 15:13] #53 closed, assigned to LunNova

[2013-01-16 15:51] gustav9797 opened #57 "Build 442 - Squid error spam!"
STDERR]     at yc.g(World.java:2257)
2013-01-16 15:50:55 [INFO] [STDERR]     at me.nallar.tickthreading.minecraft.tickregion.EntityTickRegion.doTick(EntityTickRegion.java:37)
2013-01-16 15:50:55 [INFO] [STDERR]     at me.nallar.tickthreading.minecraft.tickregion.TickRegion.run(TickRegion.java:88)
2013-01-16 15:50:55 [INFO] [STDERR]     at me.nallar.tickthreading.minecraft.ThreadManager$2.run(Threa

[2013-01-16 15:59] LunNova commented on #57
Damnit, squid! you ruin everything :(

Looks like a chunk has been loaded in the wrong coordinates (what?!) or minecraft's entity moving algorithm is broken, probably TT causing one of the above. For now, restart.

[2013-01-16 16:07] gustav9797 commented on #57
Worked, thankyou.

[2013-01-16 16:08] gustav9797 opened #58 "Build 408+ - Unhandled exception in worker thread, chunkloader"
2013-01-16 16:06:22 [SEVERE] [TickThreading] Unhandled exception in worker thread
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
        at java.util.ArrayList$Itr.next(ArrayList.java:791)
        at codechicken.chunkloader.PlayerChunkViewerManager.calculateChunkChanges(PlayerChunkViewerManager.java:155)
        at codechicke

[2013-01-16 16:10] gustav9797 opened #59 "Build 442 - Failed to send chunk updates"
2013-01-16 16:11:04 [SEVERE] [TickThreading] Failed to send some chunk updates
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
        at java.util.ArrayList$Itr.next(ArrayList.java:791)
        at ik.b(SourceFile:145)
        at in.b(WorldServer.java:182)
        at net.minecraft.server.MinecraftServer.doWorldTick(MinecraftSe

[2013-01-16 16:53] LunNova commented on #59
Should be fixed in build 443.

[2013-01-16 17:00] LunNova commented on #59
erm, 444.

[2013-01-16 18:50] gustav9797 opened #60 "Build 446 - ConcurrentModificationException"
---- Minecraft Crash Report ----
// Sorry :(

Time: 1/16/13 6:49 PM
Description: Exception in server tick loop

java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at im.a_nosynchronize(ChunkProviderServer.java:99)
    at im.a(ChunkProviderServer.java)
    at ik.b(SourceFile:

[2013-01-16 18:51] #43 closed, assigned to LunNova

[2013-01-16 18:55] #60 closed, assigned to LunNova

[2013-01-16 19:03] gustav9797 commented on #57
Closing, haven't noticed in newer builds. Reopen if you want.

[2013-01-16 19:03] #57 closed, assigned to LunNova

[2013-01-16 19:08] gustav9797 commented on #42
Closing this one as its a duplicate of the newer, but it persists.

[2013-01-16 19:08] #42 closed, assigned to LunNova

[2013-01-16 19:09] #59 closed, assigned to LunNova

[2013-01-16 19:15] LunNova commented on #58
This should finally be fixed in build 452. Sorry about the delay! :(

[2013-01-16 19:16] LunNova commented on #47
See #58

[2013-01-16 19:16] #47 closed, assigned to LunNova

[2013-01-16 19:20] gustav9797 commented on #58
Great!

[2013-01-16 19:32] gustav9797 opened #61 "Support for MCPC-Plus 1.4.7"
http://www.mcportcentral.co.za/index.php?topic=4657.0

It has forge and bukkit combined, you don't have to port plugins. Maybe it's possible to support it some time in the future?

[2013-01-16 19:33] LunNova commented on #61
It should just work - no remapping is needed, that uses obfuscated names.

[2013-01-16 19:35] gustav9797 commented on #61
I'll look more into this tomorrow as I did get an error. TickThreading with MCPC plus would do the perfect server.

[2013-01-16 19:36] gustav9797 commented on #58
Still not fixed, using build 452

2013-01-16 19:33:09 [SEVERE] [TickThreading] Unhandled exception in worker thread
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
        at java.util.ArrayList$Itr.next(ArrayList.java:791)
        at codechicken.chunkloader.PlayerChunkViewerManager.calculateChunkChanges(PlayerChunkViewerManag

[2013-01-16 19:47] gustav9797 commented on #61
This is what I get after running the server once with tickthreading 453 and then patching and on startup:

java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
        at java.lang.reflect.Met

[2013-01-16 20:02] LunNova commented on #58
Can you try the latest build?

[2013-01-16 20:05] LunNova commented on #61
Try adding "-nojline" after the -jar <jarname> part of your start.bat.

[2013-01-16 20:20] gustav9797 commented on #61
It now starts properly, but running into this error: http://pastebin.com/f8g80c5X

[2013-01-16 20:27] gustav9797 commented on #47
This still occours if you start the server after running UpdateTT.sh, you have to delete the players.dat file.
Build 456

[2013-01-16 20:28] gustav9797 opened #62 "Build 408 - Exception in server tick loop persistent"
https://github.com/nallar/TickThreading/issues/47

[2013-01-16 20:32] gustav9797 commented on #58
Using build 456

2013-01-16 20:32:01 [SEVERE] [TickThreading] Unhandled exception in worker thread
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
        at java.util.ArrayList$Itr.next(ArrayList.java:791)
        at codechicken.chunkloader.PlayerChunkViewerManager.calculateChunkChanges_nosynchronize(PlayerChunkViewerManager.

[2013-01-16 20:47] LunNova commented on #62
This is just #58 but happening at a different time, no need for two issues.

[2013-01-16 20:47] #62 closed, assigned to LunNova

[2013-01-16 20:48] LunNova commented on #58
/me bangs head against desk

I am so confused! :(

[2013-01-16 20:54] LunNova commented on #58
Possibly fixed in the latest build...

[2013-01-16 21:00] LunNova commented on #61
Can you repatch with build 458 and try again?

[2013-01-16 21:05] gustav9797 commented on #58
Lets try then! :)

[2013-01-16 21:08] gustav9797 commented on #61
Not any difference. Didn't mcpc plus have problems with world generation?
This error I gave you was when loading a previously generated world.

[2013-01-16 21:10] LunNova commented on #61
I gave the wrong build number in my comment then edited - did you use 458?

If you did, can I see the patcher.log?

[2013-01-16 21:13] gustav9797 commented on #58
Nope, still getting the error. This is weird!

[2013-01-16 21:25] LunNova commented on #58
Were people using the /chunkloaders command when this happened? If so, 461 may fix it.

[2013-01-16 23:24] #49 closed, assigned to LunNova

[2013-01-16 23:25] LunNova commented on #44
Closing this as it's a confirmed computercraft bug.

[2013-01-16 23:25] #44 closed, assigned to LunNova

[2013-01-16 23:48] LunNova commented on #61
Oh, this was an MCPC+ bug! You were loading chunks.

edit: Or unloading chunks

`<blood> public LongObjectHashMap<Chunk> loadedChunks = new LongObjectHashMap<Chunk>();
<blood> changed to loadedChunks
<blood> which should now obfuscate properly`

[2013-01-16 23:48] #61 closed, assigned to LunNova

[2013-01-17 00:57] BitVector opened #63 "Colors"
It would be nice to have colors in the /tps and /ticks commands to help distinguish information in them.

[2013-01-17 02:05] Puremin0rez commented on #63
I agree :+1:

[2013-01-17 02:16] Puremin0rez opened #64 "Not a bug - but a Thank You! (Build 466)"
I enjoy coming to this project everyday and seeing any and all issues being fixed, it's really nice to see and I appreciate it.

You are extremely willing to help people and you do so diligently.

You helped me cut down my gig large log files from IC2 stupidity and helped my server run crazy fast.

You also appear to be very open to user requested features, with configurable saving and configurabl

[2013-01-17 06:07] Puremin0rez commented on #56
It might be a single chunk, but if I'm right, I'm pretty positive there isn't any tile entities in the single chunk of most of the worlds.

[2013-01-17 07:07] Puremin0rez commented on #44
Are we sure this isn't a issue where TT is making a problem worse?

I've never gotten this issue ever on 209 but now on 400+ I'm getting this issue frequently without the server even restarting, the second the chunk unloads any moving turtles will revert to a normal, broken turtle.

[2013-01-17 15:16] gustav9797 commented on #58
Nope, they never use that command and they didn't know it existed.

[2013-01-17 15:51] gustav9797 commented on #58
01-17 15:51:25 [SEVERE] [TickThreading] Error patching handleCommand in codechicken.chunkloader.CommandChunkLoaders with synchronize
javassist.CannotCompileException: cannot find codechicken.core.commands.PlayerCommand
        at javassist.CtBehavior.copy(CtBehavior.java:77)
        at javassist.CtMethod.<init>(CtMethod.java:114)
        at javassist.CtNewMethod.copy(CtNewMethod.java:163)

[2013-01-17 16:14] LunNova commented on #58
So that's why those fixes don't work - the code which doesn't work is in a coremod, and TT doesn't patch coremods. Yet. ;)

[2013-01-17 17:35] gustav9797 commented on #58
Well this spams the console and logs and everything. I can't uninstall chickenchunks either, tried all possible ways. It just gives me an error.

[2013-01-17 20:43] LunNova commented on #58
I will get it fixed, just maybe not today. Currently lying in bed, hoping I
don't throw up again, so I'm not really able to code.
On 17 Jan 2013 17:35, "gustav9797" notifications@github.com wrote:

[2013-01-18 01:03] BitVector opened #65 "Strange overcrowding of mobs in specific chunks"
Our aPerf mod showed an unusual amount of monsters spawning in chunks that are within the -8 x-coordinate as shown here:
![2013-01-17_17 59 53](https://f.cloud.github.com/assets/744690/76919/75466a8a-610a-11e2-8fed-f6e638fae43a.png)

We cleared out a few of the chunks that had hundreds of mobs in them:

![2013-01-17_17 48 06](https://f.cloud.github.com/assets/744690/76923/9ba576ee-610a-11e2-9eb0-5

[2013-01-18 02:47] Puremin0rez commented on #65
Hehehe, I noticed this last night with Fast mobs on - I see why it's defaulted off :)

[2013-01-18 02:59] BitVector opened #66 "Redwood trees decaying for no reason"
Extrabiomes XL Redwood trees are dropping their saplings like crazy, and there seems to be no apparent reason for the decay. No players have chopped any logs or broke any leaf blocks, however, all redwood leaf blocks are decaying and will probably eventually leave the redwoods bare naked.

![2013-01-17_19 55 28](https://f.cloud.github.com/assets/744690/77153/068994da-611b-11e2-8edd-90d31cb85a95.pn

[2013-01-18 03:57] Puremin0rez commented on #66
I've had this issue a few times too, but it seems to happen randomly on my server.

https://github.com/nallar/TickThreading/issues/46

[2013-01-18 12:21] Puremin0rez commented on #56
Hmm, well, according to aPerf, all the chunks etc are disabled in those worlds - so I guess we're fine :)

[2013-01-18 12:21] #56 closed, assigned to LunNova

[2013-01-18 12:46] Puremin0rez opened #67 "BC Quarries not obeying forgeChunkLoading.cfg?"
Not sure if this is a TT bug - I don't have time to test :\

My forgeChunkLoading.cfg looks like this:
http://pastebin.com/jsnQ3zbB

Which is supposedly supposed to disable all chunk loading features from mods, however, something strange is happening with BC Quarries.

I get a message in console saying
"2013-01-18 06:41:01 [INFO] [ForgeModLoader] The mod BuildCraft|Factory has attem
pted to alloca

[2013-01-18 15:48] gustav9797 commented on #61
Still getting

Time: 1/18/13 4:46 PM
Description: Exception in server tick loop

java.lang.NoSuchFieldError: b
    at im.c(ChunkProviderServer.java:78)
    at net.minecraft.server.MinecraftServer.e(MinecraftServer.java:509)
    at net.minecraft.server.MinecraftServer.a(MinecraftServer.java:461)
    at ho.c(DedicatedServer.java:194)
    at net.minecraft.server.MinecraftServer.run(MinecraftServer.ja

[2013-01-18 16:35] geoffcorey opened #68 "TickThreading exception java.util.ConcurrentModificationException"
Jar - TickThreading-1.4.6-1.0.0.466.jar

This error was repeated about every few minutes when I was the only one on the server.

Gist - https://gist.github.com/4565750

Symptoms:

High CPU when nobody was on, however there were likely a couple of chunk loaders present.  migration process was very high.   Changed kernel.sched_nr_migrate=32 to kernel.sched_nr_migrate=2 to see if that helps.

Let me

[2013-01-18 16:48] geoffcorey commented on #68
Updated Gist with kernel.sched_nr_migrate=2    Made things worse.   Backed out the change and set it back to 32

[2013-01-18 17:29] LunNova commented on #65
Fixed in build 472 - I can't do bitwise math :(

[2013-01-18 17:29] #65 closed, assigned to LunNova

[2013-01-18 18:03] LunNova commented on #67
Make an issue with forge.

http://i.imgur.com/xqTlB.png - As you can see there, it warns about the mod, then returns null and gives no ticket - however, the second time a ticket is requested, it just gives a ticket because it's already warned.

Obviously it should return null every time if it's over the limit, not only when it has not yet warned.

[2013-01-18 18:03] #67 closed, assigned to LunNova

[2013-01-18 18:54] #66 closed, assigned to LunNova

[2013-01-18 22:57] trondgtrond opened #69 "Buildcraft Power system bugging out"
The bug:
Part 1: BC power seems to randomly build up in golden conductive pipes behind wooden conductive pipes (output from engines). This buildup either gets released in time, or cause the pipe to explode. And yes, the power did always have a place to go and get used.
Part 2: Also, there seem to be problems with conductive pipes exploding at chunk edges. Never seen the moment when it explodes, bu

[2013-01-18 23:25] #69 closed, assigned to LunNova

[2013-01-19 01:01] LunNova commented on #58
Does this go away if you turn off concurrent world ticking?

[2013-01-19 01:02] LunNova commented on #68
Do you have the full log for that deadlock? It seems to be cut off, as it's only showing computercraft threads.

The concurrent modification exception can probably be worked around by turning off concurrent world ticking, I've still not figured out what's causing it - see issue #58.

[2013-01-19 02:31] Puremin0rez opened #70 ""Wrong Location!" errors - Build 490"
2013-01-18 20:05:39 [INFO] [STDOUT] Wrong location! px['item.tile.sapling.oak'/2
2672, l='world', x=-32.60, y=88.63, z=245.82]
2013-01-18 20:05:39 [INFO] [STDERR] java.lang.Exception: Stack trace
2013-01-18 20:05:39 [INFO] [STDERR]     at java.lang.Thread.dumpStack(Unknown So
urce)
2013-01-18 20:05:39 [INFO] [STDERR]     at zz.a_nolock(Chunk.java:923)
2013-01-18 20:05:39 [INFO] [STDERR]     at zz.

[2013-01-19 02:41] LunNova commented on #70
Sorry, some issues with world gen up to build 495. It should be fixed now.

[2013-01-19 05:18] Puremin0rez commented on #70
It's still happening every little bit, but i'm assuming its the "bugged ones" from the fail builds

[2013-01-19 05:53] Puremin0rez opened #71 "NPE on chunk loading - Build 498"
2013-01-18 23:53:14 [INFO] [STDERR] java.lang.NullPointerException
2013-01-18 23:53:14 [INFO] [STDERR]     at aam.a(AnvilChunkLoader.java:54)
2013-01-18 23:53:14 [INFO] [STDERR]     at im.f(ChunkProviderServer.java:182)
2013-01-18 23:53:14 [INFO] [STDERR]     at im.c(ChunkProviderServer.java:103)
2013-01-18 23:53:14 [INFO] [STDERR]     at net.minecraft.server.MinecraftServer.e(MinecraftServer.java

[2013-01-19 13:59] LunNova commented on #71
Fixed via d62969acc8bd8cf8db2bc

[2013-01-19 13:59] #71 closed, assigned to LunNova

[2013-01-20 01:09] keplersj commented on #63
+1

[2013-01-20 03:08] #70 closed, assigned to LunNova

[2013-01-20 07:46] gustav9797 opened #72 "Build 528 - Patcher corrupting MCPC+ jar"
"Invalid or corrupt jar file"
After running the patcher and trying to start it.

[2013-01-20 12:24] bogie opened #73 "Nullpointer exception server tick loop"
Using bukkitforge r52 plugins:
Clearlag
Craftconomy3
OnTime
PEX
Residence
Vault
WorldEdit

enableWorldTickThreading=false

Description: Exception in server tick loop

java.lang.NullPointerException
        at im.b_nosynchronize(ChunkProviderServer.java:66)
        at im.b(ChunkProviderServer.java)
        at in.b(WorldServer.java:166)
        at net.minecraft.server.MinecraftServer.doWorldTick(Min

[2013-01-20 12:32] LunNova commented on #73
Can you try the latest TT build? I added some debugging so we can see what broke, instead of getting a log here at some unknown time after the chunk was unloaded.

[2013-01-20 13:37] nvx opened #74 "List of known working / not working mods"
A published list of mods that do and don't work (including why for the latter) would be quite useful for server admins wanting to test this out!

[2013-01-20 15:20] bogie commented on #73
http://paste2.org/p/2777566

[2013-01-20 16:04] LunNova commented on #74
I've started [a wiki page](https://github.com/nallar/TickThreading/wiki/Mod-Compatibility) but it's incomplete as I don't have time. If anyone has time to make it nicer that'd be really helpful :)

[2013-01-21 01:05] Puremin0rez commented on #74
Added the only two (besides Mystcraft since that's already listed) I use outside of the norm :)

[2013-01-21 02:53] geoffcorey commented on #68
Unfortunately the logs have been rotated off.   Running it today with your recommended JVM settings and no issues.

java -server -Xms512M -Xmx7G -XX:UseSSE=4 -XX:+UseCMSCompactAtFullCollection -XX:ParallelGCThreads=6 -XX:+UseConcMarkSweepGC -XX:+DisableExplicitGC -XX:+CMSIncrementalMode -XX:+CMSIncrementalPacing -XX:+UseCompressedOops -XX:+AggressiveOpts -Xmx8192M -jar mindcrack.jar nogui

Let's c

[2013-01-21 02:53] #68 closed, assigned to LunNova

[2013-01-21 14:37] Puremin0rez commented on #64
@nallar

PS: You can close this at any time, just wanted to make sure you know how much I appreciate your work :)

[2013-01-21 21:25] LunNova commented on #64
Thanks :)

[2013-01-21 21:25] #64 closed, assigned to LunNova

[2013-01-21 21:25] LunNova commented on #63
Technically implemented in latest - although just for table cell dividers.

[2013-01-21 23:27] darkinnit opened #75 "TickThreading Crash on travelling to Mystcraft Dimension and back"
This TickThreading (v552) crash occured after heading to a Mystcraft dimension ("Mining World") and back. Initial loading of the Mystcraft dimension was much slower than normal, but it came up after about 15 seconds. On returning to the overworld, was able to move around for about another 15 seconds, then this crash occurred. This is a test server, so I'm happy to mess about and try anything out.

[2013-01-21 23:28] darkinnit commented on #74
Ah woops, only just seen this, ignore my crash report then. :)

Edit: It's late, I should take more time to read. It says Mystcraft is supported, so I guess my issue is relevant then.

[2013-01-21 23:29] darkinnit commented on #75
Just updating to say I've just seen Mystcraft is not supported, so sorry for filing this without reading the other issues first!
Edit: It's late, I should take more time to read. It says Mystcraft is supported, so I guess my issue is relevant then.

[2013-01-21 23:48] LunNova commented on #75
Any mod is supported, that's just a list of what's known to work - must
craft normally does, anyway. I'll look into this tomorrow.
On 21 Jan 2013 23:29, "darkinnit" notifications@github.com wrote:

[2013-01-22 00:54] Puremin0rez commented on #75
Getting the same thing with Mystcraft, TT has always worked fine with it before - just a minor incompatibility I suppose.

[2013-01-22 03:01] LunNova commented on #75
Also, I meant "mystcraft", not "must craft", but autocorrect disagreed.
On 22 Jan 2013 00:54, "Dylan Xaldin" notifications@github.com wrote:

[2013-01-22 13:52] LunNova commented on #75
This is fixed in bab0aece94273f57.

[2013-01-22 13:52] #75 closed, assigned to LunNova

[2013-01-22 13:58] LunNova commented on #73
Is this resolved?

[2013-01-22 15:33] gustav9797 commented on #72
Any update?
Actually TT removes the META-INF folder from the MCPC+ jar, moving it from original to the new patched jar works.
But then, exception at getting block type in world..

[2013-01-22 15:58] LunNova commented on #72
Sorry, been a bit busy recently due to exams and not had time to look at everything.

The latest build may correct the patching issue, but probably not the issue getting block type in world. I'll do some testing myself with MCPC+ soon.

[2013-01-22 15:58] LunNova commented on #73
Closing because 36cf82b29bd9eeb makes this impossible.

[2013-01-22 15:58] #73 closed, assigned to LunNova

[2013-01-22 17:35] LunNova commented on #72
I've made some progress, although chunks still don't seem to be loading.

[2013-01-22 18:25] gustav9797 commented on #72
Latest build of MCPC+(16) is working with TT, just some minor errors. Chunks do load.http://build.technicpack.net/job/MCPC-Plus/changes

[2013-01-22 18:39] geoffcorey opened #76 "me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:33)"
Server crashed.  Quick scan of logs yields this as a suspicion.

Current Thread: World Tick - 3
    PID: 88 | Alive: true | State: WAITING | Daemon: true | Priority:5    Stack:
        sun.misc.Unsafe.park(Native Method)
        java.util.concurrent.locks.LockSupport.park(LockSupport.java:186)
        java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchro

[2013-01-22 19:22] LunNova commented on #76
You ran out of native memory for threads, because computercraft started about, as far as I can see, 5000 lua interpreter threads.

[2013-01-22 20:08] gustav9797 opened #77 "TT + MCPC+ error thread"
1:

2013-01-22 21:06:38 [SEVERE] Exception in thread "World Tick - 5"
2013-01-22 21:06:38 [SEVERE] Exception in thread "World Tick - 6"
2013-01-22 21:06:38 [SEVERE] java.lang.NoSuchMethodError: im.getLoadedChunks()Ljava/util/List;
2013-01-22 21:06:38 [SEVERE]    at me.nallar.tickthreading.minecraft.ChunkGarbageCollector.garbageCollect(ChunkGarbageCollector.java:22)
2013-01-22 21:06:38 [SEVERE]

[2013-01-22 21:40] LunNova commented on #77
Fixed via c9442281cdfc64376.

[2013-01-22 21:55] darkinnit opened #78 "v562 Crash on travelling to Nether"
So v562 fixed my crash on returning from a Mystcraft age. So I tested going to the nether, going to Mystcraft age and all seemed well. Played the game for about an hour and then went to the nether a second time, but this time no chunks loaded. :(
TickThreading.log: https://gist.github.com/4598768

I'm using FTB Direwolf20 v4 modpack. As it includes ChickenChunks and I have a chunkloader in the ove

[2013-01-22 22:02] LunNova commented on #78
Do you have bukkitforge installed? If so, this should be fixed in 1bd9b8e6a585a

[2013-01-22 22:10] darkinnit commented on #78
No, I don't have Bukkitforge, just the Direwolf20 v4 pack as it comes with your TickThreading applied (I wanted to test it on its own with as little conflicts as possible for now).

[2013-01-22 22:18] LunNova commented on #78
Can you paste the patcher log?
On 22 Jan 2013 22:10, "darkinnit" notifications@github.com wrote:

[2013-01-22 22:19] LunNova commented on #78
Oh, I see what's wrong. Can't fix it today, sorry.
On 22 Jan 2013 22:10, "darkinnit" notifications@github.com wrote:

[2013-01-22 22:20] darkinnit commented on #78
Ah ok. I can't reproduce it with a rollback and fresh patch and more dimension hopping (still v562), so not sure if I was just unlucky or if it's because I played for longer earlier.

I can still get you the patcher log if necessary?

[2013-01-23 01:28] geoffcorey commented on #76
Yep!  Found a member on the server did some new coding and did something naughty.  Thank you for your help!

Issue Closed

Side note: Updating to TickThreading-1.4.6-1.0.0.475.jar and turning off WorldTickThreading since we using ChickenChunks.

[2013-01-23 01:28] #76 closed, assigned to LunNova

[2013-01-23 03:28] Puremin0rez commented on #78
I can't seem to reproduce this, but apparently nallar found something that COULD cause that - so that's good.

[2013-01-23 06:09] gustav9797 commented on #77
TT build 564 + MCPC+ build 19

Description: Exception getting block type in world

java.lang.NoSuchFieldError: b
    at im.c(ChunkProviderServer.java:129)
    at im.d(ChunkProviderServer.java:239)
    at yc.e(World.java:698)
    at yc.a(World.java:576)
    at yc.c(World.java:605)
    at yc.b(World.java:547)
    at aaq.a(WorldProvider.java:100)
    at in.canSpawn(WorldServer.java:270)
    at in.b(W

[2013-01-23 06:38] geoffcorey opened #79 "Exception in server tick loop"
1) Started with unpatched jars
2) Started server
3) Everything works
4) Shutdown server
5) Patch in Tick Threading
6) Turned off world tick threading
7) Started server
8) Server fails

All the logs are list in this gist https://gist.github.com/4602617 including the patch.log

This is with TickThreading-1.4.6-1.0.0.466.jar.  Also tried 475 build as well with similar results with v6 Mindcrack + Logi

[2013-01-23 07:57] Puremin0rez commented on #79
Geez, ChickenChunks REALLY hates TickThreading...

[2013-01-23 15:05] LunNova commented on #78
Fixed via 073a1f078071cf8.

[2013-01-23 15:05] #78 closed, assigned to LunNova

[2013-01-23 15:24] LunNova commented on #79
This should finally be fixed in 3fd3ffdd48388e2. If it continues to happen, report in issue #58.

[2013-01-23 15:24] #79 closed, assigned to LunNova

[2013-01-23 15:24] LunNova commented on #58
This should finally be fixed in 3fd3ffdd48388e2.

[2013-01-23 15:27] #72 closed, assigned to LunNova

[2013-01-23 15:28] LunNova commented on #77
Please paste the patcher log.

[2013-01-23 15:31] gustav9797 commented on #77
http://pastebin.com/zr8ysMhf

[2013-01-23 15:41] LunNova commented on #77
Fixed in build 568.

[2013-01-23 17:18] gustav9797 commented on #77
Build 568

[2013-01-23 18:53] geoffcorey commented on #79
Excellent!  Will patch it with the latest tonight and provide feedback if any issues arise!

[2013-01-23 19:04] LunNova opened #80 "Intermittent IC2 EnergyNet disconnections"

[2013-01-23 19:24] LunNova commented on #77
The first issue reported there should be fixed now, the second looks like an invalid biome was generated and may be an MCPC issue.

[2013-01-23 23:22] LunNova commented on #63
![](http://i.imgur.com/UGzoOLb.png)

[2013-01-23 23:22] #63 closed, assigned to LunNova

[2013-01-24 01:38] LunNova commented on #80
Fixed via 0a8e9e4612a40314.

[2013-01-24 01:38] #80 closed, assigned to LunNova

[2013-01-24 01:46] LunNova opened #81 "Profiling - Lock Contention"

[2013-01-24 01:47] LunNova opened #82 "Profiling - Specific Tile/Entities"

[2013-01-24 04:30] geoffcorey commented on #79
Running build 585 and everything has been nothing short then amazing!  Thanks!

[2013-01-24 08:46] Puremin0rez opened #83 "ComputerCraft doesn't like TT - Build 591"
Issue 1:
Mining Turtles, when in movement, will revert to a normal turtle as soon as the chunk is unloaded. I know there is an issue in vanilla CC similar to this where if the server crashes when turtles are moving, this will happen - but the problem is, the server isn't crashing in this scenario. I tried to repeat this without TT and the issue never happened.

Issue 2:
CC isn't loading startup pr

[2013-01-24 14:58] LunNova commented on #83
Trying just now, and I can't get the second issue to happen. A turtle with "turtle.forward();" in its startup moves on chunk load without any need to right click.

[2013-01-24 15:00] #58 closed, assigned to LunNova

[2013-01-24 16:36] LunNova commented on #54
Closing this as I didn't get around to it, and it's fixed in extrabees which will be updated in the FTB packs soon.

[2013-01-24 16:36] #54 closed, assigned to LunNova

[2013-01-24 20:29] LunNova commented on #82
![](http://i.imgur.com/grpswBQ.png)

[2013-01-24 20:29] #82 closed, assigned to LunNova

[2013-01-25 01:31] Puremin0rez commented on #83
I just tried 606 and I can't repeat the second issue anymore...

I can still repeat the 1st issue every single time though.

[2013-01-25 04:21] LunNova opened #84 "Deadlock in ChunkProviderServer"
`Definitely deadlocked:
"Chunk Updates for Overworld/0 - 8" Id=64 BLOCKED on java.lang.Object@4af5d595 owned by "Chunk Updates for Overworld/0 - 7" Id=63
        at im.c(ChunkProviderServer.java:161)
        -  blocked on java.lang.Object@4af5d595
        -  locked java.lang.Object@47d65efb
        at im.d(ChunkProviderServer.java:109)
        at yc.e(World.java:524)
        at in.run(WorldServer.

[2013-01-25 04:53] #84 closed, assigned to LunNova

[2013-01-26 02:22] LunNova opened #85 "Chunks fail to load for the client with concurrent network ticks enabled if no chunks within view distance are already loaded before the client joins the server"

[2013-01-26 07:12] Puremin0rez opened #86 "Mystcraft packet failures upon teleport - Build #631"
http://pastebin.com/3yc5jHBc

Edit: Here's another paste link incase pastebin is loading SUPER slow for you (it is for me)
http://pastie.org/5865632

This is definitely a new issue and has never happened before.

[2013-01-26 13:02] LunNova commented on #86
What was the last build you were on where it worked?

Is it still broken in latest?

[2013-01-26 13:06] Puremin0rez commented on #86
I cannot for life of me remember what build I was on before, I think it might have been 623 - but I didn't do any testing at all on that build so I have zero idea when this issue started occurring.

It seems as if the first time every Mystcraft world is loaded (after a server reboot), the player will get kicked with the error I put above.

User A went to Book A and went to teleport to it - he got

[2013-01-26 13:06] Puremin0rez commented on #86
I'll test the latest in 5+ Hours, can't until then...

[2013-01-26 14:24] #77 closed, assigned to LunNova

[2013-01-27 04:50] Puremin0rez opened #87 "Patcher no longer working on Windows"
http://pastebin.com/sZTm26yR

[2013-01-27 09:05] Puremin0rez commented on #87
This was the commit that broke my ability to patch FYI
https://github.com/nallar/TickThreading/commit/e1a8fea1a16f6a42f3872c66df92d2584a6f8eee

[2013-01-27 10:46] Puremin0rez commented on #86
Still happening, its an on / off issue - Can't reproduce everytime. Might be Mystcraft bug? Although it's never happened until recently, that i'm positive of.

[2013-01-27 12:29] LunNova commented on #83
1st issue seems not to be a TT issue - can you confirm that it's definitely TT? Seen reports on CC forums, and in #FTB.

[2013-01-27 12:35] LunNova commented on #87
d957cd677cefc26187c43f588 should fix it - looks like it went over the file name length limit?

[2013-01-27 12:35] Puremin0rez commented on #83
@nallar

I tried 30 minutes without TT trying to get it to happen and it simply never happened, It's possible it does happen without it, but I think TT is making it happen even more often

[2013-01-27 13:02] LunNova commented on #85
Caused by the player entity being killed / not added.

[2013-01-27 13:10] Puremin0rez commented on #87
Yep it's fixed :)

[2013-01-27 13:10] #87 closed, assigned to LunNova

[2013-01-27 15:45] #85 closed, assigned to LunNova

[2013-01-28 00:31] bogie opened #88 "IC2 Energy Net broken with b661"
Logs: http://bawki.de/minecraft/tickthreading/

Error is 2013-01-27 23:17:42 [WARNING] [IC2] EnergyNet.emitEnergyFrom: ic2.core.block.wiring.TileEntityElectricMFE@18acef70

for more see IC2warning.txt linked above.

Used build 661 on a clean version of ftb(mindcrack) with bukkitforge 139, last known working version was b587(testing 592 now)

[2013-01-28 03:36] samlich opened #89 "Crash during launch"
See edit below

I used multimc to launch an instance with only optifine, forge 6.6.0.516 and fml 4.7.22.537.
Lwjgl is updated to v2.8.5 due to an issue with the version mojang includes and the version of java I'm using.

Heres the crashlog http://pastebin.com/fHD6k3Fr

and the patch log http://pastebin.com/Bz3QFbUn

all the other logfiles in the tickthreading log directory were empty.

EDIT: I was

[2013-01-28 03:43] samlich commented on #74
Optifine doesn't seem to work for me. Please also ignore the issue I posted.

[2013-01-28 10:40] Puremin0rez opened #90 "Ticking Entity Errors - Build #662"
2013-01-28 04:38:03 [SEVERE] [TickThreading] Exception during entity tick at rX:
 1, rZ: 10, hashCode: 655361:
java.lang.NullPointerException
        at ow.bl(SourceFile:139)
        at md.c(EntityLiving.java:1781)
        at md.j_(EntityLiving.java:843)
        at ow.j_(SourceFile:106)
        at yc.a(World.java:2295)
        at in.a(WorldServer.java:647)
        at yc.g(World.java:2257)

[2013-01-28 10:48] Puremin0rez commented on #90
Here's more:
http://pastebin.com/dDpj4MEY

[2013-01-28 11:00] Puremin0rez commented on #90
... and more:
http://pastebin.com/iYBbXpvx

[2013-01-28 11:04] Puremin0rez opened #91 ""Messed up chunks" is back :O - Build #662"
Looks like your fix for the messed up chunks has gone missing / broken

http://i.imgur.com/6wrIvW1.jpg
http://i.imgur.com/jPyC4gm.jpg

Would appreciate a fix because its crashing tons of my users again.

[2013-01-28 11:09] Puremin0rez opened #92 "Jenkins is down (1/28/2013)"
Can't seem to access Jenkins, getting a 404...

Hopefully the project is still alive and you didn't die off the face of the planet.

[2013-01-28 11:25] Puremin0rez commented on #90
I should note this is happening every few seconds, so you should be able to replicate them pretty easily.

[2013-01-28 11:32] Puremin0rez opened #93 "Is TickThreading ready for MindCrack v8?"
I'm assuming since its patcher based there should really be no conflicts, but have you tested TT on the new v8 build that's coming out today? (available right now if you manually select version)

Also - sorry for all of the tickets today - there's just so much going on today!

[2013-01-28 12:51] LunNova commented on #90
Are concurrent network ticks enabled? Turn them off if so.

[2013-01-28 13:31] LunNova commented on #92
Fixed.

[2013-01-28 13:31] #92 closed, assigned to LunNova

[2013-01-28 13:37] LunNova commented on #91
Fixed via dc439f6b96

[2013-01-28 13:37] #91 closed, assigned to LunNova

[2013-01-28 13:59] LunNova commented on #90
Should be fixed in latest.

[2013-01-28 14:52] LunNova commented on #88
Are the machines at the listed coords working? If so, that's an IC2 bug with it being spammy when everything's fine.

If they're broken, I'll need to mess about with enet. Again.

[2013-01-28 15:07] clienthax opened #94 "MCPC+ Support"
C:\testingserver>"C:\Program Files\Java\jre8\bin\java" -cp "C:\testingserver\mods\TickThre
ading-1.4.6-1.0.0.629.jar;C:\testingserver\lib\guava-12.0.1.jar" me.nallar.tickthreading.p
atcher.PatchMain patcher "C:\testingserver\mcpc-plus-1.4.7-R0.2-SNAPSHOT-42.jar,C:\testing
server\coremods,C:\testingserver\mods"
01-27 22:55:33 [INFO] [TickThreading] Running TickThreading v1.0.0.629 for MC1.4.6
01-27

[2013-01-28 18:50] bogie commented on #88
Machines are working, but power does not flow via cables, you can charge your stuff in any energy storage/generation device though.

[2013-01-28 18:52] LunNova commented on #88
Are you using a modified IC2 jar with the newer energynet? If so, can you try reverting it? That should no longer be necessary and might actually break stuff.

I've seen a problem like this before, but it goes away after a restart and doesn't return, making debugging difficult. Those logs don't actually show why, nor does IC2's design make it easy to find out.

[2013-01-28 18:53] LunNova commented on #94
This will be fixed after I get some changes included in MCPC+ for concurrent chunk loading. ETA: later.

[2013-01-29 01:36] Puremin0rez opened #95 "TT incompatible with MindCrack v8"
Here is the logs from TTlogs folder
http://pastebin.com/3UVZh1dE

Here are some other ones that forge / mods gave
http://pastebin.com/X8xnsBur
http://pastebin.com/Hw42rYFq

[2013-01-29 01:36] Puremin0rez commented on #93
This answers that:
https://github.com/nallar/TickThreading/issues/95

[2013-01-29 01:49] Puremin0rez commented on #95
Here's one I forgot to post:
http://pastebin.com/Hw42rYFq

[2013-01-29 02:49] keplersj commented on #74
I've done a lot of work on the wiki page. I think it's safe to close this issue.

[2013-01-29 05:21] nvx commented on #74
I agree, closing now. :)

[2013-01-29 05:21] #74 closed, assigned to LunNova

[2013-01-29 14:38] #93 closed, assigned to LunNova

[2013-01-29 15:01] LunNova commented on #74
Thanks :)

[2013-01-29 15:05] LunNova commented on #95
Log-spam related to classloading is fixed in latest, entity issue appears to involve entities being saved in the wrong chunk.

[2013-01-29 15:16] LunNova commented on #95
I've added more debugging for entity loading in 67a505c8b78d798f.

[2013-01-29 16:29] keplersj commented on #74
Your welcome! I'll come back and put up more posting after I test more.

[2013-01-30 00:33] #95 closed, assigned to LunNova

[2013-01-30 00:33] #90 closed, assigned to LunNova

[2013-01-30 00:33] #86 closed, assigned to LunNova

[2013-01-30 00:35] Puremin0rez opened #96 "Entity is already tracked! - Build #707"
Still getting these issues on build 707 - doesn't happen without TT

http://pastebin.com/hwsw7xAX

Seems to only happen when generating new chunks - without TT, console shows a sapling error in wrong chunk and ignores it but TT causes it to kick the player for invalid packet

[2013-01-30 00:38] Puremin0rez commented on #83
Just reconfirming that without TT, this reverting turtle issue simply never happens. Ran without TT for almost 2 days now (because of v8 MindCrack) and it never happened - had TT on my server again and less then 10 minutes later peoples turtles were reverting to the dataless counterpart.

Is there possibly something "threaded" I can disable that would resolve this?

[2013-01-30 00:41] Puremin0rez commented on #96
@nallar

Also, this commit: https://github.com/nallar/TickThreading/commit/67a505c8b78d798f

Didn't give any new errors or information in the console - so again I have nothing more to provide then the initial pastebin.

[2013-01-30 01:02] #96 closed, assigned to LunNova

[2013-01-30 02:06] Puremin0rez opened #97 "Unhandled Exception in Worker Thread (World Tick) - Build #709"
http://pastebin.com/6fTiXnYb

[2013-01-30 08:29] Puremin0rez opened #98 "Chunk loading is strange - Build #709"
For some reason, chunks are being very strange in the new build.

Chunks will not load on a teleport until you relog, and sometimes when exploring, chunks wont generate and you will have to walk up to the exact border of where they loaded to get more chunks to load. Relogging will once again, load all the chunks quickly and painlessly. Teleporting is also causing the entire server to lag quite a b

[2013-01-30 08:37] Puremin0rez commented on #98
Here's an image of what's pretty much happening:
http://i.imgur.com/7rAQX0T.png

Chunks are not loading when teleporting and chunks are loading abnormally slow when walking around.

[2013-01-30 08:44] Puremin0rez commented on #98
Sorry for comment spam but I should note this only started happening on the MindCrack v8 releases as far as I can tell.

[2013-01-30 09:52] ghost opened #99 "Unrecoverable chunk update crash"
2013-01-30 10:51:39 [SEVERE] [ForgeModLoader] Error handling login related packet - connection from usernameXXX [/xxx.xxx.xxx.xxx:55981] refused
java.lang.IllegalStateException: Entity is already tracked!
        at ii.a_nolock(EntityTracker.java:196)
        at ii.a(EntityTracker.java)
        at ii.a_nolock(EntityTracker.java:150)
        at ii.a(EntityTracker.java)
        at ij.a(SourceFile:24

[2013-01-30 09:54] ghost commented on #99
After the crash the server does nothing, can't even Ctrl+c close it. So i'm using >kill -7 pid to ckill it. This error seems to happen quite often.

[2013-01-30 13:41] LunNova commented on #99
This is fixed in build 709, sorry about not updating ftb-craft last night. I was on intermittent 3G internet and didn't want to risk leaving the server half-updated or broken in some way. :(

[2013-01-30 13:41] #99 closed, assigned to LunNova

[2013-01-30 15:44] LunNova commented on #98
This should be fixed in the latest build.

[2013-01-30 15:45] LunNova opened #100 "NullPointerException - chb.mods.mffs.common.item.ItemCardPowerLink.insertPower(ItemCardPowerLink.java:255)"
`2013-01-30 16:46:14 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c chb.mods.mffs.common.tileentity.TileEntityExtractor chb.mods.mffs.common.tileentity.TileEntityExtractor@1ef552b6 x,y,x: 310, 64, 291 at x,y,z:310,
64,291
Tick region: rX: 19, rZ: 18, hashCode: 1179667:
java.lang.NullPointerException
        at chb.mods.mffs.common.item.ItemCardPowerLink.insertPower(ItemCardP

[2013-01-30 23:10] Puremin0rez commented on #98
@nallar
The teleporting appears to be fixed, but when traveling, I'm still getting some strange chunk loading patterns.

You'd expect a square loaded around you at all times, but for some reason, it's loading chunks at random and I need to WALK where a chunk would be in order to get it to load, where if I simply disconnect and reconnect, all the chunks will load perfectly within seconds

http://i.

[2013-01-30 23:50] Puremin0rez opened #101 "Major Deadlock with Generating New Land - Build #718"
http://pastebin.com/T8NNYMW6

Happens whenever a chunk generates that has a node in it

[2013-01-31 01:03] Puremin0rez opened #102 "Disappearing Entities Issue - All Recent Builds (Pretty Big Issue)"
Reporting this on behalf of a user on FTB Forums:
http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/page-10#post-112386

I also am experiencing the same thing, I thought it was just me so I didn't bother to report it.

[2013-01-31 06:17] ghost commented on #102
+1

Entities not saving or loading on a server restart. Almost everything is gone, including buildcraft frame entities and stevecarts <- that's the easiest way to test, make a random module cart, place it (in GM mode), restart server, log back in, gone.

I have 4 quarrys in one chunk (convering a area of ~10*10 chunks) and from a server restart only one quarry has the black/yellow line (frame enti

[2013-01-31 06:27] Puremin0rez commented on #102
Yep, can confirm your results. Didn't know it effected ALL entities!!!

Rolling to a backup from 2 days ago :(

[2013-01-31 11:23] LunNova commented on #101
This is the entity issue - it's looping trying to add the node, which always fails.

[2013-01-31 11:23] #101 closed, assigned to LunNova

[2013-01-31 11:24] LunNova commented on #102
321dc87f6ecea01d should fix it.

[2013-01-31 14:16] LunNova commented on #102
And it seems that the fix caused all vanished entities to reappear. Closing this, as it's confirmed working.

[2013-01-31 14:16] #102 closed, assigned to LunNova

[2013-01-31 14:19] LunNova commented on #98
That does look like normal buggy vanilla rendering, but TT might be making it worse.

If a chunk isn't sent by the server, you see the outline of the chunks next to it. In those images, it's just empty space, meaning that the client hasn't got around to rendering them for some reason.

[2013-02-01 02:21] Puremin0rez commented on #98
Yeah, It's like this in Single Player too after some exploration (without TT)

I guess Vanilla will just keep going downhill while we get more important things like god damn Flower Pots.

Thanks nallar :)

[2013-02-01 02:21] #98 closed, assigned to LunNova

[2013-02-01 02:22] Puremin0rez commented on #83
Going to see if any of your recent entity changes possibly fixed this today.

[2013-02-01 05:15] Puremin0rez opened #103 "Items falling through world - Build #729"
If you throw an item on the ground and then place a block on top of it, the item will begin to "try" to push itself out but fails to do so and start glitching itself block by block downwards. I had to mine 50+ block downwards to save a cooked porkchop :P

[2013-02-01 05:16] Puremin0rez commented on #103
Make sure you leave the block on top of the item for a good 10+ seconds, you'll see it appear to "push" itself from the block but then teleport back in after some time and start flipping the hell out

[2013-02-01 05:24] Puremin0rez commented on #103
It also do it if an item falls on a non full block, such as a stair etc. It'll "bounce" for a few seconds before doing the same glitchy behavior and fall downwards infinity

[2013-02-01 21:16] LunNova commented on #103
Oops, messed up the item patch. :(

d4b8efb635838693cf5e4d3 should fix it.

[2013-02-01 23:10] Sp0nge opened #104 "Logging/Display numbers of time kicked due to "hack""
Write/read a value +1 pr time on trigger readable ingame and/or txtfile?

[2013-02-01 23:11] Torins commented on #104
If ya gonna write something to hdd, I'd suggest a whole log -> time, location, name and reason (assuming multiple reasons avaliable)

[2013-02-01 23:14] LunNova commented on #83
Still happening then? :(

[2013-02-01 23:29] Sp0nge opened #105 "on moved wrongly"
Can that be displayed ingame for OP only?

[2013-02-01 23:35] Sp0nge opened #106 "732: Iron doors"
Wont show as open/closed but they still works. Sounds for the doors are played, they just wont update clientside to the correct state.

[2013-02-02 00:22] Puremin0rez commented on #106
Can't reproduce

Beware that there is apparently an issue with Block Updates in the build of Forge that MC v8 uses.

I'm on Optifine Ultra C2 and I'm not getting the issue.

[2013-02-02 00:22] LunNova commented on #106
This is probably related to the forge changes to PlayerInstance.

[2013-02-02 00:36] Puremin0rez commented on #103
It's fixed :)

[2013-02-02 00:36] #103 closed, assigned to LunNova

[2013-02-02 00:37] Puremin0rez commented on #83
Sorry, was busy and didn't get to test. Lots of people on my server today - so we'll see :)

[2013-02-02 02:20] Puremin0rez opened #107 "Should TickThreading perhaps have a better name?"
It seems like this is becoming the ultimate Forge improvement suite and slightly varying away from just threading things, including many performance improvements and great features like the new anti cheat stuff.

I myself can't think of a name that would fit, but it seems like TT is basically the Spigot of Bukkit at this point :)

[2013-02-02 02:22] LunNova commented on #107
I'm not very good at names. If anyone has any sensible suggestions, please reply here.

[2013-02-02 02:44] LunNova commented on #107
`<BitVector> BTF - BetterThanForge`

[2013-02-02 02:46] Puremin0rez commented on #107
That's actually quite and interesting name...

That looks like an IRC message, does TT have an IRC?

[2013-02-02 02:48] LunNova commented on #107
No, but it is semi-regularly discussed in the #ftb-craft channel on espernet, and now it seems sometimes also #bukkitforge for questions related to using TT in conjunction with it.

edit: And also #n-builds for build announcements.

[2013-02-02 02:49] LunNova opened #108 "Finer control of fast mob spawning"
Additionally, a mode which picks a random spawnable height instead of trying the heightmap should be supported.

[2013-02-02 02:50] LunNova commented on #88
Still not sure what's causing it, but it goes away after a couple of restarts. I'll fix it as soon as I find exactly what's causing it.

[2013-02-02 03:30] Puremin0rez commented on #107
Here are some suggestions I've gotten from others and myself:
OptiForge
Forge++
ForgePerf
Forge Enhancement Suite

[2013-02-02 06:30] Puremin0rez opened #109 "Improvements to MCs Fly Detection?"
As you know, MC Kicks players who are "flying" after some time.

The problem is, people can fly in short bursts without ever being detected by this vanilla system - making the check pretty useless.

I'd like to see a system similar to NoCheatPlus implementation of "rolling" the person back to the ground when caught with a flying violation and the like.

[2013-02-02 06:30] Puremin0rez commented on #109
I should note I obviously mean flying with hacks, not with items etc.

[2013-02-02 18:47] Sp0nge commented on #109
I think nallar is working on something similar, to combat those clients out there that cheats :)

[2013-02-02 18:53] Sp0nge opened #110 "Coloured broadcastmessage"
Pherhaps an idea so that players notice the message abit better?

[2013-02-02 19:01] #110 closed, assigned to LunNova

[2013-02-02 19:25] #100 closed, assigned to LunNova

[2013-02-02 19:39] cronixia opened #111 "TT Build #732 "Exception ticking world" error spamming server console"
Getting spammed with this error in the console. Figured it was something to do with world ticking, so I set that to false for a temporary fix. Any ideas?

2013-02-02 14:35:38 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.IllegalStateException: TickNextTick list out of synch
    at in.a(WorldServer.java:536)
    at in.b(WorldServer.java:178)
    at net.minecraft.server.Mine

[2013-02-02 20:47] LunNova commented on #97
This should now be fixed.

[2013-02-02 20:47] #97 closed, assigned to LunNova

[2013-02-02 21:32] LunNova opened #112 "Logistics Pipes Comodification Exception"
2013-02-02 20:43:46 [INFO] [Minecraft] 1.4.7-R0.1
2013-02-02 20:43:46 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe@1f63a81e x,y,x: 938, 87, 312 at x,y,z:938,87,312
Tick region: rX: 58, rZ: 19, hashCode: 1245242:
java.util.ConcurrentModificationException
        at java.util.LinkedList$ListItr.checkFo

[2013-02-02 23:16] Puremin0rez opened #113 "Make Item Stacking less annoying?"
The new item stacking is mildly annoying because of the way it works.

All items stack into the first pile made, making it seem strange when mining or digging large areas or dropping alot of items with q.

Example: You mine a bunch of ores, but since they're all close to each other, you dont actually see the item drop from the block - leading players to think that the item never dropped - however,

[2013-02-02 23:22] #113 closed, assigned to LunNova

[2013-02-03 00:47] LunNova commented on #106
Fixed. :)

[2013-02-03 00:47] #106 closed, assigned to LunNova

[2013-02-03 00:56] Puremin0rez opened #114 "Strange issues when people teleport?"
I've been getting these all day today whenever someone dies (which teleports them) or whenever someone teleports via mystcraftbook or does /home

http://pastebin.com/sS491EXu

[2013-02-03 01:33] LunNova commented on #114
Looks like the position update is being processed at the same time as the respawning.

[2013-02-03 01:50] Sp0nge opened #115 "Paypal"
Add you paypal-link somewhere

[2013-02-03 02:07] Puremin0rez commented on #115
I disagree with the label put on this ticket! This is a very important issue and must be resolved!

[2013-02-03 02:22] Puremin0rez commented on #114
Only appears to happen when a teleport is between dimensions, which is pretty noticeable in a mystcraft based server.

[2013-02-03 02:46] LunNova commented on #105
Done :)

[2013-02-03 02:46] #105 closed, assigned to LunNova

[2013-02-03 04:56] Puremin0rez opened #116 "So much spam! - Build #799"
x was traveling too fast is being spammed to infinity for every single player on the server to OPs and Console D:

[2013-02-03 05:02] Puremin0rez commented on #116
Make logging configurable?

[2013-02-03 07:29] Puremin0rez opened #117 "Dimension hopping is broken again - Build #796"
Changing dimensions (ala mystcraft and twlightforest) isn't loading the chunks until you relog

[2013-02-03 15:36] LunNova commented on #116
Notifications and kicking are now configurable separately.

[2013-02-03 15:38] #116 closed, assigned to LunNova

[2013-02-03 15:38] LunNova commented on #117
This should be fixed in build 801 or later.

[2013-02-03 18:40] LunNova commented on #88
Javassist was producing incorrect bytecode for the enet patch. I've changed the way that's patched, and this issue should now be fixed in the latest build.

[2013-02-03 18:41] LunNova commented on #117
And if that doesn't work, bb090c5f57a9cd0f9cdbe48b8d9a should fix it.

[2013-02-03 22:16] #114 closed, assigned to LunNova

[2013-02-03 22:17] LunNova commented on #111
This should now be fixed.

[2013-02-03 22:17] LunNova commented on #88
Fix confirmed via forums.

[2013-02-03 22:17] #88 closed, assigned to LunNova

[2013-02-03 22:19] LunNova commented on #104
I'll be able to implement this for any checks TT does, but the vanilla warnings are just redirecting when the server logs to console.

[2013-02-03 22:23] LunNova opened #118 "Experience Grouping"

[2013-02-03 23:37] Puremin0rez opened #119 "Memory Leak?"
It seems like the newer builds are very ram hungry, I'm not sure if my server has just gotton to that point or if TT is being unhappy.

Can't confirm its TT either way, so thought I'd leave this here for investigation.

[2013-02-03 23:50] Puremin0rez commented on #119
I should note I haven't tried the "world cleaning" build yet - gonna go do that now

[2013-02-03 23:52] LunNova commented on #119
I'm also trying to investigate a heap dump, leaving my PC on all night
analysing it. Apparently it takes a long time to calculate the retained
sizes of 50 million objects.
On 3 Feb 2013 23:50, "Dylan Xaldin" notifications@github.com wrote:

[2013-02-04 00:11] Puremin0rez commented on #117
@nallar

So it's still broken but in a different way now

Now when I change dimensions, rather then just "sitting" there with nothing loaded - it'll keep bouncing my player up and down over and over again and in the F3 menu it shows my coordinates of where i WOULD be correctly - but it shows i'm in an Ocean biome....

I relog, world loads fine and i'm back in my plains biome.

[2013-02-04 00:16] Puremin0rez opened #120 "IllegalStateException with teleporting - Build #816"
Still happening for me:
http://pastebin.com/rcErGZT0

[2013-02-04 00:45] LunNova commented on #119
and fixed! :D

[2013-02-04 00:45] #119 closed, assigned to LunNova

[2013-02-04 02:19] Puremin0rez opened #121 ""Probable Memory leak" - Build #820"
http://pastebin.com/KP3ah2VL

[2013-02-04 02:20] Puremin0rez opened #122 "NullPointerException on /tps - Build #820"
http://pastebin.com/mD83mCQd

[2013-02-04 02:23] Puremin0rez commented on #122
Probably related to this:
https://github.com/nallar/TickThreading/issues/121

[2013-02-04 02:25] Puremin0rez commented on #83
Nobody has reported loosing turtles and i haven't either. I'll close this..... for now...

[2013-02-04 02:25] #83 closed, assigned to LunNova

[2013-02-04 15:24] Sp0nge opened #123 "Patching 821 "error""
02-04 16:28:13 [FINE] [TickThreading] Patching methods [transferPlayerToDimension(Lnet/minecraft/entity/player/EntityPlayerMP;ILnet/minecraft/world/Teleporte
02-04 16:28:13 [WARNING] [TickThreading] Failed to find exact match for (Lnet/minecraft/entity/player/EntityPlayerMP;ILnet/minecraft/world/Teleporter;)V, try
02-04 16:28:13 [FINE] [TickThreading] Patching gm with synchronize(field:$1.f,deobf:

[2013-02-04 16:41] LunNova commented on #117
The patcher may have been patching the wrong method, should be fixed in 2a02f647dedac607a if that was the issue.
If not, mystcraft may be teleporting in its own way instead of using transferPlayerToDimension.

[2013-02-04 16:43] LunNova commented on #123
Just a warning, I'll clean it up later.

[2013-02-04 16:43] #123 closed, assigned to LunNova

[2013-02-04 16:43] LunNova commented on #121
Fixed via 073422a0fa590f6

[2013-02-04 16:43] #121 closed, assigned to LunNova

[2013-02-04 16:47] LunNova commented on #120
Still broken after 2a02f64?

[2013-02-04 16:50] LunNova commented on #122
Possibly. Fixed via 78f2e85e27d9. If it still shows a world as "NaN" tick time, it's being loaded/unloaded incorrectly.

If you're using BukkitForge, that might be causing it. Recent builds seem to do some odd stuff with worlds.

[2013-02-04 16:51] #122 closed, assigned to LunNova

[2013-02-04 17:07] #111 closed, assigned to LunNova

[2013-02-04 18:10] ghost commented on #107
Forge Server Enhancement Suite gets my vote.

[2013-02-04 19:01] LunNova commented on #107
FES > FSES, because FES is closer to ![fez](http://4.bp.blogspot.com/_SxHRFN5zD8c/R9PYPMiGOOI/AAAAAAAAAFI/ZJF4LmBHW24/s400/thumbsup.php.jpg).

[2013-02-05 11:53] Puremin0rez commented on #120
@nallar
It's still happening, however it no longer kicks me :)

[2013-02-05 11:55] Puremin0rez commented on #117
So Dimension hopping is indeed fixed now, however, now I have ANOTHER teleport related problem!

Doing /spawn (via Fihgus Command Mod) often throws me into that rift I described a few comments up - Ocean biome, no chunks load. Need to relog - problem fixed.

[2013-02-05 11:56] Puremin0rez commented on #117
So, apparently when I said Dimension hopping is fixed, It only applies to Mystcraft.

Mystcraft books now teleport seamlessy because of the recent fix - but /home and /spawn are still doing what Mystcraft did until you fixed it. Fihgus command mod might need some patching love perhaps?

[2013-02-05 11:57] Puremin0rez commented on #107
I also vote for Forge Enhancement Suite! FES sounds neat! :+1:

[2013-02-05 11:59] Puremin0rez commented on #120
Sorry - You did indeed fix Mystcraft causing this problem - so thanks alot for that!

However, now Fihgus command teleport commands are broken and causing these issues every single time
http://pastebin.com/A70sUynL

[2013-02-05 17:55] LunNova commented on #117
What does `/ticks e` show in latest after trying to teleport?

[2013-02-05 22:26] LunNova commented on #117
This may be fixed-ish with moving chunk sending to the player connection thread. (If that does fix it, it means the player's entity got broken and isn't in any world.)

[2013-02-05 22:26] LunNova opened #124 "Improve TubeFlow - more concurrency instead of static lock as it is just now"

[2013-02-06 13:27] SShadowS opened #125 "save-all gives NullPointerException in #854"
Using build 854 and typed save-all in server terminal
2013-02-06 14:19:39 [INFO] [BukkitForge] Server issued server command: save-all
2013-02-06 14:19:39 [INFO] [STDOUT] CONSOLE: Forcing save..[m
2013-02-06 14:19:39 [INFO] [STDERR] java.lang.NullPointerException
2013-02-06 14:19:39 [INFO] [STDERR]     at in.a(WorldServer.java:830)
2013-02-06 14:19:39 [INFO] [STDERR]     at org.bukkit.craftbukkit.

[2013-02-06 13:56] SShadowS commented on #125
Crash 20 min later, dont know if it is related.

Log here:
https://gist.github.com/SShadowS/4722627

Close thread by mistake.

[2013-02-06 13:58] Puremin0rez commented on #117
Still isn't fixed with Fihgus Commands.

/ticks e shows that there is one player when I teleport in the correct dimension, so it's definitely acknowledging I exist.... it just doesn't want to load the chunks :(

As always, relogging will instantly fix it.

Just incase I didn't make this clear, this doesn't happen without TT

[2013-02-06 16:01] clienthax commented on #125
possibly related to https://github.com/MinecraftPortCentral/MCPC-Plus/commit/a3c45e3973d7faf405694c6ae639b6a7945dd873 ?

[2013-02-06 16:38] LunNova commented on #125
BukkitForge bug - it's trying to do stuff with unloaded worlds. Turn off "cleanWorlds" in the config.

[2013-02-06 16:38] #125 closed, assigned to LunNova

[2013-02-06 19:42] LunNova commented on #117
Another possible fix in 6bf73e578420

[2013-02-06 20:50] Sp0nge opened #126 "861: Enet not working again"
Updated to this build from 853 and the stable enet stopped for some players just after the update.

[2013-02-07 00:18] Puremin0rez commented on #117
It seems alot better, but it's still happening:
http://i.imgur.com/KlD9pjG.png

[2013-02-07 00:19] Puremin0rez commented on #120
Still happening:
http://pastebin.com/N8QVQT15

[2013-02-07 15:16] coderjcronin opened #127 "Wither Skeleton SoulShard Spawners become Skeleton Spawners"
After running and patching TickThreading, all tier Wither Skeleton spawners (created via SoulShards plugin) become regular skeleton spawners. Removing TickThreading and restoring the original mod files turns them back into Wither spawners.

[2013-02-07 20:36] LunNova commented on #127
I disabled the spawned skeletons' extra code, it was rather slow. I guess it was responsible for doing this.

I'll try to replace it soon.

edit: and I'm bad, that wasn't the issue with spawned skeletons. Reverted that change.

[2013-02-07 20:40] LunNova commented on #120
Using latest fihgu's, couldn't get this to happen while testing a fix for #117.

[2013-02-07 20:40] LunNova commented on #117
2029fcbf1551b622 should fix this - after this, positions seem correct on TP, chunks are loading. Tested with fihgu's `/spawn` between dimensions.

[2013-02-07 20:54] LunNova commented on #117
So... apparently that fix [broke stuff](http://i.imgur.com/uEXvsRn.png). That bug should be fixed in 748a10fe7c.

[2013-02-08 00:29] Puremin0rez commented on #120
@nallar

It's only happening (and still happening) on certain dimensions for me

Dimension 4 and 8 appear to give this error everytime I do a /spawn, while others do not.

Same pastebin as before, nothing changed in error:
http://pastebin.com/N8QVQT15

[2013-02-08 00:32] Puremin0rez commented on #117
Yes! You fixed it! Thanks alot nallar!

This issue is still happening for some of my dimensions though:
https://github.com/nallar/TickThreading/issues/120

(lets continue this discussion in the other issue)

[2013-02-08 00:32] #117 closed, assigned to LunNova

[2013-02-08 00:33] Puremin0rez commented on #120
Teleporting is fixed now, but I still get this error which causes me to get thrown into the void on some dimensions.

Dimension 4 and Dimension 8 give me this error when using /spawn to leave them. Zero idea why.

[2013-02-08 13:00] SShadowS opened #128 "New NullPointerException error"
This error crashes the server some times, think it is TT related but you are the experts.

https://gist.github.com/SShadowS/4738912

[2013-02-08 13:10] Puremin0rez commented on #128
It's possible its TT but it doesn't look like it

Magnet mode in NEI is causing the problem - but why I don't know.

[2013-02-08 13:18] SShadowS commented on #128
The specific player is not OP.

Btw using build 854 and feels like its the most stable build i have had so dont dare upgrading. :)

[2013-02-08 17:13] LunNova commented on #126
This might just have been the ENet failing to work correctly on restart bug, not the random disconnecting bug which seems fixed.

Possibly an issue with events - IC2 uses them for adding/removing from enet.

[2013-02-08 17:30] ghost commented on #109
Sort of back tracking on this ticket, but I get kicked sometimes if I use a Gravisuit. I find that using boost or a lag spike increases the chances of being kicked. Is there some way to add a check so that if the player is wearing certain items like that, they are ignored by fly checking?

[2013-02-08 17:32] #127 closed, assigned to LunNova

[2013-02-08 18:47] LunNova commented on #120
Can you try with 3e02f6ad32ad814c1d?

[2013-02-09 00:29] SShadowS opened #129 "#886 BuildCraft Conductive pipes wont transfer energy anymore."
Electric engine -> Wooden Con -> Golden Con -> Golden Con -> Golden Con -> Machine

All power builds up in first Golden Con til it explodes.

[2013-02-09 00:46] Sp0nge opened #130 "886 Crash, with errorlog"
https://gist.github.com/Sp0nge/b400cb28cb9cadcd6145

[2013-02-09 11:17] Puremin0rez commented on #120
@nallar

You fixed it! But... now there's more strange behavior.

It loads all the chunks fine and no error in console, but i can't break any blocks or anything until I relog.

/ticks e shows 0 players - so that's not good.

We're getting further!

[2013-02-09 23:18] eagl3s1ght opened #131 "Deadlock after using //paste with Worldedit with Users standing inside area"
http://puu.sh/202Ed/c05a93513b

[2013-02-09 23:38] LunNova commented on #131
The server didn't deadlock, just //paste took far too long. Increase the deadlock time in TT's config.

[2013-02-09 23:38] #131 closed, assigned to LunNova

[2013-02-09 23:40] LunNova commented on #130
Looks like IC2's network handler got into an infinite loop, fixed via 4ffd485.

[2013-02-10 03:45] #130 closed, assigned to LunNova

[2013-02-10 22:58] LunNova commented on #129
Is this still broken in latest?

[2013-02-11 03:24] tprussak opened #132 "Mystcraft Accelerated Symbols do not work"
The accelerated symbol from Mystcraft does not work, as it normally functions by raising the tickrate of that age, however, TT changes something and causes it not to work.
Mystcraft v0.9.5.00
TickThreading v913
Forge v515

[2013-02-11 10:43] SShadowS commented on #129
I can't check it at the moment as I have only access to the console from here, but uploaded the new version and now Overworld is at 133% load (/tps).
And that were not the case before.
You are welcome to get access to the server if that helps you regarding debugging and the logs you need.

[2013-02-11 11:13] SShadowS commented on #129
Disregard the lag issue, it settled by itself somehow. But Confuctive pipes are still not working.
The offer to give you access to the server still stands.

UPDATE Lag issue:
It had 5500 Entities load constantly until first person logged in, then it fell to about 76 entities.

[2013-02-11 11:53] HaoSs07 opened #133 "Completely failed to save a chunk!"
It seems to be a problem with chickenchunks?,but not sure. i temporary removed it from the server. and it seems to work now.
I also have a option modified for that mod. only to work when the player is online
See log here:
http://pastebin.com/5buSTNyS

Also some strange things i have on server after installing TT:
- RP timers stop to rotate after server restart ?
- Also had a big problem with mob s

[2013-02-11 13:22] SShadowS opened #134 "#918 Exception in main tick loop"
New error occurs:
https://gist.github.com/SShadowS/4754381

Chicken chunks problem, but not the same as the other reported. (I think)

[2013-02-11 15:37] coderjcronin commented on #133
Same here; using latest build (918) and getting chunk save fails... appears to be areas where chunk loaders are being used.....
02-12 00:34:34 [SEVERE] [TickThreading] Failed to save a chunk, trying again.
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$ValueIterator.next(HashMap.java:868)
    at bq.a(SourceFile:2

[2013-02-11 18:12] cronixia commented on #133
Getting the same problem.

02-11 13:09:45 [SEVERE] [TickThreading] Failed to save a chunk, trying again.
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$ValueIterator.next(HashMap.java:868)
    at bq.a(SourceFile:24)
    at cd.a(SourceFile:114)
    at bq.a(SourceFile:25)
    at by.a(SourceFile:26)
    at cd.a(Sour

[2013-02-11 19:44] LunNova commented on #133
The comodification issues should be fixed in latest, not sure about the AIOOBE.

[2013-02-11 23:26] LunNova commented on #129
I've disabled all forms of mob spawning in latest if 0 players are online, which should fix that.

Can you link a screenshot of the faulty setup, and gist/pastebin your TickThreadingLogs/tickthreading.log? Thanks.

[2013-02-11 23:28] LunNova commented on #120
Still happening after the fix we discussed early in the morning two days ago on IRC?

[2013-02-11 23:29] LunNova commented on #126
Fixed via 563f723ebcbe2

[2013-02-11 23:30] LunNova commented on #128
This is almost definitely not a TT error - network ticks aren't concurrent by default, so unless you changed that in the config this is probably an NEI bug, or maybe someone trying to use an NEI exploit?

[2013-02-11 23:31] #126 closed, assigned to LunNova

[2013-02-11 23:41] LunNova commented on #133
Can't reproduce the timer or mob spawning issues on latest.

[2013-02-12 03:51] keplersj opened #135 "Build 918: TropiCraft bugs"
TropiCraft is installed as a core mod.

Either TickThreading or TropiCraft is throwing an error causing the server to crash without showing anything in the console relating to it, other than:

2013-02-11 20:28:30 [SEVERE] [TickThreading] Looks like another mod broke TickThreaded tile entities in world: Tropics/-127
2013-02-11 20:28:30 [SEVERE] [TickThreading] Looks like another mod broke TickThrea

[2013-02-12 03:52] keplersj commented on #118
I've never seen this done before. I like the idea.

[2013-02-12 05:45] tprussak commented on #120
I'm running mystcraft and fighu's on my server, and I don't get any errors switching worlds on build 913.

[2013-02-12 05:49] tprussak commented on #109
Forge on it's own breaks most flyhacks simply by being incompatible. And vanilla fly-detection is almost always off on forge servers that have a mod that allows legitimate flight, as vanilla fly detection indiscriminately kicks players who are in the air for long enough and not in creative. I've even been kicked for using a player-launching TNT cannon once on a vanilla server, simply because I was

[2013-02-12 08:46] SShadowS commented on #128
I will investigate it myself, thanks for the help.

[2013-02-12 08:46] #128 closed, assigned to LunNova

[2013-02-12 08:47] SShadowS commented on #120
I dont have world switching errors anymore. Build 918.

[2013-02-12 09:48] SShadowS commented on #129
Full log:
https://gist.github.com/SShadowS/4761238

Picture of setup:
http://peecee.dk/uploads/022013/2013-02-12_09.53.36.png

[2013-02-12 11:13] HaoSs07 commented on #133
ok. i will try the latest build today and come with feedback

the spawn problem is fixed. we talked on the FTB forum. i changed to fast spawning and its gone. don't know what happen really. to tell you how to reproduce it.spawned like 10k animals. capped with aperf. changed TT to fast spawn. removed cap from aperf . and that was it.

[2013-02-12 12:23] LunNova commented on #135
Try latest, and disable world unloading. (Only added to the config in latest.)

[2013-02-12 12:23] #120 closed, assigned to LunNova

[2013-02-12 15:00] HaoSs07 commented on #133
oh i remembered a thing about the spawn animals bug. it was only present when i had 20+ players.

[2013-02-12 16:45] cronixia opened #136 "TT #923 Server Deadlock - Set to 90 seconds"
http://pastebin.com/Gan8hq1g

[2013-02-12 16:47] cronixia opened #137 "TT #923 - Exception Ticking World"
Doesn't crash the server as far as I can tell, but it does pop up in the server console.

http://pastebin.com/qFdPebZp

[2013-02-12 22:08] Cyteq opened #138 "[Bug] TT v926 - Crashing after a save?"
Im not sure if this is intended to stop the server or not but I have had this bug for a while. Here is the most recent log.

http://pastebin.com/waRf2zuF

[2013-02-12 22:23] cronixia opened #139 "TT #927 Exception during tile entity tick Buildcraft/TE"
Doesn't cause a crash, just a message in the console.

http://pastebin.com/MdQNVW8Q

[2013-02-12 22:25] cronixia commented on #138
I've already posted this error. https://github.com/nallar/TickThreading/issues/136

[2013-02-13 00:30] #138 closed, assigned to LunNova

[2013-02-13 05:02] keplersj commented on #135
Looks like that fixed it. Thanks!

[2013-02-13 05:32] keplersj commented on #135
Nevermind...

Caused by just being in the Tropics in looks like.

2013-02-12 22:28:03 [INFO] [STDERR] Exception in thread "Chunk Updates for Tropics/-127 - 5" java.lang.NoClassDefFoundError: l
2013-02-12 22:28:03 [INFO] [STDERR]     at a.<init>(CrashReport.java:27)
2013-02-12 22:28:03 [INFO] [STDERR]     at a.a(CrashReport.java:319)
2013-02-12 22:28:03 [INFO] [STDERR]     at yc.m(World.java:826)
2

[2013-02-13 19:41] LunNova commented on #136
Fixed in latest.

[2013-02-13 19:41] #136 closed, assigned to LunNova

[2013-02-14 16:41] eagl3s1ght opened #140 "Snapshot: High CPU Usage (90%) after long uptime (one-time occurrence)"
After 20 hour runtime, my server jar suddenly takes all CPU possible (up to 93%), with only 3 players online and 2900 chunks loaded. The TPS was also down to 11.

Snapshot of about 1+ minute with this weird occurence: http://puu.sh/22n5v/e6a1e6207e
This has never happened before, I am guessing it's related to this version of TT: TickThreading-1.4.7-1.0.0.931.jar

[2013-02-14 18:36] xfloh22 commented on #134
getting the same problem, it crashes the server about every hour

[2013-02-14 21:27] LunNova opened #141 "Seasons Comodification Exception"
2013-02-14 22:26:30 [SEVERE] [TickThreading] Exception ticking block WeatherPony.Seasons.BlockSpringGrass@788ffbe9 at x141008y1548z91040
java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextEntry(HashMap.java:894)
        at java.util.HashMap$KeyIterator.next(HashMap.java:928)
        at WeatherPony.Seasons.Seasons_WorldData.getSettings2(Seasons_WorldData.java:62

[2013-02-14 21:28] WebMaka opened #142 "Player movement updates do not occur when riding an entity - TT #933"
With no other changes than installing TickThreading and running PATCHME, minecarts won't move and can't be pushed/deployed when occupied, whether by player or by redstone device. Unoccupied carts are mobile.

No errors were found in the console.

Environment:
OS: Windows Server 2008 R2 (6.1) Service Pack 1
JVM: Java HotSpot(TM) 64-Bit Server VM (23.6-b04, mixed mode)
Java: version 1.7.0_11, vendor

[2013-02-14 21:53] LunNova commented on #142
This should be fixed in build 937, thanks for the report.

[2013-02-14 21:59] LunNova commented on #142
Looks like that didn't work, sorry.

[2013-02-14 22:43] #142 closed, assigned to LunNova

[2013-02-14 22:43] LunNova commented on #142
Actually fixed in 942.

[2013-02-14 23:37] #133 closed, assigned to LunNova

[2013-02-14 23:46] #140 closed, assigned to LunNova

[2013-02-14 23:47] eagl3s1ght commented on #140
Seems directly unrelated to TT, sorry!

[2013-02-15 11:32] HaoSs07 opened #143 "#943 Console spam ic2/Buildcraft addContinuousTickCallback"
http://pastebin.com/p3S2pCBg

[2013-02-15 15:48] cronixia opened #144 "TT #943 Exception ticking block Factorization"
http://pastebin.com/VzG9TBxx

Doesn't crash the server, just appears in the TT logs.

[2013-02-15 15:51] cronixia opened #145 "TT #943 Exception during tile entity tick Builcraft/Factorization"
http://pastebin.com/vzNNNKpY

Same as the other, doesn't crash the server, just appears in the log.

EDIT: Just got another error report that looks similar to this.
http://pastebin.com/yEXunSnc

[2013-02-15 15:52] cronixia opened #146 "TT #943 Exception during tile entity tick RP2 tubes/machines"
http://pastebin.com/dMWt3dx3

Appeared in the log.

[2013-02-15 15:56] cronixia opened #147 "TT #943 Exception during tile entity tick TE/RP2/Buildcraft. Tubes/Pipes into a tesseract?"
http://pastebin.com/Fxc41iiG

[2013-02-15 18:11] LunNova commented on #143
[Known IC2 bug with foam and cables](http://bt.industrial-craft.net/view.php?id=240)

[2013-02-15 18:11] #143 closed, assigned to LunNova

[2013-02-15 18:17] HaoSs07 commented on #143
strange.  i use foam and cables for more then 2 weeks now. but never got this spam in console.

[2013-02-15 19:45] The-sMi opened #148 "TT build #944 [TickThreading] Exception in main tick loop // codechicken"
its a problem with codechicken, the server works but the log file get every sec a entry with this error.

http://pastebin.com/ap0nCNLL

[2013-02-15 22:12] LunNova commented on #147
Duplicate of #139.

[2013-02-15 22:12] #147 closed, assigned to LunNova

[2013-02-15 23:12] LunNova commented on #139
This should be fixed in latest.

[2013-02-16 14:19] WebMaka opened #149 "TT#943: Exception during tile entity tick ticking: c buildcraft.transport.TileGenericPipe"
Found this in my log this morning - I have my server set to restart every morning.

Error during server restart:

'''2013-02-16 08:05:45 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe@7c2179dd x,y,z: 369, 52, 252 at x,y,z:369,52,252
Tick region: rX: 23, rZ: 15, hashCode: 983063:
java.util.ConcurrentMod

[2013-02-16 14:31] HaoSs07 opened #150 "log with errors. multiple mods ?"
http://pastebin.com/ZNbipP5u

[2013-02-16 14:32] HaoSs07 commented on #150
server crashed  3 times today with the same error
http://pastebin.com/mRVbHW8x ( crash report from crash-report directory )

[2013-02-16 14:42] LunNova commented on #150
This should be fixed in latest. If that doesn't fix it, turn off world unloading in TT's config.

[2013-02-16 14:45] HaoSs07 commented on #150
ok. try last build now.

[2013-02-16 14:46] #149 closed, assigned to LunNova

[2013-02-16 14:46] WebMaka commented on #149
Had another one pop up - lessee if I can get the markup to work properly this time...

`2013-02-16 08:35:41 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe@6dc59a3e x,y,z: -1268, 57, -2809 at x,y,z:-1268,57,-2809
Tick region: rX: -79, rZ: -175, hashCode: -11468879:
java.util.ConcurrentModificationExcept

[2013-02-16 14:55] HaoSs07 commented on #150
for now all its good. will monitor the server. you can close it

[2013-02-16 14:55] #150 closed, assigned to LunNova

[2013-02-16 15:04] #146 closed, assigned to LunNova

[2013-02-16 15:05] LunNova commented on #145
Also fixed via 9f88c887ac62c.

[2013-02-16 15:05] #145 closed, assigned to LunNova

[2013-02-16 15:07] #134 closed, assigned to LunNova

[2013-02-16 15:08] #112 closed, assigned to LunNova

[2013-02-16 18:59] Quest79 opened #151 "Crash with FTB Mindcrack 1.4.7 & TT 947"
Fresh install, right after running PATCHME
https://gist.github.com/anonymous/4968221

[2013-02-16 19:43] #151 closed, assigned to LunNova

[2013-02-16 19:43] LunNova commented on #151
However, TT is not currently useable on clients, there's not much point in trying.

[2013-02-16 21:19] LunNova commented on #139
This may still rarely occur, talked to King_Lemming and a fix will be included in the next version of Thermal Expansion.

[2013-02-16 21:19] #139 closed, assigned to LunNova

[2013-02-16 22:17] vanZeben opened #152 "TT #956 Server crash, Stack Overflow Exception"
Server will run for a few minutes then crash with this. Running Feed The Beast's Direwolf20 pack
http://pastebin.com/raw.php?i=eBruU6jJ

[2013-02-16 22:22] Quest79 commented on #151
Wouldn't it help in FTB SSP? My tile entities are at 30% overall. Thanks for the quick response!

[2013-02-16 22:31] LunNova commented on #151
That's probably the rendering time, which TT won't help with.

It would help in single player if you've managed to build enough stuff on your own to make the internal server lag, but you probably haven't.

[2013-02-17 00:38] HaoSs07 opened #153 "Crash report. computer craft ?"
http://pastebin.com/Pq6aRtmZ

also this happend... 02-17 02:26:07 [SEVERE] [TickThreading] Froze while attempting to stop - halting server.

i was monitoring the server just when the error happen. does the stop really works ? gamecp reboots the server if it does not detect it online. but don't think the stop from TT works.

[2013-02-17 02:13] LunNova commented on #153
This is a computercraft deadlock bug with some peripherals, and fixed in the latest computercraft version.

With exitOnDeadlock enabled in the config the stop should always work, but it can take a while if the deadlock also causes saving the world to freeze.

[2013-02-17 02:23] #152 closed, assigned to LunNova

[2013-02-17 04:21] LunNova commented on #153
Also, see #39

[2013-02-17 04:21] #153 closed, assigned to LunNova

[2013-02-17 04:50] nvx commented on #94
I for one am very interested in this feature. Especially after commit 8311eee

Edit: Heck, I'd be interested in it even if the only working functionality was the patcher :)

[2013-02-17 07:28] vanZeben opened #154 "TT #958 Array Index out of bounds error"
After entering a region defined in Worldguard (through BukkitForge), this spit out. Doesn't result in a crash or any apparent issues, apart from the exception being thrown
http://pastebin.com/raw.php?i=UFHaRJyD

[2013-02-17 07:31] vanZeben commented on #152
This works perfectly, Thank you

[2013-02-17 07:42] vanZeben opened #155 "TT #958 NullPointer with Thaumcraft"
This ends up spitting out repeatedly on console. Server stay's active though
http://pastebin.com/raw.php?i=qFstYp0G

[2013-02-17 07:52] vanZeben opened #156 "TT#958 Exception in main tick loop"
After some restarts the server stays active but this exception is spit out consistently
http://pastebin.com/raw.php?i=zWkiKp9E

[2013-02-17 07:55] vanZeben opened #157 "TT#958 Exception during tile entity tick"
Last issue im catching that doesn't appear to be reported. Occasionally this error is spit out in console, server stay's active so it isn't a huge deal at the moment.
http://pastebin.com/raw.php?i=U12SxUk7

[2013-02-17 12:07] clienthax commented on #94
Any update on this @nallar just moved my server to dedicated and would see a real performance increase if this worked :)

[2013-02-17 13:38] Pyker commented on #89
I confirm this issue. Using DW20 modpack v5.0.1, Forge 6.6.1.523, FML 4.7.31.552, LWJGL v2.8.4, OptiFine D3.

Crash log: http://paste.ubuntu.com/1670791/
Patch log: http://pastebin.com/Lngs7YS0

Like @TheSandwichMakr, if I remove OptiFine it works.

[2013-02-17 15:57] cronixia commented on #148
Getting the same thing, I get this error multiple times a second.

http://pastebin.com/mWCemaSh

Followed with this error a few minutes later, spammed every second.

02-17 02:27:49 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException

[2013-02-17 16:00] cronixia opened #158 "TT#958 Exception during tile entity tick Buildcraft PowerPipes"
Just error log in the logs. No crash.

http://pastebin.com/7wFdvFVi

[2013-02-17 16:05] cronixia opened #159 "TT#958 Exception during entity tick"
Getting these in the error log, was not online to catch what caused it.

http://pastebin.com/WTfX2gfu
http://pastebin.com/BnSL3AqA
http://pastebin.com/w99e4xVQ

[2013-02-17 16:07] cronixia opened #160 "TT#958 Exception during tile entity tick - Forestry Bees - due to invalid biome data"
More errors popping up in the logs.

http://pastebin.com/8d9jSPfz

[2013-02-17 22:05] #148 closed, assigned to LunNova

[2013-02-17 22:05] #154 closed, assigned to LunNova

[2013-02-18 14:19] WebMaka opened #161 "TT#959:Failed to set up Security Manager (java.lang.NoClassDefFoundError)"
2013-02-18 08:16:15 [INFO] [STDOUT] Failed to set up Security Manager
2013-02-18 08:16:15 [INFO] [STDERR] java.lang.NoClassDefFoundError: me/nallar/insecurity/InsecurityManager
2013-02-18 08:16:15 [INFO] [STDERR]     at net.minecraft.server.MinecraftServer.run(MinecraftServer.java:93)
2013-02-18 08:16:15 [INFO] [STDERR]     at fy.run(SourceFile:849)
2013-02-18 08:16:15 [INFO] [STDERR] Caused by: j

[2013-02-18 15:24] amcgrath18 commented on #129
Yeah Im have the same problem.

[2013-02-18 17:46] LunNova commented on #161
Can you paste the full FML log file?

[2013-02-18 18:55] LunNova commented on #161
Also, I've added more debugging in a newer build, so a log from latest would probably be helpful. Also give a console log, there's a chance something will be logged before FML's logger is initialised.

[2013-02-18 21:53] tubaboy26 opened #162 "Exception in Server Tick Loop"
cpw.mods.fml.common.LoaderException: java.lang.ClassNotFoundException: com.eloraam.redpower.RedPowerControl
    at cpw.mods.fml.common.LoadController.transition(LoadController.java:130)
    at cpw.mods.fml.common.Loader.loadMods(Loader.java:504)
    at cpw.mods.fml.server.FMLServerHandler.beginServerLoading(FMLServerHandler.java:86)
    at cpw.mods.fml.common.FMLCommonHandler.onServerStart(FMLComm

[2013-02-18 22:04] LunNova commented on #162
Did you modify redpower? If so, you'll need to remove META-INFs from all redpower jars.

Else, please upload a copy of your entire server directory, except the the world(s). Not an easy issue to debug without that.

[2013-02-18 22:09] tubaboy26 commented on #162
The TickThreadingBackup was missing most of the mods. _facepalm_

[2013-02-18 22:10] LunNova commented on #162
That's intended behaviour now. After a clean install, the TT backups folder should only contain the minecraft server jar, and possibly core mods if any were patched.

Other mods aren't actually patched now - patched classes are put in the patchedMods directory, but the mod jars in the mods folder aren't modified.

[2013-02-19 03:54] WebMaka commented on #161
I'd already updated to Feed the Beast 8.1.1, and with it, updated TT to #963, so I'll watch for any new errors.

[2013-02-19 18:50] Drehmini opened #163 "Thaumcraft 3 Golem Issues"
After I installed tickthreading my players have started complaining that their golems no longer work.

After remove the jar and booting the server they begin to work properly.
Any idea on what is going on?

Build: 942
FTB Mindcrack modpack v8.1.1

[2013-02-19 18:51] LunNova commented on #163
Anything odd in console?

Can you give more detail on "won't work"? They seem to work for me in local testing, but I may not be testing whatever part was broken by TT.

[2013-02-19 18:51] #162 closed, assigned to LunNova

[2013-02-19 18:56] Drehmini commented on #163
My apologies.

The stone golems no longer take the items from a chest and transfer them to another chest.
Tallow golems assigned with a bucket will refill a crucible, but will no longer refill the bucket with water from a designated source.
Tallow golems if assigned to an alembic, will pull the essence from the alembic but not go anywhere.
Clay golems no longer move items to barrels.

All colors a

[2013-02-19 19:23] Drehmini commented on #163
I updated Forgebukkit and repatched TT and it seems to have fixed it.

I'm guess the version of Forgebukkit I had was not compatible with either Thaumcraft or TT.

Thanks for the help nallar. Much appreciated.

[2013-02-19 19:24] LunNova commented on #163
Well, I'm still confused. I can't get a golem to work with a crucible for me - it does what you described, picking up the essentia but not placing it anywhere. I might just be using golems wrong though :p

[2013-02-19 19:26] Drehmini commented on #163
They work, probably using the golems wrong like you stated.

Definitely updating Forgebukkit and repatching TT fixed the issue.

[2013-02-19 22:22] scenegull opened #164 "Exception in main tick loop"
Not sure how this works, my first time. I like the plugin, but this error showed up after a few hours of play. It's running on a FTB server, latest as of date. I will paste a section of the log here. If it should go someplace else, I'm sorry. The end of the log just repeats ad infinitum. It doesn't appear to be affecting the server, just floods the console.

Ok, I'm not entirely useless, figured o

[2013-02-19 22:30] SShadowS opened #165 "Server crash right after patching to 969 from 958."
It won't even start

https://gist.github.com/SShadowS/4990779

[2013-02-19 23:05] LunNova commented on #164
This is fixed in the latest build, however it may be broken in other ways.
On 19 Feb 2013 22:22, "scenegull" notifications@github.com wrote:

[2013-02-19 23:06] LunNova commented on #165
That's an odd error, were there any other errors in the console? I don't
see how patching could make the modinfo file fail to parse...
On 19 Feb 2013 22:31, "Torben Leth" notifications@github.com wrote:

[2013-02-19 23:09] geoffcorey opened #166 "Exception in server tick loop - java.lang.StackOverflowError"
Patcher.log

https://gist.github.com/geoffcorey/4991074

Crash Report

https://gist.github.com/geoffcorey/4991059

Running MindCrack 8.1.0 + Logistics Pipes  with the following JVM params on dedicated 8-core 16GB machine

 -XX:UseSSE=4 -XX:+UseCMSCompactAtFullCollection -XX:ParallelGCThreads=6 -XX:+UseConcMarkSweepGC -XX:+DisableExplicitGC -XX:+CMSIncrementalMode -XX:+CMSIncrementalPacing -XX:+Use

[2013-02-19 23:12] SShadowS commented on #165
Might have been, but had to revert back quickly to 958. Have had the error
on all builds above that number. Will copy the files to another VM to
reproduce the error.
Den 20/02/2013 00.06 skrev "Ross Allan" notifications@github.com:

[2013-02-19 23:57] LunNova commented on #166
Try build 958.
On 19 Feb 2013 23:09, "Geoff Corey" notifications@github.com wrote:

[2013-02-20 00:51] geoffcorey commented on #166
Get this about every 20 - 30 seconds but the server is not crashing or lagging.

02-19 18:45:48 [SEVERE] [TickThreading] TickThreading v1.0.0.958 for MC1.4.7 is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, re

[2013-02-20 00:58] geoffcorey commented on #166
Quick followup.  Other then that exception show up in the logs the 8 cores on the machine have a nice distribution and the game is very responsive with 8 ppl logged on playing.

[2013-02-20 01:02] geoffcorey commented on #166
Sorry the exception above is every few minutes in the tickthreading.log.   The error showing up in console every 20-30 seconds is:

SEVERE Exception during entity tick at rX: 7, rZ: 31, hashCode: 2031623:
19.02 19:00:30 [Server] INFO java.lang.NullPointerException
19.02 19:00:30 [Server] INFO Tick region: rX: 97, rZ: 38, hashCode: 2490465:
19.02 19:00:30 [Server] INFO ticking: c buildcraft.transpo

[2013-02-20 02:05] Drehmini commented on #163
It looks like there is still an issue with the golems after all. Here's what the console gives me.

[SEVERE] [TickThreading] Exception during entity tick at rX: 48, rZ: -34, hashCode: -2228176:
java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
        at java.util.HashMap$ValueIterator.next(HashMap.java:868)
        at thaumcraft.common

[2013-02-20 16:14] WebMaka opened #167 "TT#969 - Recursion! Exception during tile entity tick ticking: c thermalexpansion.transport.tileentity.TileConduitEnergy"
Just updated to 969, and once the server finishes starting up, it goes into a recursive loop. CPU usage hits the cap and memory consumption rapidly jumps to the heap size limit. Naturally, nobody can log in once this happens.

2013-02-20 09:58:23 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c thermalexpansion.transport.tileentity.TileConduitEnergy thermalexpansion.transport.

[2013-02-20 17:07] geoffcorey commented on #166
Followup.  Eventually the world got corrupt with chunk errors in the nether.  We had to revert to a backup and roll back to 8.0.1 of MindCrack.

[2013-02-20 22:13] LunNova commented on #167
Can you try latest, and give a full log of console during server start?

[2013-02-20 23:32] vsilvar opened #168 "Incompability with dynmap"
Is response to the problem of:
[SEVERE] [dynmap] Error while checking world times:
java.lang.NullPointerException

And your suggesting of contacting the mod author, this response was given:
https://github.com/webbukkit/dynmap/issues/1158

Is there any option to keep both dynmap and cleanWorlds enabled?

[2013-02-21 01:25] WebMaka commented on #167
I'll give the latest a go when the server restarts tomorrow morning (I have a scheduled auto-restart set for 8AM my time, as that's about the only time it's empty), as I always immediately revert when I encounter a failure.

[2013-02-21 09:56] HaoSs07 commented on #167
also having this with the bc pipes

2013-02-21 11:47:15 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe@508c832 x,y,z: 124, 65, 2291 at x,y,z:124,65,2291
Tick region: rX: 7, rZ: 143, hashCode: 9371655:
java.lang.NullPointerException
at buildcraft.transport.PipeTransportItems.groupEntities(PipeTransportI

[2013-02-21 18:12] #161 closed, assigned to LunNova

[2013-02-21 21:54] WebMaka commented on #167
Tried #970, had the same recursion. This time I captured the server.log and ForgeModLoader-server-0.log files for a more detailed look at the startup. I'll pastebin those in a moment.

[2013-02-21 22:05] WebMaka commented on #167
server.log:
http://pastebin.com/Tw2yCEdt

ForgeModLoader-server-0.log:
1/3 : http://pastebin.com/0YmsWkZG
2/3 : http://pastebin.com/hkXMR0wm
3/3 : http://pastebin.com/fk4DBmEu

[2013-02-21 23:00] LunNova commented on #167
Looks like the patched classes aren't actually being loaded for some
reason. Don't have time to fix this today, will try tomorrow.
On 21 Feb 2013 22:06, "Tom Honaker" notifications@github.com wrote:

[2013-02-21 23:25] LunNova commented on #168
@mikeprimm

Nevermind, I see what's wrong - dynmap is handling the world unload in
another thread, after it has been cleaned? I'll make it wait a few ticks.
On 20 Feb 2013 23:32, "vsilvar" notifications@github.com wrote:

[2013-02-21 23:30] mikeprimm commented on #168
Nah, that was actually handling for the fact that I've seen these event issued by things other than the server thread (which is horribly wrong, but not something I can fix directly).  What it did is took the stuff that I need to have run on the server thread and dispatches that to run after the event.  I'm making the change to make sure that we consider the world unloaded before the event returns,

[2013-02-21 23:41] tubaboy26 opened #169 "Patcher isn't Patching"
02-21 18:37:28 [INFO] [TickThreading] Running TickThreading v1.0.0.970 for MC1.4
.7
02-21 18:37:29 [SEVERE] [TickThreading] Can't patch - no backup for ftbserver.ja
r exists, and a patched copy is already in the mods directory.
02-21 18:37:29 [SEVERE] [TickThreading] An error occurred while patching, can't
continue
java.lang.Error: Missing backup for patched file
        at me.nallar.tickthreading

[2013-02-21 23:43] mikeprimm commented on #168
OK - I don't have TT setup to test specifically, but the latest Dynmap dev build for Forge should avoid this issue.

[2013-02-22 12:42] SShadowS commented on #165
I have now researched it a bit and it seems to be ForgeBackup that breaks it. But it is strange that if I use 958 then ForgeBackup dont break.

[2013-02-22 18:33] HaoSs07 commented on #169
because you have a patched ftbserver.jar but no backup of a clean one to repatch. replace current one with a clean ftbserver.jar .
When you patch it makes backups for all mods, when you repatch. it uses the clean mods from backup to overwrite the current patched ones. so you always patch clean mods. not repatch the pached ones

[2013-02-23 00:24] LunNova commented on #168
Thanks :)

[2013-02-23 00:24] #168 closed, assigned to LunNova

[2013-02-23 00:26] #169 closed, assigned to LunNova

[2013-02-23 06:20] geoffcorey commented on #166
So generated a completely new world using the latest build of Tick Threading

---- Minecraft Crash Report ----
// Who set us up the TNT?

Time: 2/22/13 9:27 PM
Description: Exception in server tick loop

java.lang.ArrayIndexOutOfBoundsException: 0
    at net.minecraft.server.MinecraftServer.run(MinecraftServer.java:487)
    at fy.run(SourceFile:849)

## A detailed walkthrough of the error, its cod

[2013-02-23 12:29] LunNova commented on #166
Doesn't look like the patcher actually patched the server jar - tickthreading isn't in the server brand. Can you paste the patcher log?

[2013-02-23 13:53] LunNova commented on #167
@WebMaka
Can you try now? It should be fixed.

[2013-02-23 14:00] LunNova commented on #165
I have forgebackup installed while on latest, and it doesn't crash on startup. Might have accidentally fixed it? :)

[2013-02-23 16:34] geoffcorey commented on #166
https://gist.github.com/geoffcorey/5020363

[2013-02-23 17:15] HaoSs07 commented on #167
2013-02-23 19:16:48 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe@261337c3 x,y,z: 202, 72, 409 at x,y,z:202,72,409
Tick region: rX: 12, rZ: 25, hashCode: 1638412:
java.lang.NullPointerException
at buildcraft.transport.PipeTransportLiquids.fill(PipeTransportLiquids.java:525)
at buildcraft.transport.Pip

[2013-02-23 17:20] LunNova commented on #166
That's odd, looks like it patched successfully.

Can you try latest, and give a full console log, patcher log and a copy of the server jar if it still doesn't work? I've changed patching since you last tried.

[2013-02-23 21:45] HaoSs07 opened #170 "Completely failed to save a chunk! error back"
http://pastebin.com/kArT20F1

only happens from time to time.

[2013-02-24 00:37] LunNova commented on #170
Java has unhelpfully decided not to give a stack trace. :/

Add -XX:-OmitStackTraceInFastThrow to your java parameters, then when it happens again paste the log.

[2013-02-24 00:58] geoffcorey commented on #166
I will give it a shot.   Might be Sunday morning when players are offline.

[2013-02-24 04:04] geoffcorey commented on #166
Patched it tonight.

http://pastebin.com/rJnu78xB

[2013-02-24 09:06] Sp0nge opened #171 "Custompack with TT"
https://gist.github.com/Sp0nge/09b04c5932effec6927a

We were running threaded worldgeneration at the time (mytown updated for testing) i think, that ill stilll need to get checked.

[2013-02-24 09:14] Sp0nge opened #172 "Applied energetic with TT build 963"
This is prob the start of the series "mod not covered with FTB" :)

https://gist.github.com/Sp0nge/3da8e4976b7a6241a9d7

[2013-02-24 11:52] LunNova commented on #171
You can't actually do threaded generation, minecraft's world gen isn't threadsafe. You'll get very buggy terrain.

The server thread froze waiting for the generation lock, which it never acquired as there were 8 other MyTown threads trying to generate at the same time.

[2013-02-24 11:53] #171 closed, assigned to LunNova

[2013-02-24 13:24] HaoSs07 commented on #172
what does that mean ?

[2013-02-24 13:29] HaoSs07 commented on #170
after running the server all night the 1gb TT log was to big to open :)) so ... need to try again

[2013-02-24 15:06] geoffcorey commented on #166
So the odd thing happening now is a lot of <player> moved wrongly messages.   I added in XX:-OmitStackTraceInFastThrow to the java start script and will restart later this morning to hopefully get better error messages.   Here is what the current TickThreading log looks like https://gist.github.com/geoffcorey/5024139

Another odd behavior is Forge seems to drop permissions when I go to the nether.

[2013-02-24 16:07] WebMaka commented on #167
Trying build 988, BBIAB...

EDIT: No joy, recursive error - INFO at thermalexpansion.transport.tileentity.TileConduitEnergy.updateGrid(TileConduitEnergy.java:397) repeats endlessly.

Reverting to pre-TT. I'll post the new logs in a moment.

[2013-02-24 16:30] WebMaka commented on #167
TT#988 - the recursion continues...

TT Patcher Log:
http://pastebin.com/0aNrn9uG

TT Log:
http://pastebin.com/AzV920F7

server.log:
http://pastebin.com/XSfmZiqh

ForgeModLoader-server-0.log:
1/3: http://pastebin.com/cPu37Yvj
2/3: http://pastebin.com/hT2tHTQT
3/3: http://pastebin.com/1s3Ht7ga

How I install TT, in case it makes a difference:
1. Server is stopped and the Java process watched until

[2013-02-24 18:06] LunNova commented on #167
Do you have the actual console log? Classloader logging doesn't end up in any log files if it's from before the logger is initialised.

The server jar isn't in the same directory as the mods/patchedMods folders? That could break it, fixed via 25baff5e9f.

[2013-02-24 18:21] LunNova commented on #167
After 26529e21c9c classloader logs will be saved to the FML log file, no need to mess around and find how to get the full console log with Multicraft.

[2013-02-24 18:38] LunNova commented on #166
Turn off 'antiCheatNotify' in the config if you don't want the moved wrongly messages - that's a vanilla warning message, TT allows admins to see it instead of it just being shown in console as it can be helpful for finding cheaters. Unfortunately, it also can be quite unhelpful, as there are some collision bugs which cause it to be displayed even if people aren't cheating.

By 'lost permissions'

[2013-02-24 18:50] LunNova commented on #166
If that was the issue, fixed via e553d71e683.

[2013-02-24 19:45] HaoSs07 commented on #170
http://pastebin.com/uf8KZgSP

scroll down past the known pipe error :P

[2013-02-24 20:28] WebMaka commented on #167
Multicraft does a little shuffling around of things since it uses its own system service as a management front-end for the actual server, and it invokes the server jar by passing a tokenized command-line string to the Java VM, interpreting the tokens before doing so. The server jar file is stored in a jar directory off the server's root (and there can be more than one server on one Multicraft inst

[2013-02-24 23:38] LunNova commented on #170
One of your world's .mcr files is corrupted.

[2013-02-24 23:53] HaoSs07 commented on #170
mcr or mca ? i can reset the nether/end/twilight. but if its overworld... probably there is no way to see what region is corrupted??

[2013-02-24 23:55] LunNova commented on #170
Don't have time tonight, will make it log the region tomorrow.
On 24 Feb 2013 23:53, "HaoSs07" notifications@github.com wrote:

[2013-02-25 00:13] HaoSs07 commented on #170
no problem, i have time :) thx for help

[2013-02-25 11:19] eagl3s1ght opened #173 "LogisticsPipes Provider Pipe causing Exception"
`2013-02-25 12:17:43 [SEVERE] [TickThreading] Exception during tile entity tick
icking: c logisticspipes.proxy.cc.LogisticsTileGenericPipe_CC logisticspipes.proxy.cc.LogisticsTileGenericPipe_CC@30fd6f7f x,y,z: 1466, 105, 1132 at x,y,z:1466,105,1132
ick region: rX: 91, rZ: 70, hashCode: 4587611:
ava.lang.NoClassDefFoundError: logisticspipes/pipes/PipeItemsProviderLogistics$1
       at logisticspipe

[2013-02-25 12:37] eagl3s1ght opened #174 "Buildcraft Phase Transport Pipe causing Exception"
`2013-02-25 13:35:42 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe@467dcc62 x,y,z: 347, 64, -562 at x,y,z:347,64,-562
Tick region: rX: 21, rZ: -35, hashCode: -2293739:
java.util.ConcurrentModificationException
        at java.util.LinkedList$ListItr.checkForComodification(Unknown Source)
        at ja

[2013-02-25 20:43] #170 closed, assigned to LunNova

[2013-02-25 22:32] LunNova commented on #173
That inner class doesn't even exist... :s

Can you try the latest dev build of logistics pipes?

[2013-02-25 22:41] GUIpsp commented on #107
FES is too much like RES

[2013-02-25 23:37] geoffcorey commented on #166
Removed forge and installed 1001 and repatched against clean mods.  Some errors in the logs but nether block breaking issue is resolved.  Server so far responsive and other then the initial startup errors listed below the log file is quiet.   I will update the ticket later after users rejoin and normal play resumes.

TickThreading.log http://pastebin.com/UNVBP7vd
Patch.log http://pastebin.com/57tN

[2013-02-26 00:20] geoffcorey commented on #166
So odd defect.   When 2 players go through a portal, one player will be invisible to the other until the invisible player logs out and logs back in.   No errors in the log.

[2013-02-26 05:41] geoffcorey commented on #166
Quick update.  No errors in logs other then initial posted earlier after several hours of normal gameplay.  Load is balanced across CPUs very nicely.  No memory leaks.

[2013-02-26 15:25] xaviorm commented on #172
This issue is in the current stable build as well. From what we could tell last night it looks like it may be wires trying to connect to blocks that will not receive the connection. At least it looked like all the locations we had in the logs were stone bricks.

[2013-02-26 15:49] xfloh22 commented on #165
tryed latest build and also have forgebackup installed, il see if uninstalling changes anything, exact same version update is causing it to break

[2013-02-26 17:21] LunNova commented on #165
It's an forgebackup bug, just that TT build happens to make it happen. :p

[Made a report with monoxide, should be fixed in the next forgebackup version.](http://www.minecraftforge.net/forum/index.php/topic,4606.msg32630.html#msg32630)

[2013-02-26 17:21] #165 closed, assigned to LunNova

[2013-02-26 20:58] xfloh22 opened #175 "TT #1001 and newer bukkitforge"
The newest builds breaks bukkit forge. It doesnt show any TT related errors but when i remove TT bukkit forge works perfectly. if i find any errors, i will post them

[2013-02-27 15:25] geoffcorey commented on #166
Only other issue found is sleep will result in random times rather then dawn.  Sometimes it you wake up and it is earlier in the night!?!?    Anyway I am not sure this is a TickThreading issue.

Unless you want to keep the issue open for the initial stack traces after patching, feel free to close this issue.

[2013-02-27 17:47] LunNova commented on #166
The time should be set correctly after a77a80521368.

[2013-02-27 19:01] WebMaka commented on #175
FWIW, I run BukkitForge for Essentials/GroupManager, Lockette, and the WorldEdit/Border/Guard combo. TT#1006 and BukkitForge #252 do work with each other. Or at least they do enough that Essentials is throwing the MOTD up on my server, and GroupManager permissions appear to be working.

Now if I could just find a solution to that bane of Minecraft server operators everywhere: endofstream disconnec

[2013-02-27 19:04] WebMaka commented on #167
Huzzah, it launched successfully and without recursion with build 1006. I'm getting a lot of "[Server] INFO [STDOUT] Null Grid..." entries in the server log now though - they're coming in groups of 4-8 at a time every few dozen seconds or so.

[2013-02-27 19:37] xfloh22 commented on #175
just found an error when i started the server up:

http://pastebin.com/fcL1D1rr

this happens for every plugin i have on the server

[2013-02-27 19:38] LunNova commented on #175
Are you also on the newest bukkitforge?

[2013-02-27 19:40] xfloh22 commented on #175
build #252, which is the newest i see on its jenkins

edit: just to be sure i took a completely clean version of mindcrack v8.1.1. and installed only bukkitforge and TT and the error still happened when i installed just one plugin. and i also get this error when stopping the server with the 2 installed:

http://pastebin.com/Ypp23Eti

[2013-02-28 07:05] eagl3s1ght opened #176 "TT1012 breaks BF252 Worldguard/Worldedit (Definitive)"
ForgeModLoader before patching 1012:
http://puu.sh/29DWy/6136282d62

ForgeModLoader after patching 1012:
http://puu.sh/29DYC/fd7fdb3965

This did not happen in BF230 with TT931.

How to reproduce:
1. Download Tekkit Lite Server 0.5.7.1
2. Apply Bukkitforge 252
3. Apply Latest Worldedit/Worldguard into /plugins
4. Start server, notice no errors.
5. Apply Tickthreading 1012
6. Start server, notice e

[2013-02-28 18:43] geoffcorey commented on #166
have not upgraded yet but will do that this weekend.  The other item that is odd is the timers would stop or get stuck.  Not sure if that is a result of TT or something else.   No info in the logs showing any errors.

[2013-02-28 19:44] LunNova commented on #166
When you next update, if a timer gets stuck can you run `/dump <x y z of the timer>` and pastebin the results?

[2013-03-01 21:48] HaoSs07 opened #177 "Patching server."
running from root:
sh PATCHME.sh
Error: Could not find or load main class me.nallar.tickthreading.patcher.PatchMain

. I patched the server on my pc. then uploadit with FTP . when i start the server. it says that there is no patch,or the patch is old. and run the patchme.sh/cmd.

Any idea ?

[2013-03-02 00:05] #176 closed, assigned to LunNova

[2013-03-02 00:33] LunNova commented on #177
Did you remember every folder/file which needs copied? (server jar, mods, coremods, patchedMods)

I've changed the PATCHME.sh/cmd files in latest, so they should work even if they were created on a different computer.

[2013-03-02 13:08] LunNova commented on #175
438dc9364c7f should also fix this.

[2013-03-02 13:08] #175 closed, assigned to LunNova

[2013-03-02 13:31] HaoSs07 commented on #177
used 1015 to patch. and copied all files/folder except server.proprieties . On my pc the patch works. after i upload it to ftp. they don't. and i get the first error if i try to repatch . will try the latest

[2013-03-02 14:54] WebMaka commented on #94
Turns out the problems with excess memory consumption and CPU utilization were caused by Feed The Beast's server jar. Swapping that out with the latest recommended MCPC+ build dropped memory consumption from near-maximum (7+GB of 8192MB max with nobody on) to something more in line with load (500-700KB with one player on) and CPU utilization from all over the map (15-90%) to sane (1-2%).

[2013-03-02 14:56] clienthax commented on #94
And you posted that here because?

[2013-03-02 15:15] WebMaka commented on #94
Sorry, I didn't adequately make my point. I posted that here because I'd love to encourage Nallar to add MCPC+ support when he gets the chance. TickThreading was instrumental in helping isolate the problems I was having to the server jar and not a specific mod, so having it for MCPC+ would be yet more of a good thing.

(And yes, I had the same results from trying TickThreading with MCPC+ that you

[2013-03-02 21:14] geoffcorey commented on #166
Upgraded and when one of the players disconnected we got about 800K of this in the logs until I restarted the server

http://pastebin.com/D6qitTmp

Patcher log is http://pastebin.com/6q6jBFqi

Also had 1 timer stop.  When I tried to do the dump on the timer I get

No Block at Overworld/0 x,y,z15,209,69
World time: 15898891
No tile entity at Overworld/0 x,y,z15,209,69

[2013-03-02 21:21] geoffcorey commented on #166
The player in question was going from The End to the Overworld when he got disconnected.  Odd thing is 2 of the machines he built and all of his stuff he was wearing disappeared

[2013-03-03 02:19] LunNova commented on #177
Can you try latest? The patcher has had a few more changes with how it handles files. If that still doesn't fix it, please upload a copy of your server folder(except don't upload the worlds) so I can try to find what exactly is broken.

[2013-03-03 02:20] LunNova commented on #94
e5b13f5ca10f940e88e355104aaea0ab1e886b92

MCPC+ now works-ish with TT. It can be considered to be double-experimental with MCPC+, please log any errors here if you do test it.

[2013-03-03 02:23] LunNova commented on #132
I won't be fixing this. Mystcraft implements this in a way which causes reduced performance, so there's not much point in supporting it with this mod. If you really need it I can try, but it seems like a lot of bother for something which will just make performance worse.

[2013-03-03 02:23] #132 closed, assigned to LunNova

[2013-03-03 02:23] #144 closed, assigned to LunNova

[2013-03-03 02:23] LunNova commented on #135
Closing this as no response after adding change to allow for a proper error log.

[2013-03-03 02:23] #135 closed, assigned to LunNova

[2013-03-03 10:34] clienthax commented on #94
TT seems to disable the loading of bukkit plugins somehow, no bukkit plugin related output can be observed while starting the server

[2013-03-03 10:46] clienthax commented on #94
/plugins shows the plugins are "loaded" but no commands work and groupmanager doesnt seem to be working

[2013-03-03 10:51] clienthax commented on #94
set off a antimatter missile

10:50:19 [INFO] Antimatter Missile exploded in -87, 86, 439

[code]

ger.java:157)

also this appeared a few mins after start

10:39:00 [SEVERE] The server has stopped responding!
10:39:01 [SEVERE] Please report this to http://www.mcportcentral.co.za/
10:39:01 [SEVERE] Spigot version: 1.4.7-R1.1-SNAPSHOT
10:39:01 [SEVERE] Begin Exception Trace For All Threads:
10:39:0

[2013-03-03 12:16] HaoSs07 commented on #177
i see if i have time today . if not. will try next week.probably Tuesday. will come with feedback

[2013-03-03 13:12] LunNova commented on #94
67312768d0671cc88 should fix the stopped responding error, and after that worldedit works for me. Haven't tested any other plugins.

[2013-03-03 13:24] LunNova commented on #94
and worldedit only works if it's started without any config files, so the second start breaks it. Should have that fixed soon.

[2013-03-03 14:24] clienthax opened #178 "MCPC+ issues collection"
After patching mcpc for tickthreading it seems that the some bukkit plugins dont work,
worldedit and worldguard seem to be dead
automessage doesnt print messages (related to ticks?)

[2013-03-03 15:27] LunNova commented on #178
b5ff72157e06f9b6cc58 fixes worldedit, probably also worldguard.

[2013-03-03 15:59] clienthax commented on #178
Any luck with automessage?

[2013-03-03 16:16] clienthax commented on #178
[code]

[2013-03-03 17:23] xfloh22 opened #179 "TT #1036 server freezing"
The server randomly shows this error and the server lags a lot:

The server appears to have frozen on 'TickManager.DoTick: Random world/0' ....

if i remove TT this error doesnt show and the server doesnt freeze.

[2013-03-03 21:29] tubaboy26 opened #180 "Issue with logistics pipes spamming the console"
03-03 16:26:23 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c logisticspipes.proxy.cc.LogisticsTileGenericPipe_CC logisticspipes.pr
oxy.cc.LogisticsTileGenericPipe_CC@793c5c6c x,y,z: 1051, 55, -1634 at x,y,z:1051
,55,-1634
Tick region: rX: 65, rZ: -102, hashCode: -6684607:
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(Unk

[2013-03-03 21:51] clienthax commented on #178
013-03-03 21:49:01 [SEVERE] java.lang.NullPointerException
2013-03-03 21:49:01 [SEVERE] java.util.ConcurrentModificationException
2013-03-03 21:49:01 [SEVERE]    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
2013-03-03 21:49:01 [SEVERE]    at java.util.ArrayList$Itr.next(ArrayList.java:791)
2013-03-03 21:49:01 [SEVERE]    at universalelectricity.core.electricity.Electricity

[2013-03-03 23:01] LunNova commented on #166
"No Block at Overworld/0 x,y,z15,209,69" means what it says - if that command gives that incorrectly, then something's completely broken. All it's doing is world.getBlockId, and if that doesn't work most of minecraft involving blocks would break.

Are you sure you got the coordinates right? :s (209 does seem like quite a high y coordinate :p)

Do you still have access to what the first error in th

[2013-03-04 00:19] geoffcorey commented on #166
ah, I got y,z mixed.   next time it sticks I'll reissue the command

[2013-03-04 01:15] Bucky420 opened #181 "issue with Terrain Control"
Happens on server statup :|

it works if i remove it :D
but ya it would be nice fi this could some how be solved XDDD probly not its probly a plugin issue XD but ya

Description: Exception in server tick loop

java.lang.IllegalAccessError
    at com.khorn.terraincontrol.bukkit.BukkitWorld.Init(Unknown Source)
    at com.khorn.terraincontrol.bukkit.TCPlugin.onWorldInit(Unknown Source)
    at com.kh

[2013-03-05 05:24] Bucky420 opened #182 "Weard issue spams console a lot!"
03-05 06:21:09 [SEVERE] [TickThreading] Exception ticking block ali@2226a338 at x6-144y264z0288
java.lang.NullPointerException
        at ali.b(BlockRedstoneTorch.java:153)
        at in.run(WorldServer.java:457)
        at me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:41)
        at me.nallar.tickthreading.minecraft.ThreadManager$ServerWorkThread.run(ThreadManager.java:

[2013-03-05 19:56] HaoSs07 commented on #177
patched on pc. uploaded to linux server. patch not there :) tryed last version. with direwolf and ultimate modpack

[2013-03-06 20:57] LunNova commented on #182
Fixed via 02a9f00546d2390d3e.

[2013-03-06 20:57] #182 closed, assigned to LunNova

[2013-03-06 21:37] HaoSs07 commented on #177
also. i had a patched version. removed chicken chunks do to an error.
uploaded a day later patched chicken chunks (made on my pc. with same TT version ). TT does not see the server patched. had do repatch :)

[2013-03-07 01:50] tubaboy26 opened #183 "Server failing to save chunks"
03-06 20:45:16 [SEVERE] [ForgeModLoader] A mod failed to handle a ChunkDataEvent
.Load event
03-06 20:45:27 [SEVERE] [TickThreading] Failed to save a chunk, trying again.
java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
        at java.util.HashMap$ValueIterator.next(HashMap.java:868)
        at bq.a(SourceFile:24)
        at cd.a(Sour

[2013-03-07 06:29] aquagene opened #184 "Build #1071 - MFFS Field Fusion with Admin Card causing Exception"
<code>03-07 01:20:35 [SEVERE] [TickThreading] TickThreading v1.0.0.1071 for MC1.4.7 on 1.4.7 forge,fml, ForgeEssentials is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://github.com/nallar/Ti

[2013-03-07 22:25] clienthax opened #185 "more universal electric for nallar to fix :P"
03-07 14:20:15 [SEVERE] [TickThreading] TickThreading v1.0.0.1078 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://githu

[2013-03-08 01:23] joey19982 opened #186 "Exception during tile entity tick ticking: c thermalexpansion.transport.tileentity.TileTeleportEnergy thermalexpansion.transport.tileentity.TileTeleportEnergy"
Running a Direwolf20 FTB server using TickThreading build 1082 and MCPC+ build 233.
The server runs fine for about 5 minutes then crashes with this (From tickthreading.log)
http://pastebin.com/7QtdEZNH

[2013-03-08 19:20] Bucky420 opened #187 "Teleporting issues :\"
when you tp with essentials and some other plugins with mcpc+  http://ci.md-5.net/job/MCPC-Plus/

you get stuck in the ground and or become invisable no clue how this happens but a quick fix would be nice.

[2013-03-08 19:20] Bucky420 commented on #181
Status update? ;'( this is killing my server i rely don't want ocean biomes XDDD

[2013-03-09 07:59] jheiv opened #188 "Patching issue when server is run via Forge jar."
If you follow the steps outlined under "Vanilla Server" here [http://www.minecraftforge.net/wiki/Installation/Universal], when setting up your server it runs just as if you had modded the vanilla server jar.  (This is without TT)

However, it seems the patcher isn't smart enough to realize this and introduces errors into the unmodded server jar.

Pastebin error: http://pastebin.com/GmJ5z351

[2013-03-10 00:32] xfloh22 opened #189 "Newest FTB build errors"
When i start an updated ftb server like mindcrack 8.2 normally, everything is fine, but when i add TT this error shows:

http://pastebin.com/E47MYk7t

[2013-03-10 02:03] LunNova commented on #189
That's actually a bug with latest TT, it won't work with any version of FTB. Try an older build.

[2013-03-10 11:01] xfloh22 commented on #189
k thanks, though it workds with my mindcrack :O

[2013-03-10 16:23] clienthax commented on #189
fixed yet nallar?

[2013-03-10 16:24] LunNova commented on #189
Seems to work, hasn't had much testing.

[2013-03-10 17:05] clienthax opened #190 "Another deadlock"
03-10 09:30:41 [SEVERE] [TickThreading] TickThreading v1.0.0.1093 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://githu

[2013-03-10 17:24] ghost opened #191 "FTB Ultimate v1.0.1"
Last login: Sun Mar 10 18:17:13 on ttys000
Csorba-Mac-mini:~ csorbabalazs$ /Users/csorbabalazs/Desktop/Ultimate_Server/start.command ; exit;
java.lang.VerifyError: (class: cpw/mods/fml/relauncher/FMLLogFormatter, method: <init> signature: ()V) Constructor must call super() or this()
    at cpw.mods.fml.relauncher.FMLRelaunchLog.configureLogging(FMLRelaunchLog.java:155)
    at cpw.mods.fml.relaunch

[2013-03-10 17:25] LunNova commented on #191
Try a newer build, that's been fixed.

[2013-03-10 17:26] LunNova commented on #190
Should be fixed via 437f6dfc21b78a4d1df.

[2013-03-10 17:59] clienthax commented on #189
yep works now

[2013-03-10 18:03] ghost commented on #191
install new build but didn't work

http://pastebin.com/pGBbDbhf
what's the problem?

[2013-03-10 18:49] LunNova commented on #191
That deadlock should be fixed in build 1098. (71624e12fad04fd126819392)

[2013-03-10 18:54] ghost commented on #191
thanks!:)

[2013-03-10 21:50] geoffcorey commented on #166
Stuck timer dump
http://pastebin.com/aEYrb2vN

[2013-03-10 22:07] clienthax opened #192 "Players cant drop items"
Players cant drop items anymore, if droped as admin item just disapears
if a oplayer drops it it kicks them for hacking as theyve droped too fast

[2013-03-10 22:38] #190 closed, assigned to LunNova

[2013-03-10 22:38] #191 closed, assigned to LunNova

[2013-03-11 00:12] WebMaka opened #193 "TT#1103: Constant NullPointerException from MoCreatures 4.5.1 (Running on MCPC+ 1.4.7-R1.1b243)"
Apparently MoCreatures no likey TickThreading... These are -constant-...

03-10 19:02:23 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
    at drzhark.mocreatures.MoCServerTickHandler.onTickInGame(MoCServerTickHandler.java:78)
    at drzhark.mocreatures.MoCServerTickHandler.tickEnd(MoCServerTickHandler.java:95)
    at cpw.mods.fml.common.SingleIntervalHandler.t

[2013-03-11 00:52] clienthax opened #194 "more deadlocks exception getting block ID i"
03-10 15:18:23 [SEVERE] [TickThreading] TickThreading v1.0.0.1093 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://githu

[2013-03-11 01:37] LunNova commented on #192
Fixed being kicked, items still won't drop if there's only a single item in the stack, not sure why. I don't have time to fix it now, it's almost 2AM.

[2013-03-11 01:38] clienthax commented on #192
Thanks, get to bed :P

[2013-03-11 01:47] LunNova commented on #192
So I don't forget by tomorrow: the issue isn't that items aren't being dropped, it's that they're being picked up immediately.

[2013-03-11 06:51] aquagene opened #195 "TT #1106 Deadlock on server launch"
03-11 02:08:28 [SEVERE] [TickThreading] TickThreading v1.0.0.1106 for MC1.4.7 on 1.4.7 forge,fml, ForgeEssentials is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://github.com/nallar/TickThre

[2013-03-11 07:54] LunNova commented on #195
"Skipped"

...

Don't do that. Full Iog please.
On 11 Mar 2013 06:51, "aquagene" notifications@github.com wrote:

[2013-03-11 09:26] aquagene commented on #195
Full log got cut off here, sorry about that, only reason I did that. Here's a pastebin link to the entire log. http://pastebin.com/s09md621

[2013-03-11 11:57] clienthax opened #196 "Wrong chunk with wierd coords (0,0, -1, -1) =/ ?"
03-11 04:56:39 [WARNING] [ForgeModLoader] Entity qd['Enderman'/1916877, l='world_the_end', x=-0.25, y=65.00, z=-4.54] added to the wrong chunk - expected x0 z0, got x-1 z-1
java.lang.Throwable
        at zz.a_lock(Chunk.java:161)
        at zz.a(Chunk.java)
        at aam.loadEntities(AnvilChunkLoader.java:493)
        at aam.a(AnvilChunkLoader.java:77)
        at im.f(ThreadedChunkProvider.java:3

[2013-03-11 14:12] clienthax commented on #187
No such issues on my server with this, please insure you are using the latest build of mcpc

[2013-03-11 15:18] clienthax opened #197 "registerConnections NPE"
08:17:13 [INFO] /85.226.20.75:53066 lost connection

[2013-03-11 15:31] clienthax commented on #195
@nallar i also got a error about the lua stuff, but i lost the log, seems same issue but that was without tt on a ftb server

[2013-03-11 16:38] LunNova commented on #196
"Fixed" via 74725e4ba7fb69d3bd7d0b1.

[2013-03-11 16:38] #196 closed, assigned to LunNova

[2013-03-11 17:04] LunNova commented on #195
Should be fixed in latest, also deadlock detector reports will be smaller after 8b6661cd900a91f.

[2013-03-11 20:20] ghost opened #198 "patchme.sh run"
Last login: Mon Mar 11 21:09:58 on ttys001
Csorba-Mac-mini:~ csorbabalazs$ cd /Users/csorbabalazs/Desktop/Ultimate_Server
Csorba-Mac-mini:Ultimate_Server csorbabalazs$ sh PATCHME.sh
03-11 21:19:10 [INFO] [TickThreading] Running TickThreading v1.0.0.1109 for MC1.4.7
03-11 21:19:10 [SEVERE] [TickThreading] Can't patch - no backup for BukkitForge-1.4.7-255.jar exists, and a patched copy is already in

[2013-03-11 20:21] LunNova commented on #198
Did you do what it told you to do?

[2013-03-11 20:23] ghost commented on #198
i use 1019 update but when I run patchme.sh  this message

[2013-03-11 20:25] LunNova commented on #198
Erm, read the message I quoted. :p

You need to download bukkitforge again. You probably deleted/moved the TickThreadingBackups folder. Don't do that.

[2013-03-11 20:32] ghost commented on #198
sorry :) it's work :)

[2013-03-11 20:32] #198 closed, assigned to LunNova

[2013-03-11 21:27] clienthax opened #199 "#1109 broken"
03-11 14:26:25 [SEVERE] [TickThreading] TickThreading v1.0.0.1109 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://githu

[2013-03-11 21:40] clienthax commented on #199
above caused by curropted world(?)

- Documentation:  https://help.ubuntu.com/
  Last login: Mon Mar 11 14:04:11 2013 from cpc1-swin14-2-0-cust276.3-1.cable.virginmedia.com
  voltz@localhost:~$ screen -x 1458
  14:40:45 [SEVERE]       at fy.run(ThreadMinecraftServer.java:16)
  14:40:45 [INFO] Mod Flag: Failed to save world flag data: ih@971372b
  14:40:45 [SEVERE] java.lang.NullPointerException

[2013-03-11 22:40] LunNova commented on #199
Can you try latest, and disable world unloading in TT's config?

[2013-03-11 22:40] #197 closed, assigned to LunNova

[2013-03-11 22:45] LunNova commented on #193
Does this still happen with world unloading disabled?

[2013-03-11 23:20] clienthax commented on #199
latest with world unloading turned off

[2013-03-11 23:27] HaoSs07 opened #200 "Server deadlock , chunk related ( codechicken again ? )"
http://pastebin.com/v04cJmye

[2013-03-11 23:33] clienthax commented on #199
03-11 16:20:41 [SEVERE] [TickThreading] TickThreading v1.0.0.1110 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it's only broken with TickThreading, report it at http://githu

[2013-03-12 09:49] clienthax commented on #200
can you see if it happens with the chicken patch here?
https://github.com/MazeXD/PatchEngine/wiki/Patches

their gc is stupid anyway, causes void areas on the map

[2013-03-12 10:12] HaoSs07 commented on #200
will try it now. thx.
strange patch, but managed to install it and add patches

also last night server crashed with minimal error:

03-12 02:41:23 [INFO] [Minecraft] mooose lost connection: disconnected: Connection reset
03-12 02:41:23 [INFO] [STDOUT] Unloading Player: mooose
03-12 02:41:41 [SEVERE] [ForgeModLoader] A mod failed to handle a ChunkDataEvent.Load event
03-12 02:45:16 [SEVERE] [ForgeM

[2013-03-12 11:08] HaoSs07 commented on #200
and... not working

http://pastebin.com/buk1YjWM (forge log )

http://pastebin.com/Kn7nS1pN

[2013-03-12 13:17] aquagene opened #201 "#1110 Deadlock on launch (NOT USING MCPC+)"
Logs too long for github still, here's a pastebin link once again. Mods being used: FTB Direwolf20, ForgeEssentials, Chunkprotection, BackMeUp http://pastebin.com/wB4RCYin

Not sure if it's a recent change, but no builds since 1082 have worked for me. They all crash instantly as soon as the first person joins, or after about 1-2 minutes with nobody on.

[2013-03-12 14:25] WebMaka commented on #193
Lemme give that a try right quick...

EDIT: Using build 1110 of TT and the latest MCPC+ build (245), setting "B:allowWorldUnloading=false" stopped the errorspam from MoCreatures and allowed me to log into the test server.

Also, and I don't know if this will be a factor, I've disabled ChickenChunks since it seems to be a problem child in a lot of FTB server setups.

[2013-03-12 16:28] LunNova commented on #201
I did push a fix yesterday in 95821b568315daaa31c, but for some reason the build service never built it :s.

Should be fixed in 1111.

[2013-03-12 16:28] #201 closed, assigned to LunNova

[2013-03-12 16:28] LunNova commented on #199
Fixed via 95821b568315daaa31c.

[2013-03-12 16:28] #199 closed, assigned to LunNova

[2013-03-12 16:30] LunNova commented on #200
This is an issue with a chickenbones mod, as you suggested. I'll look into it.

edit: Actually, it's in xycraft, which for some reason has a copy of codechickencore under a different package in it. :s

[2013-03-12 16:31] LunNova commented on #195
Actually fixed via 95821b568315daaa31c.

[2013-03-12 16:31] #195 closed, assigned to LunNova

[2013-03-12 16:34] LunNova commented on #194
That specific deadlock has been fixed. Of course, can't guarantee that there aren't more :p.

[2013-03-12 16:34] #194 closed, assigned to LunNova

[2013-03-12 16:36] LunNova commented on #193
Looks like that's just a MoCreatures bug with not handling world unloads properly, so there isn't really anything I can do other than tell people to disable world unloading if this happens.

[2013-03-12 16:36] #193 closed, assigned to LunNova

[2013-03-12 16:36] #189 closed, assigned to LunNova

[2013-03-12 17:04] xfloh22 commented on #200
just a question, but doesnt xycraft cause lag when the crystals get generated? and does tt fix this?

[2013-03-12 17:17] HaoSs07 commented on #200
i reverted to a stable build i was using before.1082. no deadlock here.

LE//i have no lag from crystals. but i also filled the world using FE world border before releasing the server

[2013-03-12 19:08] aquagene opened #202 "#1111 Deadlock on Launch"
Still too long for github :( Pastebin link: http://pastebin.com/asE4Rt2Z

[2013-03-12 21:24] LunNova commented on #202
Should be fixed in c796e3589320afb9, although I haven't had time to test.

[2013-03-12 22:01] aquagene commented on #202
Server no longer crashes on launch, but now I constantly get this error only when I have tickthreading installed. Thanks again for all the hard work, love your mod:
<code>03-12 17:58:09 [WARNING] [ForgeModLoader] Exception attempting to save a chunk
java.lang.NullPointerException
    at codechicken.xycraftcopy.core.world.WorldExtension.saveChunkData(WorldExtension.java:62)
    at codechicken.xycra

[2013-03-12 22:12] WebMaka commented on #202
I got the same. I tried running an unpatched copy of Xycraft and simply replaced net.minecraft.server.MinecraftServer.\* with nallar.tickthreading equivalents.

What's with the Chicken mods and being all uncooperative? <lol>

[2013-03-12 22:45] tubaboy26 opened #203 "Crash on startup with newest Gregtech"
Whenever I load the server with the latest Gregtech it crashes but older versions work fine. [Crash report.](http://pastebin.com/pR0jwtit)

[2013-03-12 22:56] LunNova commented on #202
Should be working after 56c761ad3db4d2a228f. Closing this issue as the deadlock is fixed, open another if the `Exception attempting to save a chunk... codechicken.xycraftcopy.core` issue isn't fixed after that commit.

[2013-03-12 22:56] #202 closed, assigned to LunNova

[2013-03-12 22:58] LunNova commented on #200
Should be fixed with 56c761ad3db4d2a228f2ab8c4684.

xycraft crystals only cause client/"FPS" lag, so TT won't make any difference.

[2013-03-12 22:58] #200 closed, assigned to LunNova

[2013-03-12 23:27] #94 closed, assigned to LunNova

[2013-03-12 23:41] aquagene opened #204 "#1116 Players disconnecting instantly on log in. Exception"
03-12 19:39:32 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.NullPointerException
    at codechicken.xycraftcopy.core.world.WorldExtension.unloadChunk(WorldExtension.java:52)
    at codechicken.xycraftcopy.core.world.WorldExtensionManager$WorldExtensionEventHandler.onChunkUnLoad(WorldExtensionManager.java:70)
    at net.minecraftforge.event.ASMEventHandler_187_WorldExtensi

[2013-03-13 00:32] aquagene opened #205 "#1118 Crash on startup"
03-12 20:30:56 [INFO] [Minecraft] Preparing level "world"
03-12 20:30:56 [FINE] [fml.ItemTracker] The difference set is equal
03-12 20:30:56 [INFO] [ForgeModLoader] Loading dimension 0 (world) (ho@3c4b67b1)
03-12 20:30:56 [INFO] [ForgeModLoader] Loading dimension 7 (world) (ho@3c4b67b1)
03-12 20:30:56 [FINE] [TickThreading] Threading initialised for world Twilight Forest/7
03-12 20:30:56 [INFO] [F

[2013-03-13 00:51] 4poc commented on #205
same problem here, using the feed the beast mindcrack pack

[2013-03-13 01:03] #205 closed, assigned to LunNova

[2013-03-13 01:25] aquagene opened #206 "#1119 + 1120 Players disconnected after ~5 minutes, then disconnected instantly on reconnect."
Sorry for so many tickets, your work is greatly appreciated.
<code>03-12 21:17:55 [WARNING] [ForgeModLoader] Exception attempting to save a chunk
java.lang.NullPointerException
    at codechicken.xycraftcopy.core.world.WorldExtension.saveChunkData(WorldExtension.java:62)
    at codechicken.xycraftcopy.core.world.WorldExtensionManager$WorldExtensionEventHandler.onChunkDataSave(WorldExtensionManager

[2013-03-13 10:13] ExecR commented on #204
Similar Issue:

java.lang.NullPointerException
    at codechicken.xycraftcopy.core.world.WorldExtension.watchChunk(WorldExtension.java:72)
    at codechicken.xycraftcopy.core.world.WorldExtensionManager$WorldExtensionEventHandler.onChunkWatch(WorldExtensionManager.java:101)
    at net.minecraftforge.event.ASMEventHandler_171_WorldExtensionEventHandler_onChunkWatch_Watch.invoke(.dynamic)
    at net

[2013-03-13 14:08] HaoSs07 commented on #206
+1 for this. and the one "Players disconnecting instantly on log in ". dont know if its from TT as there is no TT in the log. so i made a report on xycraft bitbucket

[2013-03-13 14:58] Loonacy commented on #206
I moved from build 1110 to 1119 and the disconnections started immediately after that.
Using FTB Ultimate Pack + OpenCCSensors

03-13 07:22:26 [FINEST] [ForgeModLoader] Received valid FML login packet from /<IP ADDRESS>:51814
03-13 07:22:27 [INFO] [ForgeModLoader] User Bayamo connecting with mods [OCS, MFReloaded|CompatSufficientBiomes, BiblioCraft, RedPowerWiring, TwilightForest, OmniTools, Build

[2013-03-13 16:30] HaoSs07 commented on #206
it works with no TT installed. so probably its an error at TT end ? i'm sure nallar will fix it :)

[2013-03-14 17:09] xfloh22 opened #207 "TT #1120 thermal expansion error"
this error shows when people enter certain areas and they crash.

http://pastebin.com/hJTG6GAP

[2013-03-14 21:46] aquagene commented on #206
Was looking into this more, tickthreading modifies Chickencore, but Xycraft also does, quite extensively. Xycraft's modifications may be overriding Nallar's work.

[2013-03-15 00:14] aquagene opened #208 "#1121 Exception Getting block id (Diamond Chest), Exception Tile Entity Ticking"
This eventually causes a server crash. Pastebin: http://pastebin.com/6M4cwyZh

[2013-03-15 00:29] xfloh22 commented on #206
same error here, but sometimes it doesnt happen, its very random. i hate xycrap

[2013-03-15 00:40] aquagene commented on #208
Closed, new relevant report posted instead.

[2013-03-15 00:40] #208 closed, assigned to LunNova

[2013-03-15 00:43] aquagene opened #209 "#1122 Exception Ticking"
http://pastebin.com/kWqpPS6B

[2013-03-15 01:47] aquagene commented on #209
Server load is also absurdly high this build for some reason.

[2013-03-15 04:09] ray73864 opened #210 "Another Exception Ticking issue"
I know there are a couple of these ones, but anyway.

I installed this mod today for the first time to give it a go, it appeared to work out, but then i used my mystcraft book to go to my nether fortress, all appeared to work fine, then i used the book i had there to go back to my base in the overworld and BAM the issues started.

I was stuck staring at nothing but void, there was no world around

[2013-03-15 21:23] kenneaal opened #211 "EndOfStream disconnects with new chunkprovider"
Players experience disconnects with EndOfStream messages when moving around. Most often, these disconnects happen when entering areas of ungenerated land, but sometimes also just from moving around in already-generated land. The higher your speed, the more often this error seems to crop up.

Error messages can vary, but most often are this:
03-15 22:13:09 [SEVERE] [ForgeModLoader] Failed to handle

[2013-03-15 21:43] kenneaal opened #212 "ChickenCore Chunkloader causes crash when placed"
Placing a chunkloader causes the following hang and crash:
03-15 22:39:28 [SEVERE] [TickThreading] TickThreading v1.0.0.1122 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craftbukkit,forge,fml is installed on this server!
If anything breaks, check if it is still broken without TickThreading
We don't want to annoy mod devs with issue reports caused by TickThreading.
Seriously, please don't.
If it'

[2013-03-15 23:31] HaoSs07 commented on #211
there are a lot of problems with chicken chunks and xycraft on a lot of server ...without TT. so we have to wait for xycraft fix

[2013-03-15 23:56] #211 closed, assigned to LunNova

[2013-03-16 06:33] wolfe02 opened #213 "Interrupt during async packet handling causes error in blocking MySQL calls"
http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/page-21

We moved to the latest version of Tick threading, using Forge Essentials and Precious Stones. This has started happening with block breaking.

[2013-03-16 10:37] aquagene opened #214 "#1124 Log Spam (Might be related)"
Great build minus 2 problems.

With TT, Xycraft keep spamming the server log about multiblocks.
<code>03-16 05:42:21 [INFO] [STDERR] Broken link. Tile at: 519, 68, -3866 did not comprise the multiblock being removed</code>
<code>03-16 05:42:27 [FINE] [XyCraft] Adding MultiBlock: 34739, server</code>
<code>03-16 05:42:27 [FINE] [XyCraft] Deferring MultiBlock: 34740, server</code>
<code>03-16 05:42:

[2013-03-16 22:02] xfloh22 commented on #179
this error shows up after the server froze and restarted:

[SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.NullPointerException
    at soaryn.xycraft.machines.block.XyCraftWorldExtension.defer(XyCraftWorldExtension.java:231)
    at soaryn.xycraft.machines.block.XyCraftChunkExtension.unload(XyCraftChunkExtension.java:137)
    at codechicken.xycraftcopy.core.world.WorldExtensi

[2013-03-17 00:13] kenneaal commented on #211
Does not fix. Still causes EoS.

[2013-03-17 00:56] Bucky420 opened #215 "[Build 1124] [FTB Ultimate latest!] New chunk / network error - client disconnect"
pahced and ran with [jdk 7 u17]
made a new server with this on it ftb untimate and pached it then hoped on the server and when ever you moved to a new chunk it disconnect the client and you had to reconnect alot
shoulden't be to hard to recreate this error a very annoying one indeed

03-16 17:48:35 [SEVERE] [ForgeModLoader] Failed to handle packet from anonomis
java.lang.NullPointerException

[2013-03-17 01:21] LunNova commented on #215
Fixed via be2f7804ca9a7165e85d.

[2013-03-17 01:21] #215 closed, assigned to LunNova

[2013-03-17 01:22] LunNova commented on #214
Hopefully fixed via 86282ce928f8eea1e46c.

If you still have memory leaks, please make a heap dump when memory usage reaches ~3.5GB, compress it, and PM/email/anything non-publicly send me a link to it.

[2013-03-17 01:42] LunNova commented on #204
This specific xycraft-related issue is fixed.

[2013-03-17 01:42] #204 closed, assigned to LunNova

[2013-03-17 01:43] LunNova commented on #206
This should be fixed in latest, had one confirmation so far in IRC. Closing, reply here if it happens again and I'll re-open it.

[2013-03-17 01:43] #206 closed, assigned to LunNova

[2013-03-17 01:45] LunNova commented on #210
Duplicate of #210.

[2013-03-17 01:45] #210 closed, assigned to LunNova

[2013-03-17 01:46] LunNova commented on #210
Oops? I won't even edit that stupid reply out! Sorry.

Actually a duplicate of #209.

[2013-03-17 01:46] LunNova commented on #209
This should also be fixed in 86282ce928f8eea1e46c.

[2013-03-17 01:49] LunNova commented on #213
Replied in the forums with a temporary fix, will fix this properly soon.

[2013-03-17 02:13] #213 closed, assigned to LunNova

[2013-03-17 02:21] LunNova commented on #211
github auto-closed this as it had "fix #211" in the name. Only just realised this, so not reopening as it actually is fixed now.

[2013-03-17 03:15] LunNova commented on #214
The log spam is resolved, the memory leak probably is not. I will debug this later - either when jvisualvm finally finishes computing retained sizes in ~forever days - last time I tried it never even completed :/ - or hopefully when YourKit provide an Open Source License. Sorry about the delay.

[2013-03-17 05:40] npdev453 opened #216 "Dynmap Essentials errors"
12:38:44 [INFO] Loading Player: admin
12:38:45 [INFO] Sending serverside check to: admin
12:38:45 [WARNING] [Essentials] Task #810 for Essentials vDev2.10.68 generated an exception
java.lang.NullPointerException
12:38:56 [WARNING] [dynmap] Bukkit error loading chunk 115,-51 on world
12:38:56 [WARNING] [dynmap] Bukkit error loading chunk 116,-51 on world
12:38:56 [WARNING] [dynmap] Bukkit error loa

[2013-03-17 06:07] npdev453 opened #217 "ic2 patch error"
03-17 13:06:30 [FINE] [TickThreading] Patching ic2.core.EnergyNet with replaceInitializer(field:worldToEnergyNetMap,class:java.uti
l.HashMap)
03-17 13:06:30 [SEVERE] [TickThreading] Error patching ic2.core.EnergyNet with replaceInitializer
javassist.NotFoundException: field: worldToEnergyNetMap in ic2.core.EnergyNet
        at javassist.CtClassType.checkGetField(CtClassType.java:920)
        at ja

[2013-03-17 06:09] npdev453 commented on #217
i use custom ported version from here http://www.mcportcentral.co.za/index.php?topic=4657.0

[2013-03-17 06:15] npdev453 opened #218 "Mo'Creatures spaming after patch"
03-17 13:14:21 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
        at drzhark.mocreatures.MoCServerTickHandler.onTickInGame(MoCServerTickHandler.java:78)
        at drzhark.mocreatures.MoCServerTickHandler.tickEnd(MoCServerTickHandler.java:95)
        at cpw.mods.fml.common.SingleIntervalHandler.tickEnd(SingleIntervalHandler.java:22)
        at cpw.mods.fml.

[2013-03-17 06:17] npdev453 commented on #218
hm mayber beacuse i use fix for mo'cretures from here  http://www.mcportcentral.co.za/index.php?topic=4657.0

[2013-03-17 06:20] npdev453 commented on #218
ah duplicate https://github.com/nallar/TickThreading/issues/193

[2013-03-17 06:20] #218 closed, assigned to LunNova

[2013-03-17 12:23] Loonacy commented on #216
I'm getting the same thing with MCPC.

[2013-03-17 13:39] xfloh22 commented on #214
hm, also having a problem with some multiblock things. when i add TT the industrial monitors dont show anything. it just shows the blocks and they wont connect. not sure if the problem is related

[2013-03-17 14:05] LunNova commented on #217
That's not actually an error - the patch failed as IC2 changed recently, and it's no longer needed. Removed old patches in b51e579305f5037.

[2013-03-17 14:05] #217 closed, assigned to LunNova

[2013-03-17 15:28] LunNova commented on #216
Dynmap error should be fixed in latest.

[2013-03-17 15:40] Loonacy commented on #216
I'm using the latest release 1.5 from http://dev.bukkit.org/server-mods/dynmap/files/95-v1-5/

On the changelog it says
[Forge] Fix exception when ticking unloaded worlds with TickThreading mod active

Still getting errors.

[2013-03-17 15:41] LunNova commented on #216
I meant latest tickthreading.

[2013-03-17 16:33] tubaboy26 opened #219 "NoClassDefFoundError: me/nallar/tickthreading/Log"
java.lang.NoClassDefFoundError: me/nallar/tickthreading/Log
    at cpw.mods.fml.relauncher.FMLLogFormatter.format(LogFormatter.java:53)
    at java.util.logging.StreamHandler.publish(StreamHandler.java:196)
    at java.util.logging.FileHandler.publish(FileHandler.java:572)
    at java.util.logging.Logger.log(Logger.java:530)
    at java.util.logging.Logger.doLog(Logger.java:552)
    at java.util.l

[2013-03-17 16:39] LunNova commented on #219
Make sure the tickthreading jar has "tickthreading" in its name, and that it's actually in your mods folder.

[2013-03-17 17:18] LunNova commented on #219
Might have been another issue, if so fixed in 15ac2182092ee71. (Corrupted chunk?)

[2013-03-17 17:18] #219 closed, assigned to LunNova

[2013-03-17 21:54] #212 closed, assigned to LunNova

[2013-03-18 05:46] aquagene commented on #214
Awesome to see the xycraft spam fixed, I'll see if I can send you a heap dump of just java. I tested #1147, and I'm not 100% sure, but the memory leak leading to a crash seems to be partially fixed, the memory still rises, but doesn't get high enough to crash the server.

Edit: Crash still occurs after awhile, see https://github.com/nallar/TickThreading/issues/220

[2013-03-18 10:32] aquagene opened #220 "#1147 Odd behavior when no players on server/Odd memory usage"
With #1147, when no players are online, it takes about 5-10 minutes to unload dimensions. In addition, the ticks on the overworld skyrockets to around 150ms-200ms, cpu usage keeps going up all the way to 100% (older TT builds allowed CPU usage to drop to almost nothing if the server was empty), and memory climbs to fill 8gb/8gb.

The moment a player joins, though, it goes back to normal, very fast

[2013-03-18 12:57] HaoSs07 opened #221 "#1147 Little console spam"
03-18 14:46:51 [SEVERE] [TickThreading] Exception getting block ID in Overworld/0 at x,y,z183,62,544
java.lang.IllegalStateException: Entity is already tracked!
at ii.a_lock(EntityTracker.java:196)
at ii.a(EntityTracker.java)
at ii.a_lock(EntityTracker.java:150)
at ii.a(EntityTracker.java)
at ij.a(SourceFile:24)
at yc.a(World.java:1554)
at in.a(WorldServer.java:865)
at yc.a(World.java:247)
at zz.t

[2013-03-18 20:06] #221 closed, assigned to LunNova

[2013-03-18 20:10] #209 closed, assigned to LunNova

[2013-03-19 02:35] aquagene commented on #220
Yep, this bug seems to be completely fixed in #1153. Been running my server for about 5 hours now, not a single issue related to memory usage nor any problems when the server is empty. Awesome build so far.

[2013-03-19 14:01] Loonacy commented on #216
With the latest TickThreading (1153) and Dynmap 1.5 I'm getting this error once:

2013-03-19 07:58:59 [WARNING] [dynmap] Task #146 for dynmap v1.5-612 generated an exception
java.lang.NullPointerException
    at yc.G(World.java:4613)
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getFullTime(CraftWorld.java:519)
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getTime(CraftWorld.java:507)
    at

[2013-03-19 14:04] aquagene commented on #220
I've reopened this as it seems I was wrong. While the server gui does not display the memory going up, the actual java process eventually does use all 8 gigs I have allocated to it, and then stays at 8 gigs. Server does not crash, though, and keeps running smoothly, so I'm not 100% sure if this is a bug or not.

[2013-03-19 14:29] Loonacy commented on #216
After running the server for a while this error comes back:
 08:28:23 [WARNING] [dynmap] Bukkit error loading chunk 22,-44 on world

[2013-03-19 17:15] LunNova commented on #216
Oh, this is because you haven't disabled world unloading in the config, which is required for MCPC+ as MCPC+ doesn't support world unloading.

[2013-03-19 17:19] LunNova commented on #216
Reopening, I can fix MCPC+'s world unloading instead of asking people to disable it.

[2013-03-19 17:42] LunNova commented on #216
Fixed via c10c1ce306.

[2013-03-19 20:27] LunNova commented on #220
Don't set -Xmx so high unless you actually expect to use the memory - the JVM may not be using all of the memory, but it will still hold onto it.

Also, make sure you're looking at the memory usage correctly - if on Linux, you want to look at RES + SHM. VIRT usage isn't really relevant.

[2013-03-19 20:28] #183 closed, assigned to LunNova

[2013-03-19 20:28] #137 closed, assigned to LunNova

[2013-03-19 20:30] LunNova commented on #155
This is a forge bug, report it there - Chunk.getChunkBlockTileEntity should handle cases where Block.blocksList[var6] is null without crashing.

[2013-03-19 20:30] #155 closed, assigned to LunNova

[2013-03-19 21:19] LunNova commented on #214
Closing this, as the log spam is fixed.

[2013-03-19 21:19] #214 closed, assigned to LunNova

[2013-03-19 21:20] LunNova commented on #207
I believe that means you have a corrupt chunk somewhere :(

Unfortunately, Forge doesn't log the location when that happens. I'll try to add that.

edit: Nevermind, I already added that! :) If this continues to be a problem with latest TT, use worldedit on MCPC+ or MCEdit dev/beta version if on vanilla, and remove that block.

[2013-03-19 21:21] #207 closed, assigned to LunNova

[2013-03-19 21:30] HaoSs07 commented on #221
using 1154:

03-19 23:28:27 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.NullPointerException
at is.d(EntityTrackerEntry.java:442)
at is.b(EntityTrackerEntry.java:363)
at is.b(EntityTrackerEntry.java:449)
at is.a(EntityTrackerEntry.java:131)
at ii.a_lock(EntityTracker.java:238)
at ii.a(EntityTracker.java)
at net.minecraft.server.MinecraftServer.doWorldTick(MinecraftServer

[2013-03-20 11:42] Loonacy commented on #216
Thanks Nallar, you're awesome!

[2013-03-20 20:03] Loonacy commented on #216
Okay, I tested TT build 1163 with MCPC+ build 244/247 and Dynmap 1.5/1.6 and i'm still getting the "error loading chunk" errors.  Dynmap is only rendering around where i'm standing.
EDIT: I also disabled world unloading in the TT config.