[2013-04-27 00:03] LunNova commented on #330
Is that fix confirmed working?

[2013-04-27 00:04] LunNova commented on #283
Did you get this sorted?

[2013-04-27 00:05] alicheek commented on #382
Oh sorry didn't put the minuses in there! yea its right next to a nether portal

[2013-04-27 00:56] LunNova opened #383 "Sentry Turrets no longer play audio"

[2013-04-27 01:23] LunNova commented on #181
Will fix this after https://github.com/MinecraftPortCentral/MCPC-Plus/issues/802 is fixed.

[2013-04-27 02:05] Puremin0rez commented on #379
Not sure actually, it's possible people just started getting into Wireless Redstone. All I know is, the past few days, it has absolutely FLOODED my console. Doesn't stop. Worst then the IC2 spam :P

[2013-04-27 02:07] Kusinagie commented on #364
Sorry again, still not working.

[2013-04-27 02:18] Nohau commented on #383
NOOOOOOOOOo!!!!

[2013-04-27 02:37] Nohau opened #384 "TT1423 / MCPC L15 Failed to hand chunk event"
Here is the gist https://gist.github.com/Nohau/5471644

2013-04-26 21:16:25 [SEVERE] [TickThreading] A mod failed to handle a ChunkWatch event
java.lang.NullPointerException
        at codechicken.xycraftcopy.core.world.WorldExtension.watchChunk(WorldExtension.java:72)
        at codechicken.xycraftcopy.core.world.WorldExtensionManager$WorldExtensionEventHandler.onChunkWatch(WorldExtensionManager.

[2013-04-27 02:47] alicheek commented on #184
@nallar

on the 1437  build and its still doing it

2013-04-27 02:41:50 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c chb.mods.mffs.common.tileentity.TileEntityProjector chb.mods.mffs.common.tileentity.TileEntityProjector@2cdb87f x,y,z: 67, 55, 841 at x,y,z:67,55,841
Tick region: rX: 4, rZ: 52, hashCode: 3407876:
java.util.ConcurrentModificationException
    at java.util.Ha

[2013-04-27 09:17] Nohau opened #385 "TT1423 / MCPC L15 ArrayIndexOutOfBoundsException"
Keep seeing this error in console :not sure if this is your error or not as i know you do the -1 for disableFastMobSpawningDimensions .

4:05:22 AM
 CONSOLE:
[SEVERE] java.lang.ArrayIndexOutOfBoundsException: -1
4:05:22 AM
 CONSOLE:
[SEVERE] at java.util.ArrayList.add(ArrayList.java:412)
4:05:22 AM
 CONSOLE:
[SEVERE] at thaumcraft.common.AuraCalculationThread.checkFlux(AuraCalculationThread.java:2

[2013-04-27 12:32] alicheek commented on #276
@nallar

Just like to say this issue is still a pretty big one (loosing half of my new players with this one) its weird you have the spawn point set with essentials spawn. and so users that type /spawn it seems to work fine for them but when new players go to the spawn point they are either places about 20 blocks way from spawn, places inside a hollow pillar in the spawn building or are glitched o

[2013-04-27 13:28] alicheek opened #386 "[TT 1437] [MCPC+ L19] Nether portals Not working? Twighlight_Forest random lag?"
Seems that my nether portals aren't working, and that now my twilight forest world (even with a new one) is having random lag spikes like if you try and kill mobs it wont realise what you have done till about 5 mins after same with picking up items

[2013-04-27 14:27] #276 closed, assigned to LunNova

[2013-04-27 14:27] #382 closed, assigned to LunNova

[2013-04-27 17:01] #386 closed, assigned to LunNova

[2013-04-27 17:02] #373 closed, assigned to LunNova

[2013-04-27 17:10] alicheek commented on #276
Dammit so want to see if the issue is fixed by testing it but got a full server atm, and they will just moan if I do it :P ill tell you as soon as I can wither if its fixed or not, great job with all these fixes though !

[2013-04-27 17:38] wormzjl commented on #379
It's caused by wrcbe, I've seen this since the 1.2.5 age.
IMO it's not TT related.

[2013-04-27 17:50] #379 closed, assigned to LunNova

[2013-04-27 17:55] mainsheep commented on #380
2013-04-27 10:54:22 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
        at java.util.LinkedList$ListItr.next(LinkedList.java:891)
        at codechicken.chunkloader.PlayerChunkViewerManager.update(PlayerChunkViewerManage
r.java:100)
        at codechicken.chunkloader.ChunkLoaderEventHandler.tickEnd(ChunkLoaderEventHandler
.java:35)
        at cpw.mods.fml.co

[2013-04-27 19:55] Nohau opened #387 "TT1423 / MCPC L15 New Player Join Stuck"
Not getting any error logs but have been fighting this since i moved to mcpc with TT1423 .

When a new player joins they are stuck at spawn can't move they have to relogin then they can move. It may be a combination of with mcpc with TT as we did not have this prior to mcpc but it can also be a mcpc bug?

Thanks,
Nohau

[2013-04-27 20:01] alicheek commented on #387
its a knowen issue I have it too but it doesn't happen with just MCPC I think nallar might of fixed it haven't tested the latest build out yet

[2013-04-27 20:22] Nohau commented on #371
I have had this happen with 3k node but found several post that this was a issue with TC3 when doing some google search's so didn't report it on TT.

[2013-04-27 20:23] alicheek commented on #371
I have this issue too but ive never seen it before having TT I mean could be right might not be TT though :)

[2013-04-27 20:30] Nohau commented on #387
Ok as i spent hours redoing my spawn multiple times thinking it was something we where doing wrong lol finally at my wits end lol

[2013-04-27 20:35] fiddlycraft opened #388 "[TT 1444] Machines and MultiVerse"
It seems that the last working version that doesn't mess up machines is 1416 and I have been using that waiting for a fix with the MV and IC2 issues.
Please get this fixed.

[2013-04-27 21:34] alicheek commented on #387
haha I was the same just to make sure it wasn't something I did but nallar found it quickly :)

[2013-04-27 22:37] LunNova commented on #388
In what way are they "messed up"?

[2013-04-27 22:38] alicheek commented on #388
what I can vouch to this is that in the multiverse world the IC machines don't work they now face the right way when placed but u cant right click them :) haven't tested other items yet (I don't really go in that world )

[2013-04-27 22:39] #375 closed, assigned to LunNova

[2013-04-27 22:54] alicheek opened #389 "[TT 1444] [MCPC+ L19] [SEVERE] [TickThreading] Unhandled exception in worker thread Chunk Updates for Twilight Forest/7 - 5 and some other bugs (TT Log Paste)"
Think the bottom Severe is the TF issue ive been having :

2013-04-27 19:55:09 [INFO] [TickThreading] Set dimension ID for Overworld/0
2013-04-27 19:55:10 [SEVERE] [TickThreading] Tile Entity com.github.AbrarSyed.SecretRooms.common.TileEntityCamoFull@5564f7d3 x,y,z: -2526, 63, 499 failed to validate, it will be ignored.
java.lang.NullPointerException
    at com.github.AbrarSyed.SecretRooms.common.

[2013-04-27 23:00] #389 closed, assigned to LunNova

[2013-04-27 23:37] Puremin0rez commented on #384
Same here +1

[2013-04-27 23:47] LunNova commented on #388
Looks like the packet manipulation I was trying to do to fix dimension IDs in IC2's network manager doesn't work correctly, will look into it.

The change was necessary, as the way it used to work resulted in multiverse dimensions having the same IDs as non-multiverse dimensions, causing issues ranging from golems trying to visit blocks in other worlds to crashing the server under some circumstanc

[2013-04-27 23:50] alicheek commented on #388
Yea I noticed when you changed it. Seemed much more stable when  u sorted it, great job as always :)

[2013-04-28 00:06] LunNova commented on #289
Is this actually fixed or do you just not care about the issue? I do still want to find why redpower wire is being unreliable. You could edit this and change the titile/description to properly describe the issue with wires.

[2013-04-28 00:07] alicheek commented on #289
oh sorry! guessed it was fixed since haven't had any player issues ill test it right now just to let u know

[2013-04-28 00:11] alicheek commented on #289
@nallar

Its fixed :)

[2013-04-28 00:12] alicheek commented on #289
@nallar
ohhh noo its not was working there for about 30 secs and now its looping at the start

soz about that was too quick on my feet there

[2013-04-28 00:14] LunNova commented on #371
I've definitely also had aura nodes vanish without using TT, but it was a rare occurrence, we reset aura every few days. @wormzjl How regularly does this happen, can you confirm that it definitely doesn't happen without TT?

[2013-04-28 00:15] alicheek commented on #289
its very weird its very inconsistent , for instance its basically gone through the whole song here now?

[2013-04-28 00:16] LunNova commented on #289
Can you screenshot the setup which this happens with? I can replicate this, but it only happens if the wire is having block updates from something else next to it, or for example has a timer also connected to it set to run quickly.

[2013-04-28 00:18] wormzjl commented on #371
My aura node was very stable before installing TT, but after then the aura system around my house just keeps changing everyday.

[2013-04-28 00:21] alicheek commented on #289
That's the set up there
![2013-04-28_01 19 34](https://f.cloud.github.com/assets/3965516/435075/7998264a-af99-11e2-88ba-3d847efbc501.png)

[2013-04-28 02:15] Nohau commented on #387
Running 1446 now will update if I see anymore stuck players

[2013-04-28 02:15] #387 closed, assigned to LunNova

[2013-04-28 02:20] fiddlycraft commented on #388
Yeah, there is just no way to actually update TT without people not being able to open IC2 Machines. They just don't work in most MV worlds.

[2013-04-28 02:21] alicheek commented on #388
that's what nallar said if he did the server has a high chance of crashing and having issues.

[2013-04-28 02:25] fiddlycraft commented on #388
I will just make a new world I guess and move everything to Overworld. Doesn't really bother me.

[2013-04-28 02:27] alicheek commented on #388
I just informed my VIP players that their private world doesn't work with them atm most of them have main bases on the overworld any way so wasn't much of an issue

[2013-04-28 02:27] #370 closed, assigned to LunNova

[2013-04-28 02:30] #326 closed, assigned to LunNova

[2013-04-28 02:31] #335 closed, assigned to LunNova

[2013-04-28 02:32] #354 closed, assigned to LunNova

[2013-04-28 02:37] alicheek commented on #184
@nallar
Still getting it in build 1446

[SEVERE] [TickThreading] Exception during tile entity tick
ticking: c chb.mods.mffs.common.tileentity.TileEntityProjector chb.mods.mffs.common.tileentity.TileEntityProjector@6dcddf5 x,y,z: 67, 55, 841 at x,y,z:67,55,841
Tick region: rX: 4, rZ: 52, hashCode: 3407876:
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(Has

[2013-04-28 03:55] LunNova commented on #388
Erm, this isn't permanently broken, will hopefully have it fixed soon.
On 28 Apr 2013 03:27, "Alistair" notifications@github.com wrote:

[2013-04-28 09:27] gorea01 commented on #328
same here too

28.04 11:27:17 [Server] INFO at yc.c(World.java:740)
28.04 11:27:17 [Server] INFO at yc.a(World.java:762)
28.04 11:27:17 [Server] INFO at zz.a(Chunk.java:785)
28.04 11:27:17 [Server] INFO java.lang.NullPointerException
28.04 11:27:17 [Server] WARNING Task #7 for Towny v0.82.1.0 generated an exception

[2013-04-28 10:11] floh22 commented on #246
any progress? i know you dont have much time but any updates would be awesome :smile:

[2013-04-28 12:59] clienthax opened #390 "Essentials ranks not working"
Essentials prefixs / rank names do not show up in chat.
Adding the user back to the rank with /manuadd seems to fix.

also bugs out the default rank

[2013-04-28 13:07] clienthax opened #391 "Deadlock 1447"
http://troll.ws/paste/82a28f49

[2013-04-28 13:15] clienthax opened #392 "Wierd networking issues (last 200 odd builds)"
One thing ive noticed with tt is that if you are getting ALOT of logins, say in the range of 20 every few seconds, it will only allow the first 10-30 on and the rest will seem to lag out for a few mins then you will get a mass join of about 100 players

[2013-04-28 13:21] alicheek commented on #392
must admit ive never got this; my server only holds 60 people though but when ever ive restarted it when its full and they all come back on fine, I haven't noticed anything strange

[2013-04-28 14:15] SuddenTurmoil commented on #304
Just chiming in to say that this is happening on my server as well. Players report that it seems like the IDSU has a pseudo cap at 2M EU at which point the IDSU will reset to 0. It may not have anything to do with the actual amount of EU and probability just dictates it very rarely makes it past 2M EU. Also, two of my players have witnessed it reset while they had its GUI open so it specifically g

[2013-04-28 14:19] SuddenTurmoil commented on #374
My server is on build 1444 and the 6 melee turtles on the server all function as intended. Do you have a sleep cycle after that turtle.attack()? I found adding that in increased my turtle stability even when not running TT.

[2013-04-28 14:22] SuddenTurmoil commented on #383
The sentry turrets on my server do play audio, however, there is a bit of a delay from coming within range to the audio starting. I times about 15 seconds from getting in range of the turrets to them tempting me with certain doom.

[2013-04-28 15:07] #184 closed, assigned to LunNova

[2013-04-28 15:30] LunNova commented on #392
I've also not run into this. Can you keep `htop` open while starting the server, do all CPU cores reach 100% usage? Might be completely overloading the server with so many people trying to connect.

Does enabling concurrent network ticks fix this?

[2013-04-28 15:51] aquagene opened #393 "#1450 Crash on Launch (after patching)"
<code>2013-04-28 11:48:56 [SEVERE] [ForgeModLoader] The following problems were captured during this phase
2013-04-28 11:48:56 [SEVERE] [ForgeModLoader] Caught exception from ModularForceFieldSystem
java.lang.VerifyError: (class: chb/mods/mffs/common/tileentity/TileEntityProjector, method: calculateField signature: (Z)Z) Incompatible type for getting or setting field
    at java.lang.Class.forName

[2013-04-28 15:51] #391 closed, assigned to LunNova

[2013-04-28 16:11] LunNova commented on #393
Fixed in 2e5c57c48ab25f.

[2013-04-28 16:11] #393 closed, assigned to LunNova

[2013-04-28 16:12] #129 closed, assigned to LunNova

[2013-04-28 16:18] LunNova commented on #257
95% sure this was fixed with the recent ChickenChunks changes, comment if it's still an issue.

[2013-04-28 16:18] #257 closed, assigned to LunNova

[2013-04-28 16:20] LunNova commented on #179
The crash log looks like the now fixed xycraft issue, so I'm assuming this is also fixed. If it's not, please comment and I will reopen it.

[2013-04-28 16:20] #179 closed, assigned to LunNova

[2013-04-28 16:25] #141 closed, assigned to LunNova

[2013-04-28 16:30] LunNova commented on #186
Crashed due to an issue with chickenchunks which is now fixed.

[2013-04-28 16:30] #186 closed, assigned to LunNova

[2013-04-28 17:38] LunNova commented on #246
If anyone's able to upload a compressed FTB ultimate world with a system which reliably has this issue (and give coords of where it is) that would be very helpful.

[2013-04-28 17:52] Nohau opened #394 "TT1446 | MCPC L5 Exception during tile entity tick"
Here is the logs

https://gist.github.com/Nohau/5477717

Error from what i can see :

2013-04-28 12:44:35 [SEVERE] [TickThreading] Exception during tile entity tick
ticking: c forestry.core.gadgets.TileEngine forestry.core.gadgets.TileEngine@4bf9ecf0 x,y,z: 1, 68, 5 at x,y,z:1,68,5
Tick region: rX: 0, rZ: 0, hashCode: 0:
java.lang.NullPointerException
at forestry.core.gadgets.BlockMachine.b(BlockM

[2013-04-28 18:10] LunNova commented on #394
Probably caused by 7be906647665db19e38.

[2013-04-28 18:25] LunNova commented on #394
Can you screenshot whatever's near to x,y,z: 1, 68, 5?

[2013-04-28 18:38] Nohau commented on #394
Nothing is near 1,68,5 dug a whole and just blocks of ore, dirt etc.. maybe a age world but their is over 400..

[2013-04-28 19:01] Nohau commented on #394
TT 1460 logs .

Still don't see world but i been accused of being blind before though..

https://gist.github.com/Nohau/5478007

[2013-04-28 19:15] vanZeben opened #395 "Show playercount in each dimension under /tps"
When typing /tps add in a column to show how many players are in each of the worlds to get some more information for server admins

[2013-04-28 19:28] Hoiafar commented on #374
No I do not, but I have tried going into lua and doing turtle.attack() and it still returns false.
However, half the time they do, half the time they don't. There's no discernible pattern to when they will work and when they will not.

[2013-04-28 19:38] Nohau commented on #394
Found some Iron Golems (thaumcraft) nearby at bedrock level that was about now

[2013-04-28 19:39] Nohau commented on #394
That was at like 0,0,20

[2013-04-28 19:45] HaoSs07 commented on #246
i can give you the region for my house
https://dl.dropboxusercontent.com/u/76651664/r.-6.-5.mca  put in region folder in world (any world under ftp ultimate)
coordonates -2794 63 -2532
remove chunk loaders. enter exit the chunk many times, bug should happen

[2013-04-28 19:53] Maximuscr31 commented on #342
I am having this same issue with L19. Could we get this fixed for the legacy build as well?

[2013-04-28 19:56] LunNova commented on #342
@Maximuscr31

Are you sure you're replying to the right issue? Your response doesn't really make sense in this context...

[2013-04-28 19:58] LunNova commented on #395
github needs an option to let users tag their issues.

Will have this done soon.

[2013-04-28 19:59] LunNova commented on #394
That's odd... looks like something's wrong with the build, it's missing my changes.

[2013-04-28 20:00] LunNova commented on #394
Nope, I derped and added the world in the wrong place.

[2013-04-28 20:08] Maximuscr31 commented on #342
I am gettting the same error with passing events to griefprevention but I just noticed he is using 7.6.2 and I am as well which is for 1.4.7. I know it didn't make sense now. I have been updating a ton of mods all morning and my brain is fuzzy. We have a very quickly growing ultimate server of 40+ at a time. I added tickthreading 1457 and after doing so I am getting spammed with the same error mes

[2013-04-28 20:10] Nohau opened #396 "Enhancement tps command"
Can you add pagination to /tps as it become impossible to read once you have over a 100 mystcraft worlds

[2013-04-28 20:21] Maximuscr31 commented on #342
Updated to 1461 and it is still the same issue.

[2013-04-28 20:24] Nohau opened #397 "TT1460 | MCPC L5 TPS Overall Calculated?"
Just curious how overall is calculated as all worlds show 20 but overall shows 15.4

Unfortunately I had to grab this info from console as to many worlds was loaded and couldn't get it all in a single screen shot.. System is not cpu starved hovering below are around 60%-70%  6 core server and ram usage is at roughly 80%

TickThreading v1.0.0.1460 for MC1.4.7 on 1.4.7 tickthreading,mcpc,spigot,craf

[2013-04-28 20:29] Nohau commented on #397
What is weird is i went from 1446 to 1460 and went from 20 performance between 8-15 it says now and /ticks is not showing nothing major.

[2013-04-28 20:51] GUIpsp commented on #374
Do they still deal damage even when returning `false`?

[2013-04-28 20:55] LunNova commented on #396
Are you unable to turn on world unloading for some reason? I could maybe add patching to whatever plugin has the issue, having that many worlds loaded isn't good for performance. I'll also implement this, although my current design for making the tables may need quite a few changes.

[2013-04-28 20:56] LunNova commented on #397
Please get a profiling snapshot with jvisualvm.

Each world's TPS is the TPS it would have if it was running on its own, without any other worlds. In your case, while no world takes too long, together they do take too long.

[2013-04-28 21:00] LunNova commented on #397
Also, only 60-70% load is lower than desired, due to lock contention. Still need to implement #81.

[2013-04-28 21:08] LunNova commented on #325
Can't reproduce with latest, looks like it's only be an issue with the "stable-ish" build.

[2013-04-28 21:08] #325 closed, assigned to LunNova

[2013-04-28 21:27] Hoiafar commented on #374
No they do not, they do nothing.

[2013-04-28 21:31] Nohau commented on #396
Yes stupid Towny and GriefPrevention

[2013-04-28 21:32] alicheek commented on #396
as I said before townys new dev build should solve that issue

[2013-04-28 21:34] Nohau commented on #396
ok but GriefPrevention is far better as you can configure the id's of the stuff which allows it to work with mods like FTB Ultimate i.e Big issue with Towny is it doesn't lock down user chest only vanillia items unless that was fixed?

[2013-04-28 21:36] alicheek commented on #396
u could always list down the items in towny issue is it doesn't seem to pick up some of the handlers or something like mining lasers, but I think that's actually a mod issue

[2013-04-28 21:39] Nohau commented on #396
I don't think it pickups up none of the 975:\* items i.e iron chest / obsidian / crystal etc. I will load the dev version of it though and give it a look as well people can steal from iron tanks etc last i checked with towny unless that was fixed .

[2013-04-28 21:40] alicheek commented on #396
it does but you put them in  manually

[2013-04-28 21:45] Nohau commented on #396
Yep your right i completely overlooked that for some reason this is what happends when i do stuff at 3am ..

[2013-04-28 21:50] clienthax commented on #390
This may be related to essentials corrupting the stupid group file not sure if related to tt

[2013-04-28 21:50] #390 closed, assigned to LunNova

[2013-04-28 21:53] clienthax commented on #392
@nallar still same issue with concurrent network ticks, enabling it actually seems to increase the effect, can't realy enable tt on my server atm due to it making all the ue wires act wierd

[2013-04-28 22:07] Nohau commented on #396
allcheck do you guys have a place where you hang out i.e irc or something always nice sharing experience or issues we find to double check with people or even create a TickThreading channel?

[2013-04-28 22:38] Nohau commented on #394
Ok i have 1461 running  .. looks like i am getting a 131 age book and will send back screen shots..

2013-04-28 17:37:41 [SEVERE] [TickThreading] Exception ticking TileEntity c forestry.core.gadgets.TileEngine forestry.core.gadgets.TileEngine@432bf928 x,y,z: 1, 68, 5 at x,y,z:1,68,5
 World: Main/131
java.lang.NullPointerException
        at forestry.core.gadgets.BlockMachine.b(BlockMachine.java:18

[2013-04-28 22:48] Nohau commented on #304
i seen it goto 30-40 mil and reset right in front of me as well.

[2013-04-28 22:53] Nohau commented on #394
Raided user base lol Elecctrical Engine it appears.

![2013-04-28_17 52 30](https://f.cloud.github.com/assets/4019875/436541/644ab4e8-b056-11e2-8684-532019ee03cd.png)
![2013-04-28_17 52 37](https://f.cloud.github.com/assets/4019875/436542/678edcf6-b056-11e2-979e-f17a63dd9a11.png)

[2013-04-28 23:39] alicheek opened #398 "[TT 1463] [MCPC+ L20] [SEVERE] Could not load 'plugins/WorldBorder.jar' in folder 'plugins' like this for all my plugins now"
[SEVERE] Could not load 'plugins/WorldBorder.jar' in folder 'plugins'
org.bukkit.plugin.InvalidPluginException: java.lang.IncompatibleClassChangeError: Class me.nallar.tickthreading.collections.CHashMap does not implement the requested interface java.util.concurrent.ConcurrentMap
    at org.bukkit.plugin.java.JavaPluginLoader.loadPlugin(JavaPluginLoader.java:176)
    at org.bukkit.plugin.SimplePlu

[2013-04-28 23:41] LunNova commented on #398
Use L19 for now, the issue fixed in L20 is already fixed in TT, and the
fixes conflicted.
On 29 Apr 2013 00:40, "Alistair" notifications@github.com wrote:

[2013-04-28 23:41] alicheek commented on #398
ah ok cheers man will give that a try now

[2013-04-28 23:46] #398 closed, assigned to LunNova

[2013-04-28 23:47] #395 closed, assigned to LunNova

[2013-04-28 23:47] alicheek commented on #398
@nallar

Does that mean I can use L20 now? :)

[2013-04-28 23:49] LunNova commented on #398
Yes

[2013-04-28 23:51] LunNova commented on #342
See the mod compatibility page on the wiki, world unloading must be disabled to use GriefPrevention.

Also, you probably don't want to use TickThreading unless you actually need it for performance reasons, you'll run into a lot of bugs.

[2013-04-29 00:03] alicheek opened #399 "[TT 1464] [MCPC+ L20] [Servere] Spam for random things like /gc detailed debugging maybe?"
![dump](https://f.cloud.github.com/assets/3965516/436635/07569c5c-b060-11e2-8d45-f3f0db214b90.png)

[2013-04-29 00:16] Nohau commented on #399
yours looks tons better then mine everything is throwing exceptions even golems!

[2013-04-29 00:24] alicheek commented on #399
think it was that logger system nallar has got in now was just wishing there was a way to clear it from my console :P but still log it

[2013-04-29 00:33] Nohau opened #400 "Exception Removing Player"
Caused Mass spam of user leaving in chat console over and over had to kill server and wouldn't stop on it's own

TTLOG https://gist.github.com/Nohau/5479028

2013-04-28 18:59:47 [SEVERE] [TickThreading] Exception removing a player entity
java.lang.NullPointerException
    at yc.e(World.java:164)
    at gm.disconnect(ServerConfigurationManager.java:330)
    at iv.c(NetServerHandler.java:284)
    at

[2013-04-29 00:39] Nohau opened #401 "TT1464 | MCPC L15 Golems gone crazy with exceptions"
https://gist.github.com/Nohau/5479043

I couldn't even think .. it was just moving so fast threw the logs!!

[2013-04-29 01:05] LunNova commented on #399
Should be fixed in MCPC+ L22 or later, which will exist soon(tm). I messed it up, sorry. Revert to L19 and TT 1463 until then.

[2013-04-29 01:05] #399 closed, assigned to LunNova

[2013-04-29 01:10] #400 closed, assigned to LunNova

[2013-04-29 01:44] joey19982 commented on #396
I'm unable to turn it on because of GriefPrevention, yeah. I haven't really looked into Towny. According to the GriefPrevention Author it is fixed in the latest builds, but the latest builds are for 1.5.

[2013-04-29 01:51] joey19982 opened #402 "[TT1465 - MCPC L20] MFFS not raising shield."
No errors or anything, it's just that the blocks to keep you out of an area with MFFS aren't appearing when they should be. Everything else such as actually detecting that you are in the area functions as normal.

[2013-04-29 01:56] joey19982 opened #403 "[TT1465 - MCPC L20] "joey19982 lost connection: Internal error: null" when sending a message in chat."
This has been happening since somewhere around build #1440 now. I personally have not been on when it happens, but it has been happening very frequently apparently and I can see from the logs.

When sending a message in chat, the player is instantly kicked and given either "Internal error: null" or something along the lines of "software cause socket timeout"
This happens for about 5 minutes for ev

[2013-04-29 02:07] joey19982 commented on #403
Just happened. Here is a screenshot of the client error:
http://puu.sh/2JbCn.png

Still can't find anything other than that.

This could be MCPC+ as well obviously. Tried downgrading to 15 and I'll see what happens.

[2013-04-29 03:41] cjm721 opened #404 "MFFS Projector not raising shield."
Using MCPC Legacy 19 and TT build 1461.

Projectors drain power but the shield blocks are never placed. Tested with and without TT and it works fine when I remove TT.

[2013-04-29 03:52] joey19982 commented on #404
Yep, same issue here. #402

[2013-04-29 04:00] cjm721 commented on #404
What I get for checking a few hours ago then not rechecking after i got around to posting.

[2013-04-29 04:00] #404 closed, assigned to LunNova

[2013-04-29 05:32] Stoo42 commented on #246
Just to add my voice - I also have had this issue on FTB Ultimate 1.01. The chunk was always loaded with a chickenchunks loader, and also appeared to only happen to the chests. I have an ME Drive nearly full with preformatted storage, and it wasn't touched.
The chests I had next to it (4 of them), had 1k, 4k, 4k, 64k storage. I could watch the chest interface and see the items slowly drain out. It

[2013-04-29 07:14] LunNova commented on #403
I'll need to change whatever's logging
2013-04-28 21:43:21 [INFO] joey19982 lost connection: Internal error: null, it's not giving any useful information.

That may be related, your database server is possibly overloaded if you're using one. If it's just SQLite that's unlikely.

[2013-04-29 07:21] LunNova commented on #397
Still waiting on a snapshot, it is important to see why performance is worse.

https://visualvm.java.net/jmx_connections.html

[2013-04-29 07:46] Puremin0rez opened #405 "Build #1465 - /tps is now hard to read ingame"
With the addition of player count, the chat box now looks really derpy with GUI scale set to Large. I have no idea if it effects other sizes too.

Worlds now go onto multiple lines and everything just looks strange.

[2013-04-29 08:07] Nohau commented on #397
Thanks for the info I will taking a snapshot as soon as I can . I am looking at example of on enabling jmx on the minecraft server which looks similar to tomcat setup but since it is on a dedicated server I want to ensure it is setup in a secure environment and not leave it open .

[2013-04-29 08:25] HaoSs07 commented on #246
i use world anchor, and it seems to help, chuckenchunks does not

[2013-04-29 11:49] alicheek opened #406 "[TT 1465] [MCPC+ L21] [SEVERE] [TickThreading] Tile Entity com.github.AbrarSyed.SecretRooms.common.TileEntityCamoFull@4c1e71a1 x,y,z: -2526, 63, 499 failed to validate, it will be ignored."
I do remember a issue being posted about this already but couldn't find it again so don't know if this is a new error for the secret rooms or if im just picking up an error you already know.

2013-04-29 11:20:45 [SEVERE] [TickThreading] Tile Entity com.github.AbrarSyed.SecretRooms.common.TileEntityCamoFull@4c1e71a1 x,y,z: -2526, 63, 499 failed to validate, it will be ignored.
java.lang.NullPointer

[2013-04-29 11:51] floh22 commented on #406
this is not TT. i get this all the time even when its not installed. also, these errors are really not that important. they dont break anything, cause lag, or crash the server.

[2013-04-29 11:54] alicheek commented on #406
ah ok I realised it wasn't causing issues just thought I should post it I haven't had it before TT though (not had the server that long with out it though :P)

[2013-04-29 12:22] LunNova commented on #406
It's a bug with secret rooms mid which causes issues when its tile entities
are chunk loaded.
On 29 Apr 2013 12:54, "Alistair" notifications@github.com wrote:

[2013-04-29 14:15] alicheek commented on #406
ah cool

[2013-04-29 14:15] #406 closed, assigned to LunNova

[2013-04-29 14:32] dantherrien commented on #246
My issue was always an immediate storage cell wipe when moving it into or out of an ME chest.  It only seemed to happen when I did it in quick succession but that might just be in my head.  I usually use the ME chest to see what is actually on a single disk outside of the regular terminal interface.  Wiped at least 2 disks on me so I have since discontinued using it and just gone the route of IO p

[2013-04-29 15:16] alicheek opened #407 "[TT 1465] [MCPC+ L21] When in Boat Chunk loading doesnt occur"
Got a few players complaining about this so I gave it a go myself first when I right clicked the boat I glitched back and forth from where I was to in the boat for about 1 second then it was fine, I then started to move going away from land and as the players said you could go right to edge of the world but it wouldn't load its almost like it doesn't pick up the player is actually moving about on

[2013-04-29 16:21] LunNova commented on #403
Also, is it still happening after downgrading MCPC+?

[2013-04-29 16:49] HaoSs07 opened #408 "dead lock recovery message"
the recovery message is :

The server appears to have frozen and will restart soon if it does not recover. :(

same as deadlock one

im on 1416 as this is vary stable for me so far

[2013-04-29 17:02] wormzjl opened #409 "[TT #1465, MCPC+ L21] Exception ticking world Nether/-1 java.util.ConcurrentModificationException"
Got these messages in my log file
2013-04-29 11:35:33 [SEVERE] [TickThreading] Exception ticking world Nether/-1
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.remove(Unknown Source)
    at codechicken.wirelessredstone.core.RedstoneEtherServer.unloadJammedMap(RedstoneEtherServer.java:662)
    at codechicken.wirelessredstone.core.RedstoneEtherServer.tick(RedstoneEth

[2013-04-29 17:13] #405 closed, assigned to LunNova

[2013-04-29 17:13] #408 closed, assigned to LunNova

[2013-04-29 17:35] aquagene opened #410 "#1465 Crash when player enters Twilight Forest."
This error starts spamming the server log until it crashes.
<code>2013-04-29 13:18:06 [SEVERE] [TickThreading] Exception ticking world Twilight Forest/7
java.lang.NullPointerException
    at codechicken.xycraftcopy.core.world.WorldExtensionManager.preTick(WorldExtensionManager.java:242)
    at codechicken.xycraftcopy.core.world.WorldExtensionManager.access$400(WorldExtensionManager.java:25)
    at

[2013-04-29 17:41] LunNova commented on #410
Full log, until that starts spamming? There's probably another exception which happens, then that starts being spammed.

If there is another related exception, it will probably have "onWorldLoad" in the stack trace.

[2013-04-29 17:59] LunNova commented on #403
There should also be a `Failed to handle packet from name` followed by the stack trace in your FML log. Definitely not there? :s

[2013-04-29 18:51] aquagene commented on #410
Other than some admin notifies there's no other exceptions in the log. I'll update it tickthreading with the new fix and see if it happens again.

[2013-04-29 19:12] LunNova commented on #394
disregard that last question, I'm an idiot, you already gave coords in the first report. Oops.

[2013-04-29 19:44] LunNova commented on #394
Can you break and replace the machine next to the engine? If that doesn't fix the issue, does the issue only happen if people are not in the area?

[2013-04-29 19:45] alicheek opened #411 "[TT 1471] [MCPC+ L21] [WARNING] [ClearLag] Task #15 for ClearLag v2.2.1 generated an exception"
Seem to be getting another clearlag error from TT again

[WARNING] [ClearLag] Task #15 for ClearLag v2.2.1 generated an exception
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getEntities(CraftWorld.java:624)
    at me.minebu

[2013-04-29 20:30] nylser opened #412 "[TT 1471] MyTown: Crash on /t spawn from another dimension."
The server crashes everytime a player uses /t spawn to go his home town from another dimension. I need to SIGKILL the java process for it to stop. After restarting the server, and the player logs in again he is at a random place in the dimension he teleported to, right next to a portal. (Using the newest build 1471 )

Tickthreading-Log: http://pastebin.com/yJKfdSVr

[2013-04-29 21:39] joey19982 commented on #403
I just got home and haven't tried your newer builds yet. From what I understand, this is still happening after the downgrade. I use MySQL but really doubt that it is overloaded.

One of my staff members was watching the console closely today and found this error spit out. Should give you some useful information.

29.04 15:30:00 [Server] INFO at iv.a(NetServerHandler.java:1182)
29.04 15:30:00 [Serv

[2013-04-29 21:46] joey19982 commented on #403
He also managed to track down when it starts happening:

[5:42:58 PM] Drullkussnʞןןnɹp: I read the error first
[5:43:18 PM] Drullkussnʞןןnɹp: And then I knew the common issue: When someone was at spawn, the chat bug appeared
[5:43:24 PM] Drullkussnʞןןnɹp: That meant, there were chat boxes at spawn
[5:43:35 PM] Drullkussnʞןןnɹp: ...on my Chat Turtles at the theater
[5:43:42 PM] Drullkussnʞןןnɹp: I

[2013-04-29 22:30] LunNova commented on #185
Fixed, according to github support. Hopefully this works...

[2013-04-29 22:31] #185 closed, assigned to LunNova

[2013-04-29 22:31] LunNova commented on #185
:D

[2013-04-29 22:54] clienthax commented on #185
Howed you manage to close it lol @nallar

[2013-04-30 01:09] Stoo42 commented on #246
I haven't tried world anchor, but when you need more than the 9 chunks it provides, its a bit of a pain having to have a separate system just to keep them stocked with e-pearls!

Also noticed that pulling storage cells in and out of chests seemed to speed up the loss process. Have to admit I didn't play with it much more than this before rolling server back to the backup I took before putting TT o

[2013-04-30 01:21] aquagene opened #413 "#1471 Exception ticking TileEntity TIlemarker"
Server started spamming this this evening, not quite sure what it is, but I figured I'd report it. <code>2013-04-29 18:38:42 [SEVERE] [TickThreading] Exception ticking TileEntity c thaumcraft.common.blocks.TileMarker thaumcraft.common.blocks.TileMarker@528c1084 x,y,z: -1380, 148, -1815 at x,y,z:-1380,148,-1815
 World: Overworld/0
java.util.ConcurrentModificationException
    at java.util.ArrayList

[2013-04-30 01:30] Maximuscr31 commented on #246
I had too many issues with the me and chunkloader crashes. when TT worked my server wouldn't drop below 20 for anything hardly. When it broke though it was a constant struggle. I am thankful for the mod and think it will be fantastic eventually. I can't begin to fathom the dedication it takes to redo everything mojang should be doing themselves. I can't wait till it gets stable but it is too alpha

[2013-04-30 01:42] cjm721 opened #414 "[MCPC+19, TT1471] Applied Energistics EU Feed back."
The glass fiber cable leading to my ME system disappears as if it exploded.

Two servers I run:

Direwolf20 Pack: Been running solely with TT and been having reports of this issue.

Ultimate Pack: Installted Recently on ultimate server never had this issue before now have it happen several times.

As far as I can tell no errors or reports in any logs

[2013-04-30 02:08] Nohau opened #415 "TT1461 / MCPC L15 Deadlock"
Here is the gist : https://gist.github.com/Nohau/5486186

Looks like we where also experiencing https://github.com/nallar/TickThreading/issues/410 So I have upgraded to 1471

I am starting to wondering if it is possible that some of these deadlocks may becuase my age worlds is on slower drives then my overworld causing a write build up..

i.e Age is on RAID drives in overworld is on SSD .

Thanks,

[2013-04-30 03:44] geoffcorey commented on #246
Currently running 1465 and several of us have been experiencing items disappear from ME.   I tried various things to try and replicate including loading items in and bouncing around worlds.   Flooding the system.   Positive it is not a power issue.   However there is one thing that seems to be constant when items are disappearing.

When items are crafting and I go to another world (there is a chun

[2013-04-30 03:47] Nohau commented on #400
MCPC L21  + TT 1471 brought this bug back

2013-04-29 22:24:07 [SEVERE] [TickThreading] Exception in main tick loop
java.lang.NullPointerException
        at gm.disconnect(ServerConfigurationManager.java:331)
        at iv.c(NetServerHandler.java:284)
        at iw.b_net_minecraft_network_NetworkListenThread_networkTick_p0(NetworkListenThread.java:69)
        at iw.b(NetworkListenThread.java)

[2013-04-30 14:16] geoffcorey commented on #246
Let me know if you want the backup of the world.   it currently is about 2G.   We can setup a chat session and I can walk you though it when you have time

[2013-04-30 14:19] SuddenTurmoil commented on #374
So, I do not mean to slander your intellect but are you sure that there is a mob directly in front of the melee turtle at the time of issuing the attack commend? Ticks are marvelously small periods of time so if there is any wiggle room the turtle might not see the mob. You can try saturating the area in front of the turtle with mobs or briefly throw in a attack script and see how frequently it is

[2013-04-30 14:23] Hoiafar commented on #374
Yes there are mobs infront of it. I've tried several different scenarios, I've tried spawning in new skeletons and turtles and just placing them at a random location in the world (obviously right next to eachother), I've tried putting 4 turtles pointing inwards into one block and drop skeletons in there.

[2013-04-30 14:27] SuddenTurmoil commented on #374
You have certainly thoroughly tested it then. Still running the same build of TT?

[2013-04-30 15:37] Hoiafar commented on #374
No, we updated to 1463 a few days ago, problem still persists.

[2013-04-30 17:17] LunNova commented on #403
If the turtles are replaced, does it break again?

[2013-04-30 17:30] vanZeben commented on #395
Looks perfect, thanks :)

[2013-04-30 17:31] LunNova commented on #374
Not sure, but I think something's broken with `TileEntityTurtle.rayTraceEntities`.

[2013-04-30 18:00] LunNova commented on #401
Closing this, if it recurs comment here and I will re-open it.

[2013-04-30 18:00] #401 closed, assigned to LunNova

[2013-04-30 18:19] nylser commented on #412
Is this really fixed? I just tested with the newest build 1474 and it still seems to happen..

[2013-04-30 18:25] HaoSs07 commented on #412
also getting this on last build, is not fixed

[2013-04-30 18:50] Nohau commented on #394
I upgraded to 1471 and this area doesn't give errors anymore but now getting them for different locations which I been knocking them out and replacing .. There has been 1 case where rather in creative or not in creative a pneumatic tube was causing anyone who tried to knock it out crash . I went ahead and cleaned it up via world edit which fixed that problem.

So far It does appear to be when peop

[2013-04-30 19:01] LunNova commented on #412
New log? If it's still broken it's broken in a different way.

[2013-04-30 19:18] Nohau commented on #394
This is with MCPC L19 + TT 1471

https://gist.github.com/Nohau/5491184

[2013-04-30 19:46] alicheek opened #416 "[TT 1471] [MCPC+ L21] [SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.machine.TileTube com.eloraam.redpower.machine.TileTube@68af98d4"
2013-04-30 18:05:53 [SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.machine.TileTube com.eloraam.redpower.machine.TileTube@68af98d4 x,y,z: -1967, 67, 1075 at x,y,z:-1967,67,1075
 World: Overworld/0
java.util.ConcurrentModificationException
    at java.util.LinkedList$ListItr.checkForComodification(LinkedList.java:953)
    at java.util.LinkedList$ListItr.next(LinkedList

[2013-04-30 20:11] Nohau commented on #416
Similar to what i posted in https://github.com/nallar/TickThreading/issues/394

[2013-04-30 20:17] Nohau opened #417 "TT 1471 / MCPC L19 Towny Exception"
2013-04-30 06:17:31 [WARNING] [Towny] Task #8 for Towny v0.82.1.11 generated an exception
java.lang.NullPointerException
    at org.bukkit.Location.getChunk(Location.java:73)
    at com.palmergames.bukkit.towny.tasks.MobRemovalTimerTask.run(Unknown Source)
    at org.bukkit.craftbukkit.v1_4_R1.scheduler.CraftTask.run(CraftTask.java:53)
    at org.bukkit.craftbukkit.v1_4_R1.scheduler.CraftScheduler

[2013-04-30 20:18] Nohau commented on #417
Is this or could this be related to the clear lag one as well https://github.com/nallar/TickThreading/issues/411 ?

[2013-04-30 20:42] joey19982 commented on #403
So far, no. Not sure if it was a freak thing or something that happens after a while. When the other staff member gets on I'll have him set them up exactly how they were before.

[2013-04-30 21:03] mainsheep opened #418 "[SEVERE] Exception ticking world Overworld/0"
I've been getting these kind of errors lately:

2013-04-30 22:56:26 [SEVERE] Exception ticking world Overworld/0 java.util.ConcurrentModificationException         at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)         at java.util.ArrayList$Itr.next(ArrayList.java:791)         at codechicken.chunkloader.ChunkLoaderManager.cleanChunks(ChunkLoaderManager.java:821)         at c

[2013-04-30 21:10] HaoSs07 commented on #246
will test after we fix the teleport bug, trying to get a crash log now

[2013-04-30 21:11] HaoSs07 commented on #412
http://pastebin.com/Xg03zA5k here you go nallar

[2013-04-30 21:42] LunNova commented on #412
I forgot to implement the fix for forge, only MCPC+. Are you both using only Forge? Should be fixed now.

[2013-04-30 22:51] LunNova commented on #418
That method should be disabled by the patcher, patcher log please?
On 30 Apr 2013 22:03, "mainsheep" notifications@github.com wrote:

[2013-04-30 22:52] LunNova commented on #417
Is world unloading enabled? On my phone, so can't check, but it's either
caused by getting a chunk which doesn't exist or getting a chunk in a world
which isn't loaded.
On 30 Apr 2013 21:18, "Nohau" notifications@github.com wrote:

[2013-04-30 22:55] mainsheep commented on #418
Where can I find the patcher log?

[2013-04-30 22:59] Nohau commented on #417
Yes world unloading enabled For TT and this is the dev version that was mentioned that supported world unloading. In another issue.

[2013-04-30 23:00] mainsheep commented on #418
Found it.

http://pastebin.com/x3G5E27L

[2013-04-30 23:13] Nohau commented on #417
Yep and just noticed I think they fixed this with another build going to be trying that as I am runnging .11

v0.82.1.14:
- Trap NPE's caused by Spigot unloading a world yet still reporting the world in the world list

[2013-04-30 23:35] nylser commented on #412
Yeah, it's working for me. Doing an awesome job, nallar! Edit: Yes I'm using only Forge with MyTown

[2013-05-01 00:01] #412 closed, assigned to LunNova

[2013-05-01 04:29] Kusinagie commented on #364
Updating to 1484 and i see this in the log on start up:
[SEVERE] [ForgeModLoader] The mod PortalGun attempted to force load a chunk with an invalid ticket. This is not permitted.
Never saw this before now but could this be the culprit or perhaps unrelated?

[2013-05-01 05:26] Nohau commented on #397
Trying to figure out how you would like me to upload these snapshots going to try gist first.

[2013-05-01 05:46] Nohau opened #419 "TT1484 / MCPC L21 Exception Ticking world (mystcraft)"
Here you go perhaps something to do with instability . The world has some quarries in it but not players  so it is chunkloaded via buildcraft quarry

https://gist.github.com/Nohau/5493925

[2013-05-01 09:55] LunNova commented on #419
This is an MCPC bug, disable lightning in mystcraft's config.
On 1 May 2013 06:47, "Nohau" notifications@github.com wrote:

[2013-05-01 13:36] geoffcorey commented on #246
Able to reproduce with build 1481 last night.

Pretty sure autocrafting is part of the equation that is causing the problem.   I am going to try and isolate the conditions in which this occurs.

[2013-05-01 13:42] HaoSs07 commented on #246
i lost items from a system that was not linked to any autocraft

[2013-05-01 14:13] alicheek commented on #416
still getting it on build 1484:

2013-05-01 11:21:12 [SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.machine.TileTube com.eloraam.redpower.machine.TileTube@10203864 x,y,z: 1117, 96, 3904 at x,y,z:1117,96,3904
 World: Overworld/0
java.util.ConcurrentModificationException
    at java.util.LinkedList$ListItr.checkForComodification(LinkedList.java:953)
    at java.util.Lin

[2013-05-01 14:25] floh22 commented on #396
guys, get rid of towny and grief prevention. both dont fully work. use mytown. its a forge mod and blocks everything. there is no possible way to bypass it. its like towny. it works with worldunloading as well :)

[2013-05-01 14:28] geoffcorey commented on #246
HaoSs07 do you have a lot import buses currently doing work when you lose work?   It is one of the scenarios I'm going to test today.

[2013-05-01 14:35] HaoSs07 opened #420 "Applied enegistics Me deadlock ?"
https://gist.github.com/HaoSs07/5495613

[2013-05-01 14:37] geoffcorey commented on #246
ok, autocrafting computer/storage was taken offline.  I have a mob trap that does obsidian pipes to iron chest.  Gates pulsing the obsidian pipes and the iron chests have import buses.  I fired up all 3 spawners (witch, ender, wither skellie) and watched the inventory and right before my eyes I went from 500+ ender pearls to 1.

[2013-05-01 15:13] Hoiafar opened #421 "TT 1484 Uncaught Exception Handler in thread "Deadlock Detector""
Server refuses to close when started, the error itself won't show up until you try to log on. Which you can only do through Direct Connect because the server doesn't show up on the server browser.

Error message is very small so I'll just post it here.

Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "Deadlock Detecter"

[2013-05-01 15:17] geoffcorey commented on #246
So with the blaze rods and ender pearls I have a system with an emitter that will turn on export of pearls to an autocrafting table to produce ender eyes and blaze powder if it falls below a stack in the AE system.   I watched the inventory with mob farms in full swing and boom all my eyes disappeared as well as blaze rods.

I then removed the export buses from the autocrafting tables and let the

[2013-05-01 15:24] Nohau commented on #397
Sent to your email addy in your profile.with 1484

[2013-05-01 16:23] HaoSs07 commented on #246
well export bus has slots for exported certine items.
i had only a disk with a chest and come cells, deuterium, trimium, something like that, i exported empty cells and deuterium, but not the tritium, no export bus for that, but i lost the tritium too. i only had left some empty cells. 10% of what i have

[2013-05-01 16:48] cjm721 commented on #415
Believe I am the same or very similar issue.

MCPC 19 TT 1484
FTB Ultimate Pack 1.01
Occurs also on Direwolf20 Pack

From what I have been able to deduce from the occurrences on my server I have gotten this:

1) Due to chunks loading at location of player login, ie if I go there from another account that is already logged in and then player1 logs in no deadlock.

2) If I change where the player wi

[2013-05-01 17:05] LunNova commented on #415
An explosion took too long, increase the deadlock detector time.

[2013-05-01 17:05] #415 closed, assigned to LunNova

[2013-05-01 17:07] LunNova commented on #415
@cjm721

Make a new issue. Also, 99% of the time CC's lua threads aren't related at all. Look at the bottom of the report, see the "definitely deadlocked" bit.

[2013-05-01 17:08] LunNova commented on #421
You ran out of memory. Probably not a TT issue, increase the memory you're allocating to the server. If it only happens after running the server for a while it might be a memory leak.

[2013-05-01 17:10] Hoiafar commented on #421
It's given 4GB of memory. And it didn't happen until applying this patch of TT, the most it ever required before was 2.

[2013-05-01 17:11] LunNova commented on #397
Oh, I meant a sampling snapshot. Once connected, go to the sampler tab, run CPU sampling for ~10 to 20 minutes, click the snapshot button there, and save that. It should be a `.nps` file.

[2013-05-01 17:13] Nohau commented on #416
+1 I have gone around and replaced these pipes but it seems as soon as a i replace one a new one comes up..

2013-05-01 12:13:22 [SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.machine.TileTube com.eloraam.redpower.machine.TileTube@8b000df x,y,z: 512, 60, -5029 at x,y,z:512,60,-5029
 World: Overworld/0
java.util.ConcurrentModificationException
    at java.util.LinkedLi

[2013-05-01 17:29] Nohau commented on #397
Ok will just have to wait again till off hours btw those snapshots the tps was between 8 to 16 at times.

[2013-05-01 17:41] LunNova commented on #421
Something definitely went wrong then, what mods are you using?

[2013-05-01 17:48] Hoiafar commented on #421
FTB Ultimate Pack. The only configuration we have done is change Greg Tech recipes.

[2013-05-01 18:50] wormzjl opened #422 "[TT #1484, MCPC+ L21] Heavy console spam with Exception ticking TileEntity c buildcraft.energy.TileEngine buildcraft.energy.TileEngine@4af9d108"
I'm getting this error spam when any player tries to enter this region.
TT log size reached 6 mb and the chunks won't load.

2013-05-01 00:50:19 [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.energy.TileEngine buildcraft.energy.TileEngine@4af9d108 x,y,z: 197, 77, -137 at x,y,z:197,77,-137
 World: Overworld/0
java.lang.NullPointerException
    at buildcraft.energy.TileEngine.cre

[2013-05-01 19:47] LunNova commented on #422
Worldedit/MCedit/whatever out that block and its tile entity. Did the server crash at some point? Looks like a corrupt engine.

[2013-05-01 19:49] LunNova commented on #421
Not encountered that then. Does this happen immediately? Try setting the chunk cache size to 0 in TT's config, that does increase memory usage. Although I wouldn't expect it to be increased that much.

[2013-05-01 19:50] wormzjl commented on #409
Still getting this in build 1484...

[2013-05-01 19:56] wormzjl commented on #422
No the server didn't crash, only slowed down by the spam, it only happened when I updated TT to the latest version.

[2013-05-01 20:00] aquagene opened #423 "Tickthreading Text not appearing in server GUI"
I know most people don't use the GUI, but I quite like the graph to see at a glance who's on the server and the current general server usage via the graph. I've noticed since a recent patch, the tickthreading text (such as profile e) does not appear in the gui's console window, but instead in the command prompt.

[2013-05-01 20:10] #420 closed, assigned to LunNova

[2013-05-01 20:14] #422 closed, assigned to LunNova

[2013-05-01 20:14] LunNova commented on #422
If that doesn't fix it, can you try a clean reinstall? Otherwise that error doesn't actually make sense, it indicates that the ForgeDirection.VALID_DIRECTIONS array is null, which should be impossible.

[2013-05-01 20:25] LunNova commented on #246
@Stoo42

It would be very helpful if you could look into it, I just don't have the time to go through AE's code and find what's broken. I'm afraid I don't really have any idea of what's broken, so good luck if you do try :P

Thanks.

[2013-05-01 20:31] #419 closed, assigned to LunNova

[2013-05-01 21:06] wormzjl commented on #422
The problem is fixed, seems that it's caused by moving bc engines on redpower frames.

[2013-05-01 21:17] cjm721 opened #424 "[MCPC+ - 19/21] [TT 1484] Deadlock on (certain) player login / chunk load."
MCPC 19 TT 1484

FTB Ultimate Pack 1.01
Occurs also on Direwolf20 Pack (running MCPC 21)

From what I have been able to deduce from the occurrences on my server I have gotten this:

1) Due to chunks loading at location of player login, ie if I go there from another account that is already logged in and then player1 logs in no deadlock.

2) If I change where the player will login (using essentials

[2013-05-01 21:44] LunNova commented on #416
@Nohau
Don't just replace every block which throws an exception, it was only in that one case earlier! Mostly the types of errors with TT could be thrown by any block of that type seemingly spontaneously.

Looks like something else is replacing the contents field, will look into it.

[2013-05-01 21:55] LunNova commented on #409
Can you delete your patchedMods folder and repatch? I don't see what could cause that, also decompiled the patched code and checked that it's correct.

[2013-05-01 22:07] gorea01 commented on #328
is there a solutiion for this please?

[Towny] Task #7 for Towny v0.82.1.0 generated an exception
java.lang.NullPointerException
    at zz.a(Chunk.java:785)
    at yc.a(World.java:762)
    at yc.c(World.java:740)
    at org.bukkit.craftbukkit.v1_4_R1.block.CraftBlock.setTypeIdAndData(CraftBlock.java:124)
    at com.palmergames.bukkit.towny.regen.PlotBlockData.restoreNextBlock(Unknown Source)
    a

[2013-05-01 22:13] Stoo42 commented on #246
When I have observed this bug, it has drained ALL items on storage, even ones that had not been exported or imported or specified in any crafting.

its weird, import/export activity may be the trigger, but this may just be coincidence as most people with AE will be doing import/export constantly anyway.

Its almost like the storage chips themselves are ticking. I'd guess the contents of storage ch

[2013-05-01 22:44] cjm721 commented on #421
Have not had this issue at all, but with 40 people playing on my Ultimate server only using 3.7GB

[2013-05-01 23:16] geoffcorey commented on #246
@Stoo42 you may be on to something there.   I plan on pulling the world down and see if I can replicate without TT.  If I can then I will try to upgrade Forge and AE on the Universal 1.0.1 and I did more testing this afternoon and it does seem to be a race condition and likely has something to do on the emitters.   It appears to be some sort of race condition.

I found this on AE defect list that

[2013-05-01 23:27] Nohau commented on #410
FYI

http://desk.feed-the-beast.com/index.php?/Knowledgebase/Article/View/24/8/twilightforest-1154-crash-on-server-join

[2013-05-01 23:32] aquagene opened #425 "#1488 MFFS not raising shields"
Players on my server have reported MFFS projectors are not working. I hopped on ran a few tests, and this is quite true. The shields are not raised when they are turned on and Tickthreading is enabled.

I think https://github.com/nallar/TickThreading/issues/404 relates, and was closed prematurely, as another player reported this 3 days ago.

[2013-05-01 23:35] Nohau commented on #425
See https://github.com/nallar/TickThreading/issues/402

[2013-05-02 03:34] Nohau opened #426 "TT1488 / MCPC L22 Exception ticking TileEntity c thaumcraft"
Here you go

https://gist.github.com/Nohau/5499987

Overall TPS 20
Age & Overworld is loaded and getting error across multiple ones.

Error in nutshell :

2013-05-01 21:55:25 [SEVERE] [TickThreading] Exception ticking TileEntity c thaumcraft.common.blocks.TileMarker thaumcraft.common.blocks.TileMarker@435e23fe x,y,z: 33, 64, 2 at x,y,z:33,64,2
 World: Age 326/326
java.util.ConcurrentModificationEx

[2013-05-02 03:36] alicheek commented on #426
yea don't use L 22  I just had that issue there its because nallar has fixed that already in his mod I think so they both conflict with each other got to L21

[2013-05-02 03:37] Nohau commented on #426
I was getting it before L22 as well

[2013-05-02 03:39] alicheek commented on #426
hm oh might be a different issue lemme see what my log was again

[2013-05-02 03:41] alicheek commented on #426
2013-05-02 02:53:08 [SEVERE] [TickThreading] Exception ticking TileEntity c thaumcraft.common.blocks.TileMarker thaumcraft.common.blocks.TileMarker@7678959a x,y,z: -955, 62, 1629 at x,y,z:-955,62,1629
 World: Overworld/0
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at

[2013-05-02 03:41] alicheek commented on #426
seems it might be a TT build issue then

[2013-05-02 03:43] Nohau commented on #426
Did you just get it? I assume your on L21?

[2013-05-02 06:34] wormzjl opened #427 "[TT #1487, MCPC+ L21] Crashlog spam with java.lang.NoClassDefFoundError: me/nallar/exception/ConcurrencyError"
Here is the report:

---- Minecraft Crash Report ----
// This doesn't make any sense!

Time: 5/1/13 1:07 AM
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: me/nallar/exception/ConcurrencyError
    at ic2.core.util.TextureIndex.<init>(TextureIndex.java:20)
    at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
    at sun.reflect.NativeConstructorAcc

[2013-05-02 06:35] LunNova commented on #246
I don't change the storage of tag data, other than from a hash map to a
concurrent hash map. The only difference there is that it doesn't allow
null keys.

I expect the issue is when two AE blocks on the same network access
inventory at the same time. An easy way to confirm that it is due to
concurrent ticking of tile entities in one network would be to make an AE
network entirely contained within

[2013-05-02 07:38] mainsheep commented on #418
I'm still getting these errors, now with TT 1488 and MCPC+ L22.

Console : 2013-05-02 09:27:46 [SEVERE] Exception ticking world Twilight Forest/7
Console : java.util.ConcurrentModificationException
Console :       at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
Console :       at java.util.HashMap$ValueIterator.next(HashMap.java:868)
Console :       at codechicken.chunkloader.ChunkLo

[2013-05-02 10:32] HaoSs07 commented on #246
you guys also should check why there is no wipe when the chunk where the disks are is loaded with worldanchor . Or it happens rare,but only to the first disk ( in my case )

[2013-05-02 15:26] aquagene commented on #426
Exact same issue as what I posted a few days ago: https://github.com/nallar/TickThreading/issues/413 I can confirm it still occurs in #1488.

[2013-05-02 15:32] geoffcorey commented on #246
@nallar that sounds consistent with what I am observing.  When multiple things are running it would sometimes happen.   If nothing but one thing was running it would not.    I will redo my setup tonight and try it all in 1 chunk and see if there are any glitches or missing items.

[2013-05-02 15:53] wormzjl commented on #409
Tried a fresh install but I'm still getting this error.

[2013-05-02 16:15] #426 closed, assigned to LunNova

[2013-05-02 16:15] #425 closed, assigned to LunNova

[2013-05-02 16:17] #424 closed, assigned to LunNova

[2013-05-02 16:39] #427 closed, assigned to LunNova

[2013-05-02 16:54] #423 closed, assigned to LunNova

[2013-05-02 16:55] aquagene commented on #423
You are a machine man. Thanks a ton for fulfilling this bug.

[2013-05-02 18:02] cjm721 opened #428 "[MCPC+21] [TT1492] Tick Loop 1488 (fine) > 1492 (Crash)"
Upgraded to 1492 and when start server get Tick loop error:

pastebin.com/r7g9jpnL

Downgraded back to 1488 and worked fine.

[2013-05-02 18:23] aquagene opened #429 "#1489 Mytown not recognizing players on login."
Mytown has constant problems in this build realizing a player is online, and giving them rights to the town they are a part of (They can't build or edit town permissions) I've turned off tickthreading and confirmed the problem is much more frequent with tickthreading.

[2013-05-02 18:41] HaoSs07 commented on #429
this was also recognized to be a bug by mytown dev. Sometime losing connection to mysql

[2013-05-02 18:44] HaoSs07 opened #430 "#1493 Redpower bug/crash"
2013-05-02 21:41:38 [SEVERE] [TickThreading] Exception ticking TileEntity c factorization.common.TileEntityWrathLamp factorization.common.TileEntityWrathLamp@21d1ff77 x,y,z: 1978, 53, -177 at x,y,z:1978,53,-177

 World: Overworld/0

java.lang.VerifyError: (class: com/eloraam/redpower/core/TubeFlow, method: &lt;init&gt; signature: ()V) Unable to pop operand off an empty stack

  at com.eloraam.redp

[2013-05-02 18:44] LunNova commented on #430
Duplicate of #428.

[2013-05-02 18:44] #430 closed, assigned to LunNova

[2013-05-02 18:47] HaoSs07 commented on #430
ok, I skipped checking reports made for mcpc

[2013-05-02 18:51] Nohau commented on #428
+1 MCPC L22

[2013-05-02 19:06] #428 closed, assigned to LunNova

[2013-05-02 19:07] LunNova commented on #418
Can you give the console log, up to the "server started on IP address/port" bit?

[2013-05-02 19:18] mainsheep commented on #418
I think the problem came with installing different version of TT.
I installed the newest TT which came out today, and it stated "this map was saved with 1473, and might not work". So I rolled back to that version, and the problem is gone. Lately we have had some freezes and crashes, around 10-15 minutes in between, which seem to have disapeared when installing the older version.

In any case, here

[2013-05-02 19:37] mainsheep commented on #416
Same issue with [TT 1473] [MCPC+ L22]

[2013-05-02 19:58] alicheek opened #431 "Question not issue: Is there permission nodes for /ticks /tps"
hey there the heading basically is the question, was just wondering because it would be good if my admins could use them (they aren't op so don't automatically get the perm)

Thanks

[2013-05-02 20:55] LunNova commented on #431
Disable the require ops setting, and use the permission node assigned by MCPC+.

[2013-05-02 20:55] #431 closed, assigned to LunNova

[2013-05-02 21:05] LunNova commented on #424
The issue on the DW20 server appears to be an MCPC+ bug, see https://github.com/MinecraftPortCentral/MCPC-Plus/issues/847

[2013-05-02 21:07] #417 closed, assigned to LunNova

[2013-05-02 21:08] LunNova commented on #418
It needs to be the actual console log, any saved logs won't contain the classloader debug output, as that is logged to console before FML's logging is initialized.

[2013-05-02 21:11] alicheek commented on #431
cant seem to find any references to permission nodes for it any chance u can give me the link to it?

[2013-05-02 21:28] LunNova commented on #431
They're listed in console while the server is starting.
On 2 May 2013 22:11, "Alistair" notifications@github.com wrote:

[2013-05-02 21:39] #407 closed, assigned to LunNova

[2013-05-02 21:41] LunNova commented on #416
Still happening after 1495 for anyone?

[2013-05-02 21:48] alicheek commented on #416
not used it yet ill put it on later when the server isn't as busy and ill let u know

[2013-05-02 21:55] #411 closed, assigned to LunNova

[2013-05-02 22:03] Nohau commented on #431
Added it to https://github.com/nallar/TickThreading/wiki in case anyone is interested in the future.

[2013-05-02 22:04] LunNova commented on #431
@Nohau
Thanks :)

[2013-05-02 22:10] alicheek opened #432 "[TT 1488] [MCPC L21] Found Lag issue Twilight Forest animals/mobs"
Found an issue with twilight forest mobs/animals people are still finding them very laggy like one second u can hit them then the for about 1 min they are all frozen and don't move, don't take any hit damage in this time, also one of my admins and I noticed that some animals were stuck in blocks and they were originated in laggy areas  that is given by /ticks not sure why it would be intensive bec

[2013-05-02 22:13] alicheek commented on #432
also quick question what does the N stand for in the co ordinates in /ticks  ?

[2013-05-02 22:14] LunNova commented on #432
Number of entities or tile entities in that region.
Try disabling variable tick rate in the config, it may be avoiding ticking the areas if they're very laggy. Of course, doing that will decrease performance.

[2013-05-02 22:16] LunNova commented on #409
Can you upload a copy of wireless redstone core from your patchedMods folder, and a _console_ log of the server starting? Has to actually be a console log, need to see the classloader logs.

[2013-05-02 22:21] alicheek commented on #432
ah cheers , ill give it a try but I don't think its that I mean the server will be at 20 tps and the TF mobs will still do this

[2013-05-03 00:16] alicheek commented on #416
@nallar

Its seemed to stop but im now getting these errors with TT 1500

2013-05-02 23:15:20 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileConduitLiquid thermalexpansion.transport.tileentity.TileConduitLiquid@1b626452 x,y,z: -222, 36, 3487 at x,y,z:-222,36,3487
 World: Overworld/0
java.lang.NullPointerException
    at thermalexpansion.transport.

[2013-05-03 01:07] Nohau opened #433 "TT1500 / MCPC L22 - DeadLock"
Logs :
https://gist.github.com/Nohau/5506573

Server was only up for maybe 20 mins then deadlocked

Thanks

[2013-05-03 02:05] Nohau opened #434 "TT1500 / MCPC L22 - Player movement updates ignored in some cases"
not getting no errors or nothing just right where spawn is located there is like ghost blocks can't world edit and destroy them.

[2013-05-03 02:16] Nohau commented on #413
TT 1500 / MCPC L22

2013-05-02 21:10:59 [SEVERE] [TickThreading] Exception ticking TileEntity c thaumcraft.common.blocks.TileMarker thaumcraft.common.blocks.TileMarker@81f5a92 x,y,z: 19, 62, -8 at x,y,z:19,62,-8
 World: Age 326/326
java.lang.ArrayIndexOutOfBoundsException: 4
        at java.util.LinkedList.toArray(LinkedList.java:1040)
        at java.util.ArrayList.addAll(ArrayList.java:530)

[2013-05-03 02:18] Nohau commented on #413
TT 1500 /MCPC L22

2013-05-02 21:08:29 [SEVERE] [TickThreading] Exception ticking TileEntity c
thaumcraft.common.blocks.TileMarker thaumcraft.common.blocks.TileMarker@65d4c598 x,y,z: 1781, 64, -5649 at x,y,z:1781,64,-5649
 World: Overworld/0
java.lang.NullPointerException
        at java.util.concurrent.ConcurrentHashMap.hash(ConcurrentHashMap.java:333)
        at java.util.concurrent.ConcurrentHa

[2013-05-03 02:40] Nohau commented on #413
There is a couple different ones here is gist..

https://gist.github.com/Nohau/5506853

[2013-05-03 02:58] Nohau opened #435 "TT1500 / MCPC L22 - [SEVERE] [TickThreading] C java.lang.Throwable"
Only happens so far on server start that i can see Can be seen here :

https://gist.github.com/Nohau/5506573

And here :

https://gist.github.com/Nohau/5506853

[2013-05-03 03:11] Nohau commented on #434
Reverted back to TickThreading-1.4.7-1.0.0.1488.jar and the spawn glitch is gone you can now walk around where spawn is and you don't get stuck.

[2013-05-03 03:12] cjm721 opened #436 "[Enhancement] "Show known bugs" to config option."
Add to config to make it something configurable like op only or enable /disabled .

Rather not have people complain saying TT deleting items when it could be or not, but it gives them something to blame and try to hang it over me.

Original Commit:
85d74ecc0aec6a226d54acf87a3faf33556f740d

[2013-05-03 07:14] LunNova commented on #434
Probably an issue in e371e31ee5fdbf7d607fef964c4f4c2fa5c3b70f or 6a6584dd79df63559e3929d27b5169fabf3c6f01.

[2013-05-03 07:16] #435 closed, assigned to LunNova

[2013-05-03 13:35] geoffcorey commented on #246
It would appear that putting the AE system in a single chunk has fixed the issue. I will continue to test the single chunk theory this weekend.

[2013-05-03 15:35] #304 closed, assigned to LunNova

[2013-05-03 15:51] aquagene commented on #429
Yep, in #1503 as well players are not detected at all. It used to occur sometimes, and reloading mytown and PEX would fix it, but with the newer versions of tickthreading, rebooting or reloading does nothing, and towns just don't work at all. If I turn off tickthreading it works fine.

[2013-05-03 16:25] LunNova commented on #429
Can you find exactly which build this breaks in?

[2013-05-03 16:33] LunNova commented on #436
Not going to add this, too many people were annoying @AlgorithmX2 about issues with TT and AE because they didn't realise that TT was on the server.

If you feel that the message is ambiguous and making users think that TT + AE could cause any items to be deleted, not just those in AE storage, suggest a new message. I'm bad at documentation.

[2013-05-03 16:33] #436 closed, assigned to LunNova

[2013-05-03 17:13] aquagene commented on #429
Tried a few different build, it breaks in #1488 as well. I just converted my server from using the built-in sqllite database of Mytown to a mysql server running separately and that works perfectly, if that helps any. Unfortunately it's not a bug I can provide much testing feedback in as I had to get towns working for my players asap, as no towns on a pvp allowed server had the potential to be deva

[2013-05-03 17:41] cjm721 commented on #436
What I am saying is that there were / are a few people on my server (out of over 200 unique people that log in every day) that try and get items by saying "You caused it by adding ____" and what not.

Currently the version in the ultimate pack there are several mod relations that cause item deletion (improper use of Deep storage units) so TT is not to blame (have not had any NBT complete resets wi

[2013-05-03 18:16] geoffcorey commented on #246
So odd item with the test.  I did this single chunk in a mystcraft age.  The age is stable.   In the chunk I have a power cable running the inside edge of the the chunk to the AE system.   In the last few hours that entire glass fibre line went missing.  I dug up the floor and not just a segment but the whole line from the corner of the chunk to halfway across the chunk including the elbow that wo

[2013-05-03 18:31] HaoSs07 commented on #403
just side note, this fix failed in jenkins

[2013-05-03 18:37] HaoSs07 opened #437 "Me autocraft starting to lag the server ?"
was in build 1502/1503,and i noticed dis started to happen, i never seen ME in the /profile e list till today

![2013-05-03_21 26 19](https://f.cloud.github.com/assets/3189195/460458/976a3642-b41f-11e2-940c-8e3ff527cef9.png)

also there is huge lag spike when ME system receives a craft command (multiple tests )

![2013-05-03_21 25 57](https://f.cloud.github.com/assets/3189195/460491/6ddaf158-b420-

[2013-05-03 18:44] LunNova commented on #436
I've got bad news for you, players don't do what you expect.

I will add a config option, but I really don't agree with changing it from the default. If other mod authors continue to have players annoy them about this I will be removing the option again.

[2013-05-03 18:54] LunNova commented on #437
That's a few too many significant figures of TPS, oops!

AE has performance issues in the version in use in FTB ultimate, it needs updated. Not really much I can do.

[2013-05-03 18:55] LunNova commented on #437
Get a jvisualvm CPU sampler snapshot and I can check that it's definitely not caused by a TT change, and possibly fix the issue.

[2013-05-03 18:58] aquagene commented on #429
Ok, I've found out what the problem is exactly, as it started happening with my mysql table as well. It's writing the data to the mysql table multiple times, so instead of pulling the rights data from an existing entry, it's making a new blank one and ignoring if a player is a mayor, etc. I'm not 100% sure if this is a tickthreading issue or a mytown issue, but it def happens way more often with t

[2013-05-03 19:03] Nohau opened #438 "TT 1488 / MCPC L22 ticks r"
So i was going threw the commit history and looking for details on some commands and found /ticks  r when running this command you get the following error now when ran from console.

2013-05-03 14:01:45 [INFO] An unknown error occurred while attempting to perform this command
2013-05-03 14:01:45 [SEVERE] java.lang.ClassCastException: ho cannot be cast to iq
2013-05-03 14:01:45 [SEVERE]    at me.na

[2013-05-03 19:04] HaoSs07 commented on #437
not sure i can do that, the server is hosted along multiple cs,samp and minecraft servers.
and i dont have full access to root

[2013-05-03 19:08] Nohau commented on #438
I think it is more because it meant to be ran inside the game not within console as it resends chunks right by grabbing your location.

[2013-05-03 19:12] Nohau opened #439 "TT 1488 / MCPC L22 Update /ticks ?"
This version 1488 :

/ticks ?

Output

Usage: /ticks [e/b/?] [dimensionid]

Expected Output :
Usage: /ticks [e/b/r/?] [dimensionid]

Is /ticks r still valid though when adding a dimonsionid as adding anything after r would mean radius right?

[2013-05-03 19:18] cjm721 commented on #436
Correct players don't do what you expect so if they are going to complain to someone they are unlikely to read anything anyways and then either to anoy me about lost items or still keep going to AE and not pay attention to your message either.

In all reality if they are going to complain to AE before going to TT / don't know if they have TT they are going to go to @AlgorithmX2 anyways. I tried to

[2013-05-03 19:20] HaoSs07 commented on #429
well as i stated before :P "this was also recognized to be a bug by mytown dev. Sometime losing connection to mysql"
i reported this around 2 months ago, i have it rarely , like 6 times in 4 months,and only to 2-3 players, you have mysql on localhost?

[2013-05-03 19:25] cjm721 commented on #437
I had this issue for a while since even before I installed TT on my ultimate pack server.

I am using an AutoCrafter that is 13x13x6 and if I do any multi level crafting it causes lag to a point I can crash the server.

I also believe this has been fixed rv10.a when he was doing alot of his network performance upgrades.

[2013-05-03 19:27] aquagene commented on #429
Yeah, it's running off localhost.

[2013-05-03 19:27] HaoSs07 commented on #437
good to know. hope ftb will update soon to 1.5
is strange that till today i had no problem with ME lag, and i have the same system i had a month ago(when my motherboard crashed and i did not play. just maintain the server)

[2013-05-03 19:32] cjm721 commented on #437
Sure it is the same? One export line on craft code is what caused my original crash with it. Running 1502 also and have not had any issues yet. I did notice on the profile that the tile controller appears twice at the same location, you could try breaking and replacing it as that has fixed a locked system for me before.

[2013-05-03 20:23] alicheek opened #440 "[TT 1507] [MCPC+ L22] [SEVERE] Exception in thread "Listen thread""
Seems to be a startup issue:

2013-05-03 19:53:32 [SEVERE] Exception in thread "Listen thread"
2013-05-03 19:53:32 [SEVERE] java.lang.NoSuchFieldError: o
2013-05-03 19:53:32 [SEVERE]    at cg.construct(TcpConnection.java:26)
2013-05-03 19:53:32 [SEVERE]    at cg.runConstructors(TcpConnection.java)
2013-05-03 19:53:32 [SEVERE]    at cg.<init>(TcpConnection.java:146)
2013-05-03 19:53:32 [SEVERE]

[2013-05-03 20:25] Nohau commented on #439
Sorry about asking these questions just trying to make sure I get this stuff right as I am making the command page and making sure i am correct and if i spot anything not updated like this

Wiki page you had already had that was blank

https://github.com/nallar/TickThreading/wiki/Commands

Thanks!

[2013-05-03 20:28] aquagene opened #441 "Every Build After #1503- Players cannot place blocks nor pick up items."
There's no errors, but with every build after #1503, players are almost completely unable to place blocks anywhere, nor pick up items on the floor.

[2013-05-03 20:32] Nohau commented on #441
Holy crap ultimate Grief Protection!

Can a /op Pickup or place blocks

[2013-05-03 20:35] aquagene commented on #441
Nope, can't do either of those things myself as OP either.

[2013-05-03 20:53] #439 closed, assigned to LunNova

[2013-05-03 20:56] alicheek opened #442 "[TT 1507] [MCPC+ L22] Big tps lag but was fine at TT 1500 weird over % of load in /tps"
Don't understand how the overall load is double the total load

![2013-05-03_21 52 51](https://f.cloud.github.com/assets/3965516/461219/d56ad8fc-b433-11e2-85ed-5baec338e0b6.png)

[2013-05-03 21:03] LunNova commented on #403
And I closed the wrong issue.

[2013-05-03 21:03] LunNova commented on #433
Fixed via d491c314ff6d6.

[2013-05-03 21:03] #433 closed, assigned to LunNova

[2013-05-03 21:04] LunNova commented on #441
Duplicate of #434.

[2013-05-03 21:04] #441 closed, assigned to LunNova

[2013-05-03 21:04] HaoSs07 commented on #442
also do a /profile e and post it

[2013-05-03 21:06] #438 closed, assigned to LunNova

[2013-05-03 21:06] #440 closed, assigned to LunNova

[2013-05-03 21:08] aquagene commented on #434
This issue does NOT occur in builds #1500 to #1503 for me.

[2013-05-03 21:09] LunNova commented on #434
It's the same problem, I just made it worse instead of better. Oops?

[2013-05-03 21:10] alicheek commented on #442
`Profiling for 7 seconds in Overworld/0
2013-05-03 21:09:48 [INFO] [TickThreading]
                                 Obj | Time/Tick |     %
          TileOutputCable 166,97,382 |     4.218 | 2.450
TileEntityFertilizer -2069,116,-2040 |     2.652 | 1.541
      tile.TileController 163,96,401 |     2.099 | 1.219
    player.EntityPlayerMP 777,67,440 |     2.000 | 1.162
          TileGenericPipe 103,36

[2013-05-03 21:21] #434 closed, assigned to LunNova

[2013-05-03 21:23] LunNova commented on #442
Please upload a jvisualvm cpu sampler snapshot.

[2013-05-03 21:24] alicheek commented on #442
how do I do that ? sorry for the silly questions just not done it before

[2013-05-03 21:38] HaoSs07 commented on #442
http://docs.oracle.com/javase/6/docs/technotes/guides/visualvm/profiler.html see this

or this https://visualvm.java.net/jmx_connections.html ( provided by nallar)

[2013-05-03 21:46] LunNova commented on #437
You don't need root access, you just need to be able to change your java arguments.

[2013-05-03 22:08] wormzjl commented on #409
Startup log:
http://pastebin.com/UNT7TuLs
patching log:
http://pastebin.com/EU3H9ma7
Patched wrcbe core:
http://www.mediafire.com/?ydc8027glhmtopg

[2013-05-03 22:11] HaoSs07 commented on #437
well why no provide them in the first place ?

[2013-05-03 22:14] LunNova commented on #437
https://visualvm.java.net/jmx_connections.html

[2013-05-03 22:53] HaoSs07 commented on #437
the server is fu**ing with me, im connected to the jmx. but now... there is no lag.
same system. When i made this problem i had lag when requested a fusion coil,tested multiple times with 02 and 03 builds
Now i requested 20. and it started crafting whit no delay
![2013-05-04_01 49 19](https://f.cloud.github.com/assets/3189195/461650/01a3aefc-b444-11e2-94d9-8488a62e2deb.png)

heres the snapshot any

[2013-05-03 23:24] HaoSs07 commented on #437
well managed to find a problem, if not "the" problem .  fore some reason when storage bus is connected to a black hole chest the system lags, probably not TT related.
snapshot anyway.

 https://dl.dropboxusercontent.com/u/76651664/ftbHaoSs2.nps

thx for time

[2013-05-04 00:05] LunNova commented on #409
Console log confirms that it's not finding/loading the patched classes from WR-CBE Core.

[2013-05-04 00:08] aquagene opened #443 "#1513 Exception in main tick loop (Different than #380)"
I get a bunch of the first error then the second one, which forces a deadlock shutdown.

<code>2013-05-03 19:58:57 [SEVERE] [TickThreading] Failed to handle packet from aquagene
java.lang.IllegalArgumentException: end before start
    at javax.swing.JTextArea.replaceRange(Unknown Source)
    at ic.publish(SourceFile:64)
    at java.util.logging.Logger.log(Unknown Source)
    at java.util.logging.L

[2013-05-04 00:12] LunNova commented on #409
Can you get another console log on latest?

[2013-05-04 00:13] aquagene commented on #443
To clarify I'm connecting to the server locally so network issues can be ruled out in relation to packet problems.

[2013-05-04 00:15] LunNova commented on #443
Looks like the GUI log handler can't handle anything that isn't plain text, for example MyTown's colours.

[2013-05-04 00:19] aquagene commented on #443
Ah, oh well. Consider my request for the gui to show tickthreading info unrequested. Thanks for the hard work dude.

[2013-05-04 00:20] LunNova commented on #361
I cleaned up the movement update handling code today, this might be fixed now.

[2013-05-04 00:36] LunNova commented on #374
This may also be related to https://github.com/MinecraftPortCentral/MCPC-Plus/issues/837

[2013-05-04 00:37] Nohau commented on #409
Do you have rptweaks installed that can be injecting code and messing with the patch? I haven't tested this yet but possible maybe?

[2013-05-04 00:39] maezred commented on #362
We decided to stick with 1412 for a while and just enjoy the peacefulness (sans the occasional player that signed on screaming, "I bring the death!"). We just bumped to TT 1516, and mob spawning appears to be working as intended again. Spent a few hours flying around (in survival) from -16,000x-16,000 to 8,000x8,000; and mobs continually spawn without issue.

[2013-05-04 00:41] Puremin0rez commented on #437
I ended up pulling the mod, I was getting the same type of issues... not worth the heavy lag.

[2013-05-04 02:52] geoffcorey commented on #246
1513 able to reproduce the problem (baseline)
1514 able to reproduce the problem
1515 able to reproduce the problem + able to reproduce the problem of the glass fiber line connected from MFSU to AE disappearing

[2013-05-04 08:24] wormzjl commented on #409
Pretty much the same startlog:
http://pastebin.com/wK1VJeGL

Yes I do have rptweaks installed.

[2013-05-04 11:22] Hoiafar commented on #374
We are not using MCPC+. Only the standard Ultimate FTB pack.

[2013-05-04 12:52] #443 closed, assigned to LunNova

[2013-05-04 12:54] LunNova commented on #437
Closing this, as there's not much I can do short of redesigning the way AE uses inventories. That's already been done, just the ultimate pack is out of date.

[2013-05-04 12:54] #437 closed, assigned to LunNova

[2013-05-04 13:01] LunNova commented on #409
Another console log on latest please? And the file definitely exists in the patchedMods folder, with the same name as the file in the mods folder?

[2013-05-04 13:23] LunNova commented on #416
These are new errors, make new issues.

[2013-05-04 13:23] #416 closed, assigned to LunNova

[2013-05-04 14:13] Hoiafar commented on #421
I think we figured out the problem. It is my Exp farm that's being clogged up by mobs when the turtles stop randomly working.

[2013-05-04 15:32] SuddenTurmoil commented on #402
Ok, so I have an odd conundrum to input for this bug. Currently MFFS shields will not raise on my server. I recently had to restore one of the worlds on my server (FTB ultimate) back to the 30th when the server was running #1444. In that world alone, MFFS shields acted normally, in all other worlds the shields were down. The server was running #1471 at the time. So, did something pollute one of th

[2013-05-04 17:22] wormzjl commented on #409
Here:
http://pastebin.com/dgf7HysH

Also getting some strange stuff on server start:
http://pastebin.com/D6Tw5x5Z
http://pastebin.com/Ju2DdpE7

[2013-05-04 17:33] LunNova commented on #409
edit: disregard that, it doesn't. :(

[2013-05-04 17:41] wormzjl commented on #409
Yes the file name is the same as the one in the mods folder (sorry didn't see that)

Edit: seem that the one for wrcbe is loaded now
http://pastebin.com/e7ewnZzB
still getting this through
http://pastebin.com/Ju2DdpE7

[2013-05-04 17:43] LunNova commented on #402
If you replace the MFFS blocks in one of the broken worlds, does it start working again?

[2013-05-04 18:07] SuddenTurmoil commented on #402
My player tried removing and replacing MFFS blocks to no effect. I just tried it myself replacing all blocks and recreating cards in the event the problem was there. The shield still does not get generated.

[2013-05-04 22:56] mainsheep opened #444 "Essentials : /ptime (player time) broken after TT"
When I started using TT, the essentials command /ptime (player time) which changes the brightness setting around the player, stopped working.

Is this a know issue?

Thanks

[2013-05-05 00:23] geoffcorey commented on #246
Ok build 1520 it was looking real promising.  No issues until I triggered an emitter on an autocrafting table in another chunk to keep 64 ender eyes and 64 blaze powder in stock.  Once that happened the stuff in transient went to zero - uu, ender pearls, blaze rods.  All gone.

[2013-05-05 10:56] chun69gus commented on #278
I am having the same problem with latest Dynmap and TT.

@swarmski, whewn you say 1.5 dynmap is working fine, was that the bukkit or forge version?

[2013-05-05 11:56] #409 closed, assigned to LunNova

[2013-05-05 11:57] LunNova commented on #403
@joey19982 Still not happened again?

[2013-05-05 12:19] LunNova commented on #418
Fixed via 85013b5e7829b5f.

[2013-05-05 12:19] #418 closed, assigned to LunNova

[2013-05-05 17:43] ThuGie opened #445 "Exception ticking world Overworld/0"
Randomly got this error when i checked console.

2013-05-05 18:57:30 [SEVERE] [TickThreading] Exception ticking world Overworld/0

java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(Unknown Source)
        at java.util.ArrayList$Itr.next(Unknown Source)
        at yp.getEntityCount(SpawnerAnimals.java:63)
        at yp.a_net_minecraft_world_SpawnerA

[2013-05-05 22:02] alicheek opened #446 "[TT 1538 ] [MCPC+ L22] [SEVERE] [ForgeModLoader] A TileEntity forestry.Grower(forestry.core.gadgets.TileMill) has thrown an exception during loading, its state cannot be restored. Report this to the mod author"
Getting a load of this in my forgemodloader log but not in the TT log

2013-05-05 21:05:51 [SEVERE] [ForgeModLoader] A TileEntity forestry.Grower(forestry.core.gadgets.TileMill) has thrown an exception during loading, its state cannot be restored. Report this to the mod author
java.lang.ArrayIndexOutOfBoundsException: 1
    at forestry.core.utils.PlainInventory.a(PlainInventory.java:50)
    at for

[2013-05-05 22:04] Nohau commented on #442
I just got the same just completely random running 1521 . Then it went right away ... but it was like a sudden hicup in the whole server just paused perhaps gc happening but that is a first we seen this and effected that bad.

![2013-05-05_16 57 11](https://f.cloud.github.com/assets/4019875/464240/b6fbb880-b5cf-11e2-9cdf-d1e7f0ccdbf6.png)

[2013-05-05 22:10] Nohau opened #447 "TT1521 / MCPC L22 - Warning about AE injectng itself randomly"
Notice the motd it injected itself right between the votes :

![2013-05-05_13 36 51](https://f.cloud.github.com/assets/4019875/464249/92a9ce9e-b5d0-11e2-9c37-aa36393b39db.png)

[2013-05-05 22:11] HaoSs07 commented on #246
this problem is really annoying

[2013-05-05 22:22] nylser opened #448 "Update to 1.5"
Will TickThreading be updated to 1.5? Or maybe even wait for 1.6?

[2013-05-05 22:41] geoffcorey commented on #246
well I will say the work around of having the AE system in a single chunk works.  Only issue I have had is the occasional fibre optical cable disappearing from mfsu to the AE system.

[2013-05-05 22:56] LunNova commented on #442
There is nothing I can do without snapshots.

[2013-05-05 22:58] Nohau commented on #442
Just got a 30-40 minute cpu sample . I stopped the sample then clicking snapshot (Take Snapshot of collected results).. I hope that is how you do it .. I still have it up just in case that was wrong. Question is did I catch it when it happened again or not.

[2013-05-05 23:04] Nohau commented on #442
Email sent to your email addy posted on github profile.

[2013-05-05 23:25] Puremin0rez commented on #448
Please make it a separate branch or something =)

Feed the Beast is still on 1.4.7, sadly.

[2013-05-05 23:32] geoffcorey commented on #414
Experienced the same thing on Ulitmate v1.0.1.   I am suspecting that restarts may have something to do with it but still have not been able to reproduce repeatedly.

[2013-05-05 23:34] cjm721 commented on #414
It might happen on restarts, but had it happen when playing. I never had it happen while I was sitting at the ME though so no idea if it is then related to load/unload.

[2013-05-06 00:15] #444 closed, assigned to LunNova

[2013-05-06 00:28] LunNova commented on #288
I thought this was fixed, apparently it isn't, just received http://pastebin.com/eKPJvmU5

Might be related to #446

[2013-05-06 02:12] alicheek commented on #288
yea happening with me with build 1539 wasn't doing it for a while though so don't know what's changed

[2013-05-06 02:15] alicheek opened #449 "[TT 1539 ] [MCPC+ L22] [SEVERE] [TickThreading] Failed to handle packet from xMelon"
Don't think its a big issue since no one has complained but ive been getting this error:

2013-05-05 23:55:34 [SEVERE] [TickThreading] Failed to handle packet from xMelon
java.lang.NullPointerException
    at any.sendTileWithNotify(TileEntity.java:47)
    at com.eloraam.redpower.core.TileExtended.updateBlockChange(TileExtended.java)
    at com.eloraam.redpower.machine.TilePipe.onHarvestPart(TilePi

[2013-05-06 02:16] alicheek opened #450 "[TT 1539 ] [MCPC+ L22] [SEVERE] [TickThreading] Exception ticking world Nether/-1"
2013-05-06 01:52:59 [SEVERE] [TickThreading] Exception ticking world Nether/-1
java.lang.NullPointerException
    at thaumcraft.common.blocks.TileSensor.getNoteBlockEvents_sync0(TileSensor.java:99)
    at thaumcraft.common.blocks.TileSensor.getNoteBlockEvents(TileSensor.java)
    at thaumcraft.common.BETeleporter.a(BETeleporter.java:45)
    at in.b_net_minecraft_world_WorldServer_tick_p0(WorldServ

[2013-05-06 05:13] Nohau opened #451 "TT1547 / MCPC L22 FastMobSpawning Enable = NPE's"
When B:enableFastMobSpawning=true

You get NPE's

https://gist.github.com/Nohau/5523476

Example Errors
2013-05-06 00:06:28 [SEVERE] [TickThreading] Exception ticking world Age 326/326
java.lang.NullPointerException
        at yp.getPseudoRandomHeightValue(SpawnerAnimals.java:42)
        at yp.spawnMobsQuickly(SpawnerAnimals.java:167)
        at in.b_net_minecraft_world_WorldServer_tick_p0(WorldSe

[2013-05-06 06:31] Nohau commented on #402
Well have good news and bad news.. We managed to get our Force Fields running on my server ever since the bug came to light..but it came at a nasty cost i think..

What we did could be out of pure luck we got it working but maybe nallar might be able to tie some things to gather ..

So all of our TC3 nodes where slowly disappearing to the point they where starting to get scarce so after talking to

[2013-05-06 06:50] Nohau commented on #402
Here is the TT LOG

I have zipped up the Forge Log if needed but within that little time it managed to be close to 8MB Text file .

https://gist.github.com/Nohau/5523686

Also it doesn't appear to be not as bad as before and we are able to turn on some MFFS Projectors without it thinking it is in a Deadlock now .

Some of these are OLD MFFS and New MFFS we and one we just placed down and verified

[2013-05-06 08:43] mainsheep commented on #450
TT1547, MCPC+ L22

2013-05-06 10:41:21 [SEVERE] Exception ticking world Overworld/0
java.lang.NullPointerException
        at yp.getPseudoRandomHeightValue(SpawnerAnimals.java:42)
        at yp.spawnMobsQuickly(SpawnerAnimals.java:167)
        at in.b_net_minecraft_world_WorldServer_tick_p0(WorldServer.java:380)
        at in.b(WorldServer.java)
        at net.minecraft.server.MinecraftServer.doWo

[2013-05-06 09:08] wormzjl opened #452 "[TT #1543, MCPC+ L22] Client crash with forestry machines after updating TT"
After update from TT 148x to the latest version my users are reporting that opening any forestry machine GUI will cause a client crash like this:
http://pastebin.com/hC2NKb2L

Breaking and replacing these machines may solve the problem but item within them could be lost in this process (such as bees).

[2013-05-06 09:16] mainsheep commented on #452
My server has the same issue.

Did a couple of restarts, and right after restart they seemed fine. Probably since the chunk were loaded. But after a while it went back to crashing clients who right clicks them.

[2013-05-06 10:27] #449 closed, assigned to LunNova

[2013-05-06 10:31] #451 closed, assigned to LunNova

[2013-05-06 10:32] LunNova commented on #452
Possibly related to #446.Can anyone confirm if this started happening in build 1524?

[2013-05-06 10:38] mainsheep commented on #452
I installed 1537 yesteday evening, when I woke up today, players have had problems all night with this. Installed the TT1547 today, but still the same problem.

[2013-05-06 10:39] LunNova commented on #452
Check if any newly placed machines break with 1523.

[2013-05-06 10:45] mainsheep commented on #452
TT1523 fixed the problem, but players report that just after a restart, they worked before aswell.. I'm letting it run for another 10mins before I can give a 100% accurate report.

[2013-05-06 10:51] mainsheep commented on #452
Yes, problem is fixed with 1523.

[2013-05-06 10:58] mainsheep commented on #452
Update: The problem is fixed for some, but not for all.. From what I can figure, there is a connection to chunk loading/unloading and the players crashing.. The majority of the players report the problem is fixed however..

[2013-05-06 11:36] wormzjl commented on #452
Additional info: forestry multifarm works without problem.

[2013-05-06 11:59] mainsheep commented on #450
Problem is gone in the previous build 1523.

[2013-05-06 12:49] LunNova commented on #450
@mainsheep
Your issue isn't the same issue as @alicheek posted, yours is issue #451.

[2013-05-06 13:37] floh22 commented on #246
i know what you mean. i cant use TT on my server because of this

[2013-05-06 13:39] wormzjl commented on #246
For the moment, use storage bus + diamond chests.

[2013-05-06 13:49] HaoSs07 commented on #246
storage bus + chest/barrel works. but the it lags the server a little when you craft hard items

[2013-05-06 14:05] floh22 commented on #246
well im cant really stop people from using those items from ae. i really dont wanna ban em either

[2013-05-06 14:13] geoffcorey commented on #246
I'm running TT and we all moved our systems to a single chunk without issues.

[2013-05-06 15:23] LunNova commented on #452
Found the problem, the worldGenInProgress ThreadLocal was repeatedly being set to false, breaking my attempt at set-thread-counting optimisation.

[2013-05-06 15:55] mainsheep opened #453 "[SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.1 || [SEVERE] Could not pass event BlockFromToEvent to WorldGuard v5.7.1"
I've been having these errors from time to time, up through the TT versions. The latest version TT1550 is spamming me with these errors. I never thought they were that important, but since my logs is beeing clogged with these messages now, I'm hoping you have a solution.

[SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.1
org.bukkit.event.EventException
        at org.bukkit.

[2013-05-06 15:57] mainsheep opened #454 "[SEVERE] Could not pass event BlockFromToEvent to GriefPrevention v7.6.1 || WorldGuard v5.7.1"
I've been having these errors from time to time, up through the TT versions. The latest version TT1550 is spamming me with these errors. I never thought they were that important, but since my logs is beeing clogged with these messages now, I'm hoping you have a solution.

I have set both options to false in TT.cfg for GP to work from earlier.

[SEVERE] Could not pass event BlockFromToEvent to Grie

[2013-05-06 15:58] #453 closed, assigned to LunNova

[2013-05-06 16:16] wormzjl commented on #452
Problem fixed, good job nallar :D

[2013-05-06 16:31] LunNova commented on #452
If that did fix it there should be some console spam, please paste it.

Else, it just randomly started working again. I hate when that happens, you never know when the bug will happen again.

[2013-05-06 16:34] LunNova commented on #454
Occurs during worldgen. Waiting for a javassist issue to be fixed before I can patch this sensibly.

[2013-05-06 16:35] wormzjl commented on #452
Console spam as requested:

2013-05-06 12:33:18 [SEVERE] [ForgeModLoader] Exception loading chunk asynchronously.
java.lang.UnsupportedOperationException
    at aal.a(RegionFileCache.java)
    at aal.c(RegionFileCache.java:76)
    at CustomOreGen.Server.ServerState.isChunkSavedPopulated(ServerState.java:38)
    at CustomOreGen.Server.ServerState.onPopulateChunk(ServerState.java:269)
    at CustomO

[2013-05-06 18:22] Nohau commented on #402
Something else we noticed whenever you change the size of the Projector now you have to pick it up and put it back down and put in the new cards then.

[2013-05-06 19:45] #447 closed, assigned to LunNova

[2013-05-06 20:06] cjm721 commented on #402
Just updated to 1552 and my shield was there then I teleported to my base but after i turned it off then back on it never came back up.

Also the shield is dropping very slowly, don't really mind it going slowly as less lag (64 radius sphere), but wonder if it has something to do with it.

going to try nallar's new fix now (github should give a warning if someone posts while your typing).

[2013-05-06 20:33] cjm721 commented on #402
Tried both new and old projectors and none seem to work on 1554

[2013-05-06 20:42] Nohau commented on #402
Also something we noticed is if there is bed rock near the MFFS it bugs out and doesn't create the shield correctly on 1547 or not at all . We had to ensure we where not even near bedrock and the shield came up.

We had a house that had a bedrock foundation and how we found this issue (this was done in creative mode)

Thaumcraft is still doing a world gen on all the nodes still this is taking fore

[2013-05-06 21:51] joey19982 commented on #448
As long as 1.4.7 is still regularly updated, I think it should be. Some people will be wanting 1.5 for the beta versions coming out this week, though

[2013-05-06 21:53] joey19982 commented on #403
Sorry, forgot to check back here. I haven't had any issues with it since, so I think it's safe to close.

[2013-05-06 21:53] #403 closed, assigned to LunNova

[2013-05-06 22:17] wormzjl commented on #452
Seems that the problem is only partially solved, everything works except forestry bio generator.

[2013-05-07 02:00] xKillerbees opened #455 "AE Crashes Daily - at appeng.me.tile.TileController.g(TileController.java:1024)"
java.lang.NullPointerException
    at appeng.me.tile.TileController.g(TileController.java:1024)
    at yc.h(World.java:2597)
    at in.h(WorldServer.java:701)
    at net.minecraft.server.MinecraftServer.r(MinecraftServer.java:956)
    at ho.r(DedicatedServer.java:309)
    at net.minecraft.server.MinecraftServer.q(MinecraftServer.java:857)
    at net.minecraft.server.MinecraftServer.run(MinecraftSe

[2013-05-07 02:18] Nohau commented on #402
I upgraded to 1554 and it not longer works :(

[2013-05-07 03:31] Nohau opened #456 "TT1554 / MCPC L22 - Debug Message?"
Debug Message?

2013-05-06 19:51:44 [INFO] [TickThreading] Object Age 617/617 : class ih@2106063647:552179690882160065 has been removed normally. :)
2013-05-06 19:51:44 [INFO] [TickThreading] Object Age 615/615 : class ih@1167316755:3472939079 has been removed normally. :)
2013-05-06 19:51:44 [INFO] [TickThreading] Object Age 613/613 : class ih@978122145:3778436804 has been removed normally. :)
20

[2013-05-07 03:34] Nohau opened #457 "TT1554 / MCPC L22 - Nuke Failed to Explod"
Here you go

2013-05-06 22:24:18 [SEVERE] [TickThreading] Exception ticking entity EntityNuke['entity.IC2.Nuke.name'/1088087, l='world_myst/age463', x=233.48, y=73.49, z=-182.70] in rX: 14, rZ: -11, hashCode: -720882/Main #2/463:
java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
    at java.util.ArrayList.rangeCheck(ArrayList.java:604)
    at java.util.ArrayList.get(ArrayList.java:382)
    at

[2013-05-07 03:38] Nohau opened #458 "TT1554 / MCPC L22 - Age Memory Leak Detected"
2013-05-06 22:21:38 [WARNING] [TickThreading] Probable memory leak detected. "Age 518/518 : class ih@1178231178:-92011965542456456" has not been garbage collected after 1200s.

After this happened no one was no longer able to get back to that age  it appears

013-05-06 22:23:21 [INFO] [TickThreading] Threading initialised for world Age 518/518
2013-05-06 22:24:18 [SEVERE] [TickThreading] Exception

[2013-05-07 04:42] Maximuscr31 commented on #246
Any update on build 1520?

[2013-05-07 04:55] geoffcorey opened #459 "java.util.ConcurrentModificationException EnderStorageManager"
Running build 1555 on Ultimate v1.0.1.  This error keeps popping up in the Console.

Patch Logs -> https://gist.github.com/geoffcorey/5722a4339be5c7918788

06.05 23:50:57 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$ServerWorkThread.run(ThreadManager.java:167)
06.05 23:50:57 [Server] INFO at me.nallar.tickthreading.minecraft.ThreadManager$1.run(ThreadManager.java:41)
06.05 23:5

[2013-05-07 05:07] Nohau commented on #402
Downgraded and they started working again.

[2013-05-07 07:18] LunNova commented on #455
I htink you opened an issue on the wrong project... :s

[2013-05-07 07:18] #455 closed, assigned to LunNova

[2013-05-07 07:19] #456 closed, assigned to LunNova

[2013-05-07 07:24] xKillerbees commented on #455
Ha, it all looks the same to me. My bad.

[2013-05-07 09:25] HaoSs07 commented on #246
geof already posted about 1520
" Ok build 1520 it was looking real promising. No issues until I triggered an emitter on an autocrafting table in another chunk to keep 64 ender eyes and 64 blaze powder in stock. Once that happened the stuff in transient went to zero - uu, ender pearls, blaze rods. All gone. "

[2013-05-07 10:52] chun69gus commented on #278
Tried 1.5 and get errors.
Also tried the 1.7 alpha 2 and it does the same as 1.6

[2013-05-07 16:30] Maximuscr31 commented on #246
I saw that but was wondering if there was any more updated info to it besides it just dumping items with autocrafting tables. That can easily be warned against if that is the only issue left with it. I just don't go through another restore session with my world if I don't have to if I try it again and ME chest/drives emptying would cause me not to try it again.

[2013-05-07 17:22] LunNova commented on #246
I can't guarantee that that is the only possible issue after that partial/failed fix.

[2013-05-07 17:30] LunNova commented on #452
@wormzjl

Was the bio generator definitely placed after updating to the fixed version?

Also, that spam is unrelated, but fixed it in a6b6d6cb707c12ed4b9e469920d17363cf1e7119.

[2013-05-07 17:31] joey19982 commented on #454
This appears to still be happening in TT1560 and MCPC-L22

[2013-05-07 17:32] dantherrien commented on #246
Geoff and I have rebuilt both of our systems into a single chunk each and have seen no further problems.  The issue was not only with autocrafting tables...seemed to be concurrent access on any inventory item across chunk boundaries that would wipe the item from your system.

[2013-05-07 17:39] LunNova commented on #458
There's not really much I can do to fix the leak, it's a warning used primarily when debugging. If you're running with cleanWorlds enabled it's probably not an issue, as the leaked memory will only be ~400 bytes.

The IC2 issue is already reported in #457.

Fixed handling of load/unload events in fddd84bee4ed940808.

[2013-05-07 17:39] #458 closed, assigned to LunNova

[2013-05-07 17:46] #457 closed, assigned to LunNova

[2013-05-07 17:47] LunNova commented on #457
There is another issue which could cause this, which is a bug in IC2 without TT.

If there are entities within range of a nuke, but none of the entities are items or instances of EntityLiving (normal mobs and players) then this will happen.

[2013-05-07 17:54] #413 closed, assigned to LunNova

[2013-05-07 17:55] LunNova commented on #454
@joey19982 Could you paste the exception? Might be a different issue.

[2013-05-07 17:56] LunNova commented on #457
Confirmed as an IC2 issue.

[2013-05-07 18:00] joey19982 commented on #454
@nallar

This probably is a different issue, I was about to make a new one when I saw you replied here. When going to the nether either by /tpx or a portal, the server deadlocks. A few chunks will load and then the deadlock message will appear. This is the exception that starts when going to the nether then spams until the server stops, similar to the one in this issue.

2013-05-07 13:52:20 [SEVER

[2013-05-07 18:01] Maximuscr31 commented on #246
That is what I was trying to understand. Thank you for explaining where it is at dantherrien.

[2013-05-07 18:26] HaoSs07 commented on #246
@nallar probably silly question., but have you talked with AE dev ? he sure knows his mod and may have useful tips, don't see why he wont help

[2013-05-07 18:36] #454 closed, assigned to LunNova

[2013-05-07 18:50] LunNova commented on #246
I have talked, but the version of AE you're on is very out of date so it doesn't help much.

The code in AE related to this has been redesigned in newer versions to improve performance, and the bug probably doesn't exist in newer AE versions anyway.

Even if it still happens in newer AE this would be a lot easier to fix, as the inventory code for AE was also cleaned up. It's already a pain underst

[2013-05-07 19:25] joey19982 commented on #454
The error is gone, but nether crash still occurs.

[2013-05-07 19:25] LunNova commented on #454
Make a new issue with the deadlock detector report.

[2013-05-07 19:26] HaoSs07 commented on #246
then probably is time to let it go and think of the 1.6 update, ftb  update to 1.5 will be private

[2013-05-07 19:49] joey19982 opened #460 "[TT1560+] Exception ticking TileEntity c * - NullPointerException/IllegalMonitorStateException Log Spam"
In ForgeModLoader-server.0.log, this is being spammed constantly, filling up the log a ton.

2013-05-07 15:27:52 [SEVERE] [TickThreading] Exception ticking TileEntity c dan200.turtle.shared.RedPowerTileEntityTurtle dan200.turtle.shared.RedPowerTileEntityTurtle@117a57d x,y,z: -352, 12, -282 at x,y,z:-352,12,-282
 World: Overworld/0
java.lang.NullPointerException
    at me.nallar.tickthreading.minec

[2013-05-07 19:50] joey19982 commented on #454
Went to do that, then found it hard to do because of #460

I'll downgrade in a few minutes since this wasn't happening until recently.

EDIT: Appears that #460 is the error it gives when crashing the nether. Will update there.
EDIT2: Nether issue was being caused by MCPC+ L22. Downgraded to L15 and all is well with the nether, however #460  is still happening.

[2013-05-07 19:59] joey19982 commented on #460
Trying to figure out what causes this to start. It doesn't happen immediately and hard to track with 60 people doing 60 different things.

[2013-05-07 20:35] LunNova commented on #460
That fix won't work.

[2013-05-07 20:39] wormzjl commented on #452
It was placed before update, the new ones are fine.

[2013-05-07 20:44] LunNova commented on #452
Old machines may still be broken if loaded with TT while this issue was happening, nothing I can do about that. Closing as the issue appears to be fixed.

[2013-05-07 20:44] #452 closed, assigned to LunNova

[2013-05-07 20:45] LunNova commented on #446
Fixed with #452. If the issue keeps happening, break and replace the block, it was likely corrupted due to that issue.

[2013-05-07 20:45] #446 closed, assigned to LunNova

[2013-05-07 21:14] LunNova commented on #460
I need to go read the JVM spec, it is likely that latest is still broken.

[2013-05-07 21:25] wormzjl commented on #442
Getting similar lag with AE in the latest build.

[2013-05-08 01:24] JohnPark234 opened #461 "Error Message with #1570"
2013-05-07 18:03:11 [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionNoSuchFieldError
java.lang.NoSuchFieldError: forcedChunks
    at net.minecraftforge.common.ForgeChunkManager.staticConstruct(ForgeChunkManager.java:30)
    at net.minecraftforge.common.ForgeChunkManager.<clinit>(ForgeChunkManager.java:101)
    at net.minecraftforge.common.ForgeDummyContainer.preInit(ForgeDummyContaine

[2013-05-08 01:25] alicheek commented on #461
yea L23 and TT aren't compatible give nallar tomoz to fix it and he will :)

[2013-05-08 02:32] Nohau commented on #442
Please get cpu sample snapshots of your minecraft server to help identify the issue.

[2013-05-08 04:18] Kusinagie opened #462 "Build 1570- Deadloack"
Looks like railcraft blast furnace issue
Here is the TT log: https://gist.github.com/Kusinagie/5538162

[2013-05-08 13:10] #460 closed, assigned to LunNova

[2013-05-08 13:10] #462 closed, assigned to LunNova

[2013-05-08 13:12] #461 closed, assigned to LunNova

[2013-05-08 13:15] LunNova commented on #397
iirc the slowest thing in the snapshot(s) you emailed me is now fixed. Are you still having this problem?

[2013-05-08 13:35] alicheek opened #463 "[TT1575] | [MCPC L23] [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionIllegalAccessError"
Server just shuts down after that error

[SEVERE] [ForgeModLoader] Encountered an unexpected exceptionIllegalAccessError
java.lang.IllegalAccessError: tried to access field yc.forcedChunks from class net.minecraftforge.common.ForgeChunkManager
    at net.minecraftforge.common.ForgeChunkManager.forceChunk(ForgeChunkManager.java:65)
    at buildcraft.factory.TileQuarry.forceChunkLoading(TileQuarry.j

[2013-05-08 13:51] #463 closed, assigned to LunNova

[2013-05-08 13:58] #459 closed, assigned to LunNova

[2013-05-08 14:07] #445 closed, assigned to LunNova

[2013-05-08 14:12] JohnPark234 opened #464 "Patching issues"
2013-05-08 23:10:26 [SEVERE] [TickThreading] Unhandled patching failure
java.lang.StringIndexOutOfBoundsException: String index out of range: 0
    at java.lang.String.charAt(Unknown Source)
    at javassist.ClassPool.createCtClass(ClassPool.java:563)
    at javassist.ClassPool.get0(ClassPool.java:539)
    at javassist.ClassPool.get(ClassPool.java:447)
    at me.nallar.tickthreading.patcher.ClassR

[2013-05-08 14:13] alicheek commented on #464
yea im getting this too

[2013-05-08 14:17] #464 closed, assigned to LunNova

[2013-05-08 14:19] LunNova commented on #448
I will be moving to 1.5 once full support for the 1.4.7 FTB ultimate pack is done.

As far as I know the only severe issue left with the ultimate pack is #246, which may now be fixed.

[2013-05-08 14:52] alicheek opened #465 "[TT1580] | [MCPC L23] [FINE] [ForgeModLoader] Entity iq['alicheek'/1795, l='overworld', x=-96.18, y=75.04, z=4985.42](alicheek at -96.18248350828539,75.03593716711497,4985.415333746113) added to the wrong chunk - expected x-6 z311, got x-7 z311"
Seems to be something to do with either the multiverse plugin or its the quarry in the multiverse place since when  I tried to tp to a player that crashed as soon as he logged in (which is in one of the multiverse worlds) I crashed when I was attempting to tp

2013-05-08 14:40:24 [FINE] [ForgeModLoader] Entity iq['alicheek'/1795, l='overworld', x=-96.18, y=75.04, z=4985.42](alicheek at -96.1824835

[2013-05-08 14:59] aquagene opened #466 "#1580 Deadlock on Launch"
It seems to occur right after MyTown loads it's plugins, at the end of everything else loading, but that may be a red herring.

http://pastebin.com/h668yrME

[2013-05-08 15:18] JohnPark234 opened #467 "Dead Lock?"
Definitely deadlocked:
"Entities in Overworld/0 - 7" Id=50 BLOCKED on me.nallar.tickthreading.util.concurrent.NativeMutex@794a2559 owned by "Entities in Overworld/0 - 5" Id=48
    at me.nallar.tickthreading.minecraft.TickManager.lock(TickManager.java:433)
    -  blocked on me.nallar.tickthreading.util.concurrent.NativeMutex@794a2559
    -  locked me.nallar.tickthreading.util.concurrent.NativeMutex

[2013-05-08 15:46] LunNova commented on #467
Duplicate of #466.

[2013-05-08 15:46] #467 closed, assigned to LunNova

[2013-05-08 15:50] #466 closed, assigned to LunNova

[2013-05-08 15:59] #465 closed, assigned to LunNova

[2013-05-08 16:37] alicheek opened #468 "[TT1565] | [MCPC L22] [INFO] Failed to fetch resident: [[Forestry]]"
No idea why im getting this coming up a lot, yes its doesn't seem to be causing issues but it is getting a bit spammy, haven't changed anything to do with the Forestry's residents either

15:37:26  [INFO] Failed to fetch resident: [[Forestry]]
15:37:26  [INFO] Failed to fetch resident: [[Forestry]]
15:37:26  [INFO] Failed to fetch resident: [[Forestry]]
15:37:26  [INFO] Failed to fetch resident: [

[2013-05-08 16:40] alicheek commented on #468
ps sorry bout that realised I put it in all wrong so quickly closed it and re edited it :)

[2013-05-08 16:48] HaoSs07 commented on #246
at first look it seems to be fixed :D but will need more tests before you can safely close this

[2013-05-08 17:19] LunNova commented on #468
I don't think this is a TT bug.

Try enabling fake player login for forestry in bukkit.yml.

[2013-05-08 17:26] Maximuscr31 commented on #246
Now this is exciting news. Thank you Nallar.

[2013-05-08 17:36] Nohau commented on #397
I will bite the bullet and upgrade most like the MFFS that will break again and I might have to try to replicate my fix on https://github.com/nallar/TickThreading/issues/402

[2013-05-08 19:01] Nohau commented on #448
Well if you run a pvp ultimate server MFFS Projectors being broken is pretty bad good thing is at lease defense system works https://github.com/nallar/TickThreading/issues/402

[2013-05-08 19:51] cjm721 commented on #330
Noticed this happens when I try to shoot the moon. Could it be trying to send a ticket to keep a chunk loaded that is not loaded?

[2013-05-08 19:52] floh22 commented on #246
hows it looking on your end haos? i havent got any problems yet

[2013-05-08 20:37] Nohau opened #469 "TT 1582 / MCPC L22 place tile where there is no tile"
It isn't showing up in the TT Logs but this is the first time i seen them since upgrading. Had to grab them via threw server.log - Could this be because I am running on L22 as well as I know alot of changes was done on L23

2013-05-08 15:30:08 [INFO] Attempted to place a tile entity (jds.bibliocraft.tileentities.TileEntityArmorStand@50d10edb x,y,z: 398, 64, -2755) at 398,64,-2755 (BIBLIOCRAFT_ARMO

[2013-05-08 20:50] LunNova commented on #469
This is an MCPC+ issue. iirc you can disable it in bukkit.yml, although that might only be on 1.5.

[2013-05-08 20:50] #469 closed, assigned to LunNova

[2013-05-08 20:56] wormzjl opened #470 "TT patching itself?"
Just found a file named TickThreading-1.4.7-1.0.0.1582.jar in the patched mod folder with the latest build.
Is that normal that TT patches itself?

[2013-05-08 20:59] HaoSs07 commented on #246
good so far. would be nice if  @geoffcorey can test too

[2013-05-08 21:23] floh22 commented on #246
well ima just add it to my server. lets see if any1 complains :)

[2013-05-08 21:25] LunNova commented on #470
Yes, started doing this recently as java has a design issue - or at least I think it's a design issue - which makes certain code terribly verbose.

Java has the `synchronized` keyword which can be used for threadsafety. You use it like this:

`synchronized (something) {
   // Code in here will never be ran at the same time as code which is in another synchronized() using the same something.
}`

Ho

[2013-05-08 21:25] #470 closed, assigned to LunNova

[2013-05-08 21:40] floh22 opened #471 "[TT 1582] [MCPC #23] Iron Tank Crash"
i got kicked and all iron tanks i had got reset

console log:

http://pastebin.com/1w6iP4eK

[2013-05-08 21:41] LunNova commented on #471
That's actually an IC2 issue, it's odd that it caused an iron tank to be reset...

[2013-05-08 21:42] ray73864 commented on #246
So if i stick this in, i won't be required to put all my AE stuff into a single chunk will i? because there is no way i could fit my entire AE automation stuff into 1 chunk.

[2013-05-08 21:42] LunNova commented on #471
Can you try MCPC+ L15?

[2013-05-08 21:49] floh22 commented on #471
same issue

[2013-05-08 21:50] floh22 commented on #471
wierd thing is that it turns out it doesnt just happen with iron tanks. sometimes when people tp they get kicked and the exact same error shows. i did not have this without TT

and one quick question, is there any reason why a world would be jumping from 32k tile entities to 15k tile entities within minutes, and then jumping back again? it seems to be the main cause of lag

[2013-05-08 21:52] HaoSs07 commented on #246
i have my system in 4 chunks

[2013-05-08 21:53] ray73864 commented on #246
And it will work on the current FTB Ultimate pack for 1.4.7?

[2013-05-08 22:05] joey19982 commented on #448
Nallar, don't forget us Direwolf20 players. D:

[2013-05-08 22:18] HaoSs07 commented on #246
yes. i use ultimate 1.4.7

[2013-05-08 22:25] wormzjl opened #472 "[TT #1582, MCPC+ L22] Exception ticking TileEntity c ic2.core.block.wiring.TileEntityTransformerLV"
My server reboots after putting out this error..

2013-05-08 18:08:08 [SEVERE] [TickThreading] Exception ticking TileEntity c ic2.core.block.wiring.TileEntityTransformerLV ic2.core.block.wiring.TileEntityTransformerLV@787fb70d x,y,z: -503, 51, -132 at x,y,z:-503,51,-132
 World: Overworld/0
java.lang.NullPointerException
    at gcewing.lighting.Floodlight.setBeamIntensity(Floodlight.java:141)
    a

[2013-05-08 22:33] utoxin commented on #246
Very excited to hear this. I'll be installing it... tomorrow, probably, barring any reports of issues.

[2013-05-09 00:30] alicheek opened #473 "[TT 1585] [MCPC+ L23] [SEVERE] [ForgeModLoader] Exception loading chunk asynchronously."
No idea if its causing any issues most probably not at least noticeably but there are the error logs:

2013-05-09 00:25:22 [SEVERE] [ForgeModLoader] Exception loading chunk asynchronously.
java.lang.NullPointerException
    at org.bukkit.craftbukkit.v1_4_R1.CraftWorld.getBlockAt(CraftWorld.java:164)
    at aky.b(BlockFlowing.java:62)
    at add.a(ComponentNetherBridgeEntrance.java:118)
    at afb.

[2013-05-09 05:39] cjm721 commented on #246
Ok I tested this some more. (Direwolf20 pack, kinda use that as my test before throwing on ultimate). Ways I tested:

Make several infinite loops using both export > chest > import across several chunks lines. Also export > Item tesseract > tesseract > me interface

With that above tested having parts of it chunk loaded and others not, as well as none loaded while the loops where going.

So to me

[2013-05-09 08:02] HaoSs07 commented on #246
after future testing. There seems to be a problem with importing/exporting cells. they vanish :( lost like 5k empty cells and all helium cells it crafted
Only happen when used industrial centrifuge,crafted berylium using electrolizer and no problems there... Preformating a disk just for cells seems to help.

There is good change with the last fix. but it seems is not enough.
Also a player has repo

[2013-05-09 08:29] ray73864 commented on #246
bugger, and i was looking at putting TT back in, guess i'll just have to wait some more. Kinda of at a stopping point at present anyway, the uncertainty with the current packs because of RP2.

[2013-05-09 12:30] HaoSs07 commented on #246
well wait for others to confirm that there is a problem, we may have same mods, but every server works in his own twisted way :P

[2013-05-09 13:25] HaoSs07 commented on #246
so far only reported vanish is when you use the autocraft !, no vanish if you craft manually

[2013-05-09 13:34] geoffcorey commented on #246
I will try and migrate the world to a higher version then 1.0.1 Ultimate and retest this weekend.

[2013-05-09 13:47] floh22 commented on #246
my server has not had any problems and people are constantly autocrafting

[2013-05-09 15:12] wormzjl opened #474 "[TT #1582 MCPC+ L23] Server freeze without crash report"
After updating to this version of TT my server is experiencing a frequent server freeze.
All players just timed out and there is no crash/error report and no console output.

This could be caused by players working in a region with intensive AE installations (~ 1k AE block), teleporting in/out of this region could also caue freeze.

For more information my server had this problem before installing

[2013-05-09 15:15] LunNova commented on #474
Decrease the deadlock detector time, leave the server running after it
freezes until it gives a deadlock detector report.
On 9 May 2013 16:12, "wormzjl" notifications@github.com wrote:

[2013-05-09 15:45] HaoSs07 opened #475 "TT patch and AE. Method not found ?"
2013-05-09 18:47:04 [WARNING] [TickThreading]
java.lang.RuntimeException: Method not found: g() was not found in appeng.me.basetiles.TileME
at me.nallar.tickthreading.mappings.MethodDescription.inClass(MethodDescription.java:109)
at me.nallar.tickthreading.patcher.PatchManager$PatchMethodDescriptor.run(PatchManager.java:317)
at me.nallar.tickthreading.patcher.PatchManager.runPatches(PatchManager.j

[2013-05-09 16:02] HaoSs07 commented on #246
will reset TT config as i have some experimental things on, and will retest

[2013-05-09 16:09] LunNova commented on #246
Concurrent network ticks being enabled is likely to result in this issue,
so that could be it.
On 9 May 2013 17:07, "HaoSs07" notifications@github.com wrote:

[2013-05-09 16:56] HaoSs07 commented on #246
that was off, but reset'ed anyway.
It seems i'm not crazy. ill have a video in 1 hours or so

[2013-05-09 17:03] Maximuscr31 commented on #246
So far I have had two guys have some missing items. They are also the ones who have the biggest bases/setups. No one else seems to have any issues.

[2013-05-09 19:12] wormzjl commented on #474
I was unable to get a deadlock report even I set the time to 10s.
The server was not responding to any commands.

[2013-05-09 19:22] wormzjl commented on #246
ME crafting is behaving a bit strange for me, many of my tasks got cancelled immediately after giving order for no reason.

[2013-05-09 21:17] HaoSs07 commented on #246
http://www.youtube.com/watch?v=IIxQGpOPz5g

[2013-05-09 21:19] HaoSs07 commented on #246
ups. fixed

also i tried to craft it with the terminal allways open. same result ( if somone thinks items vanished because i went to check the boilers)

[2013-05-09 21:25] LunNova commented on #246
It's now only 11 days until my English exam and I really don't have the time to debug complex concurrency issues in other people's code.

I may get it fixed, but will prioritise issues which are easier to fix, so chances are it won't be fixed soon.

[2013-05-09 23:18] NachtRaben opened #476 "After patching can't Connect to server."
So i made these steps...
Deleted my mcpc+L23 jar and updated to mcpc+L24
deleted my "Server.jar" backup in tickthreadingbackups
deleted the patchedmods folder
remove TT1582
updated to TT1587
(TT should have seen this as a fresh installation)
after repatching server will load successfully
when a client tries to connect they recieve this error (note, i replaced all instances of all chicken core mods

[2013-05-09 23:20] NachtRaben opened #477 "After patching can't Connect to server."
So i made these steps...
Deleted my mcpc+L23 jar and updated to mcpc+L24
deleted my "Server.jar" backup in tickthreadingbackups
deleted the patchedmods folder
remove TT1582
updated to TT1587
(TT should have seen this as a fresh installation)
after repatching server will load successfully
when a client tries to connect they recieve this error (note, i replaced all instances of all chicken core mods

[2013-05-09 23:22] NachtRaben commented on #477
Sorry about the repost. after loading the issues list i didn't see mine. then after reposting i realized it was because i had the mcpc+ filter on...

[2013-05-09 23:22] #477 closed, assigned to LunNova

[2013-05-10 00:19] LunNova commented on #476
Looks like you're trying to use TT's patched code chicken core on the
client, which will not work.

Also, you should not delete everything, just put the new mcpc+ jar in the
server folder, and the new TT jar in the mods folder, start the server and
repatch.

[2013-05-10 08:12] Nohau opened #478 "Cheat/Dupe Detection Question"
Do you plan on adding more Anti Dupe detection.. I was going to post a list of things that can be duped and how to do it but decided not as I don't want it to be easy reading grounds for people to see all known dupes in one spot.

If you are should i just post it in a issue or drop a email explaining how etc?

[2013-05-10 09:14] #476 closed, assigned to LunNova

[2013-05-10 09:16] LunNova commented on #474
Thread dump with jvisualvm?

[2013-05-10 19:39] JohnPark234 opened #479 "mmm Randomly Crashing again.."
2013-05-10 09:35:18 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-05-10 09:35:28 [INFO] [TickThreading] Threading initialised for world Overworld/0
2013-05-10 09:35:28 [INFO] [TickThreading] Threading initialised for world The End/1
2013-05-10 09:35:28 [INFO] [TickThreading] Threading initialised for world Nether/-1
2013-05-10 09:35:33 [SEVERE]

[2013-05-10 19:40] furlmc commented on #246
Adding another video related to this issue:  http://youtu.be/KROCRefy1XY

Basically, ME Assembler multiblock pulling directly from disks results in too few of the crafting prerequisite items being pulled from the disks.  This is with 1589, Ultimate 1.1.0 (which is the latest r.9 AppEng version; 1.0.1 is r.9b I think).

[2013-05-10 20:17] HaoSs07 commented on #246
probably the only update that has any fixes for our problem is r.10+

[2013-05-10 20:22] furlmc commented on #246
I think this is fixable with some attention to appeng's inventory for the assembler and concurrency.  I'm not familiar with TT at all so I'm not in a position to write a patch (probably also not in a position to be making these statements) but that's my guess.

Suppose I'll add a visualvm screenshot of sampler while running 100x Coil production with appeng filter, just for reference: http://i.imgu

[2013-05-10 22:32] NachtRaben commented on #476
The version used was straight from the ultimate 1.1 (dev release) server
had this version too. I deleted everything cause i was developing for a
custom modpack, needed to test some worldgen.

the issue was seen in server logs too and had to do with the fact that my
bukkit.yml was using a world container. removing it fixed the server crash
and the client crash. sorry for the trouble.

On Thu, May 9

[2013-05-10 23:24] cjm721 commented on #478
If nallar does not decide to add it in Nohau would you mind trading lists? I wrote a plugin to stop and alert possible attempts for quite a few for ultimate/direwolf.

[2013-05-10 23:33] LunNova commented on #479
The UE API is a badly designed mess composed almost entirely of lists. Yes, I'm being harsh about it, but it's almost impossible to make threadsafe.

I'll fix this when I have time, but it's undoubtedly going to be a huge pain.

[2013-05-10 23:34] LunNova commented on #476
The client crash can not have been the one you reported if you were not using a TT patched jar with the client.

`java.lang.NoSuchFieldError: dimensionId` can only happen with it being patched by TT, as TT makes that method use that field.

[2013-05-11 01:49] Nohau commented on #478
Yea sure I haven't found any plugins or mods so far that do it I searched 2 days before asking this question .. I was even tempted to figure out how to write my own  as well. Is your plugin plublic?

[2013-05-11 01:58] Nohau commented on #475
No I get this as well but thought it was normal this is during the patch process right your talking about.

[2013-05-11 02:03] Nohau commented on #475
Posting Patcher Log just in case as there is a few warnings but figured since it is patching multiple things may have changed or versions may have changed which may cause this like in most patch programs or may not have that mod which all give different types of errrors.

https://gist.github.com/Nohau/5558631

[2013-05-11 03:01] cjm721 commented on #478
No, I keep adding and changing things, it does the basic job, but I know there are better ways I do some things and don't know how to implement it. Considering I just finished my finals so I will try and have a more finalized version ready and I'll push it to MCPC or bukkit's plugin page.

[2013-05-11 05:25] Nohau opened #480 "TT not cleaning up PatchedMods directory"
I noticed if your using the full name example TickThreading-1.4.7-1.0.0.1592.jar in the mods directory the patchedMods folder has the same file but when upgrading to a new version it doesn't remove the old file in patchedMods

[2013-05-11 11:35] floh22 opened #481 "Jenkins"
ik this is not the right place to post this but your jenkis seems to be offline :)

[2013-05-11 12:03] HaoSs07 commented on #475
what ftb pack do you use ?

[2013-05-11 12:16] Nohau commented on #475
Ultimate 1.0.1 but remember they have done several "silent updates" to ultimate which means your pack might not be the same as mine even though the same version ... :(

[2013-05-11 13:00] Nohau commented on #481
+1

[2013-05-11 13:16] alicheek commented on #481
+1

[2013-05-11 13:24] Nohau commented on #481
Would this be a Feature Request -- Get Jenkins working again?

It would most likely I think be a blocking item as well...

[2013-05-11 14:54] LunNova commented on #481
Fixed.

[2013-05-11 14:54] #481 closed, assigned to LunNova

[2013-05-11 15:55] #480 closed, assigned to LunNova

[2013-05-11 16:04] JohnPark234 commented on #479
damn... freaking UE... honestly waiting for an update heard they re-did most of UE

[2013-05-11 16:05] #475 closed, assigned to LunNova

[2013-05-11 16:06] LunNova commented on #475
The second two warnings are fine, the first was a bug, and that may be why the AE fix didn't work correctly. #246 may finally be fixed now?

[2013-05-11 16:08] geoffcorey commented on #246
Further testing and the good news and not so bad news.

I took 1.0.1 Ultimate and upgrade AE to rv9-i and Mystcraft to 10.1.    After starting the world and making sure there were no glaring errors I added 1594 build of Tick Threading.

Fired up the mob grinders:
- Ender
- Blaze
- Witch
- Skelli's

At the same time:
- Autocrafted 64 Utlimates
- Autocrafted 64 Electrolyzers
- Used emitters to keep

[2013-05-11 16:13] HaoSs07 commented on #475
yah. was about to report the second 2. good you posted this first.
i'm also retesting the 246 fix. will replay there

[2013-05-11 16:13] LunNova commented on #246
Anyone who was still experiencing item loss, can you retry with #1598 or later?

[2013-05-11 16:17] geoffcorey commented on #246
So is it your understanding that #1598 will fix the problem without updating AE?

[2013-05-11 16:18] HaoSs07 commented on #246
was a bug in patching  AE. im testing right now, same environment as in video

also from r9b to r9i , i does see much updates retaled to this problem, anyway Monday ultimate 1.0.2 should be pushed to recommended build and we all update to latest 1.4.7 AE

[2013-05-11 16:39] HaoSs07 opened #482 "console spam, ArrayIndexOutOfBoundsException: 0"
2013-05-11 19:42:54 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.lang.ArrayIndexOutOfBoundsException: 0
at me.nallar.tickthreading.collections.LongList.add(LongList.java:25)
at yp.spawnMobsQuickly(SpawnerAnimals.java:138)
at in.b_net_minecraft_world_WorldServer_tick_p0(WorldServer.java:380)
at in.b(WorldServer.java)
at net.minecraft.server.MinecraftServer.doWorldTick(Minecraft

[2013-05-11 16:43] LunNova commented on #482
Which build is this on? Should already be fixed in 1598.

[2013-05-11 16:54] HaoSs07 commented on #482
1597, i will update now

[2013-05-11 16:54] #482 closed, assigned to LunNova

[2013-05-11 18:34] Nohau opened #483 "TT 1592 / MCPC L24 Quarrys Reset after server restart"
This bug is back after server reset all quarries are reseting and have to put the markers back down and redo them again.

[2013-05-11 18:51] geoffcorey commented on #246
HaoSs07.   Did you test rv9-i on 1.0.1?   I could not reproduce in that setup.

[2013-05-12 04:14] Nohau opened #484 "TT 1592 / MCPC L24 TileCrystalCapictor causing abnormal load?"
So we have a user that has about 30 Crystal capacitors inside his age . I am always seen it's load worst then overworld or some times at part ...

![2013-05-11_22 56 44](https://f.cloud.github.com/assets/4019875/492514/05d08ad2-baba-11e2-8d76-5851f4d211d1.png)

![2013-05-11_22 57 16](https://f.cloud.github.com/assets/4019875/492515/20c153bc-baba-11e2-9b72-352291466ea1.png)
![2013-05-11_22 57 49](h

[2013-05-12 09:03] Maximuscr31 opened #485 "Crash on login when players are sharing base with chunkloaders nearby 1599"
I am having an issue when any players that share a base login. It doesn't have to be both. If player 1 logs in and player 1 and 2 have chunkloaders side by side then it crashes. After the reboot player 1 can log in. This happens every so often during the day. Breaking one  of the two chunkloaders side by side seems to fix the issue. Without TT it doesn't do this. Server log just says server deadlo

[2013-05-12 11:17] LunNova commented on #485
You've given all the files I don't need :P

I need either the TickThreading log from your TT logs folder, or a console log.

[2013-05-12 11:20] HaoSs07 commented on #246
cant right now. server is public,its week end. will test next week if ftb don't update monday

[2013-05-12 11:21] LunNova commented on #484
https://gist.github.com/nallar/5563223

Not sure what's slow here, will need to do some profiling.

[2013-05-12 12:02] LunNova commented on #483
Doesn't happen on L15, probably conflicting ForgeChunkManager changes.
On 11 May 2013 19:34, "Nohau" notifications@github.com wrote:

[2013-05-12 13:07] wormzjl commented on #474
Moved my server to a VPS for this, it's no longer freezing now but crashing the OS instead...Will investigate further

[2013-05-12 13:24] wormzjl opened #486 "[TT #1600, MCPC+ L25] TT + Multiverse = freeze on start?"
After adding multiverse to my plugins folder, my server freezes on start and refuses to respond to any commands.
Here is a threaddump, did I derp up something?
http://pastebin.com/3PBHLXPP

[2013-05-12 13:47] LunNova commented on #486
How long did you leave it running for? Looks like it's not frozen, just generating chunks in a world.

[2013-05-12 13:48] LunNova commented on #474
Ah, it's possible this was a slow full GC. What were your JVM parameters? Are you on latest java 7?

[2013-05-12 13:49] LunNova commented on #484
Looks like thaumcraft's AuraManager has some design issues, would be better to just replace that class completely.

I'll try to do that later.

[2013-05-12 14:03] wormzjl commented on #474
There could be a memory leak somewhere, if I left my server running for some time it will end up doing GC all the time and no longer playable.

I'm running it with:

java -server -XX:UseSSE=4 -XX:+UseCMSCompactAtFullCollection -XX:ParallelGCThreads=6 -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:+DisableExplicitGC -XX:+CMSIncrementalMode -XX:+CMSIncrementalPacing -XX:+UseCompressedOops -XX:+Aggress

[2013-05-12 14:06] Meatnog commented on #485
Here's the console (for Max):

12.05 09:57:04 [Server] SEVERE Failed to recover from the deadlock.
12.05 09:57:04 [Multicraft] Skipped 3471 lines due to rate limit (30/s)
12.05 09:56:58 [Server] INFO Number of locked synchronizers = 1
12.05 09:56:58 [Server] INFO at me.nallar.tickthreading.util.FakeServerThread.run(FakeServerThread.java:16)
12.05 09:56:58 [Server] INFO at java.util.concurrent.Thre

[2013-05-12 14:46] SNIPER722 commented on #474
on our VPS
java version "1.7.0_21"

SE Runtime Environment build 1.7.0_21-b11
Java Hotspot 64-bit Server CM build 23.21-b01,mixed mode

i think this is the latest version of java7

[2013-05-12 15:24] LunNova commented on #485
Multicraft is very helpfully ignoring TT's logging.

Could you paste a copy of the log in TT's log folder, maybe also turn off multicraft's rate limiting?

[2013-05-12 15:26] LunNova commented on #484
Oh, and there's a bug making it worse, if there are no aura nodes within range it completely breaks.

[2013-05-12 15:55] Maximuscr31 commented on #485
https://drive.google.com/folderview?id=0B5yKfXm1PkuLLTJTRExnSmRNbWM&usp=sharing
That will have the console log in full. It shouldn't skip anything in it. I have it set to trim it from console view, not from the actual log. Also I posted all 5 of tickthreadings logs as well. I was really hoping it would be another one of those "you need to change x setting" . Sorry for not posting them earlier. Als

[2013-05-12 15:57] Maximuscr31 commented on #485
Also when Meatnog logged in he believes he had broken all chunkloaders his partners had. He still had  his own and it still crashed so I might be incorrect in the common variable.

[2013-05-12 15:59] #484 closed, assigned to LunNova

[2013-05-12 16:01] LunNova commented on #484
Now down to 90% load with 70,000 of them loaded.

![](http://i.imgur.com/KL3fAKW.jpg)

Client FPS however, is absolutely terrible. Not my problem! :P

[2013-05-12 17:27] Maximuscr31 commented on #483
It does not happen on L22 either. When I update past that they reset everytime.

[2013-05-12 17:38] Nohau commented on #483
I wonder if has to do with L23 When they made changes to loadChunkOnProvide

[2013-05-12 18:58] Maximuscr31 commented on #483
They are actually compiling a fix for this issue I believe in L26 right now.

[2013-05-12 19:35] NachtRaben opened #487 "WorldGen Buggyness"
So was gonna run a local server with vanilla/forge instead of mcpc+ i had preinstalled build 1597 of TT and this was my worldgen
![untitled4](https://f.cloud.github.com/assets/4164436/493364/f0a68176-bb3a-11e2-810e-ceafb97f4098.png)
![untitled3](https://f.cloud.github.com/assets/4164436/493363/f0a5d35c-bb3a-11e2-92a9-e387c857d07e.png)

after removing tt and restoring the backup server jar this is

[2013-05-12 22:16] NachtRaben commented on #487
10 minutes and i will get you results from the same seed.

[2013-05-12 22:22] NachtRaben commented on #487
![untitled](https://f.cloud.github.com/assets/4164436/493561/54d02d0c-bb52-11e2-8be6-0ac1dd897b79.png)
Problem persists. Also note that every time i log into the server after a regen i slowly fall into the void and can literally watch the terrain generate over top of me.

[2013-05-12 22:57] JohnPark234 opened #488 "Issue with a plugin? Anti Relog"
2013-05-12 15:48:09 [SEVERE] java.lang.NumberFormatException: For input string: "AntiRelog v25"
2013-05-12 15:48:09 [SEVERE]    at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
2013-05-12 15:48:09 [SEVERE]    at java.lang.Integer.parseInt(Integer.java:492)
2013-05-12 15:48:09 [SEVERE]    at java.lang.Integer.parseInt(Integer.java:527)
2013-05-12 15:48:09 [SEVERE]

[2013-05-12 23:40] JohnPark234 commented on #488
Sorry wrong mod!

[2013-05-12 23:40] #488 closed, assigned to LunNova

[2013-05-12 23:40] JohnPark234 opened #489 "[TickThreading] Exception ticking entity!"
2013-05-12 16:37:51 [SEVERE] [TickThreading] Exception ticking entity EZhaPin['Explosion'/235166, l='world', x=-4320.49, y=18.96, z=5081.17] in rX: -270, rZ: 317, hashCode: 20774642/Overworld/0:
java.lang.ArrayIndexOutOfBoundsException: 128
    at il.a(PlayerInstance.java:126)
    at ik.a(PlayerManager.java:147)
    at ij.a(WorldManager.java:77)
    at in.i(WorldServer.java:613)
    at yc.b(World.

[2013-05-12 23:45] Meatnog commented on #483
FYI, if I am one of the first people to log into the server after a restart, it does not crash.   But if I log in after it has been running for a while, that's when this crash takes place.   I hope that helps.

[2013-05-12 23:54] JohnPark234 opened #490 "[TickThreading] Unhandled exception in worker thread Entities in Overworld!"
2013-05-12 16:49:08 [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Overworld/0 - 4
java.util.ConcurrentModificationException
    at java.util.LinkedHashMap$LinkedHashIterator.nextEntry(LinkedHashMap.java:394)
    at java.util.LinkedHashMap$KeyIterator.next(LinkedHashMap.java:405)
    at me.nallar.tickthreading.minecraft.tickregion.EntityTickRegion.doTick(EntityTickRegion

[2013-05-13 00:12] joey19982 commented on #487
I had a similar issue on my server when generating a new map. It wasn't nearly as bad, but in some places trees and villages were cut in half. I figured it was just FTB being buggy.

[2013-05-13 05:51] maezred opened #491 "Build #1603 Exception while updating block neighbours (stack overflow)"
We've been having this issue in previous builds as far back as somewhere around build #1500 or so. But it's only becoming a major issue because the server now crashes shortly after a successful start rather than 2-5 days later (somewhere between 1 and 15 minutes after start with any number of players on--including no players on).

We run FTB Ultimate 1.0.1 on MCPC+ L27 with a few updated and added

[2013-05-13 06:18] Nohau commented on #483
Verified on MCPC L27 Resolves this problem.

[2013-05-13 06:18] #483 closed, assigned to LunNova

[2013-05-13 09:05] wormzjl commented on #486
Using an existing world so there shouldn't be anything generating...
It's working now but still pretty strage though.

[2013-05-13 09:10] LunNova commented on #491
Looks like someone's managed to build a setup which gets stuck in a block update loop.

[2013-05-13 09:10] LunNova commented on #491
This should show where the broken setup is so you can a) screenshot it and I can try to fix it b) destroy it.

[2013-05-13 10:27] maezred commented on #491
Slight problem: I don't know the world in which it occured.

[2013-05-13 10:32] NachtRaben commented on #487
no, this is the same seed. i had noticed it on a previous map so i went to test on it alil. the seed is : StillerFTBCraft if you wish to go test it yourself. i am no using mcpc, but i can recreate it with mcpc also

[2013-05-13 10:34] maezred commented on #491
Warped through all the worlds here before it crashed, I think I found it.

[2013-05-13 10:42] LunNova commented on #491
Will now log the world, 031aae3df39607d6a.

[2013-05-13 10:56] maezred commented on #491
Here's the setup that was crashing the server: [2013-05-13_03.38.12.png](http://moltendorf.com/static/upload/2013-05-13_03.38.12.png). The timer on the right was set to the minimum interval (0.200s); raising it to 1.250s has prevented the server from crashing thus far. The block noted in the log was the pneumatic tube (I verified it by using //info [WorldEdit] and right clicking it with the leathe

[2013-05-13 11:01] nylser commented on #487
Its funny but I'm getting this bug on a modded 1.5.1 server WITHOUT TT, so it may be another mods fault...

[2013-05-13 11:04] maezred commented on #491
I'll take that back. Crashed even with 1.250s; just seems to have delayed the inevitable by "exactly 625%". Same block: 12,50,8 (the Pneumatic Tube). The other blocks are Filter, Timer, and Ender Chest (if you're bad at identifying blocks by the way they look like I am). For now we've broken the timer.

[2013-05-13 12:51] alicheek opened #492 "[General question] [TT] [MCPC+] Twilight Forest issues"
hey I don't know if im the only one so that's why im asking, now ive just checked just to make sure its not multiverse core and its not but, if any one goes into the TF to mine or kill mobs it seems to be randomly laggy; for instance when some one is mining away with a mining laser they wont be able to pick up all the items on the ground, some will just stay there almost like its not registering t

[2013-05-13 12:57] NachtRaben commented on #492
using mcpc+ L25 and most recent tick threading without multiverse and i have no issues

[2013-05-13 13:02] NachtRaben commented on #487
when i get home from school i will run a test mod by mod, but the first 2 images were with TT installed, and the other was a regen without TT installed.

[2013-05-13 13:28] NachtRaben commented on #487
just for reference, this is what im using.
Direwolf20 Modpack (latest dev from launcher)
    Added mods: FlatBedrock, PowerCrystalsCore, MFReloaded (all from the 1.1 Dev of Ultimate Pack) and DivineRPG 3.0.4
    Removed mods: ExtraBiomes (Interferes with spawning in DivineRPG 3.0.4)

[2013-05-13 13:56] LunNova commented on #487
Yes, this is almost definitely a TT issue, I made some changes to population recently.

[2013-05-13 14:21] wormzjl opened #493 "[TT #1600, MCPC+ L25] Console spam with Exception ticking TileEntity c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe"
Spammed about 10 Mb

2013-05-13 00:28:45 [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.transport.TileGenericPipe buildcraft.transport.TileGenericPipe@55ae0215 x,y,z: -1054, 72, -201 at x,y,z:-1054,72,-201
 World: Overworld/0
java.lang.NullPointerException
    at gregtechmod.api.BaseMetaTileEntityMJ.powerRequest(BaseMetaTileEntityMJ.java:51)
    at buildcraft.transport.PipeTran

[2013-05-13 14:43] alicheek commented on #492
weird with mine I do maybe its my mod pack that's gone a bit iffy, weird but it could be possible, I mean ive tried making new twilight forest maps too but the same thing happens

[2013-05-13 14:44] LunNova commented on #492
If a player experiencing this problem relogs does it start working?

[2013-05-13 14:48] alicheek commented on #492
not sure ill give it a try but my server has locked down its been doing this very often lately even with the new TT builds and L27 of MCPC where I cant even access the server through ssh or ftp

[2013-05-13 14:52] NachtRaben commented on #487
Well if you need anything tested, i can use the same seed and give you the results. Just lemme know which build to test. i can also run tests with the vanillaforge server or mcpc+ also.

[2013-05-13 14:54] NachtRaben commented on #493
Try using MCEdit to remove the pipes at these coors
 x,y,z: -1054, 72, -201 at x,y,z:-1054,72,-201

[2013-05-13 14:56] NachtRaben commented on #492
I've never seen this issue before... I'll try and recreate it. can you run some profiles while ur in the twilight? see how the server is handling it when u can get back in?

[2013-05-13 16:11] Xanadu16 commented on #487
I can sort of fix this temporarily by regenerating chunks (//chunk then //regen) with MCPC+ and WorldEdit.

[2013-05-13 17:11] #487 closed, assigned to LunNova

[2013-05-13 22:52] Nohau opened #494 "TT 1600 / MCPC L27 Potential Memory Leak"
There may be a potential memory leak in this combination and I am not getting any erors to go off of . What would be the best route to get this info to someone after I let the server run for a bit should I get a HEAP DUMP ?

First time we have actually utilized all our memory that wasn't self inflicted ..  (700 ages loading all at once and going OOM is self inflicted!)

Server is starting off at 1

[2013-05-13 23:22] Maximuscr31 commented on #485
Here is a TT log from where Meatnog logged in when the server had been up and fine for several hours. Logs in, he gets in, it deadlocks immediately. We are now on MCPC L27 and TT1603

http://pastebin.com/51P8QyLg

[2013-05-13 23:34] Meatnog commented on #246
We are on TT#1603 and MCPC+ L27, but still on FTB 1.0.1, item loss is still taking place even if everything is in 1 chunk.

[2013-05-13 23:53] cjm721 commented on #494
On my server we have recently noticed that the java process is not ending and we have to manually kill it after we stop the server for it to release its resources (same if it crashes/deadlocks).

[2013-05-14 00:41] Nohau commented on #494
Yea i noticed that as well but I just waited and it eventually did die off when I seen this memory leak it took roughly 10 minutes for the jvm to shutdown completely.  Just have to be patient when you hit this type of issue unfrotunately.. I am so used to Tomcat Webservers seeing this I guess though.

[2013-05-14 05:51] Nohau commented on #494
So i have a heap dump but it is roughly 8G let me know if you would like a copy of it or not.

[2013-05-14 08:20] Nohau commented on #494
I also managed to get a 5 minute profile of the memory via threw X11 forwarding but java didn't like that at all and caused the server to come to a halt ...using MCPC L26 which looks like it still has the bug server running only for a few hours and was taking up 5G of ram.

[2013-05-14 08:57] LunNova commented on #494
Compress the dump then send it.

[2013-05-14 08:59] LunNova commented on #491
This would probably also break in vanilla, can you try that? Don't think I changed anything that would cause this.

[2013-05-14 10:05] LunNova commented on #486
The seed may not have been saved correctly after it was generated, so the spawn location was different, so more chunks were generated after restarting. iirc that can happen with MCPC+, although it might've been fixed.

[2013-05-14 10:05] #486 closed, assigned to LunNova

[2013-05-14 11:29] #490 closed, assigned to LunNova

[2013-05-14 12:15] alicheek opened #495 "[TT 1605] [MCPC+ L27] [SEVERE] [TickThreading] Exception ticking world Nether/-1 spam"
Got about 600kbs of this spam in the tick threading log:

2013-05-14 07:32:29 [SEVERE] [TickThreading] Exception ticking world Nether/-1
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at thaumcraft.common.blocks.TileSensor.getNoteBlockEvents_sync0(TileSensor.java:98)

[2013-05-14 16:30] Nohau commented on #494
Email sent with url to the heap dump.

[2013-05-14 17:57] #495 closed, assigned to LunNova

[2013-05-14 18:05] HaoSs07 commented on #495
latest build failed.

[2013-05-14 18:06] LunNova commented on #495
Fixed.

[2013-05-14 19:25] alicheek commented on #492
ive tried doing profiles can some one please explain how to do it , couldn't even find the java file to use to run it lol

[2013-05-14 20:25] LunNova commented on #494
Going to be a while before I can analyse this, don't have enough RAM and using swap is going to take a long time.

[2013-05-14 20:54] Nohau commented on #494
Yea I had to give visualvm 10G .. I have 22G in my desktop machine if you can point me about what i am looking for i can take pics i do know there is one specific class that is taking most of the ram (not at my home machine to see it) but I did have it open.

[2013-05-14 21:37] LunNova commented on #494
Unfortunately visualvm is not of much use for debugging this, I use YourKit for memory leaks.

Will be leaving it running overnight, will hopefully find the problem tomorrow.

[2013-05-15 00:01] inferno771 commented on #402
Nohau, were you able to find out the latest version that worked with MFFS without breaking the fields?

[2013-05-15 00:47] inferno771 commented on #402
It would seem build 1448 is where the fields were broken, all versions beyond that up to today (build 1610) no longer allow mffs to raise it's fields.

[2013-05-15 07:04] Nohau commented on #246
+1 tried with L27 and L22

[2013-05-15 07:09] ray73864 commented on #246
Perhaps this is now an issue with MCPC+, i don't use that, so assuming the issue is now only present on MCPC+ i should be good to go.

[2013-05-15 07:16] ray73864 opened #496 "Issue with patching 1.4.7 version of 1610"
Tried running the PATCHME.sh on the 1.4.7 Ultimate FTB pack (1.0.1) and got the following errors:

Jar file in question that i downloaded from jenkins was: TickThreading-1.4.7-1.0.0.1610.jar

2013-05-15 00:14:09 [SEVERE] [TickThreading] Error patching getNoteBlockEvents in thaumcraft.common.blocks.TileSensor with replaceMethod
javassist.CannotCompileException: [source error] no such field: world

[2013-05-15 10:23] #496 closed, assigned to LunNova

[2013-05-15 10:37] LunNova commented on #494
Disregard that, I set `-Xmx` in the wrong place. Sorry for wasting your time :(

[2013-05-15 10:46] Shybella commented on #492
Small problem. I'm using MCPC+ build L28 and running Yogcraft. Both aggressive and passive mobs seem to react slowly sometimes ignoring the player completely. This also seems to affect floating entities.

[2013-05-15 10:55] alicheek commented on #492
yea that's exactly my problem

[2013-05-15 12:45] alicheek opened #497 "[TT 1614] [MCPC+ L28] [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus appeng.me.tile.TileStorageBus@23c49595 x,y,z: -1266, 68, 2996 at x,y,z:-1266,68,2996"
2013-05-15 08:31:59 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus appeng.me.tile.TileStorageBus@23c49595 x,y,z: -1266, 68, 2996 at x,y,z:-1266,68,2996
 World: Overworld/0
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at appeng.me.

[2013-05-15 13:13] alicheek commented on #492
Here is some pictures showing , at the TF's frozen point; you can see that I can cut down the log blocks fine, but they don't stack together on the ground and I cant pick them up, when it is in this state all mobs are frozen and don't take damage, it will maybe stay in this state for about 2 mins then for a short period it will work, in the short period of it working the player is able to pick up

[2013-05-15 13:28] Shybella commented on #492
Yeap, that's it. Having the same exact problem.

[2013-05-15 16:35] mainsheep commented on #479
UE?

[2013-05-15 17:51] Maximuscr31 commented on #494
I am experiencing this problem this morning. We use Clearlag and it has an option to do /lagg unloadchunks. When I done this it unloaded 1741 chunks and _seems_ to be coming down in memory usage. I am not sure if that is helpful at all but it is the observation I noted this morning.

[2013-05-15 18:06] Maximuscr31 commented on #485
Since updating to mcpc 27 and TT1610 and Ultimate v1.1.0 I have not had any instances of this yet. Here is to hoping it is resolved.

[2013-05-15 18:23] LunNova commented on #494
It's likely that that either did nothing, or unloaded chunks which should
be loaded. Did the chunk count seem correct in /tps?

Still loading the heap dump, using 29GB of memory so far. 0.o
On 15 May 2013 18:51, "Maximuscr31" notifications@github.com wrote:

[2013-05-15 20:02] Maximuscr31 commented on #494
It looked normal before and the number didn't seem to change much before/after. I just pegged 6gb of ram. Clearlag didn't affect it at all this time. Turned the server off, raised the limit to 12gb, and am now using 6gb on startup and looks to be climbing.

[2013-05-15 20:05] alicheek commented on #494
does this seem to be affecting tps also because over time my tps just goes down to 10 from it being strong at 20 even when there is more people on before, and its not like my server is underpowered :S

Server specs:
Dual Xeon L5520,
64gb DDR3 ECC Fully Buffered,
4x SSD's in Hardware RAID 0

[2013-05-15 20:15] alicheek opened #498 "[TT 1614] [MCPC+ L28] [SEVERE] [TickThreading] Exception ticking TileEntity c factorization.common.TileEntityBarrel Barrel of 7618 64xtile.stonebrick@0 at x,y,z:183,95,409"
[SEVERE] [TickThreading] Exception ticking TileEntity c factorization.common.TileEntityBarrel Barrel of 7618 64xtile.stonebrick@0 at x,y,z:183,95,409
 World: Overworld/0
java.lang.NullPointerException
    at factorization.common.TileEntityBarrel.updateStacks(TileEntityBarrel.java:97)
    at factorization.common.TileEntityBarrel.g(TileEntityBarrel.java:506)
    at any.tickTT(TileEntity.java:50)

[2013-05-15 20:24] LunNova commented on #494
Okay, since this is apparently taking infinite time to load, can you get a
heap dump once it reaches 1.5 GB above normal?
On 15 May 2013 21:05, "Alistair" notifications@github.com wrote:

[2013-05-15 20:26] alicheek commented on #494
sure sorry for wasting your time but how do I do a heap dump? all ive done on this is just forward the errors I get atm :)

[2013-05-15 20:33] LunNova commented on #494
If you've already got jvisualvm working, just connect and right click on
the server at the left and select heap dump.

Otherwise, Google it/use one of the guides linked in other issues. Would
explain properly, but using a phone so it's annoying to try.
On 15 May 2013 21:26, "Alistair" notifications@github.com wrote:

[2013-05-15 20:37] alicheek commented on #494
ive got it installed but I cant get it to use the right java jdk or what ever also got a profile e and the numbers are looking a bit crazy :
![2013-05-15_21 35 44](https://f.cloud.github.com/assets/3965516/509246/46876856-bd9f-11e2-8275-3c732ea3e546.png)

[2013-05-15 23:44] Shybella commented on #492
What can I do to provide you as much information as possible?

[2013-05-15 23:48] cjm721 commented on #402
Had no effect
MCPC 23
TT 1614

[2013-05-16 01:07] SuddenTurmoil commented on #402
It appears to have had no effect on the MFFS items on my server either. Running vanilla FTB Ultimate 1.0.1. Super happy you are working on this issue though! Thanks!

[2013-05-16 02:33] alicheek opened #499 "[TT 1614] [MCPC+ L28] [SEVERE] [TickThreading] The server appears to have deadlocked."
[SEVERE] [TickThreading] The server appears to have deadlocked.
Last tick 50s ago.
Waiting ThreadManagers: Entities in World_VIP/13, World Tick

"Async ChunkLoader" TIMED_WAITING on java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject@745d2711
    at sun.misc.Unsafe.park(Native Method)
    -  waiting on java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject@745d2711

[2013-05-16 11:39] LunNova commented on #494
Okay, finally done, @Nohau's issue seems to be a broken BC pump.
On 15 May 2013 21:38, "Alistair" notifications@github.com wrote:

[2013-05-16 12:50] #494 closed, assigned to LunNova

[2013-05-16 13:17] geoffcorey commented on #246
I have had zero issues with a heavily used AE system in a single chunk with Ultimate 1.0.1 and TT.  We do not use any other add-ons such as MCPC+

[2013-05-16 13:38] mainsheep opened #500 "Deadlock almost every 15 mins [TT1615, MCPC L28]"
Server has been having deadlock often, almost every 15 mins.. Sometimes it runs fine for hours, then freeze chains all of a sudden.

TickThreading log:
http://pastebin.com/KifrRt1s

Patcher log:
http://pastebin.com/6j2ssQPP

Any help in this matter is highly appreciated.

[2013-05-16 14:32] alicheek commented on #500
does your server's tps start slowing down because I have have that issue to , starts off fine but over time it just grinds to a halt

[2013-05-16 15:38] #499 closed, assigned to LunNova

[2013-05-16 15:42] #497 closed, assigned to LunNova

[2013-05-16 16:12] LunNova commented on #500
Not 100% sure that that'll work, if it doesn't I'll need to change a bunch of how ChickenChunks works, so it may be a while before I can fix it.

[2013-05-16 17:20] geoffcorey opened #501 "[Request] Guide to using /tick /profile /etc to find performance / blocking issues"
Is there a guide or post somewhere that explains the proper use of these commands and the new options added in debugging server issues.     I am having a real issue with deadlocks and it looks like CC is the culprit but want to be sure.

[2013-05-16 17:20] LunNova commented on #493
It looks like a block next to the pipe, a gregtech machine, is broken.

[2013-05-16 17:23] LunNova commented on #501
Just make an issue with the deadlock detector report. There's no easy way to show what's causing deadlocks.

It tries to list only the threads involved in the deadlock at the bottom of the report, but in many cases this fails.

[2013-05-16 17:42] wormzjl commented on #493
It's a bit strange since there is no pipe at given coordinate, and these greg machines are not connected to any pipes...

[2013-05-16 17:50] LunNova commented on #493
Are you missing a minus when teleporting maybe? Is the issue still happening now? Maybe there's an invisible corrupt pipe there, try using worldedit to clear the exact coordinates shown in the log.

[2013-05-16 18:02] wormzjl commented on #493
This issue only happend once, after an automatic reboot it's no longer spamming...

[2013-05-16 18:07] LunNova commented on #492
When it unfreezes, does a user also login or enter/leave the TF?

[2013-05-16 18:30] Maximuscr31 commented on #246
Meatnog still lost items in a single chunk on tt1610 l27 with unformatted disks. He formatted and named the disks and has lost 0 items. This has been tested back to back with replication.

[2013-05-16 18:51] geoffcorey commented on #501
https://gist.github.com/geoffcorey/46bbd0cd36ac5e811511

[2013-05-16 19:47] LunNova commented on #501
Bad news, it is the computercraft deadlock that you suspected. This isn't something I can fix easily, it's fixed in newer computercraft versions. Not sure if it's fixed in any 1.4.7 versions though.

[2013-05-16 20:20] mainsheep commented on #500
So far, it seems the problem is gone, but instead of deadlocking, the TPS drops to 2-3 for a min or two, then goes back up to normal.. This doesn't happen often though, so it might not be related at all..

[2013-05-16 20:29] mainsheep commented on #500
A few mins after I typed that it seems ok, it deadlocked.. Latest patcher and logs in the links below.

Patcher:
http://pastebin.com/DumMEdUY

Logs:
http://pastebin.com/4zLv7pBs

Is it possible to go back to a previus MCPC and TT build for the moment, until this issue is resolved?

Edit: Forgot to mention that I updated to TT1619

[2013-05-16 20:39] Shybella commented on #492
This is happening for me in all worlds. Relogging has a 50% chance to help

[2013-05-16 21:21] NachtRaben opened #502 "Total Server Annihilation? Pretty bad crash."
So i know no one has posted about this mod on this thread before, but i am running an Ultimate/DivineRPG server, i heard reports of issues with the extra dimmensions added by this mod. I figured it was an issue with the mod and mcpc+, but it wasn't. then noticed the header of the crash was [TickThreading] so i decided to post it on here. Sorry to cause you trouble Nallar.
When this crash started t

[2013-05-16 21:24] Nohau commented on #502
Since it is text you can zip the file up which will reduce the size dramatically and send it to him via email or post it on a web server that he can download it from just make sure it is zipped :)

[2013-05-16 21:25] NachtRaben commented on #502
i figured as much, but whats the email? and will 7-zip be a valid utility or do i have to use winzip?
you can obviously tell somethings broke just by the photo xD

[2013-05-16 21:29] NachtRaben commented on #502
Nvmd, found the email.

[2013-05-16 22:13] LunNova commented on #502
Looking at the code, I can't see how this is a TT bug!

Can you confirm that it doesn't happen without TT?

Is there some sort of block in that mod which places torches automatically or something? It looks like some invalid torch placement is causing infinite recursion.

[2013-05-16 22:16] NachtRaben commented on #502
No blocks placing torches (Other than maybe a dungeon? lemme test it without, i will give you the results. Give me about 10 minutes. I only posted here cause TT is what noticed it first xD nothing in bukkit or even FML.

[2013-05-16 22:31] NachtRaben commented on #502
Im laughing my butt off so much right now, i do believe this is acctually a mod incompatability as i was able to recreate the issue without TT and that this time i get Shrooms and torches :)
![untitled2](https://f.cloud.github.com/assets/4164436/515509/2896149e-be78-11e2-96c4-724dde91cc3b.png)

as for the exception (Caught by bukkit this time)
2013-05-16 18:27:24 [INFO] Sending serverside check to

[2013-05-16 22:33] NachtRaben commented on #502
i have to admit, one of the weirdest things i've ever seen other than Sethblings custom map. it has that same effect

[2013-05-16 23:24] NachtRaben commented on #502
ya this isn't ur mod. Sorry for bothering you.

[2013-05-16 23:24] #502 closed, assigned to LunNova

[2013-05-17 01:55] cjm721 commented on #500
I am getting blocked Async Chunkloader also on TT 1620 MCPC 28

https://gist.github.com/cjm721/5596419

[2013-05-17 02:00] Shybella commented on #493
It's something about loaded chunks on startup. I fixed it by unloading chunks on startup with clearlagg.

[2013-05-17 02:05] cjm721 opened #503 "[TT 1620][MCPC+ 28] Xycraft tanks reset with chunkloaders"
In reference to #500 any xycraft tanks that are loaded at the time must be re-initiated once you come back in, and they lose all the fluids they had. Xycraft tanks which are not currently loaded seem to have no problem.

TT 1620
MCPC+ 28

Since the items are losing their NBT data (so it appears) might be related to #246 last fix as before that I never saw this happening.

[2013-05-17 05:39] Shybella commented on #492
Ok, if the user teleports to spawn and does /back they're able to pick up the item.. Also i changed the target ticks to 18 from 20 and it seemed to improve mob AI

[2013-05-17 05:40] Shybella commented on #492
It's almost like the chunk becomes unloaded while the user is there, when they teleport away and come back it reloads it..

[2013-05-17 09:38] alicheek opened #504 "[TT 1620][MCPC+ 28] SPAM [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.factory.TileQuarry @1773025467 in World_VIP/13 at x, y, z: -897, 71, 2016"
Getting Spammed with this from one of the multiverse worlds:

2013-05-17 05:23:19 [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.factory.TileQuarry @1773025467 in World_VIP/13 at x, y, z: -897, 71, 2016
java.lang.NullPointerException
    at buildcraft.transport.PipeTransportItems.groupEntities(PipeTransportItems.java:535)
    at buildcraft.transport.PipeTransportItems.entityEnt

[2013-05-17 09:43] alicheek opened #505 "[TT 1620][MCPC+ 28] [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1110772716 in Overworld/0 at x, y, z: -2515, 66, 506"
Don't know if that is exactly the same issue as ive posted before but this popped up in the logs any way :
[SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @1110772716 in Overworld/0 at x, y, z: -2515, 66, 506
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(A

[2013-05-17 11:36] alicheek opened #506 "[TT 1620][MCPC+ 28] Eu transfer not working in build craft may be related to #504"
So ive been getting a lot of my players telling that build craft items aren't working, like the energy trandfer through the cables aren't happening and MFEs that have been already filled are not charging anything. As I said  at the top maybe related to #504

[2013-05-17 12:42] LunNova commented on #503
I believe this is an MCPC+ issue, can you try downgrading to L15?

[2013-05-17 13:15] alicheek commented on #506
hmm restarted the server and boom its working again, no idea what caused the eu not to work

[2013-05-17 13:49] Drehmini opened #507 "[TT 1606] java.lang.NullPointerException when entering Mystcraft Ages"
2013-05-17 09:48:00 [INFO] [STDERR] java.lang.NullPointerException
2013-05-17 09:48:00 [INFO] [STDERR]     at com.xcompwiz.mystcraft.generation.AgeData.getStorageObject(AgeData.java:375)
2013-05-17 09:48:00 [INFO] [STDERR]     at com.xcompwiz.mystcraft.world.AgeController.reconstruct(AgeController.java:228)
2013-05-17 09:48:00 [INFO] [STDERR]     at com.xcompwiz.mystcraft.world.AgeController.<init

[2013-05-17 13:55] Drehmini commented on #507
This happens when players try to enter a certain mystcraft age.

[2013-05-17 14:33] Meatnog commented on #246
Bad news.   Tt1610 I27, with FTB 1.1.0  (AE r9i) is not fixed.  I just watched, realtime, my ME system eat 10,000 cobble in under 15 seconds.   If I was not actively watching it, I might have missed it.    I note this is with an ME system all in 1 chunk, using named storage disks (but not preformatted to only accept certain items).

The only test left is to test it with preformatted disks only acc

[2013-05-17 14:57] Drehmini commented on #507
This was actually a corrupted .dat age file. This issue was fixed.

[2013-05-17 14:57] #507 closed, assigned to LunNova

[2013-05-17 15:01] wormzjl commented on #246
Are you using ME chest or ME drive?

[2013-05-17 15:02] mainsheep opened #508 "Limiting Entities"
I'm sorry if this isn't the place to post this, but I was not sure where I could.

Is there any way with TT to limit the amount of entities in each chunk or in the worlds in general? If so, how do I change these settings?

I know aPerf got options for this, but I'm not using aPerf or MyTown as I am using MCPC+ for bukkit support. There are some plugins that help with spawners, but those I've tried

[2013-05-17 15:10] Meatnog commented on #246
ME Drive with 64K storage units.

[2013-05-17 15:10] alicheek opened #509 "[TT 1620][MCPC+ 28] Implosion Compressor not responding to right click"
Also when it unloads when the chunk unloads and when you com back it stays as a machine block and doesn't change back to the implosion compressor.

[2013-05-17 15:14] geoffcorey commented on #501
So interestingly enough I nuked a couple turtle startup scripts that I found were:

while true do
turtle.attack()
end

Note: No sleep line.

Still had the deadlock.   So I changed ChickenChunks.cfg setting to

#The number of ticks to wait between attempting to unload orphaned chunks
cleanuptime=12000

Which is an order of magnitude greater then the default and no more deadlock.    Go figure.

[2013-05-17 15:20] LunNova commented on #501
This is caused by wireless peripherals. There is a very low chance of it
happening, and even small changes can cause it to stop happening. TT
disables ChickenChunks' GC completely as it has a habit of trying to unload
stuff that it shouldn't.

If you're trying to find what causes lag spikes you can set the deadlock
time to 1 and it will make a report every time there's a spike, which will
hopefull

[2013-05-17 15:20] LunNova commented on #509
In a mystcraft age?
On 17 May 2013 16:10, "Alistair" notifications@github.com wrote:

[2013-05-17 15:21] LunNova commented on #509
I mean multiverse world.
On 17 May 2013 16:20, "Ross Allan" rossallan3@gmail.com wrote:

[2013-05-17 15:25] alicheek commented on #509
nope in the Overworld which is strange

[2013-05-17 15:27] Maximuscr31 commented on #503
Mine started doing this after one of the TT upgrades. L22 had been fine and then it started. I have up/downgraded above and below that but not l15. I will go back and try it.

[2013-05-17 15:39] alicheek commented on #506
oh its starting not to work again, people are complaining the EU isn't transferring again, been told AE chests don't work either

[2013-05-17 15:47] alicheek opened #510 "[TT 1620][MCPC+ 28] [SEVERE] [TickThreading] Probable memory leak, failed to unload threading for world Overworld/0"
Got this when shutting down the server:

2013-05-17 11:44:23 [SEVERE] [TickThreading] Probable memory leak, failed to unload threading for world Overworld/0
java.lang.NullPointerException
    at me.nallar.tickthreading.minecraft.TickManager.unload(TickManager.java:537)
    at me.nallar.tickthreading.minecraft.TickThreading.onWorldUnload(TickThreading.java:230)
    at net.minecraftforge.event.ASMEv

[2013-05-17 16:10] alicheek commented on #492
Found the issue guys its MCPC+ Bukkit configs, make sure if you have your TF set in the world settings, give it all the parameters like the mob spawning range the growth chunks the item merge range and take out the view distance setting in it also I put in all the growth modifiers which are in the default settings.

[2013-05-17 16:39] LunNova commented on #492
It may be a more serious issue corrupting the tickRegions list, which could
cause many of the issues you have reported today.
On 17 May 2013 17:10, "Alistair" notifications@github.com wrote:

[2013-05-17 16:44] alicheek commented on #492
Your right it may be linked but after me doing that the TF is now working perfectly

[2013-05-17 16:46] cjm721 commented on #503
I will have to do that on test server as for both my main ones if I go back to 15 I am going to get Xycraft attempted to place tile enity spam.

[2013-05-17 17:01] #506 closed, assigned to LunNova

[2013-05-17 17:02] #509 closed, assigned to LunNova

[2013-05-17 17:02] #510 closed, assigned to LunNova

[2013-05-17 18:43] alicheek opened #511 "[TT 1621][MCPC+ 28] Just after server start up some [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking"
[SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 17760
java.lang.NullPointerException
    at forestry.arboriculture.items.ItemGermlingGE.a(ItemGermlingGE.java:144)
    at ur.a(ItemStack.java:135)
    at ir.a(ItemInWorldManager.java:580)
    at iv.a(NetServerHandler.java:906)
    at fk.a(Packet15Place.java:79)
    at cg.b(TcpConnection.java:467)
    at iv.d(NetSe

[2013-05-17 18:51] Shybella commented on #492
Still happening for me in all worlds

[2013-05-17 18:52] alicheek commented on #492
do you use MCPC?

[2013-05-17 18:53] Shybella commented on #492
Yeap, MCPC+ L28 Build.

[2013-05-17 18:55] alicheek commented on #492
ok does ur bukkit config look something like  this for the world-settings: ?

[code]

[2013-05-17 18:55] alicheek commented on #492
of course with the spacings

[2013-05-17 19:03] alicheek opened #512 "[TT 1621][MCPC+ 28] lag spike detector findings"
http://pastebin.com/UTPxD2Uc

[2013-05-17 19:03] Meatnog commented on #246
It is possible my new issue with item loss may be due to a bugged ME Level Emitter being stuck on, despite the graphics not showing that it is.     I'm doing yet-more-testing now.

Basically I had an ME Level Emitter pointed at an ME Export Bus pointed at an Incinerator.   The whole thing set to send cobble to the incinerator whenever the cobble level got over 10000 cobble.    It was working beaut

[2013-05-17 19:08] Shybella commented on #492
Did that and still reproducing the same problem and this isn't happening to just TF mobs, it's happening in all worlds for me. All mobs and items in any world

[2013-05-17 19:10] alicheek commented on #492
So your worlds are they all defined by the default world settings ? if they are make sure its something like this:

default:
    growth-chunks-per-tick: 500
    mob-spawn-range: 4
    item-merge-radius: 3.5
    exp-merge-radius: 3.5
    random-light-updates: true
    aggregate-chunkticks: 4
    wheat-growth-modifier: 100
    cactus-growth-modifier: 100
    melon-growth-modifier: 100
    pumpkin-gr

[2013-05-17 19:11] alicheek commented on #492
sorry lol pressed wrong button

[2013-05-17 19:12] LunNova commented on #492
Are you on latest?
On 17 May 2013 20:08, "Shybella" notifications@github.com wrote:

[2013-05-17 19:12] Meatnog commented on #246
Ok, we found it!  At least in our setup.   What we found was sometimes the ME Export Bus doesn't properly work with a redstone signal.     So if you have an ME Level Bus aimed at an ME Export Bus and the ME Export Bus is set to only work with a signal, sometimes it either doesn't recognize the signal as being on, and sometimes it doesn't recognize it going OFF.    It is very, very infrequent.   Bu

[2013-05-17 19:14] Shybella commented on #492
On 1620, just saw you have tickRegions for 1621 updating now and will report back

[2013-05-17 19:14] LunNova commented on #512
This shows that BC pumps are causing lag spikes, somewhere in the nether.
On 17 May 2013 20:03, "Alistair" notifications@github.com wrote:

[2013-05-17 19:23] Shybella commented on #492
Reproducing the same issue. Punch a mob in the overworld either disappears or flys away. Players still have issues picking up items. On build 1621

[2013-05-17 19:35] alicheek commented on #492
can you paste your bukkit config here please

[2013-05-17 19:42] alicheek opened #513 "[TT 1621][MCPC+ 28] [SEVERE] [TickThreading] Failed to handle packet from lmskillsxi"
2013-05-17 15:19:21 [SEVERE] [TickThreading] Failed to handle packet from lmskillsxi
java.lang.NullPointerException
    at thaumcraft.common.blocks.TileInfusionWorkbench.getPacket(TileInfusionWorkbench.java:175)
    at thaumcraft.common.blocks.TileInfusionWorkbench.l(TileInfusionWorkbench.java:147)
    at eb.sendChunks(Packet10Flying.java:110)
    at eb.a(Packet10Flying.java:67)
    at cg.i(TcpCon

[2013-05-17 19:42] alicheek commented on #512
ill check it out see if its a stupid setup or something

[2013-05-17 19:44] mainsheep opened #514 "Area 0 0 causing many ticks"
Lately /ticks have been showing coordinates 0 0 to generate many ticks. When investigating that area, there is nothing happening there.

---- Slowest tick regions ----
  |    X |     Z |   N |   Time
T | 1568 | -1328 | 669 | 14.100
T | 1568 | -1312 | 275 |  9.574
T |    0 |     0 |   4 |  9.113
E | 4592 |  5936 |   4 |  4.262
T | 1584 | -1312 | 206 |  3.242
T | 1584 | -1328 | 478 |  2.898
T | 3856

[2013-05-17 19:46] LunNova commented on #514
What does /profile c show if you stand in that chunk?
On 17 May 2013 20:44, "mainsheep" notifications@github.com wrote:

[2013-05-17 19:49] Shybella commented on #492
http://pastebin.com/ZwfDtsJd

[2013-05-17 19:50] mainsheep commented on #514
http://imgur.com/DPn3iK0

[2013-05-17 19:52] Shybella commented on #492
But something fixed the boat issue. While in a boat chunks wouldn't load, that works now.

[2013-05-17 19:53] alicheek commented on #492
hmm your right cant see why that wouldn work must be a different issue from mine :S

[2013-05-17 19:55] alicheek commented on #492
that was a very old problem you sure your on the very latest version of TT ?

[2013-05-17 19:56] alicheek commented on #492
when you update do you remove your old patchedmods folder before updating?

[2013-05-17 19:56] Shybella commented on #492
I started using TT about 4 days ago for the first time

[2013-05-17 19:56] mainsheep commented on #514
It seem "profile c" is calculating ticks outside the area we are standing on that screenshot.. However I can verify that we did do "profile c" while inside chunk 0 0..

[2013-05-17 21:15] geoffcorey commented on #501
yeah we had a deadlock when I did a restart.   I will try the deadlock time approach next restart.

[2013-05-17 21:19] LunNova commented on #501
Oh, I added that as an irrelevant afterthought, it won't help with your problem. Sorry :( Kinda' surprised that the deadlock recovery didn't work though.

[2013-05-17 21:27] #514 closed, assigned to LunNova

[2013-05-17 21:36] alicheek opened #515 "[TT 1621][MCPC+ 28] From 20 tps with over 60 people on to 4 tps with 40 people on"
So my problem is over about 2 to 3 hours the server will work amazing with out any sign of strain what so ever this is with over 60 people on the server running at 20 tps, but almost like clock work if the server has been running over about 2 hours and 30 mins the servers tps dramatically drops to about 4 tps now befoe this happens  ive done /ticks and it shows all the most intensive regions which

[2013-05-17 21:39] LunNova commented on #515
Need a jvisualvm CPU sampler snapshot to see what's happening here.

[2013-05-17 21:44] alicheek commented on #515
dammit lol im terrible with this stuff ive got it to work just need to get it to connect to the server take it I need profiling set to true for it to work?

[2013-05-17 21:56] LunNova commented on #515
Once connected, click ![this](http://i.imgur.com/WGdibfS.png).

Wait for 5-10 minutes, then click ![this](http://i.imgur.com/GQ5Hner.png).

Finally, save it by clicking ![this](http://i.imgur.com/er2w1ak.png), then give me the file you saved.

[2013-05-17 22:08] alicheek commented on #515
when I try  to connect it just says it cant connect ive got the right ip ive got  the servers root logins im using the right port yet it just wont let me connect , don't know what im doing wrong

[2013-05-17 22:53] LunNova commented on #515
You're adding the java parameters before the `-jar`? You could try setting it not to use a password and just make sure to disable it once you're done.

[2013-05-17 23:02] alicheek commented on #515
im just havin trouble where it says add  JMX Connecion

it says to put your hostname in with the port so I put 109.169.93.205:25565
then it says security credentials now im guessing this is the login for ssh, if so I put that in and all I get out is error : cannoct connect to username@ftb.brierie.co:25565 using service:.....    (also tried  the raw ip which didn't work)

[2013-05-17 23:14] LunNova commented on #515
You don't use the SSH credentials, or the normal port. https://visualvm.java.net/jmx_connections.html explains which java parameters you need to add to set it up.

[2013-05-17 23:17] alicheek commented on #515
so put those parameters in my servers startup.sh basically then use the corresponding ports that I set ?

[2013-05-17 23:21] LunNova commented on #515
Yes, and make sure to remove the parameters after if you haven't set up
password authentication.
On 18 May 2013 00:17, "Alistair" notifications@github.com wrote:

[2013-05-17 23:24] alicheek commented on #515
lol so wait before the -jar or after it ?

[2013-05-17 23:28] LunNova commented on #515
Before -jar
On 18 May 2013 00:24, "Alistair" notifications@github.com wrote:

[2013-05-17 23:29] LunNova commented on #515
Oh, I meant "after" as in "after you're done, remove the parameters you
added."
On 18 May 2013 00:28, "Ross Allan" wrote:

[2013-05-17 23:38] alicheek commented on #515
ok got it to work only thing is its not got any issues of course atm since its just started? so should I wait or just make one now?

[2013-05-17 23:38] alicheek commented on #515
fs did it again

[2013-05-17 23:55] alicheek commented on #515
ok sent it to ur email

[2013-05-17 23:59] LunNova commented on #515
Yes, I'll need a snapshot from when it's lagging. Won't be able to check it
until tomorrow, going to sleep now.
On 18 May 2013 00:55, "Alistair" notifications@github.com wrote:

[2013-05-18 00:01] alicheek commented on #515
cool man thanks any way its really appreciated

[2013-05-18 00:24] cjm721 opened #516 "[Request] IC2 Nuke item drop disable"
Well I was messing around on my test server and was noticing that if I disable drops (all) then when using nukes there would be no lag at all for the client or the server. With that I searched to see if there was a way to disable drops just for IC2 nukes and:

There was some talk of this on IC2's forums (http://forum.industrial-craft.net/index.php?page=Thread&threadID=8910&pageNo=1) and someone me

[2013-05-18 00:26] cjm721 commented on #478
I don't know if @nallar noticed but on the FTB forums I sent a message with all the dupes I know of. The way my plugin works causes extra work, but with how nallar patches stuff it would cause no additional load.

[2013-05-18 01:43] Kusinagie opened #517 "Build 1625-Update question"
Everything works fine from what i can tell.
But when i try to update to version 5.3.0 of the direwolf20 pack i get this error then the server crashes when placing a chickenchunk loader:
[SEVERE] [ForgeModLoader] Encountered an unexpected exceptionNoSuchMethodError
java.lang.NoSuchMethodError: codechicken.core.packet.PacketCustom.sendToPlayer(Liq;)V
    at codechicken.chunkloader.BlockChunkLoader.a

[2013-05-18 02:01] Maximuscr31 commented on #517
That is because the new update uses the wrong version of chickenchunks. It causes any chunkloader that is right clicked to crash. It comes with 1.3.1.1 chickenchunks, and you need 1.3.1.2. Someone has derped badly at FTB and no one can get them to fix it even though the fix is there. You either need to downgrade or have all your users put in the 1.3.1.2 file themselves.

[2013-05-18 02:31] Kusinagie commented on #517
Ah okay that did the trick thanks. So to answer my end question I can update and keep giving error reports as i find them?

[2013-05-18 08:17] alicheek commented on #515
@nallar
ok sent u the profiler with the low tps occurring only had 29 people on at that time the picture also shows the cpu never really being used over 20% which is weird apart from that spike of course

[2013-05-18 09:16] LunNova commented on #516
It shouldn't cause bad server lag either with drops on, have you tested?

[2013-05-18 12:14] LunNova commented on #478
Noticed, but busy, sorry. May get something done eventually.

[2013-05-18 13:15] LunNova commented on #515
Can you try latest, and when it lags do the same as before, but profile for a bit longer and set ![these options](http://i.imgur.com/p0dKeWY.png).

Also, possibly check if anyone's using a TF magic map when this happens?

Does memory usage steadily climb until it starts lagging?

[2013-05-18 13:29] alicheek commented on #512
another dead lock but this is with TT 1625

http://pastebin.com/xnF5qigv

[2013-05-18 13:31] alicheek commented on #512
this is a couple of seconds after the deadlock happens :

[FINE] [ForgeModLoader] Entity px['item.tile.stonebrick'/5001, l='world_twilightforest', x=-2816.78, y=28.29, z=2336.31] added to the wrong chunk - expected x-176 z146, got x-177 z146
java.lang.Throwable
    at zz.a(Chunk.java:193)
    at aam.a(ThreadedChunkLoader.java:413)
    at aam.a(ThreadedChunkLoader.java:153)
    at aam.a(ThreadedChu

[2013-05-18 13:34] alicheek commented on #512
it seems to be its all about the wrong chunks with these errors , herese another one :
[FINE] [ForgeModLoader] Entity px['item.tile.sapling.oak'/30867, l='world_twilightforest', x=-750.56, y=35.80, z=5968.70] added to the wrong chunk - expected x-47 z372, got x-47 z373
java.lang.Throwable
    at zz.a(Chunk.java:193)
    at aam.a(ThreadedChunkLoader.java:413)
    at aam.a(ThreadedChunkLoader.java:1

[2013-05-18 13:36] alicheek commented on #515
@nallar

ill try and get it done, just so you know the server crashes over time if it doesn't get restarted, I may have leave the profiler on because im going to be out for a bit , but it will have the settings you asked for, oh and before it starts to get laggy yes the memory spikes up to crazy levels like 20 gbs but then eventually calms down but the allocated level still stays up around there d

[2013-05-18 13:38] alicheek commented on #512
FINE] [ForgeModLoader] Entity px['item.tile.stonebrick'/57975, l='overworld', x=2425.50, y=78.25, z=160.50] added to the wrong chunk - expected x151 z9, got x151 z10
java.lang.Throwable
    at zz.a(Chunk.java:193)
    at aam.a(ThreadedChunkLoader.java:413)
    at aam.a(ThreadedChunkLoader.java:153)
    at aam.a(ThreadedChunkLoader.java:127)
    at im.f(ThreadedChunkProvider.java:667)
    at im.get

[2013-05-18 13:38] LunNova commented on #512
Looks like it's a pump again.

[2013-05-18 13:43] LunNova commented on #515
Then the issue is some sort of memory leak. Using jvisualvm, once it reaches ~2GB usage higher than it starts at make a heap dump ![make a heap dump](http://i.imgur.com/x2XvfeU.png).

Compress that file, then send me a link to it.

[2013-05-18 13:51] alicheek commented on #515
can that still cause the server to crash because its never hitting any where near the 64Gb of ram so Im not really sure why it would crash then

[2013-05-18 13:54] LunNova commented on #515
If Xmx isn't actually set to 64GB in your parameters, yes. Else, no idea why it's crashing then.

It's best to keep Xmx set something less than 32GB, you'll actually get better performance.

[2013-05-18 13:57] alicheek commented on #515
its set to 60GB but its a custom set up done by my hoster, I still think its something to do with the processes so when it goes to the low tps ill do a profiler and a heap dump for you

[2013-05-18 13:59] LunNova commented on #515
I need a heap dump when it's at about 6GB because the heap dump is just a copy of everything in memory of the java process. If you do it when it's about to crash it'll a) be a huge file. b) it'll take approximately forever for yourkit to analyze it.

[2013-05-18 14:03] alicheek commented on #515
Cool will do that shouldn't really be going over 6 in the first place since my view distance is pretty low and the cache is only set at the default level so may bring something when analysing it

[2013-05-18 17:14] alicheek commented on #515
unluckily it crashed when i was away here part most of the forge log has a hell a lot of errors coming out of it then stops with out any crashes . the server just becomes unresponsive, or the screen i set is and it keeps saying timed out:
http://pastebin.com/9WBUZni9

[2013-05-18 17:34] cjm721 commented on #516
Yes I have. If you a shell denotation method I can destroy most of everything within 300+ blocks of the detention site. Have gotten upwards of near 100k items on the ground from doing that. Clients pretty much freeze if they are within viewing distance. Now for the server most of the lag is from the pure detonation and spawning in the items from the block breaks, with drops off the detonation did

[2013-05-18 17:47] LunNova commented on #516
When did you last test this? I recently changed items to attempt to merge
before spawning.
On 18 May 2013 18:34, "cjm721" notifications@github.com wrote:

[2013-05-18 20:08] pianocat9521 opened #518 "patcher doesn't work"
I'm Running Mac OS X Mountain Lion. When i try to run the patcher it gives me an error. Here is the log pastebin.com/kEwqdfK8

[2013-05-18 21:34] LunNova commented on #518
What is in 'PATCHME.command'? Check that the path to the TT jar is correct in it.

Also, why did you rename it from PATCHME.sh? Also, make sure you're using the .sh one, if you renamed the .bat one that might not work.

[2013-05-18 21:45] alicheek opened #519 "[TT 1634][MCPC+ 28] [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileController @1740258487 in Overworld/0 at x, y, z: 1126, 88, 3922"
Was getting 7mbs worth of spam with this lol

[SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileController @1740258487 in Overworld/0 at x, y, z: 1126, 88, 3922
java.lang.NullPointerException
    at appeng.me.tile.TileController.advanceCraftingCursor(TileController.java:428)
    at appeng.me.tile.TileController.g(TileController.java:968)
    at any.tickTT(TileEntity.java:5

[2013-05-18 21:59] #519 closed, assigned to LunNova

[2013-05-18 22:09] alicheek commented on #515
@nallar

getting another snapshot now , lol right now when I type /tps it says this:

![2013-05-18_23 07 38](https://f.cloud.github.com/assets/3965516/522206/8483e48a-c007-11e2-9c07-411b0a427cca.png)

[2013-05-18 22:15] alicheek commented on #515
@nallar
sent u an email with the snapshot

[2013-05-18 23:34] LunNova commented on #515
What are your java parameters? It's quite odd, seems that everything is
getting really slow, not just certain things. :s

On my phone just now, but got a few fixed I'll push tomorrow which would
help a bit.
On 18 May 2013 23:16, "Alistair" notifications@github.com wrote:

[2013-05-18 23:38] alicheek commented on #515
@nallar

Sent them to your email :)

[2013-05-18 23:43] alicheek opened #520 "Item merging issue with new TT stacking system"
OK so what happens is the player presses q to drop the item, if they do that once its fine, but if they try and press q multiple times to drop the item they just vanish ive been told by a lot of my players , I think its got something to do with  91fa91b

[2013-05-19 00:04] cjm721 commented on #516
Well I have MCPC also which has that built in from Spigot. Just a single nuke will not cause to many issues, but consistently we have people set off 40 plus (with a initial tnt cannon style spread) and that usually requires me to clear the drops once its over. I was not kidding about clearing a 300 radius area, that is 360000 stacks if its all cobble.

[2013-05-19 01:57] joey19982 commented on #520
Was just about to post this. Seems like build 1635 would introduce it, so going to try 1634 now.

[2013-05-19 01:58] alicheek commented on #520
yea that version works

[2013-05-19 11:17] adamros opened #521 "[TT 1634][MCPC+ 28] [SEVERE] java.lang.ClassCastException: java.util.concurrent.ConcurrentHashMap cannot be cast to java.util.HashMap"
http://pastebin.com/BV0BXhwm

[2013-05-19 11:47] alicheek opened #522 "[TT 1634][MCPC+ 28] SEVERE] [ForgeModLoader] Exception loading chunk asynchronously. Twilight Forest Issue"
2013-05-19 07:39:41 [SEVERE] [ForgeModLoader] Exception loading chunk asynchronously.
java.lang.ArrayIndexOutOfBoundsException: 128
    at il.a(PlayerInstance.java:126)
    at ik.a(PlayerManager.java:147)
    at ij.a(WorldManager.java:77)
    at in.i(WorldServer.java:614)
    at yc.a(World.java:769)
    at yc.c(World.java:740)
    at twilightforest.world.TFGenerator.putBlockAndMetadata(TFGenerator

[2013-05-19 12:21] #520 closed, assigned to LunNova

[2013-05-19 12:38] HaoSs07 opened #523 "Applied energistics error"
2013-05-19 15:38:28 [SEVERE] [TickThreading] Exception getting block ID in in Overworld/0 at -2792, 58, -2544
java.lang.VerifyError: (class: appeng/me/tile/TileController, method: <init> signature: ()V) Expecting to find unitialized object on stack
at java.lang.Class.getDeclaredConstructors0(Native Method)
at java.lang.Class.privateGetDeclaredConstructors(Unknown Source)
at java.lang.Class.getCons

[2013-05-19 12:42] HaoSs07 commented on #523
![2013-05-19_15 42 00](https://f.cloud.github.com/assets/3189195/522954/9a545bee-c081-11e2-828b-9edf37592df2.png)

[2013-05-19 12:51] alicheek commented on #523
lol yea that happened to one of my players except it just reset it didn't loose the chunk

[2013-05-19 12:53] HaoSs07 commented on #523
at first reboot :) server crash,
second reboot, server starts with console spam, and chunk does not load :), i downgraded to last version i used, chunk is there,

Side not, Did nallar fix mobs not spawning in gamemode ? now it works

[2013-05-19 12:55] alicheek commented on #523
what version was it u used when it happened?

[2013-05-19 12:57] HaoSs07 commented on #523
1639, i usually update to latest before i report bugs.

[2013-05-19 13:08] HaoSs07 commented on #523
updated to 1940
https://gist.github.com/HaoSs07/5607591 (full log)
https://gist.github.com/HaoSs07/5607587 (patchlog)

[2013-05-19 13:11] #523 closed, assigned to LunNova

[2013-05-19 13:58] alicheek commented on #515
@nallar

Any updates on what the issue could be? :)

[2013-05-19 16:39] geoffcorey commented on #501
So I basically disabled wireless modems.  Set the range to 0.   Restarted with 1643 a few times while I setting various parameters and had a deadlock on mob spawning.   Changed     B:enableFastMobSpawning=true and also     B:shouldLoadSpawn=true and restarted.   So far no issues.

[2013-05-19 17:56] LunNova commented on #521
Fixed in new Logistics Pipes builds, https://github.com/RS485/LogisticsPipes-Dev/pull/72

[2013-05-19 17:56] #521 closed, assigned to LunNova

[2013-05-19 17:57] LunNova commented on #517
Closing as this isn't a TT issue, just an FTB pack bug.

I will be supporting any 1.4.7 mods, hopefully within a few weeks also 1.5.

[2013-05-19 17:57] #517 closed, assigned to LunNova

[2013-05-19 18:18] geoffcorey commented on #501
Odd side effect of using enableFastMobSpawning=true is an old school squid grinder no longer spawns squid.

[2013-05-19 18:51] LunNova commented on #501
Squid are only spawned in ocean or river biomes.
On 19 May 2013 19:18, "Geoff Corey" notifications@github.com wrote:

[2013-05-19 19:36] alicheek opened #524 "[TT 1634][MCPC+ 28] [SEVERE] [TickThreading] The server appears to have deadlocked."
http://pastebin.com/9zKZxZEY

[2013-05-19 20:06] alicheek opened #525 "[TT 1634][MCPC+ 28] [SEVERE] [TickThreading] Exception ticking entity EntityGolemWood['Wood Golem'/2650, l='overworld', x=4343.34, y=155.08, z=-386.53] in rX: 271, rZ: -24, hashCode: -1572593/Overworld/0:"
2013-05-19 15:40:14 [SEVERE] [TickThreading] Exception ticking entity EntityGolemWood['Wood Golem'/2650, l='overworld', x=4343.34, y=155.08, z=-386.53] in rX: 271, rZ: -24, hashCode: -1572593/Overworld/0:
java.lang.NullPointerException
    at thaumcraft.common.Utils.mergeItemStackIntoInventory(Utils.java:228)
    at thaumcraft.common.Utils.mergeItemStackIntoInventory(Utils.java:202)
    at thaumcr

[2013-05-19 20:07] #468 closed, assigned to LunNova

[2013-05-19 21:36] alicheek commented on #524
another deadlock :

http://pastebin.com/d06n36Nu

[2013-05-20 10:57] floh22 commented on #512
i get these errors and similar ones so often, but even without TT just not logged as well. i really hope nallar can fix this, cause its causing huge problems. its our largest source of lag along with tileentities. i can post errors if you want but they might have been posted already

[2013-05-20 13:05] alicheek opened #526 "[TT 1634][MCPC+ 28] [SEVERE] [TickThreading] Exception ticking entity EntityTFHydra['Hydra'/493339, l='world_twilightforest', x=4354.46, y=33.00, z=767.47] in rX: 272, rZ: 47, hashCode: 3080464/Twilight Forest/7:"
[SEVERE] [TickThreading] Exception ticking entity EntityTFHydra['Hydra'/493339, l='world_twilightforest', x=4354.46, y=33.00, z=767.47] in rX: 272, rZ: 47, hashCode: 3080464/Twilight Forest/7:
java.lang.NullPointerException
    at twilightforest.entity.HydraHeadContainer.faceEntity(HydraHeadContainer.java:1117)
    at twilightforest.entity.HydraHeadContainer.setHeadFacing(HydraHeadContainer.java:5