[2013-06-16 02:45] LunNova commented on #727
Patch the server before starting it, change the TT jar path in PATCHME.sh.

Alternatively, use a clean server jar before patching.
On 16 Jun 2013 03:43, "Alistair" notifications@github.com wrote:

[2013-06-16 02:47] alicheek commented on #727
ah cool cheers will try that

[2013-06-16 02:52] alicheek commented on #727
Yep that's it worked now thanks man :D

[2013-06-16 02:52] #727 closed, assigned to LunNova

[2013-06-16 03:03] alicheek commented on #723
Working in latest :)

[2013-06-16 03:16] alicheek opened #728 "[MCPC+ L67] [TT 1907] Some Players lagging hard an cant move after TT update"
No logs to help us to see what the issue is but some players that weren't lagging before the TT update are now saying they cant even move its that laggy, no idea whats up since im fine and servers tps is at a solid 20

[2013-06-16 03:24] LunNova commented on #728
What does `/profile p` show?

Can you try to find the exact build which caused this? Going to sleep now, if you can that'd be very helpful for fixing it quickly when I get up.

[2013-06-16 03:28] alicheek opened #729 "[MCPC+ L67] [TT 1907] [SEVERE] [TickThreading] Exception while updating block neighbours in overworld/0 at -2131, 57, -288"
[SEVERE] [TickThreading] Exception while updating block neighbours in overworld/0 at -2131, 57, -288
java.lang.ArrayIndexOutOfBoundsException: 16
    at zz.getEntitiesOfType(Chunk.java:91)
    at nallar.tickthreading.minecraft.TickThreading.removeIfOverMaxItems(TickThreading.java:383)
    at yc.preHandleSpawn(World.java:1056)
    at yc.d(World.java)
    at com.eloraam.redpower.core.MachineLib.ejec

[2013-06-16 03:29] alicheek opened #730 "[MCPC+ L67] [TT 1907] [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.transport.TileGenericPipe @896197410 in overworld/0 at x, y, z: -2154, 61, -264"
[SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.transport.TileGenericPipe @896197410 in overworld/0 at x, y, z: -2154, 61, -264
java.lang.ArrayIndexOutOfBoundsException: 16
    at zz.getEntitiesOfType(Chunk.java:91)
    at nallar.tickthreading.minecraft.TickThreading.removeIfOverMaxItems(TickThreading.java:383)
    at yc.preHandleSpawn(World.java:1056)
    at yc.d(World.java)

[2013-06-16 03:30] alicheek opened #731 "[MCPC+ L67] [TT 1907][SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.machine.TileFilter @1390870183 in overworld/0 at x, y, z: -2131, 57, -288"
[SEVERE] [TickThreading] Exception ticking TileEntity c com.eloraam.redpower.machine.TileFilter @1390870183 in overworld/0 at x, y, z: -2131, 57, -288
java.lang.ArrayIndexOutOfBoundsException: 16
    at zz.getEntitiesOfType(Chunk.java:91)
    at nallar.tickthreading.minecraft.TickThreading.removeIfOverMaxItems(TickThreading.java:383)
    at yc.preHandleSpawn(World.java:1056)
    at yc.d(World.java

[2013-06-16 03:32] #729 closed, assigned to LunNova

[2013-06-16 03:32] #730 closed, assigned to LunNova

[2013-06-16 03:32] #731 closed, assigned to LunNova

[2013-06-16 03:33] alicheek commented on #728
ok this is what profile p shows:

![2013-06-16_04 27 25](https://f.cloud.github.com/assets/3965516/658945/742937a4-d635-11e2-9bed-62e4b319303c.png)
![2013-06-16_04 27 37](https://f.cloud.github.com/assets/3965516/658946/7700346e-d635-11e2-8d97-e8f8496b40f4.png)

[2013-06-16 04:12] cjm721 commented on #721
Tested in single player and got no warning, but no idea if its just not forge posting it either (with fine mode on).

[2013-06-16 11:40] darkdeath1332 opened #732 "communication error"
My server is online and I have open the port 25565 in my iptables. When I want to connect to my server I always have to refresh 2 times. First time it says communication error and then my server responds.

This problem is really annoying becouse the list where I advertise only pings your server 1 time and now my server have been showing offline for already 24 hours. This problem came out of nothin

[2013-06-16 11:48] darkdeath1332 opened #733 "communication error"
My server is online and I have open the port 25565 in my iptables. When I want to connect to my server I always have to refresh 2 times. First time it says communication error and then my server responds.

This problem is really annoying becouse the list where I advertise only pings your server 1 time and now my server have been showing offline for already 24 hours. This problem came out of nothin

[2013-06-16 11:56] turol opened #734 "[TT 1909] Exception ticking TileEntity c appeng.me.tile.TileController"
FTB 1.1.2 server with TT 1909 gives this:

2013-06-16 14:35:37 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileController @1958077899 in Overworld/0 at x, y, z: -183, 63, -128
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at appeng.me.tile.Til

[2013-06-16 11:59] LunNova commented on #733
Duplicate of #732.

[2013-06-16 11:59] #733 closed, assigned to LunNova

[2013-06-16 12:00] LunNova commented on #732
Can you confirm that this doesn't happen without TT? Sounds like a networking issue which isn't related to TT.

[2013-06-16 12:07] darkdeath1332 commented on #732
Cant confirm becouse I cant run my server without TT, I think its TT becouse its also handeling network stuff.

If its not how would I be able to fix it?

[2013-06-16 12:40] LunNova commented on #732
Are you using the default TT settings? Concurrent network ticks might cause this, but that's normally disabled.

[2013-06-16 12:43] darkdeath1332 commented on #732
Yeah got that disabled, its maybe not from TT.

But I was wondering is you would know a solution... I dont get votes not new players right now.

[2013-06-16 13:17] #734 closed, assigned to LunNova

[2013-06-16 13:17] LunNova commented on #734
Also, could you provide the world download?

[2013-06-16 13:17] LunNova commented on #394
Still happening?

[2013-06-16 13:20] #372 closed, assigned to LunNova

[2013-06-16 13:21] LunNova commented on #396
Not implementing this, as having that many worlds loaded is bad for performance, and should be avoided.

[2013-06-16 13:21] #396 closed, assigned to LunNova

[2013-06-16 13:22] #471 closed, assigned to LunNova

[2013-06-16 13:26] #472 closed, assigned to LunNova

[2013-06-16 13:27] LunNova commented on #385
Fixed with world loading/unloading changes.

[2013-06-16 13:27] #385 closed, assigned to LunNova

[2013-06-16 13:33] #637 closed, assigned to LunNova

[2013-06-16 13:35] LunNova commented on #491
No response, assuming the issue also occurs in vanilla.

[2013-06-16 13:35] #491 closed, assigned to LunNova

[2013-06-16 13:36] #693 closed, assigned to LunNova

[2013-06-16 15:40] LunNova commented on #616
Fixed, forgot to close this.

[2013-06-16 15:40] #616 closed, assigned to LunNova

[2013-06-16 15:40] LunNova commented on #544
Fixed, forgot to close this.

[2013-06-16 15:40] #544 closed, assigned to LunNova

[2013-06-16 15:41] LunNova commented on #652
Duplicate of #651, which is also fixed.

[2013-06-16 15:41] #652 closed, assigned to LunNova

[2013-06-16 15:42] LunNova commented on #695
Caused by packet spam, MPS packet spam fixed via 8e0e63a7b5cbf3e14f0525f906b7d27d08c023dd.

[2013-06-16 15:42] #695 closed, assigned to LunNova

[2013-06-16 15:43] LunNova commented on #705
Fixed via e9947ab916f17dfa768b4a49e076625581573ebf.

[2013-06-16 15:43] #705 closed, assigned to LunNova

[2013-06-16 15:44] LunNova commented on #623
github didn't auto-close this due to odd commit message wording, should've been closed via 74de696.

[2013-06-16 15:44] #623 closed, assigned to LunNova

[2013-06-16 16:06] LunNova opened #735 "Pause partial chunk saving and chunk unloading per-world to allow for live backups"

[2013-06-16 16:07] LunNova commented on #371
Is this still a problem?

[2013-06-16 16:13] LunNova commented on #728
What does `/profile p` show with latest?

[2013-06-16 16:18] wormzjl commented on #371
Sorry, I've just moved my server to 1.5 so I can no longer test TT on it.
Hope that TT would be on 1.5 soon :+1:

[2013-06-16 16:33] alicheek opened #736 "[MCPC+ L67] [TT 1907] [SEVERE] [TickThreading] Recursive TC add."
[SEVERE] [TickThreading] Recursive TC add.
    at thaumcraft.common.WorldTicker.addBlockToRestore(WorldTicker.java)
    at thaumcraft.common.blocks.BlockWarded.h(BlockWarded.java:97)
    at zz.a(Chunk.java:475)
    at zz.a(Chunk.java:681)
    at yc.b(World.java:862)
    at yc.e(World.java:971)
    at org.bukkit.craftbukkit.v1_4_R1.block.CraftBlock.setTypeId(CraftBlock.java:109)
    at org.bukkit.c

[2013-06-16 16:34] alicheek opened #737 "[MCPC+ L67] [TT 1907] [SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Twilight Forest/7 - 6"
[SEVERE] [TickThreading] Unhandled exception in worker thread Entities in Twilight Forest/7 - 6
java.lang.ArrayIndexOutOfBoundsException: -198
    at aaa.a(ExtendedBlockStorage.java:89)
    at zz.a(Chunk.java:655)
    at zz.e(Chunk.java:1024)
    at nallar.tickthreading.minecraft.TickManager.fixDiscrepancies(TickManager.java:640)
    at nallar.tickthreading.minecraft.TickManager$1.run(TickManager.

[2013-06-16 16:35] alicheek opened #738 "[MCPC+ L67] [TT 1907] [SEVERE] [TickThreading] Exception ticking entity iq['ciccithebest98'/159510, l='overworld', x=5522.29, y=67.00, z=3961.91](ciccithebest98 at 5522.287379202969,67.0,3961.9125364119327) in rX: 345, rZ: 247, hashCode: 16187737/overworl"
[SEVERE] [TickThreading] Exception ticking entity iq['ciccithebest98'/159510, l='overworld', x=5522.29, y=67.00, z=3961.91](ciccithebest98 at 5522.287379202969,67.0,3961.9125364119327) in rX: 345, rZ: 247, hashCode: 16187737/overworld/0:
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$EntryIterator.next(HashMap.ja

[2013-06-16 16:39] alicheek commented on #728
@nallar

ok just applied it there will tell  u how it goes, also my admins cant use ur TT commands is it because I need to remove the me. at the start of the permission node?

[2013-06-16 16:44] alicheek commented on #728
Here are the results with /profile p now with 50 people on :)

![2013-06-16_17 43 38](https://f.cloud.github.com/assets/3965516/659555/fe824a3a-d6a3-11e2-9eaf-01883923ca7e.png)
![2013-06-16_17 43 46](https://f.cloud.github.com/assets/3965516/659556/ff23b262-d6a3-11e2-91e2-fad2d1f563af.png)

[2013-06-16 16:49] #736 closed, assigned to LunNova

[2013-06-16 16:49] alicheek opened #739 "[MCPC+ L67] [TT 1907] App E Controller lag"
IS there any way that the Applied Energetics  Controller can be slowed down a bit or something because they are the biggest cpu killer id say:

![2013-06-16_17 47 02](https://f.cloud.github.com/assets/3965516/659562/a30bba3c-d6a4-11e2-91dc-1dc7c1c07f91.png)
![2013-06-16_17 47 05](https://f.cloud.github.com/assets/3965516/659563/a3fb8364-d6a4-11e2-9538-fef6b108bdcb.png)

[2013-06-16 16:53] #737 closed, assigned to LunNova

[2013-06-16 16:55] #738 closed, assigned to LunNova

[2013-06-16 16:57] #442 closed, assigned to LunNova

[2013-06-16 16:57] #492 closed, assigned to LunNova

[2013-06-16 16:58] #505 closed, assigned to LunNova

[2013-06-16 16:58] #550 closed, assigned to LunNova

[2013-06-16 16:59] alicheek commented on #525
issue hasn't occurred in a while now

[2013-06-16 16:59] #525 closed, assigned to LunNova

[2013-06-16 17:00] alicheek commented on #618
newer issue opened concerning the main lag maker from that mod #739

[2013-06-16 17:00] #618 closed, assigned to LunNova

[2013-06-16 17:01] alicheek commented on #732
This is more likely an issue that your hoster can fix

[2013-06-16 17:03] alicheek commented on #498
Issue has not occurred in quite a while so guess is that it is sorted now , will open if I get this error again

[2013-06-16 17:03] #498 closed, assigned to LunNova

[2013-06-16 17:03] LunNova commented on #739
What does just `/profile e` show?

[2013-06-16 17:05] LunNova commented on #728
Yes, that's correct. Permission nodes dropped the "me." with the package change.

Looks like the MPS fix works :)

[2013-06-16 17:05] alicheek commented on #739
/profile e shows this :

![2013-06-16_18 04 53](https://f.cloud.github.com/assets/3965516/659585/f23bf976-d6a6-11e2-95df-fe630d7f22ca.png)
![2013-06-16_18 04 59](https://f.cloud.github.com/assets/3965516/659586/f36c6de4-d6a6-11e2-8ab9-f323db2ac694.png)

[2013-06-16 17:06] LunNova commented on #739
BC pipes are worse, as they're not that fast and there are far too many of them. Can you get another snapshot?

[2013-06-16 17:06] alicheek commented on #728
Great ill quickly edit that then in the perms, so glad that issue has been sorted was the main eater in our bandwidth haha made it bad for me also since ive got terrible internet :P

[2013-06-16 17:09] alicheek commented on #739
A visualvm snapshot? issue with them is I need to get my hoster to edit the java parameters since they are set up very differently now so will take longer propably till Monday.

[2013-06-16 17:15] alicheek commented on #723
Seems to be broken again for some reason :

http://pastebin.com/5GEKT3qw

[2013-06-16 17:21] LunNova commented on #728
Are players still having the lag problem?

[2013-06-16 17:35] LunNova commented on #448
http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/page-28#post-310029

[2013-06-16 17:40] nylser commented on #448
Nallar, you are my hero!

[2013-06-16 18:57] darkdeath1332 commented on #695
How did you fix it? I have unbanned the items again and its still eating my network on latest TT.

Also is It bad that CC uses so many network?

![image](https://f.cloud.github.com/assets/3824354/659710/9e8ce532-d6b6-11e2-8a78-d403a7607d88.png)

[2013-06-16 18:59] LunNova commented on #695
It's still very bad, but it's nowhere near as bad as it used to be.

It's terrible that CC's doing that, probably a good idea to ask on CC forums about this.

[2013-06-16 19:13] alicheek opened #740 "[MCPC+ L67] [TT 1922] [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 64664"
[SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 64664
java.lang.NullPointerException
        at forestry.arboriculture.items.ItemGermlingGE.a(ItemGermlingGE.java:144)
        at ur.a(ItemStack.java:135)
        at ir.a(ItemInWorldManager.java:580)
        at iv.a(NetServerHandler.java:906)
        at fk.a(Packet15Place.java:79)
        at cg.b(TcpConnection.jav

[2013-06-16 19:14] LunNova commented on #740
They tried to place a corrupted forestry sapling. There's an option in forestry's config to clean broken saplings iirc.

[2013-06-16 19:14] #740 closed, assigned to LunNova

[2013-06-16 19:18] nylser opened #741 "TT 1.5.2"
I just tried to start the server with the first TickThreading 1.5.2 Build and this happened:

[code]

[2013-06-16 19:20] LunNova commented on #448
Build up on the buildservice under TickThreading-1.5.2. It compiles, but the patches are mostly broken and it will probably crash on startup if you try to use it.

[2013-06-16 19:21] darkdeath1332 commented on #695
Thank you very much for your great work, If you didnt make TT no server could be this big.

[2013-06-16 19:21] #741 closed, assigned to LunNova

[2013-06-16 19:21] LunNova commented on #741
For now, please don't report any 1.5.2 issues until I say that it's supposed to be working in issue #448.

[2013-06-16 19:21] LunNova commented on #741
Also, didn't know github had syntax colouring for code blocks, that's nice :)

[2013-06-16 19:27] nylser opened #742 "TT-1.5.2.2 Crash after startup"
This happens immediately after the server has started up:
http://pastebin.com/L6qrigyb

[2013-06-16 19:28] nylser commented on #741
Sorry, and yeah a pretty nice feature :)

[2013-06-16 19:28] #742 closed, assigned to LunNova

[2013-06-16 19:35] cjm721 opened #743 "Frames broken when moving across chunk boundary"
Trying to not use to word so google finds this, but basically using my inch worm drive with a tesseract/pump system on it caused a frame block to encase a tesseract block. When I try and break the tesseract with an omniwrench I get the tesseract (breaking with pickaxe does samething), but it also says there. Logged out and back in and got another admin to come over and check so its not a visual gl

[2013-06-16 19:36] LunNova commented on #743
TT can cause problems with frames when they are crossing chunk boundaries.

[2013-06-16 19:38] cjm721 commented on #743
I have the chunk lines up its all inside of one chunk, the last blocks where crossing the line when this happened. The computer in the top is touching the line.

[2013-06-16 19:42] LunNova commented on #448
Need to modify patching to work with SRG obfuscated mods, may take some time.

[2013-06-16 19:49] Puremin0rez commented on #448
@nallar

Thanks for starting work on 1.5.2! I'll try it out in a few days =P

[2013-06-16 19:58] joey19982 opened #744 "[Question] How is overall load calculated?"
Sorry if this has been answered somewhere before, but I noticed lately that the overall load is sometimes double of what the world load is. Shouldn't it just be all of the world load combined to get overall load? If not, what other factors contribute to the overall load?

Here is a screenshot of what I mean.
![1](http://puu.sh/3hdvE.jpg)

I don't see how it is getting the extra 30%. I'm probably j

[2013-06-16 20:00] LunNova commented on #744
Some load is not associated with any worlds, for example load from handling server tick events and from handling packets from players.

See `/profile a`.

[2013-06-16 20:33] joey19982 commented on #744
Ooh, thanks for that.

[2013-06-16 20:41] joey19982 commented on #744
This is what it outputs. Anything I can do about it, or is it just one of those things where you've gotta up hardware for it?

![1](http://puu.sh/3hfDU.png)

At times the TPS will drop to 10ish for a few minutes, and not due to world load. It usually fixes itself, but it'd be nice to know if there is anything to do to prevent it. I know you can't do much without a screenshot of what is going on wh

[2013-06-16 21:02] darkdeath1332 opened #745 "Console crash on latest version"
2013-06-16 22:25:05 [SEVERE] [TickThreading] Exception ticking entity iq['did4321'/16383, l='world', x=14472,71, y=59,00, z=14726,28](did4321 at 14472.705930832586,59.0,14726.28356116848) in rX: 904, rZ: 920, hashCode: 60294024/Overworld/0:
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$EntryIterator.next(HashMap

[2013-06-16 21:26] Drehmini opened #746 "[1927] Wand of Equal Trade Error"
2013-06-16 17:23:34 [SEVERE] [TickThreading] Recursive TC add.
java.lang.Throwable
        at thaumcraft.common.WorldTicker.addSwapper(WorldTicker.java)
        at thaumcraft.common.items.wands.ItemWandTrade.onItemUseFirst(ItemWandTr
ade.java:58)
        at ir.a(ItemInWorldManager.java:397)
        at iv.a(NetServerHandler.java:579)
        at fk.a(SourceFile:58)
        at cg.b(TcpConnection.java

[2013-06-16 22:36] LunNova commented on #746
Are you from the future, or do you mean 1927? :P

[2013-06-16 22:37] Drehmini commented on #746
Oh I guess my cover is ruined! Anyways, yes I meant 1927

[2013-06-17 00:16] LunNova commented on #744
You have a misbehaving mod/plugin taking far too long to process player
movement updates. Can you get a .NPS snapshot with jvisualvm?
On 16 Jun 2013 21:41, "Joey Z." notifications@github.com wrote:

[2013-06-17 00:18] LunNova commented on #741
It's fine, I should've made that clear before setting up builds.
On 16 Jun 2013 20:28, "Korbinian Stein" notifications@github.com wrote:

[2013-06-17 02:12] alicheek commented on #728
Sorry seems to be fixed :)

[2013-06-17 02:12] #728 closed, assigned to LunNova

[2013-06-17 02:13] joey19982 commented on #744
Sent you an email with it.

[2013-06-17 06:40] cjm721 commented on #739
Defraging my ME system and went a bit to fast...

[2013-06-17 07:39] cjm721 commented on #746
Also on warded block place:

[2013-06-17 07:41] lwkhamster opened #747 "[1.5.2] An error of loading Forge"
When I useing mcpc-plus-1.5.2-R1.1-forge737-B552.jar
to start up a server, the error [INFO] [ForgeModLoader] Unloading dimension 1 comes out and I cannot use /difficulty command any more....

Why?

OS: Windows 7
JAVA version : Jre7 64bit

[2013-06-17 07:43] #747 closed, assigned to LunNova

[2013-06-17 09:27] mainsheep opened #748 "[TT1927, MCPCL 67] [SEVERE] Recursive TC add."
This message is spammed into console.

2013-06-17 04:25:42 [SEVERE] Recursive TC add.
        at thaumcraft.common.WorldTicker.addBlockToRestore(WorldTicker.java)
        at thaumcraft.common.blocks.BlockWarded.h(BlockWarded.java:97)
        at zz.a(Chunk.java:475)
        at zz.a(Chunk.java:681)
        at yc.b(World.java:862)
        at yc.e(World.java:971)
        at org.bukkit.craftbukkit.v1_4

[2013-06-17 12:08] alicheek opened #749 "[TT1927, MCPCL 67] [SEVERE] [TickThreading] Failed to handle packet from unknown"
[WARNING] [TickThreading] it@7413e66a sent a movement update before properly connecting. It will be ignored.
2013-06-17 04:02:19 [SEVERE] [TickThreading] Failed to handle packet from unknown
java.io.IOException: Received string length longer than maximum allowed (7424 > 16)
    at ef.a(Packet.java:240)
    at cy.a(Packet2ClientProtocol.java:33)
    at ef.a(Packet.java:175)
    at cg.i(TcpConnectio

[2013-06-17 12:12] alicheek commented on #748
Yea got this too:

[SEVERE] [TickThreading] Recursive TC add.
    at thaumcraft.common.WorldTicker.addBlockToRestore(WorldTicker.java)
    at thaumcraft.common.world.BlockCosmeticOpaque.h(BlockCosmeticOpaque.java:202)
    at zz.a(Chunk.java:475)
    at zz.a(Chunk.java:681)
    at yc.b(World.java:862)
    at yc.e(World.java:971)
    at org.bukkit.craftbukkit.v1_4_R1.block.CraftBlock.setTypeId(Craft

[2013-06-17 12:13] alicheek opened #750 "[TT1927, MCPCL 67] [SEVERE] [TickThreading] Exception ticking TileEntity c forestry.core.gadgets.TileMachine @1140949861 in overworld/0 at x, y, z: -2577, 72, -2811"
[SEVERE] [TickThreading] Exception ticking TileEntity c forestry.core.gadgets.TileMachine @1140949861 in overworld/0 at x, y, z: -2577, 72, -2811
java.lang.ArrayIndexOutOfBoundsException: 0
    at forestry.core.genetics.EffectData.getBoolean(EffectData.java:34)
    at thaumicbees.bees.AlleleEffectSpawnMob.doEffect(AlleleEffectSpawnMob.java:72)
    at forestry.apiculture.genetics.Bee.doEffect(Bee.j

[2013-06-17 12:18] alicheek opened #751 "[TT1927, MCPCL 67] [SEVERE] [TickThreading] The server appears to have deadlocked."
http://pastebin.com/Jb2hfGwf

[2013-06-17 12:20] alicheek commented on #751
second part http://pastebin.com/5sUDAypy

[2013-06-17 12:21] mainsheep opened #752 "[TT 1897 and 1927] [Latest MCPC L] [SEVERE] [ForgeModLoader] Failed to load chunk at 27,-350"
Beeing spammed into console from time to time.

2013-06-17 07:18:05 [SEVERE] [ForgeModLoader] Failed to load chunk at 27,-350
java.lang.NullPointerException
        at aam.a(ThreadedChunkLoader.java:172)
        at aam.a(ThreadedChunkLoader.java:161)
        at im.f(ThreadedChunkProvider.java:708)
        at im.getChunkAtInternal(ThreadedChunkProvider.java:519)
        at im.getChunkAt(ThreadedChu

[2013-06-17 12:24] alicheek commented on #751
Don't know if me using the chunk entity limiter has anything to do with it , got it set to 70 per chunk and 300 per char

[2013-06-17 12:28] mainsheep opened #753 "[TT 1897] [MCPC L67] [SEVERE] Exception in thread "Connection #132 read thread""
Shows up from time to time.

These problems did not occur when I was running TT189X yesterday, and we had no errors for 1day 12hours. Now after upgrading to TT1927, and downgrading to TT1897 again, I've been getting errors both from chunks which cannot load, and this:

07:26:09 [SEVERE] Exception in thread "Connection #132 read thread"
07:26:09 [SEVERE] java.lang.NoClassDefFoundError: Could not in

[2013-06-17 12:29] mainsheep commented on #752
These problems did not occur when I was running TT189X yesterday, and we had no errors for 1day 12hours. Now after upgrading to TT1927, and downgrading to TT1897 again, I've been getting errors both from chunks which cannot load, and this.

[2013-06-17 13:56] Slind14 opened #754 "[TT1863] TileStorageBus"
2013-06-17 15:06:11 [SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileStorageBus @539468716 in Overworld/0 at x, y, z: 1510, 63, 555
java.util.ConcurrentModificationException
    at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:819)
    at java.util.ArrayList$Itr.next(ArrayList.java:791)
    at appeng.me.tile.TileStorageBus.g(TileStorageBus.java:129)
    at

[2013-06-17 13:57] Slind14 opened #755 "[TT1863] Player ticking entity"
2013-06-17 10:01:54 [SEVERE] [TickThreading] Exception ticking entity iq['Husky89'/193473, l='world', x=1189.95, y=72.00, z=-679.32](Husky89 at 1189.9482552564593,72.0,-679.3223194870516) in rX: 74, rZ: -42, hashCode: -2752438/Overworld/0:
java.util.ConcurrentModificationException
    at java.util.HashMap$HashIterator.nextEntry(HashMap.java:839)
    at java.util.HashMap$EntryIterator.next(HashMap.

[2013-06-17 14:47] mainsheep opened #756 "[TT 1927] [CRASH] [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionNoClassDefFoundError"
Everytime someone places a turtle, the server crash with the following error.

I've tried COMPLETE reinstall of the FTB folder (except plugins and world folder) to try and fix this problem.

[2013-06-17 15:10] mainsheep commented on #756
This solved itself by uninstalling oracle java 7 and installing openjdk 7..

[2013-06-17 15:13] mainsheep commented on #753
Problem fixed itself by uninstalling oracle java 7 and installing openjdk 7.

[2013-06-17 15:13] #753 closed, assigned to LunNova

[2013-06-17 15:13] LunNova commented on #756
You've previously encountered the same issue, also had it resolve itself. Seems to be something in your environment, not TT.

[2013-06-17 15:13] #756 closed, assigned to LunNova

[2013-06-17 15:13] mainsheep commented on #752
Problem fixed itself by installing openjdk 7 instead of oracle java 7

[2013-06-17 15:13] #752 closed, assigned to LunNova

[2013-06-17 15:17] #746 closed, assigned to LunNova

[2013-06-17 15:17] #748 closed, assigned to LunNova

[2013-06-17 15:20] LunNova commented on #745
By the time you ran into this problem, you weren't on the latest version, it's fixed now :)

[2013-06-17 15:20] #745 closed, assigned to LunNova

[2013-06-17 15:46] LunNova commented on #755
Fixed in latest.

[2013-06-17 15:46] #755 closed, assigned to LunNova

[2013-06-17 15:46] LunNova commented on #754
Fixed in latest.

[2013-06-17 15:46] #754 closed, assigned to LunNova

[2013-06-17 15:50] Slind14 opened #757 "cant find the error in the logs"
Hey,

i´m getting some errors in the console but if check the server.log, forgemodloader-server.log and tickthreading.log i cant find it. Is there any other error log ?

Because the screen dont show me everything, its still too long for a 24zoll monitor.

[2013-06-17 15:52] LunNova commented on #757
The FML server log should show everything, other than some bukkit errors which might only be in server.log/console.

tickthreading.1.log should have the newest TT error log.

[2013-06-17 15:54] Slind14 commented on #664
are u using multiverse ? or any other mutliworld bukkit plugin ?

[2013-06-17 15:58] LunNova commented on #751
The per chunk limit is for items, not entities, although entities are items.

Also, it should probably be higher than 70, it's intended to be used to prevent overflowing machines causing performance problems, but even breaking a large chest could drop 70 items.

The deadlock isn't related to that, testing a fix just now.

[2013-06-17 16:21] #751 closed, assigned to LunNova

[2013-06-17 16:37] Slind14 opened #758 "cant update to the newer builds"
Hey,

if i try to launch my server with a 19+ build i get this:

http://minus.com/lbyMN0C7QPdnti

[2013-06-17 16:37] Slind14 commented on #757
nope they dont show the error.

[2013-06-17 16:37] LunNova commented on #758
Get a clean server jar.

[2013-06-17 16:38] #758 closed, assigned to LunNova

[2013-06-17 16:40] Slind14 commented on #758
maybe u should write this into the wiki

[2013-06-17 16:40] LunNova commented on #758
Don't have an FAQ page, you could add one if you want.

[2013-06-17 16:42] Slind14 commented on #758
maybe to the README.md

[2013-06-17 16:54] Slind14 commented on #757
here is a screen of it, i cant find this in any of the logs:

http://minus.com/l63BF00S2vBKo

[2013-06-17 17:11] cjm721 opened #759 "Build Server issues? 1928"
Seems to be stuck on 1928 for over an hour and a half. I remember most of the time it only take a few minutes to compile run and complete previous.

[2013-06-17 17:21] LunNova commented on #759
Fixed.

[2013-06-17 17:21] #759 closed, assigned to LunNova

[2013-06-17 17:22] cjm721 commented on #759
Now time to restart with it lol. low time on the server right now.

[2013-06-17 17:59] LunNova commented on #757
Doesn't look like a TT issue, a forestry fake player is breaking the limitedcreative plugin when trying to place a block in a farm.

Try enabling fake player login in MCPC+'s config? Also, if that's not being logged to a file anywhere (are you sure it's not at the bottom of server.log?), then it's an issue with MCPC+ not logging it, not a TT bug.

[2013-06-17 17:59] #757 closed, assigned to LunNova

[2013-06-17 18:12] cjm721 opened #760 "[MCPC+ 67] [TT 1927] Crash on placing chunkloader"
Chunkloader gets place and is usable, but it is never taken out of inventory.

https://gist.github.com/cjm721/5798943

*added forge/server log error also.

[2013-06-17 18:32] cjm721 commented on #760
Ok update on this as I have no clue what caused this. Server froze a few minutes ago (deadlock detector did not kick in) and I ctrl-c and closed the terminal. Then patched to 1929 and also opened up system monitor and noticed I had two extra java processes running both taking up 3GB of ram. I killed those processes and when I started back up the server and tried to place a chunkloader where I had

[2013-06-17 18:36] Slind14 commented on #757
yeah thanks

[2013-06-17 20:58] darkdeath1332 opened #761 "High CPU useage"
Dont know why its eating so much, no laggy chunks. /stoplag enabled at this moment.
(no mobs, no drops)

![image](https://f.cloud.github.com/assets/3824354/664936/972dfe5e-d790-11e2-93f5-53a6a43c9535.png)

[2013-06-17 20:59] LunNova commented on #761
How many cores do you have? Also, /stoplag should not be necessary, and depending on how it works may make things worse with TT.

[2013-06-17 20:59] LunNova commented on #761
What does `/profile a` show?

[2013-06-17 21:01] darkdeath1332 commented on #761
I have 12 threads with 6 cores. 3.8 GHZ each.

Also, ur network fix really works for MPS, thank you.

![image](https://f.cloud.github.com/assets/3824354/664959/014e4e92-d791-11e2-84c6-930a6d5ed761.png)

[2013-06-17 21:03] darkdeath1332 commented on #761
Htop on puttye, with only 69 players online ;

![image](https://f.cloud.github.com/assets/3824354/664973/4bc9044e-d791-11e2-9e0c-90477fe8ae11.png)

[2013-06-17 21:05] LunNova commented on #761
Basically, what this means is that TT is working, but you've just got a lot of stuff. I've seen > 40k TileEntities before on a worse server with the same load though, so this can definitely be improved.

[2013-06-17 21:06] darkdeath1332 commented on #761
How could this been improved? there are now 59 people online with a load of 80 - 97%

[2013-06-17 21:09] LunNova commented on #761
Can you get a .nps snapshot using jvisualvm, while at high load? Leave it running for ~20 minutes.

[2013-06-17 21:12] cjm721 opened #762 "[MCPC 67] [TT1927] Deadlock"
https://gist.github.com/anonymous/bf09f481296f89967551

[2013-06-17 21:13] LunNova commented on #762
Looks like someone (either intentionally, or accidentally due to a bug) used a DoS exploit in MPS, https://gist.github.com/anonymous/bf09f481296f89967551#file-tt-log-L7761 - client can send bad data and get the server in an infinite loop.

[2013-06-17 21:15] LunNova commented on #760
Multiple server instances on the same world can cause all sorts of horrible problems. If you want to ensure the server always shuts down properly after a deadlock, set exitOnDeadlock to true. It's guaranteed to stop within 6 minutes, in most cases immedately.

[2013-06-17 21:16] darkdeath1332 commented on #761
Making one

[2013-06-17 21:19] cjm721 commented on #760
I do have that on. Thing is from looking in system monitor I can tell which server it was as my command to start them is different and for my direwolf20 server the last time I restarted it was yesterday and it had a clone. No idea how long the one from my ultimate had been there.

[2013-06-17 21:31] Slind14 commented on #761
where can i find this networkfix for mps ?

[2013-06-17 21:32] LunNova commented on #761
It's just another TT patch, as long as you use up to date TT it's included.

[2013-06-17 21:34] Slind14 opened #763 "[TT1929]permission note vanilla"
2013-06-17 18:44:33 [INFO] Registered command debug with permission node vanilla.command.debug
2013-06-17 18:44:34 [SEVERE] java.lang.ClassNotFoundException: me.nallar.collections.SynchronizedList
2013-06-17 18:44:34 [SEVERE]    at cpw.mods.fml.relauncher.RelaunchClassLoader.findClass(RelaunchClassLoader.java:218)
2013-06-17 18:44:34 [SEVERE]    at java.lang.ClassLoader.loadClass(ClassLoader.java:

[2013-06-17 21:45] Slind14 commented on #761
ohh nice, thx
and darkdeath1332 are u using the original essentials or a modiefied version ?

[2013-06-17 21:46] darkdeath1332 commented on #761
I got my snapshot while high cpu useage, recorded 30 mins.

http://www.mediafire.com/?810zno0ow8hyi3z

[2013-06-17 21:54] Slind14 commented on #761
is it possible to run jvisualvm without an gui ?

[2013-06-17 22:03] darkdeath1332 commented on #761
@nallar will you be able to like find out whats cousing it with a snap?

[2013-06-17 22:04] darkdeath1332 commented on #761
I hate my phone.

[2013-06-17 22:51] LunNova commented on #763
Same problem as before, you need to use a clean (unpatched) server jar.
On 17 Jun 2013 22:34, "Slind14" notifications@github.com wrote:

[2013-06-17 23:15] LunNova commented on #763
If that doesn't work, also delete everything in the patchedMods folder before repatching.

[2013-06-17 23:33] adamjones353 opened #764 "Incorrect patching for server. Server crash on boot."
Ok so i am trying to install tick threading for a server but i cant run the patch on the server as it is in a data center. I am sorry if what i am about to ask it a stupid question but i am stuck.

I have tried to install it by downloading the server on to my computer then patch it there then load it up on to the main server but this makes it crash everytime (log below), is there some thing i am d

[2013-06-17 23:35] LunNova commented on #764
You should still be able to patch it on the server - just run the "./PATCHME.sh" command in the same directory as you would normally run "./start.sh", or whatever else you would normally run to start it.

[2013-06-18 00:00] LunNova commented on #703
This bug is very persistent - it had previously been caused by ticking chunks before population, although that should no longer be happening. Will need to recheck that code.

@donkeypanic, also, thanks for the very generous donation :D

[2013-06-18 00:37] cjm721 opened #765 "[WARNING] [TickThreading] Partial save queue overloaded in Overworld/0 .... Only saved 192 out of 191"
Saved 192 out of 191?

[2013-06-18 00:41] adamjones353 commented on #764
I will have to talk to the server owner about this as i have no idea how to do this on mcmyadmin and my putty is broke. thank you for your help.

[2013-06-18 00:51] cjm721 opened #766 "[MCPC 67] [TT1929] AE Crash (sorry)"
Put a stack of items in the right hand one. Tried to pull it out from the left. Also tested on single player and there is no crash.

https://gist.github.com/cjm721/5801827

![2013-06-17_19 48 37](https://f.cloud.github.com/assets/2738614/665939/e3d30de2-d7b0-11e2-8934-8c13ed4ffc6e.png)

[2013-06-18 01:40] seriousvern opened #767 "mobs not responding after leaving chunks"
I have an issue that makes mob not respond to a player after he leaves the current chunk.
i am using the ultimate mod pack version 1.1.2 recommended. Also mobs seem to be pushed away from the player when they come in contact with them. I removed all plugins to try to rectify the issue with no success.
using 1929 tt and 67 mcpc

[2013-06-18 02:23] alicheek commented on #664
yes im using multiverse  but this world is the over world so it shouldn't have an issue I would of thought

[2013-06-18 02:24] alicheek commented on #664
Sorry wrong button yet again lol

[2013-06-18 02:27] cjm721 commented on #767
Running save versions as you and not having any problems here. Try re patching?

[2013-06-18 03:32] seriousvern commented on #767
i have tried removing and starting from scratch still same result

[2013-06-18 04:51] cjm721 commented on #760
Ok happened again and this time no extra java processes running... So I am at a lost.

[2013-06-18 05:59] Slind14 commented on #664
try it without multiverse. i had the same issue without TT after i switched from multiverse to mystcraft it was gone

[2013-06-18 06:05] Slind14 commented on #763
thanks, u should realy add a update section to year readme

[2013-06-18 11:41] seriousvern commented on #767
this is closed running flawlessly on my ultimate server now Thanks nallar great job

[2013-06-18 11:41] #767 closed, assigned to LunNova

[2013-06-18 12:02] Slind14 opened #768 "tickthreading wihtout ssh"
hey,

TT is running so fine on my Root Server with the FTB Ultimate pack, Thank you for this.

But i have one more Server, a Mindcrack Server without Root and SHH.

When i patch the mods and the ftbserver.jar on my local win7 computer or on the root with debian and move it to the right location where i dont have ssh access and run the server, I get a message that thaumicbees and thaumcraft isnt wo

[2013-06-18 13:39] darkdeath1332 commented on #761
Still have that issue, What up with the snap?

[2013-06-18 16:05] donkeypanic commented on #703
lol np nallar you absolutely deserve it man! work on more important stuff than this.  id rather have 20tps and no leaves at all!  also i have put tt on two additional servers (one dw and one ulti) where the worlds had genned before the most recent pack updates, and the bug isnt there.  keep on keepin the pack together buddy! i hope more ppl find a few dollars to shove at you soon!

[2013-06-18 16:27] joey19982 commented on #744
Oh, duh. The issue was an AFK plugin tracking movement to see if a player was AFK.

[2013-06-18 16:27] #744 closed, assigned to LunNova

[2013-06-18 16:38] LunNova commented on #744
Sorry for not investigating quickly, been busy with 1.5 update + school.

[2013-06-18 16:42] LunNova commented on #767
You asked something on freenode at about 4AM this morning, wasn't here to reply. Still need help, or was it related to this issue?

[2013-06-18 18:42] Slind14 commented on #761
dark, if i do the Test i get the same with 50 players online. 4/8 x 3.9ghz
![ftb_ultimate_de_2013-06-18_20-39-02](https://f.cloud.github.com/assets/3914677/670630/db8ec392-d846-11e2-9283-90e963193d00.jpg)

[2013-06-18 18:42] alicheek opened #769 "[MCPC 67] [TT1929] [SEVERE] [TickThreading] Exception ticking entity EntityRobot['unknown'/1636541, l='overworld', x=-1196.98, y=68.84, z=-4553.86] in rX: -74, rZ: -284, hashCode: -18546762/overworld/0:"
[SEVERE] [TickThreading] Exception ticking entity EntityRobot['unknown'/1636541, l='overworld', x=-1196.98, y=68.84, z=-4553.86] in rX: -74, rZ: -284, hashCode: -18546762/overworld/0:
java.util.NoSuchElementException
    at java.util.LinkedList.getFirst(LinkedList.java:242)
    at buildcraft.core.EntityRobot.build(EntityRobot.java:206)
    at buildcraft.core.EntityRobot.j_(EntityRobot.java:136)

[2013-06-18 18:45] alicheek commented on #761
yea I get lag also when at about 80 people :

![2013-06-18_19 16 53](https://f.cloud.github.com/assets/3965516/670644/2e4e003e-d847-11e2-92c0-e626b762e940.png)

[2013-06-18 18:49] alicheek opened #770 "[MCPC 67] [TT1929] Profile C Not turning up any data for some Chunks"
Here is the screen shot:

![2013-06-18_19 34 11](https://f.cloud.github.com/assets/3965516/670605/482af3d2-d846-11e2-9d80-2bf7cac2ee94.png)

not really got any errors for it thought it seems

[2013-06-18 18:54] Slind14 commented on #761
@alicheek how much tps do u have with 80 players and how much cpu (threads/ghz) ?

[2013-06-18 18:58] alicheek commented on #761
its a dual Xeon L5520 : 8 cores 16 threads at 2.5 GHz

[2013-06-18 19:03] joey19982 commented on #744
No problem, I know you've got enough on your plate.

[2013-06-18 19:10] Slind14 commented on #761
is this own hardware ? if not maybe u should think about upgrading to an 22nm (Haswell) for example as desktop cpu  i7-4770K or as server  E3-1270V3. there are no 22nm for dp or mp at the moment. or one of the six core E5 but they are all still 32nm

[2013-06-18 19:14] alicheek commented on #761
its what my hosters have provided me with its this: http://ark.intel.com/products/40201/Intel-Xeon-Processor-L5520-8M-Cache-2_26-GHz-5_86-GTs-Intel-QPI

TBH im not very techy so I don't know everything about it that's what my hoster is good at :)

[2013-06-18 19:26] alicheek opened #771 "[MCPC 67] [TT1929] Quantum Generator client crash when right clicking , using a lot of cpu also for server"
http://pastebin.com/Qysv35uV

[2013-06-18 19:32] Slind14 commented on #761
yeah i cant say anything against these cpus. but they are old (mid 2009). Maybe u should talk to your hoster and ask which setup he could give u for the same price. with at least sandy/ivy bridge (32nm) cpu/cpu´s

@darkdeath1332 sry that we missused your issue report.

[2013-06-18 19:38] darkdeath1332 commented on #761
Slind14 I have 6/12  3,8 GHZ  and hit even more useage,

[2013-06-18 19:53] alicheek opened #772 "[MCPC 67] [TT1929] [SEVERE] [ForgeModLoader] Error handling login related packet - connection from kierangreen123 [/90.205.60.166:50243] refused"
[SEVERE] [ForgeModLoader] Error handling login related packet - connection from kierangreen123 [/90.205.60.166:50243] refused
java.lang.NullPointerException
    at gm.attemptLogin(ServerConfigurationManager.java:420)
    at it.completeConnection(NetLoginHandler.java:201)
    at cpw.mods.fml.common.network.FMLNetworkHandler.handleClientConnection(FMLNetworkHandler.java:157)
    at cpw.mods.fml.comm

[2013-06-18 19:54] alicheek commented on #772
ah is the logins servers

[2013-06-18 19:54] #772 closed, assigned to LunNova

[2013-06-18 20:00] alicheek opened #773 "[MCPC 67] [TT1929] [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.world.ChunkDataEvent$Load@5b82232c"
Not really sure what is causing this:

2013-06-18 19:56:31 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.world.ChunkDataEvent$Load@5b82232c
2013-06-18 19:56:31 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.world.ChunkDataEvent$Load@7831a1e5
2013-06-18 19:56:32 [SEVERE] [ForgeModLoader] Exception posting event: net.minecraftforge.event.wor

[2013-06-18 20:02] Slind14 commented on #761
you cant compare GHz to GHz. Take a 32nm (Sandybridge) 4x4HTx3,5(3,9Boost)GHz CPU and the same with 22nm (Haswell) and u have a benchmark increase from about 8-12%. And then u still have differences between the models. Its no rarity that u see a CPU with less GHz beating one with more. Same with your world, loaded chunks and loaded worlds.

[2013-06-18 20:14] alicheek commented on #761
just another profile e with /tps at 200%

![laggissuee](https://f.cloud.github.com/assets/3965516/671125/a8a7421c-d853-11e2-8913-7f0ac7654b45.jpg)

[2013-06-18 20:31] darkdeath1332 commented on #761
What about this one? Intel® Xeon® Processor E5-1650

http://ark.intel.com/products/64601

[2013-06-18 20:32] darkdeath1332 commented on #761
@alicheek I have the same, 107% and it only came after updating from a lower build (around 1800)

I just fixed all quarry griefing and wands and stuff, now I have this ;S

[2013-06-18 20:36] LunNova commented on #761
@alicheek
Did you change JVM settings again? Because it looks like the "absolutely everything is slow" issue has happened again.

@darkdeath1332
Will get back to you about the snapshot once I have the time to check it.

[2013-06-18 20:37] Slind14 commented on #761
ohh ok, i upgraded tickthreading and my root system at the same time.

@darkdeath1332  MyTown ?
well, 32nm (Sandybridge) up to date in the 6 core section at the moment. if you think about upgrading you should that it is worth only if u double your budget.
the next step would be something like alicheek has, but with up to date cpus.

but i dont know if TT is working better on more threads or more G

[2013-06-18 20:50] Slind14 commented on #761
is there no private message feature in github ?
i was about asking you how much you are paying for your server

[2013-06-18 20:56] alicheek commented on #761
@darkdeath1332  Oh nice still haven't jumped that hurdle yet for the wand griefing, towny doesn't seem to pick up the break events so it just lets it happen

[2013-06-18 20:58] darkdeath1332 commented on #761
Easy fix, in the config add the ID, same for that bypassing wrench. And yeah MyTown is a solution for us, I got it done with coded plugins check a towny protection of the owner, but mytown seems better.

[2013-06-18 20:59] alicheek commented on #761
I did but they still bypass towny protection for some reason , haven tried in a while so maybe its sorted now

[2013-06-18 21:00] darkdeath1332 commented on #761
Use MyTown, Almost the same as towny.

http://www.minecraftforum.net/topic/1650110-146-151mytown-aperf-server-protection-and-performance-mods/
- What we need:
  Tight protection
  Protects against most mod world changing items like IC mininglaser, BC quarrys, TC excavationwand etc. Tailored for FTB MindCrack modpack.

[2013-06-18 21:00] LunNova commented on #761
Towny can prevent them being used in a town, but it can not prevent using them outside a town and firing into a town.

[2013-06-18 21:01] darkdeath1332 commented on #761
I coded a plugin to block air clicking event, you can only click it on a block and as soon you move into an town it gets turned off.

[2013-06-18 21:02] alicheek commented on #761
yea was moving to it when 1.6 version was released bit of a hassle to do it now with all the towns already in place :P

@nallar  weird it doesn't for me they just bypass it all together even in the town

[2013-06-18 21:03] alicheek commented on #761
@darkdeath1332  that's a very smart idea never would of thought of that :P

[2013-06-18 21:04] darkdeath1332 commented on #761
Bypassing with an wrench, I use lockette so I can just use a check for signs.

[code]

[2013-06-18 21:06] darkdeath1332 commented on #761
Same for arcane table dupe, Just made it clear the drops when you break it.

[2013-06-18 21:12] darkdeath1332 commented on #761
@Slind14  Ive 'upgraded' a couple weeks ago. I thought It was GhZ and cores XD.

Whats better? I still got them all online and not sure wich one to keep for my server.

Intel Xeon E5-1650
http://ark.intel.com/products/64601

Intel Xeon E3-1245 V2
http://ark.intel.com/products/65729

Intel Xeon E5-1620
http://ark.intel.com/products/64621

(Got skype? So I can tell the price there.)

[2013-06-18 22:37] Slind14 commented on #761
@darkdeath1332 well they all dont have QPI Link, so they work only as single cpus. In this case the six-core should be the best. but as I said, I dont know and dont find Benchmarks for TT between a quad and six-core.

If you have the money, you could check out these as dual cpus, but dont forget the expensive mainboard and doubl energy consume:
DP E5645
DP X5660
DP E5606
DP E5620
DP X5647
DP X5670

[2013-06-18 22:45] LunNova commented on #712
While testing 1.5, found the problem. Something is seriously wrong with the TickRegion + TileEntity management code, managed to place a TileEntity in two TickRegions at the same time. Not good...

[2013-06-18 22:45] LunNova commented on #712
[code]

[2013-06-18 23:06] #765 closed, assigned to LunNova

[2013-06-18 23:07] LunNova commented on #770
Caused by #712. TickRegion management is broken.

[2013-06-18 23:07] #770 closed, assigned to LunNova

[2013-06-18 23:22] LunNova commented on #712
Partially fixed in build 1961. Needs further changes to ensure it works correctly when added/removed from TickRegions concurrently.

[2013-06-19 00:15] cjm721 opened #774 "[MCPC+ 67] [TT 1931] Unable to pick up items."
Rebuilt the server and re-patched again and still not able to.

[2013-06-19 00:15] LunNova commented on #774
Update to next build, I completely broke it in 1931. Oops. :(

[2013-06-19 00:15] #774 closed, assigned to LunNova

[2013-06-19 04:35] cjm721 commented on #766
Seems to work now on 1932.

[2013-06-19 08:21] mainsheep opened #775 "[TT 1929] [SEVERE] [TickThreading] Exception in main tick loop java.lang.NegativeArraySizeException"
This message appears from time to time.

[2013-06-19 09:42] seriousvern commented on #767
yeah this was related to that but is no longer an issue thanks for the mod it is awesome

[2013-06-19 09:43] mainsheep commented on #444
This command is still not working.

[2013-06-19 09:45] mainsheep opened #776 "Essentials (/ptime) still not working"
The command to change the player time (just changed the brightness around the player, only visible for the player issuing the command) is still broken.

Last time you posted a possible fix in the #444 fix.

[2013-06-19 10:50] darkdeath1332 commented on #761
@Slind14 what about an dual xeon e5-2420?

6 cores 12 threads x 2, quite damn power

[2013-06-19 11:44] Slind14 commented on #761
@darkdeath1332 would work as dual and the mainboard wouldnt be so expensive for the 1356 socket, please add me at skype: slind14

[2013-06-19 11:59] Slind14 commented on #743
iron tanks loose their filling, i think its the same with the loaded and not loaded chunks

[2013-06-19 12:02] Slind14 commented on #687
who needs this. let ur user use fly/speed hack but do something against xray

[2013-06-19 12:07] Slind14 opened #777 "DoS Exploit"
Any player can crash most servers with access to basic technology, also possible without TT, details withheld to avoid abuse.

Original message:

[2013-06-19 12:08] #763 closed, assigned to LunNova

[2013-06-19 12:20] LunNova commented on #777
Message my email, it's on my github page.
On 19 Jun 2013 13:07, "Slind14" notifications@github.com wrote:

[2013-06-19 13:09] darkdeath1332 commented on #687
no, that against xray is in mcpc. I want to kill that fly cheat function !

[2013-06-19 13:11] darkdeath1332 opened #778 "What CPU?"
What does tickthreading wants? Ghz? Cores? Threads?

[2013-06-19 13:12] darkdeath1332 commented on #777
You should tell me on skype, I maybe can fix it with an plugin.

[2013-06-19 13:13] alicheek commented on #778
threads are TTs main way of getting performance, but it is variable to the Processor speed and amount of cores also

[2013-06-19 13:24] darkdeath1332 commented on #778
12 // 24 @ 1.9 GHZ

8 // 16 @ 2.26 GHZ

6 // 12 @ 3.2 GHZ

[2013-06-19 13:25] darkdeath1332 commented on #778
What cpu useage do you normally have with 8 // 16 @ 2.25 GHZ on ur server

[2013-06-19 14:08] Drehmini opened #779 "[TT 1929]AE and TE (or MFR) deadlocks"
I did update to the latest (1932) but I wanted to report this as it caused an issue several times this morning.

https://gist.github.com/Drehmini/5814598

[2013-06-19 14:08] Slind14 commented on #687
than install a plugin, and the mcpc+ anti xray isnt working
i told them this, but they just closed the ticket

[2013-06-19 15:16] Drehmini commented on #779
I actually think it's not TE as much as it is MFR's Deep Storage Units.

2013-06-19 11:02:55 [SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.minefactoryreloaded.processing.TileEntityDeepStorageUnit @496504216 in Overworld/0 at x, y, z: -19, 62, 226
java.lang.NullPointerException
    at powercrystals.minefactoryreloaded.processing.TileEntityDeepStorageUnit.checkInput(TileEntit

[2013-06-19 16:23] Slind14 opened #780 "Iron Tank"
Hey,

more and more player loose the content of their iron tanks. Since update to 1929 from a 1800+ build.

[2013-06-19 16:24] LunNova commented on #780
Are you using MCPC+?

[2013-06-19 16:33] darkdeath1332 opened #781 "Server running extreme low tps"
Just randomly came up, from 20 to 3

![image](https://f.cloud.github.com/assets/3824354/676017/e7128430-d8fd-11e2-919c-298e0b06f42b.png)

[2013-06-19 16:34] LunNova commented on #781
`/profile a`, `/profile e`, and `/profile p` please?

[2013-06-19 16:38] darkdeath1332 commented on #781
Screens when 4 - 20 ticks Rapidly switching all the time.

![image](https://f.cloud.github.com/assets/3824354/676035/513f30b0-d8fe-11e2-99c8-52e18b8dd58e.png)
![image](https://f.cloud.github.com/assets/3824354/676037/5e8e799c-d8fe-11e2-97d9-a940a35bc290.png)
![image](https://f.cloud.github.com/assets/3824354/676056/9cc1e118-d8fe-11e2-819a-05e31a2a839e.png)
![image](https://f.cloud.github.com/asset

[2013-06-19 16:41] LunNova commented on #781
Don't see anything obviously wrong there, can you get a snapshot? Only issue is very bad CC packet spam, but that shouldn't cause TPS to drop.

[2013-06-19 16:47] darkdeath1332 commented on #781
Whats the process ci.run ()?

[2013-06-19 16:48] darkdeath1332 commented on #781
Can It be someone speed hacking?....
![image](https://f.cloud.github.com/assets/3824354/676151/fde8a764-d8ff-11e2-8cf7-3a39c77ea651.png)

[2013-06-19 17:12] cjm721 commented on #687
@slind14 @agaricusb told you why it was closed and linked you to other issues to explain what all is still broken (no support currently over id 255).

As for the teleportation issue only time I ever spas is when both locations are in client side view distance, but as for it dropping your TPS it should no unless the chunks are not loaded, but that is a harddrive access problem more then CPU (could

[2013-06-19 17:40] LunNova commented on #781
Need the .nps. That would cause high playerMovement time, probably shouldn't make it this bad.

[2013-06-19 17:47] cjm721 commented on #760
Tried deleteing all my forcedchunks.dat files which resets loaded chunks. Was able to place the first chunkloader fine then I logged off to see if the world would deload correctly. Come back on and get error then I try to place a chunkloader and get the same error as before.

https://gist.github.com/cjm721/5816299
(has all the errors and what they correspond to)

[2013-06-19 17:50] cjm721 commented on #723
wonder if it has anything to do with #760 as when I could place chunkloaders fine the command worked fine.

[2013-06-19 17:52] LunNova commented on #687
Any better now? Tweaked the teleportation timings in latest.

[2013-06-19 18:10] LunNova commented on #760
If you disable world unloading, does it start working? Looks like CC may be trying to use unloaded worlds.

[2013-06-19 18:19] LunNova commented on #777
Issue updated.

[2013-06-19 18:22] cjm721 commented on #760
@nallar turned unloading off and everything works fine again, including /chunkloaders.

[2013-06-19 18:27] cjm721 commented on #777
@nallar with this kinda made me thing if there was a way to make a private section for people who are known contributors/server admins so we can talk a bit more open without google's web spider being able to see, both @darkdeath1332 and myself write plugins and personally I usually try to prevent actions that can cause issues until you or the mod devs fix them.

[2013-06-19 18:40] Slind14 commented on #780
yeah latest, but this wasnt happening before i updated TT

[2013-06-19 18:41] LunNova commented on #780
Are the broken tanks only tanks which cross chunk borders? Are you seeing any warnings about loading chunks before world load event fired?

[2013-06-19 19:22] Nohau opened #782 "TT1933"
Getting this error :

02:21:36 PM
 CONSOLE:
looking for config at ./config/rptweaks.conf
02:21:38 PM
 CONSOLE:
java.lang.NoClassDefFoundError: me/nallar/collections/ListSet
02:21:38 PM
 CONSOLE:
java.lang.ClassNotFoundException: me.nallar.collections.ListSet

[2013-06-19 19:26] Nohau commented on #782
Got this error for not using MCPC L67 final build not sure if this is your bug though..

[2013-06-19 19:27] LunNova commented on #782
Empty patchedMods folder, get a clean server jar. Recent TT update broke normal updating from before the package rename to after.

[2013-06-19 19:34] Slind14 commented on #777
@cjm721 @darkdeath1332 3 of our server team, too. Maybe we could share the stuff and dont develope it double

[2013-06-19 19:42] Nohau opened #783 "TT1933 / MCPC L67Server Spaming Console"
With the following :

2013-06-19 14:40:57 [SEVERE] Chunk for [564, -558] watched by [iq['puintje'/17964, l='world', x=8969.33, y=51.00, z=-8931.53](puintje at 8969.333522533178,51.0,-8931.533402569818), iq['AdeClark'/126699, l='world', x=8966.30, y=51.00, z=-8932.82](AdeClark at 8966.300000011921,51.0,-8932.822924766766)] has been unloaded without removing the PlayerInstance
2013-06-19 14:40:57 [S

[2013-06-19 19:45] Nohau commented on #782
Fixed doing the above

[2013-06-19 19:45] #782 closed, assigned to LunNova

[2013-06-19 20:00] LunNova opened #784 "magicbees NSEE crash"
2013-06-19 20:59:08 [SEVERE] [TickThreading] Exception ticking world Overworld/0
java.util.NoSuchElementException
        at java.util.LinkedList.removeFirst(Unknown Source)
        at magicbees.world.WorldTicker.tickEnd(WorldTicker.java:38)
        at cpw.mods.fml.common.SingleIntervalHandler.tickEnd(SingleIntervalHandler.java:34)
        at nallar.tickthreading.util.WrappedScheduledTickHandler.t

[2013-06-19 20:26] Slind14 opened #785 "TT 1929 - Server inst saving Map with restart"
Hey,

if the server autorestart, it doesnt save the map, but it in the log it looks like this:

2013-06-19 22:19:28 [INFO] Saving players
2013-06-19 22:19:28 [WARNING] DSCT: Socket closed
2013-06-19 22:19:28 [INFO] Saving worlds
2013-06-19 22:19:28 [INFO] Closing listening thread
2013-06-19 22:19:28 [INFO] Saving chunks for level 'world'/Overworld
2013-06-19 22:19:29 [INFO] Saving chunks for level

[2013-06-19 20:41] joey19982 commented on #785
I was having this issue recently too, although it hasn't happened the past few days. I assumed it was my problem.

It was very strange, as the player.dats were still intact but any changes made within the past few minutes were gone. even doing a /save-all right before restarting didn't help. Like I said though, it fixed itself for me, so I can't really supply any errors.

[2013-06-19 20:42] Slind14 commented on #785
exactly as u say it.

[2013-06-19 20:57] darkdeath1332 commented on #777
Great idea, we can team up.

[2013-06-19 20:58] Slind14 commented on #780
yes they are build into two or three chunks

in which log would i find this information ?

[2013-06-19 21:01] darkdeath1332 commented on #781
It was a CC program, deleted all and ticks are just fine. Packet spa
 Is also gone.

[2013-06-19 21:02] darkdeath1332 commented on #775
Turn off chunk unloader

[2013-06-19 21:06] Slind14 commented on #777
I think Trello would be a nice exchange board. Fileupload, comment function, assign function, sorting, voteing....
I can invite u to one if u can give me email for the invitation

[2013-06-19 21:24] alicheek commented on #777
I'm willing to pitch in also email is : brierie@live.com

[2013-06-19 21:38] #781 closed, assigned to LunNova

[2013-06-19 21:41] darkdeath1332 commented on #777
@alicheek are you an devoloper?

@Slind14 My email: faassen1332@gmail.com

Or we use a skype group chat, file sharing included.

[2013-06-19 22:06] joey19982 opened #786 "AE causing abnormal amounts of lag."
For quite a while now, ME systems on my server have been causing much more lag then previously. AE has been part of the pack for a while now, and it wasn't until about two weeks ago when AE systems, mainly chests and controllers, have been appearing on the list. I don't know if it's a TickThreading issue or whether or not it's just a laggy mod.

I'm running TT1929 and MCPC+ L77, but as I said this

[2013-06-19 22:07] LunNova commented on #786
It is just a very laggy mod, with older versions. It is apparently better in 1.5.2. I can't really do anything without replacing big chunks of AE, so this won't be fixed.

[2013-06-19 22:07] #786 closed, assigned to LunNova

[2013-06-19 22:23] Slind14 commented on #777
skype is bad because everyone has to be online and if u have 3 bugs at a time its hard to keep an overview and it is likely that u start chatting.

[2013-06-19 22:52] #785 closed, assigned to LunNova

[2013-06-19 22:57] cjm721 opened #787 "Alternate Buildcraft by Sirse."
http://www.mcportcentral.co.za/wiki/index.php?title=Mods_and_Plugins_for_1.4.7#Mods

Have not tried it, but saw that the patcher does not patch it and have not had time to really test it.

[2013-06-19 23:05] LunNova commented on #783
Spamming fixed, underlying issue not fixed.
On 19 Jun 2013 20:42, "Nohau" notifications@github.com wrote:

[2013-06-19 23:08] dariusc93 commented on #768
If you have FTP access just upload everything (dont forget the patchmods directory) and then give it a start.

[2013-06-19 23:24] Slind14 commented on #768
I did, i uploaded everything, the complete Server folder...

[2013-06-19 23:27] Slind14 opened #788 "steam boiler"
hey,

is it normal that the big steam boiler require so much server ressources `?

[2013-06-19 23:33] Slind14 commented on #785
2013-06-20 01:31:17 [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionDuplicateModsFoundException
cpw.mods.fml.common.DuplicateModsFoundException
    at cpw.mods.fml.common.Loader.identifyDuplicates(Loader.java:77)
    at cpw.mods.fml.common.Loader.identifyMods(Loader.java:339)
    at cpw.mods.fml.common.Loader.loadMods(Loader.java:470)
    at cpw.mods.fml.server.FMLServerHandler.beginS

[2013-06-19 23:41] Slind14 commented on #787
should i rename it to buildcraft.jar that TT is patching it ?

[2013-06-20 01:16] joey19982 commented on #785
That isn't a tickthreading issue. You have two jars for the same mod in your mods or coremods folder. You probably didn't delete the old version of TickThreading.

[2013-06-20 01:26] Puremin0rez commented on #786
Just further confirming AE really got it's shit together in 1.5 - The latest update (v11) is phenomenal compared to previous versions.

[2013-06-20 07:11] LunNova commented on #788
There is a bug with boilers next to chests. Use a small chest with always
one stack of fuel next to the boiler, instead of a big chest full of fuel.
On 20 Jun 2013 00:27, "Slind14" notifications@github.com wrote:

[2013-06-20 09:04] Slind14 commented on #788
mhh, they just connected with liquiducts no chests

[2013-06-20 10:10] Slind14 opened #789 "MFReloaded Plant Harvester"
2013-06-20 12:08:40 [SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.minefactoryreloaded.plants.TileEntityHarvester @1260807801 in Overworld/0 at x, y, z: 1197, 65, -734
java.lang.NullPointerException
    at nallar.tickthreading.minecraft.profiling.PacketProfiler.record(PacketProfiler.java:114)
    at nallar.tickthreading.global.Redirects.interceptPacket(Redirects.java:45)

[2013-06-20 13:28] Drehmini opened #790 "[TT 1932] CC Turtles (Wireless Disabled) Deadlocks"
I've disabled the crafting of wireless modems for turtles and set all wireless ranges to 0 and I'm still having issues with turtle deadlocks in the latest version.

I was able to copy over the region files and load up a test server with the exact same setup (except hardware differences) and have the same deadlock issues.

https://gist.github.com/Drehmini/5822629

I didn't have deadlocks until I up

[2013-06-20 13:32] Drehmini commented on #790
Also, sorry for being such a pain in the ass Nallar!

[2013-06-20 16:42] alicheek opened #791 "[MCPC 67] [TT1932] [SEVERE] [TickThreading] Failed to handle packet from unknown"
2013-06-20 16:59:54 [SEVERE] [TickThreading] Failed to handle packet from unknown
java.io.IOException: Received string length longer than maximum allowed (8704 > 16)
    at ef.a(Packet.java:240)
    at cy.a(Packet2ClientProtocol.java:33)
    at ef.a(Packet.java:175)
    at cg.i(TcpConnection.java:325)
    at cg.readNetworkPacket(TcpConnection.java:71)
    at ch.run(ReplaceTcpReaderThread.java:22)

[2013-06-20 16:43] alicheek commented on #791
[SEVERE] [TickThreading] Failed to handle packet from unknown
java.io.IOException: Received string length longer than maximum allowed (7936 > 16)
    at ef.a(Packet.java:240)
    at cy.a(Packet2ClientProtocol.java:33)
    at ef.a(Packet.java:175)
    at cg.i(TcpConnection.java:325)
    at cg.readNetworkPacket(TcpConnection.java:71)
    at ch.run(ReplaceTcpReaderThread.java:22)

[2013-06-20 16:44] alicheek opened #792 "[MCPC 67] [TT1932] [SEVERE] [TickThreading] Exception ticking world overworld/0"
[SEVERE] [TickThreading] Exception ticking world overworld/0
java.lang.NullPointerException
    at thaumcraft.common.AuraWorldTicker.tickEnd_sync0(AuraWorldTicker.java:46)
    at thaumcraft.common.AuraWorldTicker.tickEnd(AuraWorldTicker.java)
    at cpw.mods.fml.common.SingleIntervalHandler.tickEnd(SingleIntervalHandler.java:22)
    at nallar.tickthreading.util.WrappedScheduledTickHandler.tickEnd(

[2013-06-20 16:45] alicheek opened #793 "[MCPC 67] [TT1932] [SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.minefactoryreloaded.plants.TileEntityHarvester @1449031317 in overworld/0 at x, y, z: -2158, 64, -235"
[SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.minefactoryreloaded.plants.TileEntityHarvester @1449031317 in overworld/0 at x, y, z: -2158, 64, -235
java.lang.NullPointerException
    at powercrystals.minefactoryreloaded.plants.TileEntityHarvester.activateMachine(TileEntityHarvester.java:131)
    at powercrystals.minefactoryreloaded.core.TileEntityFactoryPowered.g(TileEntity

[2013-06-20 16:53] LunNova commented on #791
Duplicate of #674.

[2013-06-20 16:53] #791 closed, assigned to LunNova

[2013-06-20 16:53] LunNova commented on #749
Duplicate of #674.

[2013-06-20 16:53] #749 closed, assigned to LunNova

[2013-06-20 16:54] alicheek commented on #749
my bad sorry

[2013-06-20 20:26] cjm721 opened #794 "[MCPC+ 67] [TT1935] JRE Crash. Twilight forest related?"
JRE crashed. Nothing in any of the normal logs.

https://gist.github.com/cjm721/5826292

[2013-06-20 20:28] LunNova commented on #794
Update your JRE, I can not fix this.

[2013-06-20 20:28] #794 closed, assigned to LunNova

[2013-06-20 20:29] cjm721 commented on #794
Did not notice it started up in JRE 6 till you said that... Now why in the world did it start with JRE 6...

[2013-06-20 20:53] LunNova commented on #790
That's a crash, not a deadlock.

Looks like something broke a chunk - set the chunkTileEntityMap field to null for some reason? :s

[2013-06-20 20:55] Drehmini commented on #790
I'm sorry I don't understand what this means, do you want me to set a setting or is it set already?

[2013-06-20 20:57] LunNova commented on #790
It was a note for myself if I look at this issue again later, not something you can fix. A mod is doing something silly.

[2013-06-20 20:57] #789 closed, assigned to LunNova

[2013-06-20 20:58] Drehmini commented on #790
Gotcha, thanks again nallar.

Also how would I tell if it's a crash vs a deadlock? I've read through the log and it really didn't say.

[2013-06-20 21:09] LunNova commented on #790
I was checking the 1.5 line numbers, this is actually caused by a block somewhere which has an invalid ID.

[2013-06-20 21:12] #790 closed, assigned to LunNova

[2013-06-20 21:19] LunNova commented on #787
Definitely not being patched? Patcher shouldn't see a difference between this and normal BC.

[2013-06-20 22:19] #776 closed, assigned to LunNova

[2013-06-20 22:24] LunNova commented on #779
Oh, nice... a cyclic deadlock involving three threads. Looks "fun" to fix :P

[2013-06-20 22:25] LunNova commented on #779
Also, did the server manage to recover from the deadlock or did it need to restart?

[2013-06-20 22:26] Drehmini commented on #779
It needed to restart.

[2013-06-20 22:44] cjm721 commented on #787
https://gist.github.com/cjm721/5827428

[2013-06-20 22:58] Nohau opened #795 "TT 1933 / MCPC L67 - Constant Lag Spikes"
GIST : https://gist.github.com/Nohau/5827510

Thanks I know some of it is from AE Controllers but also getting other things.

Thanks

[2013-06-21 03:07] cjm721 commented on #766
Ok happened again... No clue why it does it sometimes and not others.

[2013-06-21 04:54] Tencao opened #796 "Failed to handle packet"
I'm trying to get 2 servers using transporter to link up the server chat, however tickthreading keeps spitting out this error

2013-06-21 05:52:48 [SEVERE] [TickThreading] Failed to handle packet from unknown
java.io.IOException: Bad packet id 58
        at ef.a(Packet.java:160)
        at cg.i(TcpConnection.java:325)
        at cg.readNetworkPacket(TcpConnection.java:71)
        at ch.run(Replace

[2013-06-21 06:51] LunNova commented on #796
Can you try this without TT? Don't think it's a TT issue.

[2013-06-21 14:50] Naolas opened #797 "Exception ticking TileEntity c factorization.common.TileEntityMixer"
A bit of a weird one. Removing the mixer takes care of the problem. Removing the mixer and placing one at the same position brings back the issue after some time.

No MCPC. Unpatched server runs fine.

Tickthreading Log (was too large for pastebin)
http://emptybit.de/minecraft/TickThreadingLogs/tickthreading.4.log

Please let me know if I can collect more info.

[2013-06-21 16:34] cjm721 opened #798 "[MCPC+ 67] [TT 1941] MFFS mass packets"
Noticed a large number of people on my server getting overflowed so I did profile p and noticed that MFFS was at 35MB while everything else was bellow 500KB. Anyone who was in the world (overworld) was having issues and seemed to be anyone with a slower internet was getting overflow.

Used profile e to track it back and turn the mffs off and it disappeared on packets also.

[2013-06-21 17:11] LunNova commented on #798
It's likely you have a forcefield somewhere which is turning on and off repeatedly, try to find and fix that.

[2013-06-21 17:43] cjm721 commented on #798
I found the forcefield and it had a solid system keeping it up. Only thing I can think of is that it was underground and did not have block breaker so it could be checking if space opened?

[2013-06-21 19:00] darkdeath1332 opened #799 "Preformance questions."
Ive got an hex core CPU from intel, running 3,8GHZ but sometimes hit 100%.

Will a dual AMD 16 core server be better? 2.5 GHZ x 32.

[2013-06-21 20:16] Nohau opened #800 "TT1933 TickThreading.cfg"
Just curious if this line is correct :

B:rateLiitChunkUpdates=true

or was it supposed to be

B:rateLimitChunkUpdates=true

[2013-06-21 20:58] Bucky420 opened #801 "Hexxit patching errors"
http://ntgvps.site.nfoservers.com/temp/

if you need more info let me know ill do it asap!

also im not sure if tick threading supports 1.5.2 :\ LOL it it doesn't then this makes sense

[2013-06-21 21:00] LunNova commented on #801
"2013-06-21 13:44:57 [INFO] [TickThreading] Patching with TickThreading v1.0.0.1942 for **MC1.4.7** - 1.7.0_21-b11"

:P

There's a 1.5 build, see TickThreading-1.5.2 on the buildservice. Very buggy though.

[2013-06-21 21:00] #801 closed, assigned to LunNova

[2013-06-21 21:35] nylser opened #802 "TT1942 Exception ticking TileEntity c powercrystals.minefactoryreloaded.animals.TileEntityGrinder"
I just found this error in console:

[code]

[2013-06-21 21:44] Bucky420 commented on #801
2013-06-21 14:41:45 [INFO] [TickThreading] Running TickThreading v1.5.2.29 for MC1.5.2 - 1.7.0_21-b11
2013-06-21 14:41:46 [SEVERE] [TickThreading] An error occurred while patching, can't continue
java.lang.NoClassDefFoundError: org/objectweb/asm/commons/Remapper
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(Unknown Source)
        at java

[2013-06-22 00:31] Bucky420 opened #803 "1.5.2 ChunkProviderServer issues? Not ready for MCPC+?"
2013-06-21 17:28:46 [SEVERE] [ForgeModLoader] Encountered an unexpected exceptionNoSuchFieldError
java.lang.NoSuchFieldError: b
        at net.minecraft.world.gen.ChunkProviderServer.<init>(ThreadedChunkProvider.java:94)
        at net.minecraft.world.WorldServer.func_72970_h(WorldServer.java:961)
        at net.minecraft.world.World.<init>(World.java:382)
        at net.minecraft.world.WorldServe

[2013-06-22 00:50] Bucky420 commented on #803
PLZ fix ;_; i need this very very bad

[2013-06-22 06:27] Bucky420 commented on #803
oh this actually has nothing to do with hexxit but TT just doesn't work on 1.5.2 ..... iv taken off all mods and core mods and tried with various version of mcpc+ all ending up with this error

[2013-06-22 06:28] Bucky420 commented on #803
what version of mcpc+ did you build this with? like what version does this work with?

[2013-06-22 06:40] Bucky420 commented on #803
im guessing you this doesn't work for 1.5.2 MCPC+?

[2013-06-22 10:22] LunNova commented on #803
Yes, 1.5.2 TT is not yet MCPC+ compatible, need to get vanilla working more reliably before attempting that.

[2013-06-22 10:58] LunNova commented on #795
Only seeing AE reports there, looks like the file is truncated after line 18592.

Also, make sure you don't have any computercraft programs which are constantly running without sleeps/pullEvent/etc., they'll make everything else a bit slower.

[2013-06-22 13:19] HaoSs07 commented on #685
an update on this. only happens when things are loaded with world anchor. if using chicken chunk loaders. they work after leaving the nether.

[2013-06-22 16:37] JFDreyer commented on #678
Hi there, We are running a server with the FTB ultimate pack 1.1.2.
We have added to the server: Forge Essentials build 272, BechillTPS 0.4.1.1 & now TT #1935.
I run a test server on my machine local that mirrors the above but I added:
Better dungeons 1.4.7 & DrZharks MoCreatures 4.7.0(CustomMobSpawner1.11.2)

Had 3 turtles reset on me today.
I upgraded to TT #1943
I then setup a 4 turtle each to

[2013-06-22 18:04] Slind14 opened #804 "[TT1935] Crash at restart"
Dont know what this should tell me

java.lang.NumberFormatException: For input string: "    13256"
    at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
    at java.lang.Integer.parseInt(Integer.java:481)
    at java.lang.Integer.parseInt(Integer.java:527)
    at codechicken.nei.NEIServerConfig.loadBannedBlocks(NEIServerConfig.java:223)
    at codechicken.nei.NEIServ

[2013-06-22 18:26] #804 closed, assigned to LunNova

[2013-06-22 20:31] alicheek commented on #664
ok tested as soon as you use a multiworld plugin this breaks, IC2 blocks used to never be affected in the overworld, only on the other multiworld plugin worlds. But ever since going to the new versions of TT even the overworld is affected by this, not sure if there is something you can do just to make it work again for the overworld or not, not too bothered if it doesn't work for the other worlds.

[2013-06-22 20:32] Slind14 commented on #664
its a mcpc+ with multiworld plguins issue not tt

[2013-06-22 20:34] alicheek commented on #664
ah lol dam kinda wishing it was a TT issue now :P MCPC no longer do any more fixes for our version :(

[2013-06-22 20:34] #664 closed, assigned to LunNova

[2013-06-22 20:43] Slind14 commented on #664
yeah, but they wouldnt if it would be still supported, too

[2013-06-22 20:44] alicheek commented on #664
why would that be? :/

[2013-06-22 21:15] LunNova commented on #678
It looks like the TE discrepancy fixer causes problems if it runs exactly
when a turtle moves. Will make it delay a tick and recheck synchronously.
May need to wait a day for the fix, just arrived on family holiday and they
will probably expect me to have "fun".
On 22 Jun 2013 17:37, "FunkD00BiesT" notifications@github.com wrote:

[2013-06-22 21:34] Slind14 commented on #664
i asked them before, they said it is to much work and they will focus on more important stuff

[2013-06-22 21:35] alicheek commented on #664
lol I would of said it was important , oh well :P

[2013-06-22 22:32] JFDreyer commented on #678
Cool man, thanks for the quick responce! Also enjoy your holiday!

[2013-06-23 06:34] cjm721 opened #805 "[MCPC+ 67] [TT 1941] Thaunmcraft Recursive Add"
Very similar to #748

[2013-06-23 06:44] cjm721 commented on #787
I fell like an idiot... Inside of Sirse's buildcraft 3.4.3 zip are two folders one for mcpc and one for vanilla. Pulled the mcpc one out and it patched correctly.

[2013-06-23 06:44] #787 closed, assigned to LunNova

[2013-06-23 17:10] Drehmini opened #806 "[TT 1942] Factorization Router and Autocrafting Table MKII deadlocks"
Here is the TT log : https://gist.github.com/Drehmini/5845743

Here is the error that causes the server to deadlock : http://i.imgur.com/CCDEHGC.jpg

I've tried removing TT and the server works just fine.

EDIT : Also I'm getting a Xycraft MutliBlock Validation failed.

[2013-06-23 18:04] Bucky420 commented on #803
new error

java.lang.NoSuchFieldError: M
    at net.minecraft.world.WorldServer.func_72963_a(WorldServer.java:186)
    at net.minecraft.world.World.<init>(World.java:384)
    at net.minecraft.world.WorldServer.<init>(WorldServer.java:138)
    at net.minecraft.server.MinecraftServer.func_71247_a(MinecraftServer.java:317)
    at net.minecraft.server.dedicated.DedicatedServer.func_71197_b(DedicatedSe

[2013-06-23 18:41] mainsheep opened #807 "High tick rate from area 0 0"
There is a returning problem with the area 0 0. This problem has been through most of the TT versions. Server uptime is now 1 day 2hours, so the stability is as good as it never has been! :) I just need this area 0 0 problem solved, and TT is as stable as never before.

Thanks for the continued excellet work nallar!

profile c 0 0

[2013-06-23 18:42] mainsheep commented on #807
Running TT 1941 now, by the way

[2013-06-23 19:27] darkdeath1332 commented on #807
What does /ticks say below the slowest chunk?

under World Stats, global TPS and the time

[2013-06-23 20:10] Drehmini commented on #806
This was actually caused by a Xycraft tank and secret rooms mod.

[2013-06-23 20:10] #806 closed, assigned to LunNova

[2013-06-23 21:03] mainsheep commented on #807
I restarted the server, so the problem is temporarly fixed. I'll post the full stats once the problem reappear, which it will in 12hours or so :)

Thanks.

[2013-06-23 21:07] Nohau commented on #807
+1 see this every 6+ hrs as well

[2013-06-23 21:51] Slind14 opened #808 "[TT1939]critical server error handling a packet - kicking 4179"
2013-06-23 17:36:43 [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 4179
java.lang.NullPointerException
    at yc.preHandleSpawn(World.java:1053)
    at yc.d(World.java)
    at qx.a(EntityPlayer.java:864)
    at net.minecraftforge.common.ForgeHooks.onPlayerTossEvent(ForgeHooks.java:386)
    at qx.c(EntityPlayer.java:793)
    at rq.b(Container.java:404)
    at s

[2013-06-23 23:38] EricSihaoLin opened #809 "Architect Table"
2013-06-23 17:39:36 [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.builders.TileArchitect @1784200125 in Overworld/0 at x, y, z: -2469, 115, 4140
java.lang.NullPointerException:  - This function is disabled; call version with metadata instead.
    at appeng.common.AppEngMultiBlock.a(AppEngMultiBlock.java:413)
    at buildcraft.api.blueprints.BptBlock.getSignature(BptBlock.java:

[2013-06-24 01:02] cjm721 opened #810 "[Crash] [MCPC+ 67] [TT 1942] AE Crash on chunk being loaded."
Soon as the chunk is loaded (still looking where this one is) server crashes.

"Entities in Overworld/0 - 1" Id=126 BLOCKED on nallar.collections.SynchronizedList@5d97183 owned by "Entities in Overworld/0 - 2" Id=127
    at nallar.collections.SynchronizedList.add(SynchronizedList.java:22)
    -  blocked on nallar.collections.SynchronizedList@5d97183
    at appeng.util.Platform.addStackToList(Platf

[2013-06-24 06:18] mainsheep commented on #807
darkdeath1332, here are the info you requested:

[2013-06-24 07:44] #775 closed, assigned to LunNova

[2013-06-24 15:39] Slind14 opened #811 "Exception Ticking world"
2013-06-24 17:26:44 [SEVERE] [TickThreading] Exception ticking world Overworld/0
Stack trace unavailable. Add -XX:-OmitStackTraceInFastThrow to your java parameters to see all stack traces.
2013-06-24 17:26:44 [SEVERE] [TickThreading] The server appears to have deadlocked.
Last tick 51s ago.
Waiting ThreadManagers: Entities in Overworld/0, World Tick

"Async ChunkLoader" TIMED_WAITING on java.util

[2013-06-24 16:05] Slind14 commented on #802
i think it is related to rangeupgrades

[2013-06-24 16:30] Jared39 opened #812 "AuraWorldTicker crash not fixed."
Hey, I am using version 1943 where the AuraWorldTicker crash is supposed to be fixed but I am still recieving the crash:

2013-06-24 12:13:18 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-06-24 12:13:22 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.Vers

[2013-06-24 17:31] Slind14 opened #813 "[TT1943] Macerator"
2013-06-24 19:29:02 [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 682145
java.lang.ClassCastException: ic2.advancedmachines.common.TileEntityRotaryMacerator cannot be cast to gregtechmod.api.BaseMetaTileEntity
    at gregtechmod.common.items.GT_MetaMachine_Item.placeBlockAt(GT_MetaMachine_Item.java:143)
    at yc.a(World.java:4367)
    at vq.a(ItemBlock.java:

[2013-06-24 20:54] darkdeath1332 opened #814 "Huge error after updating"
Just updated to latest version and installed Towny, now hitting this error;

2013-06-24 21:59:03 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-06-24 21:59:07 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.VersionCheckTickHandler@6943aef6
2013-06-24 21:59

[2013-06-24 21:16] LunNova commented on #814
That is still only part of the error, full log please?

Won't be able to fix this until at the earliest Saturday, downgrade to what
was working before.
On 24 Jun 2013 21:54, "darkdeath1332" notifications@github.com wrote:

[2013-06-25 09:16] HaoSs07 commented on #674
also getting spammed with this in latest TT 1943

2013-06-25 12:18:38 [SEVERE] [TickThreading] Failed to handle packet from unknown
java.net.SocketTimeoutException: Read timed out
at java.net.SocketInputStream.socketRead0(Native Method)
at java.net.SocketInputStream.read(Unknown Source)
at java.net.SocketInputStream.read(Unknown Source)
at java.net.SocketInputStream.read(Unknown Source)
at java.io

[2013-06-25 09:34] HaoSs07 commented on #674
also after every failed to handle packet i get this
94.**.40.38:42131 lost connection
(94.**.40.38 is the server ip, always different port,only change i made is update the gamecp. and now i use gamespy4 to scan server for online/offline, but i don't see problems there. its online. )

[2013-06-26 09:27] solomon56 opened #816 "[TT 1943] Multiple Exception ticking TileEntity thermalexpansion and buildcraft refinery"
2013-06-26 02:10:38 [INFO] [ForgeModLoader] Loading dimension 8 (world) (ho@164314b0)
2013-06-26 02:10:38 [INFO] [TickThreading] Threading initialised for world Nexus/8
2013-06-26 02:10:41 [SEVERE] [TickThreading] Exception ticking TileEntity c buildcraft.factory.TileRefinery @192776715 in Overworld/0 at x, y, z: -336, 83, 93
java.lang.NullPointerException
        at net.minecraftforge.liquids.Liq

[2013-06-26 09:28] LunNova commented on #816
Can you break and replace the refinery at the coordinates in the error
message?
On 26 Jun 2013 10:27, "solomon56" notifications@github.com wrote:

[2013-06-26 15:49] Jared39 commented on #812
Anyone? This is an increasing problem on my server since it is extremely unpredictable.

[2013-06-26 15:50] LunNova commented on #806
In case you missed my reply on reddit, please stop using TT until I can fix
the issues, on holiday until Saturday.
On 23 Jun 2013 21:10, "Drehmini" notifications@github.com wrote:

[2013-06-26 15:51] LunNova commented on #812
Can you paste the patcher log? Might explain why the fix doesn't work. On
holiday, can't actually fix it just now.
On 26 Jun 2013 16:49, "Jared39" notifications@github.com wrote:

[2013-06-26 15:56] Jared39 commented on #812
Do you want the patcher log of when I first patched it or do you want the latest log?

[2013-06-26 16:12] LunNova commented on #812
Either, should make no difference.
On 26 Jun 2013 16:57, "Jared39" notifications@github.com wrote:

[2013-06-26 16:17] Jared39 commented on #812
I deleted everything related to TT and I reinstalled it with a fresh patcher and log: http://pastebin.com/EEJmGEtR

[2013-06-26 16:22] LunNova commented on #812
Looks like the patch worked, `2013-06-26 12:14:07 [FINE] [TickThreading]
Patching thaumcraft.common.AuraWorldTicker with replaceMethod()
{populateAuraUpdateList}`

Can you check that it's st
On 26 Jun 2013 17:18, "Jared39" notifications@github.com wrote:

[2013-06-26 16:23] LunNova commented on #812
Looks like the patch worked, `2013-06-26 12:14:07 [FINE] [TickThreading]
Patching thaumcraft.common.AuraWorldTicker with replaceMethod()
{populateAuraUpdateList}`

Can you check that it's still happening? If it is, seems to be a different
issue.
On 26 Jun 2013 17:18, "Jared39" notifications@github.com wrote:

I deleted everything related to TT and I reinstalled it with a fresh
patcher and log: htt

[2013-06-26 16:23] Jared39 commented on #812
Yeah, I will get back to you if it crashes again.

[2013-06-26 17:01] Jared39 commented on #812
It just crashed again for no reason:

2013-06-26 12:28:58 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-06-26 12:29:01 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.VersionCheckTickHandler@778789a9
2013-06-26 12:29:16 [INFO] [TickThreading] Threading in

[2013-06-26 20:05] Slind14 opened #817 "Quarrys need to much ressources with 1943"
![ftb ultimate v1 1 2_2013-06-26_22-04-37](https://f.cloud.github.com/assets/3914677/711862/bce1e298-de9b-11e2-8e56-4b6559c0a3d7.jpg)

[2013-06-27 22:06] ghost commented on #817
Could we get the full screen? Also, keep in mind quarries are doing complicated logic to quickly mine out an area and they are also chunk loading themselves.

[2013-06-28 00:16] Slind14 commented on #817
mhh 11% from one quarry at 50 players online

[2013-06-28 17:01] LunNova commented on #817
Sometimes, a quarry can break and recheck the area to be mined every tick.
It should not happen regularly, if it does, break and replace the quarry.
People should also not be using quarries as chunkloaders for their bases.

This is fixed in newer BC versions, but not any 1.4.7 versions.
On 28 Jun 2013 01:16, "Slind14" notifications@github.com wrote:

[2013-06-29 04:46] Kusinagie opened #818 "MC 1.4.7 TTbuild-1943 Twilight Forest Portal"
Recently restarted the world and noticed when traveling to the Twilight forest that the return portal is not spawned in. I spawn in the dimension fine and there are no errors in any logs just no return portal.

Twilight forest is at version 1.15.4
Forge is at version 6.6.2.534
(Direwold20 pack v5.3.2)
Let me know what info i can get you if any

[2013-06-29 04:57] Kusinagie opened #819 "MC 1.4.7 TTbuild-1943 Buildcraft Obsidian Pipes"
The obsidian pipes work as expected when items touch them except i cant power them to get a bigger radius.No matter which engine i use they don't suck anything up unless it touches it.

[2013-06-29 05:37] Slind14 commented on #817
k thanks

[2013-06-29 05:37] #817 closed, assigned to LunNova

[2013-06-29 18:29] darkdeath1332 opened #820 "Preformance leak"
The command /tps of tickthreading says that the server runs almost 100% CPU while my htop says 60.....

This should be an preformance issue.

![image](https://f.cloud.github.com/assets/3824354/726324/c70c47cc-e0e9-11e2-8d32-9d2068470d0e.png)

[2013-06-29 18:42] darkdeath1332 commented on #820
why is tickthreading not saying the same cpu useage as my machine says?

[2013-06-29 23:22] LunNova commented on #820
TT doesn't make everything threaded, so some things can only run on one CPU at a time, making the load higher.

There are experimental options to improve this - concurrentNetworkTicks and waitForTileEntityTickCompletion can be changed, which should fix this. However, they are quite buggy. Isn't much else I can do, sorry. :(

[2013-06-29 23:22] #820 closed, assigned to LunNova

[2013-06-29 23:30] LunNova commented on #799
I'd probably go with the 3.8GHz but less cores, as TT can't multithread all parts of minecraft, so per-core speed is still quite important.

[2013-06-29 23:30] #799 closed, assigned to LunNova

[2013-06-30 00:00] #812 closed, assigned to LunNova

[2013-06-30 00:49] #808 closed, assigned to LunNova

[2013-06-30 00:51] #800 closed, assigned to LunNova

[2013-06-30 00:53] LunNova commented on #795
Closing this, as AE for 1.4.7 has serious lag problems, it's fixed in 1.5 AE versions, and I can't fix it without replacing much of AE.

[2013-06-30 00:53] #795 closed, assigned to LunNova

[2013-06-30 00:54] LunNova commented on #811
"Stack trace unavailable. Add -XX:-OmitStackTraceInFastThrow to your java parameters to see all stack traces."

Please do this, can't actually see the error here. Also, do you have a full log? You only gave part of the deadlock detector report.

[2013-06-30 00:57] LunNova commented on #813
Not a TT issue, happening in code which I have not patched, during network ticks which aren't concurrent under TT unless you enable that in the config.

[2013-06-30 00:57] #813 closed, assigned to LunNova

[2013-06-30 00:59] LunNova commented on #809
Not a TT issue, the BC version you're using is not compatible with the AE version that you're using. One of them probably needs updated.

[2013-06-30 00:59] #809 closed, assigned to LunNova

[2013-06-30 01:09] #802 closed, assigned to LunNova

[2013-06-30 01:11] LunNova commented on #674
`java.net.SocketTimeoutException: Read timed out` just means that the player disconnected. Is your host having network problems?

[2013-06-30 01:39] LunNova commented on #807
Can you get latest, run the server until the issue occurs, and then run `/ticks d` in console and paste the result here?

[2013-06-30 01:45] #816 closed, assigned to LunNova

[2013-06-30 01:51] #805 closed, assigned to LunNova

[2013-06-30 02:01] Slind14 commented on #802
same with harvester

[2013-06-30 02:29] LunNova commented on #802
After the build with that fix? The fix should fix both, if it's the same error.

[2013-06-30 02:30] Slind14 commented on #802
k, thanks

[2013-06-30 02:32] Slind14 commented on #761
at this point i have to admit, something between TT1917 and TT36+ changed. The utilization raised.

[2013-06-30 04:51] LunNova commented on #807
Should be fixed in latest. If it's still broken, give the output from `/ticks d`.

[2013-06-30 06:38] Slind14 opened #821 "Failed to load Chunk, since TT"
Im getting the following for every chunk, since the installation of TT.
on a Mindcrack Server

2013-06-30 07:10:09 [SEVERE] [ForgeModLoader] Failed to load chunk at 2064,35
java.lang.NullPointerException
    at aam.a(ThreadedChunkLoader.java:172)
    at aam.a(ThreadedChunkLoader.java:161)
    at im.f(ThreadedChunkProvider.java:708)
    at im.getChunkAtInternal(ThreadedChunkProvider.java:519)
    a

[2013-06-30 11:20] LunNova commented on #821
Which TT build are you using? That seems impossible, this is line 172:

[code]

[2013-06-30 11:21] Slind14 commented on #821
1917 and 1943

[2013-06-30 11:23] LunNova commented on #821
It was fixed in 1919, so that's the problem. Can you post the error with 1943? It's probably a slightly different error.

[2013-06-30 11:23] Slind14 commented on #821
k, will check tonight

[2013-06-30 12:03] LunNova commented on #788
Is this still happening? Can you get a .nps snapshot with jvisualvm if it is?

[2013-06-30 13:12] Slind14 commented on #788
dont know how to do a .nps snapshot via shell without surface

[2013-06-30 13:14] Slind14 opened #822 "TT1959 Pointless repeat set on threadlocal"
2013-06-30 15:13:50 [SEVERE] [TickThreading] Pointless repeat set on threadlocal
        at nallar.tickthreading.util.BooleanThreadLocal.set(BooleanThreadLocal.java:33)
        at nallar.tickthreading.util.BooleanThreadLocal.set(BooleanThreadLocal.java:13)
        at vq.processBlockPlace(ItemBlock.java:131)
        at vq.a(ItemBlock.java:116)
        at ur.a(ItemStack.java:135)
        at ir.a(Ite

[2013-06-30 13:16] Slind14 commented on #778
ok, after we discoverd that still with TT most of the stuff is single threaded everyone should still look at single thread power.

in this case:
http://www.cpubenchmark.net/singleThread.html
and oc the new haswells with 22nm are on top ;)

can be closed

[2013-06-30 14:13] Slind14 commented on #768
1959 is working again

[2013-06-30 14:13] #768 closed, assigned to LunNova

[2013-06-30 14:53] HaoSs07 commented on #674
nop. no network problems.

[2013-06-30 16:43] Drehmini opened #823 "[TT 1962] Deadlock Issues"
https://gist.github.com/Drehmini/5895891/raw/1e390e22d32f826b246dcbc0f5b9141b2d04e792/gistfile1.txt

Not sure exactly what is going on, but it recovers and then deadlocks again.

[2013-06-30 16:47] Drehmini commented on #823
Also I've added -XX:-OmitStackTraceInFastThrow to the launch parameters and it stills tells me to add that.

[2013-06-30 17:48] Slind14 opened #824 "TT1959 Exception ticking TileEntity c"
[SEVERE] [TickThreading] Exception ticking TileEntity c appeng.me.tile.TileController @1519110360 in Overworld/0 at x, y, z: 1543, 58, 507
java.lang.NullPointerException
        at appeng.me.crafting.PushCraftRequest.Craft(PushCraftRequest.java:79)
        at appeng.me.tile.TileController.advanceCraftingCursor(TileController.java:481)
        at appeng.me.tile.TileController.g(TileController.java:

[2013-06-30 17:53] LunNova commented on #823
Latest should log more info, hopefully showing why the exception has no stack trace.

Deadlock still not fixed.

[2013-06-30 17:56] Slind14 commented on #821
1959 is working

[2013-06-30 17:56] #821 closed, assigned to LunNova

[2013-06-30 17:58] Slind14 opened #825 "TT 1959 - More than annoyng - Quarrys"
We replaced ever single Quarry:
DIM29 is a farming world, there is nothing than quarrys.
There was/is no problem with TT1917
![ftb ultimate v1 1 2_2013-06-30_19-55-17](https://f.cloud.github.com/assets/3914677/727638/8f7d976e-e1ae-11e2-8ad3-1431b32854cb.jpg)

[2013-06-30 17:58] Drehmini commented on #823
This may be interesting :

2013-06-30 13:57:50 [WARNING] [MiscPeripherals] Turtle c dan200.turtle.shared.Re
dPowerTileEntityTurtleExpanded @1939206914 in Overworld/0 at x, y, z: 750, 63, 1
3 requested a fakeplayer but the world mismatches, unexpected things may happen!
 (t=null p=in@6612ec8b)
2013-06-30 13:57:50 [WARNING] [MiscPeripherals] Turtle c dan200.turtle.shared.Re
dPowerTileEntityTurtleExp

[2013-06-30 18:02] LunNova commented on #825
Are the quarries still functioning correctly, or stuck?

[2013-06-30 18:27] Drehmini opened #826 "[TT 1963] Bibliocraft Severe Error"
2013-06-30 14:24:12 [SEVERE] [TickThreading] Removed c jds.bibliocraft.tileenti
ies.TileEntityArmorStand @1214879742 in Overworld/0 at x, y, z: 780, 70, 1258 a
 it should have been unloaded.
Removed c jds.bibliocraft.tileentities.TileEntityArmorStand @572761918 in Overw
rld/0 at x, y, z: 771, 70, 1258 as it should have been unloaded.
Removed c jds.bibliocraft.tileentities.TileEntityArmorStand @198

[2013-06-30 18:34] Drehmini commented on #826
Meant to post this in another issue.

[2013-06-30 18:34] #826 closed, assigned to LunNova

[2013-06-30 18:34] Drehmini commented on #823
Also,

2013-06-30 14:24:12 [SEVERE] [TickThreading] Removed c jds.bibliocraft.tileenti
ies.TileEntityArmorStand @1214879 in Overworld/0 at x, y, z: 780, 70, 1258 a
it should have been unloaded.
Removed c jds.bibliocraft.tileentities.TileEntityArmorStand @5727619 in Overw
rld/0 at x, y, z: 771, 70, 1258 as it should have been unloaded.
Removed c jds.bibliocraft.tileentities.TileEntityArmorStand @19

[2013-06-30 18:49] Slind14 commented on #825
working perferct.
the first one for example

quarry on normal size (without landmarks)
quarry, energy tesseract, enderchest
the enderchest gets emptied by a me system

[2013-06-30 19:12] #823 closed, assigned to LunNova

[2013-06-30 19:39] LunNova commented on #825
Try not connecting the quarry directly to the enderchest, they are slow to access and it may be being slow when adding items to the chest. Item tesseract, or quarry -> pipe -> enderchest.

[2013-06-30 19:54] Nohau opened #827 "MC 1.5.2 TT"
Is it safe to use TT with Forge Minecraft yet?

What about MCPC & TT 1.5.2?

[2013-06-30 19:55] LunNova commented on #823
Is the Armor Stand at `772, 70, 1258` broken?

[2013-06-30 19:56] LunNova commented on #827
Doesn't work at all with MCPC+ yet, likely very buggy with 1.5.2.

[2013-06-30 19:56] #827 closed, assigned to LunNova

[2013-06-30 20:00] Drehmini commented on #823
It wasn't broken, was just graphically overlapping. There were 2 beside it.

[2013-06-30 20:39] Tencao commented on #803
Still happening on build 55 sadly

[2013-06-30 23:28] HaoSs07 opened #828 "auto update/request"
Is there anyway to make tt auto update and run patch using ssh ?

host is on centos

[2013-06-30 23:30] LunNova commented on #828
Use the script here http://forum.feed-the-beast.com/threads/tickthreading-concurrent-entity-tile-entity-ticks-and-other-optimisations.6498/page-27#post-304294

[2013-06-30 23:30] #828 closed, assigned to LunNova

[2013-06-30 23:34] HaoSs07 commented on #828
[root@s1 service192]# sh update.sh
Usage: ./UPDATETT.sh <build number>
[root@s1 service192]#

there is no UPDATETT.sh

if run manually

[root@s1 service192]# wget http://nallar.me/buildservice/job/TickThreading/$1/artifact/target/TickThreading.jar -O mods/TickThreading-$1.jar
--2013-07-01 02:39:22--  http://nallar.me/buildservice/job/TickThreading//artifact/target/TickThreading.jar
Resolving nalla

[2013-06-30 23:52] #448 closed, assigned to LunNova

[2013-06-30 23:53] #803 closed, assigned to LunNova

[2013-07-01 00:05] LunNova commented on #828
"UPDATETT.sh" is just what I call it. Note that it tells you to use a build number, you'll want to run `./update.sh <build number here>`

[2013-07-01 00:06] LunNova commented on #828
If you want to grab the latest build, instead of giving a build number give "lastSuccessfulBuild".

[2013-07-01 00:14] HaoSs07 commented on #828
youp. i'm blind as fu*k :)) working

[2013-07-01 00:39] #712 closed, assigned to LunNova

[2013-07-01 00:40] LunNova commented on #678
Can't get this to happen in testing, can you confirm that the fix works?

[2013-07-01 03:27] cjm721 commented on #766
Another way to cause this is to take drives out of the system then quickly put them back in the drive. Apprently this weekend has been defrag/move AE system as had this crash about 20 times in the past two days.

[2013-07-01 04:38] cjm721 opened #829 "[MCPC+ 67] [TT1966] CC computers Number format Exeption"
Any computer made is usable as if it is shutdown, error on console is bellow. Older computers/turtles work fine.

[2013-07-01 06:11] Slind14 commented on #825
and the tesseract is ok? diretly connected ?

[2013-07-01 07:57] JFDreyer commented on #678
I'll update and repeat the test.

Ok repeated test and didn't loose one turtle, also setup a frame ship to test if the same issues on it have been solved neither of them had and blocks disapear or anything.

From my side this looks fixed in build #1966.

[2013-07-01 10:08] LunNova commented on #829
Maybe the lastid.txt file in world/computers has been corrupted, make sure it's set to something sensible.

[2013-07-01 12:08] Drehmini commented on #719
Nallar,

I know you stated that this is a problem with CC/Peripherals, but does this recent commit fix the issue, or is this something else entirely?

[2013-07-01 12:45] LunNova commented on #719
I mentioned the wrong issue, that fix was actually for the AE storage bus deadlock.

[2013-07-01 15:11] Slind14 commented on #825
i added pipes between the quarry and enderchest, no change

[2013-07-01 21:08] Jonathan1999 opened #830 "Not up to date, when it is?"
I just installed tickthreading 1967 on my server, patched it and whenever I start up my server it crashes, I checked the log and it says its not up to date, when I'm using the latest version, here's the log:

http://pastebin.com/yU7XyD3Y

[2013-07-01 23:45] LunNova opened #831 "Energy Bridge AIOOBE"
2013-07-01 21:03:59 [SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.powerconverters.common.TileEntityEnergyBridge @413236221 in Overworld/0 at x, y, z: 466, 65, 38
java.lang.ArrayIndexOutOfBoundsException: 5
        at gregtechmod.api.metatileentity.BaseMetaTileEntityICUEMJ.injectEnergy(BaseMetaTileEntityICUEMJ.java:33)
        at ic2.core.EnergyNet.emitEnergyFrom(EnergyNet.j

[2013-07-01 23:45] LunNova opened #832 "Liquiduct NPE"
2013-07-01 20:18:45 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.block.conduit.TileConduitLiquid @10094899 in Overworld/0 at x, y, z: 473, 67, 26
java.lang.NullPointerException
        at thermalexpansion.block.conduit.TileConduitLiquid.extractLiquid(TileConduitLiquid.java:571)
        at thermalexpansion.block.conduit.GridLiquid.transferLiquid(GridLiquid.java:246)

[2013-07-02 00:39] Tencao opened #833 "1.5.2 Failed to instantiate class"
2013-07-02 01:37:19 [WARNING] [TickThreading] Failed to instantiate class nallar.tickthreading.util.contextaccess.ContextAccessReflection
java.lang.Error: Wrong class returned: class nallar.tickthreading.util.contextaccess.ContextAccessReflection, expected ContextAccessProvider
    at nallar.tickthreading.util.contextaccess.ContextAccessProvider.getContextAccess(ContextAccessProvider.java:17)

[2013-07-02 01:03] LunNova commented on #829
Confirmed that that would cause this.

[2013-07-02 01:03] #829 closed, assigned to LunNova

[2013-07-02 01:05] cjm721 commented on #830
run the generated patchme.bat or patchme.sh

[2013-07-02 01:07] LunNova commented on #830
It seems that it is patched, `2013-07-01 22:01:46 [INFO] [ForgeModLoader] Loaded 8 patched classes for AppliedEnergistics.zip.`.

@Jonathan1999 Can you get latest and try again? It will still be broken, but the log will now show which files it checked, which may explain why it doesn't work.

Post the full log here.

It's possibly related to the minecraft install being in the root of `R`, not in a

[2013-07-02 01:15] #831 closed, assigned to LunNova

[2013-07-02 01:27] LunNova commented on #833
Just a warning, shouldn't break anything. Will mean slightly worse performance for a few things, but it shouldn't break anything as it just falls back to the slow way of determining class context.

I can't fix this, as it depends on sun internal API. Maybe try updating your JRE?

[2013-07-02 01:41] LunNova commented on #833
Can you try latest, and give the log? Might explain why it's not working, and give a possible fix. Also paste the first line of TT's `/tps` command.

[2013-07-02 01:50] Tencao commented on #833
TickThreading v1.5.2.66 for MC1.5.2

013-07-02 02:46:25 [WARNING] [TickThreading] Unable to set up context access class class nallar.tickthreading.util.contextaccess.ContextAccessReflection
java.lang.Error: Wrong class returned: class nallar.tickthreading.util.contextaccess.ContextAccessReflection, expected ContextAccessProvider. Stack:
sun.reflect.Reflection at -2sun.reflect.Reflection at -1nalla

[2013-07-02 02:24] LunNova commented on #833
I messed that up sorry, can you try latest again?

[2013-07-02 02:36] Tencao commented on #833
Tested again on version 67, same results.

[WARNING] [TickThreading] Unable to set up context access class class nallar.tickthreading.util.contextaccess.ContextAccessReflection
java.lang.Error: Wrong class returned: class nallar.tickthreading.util.contextaccess.ContextAccessReflection, expected ContextAccessProvider. Stack:
sun.reflect.Reflection at -2
sun.reflect.Reflection at -1
nallar.tickthrea

[2013-07-02 03:56] justin0a0 opened #834 "Crash on start 1.5.2 build 67-69"
On start of the server I get a crash saying that the server is not patched.
Running Java 1.7.0_15 CentOS 6.2
Patcher log - http://pastebin.com/KYE64Zb2
Tickthreading log - http://pastebin.com/4hA9S887
ForgeModloader log - http://pastebin.com/egcYp0wY
Server log - http://pastebin.com/S0t1uvfn

Previously used build 32 and it loaded just fine updated to 67 had the following issue so tried 68 and 69

[2013-07-02 06:21] Jonathan1999 commented on #830
At the time I was using the latest version, now I'm using 1970. It was because it's at the root of my RAMDisk, it's fine now, thanks for your help.

[2013-07-02 06:21] #830 closed, assigned to LunNova

[2013-07-02 07:49] Nohau commented on #834
Did you run the Patchme.sh file in the root minecraft folder that was created?

[2013-07-02 08:23] justin0a0 commented on #834
If you check the Patcher log you will see yes I did. even reset and did it twice same error on both setups.

[2013-07-02 12:47] mainsheep commented on #807
This is indeed fixed :) Thank you nallar!

[2013-07-02 12:47] #807 closed, assigned to LunNova

[2013-07-02 13:26] LunNova commented on #674
Not a TT issue, confirmed that it happens with just forge. Not sure what causes it.

[2013-07-02 13:26] #674 closed, assigned to LunNova

[2013-07-02 17:15] Drehmini opened #835 "[TT 1963] Deadlock"
https://gist.github.com/Drehmini/5911178

Not sure what is going on, looks like there are quite a few tile ticking errors.

[2013-07-02 18:22] Tencao opened #836 "Can't place GT plates"
After patching the mods with tickthreading, you can no longer place plates on machines, it just does the interact right click instead.

Sadly, there is no error log to go with this issue

[2013-07-02 23:13] justin0a0 commented on #834
This was all due to the out of date patches for MineFactory Reloaded.
I have gone back to the official releases and all is well again.
Just a heads up.

[2013-07-02 23:13] #834 closed, assigned to LunNova

[2013-07-03 02:04] #832 closed, assigned to LunNova

[2013-07-03 07:46] wasbeer opened #837 "crash with mod 'Zombie Awareness', both on MCPC+ and vanilla server with TT"
Without TT, Zombie Awareness runs fine on both vanilla and MCPC+ server
See: https://gist.github.com/wasbeer/5916157

[2013-07-03 08:30] Voyevoda opened #838 "TT - Critical server error in handling a packet"
2013-07-03 18:28:59 [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 1
java.lang.NullPointerException
        at org.bukkit.craftbukkit.CraftChunk.getHandle(CraftChunk.java:70)
        at org.bukkit.craftbukkit.CraftChunk.<init>(CraftChunk.java:56)
        at keepcalm.mods.bukkit.ToBukkit.chunkFromCoords(ToBukkit.java:69)
        at keepcalm.mods.bukkit.ToBukkit

[2013-07-03 08:56] ThuGie opened #839 "java.lang.NullPointerException"
java.lang.NullPointerException
        at org.bukkit.Bukkit.getLogger(Bukkit.java:188)
        at org.bukkit.configuration.file.YamlConfiguration.loadConfiguration(YamlConfiguration.java:180)
        at org.bukkit.craftbukkit.Main.loadOptions(Main.java:159)
        at net.minecraft.server.MinecraftServer.fmlReentry(MinecraftServer.java:1620)
        at sun.reflect.NativeMethodAccessorImpl.invoke0(

[2013-07-03 12:17] LunNova commented on #838
Update BukkitForge, http://jenkins.bukkitforge.com:8080/job/BukkitForge-1.4.7/4/

[2013-07-03 12:17] #838 closed, assigned to LunNova

[2013-07-03 14:29] wasbeer opened #840 "Crash when boarding ship"

[2013-07-03 14:29] wasbeer opened #841 "Crash when boarding ship"
When boarding any ship (vanilla, Awger's smallboats mod, ...), client registers Nullpointer.exception (https://gist.github.com/wasbeer/5918491)
TT log: (http://pastebin.com/vhwEyGT3)

[2013-07-03 14:38] #840 closed, assigned to LunNova

[2013-07-03 14:40] Tencao opened #842 "1.5.2 IC2 Issue"
There seems to be an issue with IC2 power storage blocks (For example, batbox) That will only accept power from the output face, and output power from the output face. This bug is only present with tickthreading installed

TickThreading Version - #74
IC2 Version - 2_1.117.385-lf

[2013-07-03 14:42] Tencao opened #843 "1.5.2 Block Lag issue"
There seems to be some weird blocklag going on with the 1.5.2 build. It appears to mainly be the packets been sent to the clients, as it's most apparent with falling blocks, and blocks destroyed by other players.

The lag can sometimes be as big as 3-5 second wait time before the blocks disappear

Tickthreading Version - 74

[2013-07-03 14:44] Tencao opened #844 "1.5.2 Galacticraft error"
2013-07-02 19:33:07 [SEVERE] [TickThreading] Exception ticking entity GCCorePlay
erMP['ComanderEx'/71459, l='world', x=-1171.03, y=67.00, z=1314.68](ComanderEx a
t -1171.026075439556,67.0,1314.678901131617) in rX: -74, rZ: 82, hashCode: 53738
78/Overworld/0:
java.lang.NullPointerException
        at micdoodle8.mods.galacticraft.core.entities.GCCorePlayerMP.func_70071_
h_(GCCorePlayerMP.java:360)

[2013-07-03 15:36] #842 closed, assigned to LunNova

[2013-07-03 16:22] LunNova commented on #843
Disable `rateLimitChunkUpdates` in the config.

[2013-07-03 16:22] #843 closed, assigned to LunNova

[2013-07-03 17:15] LunNova commented on #842
Why did you close this? Did you find what was causing it?

[2013-07-03 17:28] Tencao commented on #842
The issue ended up been IC2 Dev version, after looking into it further, it happened even without tickthreading, and would only work correctly if the wires was setup and then the server was restarted

IC2 version 376 seems stable and working without issues

[2013-07-03 19:54] wasbeer commented on #841
Indeed fixed. Thank you

[2013-07-03 19:58] LunNova commented on #839
You have a broken configuration file, probably your bukkit.yml:

`at org.bukkit.configuration.file.YamlConfiguration.loadConfiguration(YamlConfiguration.java:180)`

[2013-07-03 19:58] #839 closed, assigned to LunNova

[2013-07-03 21:27] #841 closed, assigned to LunNova

[2013-07-03 21:29] LunNova commented on #833
Can't replicate it, and there is no obvious reason why it's giving bad data. I'll make the log less spammy then close this.

[2013-07-03 21:33] #833 closed, assigned to LunNova

[2013-07-03 21:39] #835 closed, assigned to LunNova

[2013-07-04 01:32] joey19982 opened #845 "TT1980 - Deadlocks"
The server has been continually deadlocking then recovering every few minutes. Here is the log:
http://pastebin.com/MpCP9c0B

I only included the first few as the whole thing exceeds Pastebin's limit. Hopefully that gives you enough information.

[2013-07-04 01:33] LunNova commented on #845
I need the full log, use https://gist.github.com/ for pastes.

[2013-07-04 01:47] LunNova commented on #845
That latest fix is based on me guessing at what the problem is, might be completely irrelevant :P

[2013-07-04 05:52] Nohau commented on #836
TT Version and are you using MCPC or FTB server?

[2013-07-04 06:00] Tencao commented on #836
MCPC version 592, and TT version 74 was the last one I tried this on

[2013-07-04 09:50] Nohau opened #846 "TT 1.5.2.84 / MCPC 592 - context access class"
2013-07-04 05:31:54 [WARNING] [TickThreading] Unable to set up context access class class nallar.tickthreading.util.contextaccess.ContextAccessReflection. Wrong class returned: class nallar.tickthreading.util.contextaccess.ContextAccessReflection, expected ContextAccessProvider. Stack:
nallar.tickthreading.util.contextaccess.ContextAccessReflection at -2
nallar.tickthreading.util.contextaccess.Con

[2013-07-04 11:09] darkdeath1332 opened #847 "Latest version eats CPU"
Ive been testing multiple versions on the same load quarrys and chunk loaders. This are our CPU results.

Latest version eats cpu, ive been testing with slind.

Our results;
57 - 83%  Build [1970
29 - 87% Build [1917
28 - 35% Build [1947
26 - 36% Build [1863
30 - 36% Build [1964

[2013-07-04 11:52] ThuGie commented on #839
You where right!
Even though i haven't even touched any config in ages..
That problem solved strait onto

27 achievements
java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
        at java.l

[2013-07-04 13:19] LunNova commented on #839
Delete your server jar, and use the server jar in the TickThreadingBackups folder.

[2013-07-04 14:53] Slind14 opened #848 "TT1970 -- Harvester still"
[SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.minefactoryreloaded.plants.TileEntityHarvester @1569933505 in Overworld/0 at x, y, z: -1105, 73, 1099
java.lang.NullPointerException
        at powercrystals.minefactoryreloaded.plants.TileEntityHarvester.activateMachine(TileEntityHarvester.java:131)
        at powercrystals.minefactoryreloaded.core.TileEntityFactoryPowered.g(Ti

[2013-07-04 16:47] darkdeath1332 commented on #845
I have the same error.

[2013-07-04 16:48] LunNova commented on #845
Paste the full error. @joey19982 still hasn't so I'm left to guess as to what is actually broken.

[2013-07-04 16:49] darkdeath1332 commented on #845
Here is my log....

http://www.mediafire.com/?54s451rp637l71l

[2013-07-04 16:49] #846 closed, assigned to LunNova

[2013-07-04 16:51] darkdeath1332 commented on #845
Full log, please fix it nallar :(

http://pastebin.com/2ecrm5VE

[2013-07-04 16:52] LunNova commented on #847
Nothing I can do without a .nps snapshot from jvisualvm. See earlier issues marked as "performance" for instructions on using it remotely. Will make a wiki page on using it soon.

[2013-07-04 17:14] darkdeath1332 commented on #845
I keep losing players, its crashing and spiking alot of times.

And why is nobody donateing? @nallar if you wish I could donate.

[2013-07-04 17:16] LunNova commented on #845
Make a backup, remove Twilight Forest from the real copy. Seems to be related to it, froze up saving twilight forest.

[2013-07-04 17:23] darkdeath1332 commented on #845
@nallar Will deleting the world help?

[2013-07-04 17:24] LunNova commented on #845
No, renaming the "twilight.fc" file might. Also another issue there, will fix it soon.

[2013-07-04 17:26] darkdeath1332 commented on #845
Ok ive got the file, backed up. In what do I have to rename it?...

[2013-07-04 17:27] LunNova commented on #845
Oh, to anything. Just said rename instead of delete in case you needed to use it. You can delete it if you made a backup.

[2013-07-04 17:27] darkdeath1332 commented on #845
Restart required?

[2013-07-04 17:28] LunNova commented on #845
May need to delete it while the server is stopped, TF will probably recreate it when you stop the server.

[2013-07-04 17:31] darkdeath1332 commented on #845
thanks, I hope its fixed.

[2013-07-04 17:31] LunNova commented on #845
The other crash you had will be fixed in that build. It should now recreate the file, but much smaller.

[2013-07-04 18:05] ThuGie commented on #839
Thank you so much! People been bothering me about the down time haha.

[2013-07-04 19:14] joey19982 commented on #845
Sorry I didn't get back to you @nallar.
I'll check out the latest build next time my server restarts and report back with the log. Also, I didn't even know that you had donations. I sent a bit of money your way as a thanks for everything you do here.

[2013-07-04 21:50] kenneaal opened #849 "Threading throws off timing for mcMMO"
mcMMO abilities last far longer than they are supposed to with TickThreading installed. Tested on 1.5.2 MCPC+, mcMMO 1.4.06

[2013-07-05 01:24] Drehmini opened #850 "[TT 1983] Deadlock"
https://gist.github.com/Drehmini/5931091

[2013-07-05 03:18] SuddenTurmoil opened #851 "[TT 1981 and earlier] Energy Tesseract Array Index"
Many of the energy tesseracts attached to Energy Converters from the Energy Converts mod in FTB throw this error every few minutes. Not every energy tesseract attached to an Energy Converter throws the error, and not every error appears to have an Energy Converter attached to it. The vast majority are the combination of the two.
Exception ticking TileEntity c thermalexpansion.transport.tileentity.

[2013-07-05 10:43] LunNova commented on #850
Two AE networks connected to each other = big problems.

[2013-07-05 10:49] LunNova commented on #851
Is that the full error message? Can't fix it without a stack trace :s

[2013-07-05 10:53] #850 closed, assigned to LunNova

[2013-07-05 13:18] SuddenTurmoil commented on #851
It was at the time, I had to add the stacktrace tag onto the server start file but there were too many people on my server to kick them off in good conscious. Early morning updating / backups have since let me add that on and get a full stack trace for you.
2013-07-05 08:10:14 [SEVERE] [TickThreading] Exception ticking TileEntity c thermalexpansion.transport.tileentity.TileTeleportEnergy @20367409

[2013-07-05 13:27] kenneaal opened #852 "IC2 energy net not properly adding tiles with TickThreading (MCPC+ 1.5.2)"
Placing blocks sometimes does not register the entity properly on the enet.
Error message to console: 2013-07-05 09:21:25 [WARNING] [IC2] EnergyNet.addTileEntity: c ic2.core.block.wiring.TileEntityElectricBatBox @122998143 in Overworld/0 at x, y, z: 2630, 73, 2484 is already added, aborting

IC2 v. 116.384, MCPC+ 1.5.2 build 492, TickThreading 1.5.2 build 71

[2013-07-05 13:35] kenneaal commented on #852
Not TT.

[2013-07-05 13:35] #852 closed, assigned to LunNova

[2013-07-05 14:36] #851 closed, assigned to LunNova

[2013-07-05 14:36] LunNova commented on #845
Thanks :D

[2013-07-05 16:42] HaoSs07 commented on #847
https://github.com/nallar/TickThreading/wiki

had some free time. already done

[2013-07-05 17:39] LunNova commented on #847
Thanks :D

@darkdeath1332 follow the instructions that @HaoSs07 has posted and I will be able to fix this.

[2013-07-05 18:34] elanini opened #853 "MC1.4.7 TTbuild 1970 - Endermen extremely slow to spawn"
They are usually quite quick to spawn everywhere in the end, often covering the asteroids off of the main island. However this is not the case with TickThreading - they are extremely slow to spawn. After installing TT I see maybe 1 or 2 in the middle of nowhere after waiting for quite a while.

I had made an enderman xp/pearl farm, which this completely breaks. Really hoping for a fix.

FastMobSpa

[2013-07-05 18:44] LunNova commented on #853
Try disabling fast spawning in the end, add dimension 1 to the list of dimensions it is disabled in.

[2013-07-05 21:14] cjm721 commented on #850
Is this a repeat of #766 or are they different?

[2013-07-05 21:16] Drehmini opened #854 "[TT 1984] Deadlock and a few errors"
https://gist.github.com/Drehmini/5937294

Also, is it normal for Forge to load all of the chickenchunk's chunkloaders on startup, even though they're set to offline disabled?

[2013-07-05 21:28] #766 closed, assigned to LunNova

[2013-07-05 21:28] LunNova commented on #850
Very similar, should now also be fixed.

[2013-07-05 21:43] #854 closed, assigned to LunNova

[2013-07-05 22:35] Drehmini opened #855 "[TT1991] Deadlocks 2: Deadlock Harder"
https://gist.github.com/Drehmini/5937650

[2013-07-05 22:38] joey19982 commented on #855
the electric boogaloo

[2013-07-05 22:40] LunNova commented on #855
Damnit, AE!

[2013-07-05 22:43] #855 closed, assigned to LunNova

[2013-07-05 22:47] joey19982 commented on #845
Getting some deadlocks here on #1988, however I don't think they are relating to this. You may have already fixed it since I see you've made a few more builds since I added this.

https://gist.github.com/joey19982/5937703

[2013-07-05 23:05] LunNova commented on #845
Log still seems to be cut off. Logs should be much smaller on latest, if it does still happen.

[2013-07-06 02:22] LunNova commented on #851
Just realised this fix might not be correct, is it still happening?
On 5 Jul 2013 14:18, "SuddenTurmoil" notifications@github.com wrote:

[2013-07-06 02:26] SuddenTurmoil commented on #851
I updated to the new build this morning and have had no errors in the console since. I was going to give it a full 24 hours before confirming fixed, but it appears to be so. Thanks for the follow up and all your hard work on this mod!

[2013-07-06 06:53] cjm721 opened #856 "[MCPC+ 67] [TT1996] More AE/ME deadlocks"
Yet it strikes again. A little different this time.

https://gist.github.com/cjm721/5938942

[2013-07-06 14:59] Tencao commented on #833
I believe I found the cause to these errors, If you use Djline.terminal\=jline.UnsupportedTerminal Or --nojline in your startup line, then these errors happen.

Hope that helps

[2013-07-06 15:06] elanini commented on #853
Disabling fast spawning in the End does solve the problem. Is this effect of fast spawning intended?

[2013-07-07 00:22] LunNova commented on #853
It's not intended, but the algorithm for fast mob spawning just isn't very efficient in the end. Will disable it in the end by default.

[2013-07-07 00:25] #853 closed, assigned to LunNova

[2013-07-07 01:11] mainsheep opened #857 "Disabling ChickenChunks offline players chunkloading breaks online player chunkloading in other dimensions"
When enabled the option to disable chunkloading for offline players, the chunkloading for ONLINE players in for example nether is disabled. Thus making lava collection impossible.

This has been a problem on all the TT releases.

[2013-07-07 17:16] joey19982 commented on #857
I've also had reports of Personal Anchors randomly unloading, even in the same dimension. I haven't looked too much into it yet.

[2013-07-07 17:17] joey19982 commented on #845
Strange, I know I pasted the full thing. I'll try the latest though.

[2013-07-07 19:10] HaoSs07 opened #858 "Long start thaumcraft/tf related ?"
Done (307.918s)! For help, type "help" or "?"
usually is 20s . but now 5 minute to load cache ?
also before server restart i put thaumcraft in aura regeneration but the regeneration i know is done after world loads.

2013-07-07 22:01:21 [INFO] [TickThreading] Threading initialised for world Twilight Forest/7
2013-07-07 22:06:27 [INFO] [ForgeModLoader] [TwilightForest] Loaded feature cache with 459

[2013-07-07 21:48] LunNova commented on #858
According to the snapshot, FE took a very, very long time trying to interact with the DB server. Looks like your DB server's being slow, not a TT issue.

[2013-07-07 21:48] #858 closed, assigned to LunNova

[2013-07-07 23:53] TaeoG opened #859 "Incompatible with JAKJ's Redstone in Motion mod."
Trying to move a Frame results in an error. Asked jakj if he was capable of making it compatible and he said

"yeah, that's not something I'm going to be able to fix right now, unless there's some token I can synchronize against. What's happening is my mod is forcing the tile entity to write itself out to a saveable record, just like what happens when the world is being saved. The problem is, this

[2013-07-07 23:54] LunNova commented on #859
Remember, never report issues with TT to mod devs. It's my job to fix it, just give errors to me.

[2013-07-07 23:58] TaeoG commented on #859
understood, just figured jakj would be interested. When his mod was incompatible with MCPC+ he worked with them directly to fix it. Good guy.

[2013-07-08 00:51] #859 closed, assigned to LunNova

[2013-07-08 02:26] LunNova commented on #847
Closing as duplicate of #825, presumably caused by that issue. Please give me the snapshot, I still can't fix this :(

[2013-07-08 02:26] #847 closed, assigned to LunNova

[2013-07-08 02:34] #822 closed, assigned to LunNova

[2013-07-08 03:00] LunNova commented on #811
Assuming fixed as multiple deadlocks have been fixed since this was reported, and have not had a reply with the full log.

[2013-07-08 03:00] #811 closed, assigned to LunNova

[2013-07-08 03:01] LunNova commented on #824
Fixed in latest with the AE deadlock fixes.

[2013-07-08 03:01] #824 closed, assigned to LunNova

[2013-07-08 03:08] LunNova opened #860 "Chunk regeneration broken as immediate unloading of chunks rarely succeeds"

[2013-07-08 03:09] LunNova commented on #796
Closing as no response, and unlikely to be a TT issue.

[2013-07-08 03:09] #796 closed, assigned to LunNova

[2013-07-08 03:10] LunNova commented on #771
Can't reproduce this error.

Have seen reports that the quantum generator crashes clients with very high settings, but that happens without TT too.

[2013-07-08 03:10] #771 closed, assigned to LunNova

[2013-07-08 03:11] LunNova commented on #761
Still not a single snapshot? ...

[2013-07-08 03:12] LunNova commented on #715
Forgot to close this, was fixed with that commit.

[2013-07-08 03:12] #715 closed, assigned to LunNova

[2013-07-08 03:13] #333 closed, assigned to LunNova

[2013-07-08 03:14] LunNova commented on #713
AuraManager NPEs fixed in latest.

[2013-07-08 03:14] #713 closed, assigned to LunNova

[2013-07-08 03:14] #732 closed, assigned to LunNova

[2013-07-08 03:14] LunNova commented on #682
Fixed with recent AE changes.

[2013-07-08 03:15] #678 closed, assigned to LunNova

[2013-07-08 03:15] LunNova commented on #667
Fixed, see #678.

[2013-07-08 03:15] #667 closed, assigned to LunNova

[2013-07-08 03:17] LunNova commented on #628
Still unable to reproduce this issue. @cjm721 can you still get it to happen? Has anyone else been able to get it to happen?

[2013-07-08 03:17] LunNova commented on #676
Fixed in latest.

[2013-07-08 03:17] #676 closed, assigned to LunNova

[2013-07-08 03:19] cjm721 commented on #628
I can test again since you made the other changes to Applied Energetics. Just now to think how to cause lag as I use to use ME crafting to cause it but you fixed that now.

[2013-07-08 03:19] LunNova commented on #783
Fixed in latest.

[2013-07-08 03:19] #783 closed, assigned to LunNova

[2013-07-08 03:24] #764 closed, assigned to LunNova

[2013-07-08 03:26] #778 closed, assigned to LunNova

[2013-07-08 12:52] Tencao opened #861 "1.5.2 ticking block grass"
2013-07-08 13:47:57 [SEVERE] [TickThreading] Exception ticking block net.minecra
ft.block.BlockGrass@5507f60 at x60y1264z90
java.lang.NullPointerException
        at org.bukkit.craftbukkit.v1_5_R3.CraftWorld.getBlockAt(CraftWorld.java:
202)
        at net.minecraft.block.BlockGrass.func_71847_b(BlockGrass.java:34)
        at net.minecraft.world.WorldServer.run(WorldServer.java:598)
        at nall

[2013-07-08 13:50] #762 closed, assigned to LunNova

[2013-07-08 14:33] Drehmini opened #862 "MFR DeepStorageUnit Exception ticking TileEntity"
[code]

The Deep Storage Units still work.

[2013-07-08 14:34] Drehmini opened #863 "ThermalExpansion Exception ticking TileEntity"
[code]

[2013-07-08 14:35] Drehmini commented on #848
I'm still getting these as well

[code]

[2013-07-08 14:37] Drehmini opened #864 "NPE when players access a MFR BioReactor"
[code]

[2013-07-08 16:04] dariusc93 commented on #860
Latest version of TT works with chunk generation but also causes/stop chunk updates (even after relog?) and possible chunk error shows up in non-regenerated chunks. This only happens with large regeneration,  but with small minor regeneration, relog may or may not be required. TT may need to send chunk updates back to the client after the regeneration is complete.

UPDATE:

Regeneration is complet

[2013-07-08 17:27] #860 closed, assigned to LunNova

[2013-07-08 17:46] joey19982 commented on #845
So far so good, so I'll close this.

[2013-07-08 17:46] #845 closed, assigned to LunNova

[2013-07-08 20:21] cjm721 commented on #628
I have been noticing that my System that controls my fussion reactor is having a net increase of cells even though I have no input into it. Part is I do not know if that has something to do with all the GT machines or with ME.  Considering would setting the ticks to run at to 1 be the same effect for network ticks as causing mass lag or not since its not really having to calculate very much?

[2013-07-08 22:55] HaoSs07 commented on #628
+1 for cell dupe. also have a report of this. used with fusion reactor. from 5k cells it went up to 22k.
his build is a mix of ae and routers

[2013-07-08 22:56] cjm721 commented on #628
Same here using Routers AE and GregTech buffers.

[2013-07-09 00:15] LunNova commented on #654
Fixed in latest.

[2013-07-09 00:15] #654 closed, assigned to LunNova

[2013-07-09 02:57] LunNova commented on #861
Fixed in latest by disabling immediate chunk unloading, will queue as usual in all cases, even if a plugin requests an immediate unload.

[2013-07-09 02:57] #861 closed, assigned to LunNova

[2013-07-09 03:07] LunNova commented on #825
https://github.com/nallar/TickThreading/wiki#visualvm-snapshot-remote-connection

[2013-07-09 03:08] #848 closed, assigned to LunNova

[2013-07-09 11:30] HaoSs07 commented on #628
i suspect to be the routers but i will test it first to be sure

[2013-07-09 11:47] mainsheep opened #865 "Gates/BuildCraft pipes - Causing high tick rates"
I'm not sure where to put this, but maybe a suggestion to improve performance would be ok?

At the moment, the nr 1 reason for tps loss on my server, is buildcraft pipes and/or autarchic gates. Is there any way for TT to implement some sort of tweak to these systems so that it can cause less lag?

One way to improve this, would be to disable the autarchic gate "always on"-mode.

Below is a "profil

[2013-07-09 12:44] seriousvern opened #866 "xReliquary debug spam"
i get this in my console alot and have googled it and cannot find what it is from

08:42:09 [INFO] Slot 6 contains an item worth 1
08:42:09 [INFO] At the time of execution, total value sits at 64
08:42:09 [INFO] Slot 4 contains an item worth 0
08:42:09 [INFO] Slot 6 contains an item worth 1
08:42:09 [INFO] At the time of execution, total value sits at 64
08:42:09 [INFO] Slot 4 contains an item wor

[2013-07-09 13:07] Khitara opened #867 "IC2 blocks not updating client-side"
Hi,
I've just installed TickThreading on my 1.4.7 custom server, home-run, to try and solve some TPS issues.

The good news: It seems to make my server run at 20 TPS rather than the 7-16 I was getting.

The bad news: Any IC2 block I place is invisible, even though the entity is selectable, and if I break a block, it's still visible client-side, even though the item has been dropped on the floor. R

[2013-07-09 13:15] LunNova commented on #867
Are you using multiverse + MCPC+? Other than that, never heard of this issue before, no idea what's causing it.

[2013-07-09 14:32] Khitara commented on #867
I don't use either of those, just regular Forge

[2013-07-09 14:37] LunNova commented on #865
Snapshot please?

[2013-07-09 14:39] LunNova commented on #866
Xeno's reliquary alkahest handler.

[2013-07-09 14:50] LunNova commented on #788
https://github.com/nallar/TickThreading/wiki#visualvm-snapshot-remote-connection

[2013-07-09 14:50] LunNova commented on #761
https://github.com/nallar/TickThreading/wiki#visualvm-snapshot-remote-connection

[2013-07-09 15:05] LunNova commented on #867
Can you get latest, and add `-Dtickthreading.ic2remap=false` before the `-jar` in your start.sh? Might fix it.

[2013-07-09 15:06] Slind14 commented on #761
thanks gonna do this today

[2013-07-09 15:33] seriousvern commented on #866
dude you are the best of the best

[2013-07-09 15:42] seriousvern commented on #865
i increased the network update factor and that solved alot of problems also made the item merging size larger so as to have less visible objects in the pipes. All of these tweaks can be found in the bc config folder

[2013-07-09 17:07] mainsheep commented on #865
snapshot? You mean the version of TT I'm running? v2008. This has been for a couple of releases though. Probably since launch, but as more and more people start using these damn pipes and autarchic gates, the server gets less and less tps.

[2013-07-09 17:09] mainsheep commented on #865
thank you seriousvern.. I'm thinking network update factor only saves bandwitdh, or I might be wrong. Bandwidth is not a problem for my server.. I've implemented the item merging size though, thanks.. This will probably not solve the autarchic gate problem, I'm guessing..

[2013-07-09 18:08] LunNova commented on #865
No, this: https://github.com/nallar/TickThreading/wiki#visualvm-snapshot-remote-connection

[2013-07-09 21:08] mainsheep opened #868 "ALL RedPower stuff not working on newer TT builds"
I was made aware of some of my players that RedPower was not working. I tested it out for myself, and the Timers didn't move at all.. Breaking the block, dropped the timer, but it was still lieing on the ground (visual bug?) and I could not remove it even if trying to chain break it..

I installed a build I know was most stable (TT 1943) and the Timers is now working again. So something has happen

[2013-07-09 21:16] mainsheep commented on #868
By the way, i went as far down as TT2002, before I did 1943..

[2013-07-09 22:09] Drehmini opened #869 "[TT 2003] ME NPE"
[code]

[2013-07-09 22:19] Drehmini commented on #869
This also happens with the latest (2011), and it's currently spamming the console.

[2013-07-09 23:35] #867 closed, assigned to LunNova

[2013-07-09 23:35] #868 closed, assigned to LunNova

[2013-07-10 00:46] Drehmini opened #870 "[TT 2011] Deadlock"
https://gist.github.com/Drehmini/5962633/raw/4fcd17200c979b195b17e92cf4692bd92e2054c0/gistfile1.txt

[2013-07-10 00:46] Drehmini commented on #870
From the looks of it, it did recover, but continually deadlocked.

[2013-07-10 00:48] Drehmini commented on #866
I'm still receiving these messages: 2013-07-09 20:48:08 [INFO] [STDOUT] At the time of execution, total value sits a
t 64

[2013-07-10 03:45] cjm721 opened #871 "[MCPC+ 67] [TT 2008] Still AE Deadlocking (much rarer now)"
https://gist.github.com/cjm721/5963314

Seems very similar to the old one I reported ( #856 and #766) except that its not my system causing it anymore.

[2013-07-10 05:02] DrFestus opened #872 "[1.5.2 MCPC] [TT 109] [SEVERE] [TickThreading] Exception ticking block"
2013-07-10 05:56:49 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-07-10 05:56:54 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.VersionCheckTickHandler@bcf9cbc
2013-07-10 05:57:49 [INFO] [TickThreading] Skipping version tick handler c magicbees.main.util

[2013-07-10 13:24] Slind14 commented on #788
Cannot conenct to ip:3333 using service:jmx:rmi:.....

[2013-07-10 13:25] Tencao opened #873 "1.5.2 Twilight issues"
2013-07-10 14:22:00 [SEVERE] [TickThreading] Exception ticking world Twilight Forest/7
java.util.NoSuchElementException
    at java.util.LinkedList.removeFirst(Unknown Source)
    at magicbees.world.WorldTicker.tickEnd(WorldTicker.java:38)
    at cpw.mods.fml.common.SingleIntervalHandler.tickEnd(SingleIntervalHandler.java:34)
    at nallar.tickthreading.util.WrappedScheduledTickHandler.tickEnd(Wra

[2013-07-10 13:31] Slind14 commented on #788
got it, had to restart whole wrapper, sry

[2013-07-10 13:32] Tencao commented on #873
More details - mcpc+ version 598, TT version 106

[2013-07-10 14:23] Slind14 commented on #825
http://www.mediafire.com/download/c269wob94ub44j7/mid_snapshot.nps

[2013-07-10 14:23] Slind14 commented on #788
http://www.mediafire.com/download/c269wob94ub44j7/mid_snapshot.nps

[2013-07-10 15:19] LunNova commented on #788
Is this issue fixed then? Steam boilers don't seem to be being slow in that snapshot.

[2013-07-10 16:06] Slind14 commented on #788
mhh, the top 5 chunks still contain the most steamboilers

[2013-07-10 17:31] LunNova commented on #788
Probably caused by whatever's in those chunks other than the steam boilers, lots of pipes/whatever?

[2013-07-10 19:04] andremiller opened #874 "NullpointerException ticking minefactoryreloaded.plants.TileEntityHarvester"
I'm using TickThreading-1.4.7-1.0.0.2005 with FTB Ultimate 1.1.2, Minecraft 1.4.7

I've had no problems thus far, but yesterday one of the players on my server built an oak tree farm with Minefactory Reloaded planters, fertilizers and harvesters, and I noticed the following exceptions in my server log.

I don't know if this is a problem or not, he reports that his harvesters are working fine in-ga

[2013-07-10 19:18] Slind14 commented on #847
wow from 60% cpu usage to 200% something after 1947 changed,

[2013-07-10 19:41] cjm721 opened #875 "502 Bad Gateway on Build Server"

[2013-07-10 19:56] GUIpsp commented on #875
Ok, now tell me how this is a TickThreading issue.

[2013-07-10 19:57] cjm721 commented on #875
Can't download the new versions so can't test them. This is also a simple and effective way to get ahold of naller and shows other people that it has already been reported so he does not get his email spammed.

[2013-07-10 20:07] darkdeath1332 commented on #847
Same, I dont want to snapshot becouse I lose quite alot of players due it.

[2013-07-10 20:22] LunNova commented on #875
And it's also why I have a "site" label. This is related enough, don't really have anywhere better to put issues with the site.

Fixed.

[2013-07-10 20:22] #875 closed, assigned to LunNova

[2013-07-10 20:53] HaoSs07 commented on #847
lose players because of a snapshot ?:)) ok... walking away. awkward

[2013-07-10 20:58] darkdeath1332 commented on #847
@HaoSs07 No from the build, I used the latest builld and when my server was about to reach 80 it lagged as fuck. I use 1947 again and my CPU is just 60% with 125 on.

[2013-07-10 21:10] andremiller commented on #874
Hmm, I'm sure I did a search before and nothing came up for harvester, but I just found an issue already logged for the same error message, Issue #793

So I'll close this one then.

[2013-07-10 21:11] #874 closed, assigned to LunNova

[2013-07-10 21:13] andremiller commented on #793
As per the referenced issue above, I'm getting the same error using TickThreading-1.4.7-1.0.0.2005 with FTB Ultimate 1.1.2, Minecraft 1.4.7

[2013-07-10 21:30] seriousvern commented on #866
i am also getting this alot in my console it is filling up my logs

[2013-07-10 21:34] cjm721 opened #876 "[MCPC+ 67] [TT 2012] Applied Energistics Cpu usage"
I do not know if this is from making my system import/export a bit more now then it was yesterday or from upgrading from 2008 to 2012 but on 2008 I could craft very large and complex recipes (such as an entire fusion reactor and several quantum tanks) at once and not go above 15% cpu usage. Now just telling it to craft a single quantum tank makes the CPU usage of every ME system spike.

IE I start

[2013-07-10 23:26] LunNova commented on #866
Accidentally only removed one of the debug lines, so it only half fixed the problem.

[2013-07-10 23:27] #866 closed, assigned to LunNova

[2013-07-10 23:29] Slind14 opened #877 "Performance regression - better TPS with build 1947"
Check out these two pictures, one very small ME System with this CPU usage ???
![2013-07-11_01 18 19](https://f.cloud.github.com/assets/3914677/778700/6bbb34dc-e9b8-11e2-8dc4-16c5efc9f3c1.png)
![2013-07-11_01 18 45](https://f.cloud.github.com/assets/3914677/778701/6eb6194a-e9b8-11e2-800f-3b113c5d5942.png)
At all....
![2013-07-11_01 25 56](https://f.cloud.github.com/assets/3914677/778703/85c3f1de-e

[2013-07-10 23:30] Slind14 commented on #788
k, is there a ingame command to check just one chunk ? to see what needs most of the power in the current chunk ?

[2013-07-10 23:30] LunNova commented on #877
Completely redoing AE patching just now, should be fixed soon.

[2013-07-10 23:52] LunNova commented on #788
Yes, stand in the chunk and run `/profile c`.

[2013-07-11 00:33] Slind14 commented on #877
thanks a lot

[2013-07-11 00:38] Slind14 commented on #788
mhh, with profile c i get the same like with profile e. all the chunks are listed....
![2013-07-11 02_37_50-ftb ultimate v1 1 2](https://f.cloud.github.com/assets/3914677/779009/2cee267e-e9c2-11e2-84d2-ded043528208.png)

[2013-07-11 01:36] LunNova commented on #877
If you have a test server, now would be a good time to try latest. Should make AE stuff much faster, but may be buggy.

[2013-07-11 01:37] LunNova commented on #876
See #877. You posted this first, but I noticed the other first and now it has my posts in it. Sorry!

Closed as duplicate.

[2013-07-11 01:37] #876 closed, assigned to LunNova

[2013-07-11 02:07] LunNova commented on #871
Fixed with AE threading rework in latest.

[2013-07-11 02:07] #871 closed, assigned to LunNova

[2013-07-11 02:07] LunNova commented on #870
Fixed with AE threading rework in latest.

[2013-07-11 02:07] #870 closed, assigned to LunNova

[2013-07-11 02:07] LunNova commented on #869
Fixed with AE threading rework in latest.

[2013-07-11 02:07] #869 closed, assigned to LunNova

[2013-07-11 02:07] LunNova commented on #856
Fixed with AE threading rework in latest.

[2013-07-11 02:07] #856 closed, assigned to LunNova

[2013-07-11 02:07] LunNova commented on #810
Fixed with AE threading rework in latest.

[2013-07-11 02:07] #810 closed, assigned to LunNova

[2013-07-11 03:01] Drehmini opened #878 "[TT 2023] Deadlock"
https://gist.github.com/Drehmini/5972207

[2013-07-11 03:25] LunNova commented on #788
Probably because you're on an old build. Try after the AE fixes.
On 11 Jul 2013 01:38, "Slind14" notifications@github.com wrote:

[2013-07-11 03:52] #878 closed, assigned to LunNova

[2013-07-11 03:52] Drehmini commented on #878
This is was resolved

[2013-07-11 05:49] cjm721 opened #879 "[MCPC +67] [TT 2023] AE Deadlock"
https://gist.github.com/cjm721/5972834

Similar if not same as #871

[2013-07-11 07:10] LiquidFires opened #880 "Crash on loading Screen, Only one Mod"
using Minecraft 1.6.2
Forge: minecraftforge-installer-1.6.2-9.10.0.789
BC:  buildcraft-A-3.7.1

getting error

---- Minecraft Crash Report ----
// Why did you do that?

Time: 7/10/13 11:28 PM
Description: Initializing game

java.lang.NoClassDefFoundError: Lnet/minecraftforge/liquids/LiquidStack;
    at java.lang.Class.getDeclaredFields0(Native Method)
    at java.lang.Class.privateGetDeclaredField

[2013-07-11 09:21] andremiller commented on #793
Oops, and this also looks like a duplicate of Issue #848 which is fixed in Build 2007. I'll give it a test tonight.

[2013-07-11 12:03] LunNova commented on #880
You made the issue in the wrong place, this isn't related to TickThreading. Probably should be in the BuildCraft repo?

[2013-07-11 12:03] #880 closed, assigned to LunNova

[2013-07-11 14:10] Slind14 commented on #877
i have a testserver but i cant load chunks for 50 people...

[2013-07-11 14:19] Slind14 commented on #877
jenkins down ?

[2013-07-11 14:40] LunNova commented on #877
Should be up now, but my host might be having network issues. Fixed another big performance issue with forestry, so if you just updated you may want to update again.

[2013-07-11 14:46] Slind14 commented on #877
thanks, but i think wait until the new deadlock is fixed

[2013-07-11 14:55] LunNova commented on #879
Looks like this one can only happen if waitForEntityTickCompletion is disabled.

[2013-07-11 16:29] joey19982 opened #881 "Mass is not conserved through portals."
Just got around to reporting this, I'm surprised it hasn't been reported all ready. For a while now Mass isn't conserved when traveling through portals. If you put two portals on the ground, rather than flying up a bit before going back down it will instantly teleport you between each one. Doing that with a bunch of items I'm sure could cause a denial of service attack of sorts.

Disabling Concurr

[2013-07-11 16:39] LunNova commented on #881
This only applies to players, not items.

[2013-07-11 16:44] joey19982 commented on #881
Ah, okay. Didn't test items. That makes me feel better about it.

[2013-07-11 16:58] #879 closed, assigned to LunNova

[2013-07-11 18:21] joey19982 opened #882 "Personal Anchors rarely keep chunks loaded."
On my server, the only chunk loaders allowed are Personal Anchors because they are a lot less "OP" then ChickenChunks, and they don't keep chunks loaded forever like World Anchors. Though since I made that change, I've been getting some reports about Anchors being very unreliable. They are supposed to keep chunks loaded until you log off, but they appear to do so only half of the time.

I set up a

[2013-07-11 18:33] andremiller commented on #793
Updated to Tickthreading TickThreading-1.4.7-1.0.0.2034.jar and I'm no longer getting the error.

[2013-07-11 18:35] VMBindraban opened #883 "Railcraft not patching"
[code]C:\Users\Gebruiker\Desktop\Nieuwe map>"C:\Program Files\Java\jre7\bin\java" -cp
"mods\TickThreading.jar;lib\guava-12.0.1.jar" nallar.tickthreading.patcher.Patch
Main patcher "ftbserver.jar,coremods,mods"
2013-07-11 20:32:06 [INFO] [TickThreading] Running TickThreading v1.0.0.2034 for
 MC1.4.7 - 1.7.0_25-b17
2013-07-11 20:32:06 [SEVERE] [TickThreading] Can't patch - no backup for railcra
ft.j

[2013-07-11 18:37] VMBindraban commented on #883
FTB Ultimate btw.

[2013-07-11 18:44] andremiller commented on #862
Been using Tickthreading + Deep storage units on MC1.4.7 + FTB since build 1962, and today I received this error for the first time, with build 2034:

2013-07-11 20:21:03 [SEVERE] [TickThreading] Exception ticking TileEntity c powercrystals.minefactoryreloaded.processing.TileEntityDeepStorageUnit @1308164694 in Overworld/0 at x, y, z: -543, 51, -86
java.lang.NullPointerException
        at powercr

[2013-07-11 19:09] LunNova commented on #883
`2013-07-11 20:32:06 [SEVERE] [TickThreading] An error occurred while patching, c
an't continue
java.lang.Error: Missing backup for patched file`

Did you delete the TTBackups folder?

You'll need to delete coremods and server jar, get them fresh from FTB ultimate and then patch again.

[2013-07-11 19:09] #883 closed, assigned to LunNova

[2013-07-11 19:10] LunNova commented on #883
Actually, railcraft.jar itself should never be patched. Also get a fresh mods folder.

[2013-07-11 19:11] #793 closed, assigned to LunNova

[2013-07-11 19:30] #862 closed, assigned to LunNova

[2013-07-11 20:04] LunNova commented on #570
Fixed in latest.

[2013-07-11 20:04] #570 closed, assigned to LunNova

[2013-07-11 20:06] #479 closed, assigned to LunNova

[2013-07-11 20:06] LunNova commented on #474
Assuming this is no longer a problem.

[2013-07-11 20:06] #474 closed, assigned to LunNova

[2013-07-11 20:26] odininon opened #884 "[1.5.2] [109] Dimenional Doors NPE"
http://pastebin.com/gEnM3DX9

[2013-07-11 20:51] andremiller commented on #877
I don't know if is related to the latest changes, but since applying the latest build (going from 2005 to 2034) my ME network has been running very slowly. Import busses especially. Crafted items just sit in my furnaces for a long time without getting extracted with the import bus. It seems to help if I open up the machine's interface, then it seems to extract the item.

[2013-07-11 22:25] LunNova commented on #877
@andremiller had a few requests to skip ticking AE devices sometimes as they cause performance issues in 1.4.7, so it sometimes skips them.

Can you not just set the import bus to transfer in stacks of items at a time, or is that still too slow?

[2013-07-11 23:07] LunNova commented on #882
Can you right click the stopped anchor with a clock and post the output? (Or run `/dump x y z` in console and copy/paste)

Are you sure the chunkloading limit isn't set too low? What does `/ticks` say for the world the anchor is in?

[2013-07-11 23:07] #397 closed, assigned to LunNova

[2013-07-11 23:08] #394 closed, assigned to LunNova

[2013-07-11 23:08] LunNova commented on #259
Is this still broken in latest?

[2013-07-11 23:09] LunNova commented on #330
Assuming this is fixed as had no confirmation in a month that it's still happening, after a related fix.

[2013-07-11 23:09] #330 closed, assigned to LunNova

[2013-07-11 23:10] LunNova commented on #331
Fixed in latest with the redpower frames fix. Caused when they set the world as a client world, which is completely unsafe.

[2013-07-11 23:10] #331 closed, assigned to LunNova

[2013-07-11 23:11] LunNova commented on #414
Can you still replicate this after the recent rework of how TT handles AE networks?

[2013-07-12 02:08] andremiller commented on #877
@nallar They're already set to import stacks at a time, but it's still too slow :(. Unless there's also another bug, it sometimes sits there for 4 or 5 seconds doing nothing. I've reverted to an older version of TickThreading for now.

Where the speed is really critical is in my setup to create Tritium and Deuterium fuel for my fusion reactor. I'm using AE to import/export cells into lots of elect

[2013-07-12 02:29] vsilvar opened #885 "Patcher requires user input to exit"
I'm using your script to automatically update TickThreading but when java finishes patching the files, it waits for user input to exit.
Is it possible to remove this?

[2013-07-12 02:56] vsilvar commented on #877
@nallar It would be great if there as a config option to not skip ticking AE devices. On a side question, do factorization routers also suffer from this? They appear to be slower than normal.

[2013-07-12 03:32] #885 closed, assigned to LunNova

[2013-07-12 03:33] LunNova commented on #885
Grab latest, add `-Dunattend=true` before the `-jar` to disable this.

[2013-07-12 03:46] vsilvar commented on #885
It works great, thank you for taking the time to improve this project even with things as minor as this.
Keep up the great work.

[2013-07-12 04:51] Jared39 opened #886 "Deadlock"
I keep getting this error when I get a deadlock:

2013-07-11 14:13:21 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-07-11 14:13:25 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.VersionCheckTickHandler@62d6eb4b
2013-07-11 14:13:39 [INFO] [TickThreading]

[2013-07-12 05:14] Tencao opened #887 "IC2 broken with TT patch"
Using IC2 build 385, and TT version 124
Power wont transfer between machines and cables. I've confirmed this works on single player using the exact same mods and configs, excluding TT, so I'm almost positive that this is a TT issue.

[2013-07-12 05:50] VMBindraban commented on #883
The oddest thing is, on my local machine is works just fine. If i copy it to a live server it gives a error.
They were fresh mods. I am running it on multicraft so i can't run the patch file from the server.

Can it have something to do with the fact that multicraft requires that the server.jar needs to be in the jar folder?
I patched the server file and placed it in the jar folder.

[2013-07-12 13:23] HaoSs07 commented on #259
will ask my admins to test

[2013-07-12 13:57] LunNova commented on #887
Issue with newer IC2 dev builds.

https://github.com/MinecraftPortCentral/MCPC-Plus-Legacy/issues/1368
https://github.com/nallar/TickThreading/issues/852

Closing as duplicate of #852.

[2013-07-12 13:57] #887 closed, assigned to LunNova

[2013-07-12 17:26] #886 closed, assigned to LunNova

[2013-07-12 19:23] Lakart opened #888 "Spam of [SEVERE] [TickThreading] Failed to send [*] watched by [EntityPlayerMP[*]]"
Updated to 128 of the 1.5.2 Tickthreading and had non stop console spam since.

Here are the logs, they were literally too big for pastebin and pastie, github wouldn't let me put them in a gist:
https://dl.dropboxusercontent.com/u/3449367/TickThreading/server.log
https://dl.dropboxusercontent.com/u/3449367/TickThreading/patcher.1.log
https://dl.dropboxusercontent.com/u/3449367/TickThreading/tickth

[2013-07-12 20:11] Tencao opened #889 "1.5.2 Deadlocks"
Just to say, sorry if this turns out to be my fault and not tickthreading, but I thought I'd post here anyway for some answers.

http://pastebin.com/Hk2NUQP3

[2013-07-12 20:40] #888 closed, assigned to LunNova

[2013-07-12 21:17] LunNova commented on #889
`"Server thread" RUNNABLE (in native)
        at java.io.FileOutputStream.writeBytes(Native Method)
        at java.io.FileOutputStream.write(Unknown Source)
        at java.io.BufferedOutputStream.write(Unknown Source)
        -  locked java.io.BufferedOutputStream@4287189c
        at java.io.PrintStream.write(Unknown Source)
        -  locked java.io.PrintStream@3360cbe3
        at sun.nio.cs.St

[2013-07-12 21:26] Tencao commented on #889
No backups, just normal server operations.

[2013-07-12 21:29] LunNova commented on #877
Should be fixed now, don't skip ticks for import/export buses.

[2013-07-12 23:53] Tencao commented on #889
I'll close this issue as it turns out to be mainly mcpc and plugin related.

[2013-07-12 23:53] #889 closed, assigned to LunNova

[2013-07-13 00:05] Slind14 commented on #877
i updated to the latest version and there is no change:
![putty_2013-07-13_02-03-58](https://f.cloud.github.com/assets/3914677/791744/e3b3e964-eb4f-11e2-92e3-adb5692c6705.jpg)

[2013-07-13 00:06] Slind14 commented on #877
the server is still running on more tps without tickthreading. what changed since 1947 ?

[2013-07-13 00:29] Beelzaboss opened #890 "BetterStorage"
Hey There, I am not sure what the problem is... but it seems like TickThreading does not support BetterStroge well...

Also after a while the server just close and TickThreading shutdown the server but TPS is perfectly 20

[2013-07-13 00:34] LunNova commented on #877
What are you using to measure TPS without TT? Bechill TPS? It actually measures incorrectly, doesn't measure time spent outside of world ticks.

Other than that, no idea why it's still slower for you on newer builds.

Although looking at that profile, it has definitely changed since the screenshot you gave earlier - there, AE took > 50ms per controller, here the worst controller only takes 14ms.

[2013-07-13 02:36] LunNova commented on #877
@Slind14

Just noticed TileEntityChest is showing up as being slow in profiling. That definitely shouldn't happen, somethings does seem very broken :s

What does `/profile a` show? Can you run `/profile e 300` to get a long profile, in case it was just an odd result by chance as it only profiled for 7 seconds?

What are your java parameters?

[2013-07-13 02:41] LunNova commented on #877
Had an idea of what the problem might be, made a change in build 2045 which might fix this. If it doesn't, still want the stuff I asked for in the previous post.

Also, the output of `/ticks l` could help too.

[2013-07-13 03:44] Drehmini opened #891 "[TT 2051] Gregtech NPE"
[code]

[2013-07-13 03:46] Drehmini opened #892 "[TT 2051] AutoCraftingMk2 NPE"
[code]

[2013-07-13 05:12] Slind14 commented on #877
./gc of essentials.

i will get u the result when there are some more people back on the server

java build 1.7.0 17-b02 -> should i update ?

[2013-07-13 09:02] Slind14 commented on #877
/profile a
![putty_2013-07-13_11-00-29](https://f.cloud.github.com/assets/3914677/792445/c8444412-eb9a-11e2-8fc1-79ecc6fdfa64.jpg)

/profile l
![putty_2013-07-13_11-01-52](https://f.cloud.github.com/assets/3914677/792449/ec9ba4c2-eb9a-11e2-8fdc-ce10e5f21479.jpg)

/profile e 300
![putty_2013-07-13_11-05-54](https://f.cloud.github.com/assets/3914677/792454/d49558d6-eb9b-11e2-823b-e19ce043425d.jpg)

[2013-07-13 09:10] Slind14 commented on #877
looks a way better now, but at this time there was nobody online with a huge me system with autocrafting, fusionreactor...

snapshot:
http://www.mediafire.com/download/ptkz7mom2s13mbc/mym_snapshot_2051.nps

[2013-07-13 12:16] #892 closed, assigned to LunNova

[2013-07-13 16:36] LunNova commented on #590
Original thing from this issue fixed in latest, mytown problem already fixed (was discussed in another issue.)

[2013-07-13 16:36] #590 closed, assigned to LunNova

[2013-07-13 16:37] LunNova commented on #586
Assumed fixed in latest.

[2013-07-13 16:37] #586 closed, assigned to LunNova

[2013-07-13 16:38] LunNova commented on #361
Still broken, but can be worked around by disabling concurrentMovementUpdates in the config.

[2013-07-13 16:41] #233 closed, assigned to LunNova

[2013-07-13 16:41] #81 closed, assigned to LunNova

[2013-07-13 16:41] LunNova commented on #478
This kinda' goes outside of the scope of TT, so won't be doing this in most cases. In severe cases, such as with the NEI issue, I will patch it.

[2013-07-13 16:41] #478 closed, assigned to LunNova

[2013-07-13 16:42] LunNova commented on #814
Assumed fixed in latest, can't confirm as not full log but it's probably an AE network deadlock and those are now fixed.

[2013-07-13 16:42] #814 closed, assigned to LunNova

[2013-07-13 16:43] LunNova commented on #704
Fixed in latest.

[2013-07-13 16:43] #704 closed, assigned to LunNova

[2013-07-13 16:43] LunNova commented on #717
Assumed fixed as this was a deadlock, and the most common deadlocks on older build were with AE. Those have now been fixed.

[2013-07-13 16:43] #717 closed, assigned to LunNova

[2013-07-13 16:44] LunNova commented on #739
I lied, did it anyway. Fixed in latest.

[2013-07-13 16:44] #739 closed, assigned to LunNova

[2013-07-13 16:45] LunNova commented on #761
Can anyone confirm whether 35fd8d576d132c4b3 fixed this?

[2013-07-13 17:20] cjm721 commented on #478
I wish I understood how you did the class patching as I been having to deobfuscate > decompile > fix the decompiling issues > make sure it will recompile > fix the logic error > recompile > take out class file changed and add to old jar file.

[2013-07-13 18:38] ApocDev opened #893 "Fix Thaumcraft Dupe via Patch"
Simple 'nuff. You've fixed a few bugs already via your awesome patching system, why not one more?

(This is for 1.4.7)

thaumcraft.common.Utils.dropItems method needs to be replaced with the following:

[code]

[2013-07-13 20:46] darkdeath1332 opened #894 "TickThreading Crash Bug"
Hi nallar, we got a crash on our server.

http://pastebin.com/qD2cfv40

[2013-07-13 21:07] andremiller opened #895 "NPE TileFabricator.canMergeContainers"
Minecraft 1.4.7, FTB 1.1.2 TickThreading-1.4.7-1.0.0.2055.jar

Problem started after I upgraded from build 2005 to 2055 to test out AE performance fixes.

I use two Fabricators to craft Compressed Air Cells back into Empty Cells for my fusion reactor's fuel processing. After the reboot of the server it looked like the one of the Fabricator's didn't work anymore, when I had a look at the AE network

[2013-07-13 21:09] andremiller commented on #877
@nallar Thanks, it looks like my AE network is behaving again, exporting and importing items when it should :)

I did pick up an issue with my Fabricator, not sure if it is releated, issue #895

[2013-07-14 12:42] Tencao opened #896 "1.5.2 chococraft issue"
[SEVERE] [TickThreading] Exception ticking entity EntityChicobo['Chicobo'/9588, l='ECZ', x=-18.50, y=67.00, z=-306.69] in rX: -2, rZ: -20, hashCode: -1310722/ECZ/0:
java.lang.NullPointerException
    at net.minecraft.entity.Entity.func_70068_e(Entity.java:1476)
    at chococraft.common.entities.ai.ChocoboAIFollowOwner.func_75253_b(ChocoboAIFollowOwner.java:64)
    at net.minecraft.entity.ai.Entity

[2013-07-14 16:13] LunNova opened #897 "IC2 EnergyNet lock contention"

[2013-07-14 17:59] Slind14 commented on #877
1951 is working perfect with AE, thank u so much .D
![putty_2013-07-14_19-56-08](https://f.cloud.github.com/assets/3914677/794629/d2a804d8-ecae-11e2-92a1-71e66f9b63e2.jpg)
![putty_2013-07-14_19-59-26](https://f.cloud.github.com/assets/3914677/794632/2b20d5cc-ecaf-11e2-8f81-86b46b950523.jpg)

[2013-07-14 17:59] #877 closed, assigned to LunNova

[2013-07-14 18:49] Lakart opened #898 "[SEVERE] [TickThreading] world/-1 has become unstable, stopping."
Continually happens across worlds and installs. Already had to kill half a dozen worlds due to this, and the one it just happened one was a brand new fresh install.

Server Log: http://pastebin.com/epLhtBUV
Patcher Log: http://pastebin.com/r9GR76gq
TT Log: http://pastebin.com/vsZ0LbYc

[2013-07-14 18:55] joaopms opened #899 "Server unstable, stopping."
Hello! I'm TichThreading and MCPC+ and my server is stopping very frequently:
TT Log: http://pastebin.com/KnrUwcxT
Patcher Log: http://pastebin.com/vkssazi3

[2013-07-14 21:10] LunNova commented on #899
Can you upgrade TT please? I think this issue is already fixed, you're 43 builds out of date.

`v1.5.2.84`

[2013-07-14 21:12] LunNova commented on #898
In general, "a world has become unstable" doesn't mean the world is broken - just that some issue happened ticking that world. Like in this case, it may be an issue which can happen randomly and to any world.

Duplicate of #784, will fix that soon.

[2013-07-14 21:12] #898 closed, assigned to LunNova

[2013-07-14 21:20] #784 closed, assigned to LunNova

[2013-07-14 21:22] LunNova commented on #898
Fixed in latest.

[2013-07-14 21:41] joaopms commented on #899
Just updated and it happened again

[2013-07-14 21:51] LunNova commented on #899
TT log again please? Pretty sure the issue you posted there was fixed, although it could be a slightly different issue.

[2013-07-14 21:55] joaopms commented on #899
Hmmm... I was runninc v1.5.2.137 and it crashed, but I upgraded to v1.5.2.138 and it's okay. If it shuts down I will post the log again.

2013-07-14 20:20:24 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-07-14 20:20:42 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.co

[2013-07-14 22:08] hideaske opened #900 "Liquiducts failing to write state"
Liquiducts seem to not want to save that they have liquids or are connected together when the chunks unload

this comes up alot in the logs

http://pastebin.com/dtLkCJCT

[2013-07-14 23:07] joaopms opened #901 "[Thaumcraft] Wand of Equal Trade doesn't work"
I'm using the latest version of TickThreading (v1.5.2.139) and I'm trying to use the Wand of Equal Trade. I'm trying to convert dirt to stone and it doesn't work. Yes, I'm using it right. I've tried it on single player and on a local server without TT and it works. No errors are given and I don't know what it can be

[2013-07-15 03:58] Machiavellus opened #902 "permgen error"
http://pastebin.com/RJgT7wqf

it spits that out about every 20 minutes on FTB ultimate server with about 8 people on max, regardless of people number. And starting with a random different entity every time. Not sure what we're doing wrong. We have the server allocated to use 12gigs ram and the machine itself as 16gigs. Suggestions? Do I need to give you more input? If so what info?

[2013-07-15 04:26] theunicellular commented on #902
This is the most recent crash report from the same server Machiavellus is talking about. Thanks for any help or insight you may have in to our issue. We are completely out of ideas at this point.

http://pastebin.com/0vehscA0

edit: Here is another one. http://pastebin.com/4zSqKcSw

[2013-07-15 05:24] Slind14 commented on #902
google: minecraft maxpermsize (java)

[2013-07-15 05:28] theunicellular commented on #902
We have been googling things trying to find a solution for the last 3 days and only posted this because we are out of ideas. Changing heap/perm size hasn't fixed anything. We tried a number of different values to no avail.

Our current startup is this:

java -server -XmxG -XX:UseSSE=4 -XX:+CMSClassUnloadingEnabled -XX:+CMSPermGenSweepingEnabled -XX:+UseConcMarkSweepGC -XX:+UseCMSCompactAtFullColle

[2013-07-15 05:52] Slind14 commented on #902
too mutch.

delete  -XX:PermSize=1024m
set  -XX:MaxPermSize=128m

[2013-07-15 05:53] theunicellular commented on #902
I'll try that right now, thanks

[2013-07-15 06:21] theunicellular commented on #902
Just crashed again a couple minutes ago but the errors looked different this time and there wasn't a TT log created.
http://pastebin.com/ShveVQCN

It looked different in console, however, but I only caught this.
INFO Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "Connection #30 read thread"

Thanks for your input.

[2013-07-15 09:12] LunNova commented on #902
Try

`java -server -XX:MaxPermSize=256m -Xmx4G -XX:UseSSE=4 -XX:+UseConcMarkSweepGC -XX:+UseCMSCompactAtFullCollection -XX:+UseParNewGC -XX:+DisableExplicitGC -XX:+AggressiveOpts -XX:-OmitStackTraceInFastThrow -jar mcpc-plus-legacy-1.4.7-R1.1-SNAPSHOT-f534-L67.jar`

[2013-07-15 09:17] #899 closed, assigned to LunNova

[2013-07-15 09:25] #900 closed, assigned to LunNova

[2013-07-15 12:18] HaoSs07 opened #903 "Applied energistics"
player reported problems:
Storage export bus freezes from time to time. and need to be replaced to work ( may be chunk load related),happens often if its on move/craft mode.
Ae autocraft system made on multiple chunks sometime does not craft components , and stops the autocraft

[2013-07-15 12:23] LunNova commented on #903
Which build is this on? Some builds were known to have autocrafting issues but they should be fixed now, same with the buses.

[2013-07-15 12:25] HaoSs07 commented on #903
did not see anything related to AE to update and retest. is there any update after 2057 ? ae related

[2013-07-15 12:25] LunNova commented on #893
Used patch:

[code]

[2013-07-15 12:26] #893 closed, assigned to LunNova

[2013-07-15 12:26] LunNova commented on #903
No, looks like this is a new issue then.

[2013-07-15 12:27] HaoSs07 commented on #903
il ask players to retest. to make sure is not a older problem reported late

[2013-07-15 15:39] joey19982 commented on #882
Sorry, just saw your reply. I'm very forgetful when it comes to these tickets.

I'm running the test again now on both my local and main server. It shouldn't be the chunkloading limit, as it was on my freshly-generated local server with only me on.

[2013-07-15 15:58] theunicellular commented on #902
I put the changes you suggested in but its crashed twice since I did. Thanks again for your help and let me know if you have any ideas or need any more info.

http://pastebin.com/Yz8LtKs9
http://pastebin.com/tMmDJQdr

[2013-07-15 20:41] Slind14 commented on #893
wow nice. could u fixe the forestry dupe glitch, too ?

and what about the AE dupe ?

[2013-07-15 22:45] ApocDev commented on #893
Point me to which dupes you're talking about? It shouldn't be too difficult to fix them either way.

[2013-07-16 00:17] cjm721 commented on #893
Well considering there are about 6-7 common known ones. I back dated the fixes from the 1.5.2 version to 1.4.7 considering what is above does not look like my code looked like for 1.4.7. All it was that changed was adding the slot != 9 to it. Considering I don't know how the patcher works so I don't know what kind of format nallar would want it in.

[2013-07-16 01:08] Slind14 commented on #893
i whish u a lot of fun backporting AE. There was a complete rewrite.

[2013-07-16 07:39] Slind14 commented on #893
@ApocDev dupe bug with two AE Export Buses, Forestry Bags dupe, Energy Bridge loop dupe, MFReloaded: Iron Golems, Slims

[2013-07-16 09:59] tacharion opened #904 "Internal server Error"
I install tick threading

And become these failure

2013-07-16 02:07:39 [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 82573
java.lang.NullPointerException
    at org.bukkit.craftbukkit.CraftChunk.getHandle(CraftChunk.java:70)
    at org.bukkit.craftbukkit.CraftChunk.<init>(CraftChunk.java:56)
    at keepcalm.mods.bukkit.ToBukkit.chunkFromCoords(ToBukkit.java:

[2013-07-16 13:53] LunNova commented on #904
Update BukkitForge, use http://jenkins.bukkitforge.com:8080/job/BukkitForge-1.4.7/4/

[2013-07-16 13:53] #904 closed, assigned to LunNova

[2013-07-16 18:02] itz-Jana opened #905 "MFFS v2 Classic"
We are using your TickThreading Mod on our 1.5.2 Server with 125 other Mods but we are having trouble with MFFS v2 Classic (Version 2.3.0.1.15) and TickThreading (Version 143). Sometimes we're being kicked from the Server with "End of Stream" or "Connection reset". The Error is: http://puu.sh/3Eox9.txt .
It's pretty annoying so we would appreciate it if you could look at the MFFS part of your Mod.

[2013-07-16 18:25] demon959 commented on #836
Still having the same issue using 143 build, on FTB server

[2013-07-16 21:01] IonCannon218 opened #906 "Alternative patch process start?"
Is it possible to have TT to have an alternative method to start the patch process instead of using a .sh/.bat script? Or an automatic patch when starting up and detecting unpatched files?

We have a server without SSH access and we cannot get it to run properly with TT installed. We even patched locally on 2 different machines and uploaded everything. Still errors on 4 mods. We verified that the

[2013-07-16 21:57] LunNova commented on #902
Sorry, I have no idea then. Try removing all plugins, maybe one is constantly defining classes for some reason?

[2013-07-16 22:02] LunNova opened #907 "Generate comprehensive profiling report"
Add a command which makes a single report with all possibly useful profiling information TT can gather, to make diagnosing performance issues easier.

[2013-07-16 22:06] LunNova commented on #906
Main problem with this is that patching the server jar from a JVM which is using the server jar can cause problems. Will look into a workaround.

[2013-07-16 23:34] Silverhustle commented on #906
I have same problem as well. I downloaded everything from the server, patched it and uploaded it but the console on the host website showed that it has a few errors related with a couple of mods. I tried to remove those mods that wasn't patched properly and then started it up without those mods and it worked.

I was using FTP application with that but why did some of mods works while some of mods

[2013-07-16 23:51] tacharion commented on #904
the folowing link is not avaible ......

http://jenkins.bukkitforge.com:8080/job/BukkitForge-1.4.7/4/

[2013-07-17 00:08] #905 closed, assigned to LunNova

[2013-07-17 00:21] tacharion opened #908 "Bukkitforge 1.4.7-4"
Had anyone a bukkitforge 1.4.7 url ?

ich can´t download it

on the mainpage v.v

[2013-07-17 01:02] LunNova commented on #908
Yes, their jenkins seems to be down. Not a TT issue, ask @alexbegt for a copy of the 1.4.7 bukkitforge with fixed PlayerInteractEvent.

[2013-07-17 01:02] #908 closed, assigned to LunNova

[2013-07-17 01:13] alexbegt commented on #908
nallar, http://build.technicpack.net/job/BukkitForge/

[2013-07-17 01:57] LunNova commented on #825
Assuming this is fixed now, as you commented that the TPS issues were fixed in your other issue.

[2013-07-17 01:58] #598 closed, assigned to LunNova

[2013-07-17 02:01] LunNova commented on #908
That jenkins only has older builds - none with the changes in the 1.4.7 branch made 2 months ago.

For example, no build with https://github.com/keepcalm/BukkitForge/commit/09a5ef25471c17333e4d4b20c45050a279aba618

[2013-07-17 02:11] Slind14 commented on #825
after AE fix Quarrys are back on top...

[2013-07-17 03:15] IonCannon218 commented on #906
What about a standalone jar that just does the patching? That jar could be called or process forked from the main server jar/process. It can be also called by a sh/bat script like you have now.

[2013-07-17 03:29] LunNova commented on #906
That's the workaround I'm mplementing, except no need for a separate jar -
just another main class in the TT jar.
On 17 Jul 2013 04:15, "IonCannon218" notifications@github.com wrote:

[2013-07-17 05:29] Slind14 commented on #906
i had this issue, too. but its working with the latest version, just be sure to copy mods coremods and the patched mcpc+. best would be to copy the whole server (instead of the map)

[2013-07-17 05:30] #788 closed, assigned to LunNova

[2013-07-17 08:03] Slind14 opened #909 "SteveCarts"
2013-07-17 07:24:37 [SEVERE] [TickThreading] Exception ticking entity entMCBase['entity.StevesCarts.Minecart.Vswe.0.name'/4028276, l='world', x=1440.84, y=23.50, z=-765.50] in rX: 90, rZ: -48, hashCode: -3145638/Overworld/0:
java.lang.NullPointerException
    at vswe.stevescarts.Modules.Works.workModuleWood.removeAt(workModuleWood.java:232)
    at vswe.stevescarts.Modules.Works.workModuleWood.remo

[2013-07-17 10:11] seriousvern opened #910 "applied energistics constant crashes"
last tick 5s ago.
Waiting ThreadManagers: Entities in Overworld/0, World Tick

Definitely deadlocked:
"Entities in Overworld/0 - 9" Id=129 BLOCKED on appeng.me.tile.TileController@1af4f8bc owned by "Entities in Overworld/0 - 3" Id=123
    at appeng.me.tile.TileController.getCellArray(TileController.java:813)
    -  blocked on appeng.me.tile.TileController@1af4f8bc
    at appeng.me.tile.TileControl

[2013-07-17 12:45] Silverhustle commented on #906
Interesting, I may have done something wrong. Is it possible to download everything but world and dynmap folders? Currently my world is about 1.2GB on my server and it would be a bit of pain to download the entire server and then patch everything. You said we just need to patch mods and coremods right? (With patchedmods folder).

Would it be okay if I download everything but worlds and dynmap fold

[2013-07-17 13:01] Drehmini commented on #779
This seems to be resolved with the latest AE re-writes!

[2013-07-17 13:01] #779 closed, assigned to LunNova

[2013-07-17 13:17] LunNova commented on #906
You need to copy the coremods folder, server jar, and patchedmods folder to the server. Do not copy the mods folder, TT doesn't actually modify those.

[2013-07-17 13:54] LunNova commented on #906
Not sure if this actually works, you'll need to test it. Should patch when you start the server.

[2013-07-17 14:15] Silverhustle commented on #906
Ok, I'm testing it right now.

The console on the host website show that it's loading but it's seems it has stopped and not showing any errors. I'm using FTB Ultimate 1.4.7. Do I need to copy coremods, server jar and patchemods folders from the local machine in the server folder first before I put the modified tickthreading jar #906? in the mod folder?

EDIT: The error finally showed up but it's s

[2013-07-17 14:33] alexbegt commented on #908
oh. ill get it built then

[2013-07-17 15:03] HaoSs07 commented on #906
ok. i'm thinking something like this, not sure how much is posible:
edit config and set patch to true,TT enters in PATCHING mode. ( turns off after patch and enter in normal server start mode):
in patching mode:
TT copies the server.jar to a separate folder and runs the patch,so it does not patch a running minecraft.jar + normal mod patch. Now we have a ( lets call it )minecraftpatched.jar in othe

[2013-07-17 15:58] Silverhustle commented on #906
Problem is that some of host companies with FTP prefer server.jar in a different folder called "jar". You would need to change the path for it if it'll search the jar in another folder and then copy it in there. Not to mention that some of hosts require exact jar name in order for it to execute the jar in the host's data center server.

[2013-07-17 16:18] HaoSs07 commented on #906
if they use gamecp they have only 2 standard option. bukkit.jar or minecraft.jar . I'm sure nallar can make a option in config to set custom name for "minecraftpatched.jar", was just an ideea not a fix name

[2013-07-17 19:06] LunNova commented on #906
Can you get a clean copy of the server - no patched mods or anything, no TT folders - and drop the latest TT jar in mods, then start the server? Give full logs of what happens when you do that.

[2013-07-17 19:25] floh22 commented on #761
just one question, how are you guys running that many people on for example, a dual Xeon L5520? im running a Intel Xeon E3 1245 @ 3.4GHz and i start to drop at about 35 players... though most of them extremely advanced with AE systems with over 1 million items, turtles and everything. but i think it shouldnt start lagging at 35 people..

[2013-07-17 20:45] Drehmini opened #911 "[TT 2057] Aperf Error"
[code]

[2013-07-17 21:34] darkdeath1332 commented on #761
@floh22 I ran 118 people today on 69% cpu useage.

Idk all ive got is a hexa core CPU and I made 60% of my plugins myself.

I fixed most of my lag with deleting tekkitcustomizer and making my own version wich is lightweight. I run 19 plugins and its going perfect on the latest version.

@nallar ITS FIXED YAY :D

[2013-07-17 21:40] jznomoney opened #912 "1.4.7 RedPower Timer issue"
I am having issues with the RedPower 2 timers stopping.  I place the timer and it starts working but eventually it just stops constantly on.  It happens when I am near it or when I place an anchor to keep it loaded when away.  I am using build     TickThreading-1.4.7-1.0.0.2072.jar.  I am new to using tickthreading so I am unsure if the issue is apparent in previous versions.

[2013-07-17 22:30] #761 closed, assigned to LunNova

[2013-07-17 22:32] LunNova commented on #761
@floh22

"though most of them extremely advanced with AE systems with over 1 million items, turtles and everything"

"but i think it shouldnt start lagging at 35 people"

Players being online causes very little lag, chunks with lots of stuff in them cause lag. Giant AE networks on 1.4.7? Not good for performance at all. AE is far better now, but 1.4.7 versions have performance problems.

Probably

[2013-07-17 22:33] LunNova commented on #902
Closing this as I have no idea why the JVM parameters aren't working, other than possibly some plugin creating millions of classes for no good reason, and it's not a TT issue.

[2013-07-17 22:33] #902 closed, assigned to LunNova

[2013-07-17 22:37] #911 closed, assigned to LunNova

[2013-07-17 22:40] LunNova commented on #894
Looks like a broken TT install, get clean coremods/server jar, delete patchedmods folder and TT backups folder, and repatch with latest TT.

[2013-07-17 22:40] #894 closed, assigned to LunNova

[2013-07-17 23:52] IonCannon218 commented on #906
Ran on my local linux desktop. FTB Ultimate 1.4.7 with TT build #2073.

Console output: http://pastebin.com/9Q8yC59D
ForgeModLoader-server-0.log: http://pastebin.com/B1JD1Tmt
patcher.1.log: http://pastebin.com/3RN5E3R4
tickthreading.1.log: http://pastebin.com/0GxzdSkm

While it seems to have failed on the first run. It starts up fine on second launch with working patches.

[2013-07-18 00:27] LunNova commented on #906
It should require a restart after first run, but there should be no need to actually run the PATCHME.sh. Is that what happened for you?

[2013-07-18 00:46] IonCannon218 commented on #906
No, I didn't run the PATCHME.sh.

[2013-07-18 00:56] joey19982 commented on #882
When I did my test it worked, and I haven't gotten any reports in a bit. Maybe you unintentionally fixed it? Or maybe it never happened in the first place and I'm just paranoid. I'll update this if I see it happen again, for now closing.

[2013-07-18 00:56] #882 closed, assigned to LunNova

[2013-07-18 01:34] LunNova commented on #906
That means it's working as intended.

[2013-07-18 01:34] #906 closed, assigned to LunNova

[2013-07-18 04:05] cjm721 commented on #893
@slind14 I don't change what nallar already has, Just fix the dupes. As for EnergyBridge thats not really something that can be fixed via patching unless you want to add a % loss (if we are thinking of same thing). As for AE export buses causing duplicate items I have never seen that happen before and I use alot of AE system so that one kinda confuses me.

[2013-07-18 08:29] Slind14 commented on #893
@cjm721 who cares about low % loss ? If ask this a person like me, who likes gregtech, i would say add a 20% loss like the tesseract has. because at this point i wouldnt only go for one energy source.

AE dupe: i dont want to get this public because u can generate a loop easy at low cost.
send me your email or add me on skype: slind14

[2013-07-18 09:08] tacharion commented on #908
this will be nice =D

[2013-07-18 09:47] theunicellular commented on #902
Thanks for your help nallar and responding to my questions. I was actually not running the startup script properly through multicraft... so that was my bad. Love your mod, keep up the good work!

[2013-07-18 10:32] floh22 commented on #761
well there is my problem then, all the lag is probably coming from those. i dont really want to ban them, at the moment its fine since the player limit is at 40 players. i guess i have to wait for a ftb 1.6 version...

[2013-07-18 11:18] #884 closed, assigned to LunNova

[2013-07-18 13:23] mainsheep commented on #912
I'm also having these issues. They have been present in all of the TT versions afaik.

[2013-07-18 14:31] seriousvern opened #913 "Any benefit or loss of performance"
I noticed in the config that you have a setting for tick region size
Is there any benefit or loss to changing this setting and why is it here
Thanks in advance

[2013-07-18 21:54] CappyT opened #914 "1.4.7 TT 2074 Server Deadlock, impossible to log in"
At server complete loading, is impossible to log in.
https://dl.dropboxusercontent.com/u/28484809/tickthreading.1.log

This is the log, i think fault of forcefield jammers.

[2013-07-18 22:02] #914 closed, assigned to LunNova

[2013-07-18 22:56] gorea01 opened #915 "1.4.7 TT 2074 Server Deadlock, impossible to log in"
I lost the ThickThreading log in the process of removing this mod fast and putting server back up asp,  but i have the forgemodloader log with the error, maybe this will help.

http://pastebin.com/bv0J9cHQ

the item id 122 is End Stone and 119 is End Portal

server is FTB Ultimate mod Pack 1.4.7 with mcpc-plus-legacy-1.4.7-R1.1-SNAPSHOT-f534-L67

I really like your work and want to have this mod b

[2013-07-18 22:57] gorea01 commented on #915
the 2076 will fix this too?

[2013-07-18 23:00] LunNova commented on #915
No.

[2013-07-18 23:08] seriousvern commented on #915
i took tickthreading out when i was getting a similar error then put it back and it has been smooth ever since
make sure you remove the old patch me file and patched mods

[2013-07-18 23:23] LunNova commented on #915
@seriousvern that was just luck.

This issue still exists and can still happen until I fix it.

[2013-07-19 00:18] cjm721 commented on #893
@slind14 then that is changing the way the game is played which is not really the point of TickThreading. If you wish to do that you can edit the config and rebalance the way it runs.

I am the same name on feedthebeast forums as github got rid of their private messaging system and I don't know if your the same person on FTB forums.

[2013-07-19 00:23] seriousvern commented on #915
i can deal with luck for now better than going with out this mod :)

[2013-07-19 00:55] gorea01 commented on #915
i will wait until you have a fix for it and gonna try again, i tested this thickthreading on a test server but i guess it is not easy on a big one (20gb map) with allot of players
I will try to have the correct logs in future, i just paniked and reinstall the modpack in my rush to make server up :D,
thank you

[2013-07-19 09:38] HaoSs07 commented on #903
no response from player

[2013-07-19 09:38] #903 closed, assigned to LunNova

[2013-07-19 10:52] Drehmini opened #916 "[TT 2080] Deadlock with a touch of NPEs"
https://gist.github.com/Drehmini/6038306

[2013-07-19 12:51] jznomoney commented on #912
Also somehow deployers wind up getting lava buckets in them when they aren't even supposed to be in them.  I do have lava buckets going into certain deployers on my map but others that aren't even being fed anything wind up with lava bucks and then the area around gets filled with lava.

[2013-07-19 19:35] darkdeath1332 opened #917 "TickThreading 1.4.7 Latest version - AC fix not 100% working"
Hey,

Some staff of my server reported this, the fix works fine but this is still bypassing. Some players managed it to be done alone but we did it together.

Till itsx fixed in TickThreading use this;
http://forum.feed-the-beast.com/threads/arcane-table-dupe-fix.26467/

Here is a video;
http://youtu.be/0jQKOmHZUPI

[2013-07-19 23:10] #917 closed, assigned to LunNova

[2013-07-20 01:53] LunNova commented on #917
Can you test that new fix to make sure it works? Previous fix removed all drops, this one should still drop but disallow  removing the item to be crafted.

[2013-07-20 02:51] droosk opened #918 "Opening Canvas Bag causes player to crash"
Using Ultimate 1.12 Recommended
Tick Threading 2090
No other plugins or mods outside of standard Ultimate pack

When the player tries to open a canvas bag, they are kicked from the server with this:

2013-07-19 22:49:27 [SEVERE] [ForgeModLoader] A critical server error occured handling a packet, kicking 1811
java.lang.NullPointerException
        at org.bukkit.craftbukkit.CraftChunk.getHandle(Craf

[2013-07-20 02:54] droosk commented on #918
Additional:

2013-07-19 22:49:27 [WARNING] [Minecraft] Failed to handle packet for player/ip: java.lang.NullPointerException
java.lang.NullPointerException
        at org.bukkit.craftbukkit.CraftChunk.getHandle(CraftChunk.java:70)
        at org.bukkit.craftbukkit.CraftChunk.<init>(CraftChunk.java:56)
        at keepcalm.mods.bukkit.ToBukkit.chunkFromCoords(ToBukkit.java:69)
        at keepcalm.mo

[2013-07-20 05:46] CoryManson opened #919 "[Crash] [MCPC+ 67] [TT 2091] Crash with ME Controllers"
Hi Nallar,

Can't pinpoint whats causing the crash. But here's the log:

https://gist.github.com/Cozza38/0b1fd3eb947547125c20

[2013-07-20 09:10] darkdeath1332 commented on #917
works, but CPU went nuts.

I cant pick out the item anymore.

[2013-07-20 09:13] darkdeath1332 commented on #917
![image](https://f.cloud.github.com/assets/3824354/829970/a37a0a54-f11c-11e2-863b-a369155f29ec.png)

With an older version it was running 40% with this amount of players

Average tick time is 15 ms

[2013-07-20 09:15] darkdeath1332 commented on #917
How can I remove that 64K Tile Entitys?

[2013-07-20 11:04] LunNova commented on #918
Same problem as #908, need to update BukkitForge but afaik @alexbegt hasn't released the fixed build yet.

[2013-07-20 11:04] #918 closed, assigned to LunNova

[2013-07-20 15:09] LunNova commented on #908
Or just use MCPC+.

[2013-07-20 16:20] Drehmini opened #920 "[TT 2091] Crash/Deadlock"
https://gist.github.com/Drehmini/6045604

[2013-07-20 19:28] #920 closed, assigned to LunNova

[2013-07-20 23:52] jznomoney commented on #912
I  think it maybe redpower itself.   My deployers keep changing what items are in them randomly.   Sometimes the applied energistics network itself messes up and items passing threw a export cable don't work properly.   They just keep going when set with a level cable or ignore the item I tell to export.   I  am running tekkit lite the latest version.

[2013-07-21 10:05] darkdeath1332 opened #921 "[Crash] [TT 2091] [ME] Constant server crashes"
Here is my log;

2013-07-21 11:57:18 [INFO] [TickThreading] Started TT metrics reporting. This can be disabled in PluginMetrics.cfg
2013-07-21 11:57:21 [INFO] [TickThreading] Skipping version tick handler c com.pahimar.ee3.core.handlers.VersionCheckTickHandler com.pahimar.ee3.core.handlers.VersionCheckTickHandler@7548fbb4
2013-07-21 11:57:36 [SEVERE] [TickThreading] TickThreading v1.0.0.2091 for M

[2013-07-21 10:15] darkdeath1332 commented on #921
It keeps crashing every 2 minutes, please help.

[2013-07-21 10:32] darkdeath1332 commented on #910
Same problem

[2013-07-21 10:35] Slind14 commented on #893
@cjm721  well who would feel a 0.0000001% loss ? or a setting in the config

[2013-07-21 11:03] ghost commented on #921
Duplicate of issue #919.

[2013-07-21 11:04] darkdeath1332 commented on #921
And #921

[2013-07-21 11:26] darkdeath1332 commented on #921
I need to do this till its fixed..... I lost so many players... :(

[code]

[2013-07-21 11:26] #921 closed, assigned to LunNova

[2013-07-21 11:27] darkdeath1332 commented on #919
Please fix this...

[2013-07-21 11:39] darkdeath1332 opened #922 "[TT 2090] Minimum stone bug"
Hi,

I dont know if its TT but without TT this doesnt seem to happend.

You get a minimum stone and craft with it cousing it to get damaged (normal) but when its damaged the items gets pulled back into the crafting table so the stone wont work anymore.

http://www.bedcraft.eu/index.php?threads/minium-stone.176/

[2013-07-21 11:39] LunNova commented on #919
Can't I at least have breakfast first? :P

No idea if this fix works, haven't had time to test it.

[2013-07-21 11:41] darkdeath1332 commented on #919
I paid ur breakfast XD, donated just a moment ago.

Ill test it in a moment.

[2013-07-21 12:21] darkdeath1332 commented on #919
How you call this crash?

[2013-07-21 12:37] Landrash opened #923 "1.5.2 TT build 172 Dimensional Doors - [STDERR] with TT"
https://gist.github.com/Landrash/6048425

Output once about every 15-20 seconds into console.

No TT log written with Server information.

[2013-07-21 13:24] Landrash commented on #923
Nps - https://dl.dropboxusercontent.com/u/7011174/Issue%20923%20Landrash.nps

[2013-07-21 14:32] LunNova commented on #919
Thanks for the donation :D

Tested that the patch doesn't crash or break anything horribly, but don't know if it actually fixes the problem. Hard to test as it's not possible to make the crash happen on demand - it's a timing issue.

[2013-07-21 23:32] droosk opened #924 "World wont load after a deadlock"
Changed over to MCPC+, 1.4.7, TT 2090, FTB Ultimate, no extra mods or plugins.

Server Deadlocked on a bad world tick. Attempted to bring it back up, everything seems to load fine, but when we get to where it loads the dimensions 0 and 7, it just stops. Commands don't work, and server does not appear in server list, and only way to do anything is to Ctrl C to stop the server.

If nothing else, ins

[2013-07-22 05:03] Kusinagie opened #925 "MC 1.4.7 TTbuild-2095-Another buildcraft error"
Updating from 2091 to 2095 on the first server start i get this error

[SEVERE] [ForgeModLoader] A TileEntity net.minecraft.src.buildcraft.transport.GenericPipe(buildcraft.transport.TileGenericPipe) has thrown an exception during loading, its state cannot be restored. Report this to the mod author
java.lang.NullPointerException
    at buildcraft.transport.PipeTransportItems.readFromNBT(PipeTranspo

[2013-07-22 08:47] darkdeath1332 opened #926 "[MCPC+ L67] [TT 2093] Server Crash 'IC2'"
I had to reset my map due this;

(not full log becouse after that is only spam of ic2.core.block.machine.tileentity.TileEntityMiner.canReachTarget(TileEntityMiner.java:416)

http://pastebin.com/jbBUcsxm

[2013-07-22 08:51] seriousvern opened #927 "sockets vs cores"
I know in default minecraft single core speed is top for performance and i was wondering if with tickthreading would i be better to go with more sockets or cores
like is 4 sockets with 2 cores better or 1 socket 8 cores or 2 sockets 4 cores something along that line. i can change this all at will so i was wonderinf what you thought would be best for this specific type setup.
also what about hypert

[2013-07-22 09:35] gorea01 commented on #915
Hell,

I seen you fixed allot since then , does any of them fixes this too?

[2013-07-22 09:52] jznomoney commented on #925
I believe I had that to.   All my logistics pipes disappeared.

[2013-07-22 11:32] HaoSs07 commented on #924
i have same problem on 2095. usually is form mysql. u run mysql for any mod??

[2013-07-22 12:33] LunNova commented on #924
Give the full deadlock log. Wait until it makes one after starting the server.

To remove TT just remove it from mods folder and replace server jar/coremods with those in TTBackups folder, TT does nothing special to the world.

[2013-07-22 12:35] #925 closed, assigned to LunNova

[2013-07-22 12:35] #924 closed, assigned to LunNova

[2013-07-22 12:42] darkdeath1332 commented on #919
Seems to work

[2013-07-22 13:54] LunNova commented on #926
The paste is gone, accidentally close this issue.

[2013-07-22 13:54] LunNova commented on #926
Looks like the IC2 miner infinite recursion bug. You could download the .mcr region file for that area and delete the miner using MCedit

[2013-07-22 13:59] #919 closed, assigned to LunNova

[2013-07-22 14:00] LunNova commented on #915
This looks like the issue in #919, it should be fixed now.

[2013-07-22 14:02] LunNova commented on #927
In general, performance is better with 1 socket 8 cores than 4 sockets 2 cores.

[2013-07-22 14:02] #927 closed, assigned to LunNova

[2013-07-22 14:07] #923 closed, assigned to LunNova

[2013-07-22 14:45] spaut33 opened #928 "[MCPC+608 1.5.2, TT172] Memory Leaking"
git-MCPC-Plus-jenkins-MCPC-Plus-Legacy-608 (MC: 1.5.2) (Implementing API version 1.5.2-R1.1-SNAPSHOT)
with Biomes O'Plenty 0.5.7 for 1.5.2 and
TickThreading-1.5.2.172

[code]

[2013-07-22 14:49] LunNova commented on #928
Why did you disable world cleaning in TT's config? It makes this a non-issue, the warning is only logged if you have that off.

Or you're running TT with -Dtickthreading.debug=true, don't do that unless you have to.

[2013-07-22 15:05] spaut33 commented on #928
Yes, B:cleanWorlds was false, can't remember why i turn it off. I will see if it's ok now. Thank you, Nallar!

[2013-07-22 15:05] #928 closed, assigned to LunNova

[2013-07-22 15:17] darkdeath1332 commented on #926
Ive done a map reset, couldnt get the right mcr and my map was almost filling all my disc space.

288 GB :/

[2013-07-22 17:03] LunNova commented on #926
Oh, that's unfortunate :( Can't help then. If you still had the .mcr could test locally and fix it.

[2013-07-22 17:30] darkdeath1332 opened #929 "[SUGGESTION] To much tile enitites, command to clear"
Hey Nallar,

I think I would be awesome if we could clear the Tile Entities. This is becouse my old map; 60K TE @ 40% 0 players should be nice to get cleared a bit

Since I have a new map, its on 1k with @ 3% o players CPU

[2013-07-22 18:32] Slind14 opened #930 "TT2096 - ComputerCraft extrem slow"
Hey,

if i run the server without TT a Text on a monitor which appears one letter after the other is complete after 5sec, with TT it takes 1 second per letter. At all 90 seconds.
I will add a snapshot soon.

[2013-07-22 18:54] Slind14 commented on #930
http://www.mediafire.com/download/76ouoo6k688w56a/computercraft.nps

[2013-07-22 19:00] joey19982 opened #931 "[1.5.2 TT173] Abnormal world usage and onPostWorldTick time?"
So my server just upgraded to the new 1.5 version of the Direwolf pack. Had to do a complete map reset and everything. However, there seems to be some sort of issue with something somewhere. I have no idea if it's TickThreading, a mod, or if it's even fixable. It does seem very odd though.

/tps output
![1](http://puu.sh/3J66K.jpg)

/ticks
![2](http://puu.sh/3J6gY.jpg)

/profile a
![3](http://puu.

[2013-07-22 19:11] LunNova commented on #931
Yes, need an nps snapshot. Looks like you've got a derpy mod taking forever to handle post-world tick.

[2013-07-22 19:15] Kusinagie opened #932 "MC 1.4.7 TTbuild-2096-possible twilight forest issue?"
After updating to 2096 i noticed this in the start up log. not sure if its an issue or not figured i would report it.

2013-07-22 14:51:25 [FINE] [TickThreading] Set dimension ID for Feed The Beast 1.4.2/7
2013-07-22 14:51:25 [INFO] [STDERR] java.io.InvalidClassException: nallar.collections.ConcurrentUnsafeIterableArrayList; local class incompatible: stream classdesc serialVersionUID = -5601232375

[2013-07-22 19:48] jznomoney commented on #912
here is there tickthreading error log file https://dl.dropboxusercontent.com/u/10166016/tickthreading.1.log

[2013-07-22 19:54] ghost opened #933 "[MC-1.4.7-TT-Build 2096] Detected pipe with unknown key (-1)"
After updating TT to the current release, I get the following error. It applies to all Buildcraft pipes in the world.

2013-07-22 14:34:41 [WARNING] [Buildcraft] Detected pipe with unknown key (-1). Did you remove a buildcraft addon?
2013-07-22 14:34:41 [WARNING] [Buildcraft] Pipe failed to load from NBT at -4833,71,-1051

[2013-07-22 21:13] Teteros opened #934 "[1.5.2][TT-173]Dimensional Doors Crash"
TickThreading-1.5.2.173
DimensionalDoors-1.5.2R1.4.1RC1-194
https://gist.github.com/Teteros/6057674

[2013-07-22 21:38] DrFestus commented on #925
I'm throwing these errors on build 2096 still also

[2013-07-23 00:51] 0Downtime commented on #933
I also have this issue with 2096, All bc pipes stopped working in 2094

[2013-07-23 00:59] LunNova commented on #929
A tile entity is associated with each machine/pipe/etc. Clearing them doesn't really make sense.

[2013-07-23 00:59] #929 closed, assigned to LunNova

[2013-07-23 01:00] LunNova commented on #933
It is fixed in latest, but any pipes loaded with builds 2094->2095 will be broken. Restore from a backup.

[2013-07-23 01:00] #933 closed, assigned to LunNova

[2013-07-23 01:01] LunNova commented on #932
Delete "twilight.fc" under world/DIM7.

[2013-07-23 01:01] #932 closed, assigned to LunNova

[2013-07-23 01:06] joey19982 commented on #931
Here you go. It ran for about an hour before the high world usage came up again, then I let it run for another hour with the high usage.
https://dl.dropboxusercontent.com/u/37515491/snapshot-1374541470329-cpu-calltree.nps

[2013-07-23 01:59] alexbegt commented on #931
Please fix :100:

[2013-07-23 02:16] LunNova commented on #931
Hats mod is being stupid, taking 80% of your tick time for some reason.

[2013-07-23 02:22] joey19982 commented on #931
ಠ_ಠ
Hats.

Any specifics on which part of it? I'll go ahead and report it to the bug thread so they can hopefully fix/remove it before the official launch next week.

[2013-07-23 04:29] joey19982 commented on #931
So far with the new build it seems to be fixed, however it's a slower time of night and the server hasn't been up long. I'll report back tomorrow with how it's going.

[2013-07-23 05:07] joey19982 opened #935 "[1.5.2 TT177] java.lang.NoClassDefFoundError: nallar/unsafe/UnsafeUtil"
http://pastebin.com/yjnDwmWY

I don't think anything else is really needed, seems self explanatory.

[2013-07-23 05:46] joey19982 commented on #935
Nevermind, just @alexbegt's patches gone wrong. Sorry :<

[2013-07-23 05:46] #935 closed, assigned to LunNova

[2013-07-23 05:46] alexbegt commented on #935
:D

[2013-07-23 06:25] ruifung commented on #934
Using TT 152 b177. Still occurs.

[2013-07-23 07:42] Slind14 commented on #825
do u see any way to improve the performance of them ?

[2013-07-23 07:45] Slind14 commented on #865
its similar to me, u can look into this snapshot.
http://www.mediafire.com/download/76ouoo6k688w56a/computercraft.nps

[2013-07-23 15:35] darkdeath1332 opened #936 "High load from chunk generation due to speed hackers"
Hi Nallar,

Since TickThreading is to increase preformance I would suggest for a limit on chunk loading. People with speed hacks are continusly speed hacking and chunking. They chunk so much that the server goes shit.

I would suggest a function on how fast a chunk gets loaded, more when alot get loaded that it wont keep loading till the server cant handle it anymore.

Or anything to prevent the l